<div class="form-btn-container">
    <button type="button" class="btn btn-primary btn-lg form-modal-btn" data-form="request-a-demo"   data-toggle="modal" data-target="#formRequestDemoModal">
        Form Request a demo
    </button>
</div>

<div class="form-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="" id="formRequestDemoModal" >
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close form-modal-close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-popup-container">
                  <div class="submit-response">
                      <h1>Thanks for requesting a demo</h1>
                      <p>We've sent you a confirmation email confirming your session with a member of our team. In the meantime here's a sneak peak of what you will learn</p>
                      <div class="video-mini-container">
                          <div class="embed-responsive embed-responsive-16by9">
                              <img src="cms-images/video-img/video-thumb.png" data-videotype="youtube" data-videourl="https://www.youtube.com/embed/043GgleCWNA?autoplay=1" alt="youtube video" width="100%" class="video-img img-responsive" />
                              <span class="play-icon"></span>
                          </div>
                      </div>
                  </div>
                  <form action="/?sc_itemid=%7B42DB71A0-23EE-47A8-BF9B-CD28BA5F29A3%7D&amp;sc_mode=preview&amp;sc_lang=en-US&amp;sc_site=website" class="elq-form request-a-demo request-a-demo-popup text-left" data-wffm="{FACF1BDA-F4BA-45D6-BBF2-1D61D0C26330}" data-wffm-ajax="True" enctype="multipart/form-data" id="wffme30109e46c364e71a3e1b87a3c2673d0" method="post" role="form" novalidate="novalidate">
                      <input name="__RequestVerificationToken" type="hidden" value="jltHFV8gUCgrG6hb9OJeEzi5RfN-z_5tuqSIQBcb6LmTwA4NM13ooeScSD9rbSozJFW03ynKpX6hLXKGyXuFiTYPaQ5b1T2zxfVFrw6QwXLxMzkYzBomSrZd3gChCuhh0">
                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Id" type="hidden" value="e30109e4-6c36-4e71-a3e1-b87a3c2673d0">
                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_FormItemId" name="wffme30109e46c364e71a3e1b87a3c2673d0.FormItemId" type="hidden" value="{FACF1BDA-F4BA-45D6-BBF2-1D61D0C26330}">
                      <div class="page-header">
                          <h1>Request a demo for Informa Economics IEG</h1></div>
                      <div class="has-error has-feedback">
                          <div class="validation-summary-valid" data-valmsg-summary="true">
                              <ul class="list-group">
                                  <li style="display:none"></li>
                              </ul>
                          </div>
                      </div>
                      <fieldset class="two-column">
                          <legend>Tell us your name</legend>
                          <p>Please enter your personal details</p>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_0__Fields_0__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[0].Fields[0].Id" type="hidden" value="{9E7019A5-500B-4AD3-B1DF-9998B6722897}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_0__Fields_0__Value">First name</label>
                                      <input class=" form-control section text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-multiregex="" data-val-multiregex-pattern="^[a-zA-Z]*$" data-val-multiregex-tracking="{F3D7B20C-675C-4707-84CC-5E5B4481B0EE}" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_0__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[0].Fields[0].Value" placeholder="" style="" type="text" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[0].Fields[0].Value" data-valmsg-replace="true"></span></div>
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_0__Fields_1__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[0].Fields[1].Id" type="hidden" value="{09322790-66ED-498D-AF19-940A40603058}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_0__Fields_1__Value">Surname</label>
                                      <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_0__Fields_1__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[0].Fields[1].Value" placeholder="" style="" type="text" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[0].Fields[1].Value" data-valmsg-replace="true"></span></div>
                              </div>
                          </div>
                      </fieldset>
                      <fieldset>
                          <legend>Job title</legend>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <input id="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_1__Fields_0__Id" name="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[1].Fields[0].Id" type="hidden" value="{1B7EB4A1-E51E-4F0F-A813-0A664FBB4E10}">
                                      <label class="control-label" for="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_1__Fields_0__Value">JobTitle</label>
                                      <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" id="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_1__Fields_0__Value" name="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[1].Fields[0].Value" placeholder="" style="" type="text" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[1].Fields[0].Value" data-valmsg-replace="true"></span></div>
                              </div>
                          </div>
                      </fieldset>
                      <fieldset class="hide-title">
                          <legend>Your company</legend>
                          <p>Please enter your company </p>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_1__Fields_0__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[1].Fields[0].Id" type="hidden" value="{20CAB568-6F1A-44CE-AC64-53E6D9E6A786}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_1__Fields_0__Value">Company</label>
                                      <input class=" form-control scfSingleLineTextBorder text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_1__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[1].Fields[0].Value" placeholder="" style="" type="text" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[1].Fields[0].Value" data-valmsg-replace="true"></span></div>
                              </div>
                          </div>
                      </fieldset>
                      {{!-- <fieldset class="two-column">
                          <legend>Your contact details</legend>
                          <p>Please enter contact details</p>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_2__Fields_0__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[2].Fields[0].Id" type="hidden" value="{DF0B486F-2682-4239-9BDE-EF905F4C2622}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_2__Fields_0__Value">Email address</label>
                                      <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-regex="" data-val-regex-pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,17}$" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_2__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[2].Fields[0].Value" placeholder="" style="" type="email" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[2].Fields[0].Value" data-valmsg-replace="true"></span></div>
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_2__Fields_1__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[2].Fields[1].Id" type="hidden" value="{754F743F-7C09-4D3A-9117-8B1791250362}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_2__Fields_1__Value">Phone number</label>
                                      <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-regex="" data-val-regex-pattern="^\+?\s{0,}\d{0,}\s{0,}(\(\s{0,}\d{1,}\s{0,}\)\s{0,}|\d{0,}\s{0,}-?\s{0,})\d{2,}\s{0,}-?\s{0,}\d{2,}\s{0,}(-?\s{0,}\d{2,}|\s{0,})\s{0,}$" data-val-regex-tracking="{844BBD40-91F6-42CE-8823-5EA4D089ECA2}" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_2__Fields_1__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[2].Fields[1].Value" placeholder="" style="" type="tel" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[2].Fields[1].Value" data-valmsg-replace="true"></span></div>
                              </div>
                          </div>
                      </fieldset> --}}
                      <fieldset class="contact-details">
                          <legend>Your contact details</legend>
                          <p>Please enter contact details</p>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="required-field form-group">
                                      <input id="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_0__Id" name="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[0].Id" type="hidden" value="{DF0B486F-2682-4239-9BDE-EF905F4C2622}">
                                      <label class="control-label" for="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_0__Value">Business Email address</label>
                                      <input class=" form-control scfEmailBorder text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-regex="" data-val-regex-pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,17}$" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_0__Value" name="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[0].Value" placeholder="" style="" type="email" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[0].Value" data-valmsg-replace="true"></span></div>
                                  <div class="required-field form-group">
                                      <input id="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_2__Id" name="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[2].Id" type="hidden" value="{F754C5A1-23ED-4688-B7B2-268AE060F1BE}">
                                      <label class="control-label" for="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_2__Value">Country Code</label>
                                      <select class="form-control " data-val="true" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_2__Value" placeholder="Please select" name="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[2].Value">
                                          <option value=""></option>
                                          <option value="Please select ">Please select</option>
                                          <option value="US">United States</option>
                                          <option value="GB">United Kingdom</option>
                                      </select><span class="field-validation-valid help-block" data-valmsg-for="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[2].Value" data-valmsg-replace="true"></span></div>
                                  <div class="required-field form-group">
                                      <input id="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_1__Id" name="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[1].Id" type="hidden" value="{754F743F-7C09-4D3A-9117-8B1791250362}">
                                      <label class="control-label" for="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_1__Value">Phone number</label>
                                      <input class=" form-control scfTelephoneBorder text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-regex="" data-val-regex-pattern="^\+?\s{0,}\d{0,}\s{0,}(\(\s{0,}\d{1,}\s{0,}\)\s{0,}|\d{0,}\s{0,}-?\s{0,})\d{2,}\s{0,}-?\s{0,}\d{2,}\s{0,}(-?\s{0,}\d{2,}|\s{0,})\s{0,}$" data-val-regex-tracking="{844BBD40-91F6-42CE-8823-5EA4D089ECA2}" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm61d64107a9e74c74a7c60c55401a8b90_Sections_3__Fields_1__Value" name="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[1].Value" placeholder="" style="" type="tel" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffm61d64107a9e74c74a7c60c55401a8b90.Sections[3].Fields[1].Value" data-valmsg-replace="true"></span></div>
                              </div>
                          </div>
                      </fieldset>
                      <fieldset class="three-column">
                          <legend>Select a time</legend>
                          <p>Please select date and time details</p>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_0__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[0].Id" type="hidden" value="{AC39FB07-BEA3-4052-9B73-501D78A5719F}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_0__Value">Date</label>
                                      <input class=" form-control scfSingleLineTextBorder text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[0].Value" placeholder="" style="" type="text" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[0].Value" data-valmsg-replace="true"></span>
                                  </div>
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_1__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[1].Id" type="hidden" value="{5364E9D1-6487-4E9F-8D79-CD300EA4F966}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_1__Value">Time Zone</label>
                                      <select class="form-control" data-val="true" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_1__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[1].Value">
                                          <option selected="selected" value="-Select-">-Select-</option>
                                          <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
                                          <option value="America/Adak">(GMT-10:00) Hawaii-Aleutian</option>
                                          <option value="Etc/GMT 10">(GMT-10:00) Hawaii</option>
                                      </select><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[1].Value" data-valmsg-replace="true"></span></div>
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_2__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[2].Id" type="hidden" value="{D2939B0B-E619-4FFB-8700-66840A5A2372}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_2__Value">Time</label>
                                      <select class="form-control" data-val="true" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_3__Fields_2__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[2].Value">
                                          <option value=""></option>
                                          <option selected="selected" value="-Select-">-Select-</option>
                                          <option value="9:00 AM">9:00 AM</option>
                                          <option value="10:00 AM">10:00 AM</option>
                                          <option value="11:00 AM">11:00 AM</option>
                                      </select><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[3].Fields[2].Value" data-valmsg-replace="true"></span></div>
                              </div>
                          </div>
                      </fieldset>
                      <fieldset class="hide-title">
                          <legend>Your area of interests...</legend>
                          <p>Choose your area of interests</p>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="required-field form-group">
                                      <input id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Id" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Id" type="hidden" value="{EEDEB9A9-2040-45A6-B67D-ACD094A9F10F}">
                                      <label class="control-label" for="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value">Your area of interests</label>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Market Analysis" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Market Analysis</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Education &amp; Training" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Education &amp; Training</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Transportation Services" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Transportation Services</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Food Ingredients Services" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Food Ingredients Services</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Market Commentary &amp; Reports" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Market Commentary &amp; Reports</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Conferences &amp; Seminars" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Conferences &amp; Seminars</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Energy Services" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Energy Services</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Multi-Client Studies" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Multi-Client Studies</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Informa Economics Issue Monitor" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Informa Economics Issue Monitor</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Consulting Services" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Consulting Services</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Economic Impact Services" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Economic Impact Services</label>
                                      </div>
                                      <div class="checkbox">
                                          <label>
                                              <input type="checkbox" value="Speakers Bureau" id="wffme30109e46c364e71a3e1b87a3c2673d0_Sections_4__Fields_0__Value" name="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value"> Speakers Bureau</label>
                                      </div><span class="field-validation-valid help-block" data-valmsg-for="wffme30109e46c364e71a3e1b87a3c2673d0.Sections[4].Fields[0].Value" data-valmsg-replace="true"></span></div>
                              </div>
                          </div>
                      </fieldset>
                      <fieldset class="hide-title terms-and-conditions">
                          <legend>Lorum ipsum lorum ipsum lorum ipsum lorum ipsum</legend>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="required-field form-group">
                                      <input id="wffmbcf2d84488e045a78ffaa145559b3fa8_Sections_7__Fields_0__Id" name="wffmbcf2d84488e045a78ffaa145559b3fa8.Sections[7].Fields[0].Id" type="hidden" value="{3B82C4D2-4822-4FE6-B1F5-D669C22F3D86}">
                                      <label class="control-label " for="wffmbcf2d84488e045a78ffaa145559b3fa8_Sections_7__Fields_0__Value">Additional field</label>
                                      <div class="">
                                          <div class="normal-checkbox">
                                              <label>
                                                  <input type="checkbox" value="By ticking this box, you agree to receive emails such as relevant news" id="wffmbcf2d84488e045a78ffaa145559b3fa8_Sections_7__Fields_0__Value" name="wffmbcf2d84488e045a78ffaa145559b3fa8.Sections[7].Fields[0].Value"> By ticking this box, you agree to receive emails such as relevant news</label>
                                          </div>
                                          <div class="normal-checkbox">
                                              <label>
                                                  <input type="checkbox" value="By ticking this box, you agree to receive emails such as promotional offers other member of the informa group and selected 3rd party companies." id="wffmbcf2d84488e045a78ffaa145559b3fa8_Sections_7__Fields_0__Value" name="wffmbcf2d84488e045a78ffaa145559b3fa8.Sections[7].Fields[0].Value"> By ticking this box, you agree to receive emails such as promotional offers other member of the informa group and selected 3rd party companies.</label>
                                          </div><span class="field-validation-valid help-block" data-valmsg-for="wffmbcf2d84488e045a78ffaa145559b3fa8.Sections[7].Fields[0].Value" data-valmsg-replace="true"></span></div>
                                  </div>
                              </div>
                          </div>
                      </fieldset>
                      <div class="form-submit-border text-center">
                          <input class="btn btn-lg btn-default" type="submit" value="Submit">
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="form-inline-container">

</div>
