.events-list {
    padding: 30px 0;
    background-color: $white;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    .header {
        text-align: center;
        width: 40%;
        @include desktop{
            visibility: hidden;
        }
        @include mobile {
            width: 100%;
        }
        @include tablet {
            width: 45%;
        }
        h2 {
            display: inline-block;
            margin: 10px 0;
            font-size: 28px;
            font-weight: 700;
            padding: 0;
            @include mobile {
                margin: 10px 0;
                font-size: 28px;
            }
        }
        .arrows {
            width: 45px;
            height: 67px;
            display: block;
            background-color: $yellow;
            position: relative;
            color: $white;
            text-indent: -999px;
            @include tablet {
                width: 35px;
                height: 60px;
            }
            @include mobile {
                width: 30px;
                height: 50px;
            }
            &:before {
                position: absolute;
                font-family: 'InformaIcons';
                position: absolute;
                font-size: 26px;
                opacity: 1;
                top: 50%;
                left: 50%;
                margin-top: -21px;
                margin-left: -13px;
                text-indent: 0;
                @include mobile {
                    font-size: 20px;
                    margin-top: -15px;
                    margin-left: -10px;
                }
            }
            &.previous {
                float: left;
                &:before {
                    content: "\e903";
                }
            }
            &.next {
                float: right;
                &:before {
                    content: "\e902";
                }
            }
            &.arrow-desabled{
                    background-color: grey;
                    cursor: default;
                    pointer-events: none;
            }
        }
    }
    .btn-container{
        padding: 50px 0 20px 0;
    }
    // .events-section {
    //     margin-top: 30px;
    //     //past event
    //     &.PreviousDate{
    //         .events-wrap {
    //             position: relative;
    //             &:after {
    //                 content: '';
    //                 position: absolute;
    //                 top: 0;
    //                 left: 0;
    //                 width: 100%;
    //                 height: 100%;
    //                 background-color: #000;
    //                 opacity: 0.3;
    //                 z-index: 1;
    //             }
    //         }
    //         /*.events-wrap .footer .btn.register{
    //             background: #e9e9e9;
    //             border-width: 2px;
    //             pointer-events: none;
    //             border-color: transparent;
    //         }*/
    //         .events-wrap .footer .btn.full-detail {
    //             z-index: 2;
    //         }
    //     }//current event
    //     &.CurrentDate{
    //         .events-wrap .header .date{
    //             background-color:#fed501;
    //         }
    //     }
    //     .events-wrap .footer .btn.register.FullyBooked{
    //         background: #e9e9e9;
    //         border-width: 2px;
    //         pointer-events: none;
    //         border-color: transparent;
    //     }
    // }
    //more events button
    .more-events{
        width: 100%;
        float: left;
        text-align: center;
        background-color: $white;
        .btn-more-events{
            min-width: 120px;
            padding: 5px 30px 5px 0;
            height: 35px;
            //border:none !Important;
            //border-bottom: 2px solid #ffd500  !Important;
            display: inline-block;
            position: relative;
            color: #444957;
            //margin-top: 20px;
            text-align: left;
            text-decoration: none;
            outline: none;
            @include mobile {
                padding: 0;
            text-align: center;
            //margin-bottom: 30px;
            padding-bottom: 60px;
            }
            .more,.less{
                &:after{
                    content: '\e912';
                    font-family: 'InformaIcons';
                    font-size: 20px;
                    position: absolute;
                    top: 0px;
                    @include mobile {
                        top: 2px;
                        right: 47px;
                        bottom: 10px;
                    }
                }
            }
            .less{
                display: none;
                &:after{
                    content: '\e913';
                }
            }
        }
        .btn-more-events.showLess .more{
            display: none;
        }
        .btn-more-events.showLess .less{
            display: block;
        }
    }
    @include mobile {
        padding-top: 95px;
    }
}

section[data-view="list-view"] .events-section {
    margin-top: 30px;
    .events-wrap {
        position: relative;
        overflow: hidden;
        padding-bottom: 20px;
        // background-color: #f3f3f3;
        & > div {
            padding-top: 20px;
            overflow: hidden;
        }
        .dates {
            .date {
                background-color: #878e9e;
                font-size: 20px;
                color: $white;
                padding: 6px 8px;
                float: right;
            }
        }
        .content-wrap {
            .country {
                margin-bottom:10px;
                text-align:left;
                display: block;
            }
            .type {
                margin-bottom: 10px;
                font-size: 18px;
                display: block;
                color: $grey-color04;
                font-family: 'FSMe';
            }
            .title {
                font-size: 30px;
                color: #6a7287;
                font-family: 'FSMe-Bold';
                margin: 0;
                @include mobile {
                    height: auto;
                }
            }
            .content {
                margin-top: 10px;
                .title-content {
                    width: 90px;
                    padding-right: 10px;
                    float: left;
                    color: $grey-color04;
                    // &:after {
                    // 	content: ":";
                    // }
                }
                .title-body {
                    width: calc(100% - 90px);
                    float: left;
                    font-family: 'FSMe-Bold';
                    ul {
                        padding: 0;
                        list-style-type: none;
                        li {
                            float: left;
                            margin-right:3px;
                            color: $grey-color04;
                            &:after {
                                content: ",";
                            }
                            &:last-child {
                                &:after {
                                    content: "";
                                }
                            }
                        }
                    }
                }
                &.ctas {
                    margin-top: 0;
                    .btn {
                        margin-top: 10px;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                &.description {
                    height: 4.3em;
                    overflow: hidden;
                }
            }
        }
        .logo {
            position: relative;
            img {
                width: 100%;
                max-width: 265px;
                height: auto;
            }
        }
    }
    &.PreviousDate {
        .events-wrap {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.3;
                z-index: 1;
            }
        }
        .events-wrap .footer .btn.full-detail {
            z-index: 2;
        }
    }
}
.no-result {
    background: $white;
    padding: 0 0 30px;
    @include desktop{
        margin-top: -30px;
    }
}
section.event-profile-container{
    .header{
        text-align: -webkit-auto;
        width: auto;
    }
    .date-field .bold{
        float:none;
    }
    .content-wrap{
        padding: 0px 15px 15px 15px;
    }
}

section[data-view="calendar-view"] {
    // display event click
    .fc-event-container {
        pointer-events: none;
    }
}