.events-list {
	padding: 30px 0;
	background-color: $white;
	&:after {
		content: " ";
    	display: table;
    	clear: both;
	}
	.header {
		text-align: center;
		width: 40%;
		@include mobile {
			width: 100%;
		}
		@include tablet {
			width: 45%;
		}
		h2 {
			display: inline-block;
			margin: 10px 0;
			font-size: 28px;
			font-weight: 700;
			padding: 0;
			@include mobile {
				margin: 5px 0;
				font-size: 20px;
			}
		}
		.arrows {
			width: 45px;
			height: 67px;
			display: block;
			background-color: $yellow;
			position: relative;
			color: $white;
			@include tablet {
				width: 35px;
				height: 60px;
			}
			&:before {
				position: absolute;
				font-family: 'InformaIcons';
			    position: absolute;
			    font-size: 26px;
			    opacity: 1;
			    top: 50%;
			    left: 50%;
			    margin-top: -19px;
			    margin-left: -13px;
			    @include mobile {
			    	font-size: 20px;
			    }
			}
			&.previous {
				float: left;
				&:before {
					content: "\e903";
				}
			}
			&.next {
				float: right;
				&:before {
					content: "\e902";
				}
			}
			&.arrow-desabled{
					background-color: grey;
					cursor: default;
					pointer-events: none;
			}
		}
	}
	.btn-container{
		padding: 50px 0 20px 0;
	}
	.events-section {
		margin-top: 30px;
		//past event
		&.PreviousDate{
			color:#cbccd1;
			.events-wrap .content-wrap .title{
				color:#cbccd1;
			}
			.events-wrap .header .date{
				background-color: #cbccd1;
			}
			.events-wrap .content-wrap .type{
				background: #aeb2bd;
			}
			.events-wrap .footer .btn.register{
				background: #e9e9e9;
			    border-width: 2px;
			    pointer-events: none;
			    border-color: transparent;
				&:after {
					content: none;
				}
			}
		}//current event
		&.CurrentDate{
			.events-wrap .header .date{
				background-color:#fed501;
			}
		}
		.events-wrap .footer .btn.register.FullyBooked{
		    background: #e9e9e9;
		    border-width: 2px;
		    pointer-events: none;
		    border-color: transparent;
			&:after {
				content: none;
			}
		}
	}//more events button
	.more-events{
		width: 100%;
	    float: left;
	    text-align: center;
	    background-color: $white;
		.btn-more-events{
			min-width: 120px;
			padding: 5px 30px 5px 0;
			height: 35px;
			//border:none !Important;
			//border-bottom: 2px solid #ffd500  !Important;
			display: inline-block;
			position: relative;
			color: #444957;
			//margin-top: 20px;
			text-align: left;
			text-decoration: none;
			outline: none;
			@include mobile {
				padding: 0;
		    text-align: center;
		    //margin-bottom: 30px;
		    padding-bottom: 60px;
			}
			.more,.less{
				&:after{
            		content: '\e912';
            		font-family: 'InformaIcons';
				    font-size: 20px;
				    position: absolute;
				    top: 0px;
					@include mobile {
						top: auto;
						right: 47px;
						bottom: 10px;
					}
				}
			}
			.less{
				display: none;
				&:after{
					content: '\e913';
				}
			}
		}
		.btn-more-events.showLess .more{
			display: none;
		}
		.btn-more-events.showLess .less{
			display: block;
		}
	}
}

.events-wrap {
	background-color: #f3f3f3;
	position: relative;
	.header {
		display: block;
		width: 100%;
		.date-field {
			float: left;
			margin: 26px 15px 0 20px;
			text-align: left;
			strong, span {
				float: left;
			}
		}
		.date {
			width: 60px;
			height: 50px;
			background-color: #878e9e;
			font-size: 30px;
			text-align: center;
			color: $white;
			padding: 7px;
			float: left;
		}
		.country {
			float: right;
			margin: 25px 20px;
			position: absolute;
			right: 0;
			span {
				float: left;
			}
		}
	}
	.content-wrap {
		padding: 20px;
		.type {
			display: inline-block;
		    padding: 3px 8px;
		    font-weight: 400;
		    font-size: 0.9em;
		    color: #f1f1f3;
		    margin-right: 5px;
		    margin-bottom: 10px;
		    background-color: #6a7285;
		}
		.title {
			font-size: 30px;
			color: #6a7287;
			font-family: 'FSMe-Bold';
			margin: 0;
			@include mobile {
	    	height: auto;
	    }
		}
		.content {
			margin-top: 20px;
			.title-content {
				width: 90px;
				padding-right: 10px;
				float: left;
				// &:after {
				// 	content: ":";
				// }
			}
			.title-body {
				width: calc(100% - 90px);
				float: left;
				font-family: 'FSMe-Bold';
				ul {
					padding: 0;
					list-style-type: none;
					li {
						float: left;
						margin-right: 7px;
						&:after {
							content: ",";
						}
						&:last-child {
							&:after {
								content: "";
							}
						}
					}
				}
			}
		}
		@include mobile {
			height: auto !important;
		}
	}
	.footer {
		padding: 25px 20px;
		width: 100%;
		.btn {
			padding-right: 40px;
			font-weight: 700;
		    min-width: 45%;
    		width: 40%;
			&.register {
				float: left;
			}
			&.full-detail {
				float: right;
			}
		}
	}
}
.no-result {
	background: $white;
	padding: 50px 0;
}
section[data-view="list-view"], section[data-view="calendar-view"] {
	@include mobile {
		padding-top: 95px;
	}
}
section.event-profile-container{
	.header{
		text-align: -webkit-auto;
    	width: auto;
	}
	.date-field .bold{
		float:none;
	}
	.content-wrap{
		padding: 0px 15px 15px 15px;
	}
}