div#tech-main-header .stellarnav {
  .menu-mobile {
    float: right;
    margin: 10px 0px;
    padding: 0;
    position: absolute;
    right: 85px;
    display: none;
    &.active {
      display: block;
    }
    span.bars {
      display: inline-block;
      margin-right: 7px;
      position: relative;
      top: 17px;
      height: 32px;
      span {
        background: transparent;
        transition-delay: 0s, 0.3s;
        display: block;
        width: 42px;
        height: 5px;
        border-radius: 5px;
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
        &:before,
        &:after {
          content: "";
          top: 0;
          width: 42px;
          height: 5px;
          border-radius: 5px;
          background: #002244;
          position: absolute;
          transition-property: top, transform;
          transition-delay: 0.3s, 0s;
          transition-duration: 0.3s, 0.3s;
        }
      }
    }
  }
  .search-icons {
    &.active {
      width: 600px;
      background-color: #002244;
      height: 57px;
      border-radius: 29px;
      @include mobile {
        width: 310px;
        position: absolute;
        left: 0;
        right: 0;
        top: 116px;
        margin: 0 auto;
      }
      @include tablet {
        width: 54%;
      }

      input[type="text"] {
        position: absolute;
        right: 34px;
        width: 544px;
        margin-right: 40px;
        height: 100%;
        border-radius: 29px;
        border: 3px solid #002244;
        padding: 10px 20px;
        font-weight: 200;
        color: #024;
        font-size: 18px;
        display: block;
        @include mobile {
          width: 246px;
          margin-right: 30px;
        }
        @include tablet {
          width: 100%;
        }
      }
      i {
        color: #fff;
        margin: 10px 20px;
      }
    }
    float: right;
    margin-right: 28px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    width: auto;
    input[type="text"] {
      display: none;
    }
    i {
      font-size: 36px;
      position: absolute;
      right: 0;
      color: #024;
      margin: 13px 20px;
      @include mobile {
        margin: 13px 0px;
      }
    }
  }
}
.tech-search-inputbar {
  width: 100%;
  @include tablet {
    padding: 0 15px;
  }
  .tech-search-inputbar-list {
    .search-icons {
      width: 600px;
      background-color: #002244;
      height: 57px;
      border-radius: 29px;
      margin-right: 28px;
      cursor: pointer;
      position: relative;
      margin: 30px 15px;
      @include mobile {
        width: 310px;
        margin: 20px 0 0;
      }
      input[type="text"] {
        position: absolute;
        right: 34px;
        width: 544px;
        margin-right: 40px;
        height: 100%;
        border-radius: 29px;
        border: 3px solid #002244;
        padding: 10px 20px;
        font-weight: 200;
        color: #024;
        font-size: 18px;
        display: block;
        @include mobile {
          width: 246px;
          margin-right: 30px;
        }
      }
      i.fa-search {
        font-size: 36px;
        position: absolute;
        right: 0;
        color: #fff;
        margin: 10px 20px;
      }
    }
  }
}

.tech-theme {
  .tech-search-inputbar {
    .tech-search-inputbar-list {
      .container {
        width: 1200px;
        padding: 0 15px;
        @include mobile {
          width: 100%;
          padding: 0;
        }
        @include tablet {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
  .menu.brands{
    .drop-content {
      max-height: 592px;
      overflow-y: scroll;
      margin: 0px 0px 20px 0px;
      @include not-desktop{
        overflow-y: hidden;
        max-height: none;
      }
    }
  } 
}
.hot-topics-view {
    .view-toggle {
        margin-bottom: 45px;

        @include tablet {
            padding: 0 15px;
        }

        .container {
            width: 1200px;
            padding: 0;

            @include mobile {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }

            ul {
                padding: 0;
                margin: 0 14px;

                .btn-primary {
                    background-color: #fff;
                    padding: 10px;
                    border: 1px solid #024;
                    font-size: 18px;
                    margin-bottom: 15px;

                    &:hover {
                        background-color: #024;
                        border: 1px solid #024;

                        a {
                            color: #fff;
                        }
                    }

                    a {
                        color: #024;
                    }
                }
            }
        }
    }
}
.hot-topics-heading {
  border-bottom: 1px solid #024;
  font-size: 18px;
  margin: 15px 14px;
  padding: 10px 0px;
  strong {
    margin-left: 10px;
    color: #024;
  }
}
.refine-container-container {
  .refine-container-list {
    @include tablet {
      padding: 0 15px;
    }
    margin-bottom: 45px;
    .container {
      width: 1200px;
      padding: 0;
      .row{
        clear:both;
      }
      @include mobile {
        width: 100%;
      }
      @include tablet {
        width: 100%;
      }
      ul {
        padding: 0;
        li {
          display: inline;
          border-right: 1px solid #555;
          padding: 0px 10px 0px 10px;
          cursor: pointer;
          &.facet-selected {
            color: #024;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.article-section {
  .outer-section {
    text-align: center;
    margin: 10px 0px 40px 0px;
    width: 100%;
    float: left;
    margin-bottom:30px;
    .btn-circle {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: none;
      background: #024;
      color: #fff;
    }
    .numbr-circle {
      width: 30px;
      text-align: center;
      -moz-appearance: textfield;
      -webkit-appearance: textfield;
    }
  }
}
.hot-topics-carousel {
  width:100%;
  float:left;
  .hot-topics-carousel-list {
    .slick-disabled {
      display: none !important;
    }
    .slick-arrow {
      background: #94bb17;
      display: inline-block;
      margin: 0 1em 1em 0;
      z-index: 1;
      height: 80px;
      width: 40px;
    }
    .container {
      background-image: url("https://tech.informa.com/~/media/informa-shop-window/tech/cta/meet-customer.png?h=370&w=1400&la=en-US&hash=15367EDD5354C8A8DA11AA7E1E3976E83200DCF0");
      background-size: 100% 100%;
      height: 250px;
      padding: 0;
      border: 1px solid #94bb17;
      .row {
        clear:both;
      }
    }
    .slick-next {
      left: calc(100% - 40px);
      border-bottom-left-radius: 80px;
      border-top-left-radius: 80px;
      box-shadow: 17px 0px 26px -4px #999;
      &:before {
        transform: rotate(45deg);
      }
    }
    .slick-next,
    .slick-prev {
      &:before {
        border-style: solid;
        border-width: 4px 4px 0 0;
        content: "";
        height: 20px;
        position: absolute;
        width: 20px;
        color: #fff;
        left: 13px;
        top: 33px;
      }
      &:hover {
        color: #fff;
        outline: none;
        background: #94bb17;
      }
    }
    .slick-prev {
      left: 0%;
      margin-left: 0;
      border-bottom-right-radius: 80px;
      border-top-right-radius: 80px;
      box-shadow: -17px 0px 26px -4px #999;
      &:before {
        transform: rotate(225deg);
      }
    }
    .hot-port {
      a {
        padding: 15px 5%;
        margin-top: 25px;
        width: 100%;
        height: 200px;
        cursor: pointer;
        position: relative;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        background-clip: padding-box;
        border: solid 2px rgb(158, 188, 59);
        border-radius: 10px;
        justify-content: center;
        background-color: #fff;

      }
      &:hover {
        .plus {
          background-color: #cdda0b;
          color: #fff;
          padding: 0;
          line-height: 30px;
          text-align: center;
          width: 30px;
          height: 30px;
          font-size: 33px;
          font-weight: bold;
        }
        img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
        a{
          box-shadow: 0px 0px 0px 5px #7b666626;
        }
      }
      img {
        border-radius: 8px;
        float: left;
        width: 100%;
        height: auto;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
    .plus {
      text-align: center;
      background: #fff;
      position: absolute;
      cursor: pointer;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      color: #cdda0b;
      font-size: 18px;
      width: 1.2em;
      line-height: 1.2em;
      border-radius: 50%;
      height: auto !important;
    }
    .slick-slide {
      margin-right: 15px;
  }
  }
}
.no-result,
.no-result-hide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 14px;
  text-transform: capitalize;
  @include mobile {
    padding: 10px 15px;
  }
  @include tablet {
    padding: 10px 15px;
  }
}

.outer-search-icon.active:before {
  @include mobile {
    content: "";
    position: absolute;
    background: #ebebeb;
    width: 100.8%;
    height:80px;
    left: 0;
    top: 105px;
  }
}
.section-content {
  .filter-section {
    .heading {
      font-weight: 600;
      color: #555;
      width: 150px;
      float: left;
      text-transform: capitalize;
    }
    .section {
      .unit {
        label {
          font-weight: normal;
        }
      }
    }
  }
}


