.search-container {
    padding: 0;
    background-color: $white;
    .search-results {
        margin-top: 20px;
        .count {
            font-size: 22px;
        }
        .col-md-4 {
            margin-top: 30px;
        }
        .article-list {
            background-color: transparent;
        }
    }
    .refine-result {
        background-color: #e1e2e7;
        display: none;
        .container {
            padding: 20px 15px;
            p.header {
                padding: 0 0 30px;
                margin: 0;
                .refine {
                    float: left;
                    color: $orange;
                    font-size: 1.3em;
                    text-decoration: none;
                }
                a.close-filter{
                	float: right;
                    display: none;
                    color: $text-gray-dark;
                }
            }
            .refine-list {
                padding: 20px 0;
                border-top: 1px solid #c3c6d0;
                border-bottom: 1px solid #c3c6d0;
                display: none;
                margin-top: 15px;
                p {
                    font-size: 18px;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style-type: none;
                        margin-bottom: 10px;
                        label {
                            color: $text-gray-dark;
                        }
                    }
                }
            }
        }
    }
}

.search-filter {
    padding: 15px 0;
    background-color: $body-bg;
    border-bottom:1px solid $white;
    display: none;
    .filter-text {
        font-size: 18px;
    }
    .filter-list {
    	>div{
    		margin-bottom: 10px;
    	}
        p {
            display: inline-block;
            min-width: 100px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: inline-block;
            li {
                display: inline-block;
                padding: 5px;
                background-color: $gray-light;
                border: 1px solid $gray-draker-bg;
                color: $gray-draker-bg;
                font-size: 12px;
                margin-right: 10px;
                @include mobile{
                	margin-bottom: 10px;
                }
                a.remove {
                    border-left: 1px solid $gray-draker-bg;
                    padding: 0 5px 0 10px;
                    margin-left: 10px;
                }
            }
        }
        .remove-all {
            color: $orange;
        }
    }
}
