    <div id="cookieBanner" class="cookieBanner">
        <a href="#" class="close"><span class="icon-close"></span></a>
        <p>In order to deliver a personalized, responsive service and to improve the site, we remember and store information about how you use it. This is done using simple text files called cookies which sit on your computer. By continuing to use this site and access its features, you are consenting to our use of cookies. To find out more about the way Informa uses cookies please go to our <a href="https://pharmaintelligence.informa.com/cookies/" target="_blank">Cookie Policy</a> page.</p>
    </div>