<input
type="hidden"
class="initialize-swanimate"
value='
[{ "itemidentifier": "image-wrapper", "data-swanimate-type": "fadeIn", "data-swanimate-direction": "left", "data-swanimate-delay": 100 },
 { "itemidentifier": "content-wrapper", "data-swanimate-type": "fadeIn", "data-swanimate-direction": "left", "data-swanimate-delay": 200 }]
' />

<!--START TIMELINE SECTION-->
<section class="container-fluid timeline-background">

    <div class="row inf-timeline-section">

        <div class="col-sm-3 col-md-3 image-wrapper hidden-xs">

            <img class="timeline-image" src="./Static/images/syringe-page-3.png" alt="" />

        </div>

        <div class="col-sm-9 col-md-9 content-wrapper">

            <p class="heading">
                Brexit Timeline
            </p>

            <!--START FOR LOOP SECTION 1-->
            <div class="row timeline-row">

                <div class="col-md-3">

                    <div class="timeline-row-left">

                        <span class="date">
                            31st JANUARY
                        </span>

                    </div>
                    
                </div>

                <div class="col-md-9">

                    <div class="timeline-row-right">

                        <h3>
                            Uk Leaves the EU.
                        </h3>

                        <ul>

                            <li>
                                <a href="" title="">
                                    article headline 1 goes here.
                                </a>
                            </li>

                            <li>
                                <a href="" title="">
                                    article headline 2 goes here.
                                </a>
                            </li>

                            <li>
                                <a href="" title="">
                                    article headline 3 goes here.
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>
            <!--END FOR LOOP SECTION 1-->

            <!--START FOR LOOP SECTION 2-->
            <div class="row timeline-row">

                <div class="col-md-3">

                    <div class="timeline-row-left">

                        <span class="date">
                            FEBRUARY / MARCH
                        </span>

                    </div>
                    
                </div>

                <div class="col-md-9">

                    <div class="timeline-row-right">

                        <h3>
                            Negotiations between UK & EU.
                        </h3>

                        <ul>

                            <li>
                                <a href="" title="">
                                    article headline 1 goes here.
                                </a>
                            </li>

                            <li>
                                <a href="" title="">
                                    article headline 2 goes here.
                                </a>
                            </li>

                            <li>
                                <a href="" title="">
                                    article headline 3 goes here.
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>
            <!--END FOR LOOP SECTION 2-->

            <!--START FOR LOOP SECTION 3-->
            <div class="row timeline-row">

                <div class="col-md-3">

                    <div class="timeline-row-left">

                        <span class="date">
                            JUNE / JULY 2020
                        </span>

                    </div>
                    
                </div>

                <div class="col-md-9">

                    <div class="timeline-row-right">

                        <h3>
                            UK must decide by 31st June on an extension of transition period.
                        </h3>

                        <ul>

                            <li>
                                <a href="" title="">
                                    article headline 1 goes here.
                                </a>
                            </li>

                            <li>
                                <a href="" title="">
                                    article headline 2 goes here.
                                </a>
                            </li>

                            <li>
                                <a href="" title="">
                                    article headline 3 goes here.
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>
            <!--END FOR LOOP SECTION 3-->

            <!--START FOR LOOP SECTION 4-->
            <div class="row timeline-row">

                <div class="col-md-3">

                    <div class="timeline-row-left">

                        <span class="date">
                            31st DECEMBER 2020
                        </span>

                    </div>
                    
                </div>

                <div class="col-md-9">

                    <div class="timeline-row-right">

                        <h3>
                            End of agreed transition period.
                        </h3>

                        <ul>

                            <li>
                                <a href="" title="">
                                    article headline 1 goes here.
                                </a>
                            </li>

                            <li>
                                <a href="" title="">
                                    article headline 2 goes here.
                                </a>
                            </li>

                            <li>
                                <a href="" title="">
                                    article headline 3 goes here.
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>
            <!--END FOR LOOP SECTION 4-->

        </div>

    </div>

</section>
<!--END TIMELINE SECTION-->