<!--START PRODUCT STATS PIE CHART SECTION-->
<section class="container-fluid chart-bc" data-source="11111" data-chart-type="pie">

    <div class="row">

        <div class="col-md-12">

            <div class="inf-pie-bar-chart-section">

            </div>

        </div>

    </div>

</section>
<!--END PRODUCT STATS PIE CHART SECTION-->

<!--START PRODUCT BAR CHART SECTION-->
<section class="container-fluid chart-bc" data-source="11111" data-chart-type="bar">

    <div class="row">

        <div class="col-md-12">

            <div class="inf-pie-bar-chart-section">

            </div>

        </div>

    </div>

</section>
<!--END PRODUCT BAR CHART SECTION-->