<input
type="hidden"
class="initialize-swanimate"
value='
[{ "itemidentifier": "pie-bar-chart-col", "data-swanimate-type": "fadeOut", "data-swanimate-direction": "Down", "data-swanimate-delay": 200 },
 { "itemidentifier": "pie-animation", "data-swanimate-type": "shake", "data-swanimate-direction": "", "data-swanimate-delay": 200 },
 { "itemidentifier": "bar-animation", "data-swanimate-type": "heartBeat", "data-swanimate-direction": "", "data-swanimate-delay": 200 }]
' />

<!--START PRODUCT STATS PIE CHART SECTION-->
<section class="container-fluid chart-bc" data-source="11111" data-chart-type="pie">

    <input type="hidden" value='{
    "Heading": " Coverage and format of coverage across Pink, Scrip, Generics and MTI since Brexit began",
    "LargeImage": " ./Static/images/static-map.png",
    "Type": "pie",
    "SubHeadingColor": "#ff0000",
    "FacetList": [
        {
        "Id": "Publication",
        "Title": "Articles By Publication",
        "Logo": "./Static/images/pie-icon-1.png",
        "SectionList": [
            {
            "Name": "Medtech Insight",
            "Count": "100",
            "Color": "#ef456c"
            },
            {
            "Name": "Pink Sheet",
            "Count": "400",
            "Color": "#ab3192"
            },
            {
            "Name": "Generics Bulletin",
            "Count": "50",
            "Color": "#f9bec9"
            },
            {
            "Name": "HBW Insight",
            "Count": "80",
            "Color": "#3551a3"
            },
            {
            "Name": "In Vivo",
            "Count": "300",
            "Color": "#aa3d65"
            },
            {
            "Name": "Scrip",
            "Count": "150",
            "Color": "#007ac1"
            }
        ]
        },
        {
        "Id": "Subject",
        "Title": "Subject",
        "Logo": "./Static/images/pie-icon-1.png",
        "SectionList": [
            {
            "Name": "Commercial",
            "Count": "400",
            "Color": "#ef456c"
            },
            {
            "Name": "Brexit",
            "Count": "100",
            "Color": "#ab3192"
            },
            {
            "Name": "Policy",
            "Count": "300",
            "Color": "#f9bec9"
            },
            {
            "Name": "Generics Bulletin",
            "Count": "150",
            "Color": "#f9bec9"
            }
        ]
        },
        {
        "Id": "Publication1",
        "Title": "Articles",
        "Logo": "./Static/images/pie-icon-1.png",
        "SectionList": [
            {
            "Name": "Medtech Insight",
            "Count": "500",
            "Color": "#ef456c"
            },
            {
            "Name": "Pink Sheet",
            "Count": "350",
            "Color": "#ab3192"
            },
            {
            "Name": "Generics Bulletin",
            "Count": "150",
            "Color": "#f9bec9"
            },
            {
            "Name": "HBW Insight",
            "Count": "550",
            "Color": "#3551a3"
            },
            {
            "Name": "In Vivo",
            "Count": "150",
            "Color": "#aa3d65"
            },
            {
            "Name": "Scrip",
            "Count": "100",
            "Color": "#007ac1"
            }
        ]
        },
        {
        "Id": "Subject1",
        "Title": "Subject",
        "Logo": "./Static/images/pie-icon-1.png",
        "SectionList": [
            {
            "Name": "Commercial",
            "Count": "200",
            "Color": "#ef456c"
            },
            {
            "Name": "Brexit",
            "Count": "340",
            "Color": "#ab3192"
            },
            {
            "Name": "Medtech test on the name",
            "Count": "110",
            "Color": "#f9bec9"
            },
            {
            "Name": "Commercial",
            "Count": "500",
            "Color": "#ef456c"
            }
        ]
        }
    ]
    }' />

    <div class="row">

        <div class="col-md-12">

            <div class="inf-pie-bar-chart-section">

            </div>

        </div>

    </div>

</section>
<!--END PRODUCT STATS PIE CHART SECTION-->

<!--START PRODUCT BAR CHART SECTION-->
<section class="container-fluid chart-bc" data-source="11111" data-chart-type="bar">

    <input type="hidden" value='{
    "Heading": " Coverage and format of coverage across Pink, Scrip, Generics and MTI since Brexit began",
    "LargeImage": " ./Static/images/static-map.png",
    "Type": "bar",
    "FacetList": [
        {
        "Id": "Publication",
        "Title": "Articles By Publication",
        "Logo": "./Static/images/pie-icon-1.png",
        "SectionList": [
            {
            "Name": "In Vivo",
            "Count": "300",
            "Color": "#aa3d65"
            },
            {
            "Name": "Scrip",
            "Count": "150",
            "Color": "#007ac1"
            },
            {
            "Name": "Bio",
            "Count": "667",
            "Color": "#00A7B5"
            }
        ]
        },
        {
        "Id": "Subject",
        "Title": "Subject",
        "Logo": "./Static/images/pie-icon-1.png",
        "SectionList": [
            {
            "Name": "Commercial",
            "Count": "400",
            "Color": "#ef456c"
            },
            {
            "Name": "Brexit",
            "Count": "476",
            "Color": "#ab3192"
            },
            {
            "Name": "Policy",
            "Count": "300",
            "Color": "#f9bec9"
            },
            {
            "Name": "Generics Bulletin",
            "Count": "150",
            "Color": "#f9bec9"
            }
        ]
        },
        {
        "Id": "Publication1",
        "Title": "Articles",
        "Logo": "./Static/images/pie-icon-1.png",
        "SectionList": [
            {
            "Name": "Medtech Insight",
            "Count": "790",
            "Color": "#ef456c"
            },
            {
            "Name": "Pink Sheet",
            "Count": "350",
            "Color": "#ab3192"
            },
            {
            "Name": "Generics Bulletin",
            "Count": "150",
            "Color": "#f9bec9"
            },
            {
            "Name": "HBW Insight",
            "Count": "550",
            "Color": "#3551a3"
            },
            {
            "Name": "In Vivo",
            "Count": "150",
            "Color": "#aa3d65"
            },
            {
            "Name": "Scrip",
            "Count": "100",
            "Color": "#007ac1"
            }
        ]
        },
        {
        "Id": "Subject1",
        "Title": "Subject",
        "Logo": "./Static/images/pie-icon-1.png",
        "SectionList": [
            {
            "Name": "Commercial",
            "Count": "200",
            "Color": "#ef456c"
            },
            {
            "Name": "Brexit",
            "Count": "340",
            "Color": "#ab3192"
            },
            {
            "Name": "Policy",
            "Count": "110",
            "Color": "#f9bec9"
            },
            {
            "Name": "Commercial",
            "Count": "500",
            "Color": "#ef456c"
            }
        ]
        }
    ]
    }' />

    <div class="row">

        <div class="col-md-12">

            <div class="inf-pie-bar-chart-section">

            </div>

        </div>

    </div>

    <a href="javascript:void(0);" class="world-chart-read-more" data-ga-category="test1"  data-ga-action="test2" data-ga-label="test3" data-ga-value="test4">
        Read more
    </a>

</section>
<!--END PRODUCT BAR CHART SECTION-->