nav#services-navigation {
    //background: $yellow;
    border-bottom: 2px solid $grey-color08;
    &.navbar-fixed-top {
        position: fixed;
        width: 100%;
    }
    ul {
        margin: 0;
        position: relative;
        li {
            margin-right: 20px;
            a {
                font-size: 14px;
                color: $grey-color01;
                padding: 15px 0px;
            }
        }
    }
    .menuFollower {
        //background: $light;
        height: 5px;
        margin-top: -5px;
        width: 150px;
        position: absolute;
        transition: .3s ease-in;
        display: none;
    }
    .nav-services-nondesktop{
    	@include desktop{
			display: none;
    	}
    	@include not-desktop{
    		display: block;
    		color: $grey-color03;
            padding-top: 15px;
            font-weight: bold;
    	}
    	@include tablet{
    		display: inline-block;
            padding-top: 35px;
    	}
    }
    @include not-desktop {
    	.navbar-nav{
    		background-color: $white;
            width: 100%;
    	}
        .menuFollower {
            display: none!important;
        }
        ul {
            margin: 20px 0;
            border: 1px solid $light;
            li {
                width: 100%;
                display: none;
                &.selected {
                    display: block !important;
                    a{
                        &:after {
                            content: '>';
                            position: absolute;
                            right: 20px;
                            transform: rotate(90Deg);
                            -ms-transform: rotate(90Deg);
                            -webkit-transform: rotate(90Deg);
                            color: $info-icon-color;
                            font-size: x-large;
                        }
                    }
                }
                &.select-options {
                    display: list-item !important;
                }
                a{
                    padding-left: 20px;
                    color: #5d616d;
                }
            }
        }
    }
    @include desktop{
        .navbar-nav {
            display: table;
            width: 100%;
            margin: 0;
        }
        .navbar-nav > li {
            float: none;
            display:inline-block;
            text-align: center;
        }
    }
}

section#services-list {
    section:nth-child(even) {
        background-color: #f5f6f8;
        .single-img {
            float: left;
        }
    }
    section:nth-child(odd) {
        background-color: $white;
        .img {
            float: right;
        }
    }
    .row {
        header {
            color: $grey-color05;
        }
        ul {
            padding:0 0 0 15px;
            li {
                font-weight: 200;
                color: #565c6b;
            }
        }
        h2 {
            @include tablet {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .service-list-btn{
            padding-left:0;
            @include mobile{
                &:first-child{
                    margin-top: 30px;
                }
                &:not(:first-child){
                    margin-top: 15px;
                }
            }
            @include not-mobile{
                margin-top: 30px;
            }
            @include not-desktop{
                padding-left: 10px;
            }
        }
        .single-image-thumbnail,.image-thumbnail {
            overflow: hidden;
            position: relative;
            .image-resp{
                width: 100%;
                height: auto;
            }
            &:after {
                content: '';
                width: 110%;
                height: 100%;
                position: absolute;
                -ms-transform: rotate(-5deg);
                -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
                top: calc(100% - 20px);
                left: 0;
                background-color: $grey-color09;
            }
        }
        .btn-container {
            .btn-primary {
                width: initial;
                padding-right: 40px;
                width: auto;
            }
        }
    }
    @include desktop {
        .row [class*='col-'] {
            padding-left: 0;
        }
        .row {
            padding-left: 15px;
            padding-bottom: 50px;
            .single-image-thumbnail,.image-thumbnail {
                margin-top: 5px;
                margin-bottom: 25px;
                &:after {
                    top: calc(100% - 27px);
                }
            }
            .content{
                padding-left:15px;
            }
        }
        header {
            font-size: 40px;
            padding-top: 30px;
            padding-bottom: 40px;
            .img-icon {
                width: 80px;
                height: 80px;
            }
        }
        .btn-container {
            margin-top: 50px;
            // margin-bottom: 50px;
        }
    }
    @include tablet {
        .row {
            padding: 30px 0;
            .single-img,.img {
                width: 50%;
            }
            .single-image-thumbnail,.image-thumbnail {
                margin-bottom: 25px;
            }
            .content {
                width: auto;
                float: none;
            }
        }
        section:nth-child(even) {
            .image-thumbnail {
                float: left;
                margin-right: 25px;
            }
            .single-image-thumbnail {
                float: right;
                margin-right: 25px;
            }
        }
        section:nth-child(odd) {
            .image-thumbnail {
                float: right;
                margin-left: 25px;
            }
            .single-image-thumbnail {
                float: left;
                margin-right: 25px;
            }
        }
        header {
            font-size: 30px;
            padding-left: 7.5px;
            padding-right: 7.5px;
            padding-bottom: 20px;
            .img-icon {
                width: 80px;
                height: 80px;
            }
        }
        .btn-container {
            margin-top: 40px;
        }
    }
    @include mobile {
        .row {
            padding: 30px 0;
            display: flex;
            flex-flow: column;
            header {
                order: 2;
            }
            .single-img,.img {
                order: 1;
            }
            .content {
                order: 3;
                padding-top:10px;
            }
        }
        header {
            font-size: 20px;
            padding-left: 7.5px;
            padding-right: 7.5px;
            padding-bottom: 20px;
            padding-top: 20px;
            .img-icon {
                width: 45px;
                height: 45px;
            }
        }
        .btn-container {
            margin-top: 20px;
        }
    }
}
.img-icon{
    @include image-icon;
}
