<section id="about-us-hero">
    <div class="container">
      <div class="row sample">
         <div class="col-xs-12">
           <div class="img-bg">
             <picture>
                   <source srcset="cms-images/about-us/about-bg.jpg" media="(min-width: 1024px)">
                   <source srcset="cms-images/about-us/about-bg.jpg?w=1024" media="(min-width: 768px)">
                   <source srcset="cms-images/about-us/about-bg?w=768" media="(min-width: 660px)">
                   <source srcset="cms-images/about-us/about-bg.jpg?w=660" media="(min-width: 320px)">
                   <img srcset="cms-images/about-us/about-bg.jpg">
             </picture>
           </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 transparent-bg-content">
              <h1>Aiming to deliver you the advantage your business needs</h1>
              <div class="description">
                  <p>Our global team of industry experts provide supply, demand and price data, both historical and forecast, supplemented by expert analysis and insight, including market, company and regulatory news. The services provided help our customers to save time, mitigate risk and maximise profits by reacting first to opportunities.
                  </p>
                  <p>
                  We help businesses to understand, prepare for and react to increasingly volatile markets; from crop protection and seed, fertilizers and animal health through to the production, manufacturing, trading and regulation of agricultural commodities
                  and food products.
                  </p>
              </div>
         </div>
      </div>

    </div>
</section>
