section#sitemap{
  .map-list{
    padding-top: 40px;
  }
  .title{
    background-color: $white;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  a{
    color: $sitemap-main-gray;
  }
  .main-nav{
      padding-right: 0px !important;
      @media (max-width: 1023px) and (min-width: 768px){
          padding-right: 15px !important;
      }
      @include mobile {
        padding-right: 7.5px !important;
      }
  }
  .sub-nav{
      padding-left: 0px !important;
      @media (max-width: 1023px) and (min-width: 768px){
          padding-left: 15px !important;
      }
      @include mobile {
        padding-left: 7.5px !important;
      }
  }
    .level-one{
      background-color: $sitemap-main-gray;
      padding: 15px;
      color: $white;
    }
    ul.level-two{
      list-style-type: none;
      padding-left: 0px;
      dl{
        margin-bottom: 0px !important;
      }
      dt{
        background-color: $sitemap-sub-gray;
        padding: 15px;
        font-family: FSMe-light;
      }
      dd.level2-sub{
        background: $blue-light-bg;
        padding: 15px;
        border-bottom: 1px solid $sitemap-border;
      }
      dd.sub-sub-nav{
        background-color: $sitemap-light-gray !important;
        padding: 15px;
        border-bottom: 1px solid $sitemap-border;
      }
    }
}
