section#sitemap{
  .map-list{
    padding-top: 40px;
  }
  .title{
    background-color: $white;
  }
  a{
    color: $grey-color03;
  }
  .main-nav{
      padding-right: 0px;
      @media (max-width: 1023px) and (min-width: 768px){
          padding-right: 15px;
      }
      @include mobile {
        padding-right: 7.5px;
      }
  }
  .sub-nav{
      padding-left: 0px;
      @media (max-width: 1023px) and (min-width: 768px){
          padding-left: 15px;
      }
      @include mobile {
        padding-left: 7.5px;
      }
  }
    .level-one{
      background-color: $grey-color03;
      padding: 15px;
      color: $white;
    }
    ul.level-two{
      list-style-type: none;
      padding-left: 0px;
      dl{
        margin-bottom: 0px;
      }
      dt{
        background-color: $grey-color08;
        padding: 15px;
        font-weight: 200;
      }
      dd.level2-sub{
        background: $grey-color09;
        padding: 15px;
        border-bottom: 1px solid $grey-color07;
      }
      dd.sub-sub-nav{
        background-color: $grey-color10;
        padding: 15px;
        border-bottom: 1px solid $grey-color07;
      }
    }
}
