<section class="welcome-description">
    <div class="container">
        <div class="row">
            <!-- <div class="col-xs-12">
                <h2 class="anonymous">
                    <span class="title">
                      <span class="wel-text">Welcome to the AgriBusiness Hub</span>
                    </span>
                </h2>
            </div> -->
            <div class="col-xs-12">
                <div class="registered">
                  <span class="reg-title">
                     <strong class="wel-text">Hi John,</strong>
                     <span class="wel-text">Welcome to the AgriBusiness Hub</span>
                  </span>
                </div>
            </div>
            <div class="col-xs-12 tool">
              <p>
                We are working on pulling out your recommendations based on your cookie
              </p>
                <div class="tip">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit  <a>Add Products</a></span>
                </div>
                  <span id="closetip" class="cross"></span>
            </div>

    </div>
</section>
