<section class="login-profilecreation-desc">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <h2>Create: <span>Agri hub</span></h2>
          </div>
      </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 steps-tips">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-3 col-sm-5 col-md-5">
                            <img src="cms-images/analyst-list-hero/expertise.png" alt="" class="img-responsive"/>
                      </div>
                      <div class="col-xs-9 col-sm-7 col-md-7 desc">
                            Recommendations tailered for you
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 steps-tips">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-3 col-sm-5 col-md-5">
                            <img src="cms-images/analyst-list-hero/expertise.png" alt="" class="img-responsive"/>
                      </div>
                      <div class="col-xs-9 col-sm-7 col-md-7 desc">
                            Recommendations tailered for you
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 steps-tips">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-3 col-sm-5 col-md-5">
                            <img src="cms-images/analyst-list-hero/expertise.png" alt="" class="img-responsive"/>
                      </div>
                      <div class="col-xs-9 col-sm-7 col-md-7 desc">
                            Recommendations tailered for you
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
