<section class="events-search">
  <div class="container">
    <div class="row">
      <div class="select-section col-sm-12 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-sm-3 form-group">
            <label for="sector">View by sector</label>
            <select class="chosen-select" name="sector" id="sector">
              <option value="All">All</option>
              <option value="latest">latest</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-3 form-group">
            <label for="month">View by month</label>
            <select class="chosen-select" name="month" id="month">
              <option value="June 2016">All</option>
              <option value="July 2016">latest</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-3 form-group">
            <label for="event-type">Type</label>
            <select class="chosen-select" name="eventType" id="event-type">
              <option value="June 2016">All</option>
              <option value="July 2016">latest</option>
            </select>
          </div>
        </div>
      </div>
      <div class="views-section col-xs-12 col-sm-3 col-md-offset-3 col-md-3">
        <div class="views">
          <a href="#" data-viewport="list-view" class="icon-list-view active">Tile View</a>
        </div>
        <div class="views">
          <a href="#" data-viewport="calendar-view" class="icon-calendar">Calendar View</a>
        </div>
      </div>
    </div>
  </div>
</section>