<section class="events-search">
	<div class="container">
		<div class="row">
			<div class="select-section col-sm-9 col-md-6">
				<div class="row">
					<div class="col-xs-12 col-sm-6 form-group">
						<label for="sector">View by sector</label>
	                    <select class="chosen-select" name="sector">
	                        <option value="All">All</option>
	                        <option value="latest">latest</option>
	                    </select>
					</div>
					<div class="col-xs-12 col-sm-6 form-group">
						<label for="month">View by month</label>
	                    <select class="chosen-select" name="month">
	                        <option value="June-2016">All</option>
	                        <option value="July-2016">latest</option>
	                    </select>
					</div>
				</div>
			</div>
			<div class="views-section col-xs-12 col-sm-3 col-md-offset-3 col-md-3">
				<div class="views">
					<label>List View</label>
					<a href="javscript:void(0);" data-viewport="list-view" class="icon-list-view active"></a>
				</div>
				<div class="views">
					<label>Calendar View</label>
					<a href="javscript:void(0);" data-viewport="calendar-view" class="icon-calendar"></a>
				</div>
			</div>
		</div>
	</div>
</section>