<section id="customer-quote">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-xs-12">
                <h1 class="light">How we've helped other businesses</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-7 col-sm-9 col-xs-12 staticDa quote">
                <div class="slider-component staticDa" id="customer-quote-slider"  data-itemsperframe="1" data-autorotate=0 data-transitionspeed="1000" data-slideduration="4000">
                    <!-- singel slide starts -->
                    {{#each this}}
                        <div class="customer-quote-slide">
                            <div>
                                <em class="saying">
                                    {{quote}}
                                </em>
                                <div class="saidBy">
                                    <span class="owner">{{owner}}</span>
                                    <span class="description">{{description}}</span>
                                </div>
                                <div class="btn CTA semi-trans case-study">
                                      <a href="#">View Case Study</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <!-- single slide ends -->
                </div>
            </div>
        </div>
        <div class="design-helper">
            <div class="white-streak"></div>
        </div>
        <div class="design-helper two">
            <div class="white-streak two"></div>
        </div>
</section>
