<section class="customer-quote bright-banner" id="customer-quote-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 quotes-header">
                <h2>How we've helped other businesses</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 staticDa quote">
                <div class="slider-component staticDa" id="customer-quote-slider" class="customer-quote-slider" data-itemsperframe="1" data-autorotate="false" data-transitionspeed="400" data-dots="true" data-slideduration="4000" data-rtl="false" data-ltr="true">
                    <!-- singel slide starts -->
                    {{#each this}}
                        <div class="customer-quote-slide">
                            <div>
                                <h5 class="saying">
                                    {{quote}}
                                </h5>
                                <p class="saidBy">
                                    <span class="owner">{{owner}}</span>
                                    <span class="description">{{description}}</span>
                                </p>
                                <div class="btn CTA btn-primary case-study">
                                      <a href="#">View Case Study</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <!-- single slide ends -->
                </div>
            </div>
        </div>
        <div class="col-xs-12 card-col-heading ">
            <a class="btn btn-default" href="#">View All Products</a>
        </div>
        <div class="design-helper">
            <div class="white-streak"></div>
        </div>
        <div class="design-helper two">
            <div class="white-streak two"></div>
        </div>
</section>
