.tmt-newco {
  $font-color: #000;
  $headline-text: 24px;
  $subhead-text: 14px;
  $bg-white: #fff;
  $base-bg: #f9f8f9;
  $subhead-text-lineheight: 25px;
  $checkbox-background: transparent;
  $checkbox-border: #555;
  $newcoprimarycolor: #a54eac;
  .article-headlines {
    background-color: $bg-white;
    h2 {
      font-weight: 600;
    }
    h3 {
      font-weight: normal;
    }
    h2,
    h3,
    h4 {
      font-weight: normal;
      font-size: $headline-text;
      color: $font-color;
      line-height: 29px;
      padding: 0px;
    }
    span,
    p {
      color: $font-color;
      font-size: $subhead-text;
      line-height: $subhead-text-lineheight;
      font-weight: normal;
    }
    .col-lg-12 {
      @include mobile {
        padding: 0;
      }
    }
    .article-filter-section {
      background-color: $base-bg;
      padding: 30px;
      @include mobile {
        padding: 15px 20px;
      }
      ul {
        padding: 0;
        margin-top: 20px;
        list-style: none;
        display: block;
        @include mobile {
          display: none;
        }
        li {
          display: inline-block;
          max-width: 265px;
          line-height: 25px;
          width: 265px;
          margin-bottom: 12px;
          span {
            margin-left: 12px;
            margin-right: 32px;
            color: $font-color;
            font-size: $subhead-text;
            line-height: $subhead-text-lineheight;
            width: 212px;
            display: inline-block;
            vertical-align: top;
            font-weight: 600;
          }
          .custom-radio {
            position: relative;
            margin-bottom: 10px;
            width: 9px;
            height: 9px;
            input[type="radio"] {
              opacity: 0;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
            }
            input[type="radio"] {
              + span {
                position: relative;
                user-select: none;
                color: $checkbox-background;
                margin-left: 0;
                display: inline;
                &:before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 9px;
                  height: 9px;
                  border: 1px solid $checkbox-border;
                  border-radius: 50%;
                  background: $checkbox-background;
                  text-align: center;
                  transition: transform 200ms ease-out;
                }
                &:after {
                  content: "";
                  position: absolute;
                  transform: scale(0);
                  transition: transform 200ms ease-out;
                }
              }
            }

            input[type="radio"] {
              + span {
                &:before,
                &:after {
                  border-radius: 50%;
                }
                &:after {
                  left: 0;
                  top: 0;
                  width: 9px;
                  height: 9px;
                }
              }
              &:checked {
                + span {
                  &:before {
                    animation: borderscale 300ms ease-in;
                  }
                  &:after {
                    background: $newcoprimarycolor;
                    transform: scale(1);
                  }
                }
              }
            }
          }
          .round-checkbox {
            position: relative;
            cursor: pointer;
            width: 9px;
            height: 9px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            float: left;
            margin-right: 15px;
            overflow: hidden;
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
              &:checked ~ .checkmark {
                background-color: $newcoprimarycolor;
                border: 2px solid $newcoprimarycolor;
              }
            }
            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 9px;
              width: 9px;
              border-radius: 50%;
              border: 1px solid $checkbox-border;
              margin-left: 0;
            }
          }
        }
      }
    }
    .article-filter-section-for-mob {
      display: none;
      .custom-dropdown {
        display: inline-block;
        .all-category {
          position: relative;
          width: 235px;
          display: block;

          a {
            border: 2px solid #a54eac;
            width: 235px;
            margin: 10px 18px 0 0;
            position: relative;
            color: $font-color;
            float: left;
            border-radius: 25px;
            font-size: $subhead-text;
            padding: 10px 20px;
            cursor: pointer;
            line-height: $subhead-text-lineheight;
            background: transparent;
            &:hover {
              background: transparent;
              text-decoration: none;
            }

            .triangle-right {
              width: 12px;
              height: 15px;
              border-top: 8px solid transparent;
              border-left: 12px solid #002244;
              border-bottom: 7px solid transparent;
              display: inline-block;
              margin-right: 15px;
              position: static;
              &:after {
                content: " ";
              }
            }
            .triangle-down {
              width: 15px;
              height: 10px;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-top: 10px solid #002244;
              display: inline-block;
              margin-right: 20px;
              position: static;
              &:after {
                content: " ";
              }
            }
          }
          .all-category.active {
            a {
              border: 2px solid #a54eac;
              background: transparent;
            }
          }

          a.select-gradient {
            background-image: linear-gradient(90deg, rgba(116, 218, 244, 1) 50%, rgba(227, 153, 237, 1) 100%);
            border: 0px solid transparent;
          }
          .dropdown-content {
            border: 2px solid #a54eac;
            margin-left: -1px;
            padding: 4px 0px 4px 20px;
            display: none;
            margin-top: -1px;
            width: 235px;
            border-radius: 0px 0px 25px 25px;
            border-top: none;
            position: absolute;
            left: 0;
            top: 55px;
            background: $base-bg;
          }
          .drop-content-active {
            display: inline-block;

            .drop-content {
              padding: 0;
              ul {
                padding: 0;
                margin: 0 0px 20px;
                @include mobile {
                  display: block;
                }
                li {
                  list-style: none;
                  position: relative;
                  overflow: hidden;
                  display: block;
                  padding: 15px 0 0 0;
                  .round-checkbox {
                    position: relative;
                    cursor: pointer;
                    width: 9px;
                    height: 9px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    float: left;
                    margin-right: 15px;
                    overflow: hidden;
                    input {
                      position: absolute;
                      opacity: 0;
                      cursor: pointer;
                      height: 0;
                      width: 0;
                      &:checked ~ .checkmark {
                        background-color: $newcoprimarycolor;
                        border: 2px solid $newcoprimarycolor;
                      }
                    }
                    .checkmark {
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 9px;
                      width: 9px;
                      border-radius: 50%;
                      border: 1px solid $checkbox-border;
                      margin-left: 0;
                    }
                  }
                  .sub-seg {
                    font-size: $subhead-text;
                    color: $font-color;
                    line-height: 25px;
                    margin-bottom: 0;
                    vertical-align: top;
                    float: right;
                    width: 90%;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #e1e1e1;
                  }
                }
              }
            }
          }
        }
        .all-category.active a {
          border-bottom: none;
          margin: 10px -1px;
          -moz-border-radius: 25px 25px 0 0;
          -webkit-border-radius: 25px 25px 0 0;
          border-radius: 25px 25px 0 0;
          .dropdown-content {
            display: block;
          }
        }
      }
      @include mobile {
        display: block;
      }
    }
  }

  .headline-carousel {
    .newco-article-image {
      .img-responsive {
        display: block;
      }
    }
    background-color: $bg-white;
    h2 {
      font-weight: 600;
    }
    h3 {
      font-weight: normal;
    }
    h2,
    h3,
    h4 {
      font-weight: normal;
      font-size: $headline-text;
      color: $font-color;
      line-height: 29px;
      padding: 0px;
      height: 60px;
      overflow: hidden;
      position: relative;
      a {
        color: $font-color;
        display: -webkit-inline-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
        font-weight: normal;
        &:after {
          content: "";
          position: absolute;
          top: 27px;
          right: 0;
          width: 66%;
          height: 61%;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
          background-size: 100%;
          background-image: -webkit-gradient(
            linear,
            0% 50%,
            100% 50%,
            color-stop(0%, rgba(255, 255, 255, 0)),
            color-stop(80%, #ffffff),
            color-stop(100%, #ffffff)
          );
          background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
          background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
          pointer-events: none;
        }
        &:hover {
          color: $newcoprimarycolor;
        }
      }
    }
    .list-container {
      margin: 36px 40px;
      padding-left: 0;
      @include mobile {
        margin: 36px 35px 20px;
      }
      li {
        padding: 0px 0px;
        max-height: 490px;
        img {
          height: 202px;
          display: block;
          width: 100%;
        }
        &.slick-slide {
          margin-bottom: 20px;
          .video-container{
            position: relative;
            a{
              .play-icon{
                color: #fff;
                display: block;
                font-size: 5em;
                height: 30px;
                position: absolute;
                right: 50%;
                top: 50%;
                width: 30px;
                transform: translateY(-50%);
              }
            }
          }
          &:hover {
            box-shadow: 7px 7px 16px #ece9e9;
          }
          @include mobile {
            box-shadow: 7px 7px 16px #ece9e9;
          }
        }
        .recomended-wrapper {
          background-color: $bg-white;
          padding: 25px 20px 44px 20px;
          @include mobile {
            padding: 10px;
          }
          .footer,
          .topics {
            display: none;
          }
          .content {
            .publish {
              display: none;
            }
          }
          .recomend-content {
            .content {
              p.type {
                color: $font-color;
                font-size: $subhead-text;
                line-height: $subhead-text-lineheight;
                margin: 0;
                font-weight: 600;
              }
              p.description {
                max-height: 120px;
                overflow: hidden;
                position: relative;
                font-weight: normal;
                border-bottom: 8px #fff solid;
                @include mobile {
                  max-height: 111px;
                }
              }
              h4 {
                margin-bottom: 30px;
                @include mobile {
                  margin-bottom: 20px;
                }
                a {
                  padding-right: 27px;
                  &.gated-content {
                    &::after {
                      background-image: url(../../Static/images/tmt-newco/images/lock-icon/lock-icon-black.jpg);
                      background-repeat: no-repeat;
                      content: "";
                      width: 27px;
                      height: 32px;
                      position: absolute;
                      top: 0px;
                      right: 0;
                    }
                    &:hover {
                      &::after {
                        background-image: url(../../Static/images/tmt-newco/images/lock-icon/lock-icon.jpg);
                      }
                    }
                  }
                }
                &:after {
                  content: "";
                  position: absolute;
                  bottom: 5px;
                  right: 0;
                  width: 100%;
                  height: 23%;
                  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
                  background-size: 100%;
                  background-image: -webkit-gradient(to right, rgba(255, 255, 255, 0) -1%, #ffffff 66%, #ffffff 100%);
                  background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) -1%, #ffffff 66%, #ffffff 100%);
                  background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) -1%, #ffffff 66%, #ffffff 100%);
                  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) -1%, #ffffff 66%, #ffffff 100%);
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
      .btn {
        width: auto;
        width: initial;
      }
      .slick-list {
        border-right: none;
      }
    }
    &.carousel-lists {
      .slick-arrow {
        background-color: transparent;
      }
      .slick-next {
        left: 101%;
        margin-left: 0;
        top: 100px;
        &:before {
          content: url(../../Static/images/tmt-newco/images/article-headlines/next-btn.png);
        }
      }
      .slick-prev {
        left: -30px;
        @include mobile{
          left: 0px; 
        }
        top: 100px;
        &:before {
          content: url(../../Static/images/tmt-newco/images/article-headlines/prev-btn.png);
          @include mobile {
            left: -75%;
          }
        }
      }
      ul.slick-dots {
        text-align: center;
        width: 100%;
        bottom: 0;
        position: relative;
        z-index: 2;
        margin: 15px 0;
        li {
          height: 9px;
          width: 9px;
          border-radius: 5px;
          border: 1px solid $checkbox-border;
          background: transparent;
          padding: 0;
          button {
            display: none;
          }
          &.slick-active {
            background-color: $newcoprimarycolor;
            border: 2px solid $newcoprimarycolor;
          }
        }
      }
    }
  }
}

.newco-article-image {
  .img-responsive {
    display: none;
  }
}
