.register-myinterests-section {
    //display: none;
    .triangle-nav-container {
        background: $blue-light-bg;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .register-myinterests-form {
        //display: none;
        padding-left: 2%;
        padding-right: 2%;
        background: url("/Static/images/pattern.png") no-repeat right 100% #444957;
        background-size: 20%;
        padding: 30px 0 100px;
        @include mobile {
          background: none;
              padding: 0px;
        }
    }
    .register-myinterests-form-container {
        background-color: $gray-light-bg;
        color: $white;
    }
    .about-you-details {
        legend {
            &:first-child {
                margin-left: 40px;
                &:before {
                    content: "\e91a";
                    font-family: 'InformaIcons';
                    position: absolute;
                    top: 12px;
                    left: 10px;
                    font-size: 30px;
                }
            }
        }

        .required-field:nth-child(1) {
          display: table-cell;
          width: 48%;
          float: left;
        }

        .required-field:nth-child(2) {
          display: table-cell;
          width: 48%;
          padding-left: 20px;
          @include mobile {
            display: block;
            padding-left: 0;
          }

          }
    }
    .your-area-interest{
      legend {
        &:first-child {
          margin-left: 45px;
          &:before {
              content: "\e925";
              font-family: 'InformaIcons';
              position: absolute;
              top: 12px;
              left: 10px;
              font-size: 30px;
          }
        }
      }
      p{
          position: relative;
          display: block;
          width: 100%;
          color:$white;
          background-color: $gray-light-bg;
          padding: 10px 0px;
          margin-top: -20px;
          font-size: 14px;
          &:after {
            display: none;
          }
      }
    }
    .triangle-nav {
        list-style: none;
        overflow: hidden;
        padding-left: 15px;
    }
    .triangle-nav li {
        float: left;
        &:first-child {
            a {
                padding-left: 5px;
            }
        }
        a {
            color: $font-color;
            text-decoration: none;
            padding: 5px 0 4px 40px;
            background: $white;
            /* fallback color */

            //background: $brand-secondary;
            position: relative;
            display: block;
            float: left;
            &:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                /* Go big on the size, and let overflow hide */

                border-bottom: 50px solid transparent;
                border-left: 30px solid $white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }
            span.tab-numbers {
              font-size: 16px;
              padding-right: 8px;
              font-weight: bold;
              padding-left: 5px;
            }
        }
        &.active {
            a {
                //color: $font-color;
                text-decoration: none;
                //background: $brand-secondary;
                /* fallback color */

                position: relative;
                display: block;
                float: left;
            }
        }
    }
    .triangle-nav li.active a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */

        border-bottom: 50px solid transparent;
        //border-left: 30px solid $brand-secondary;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }
    .tab-content {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .list-inline > li {

    padding-left: 0px;
    padding-right: 0px;
  }
    .next-step {
        width: 180px;
        margin-top: 15px;
    }
  .custom-multiselect, .select-wrapper {
        a {
            padding: 0 !important;
        }
        label {
            color: $brand-primary;
            font-size: 14px;
        }
        input {
            opacity: 0;
            width: 16px;
            height: 16px;
        }
        .btn-group {
            width: 100%;
            .caret {
                content: "\e901";
                border: none;
                font-family: 'InformaIcons';
                position: absolute;
                right: 30px;
                &:before {
                    font: 400 15px 'InformaIcons';
                    content: "\e901";
                    color: #a7a9b6;
                }
            }
            .dropdown-toggle {
                width: 100%;
                background-color: $blue-lighter-bg;
                border: none;
                //  padding: 10px;
                &:after {
                    content: '';
                }
                &:hover {
                    background: $blue-lighter-bg;
                }
            }
            .dropdown-menu {
                box-shadow: none;
                border-radius: 0;
                border: none;
                width: 100%;
                padding: 10px 0;
                background-color: #f0f1f3;
                label {
                    color: $text-gray;
                    font-size: 14px;
                    color: #434854;
                    padding-left: 50px;
                    padding-top: 5px;
                    &:before {
                        background: $white none repeat scroll 0 0;
                        content: "";
                        height: 20px;
                        left: 19px;
                        position: absolute;
                        top: 6px;
                        width: 20px;
                    }
                }
                .active {
                    label {
                        &:before {
                            background: $white url("/Static/images/common/checkbox-tick.jpg") no-repeat 0 0;
                            background-size: 100%;
                        }
                    }
                    a {
                        background-color: transparent;
                    }
                }
            }
            .select-all-bottom {
              display: none;
              background: $blue-lighter-bg;
              padding: 0;
              margin-top: 0;
              padding-left: 15px;
              float: left;
              padding-top: 5px;
              padding-bottom: 5px;
              width: 100%;
              border-top: 2px solid #a7a9b6;
              a.multiselect-all {
                color: $brand-primary;
              label {
                  cursor: pointer;
                  //color: $white;
                  //padding: 10px;
                }
              }
            }
        }


    }
    .open > .dropdown-menu {
        display: block;
        //  width: 500px;
        position: relative;
    }
    label.control-label {
        font-family: FSMe-light !important;
        font-weight: normal !important;
        clear: both;
        display: block;
    }
    .normal-checkbox label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: normal;
    }
    .btn-previous {
    color: $white;
     min-width: 180px;
     text-align: right;
     padding-top: 15px;
     padding-bottom: 15px;
     background:  $grey-color04 !important;
     position: relative;
     &:before{
       content: "\e903";
       font-family: 'InformaIcons';
       left: 15px;
       font-weight: bold;
       position: absolute;
       //color:$primary;
     }
     &:hover{
        border-color: $gray-dark-bg;
     }
}

}
.register-myinterests-form-container {
     .form-group .select-wrapper:after {
        display: none;
    }
    #step2 {
        .list-inline, .form-submit-border {
                width: 450px;
                float: right;
                .btn {
                    float: right;
                    min-width: 180px;
                    @include mobile{
                      float: right;
                      min-width: 32px;
                      width: 42% !important;
                    }
                }
            .btn-previous {
                float: left;
                margin-right: 200px;
                display: block;
                @include mobile {
                  float: left;
                  margin-right: 44%;
                  display: block;
                  min-width: 85px;
                  width: 36% !important;
                }
            }
            .form-submit-border {
                padding-bottom: 12px;
                z-index: 2;
                .btn {
                    padding: 17px;
                }
            }
        }
    }
}


  .register-myinterests-modal {
      .modal-dialog {
          width: 75%;
          margin: 0 auto;
          @include mobile {
              width: 90%;

          }
      }
      .modal-body {
          @include mobile {
              //padding: 15px 30px;
              .register-myinterests-section .your-area-interest legend:first-child:before{
                  //display: none;
              }
              .register-myinterests-section .about-you-details legend:first-child:before{
                  //display: none;
              }
              .register-myinterests-form-container #step2 .form-submit-border{
                width: 425px;
              }
          }
      }
      .modal-content {
          border-radius: 0;
          background-color: $gray-light-bg;
          color: $white;
      }
      .modal-header {
          border-bottom: 0;
          .close {
              color: $white;
              opacity: 2;
          }
      }
  }
  #article-list-section {
    .register-myinterests-section{
      display: none;
    }
  }
  .register-myinterests-modal{
      .register-myinterests-section{
            display: block !important;
      }

  }
  .register-form-popup-container{
    display: none;
  }
