.product-finder-results {
    background: $white;
    @include desktop {
        padding: 0 15px;
    }
    .container {
        @include mobile {
            padding: 0;
        }
        @include tablet {
            padding: 0;
        }
    }
    .search-container {
        padding: 35px 5.7% 20px 15px;
        background-color: $white;
        width: 75%;
        float: left;
        @include desktop {
            width: 80%;
            padding: 35px 0 20px 15px;
        }
        @include tablet {
            width: 100%;
            padding: 20px 0;
        }
        @include mobile {
            width: 100%;
            padding: 20px 0;
        }
        .container {
            width: 100%;
            float: left;
            padding: 0;
            @include mobile {
                width: 100%;
                padding: 0 10px;
            }
            @include tablet {
                width: 100%;
                padding: 0 10px;
            }
        }
        .see-all {
            float: left;
            width: 100%;
            padding-top: 20px;
            border-top: 1px solid $grey-color10;
            @include mobile {
                padding: 10px;
                text-align: center;
            }
            @include tablet {
                padding: 10px;
            }
            .btn {
                @include mobile {
                    width: 100%;
                }
            }
        }
        .view-toggle {
            margin-bottom: 25px;
            position: relative;
            @include mobile {
                padding-right: 0;
                margin-bottom: 15px;
            }
            .view-by {
                width: auto;
                float: left;
                @include mobile {
                    float: none;
                }
                @include tablet {
                    float: left;
                }
                label {
                    margin-right: 10px;
                    font-weight: normal;
                }
                .chosen-container {
                    width: 165px !important;
                    @include mobile {
                        width: 225px !important;
                    }
                    .chosen-single {
                        height: 50px;
                        border: 1px solid $grey-color10;
                        position: relative;
                        span {
                            font-size: 16px;
                            padding-top: 5px;
                        }
                        div b {
                            display: none;
                        }
                        &:after {
                            content: '\e901';
                            font-family: 'InformaIcons';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                        }
                    }
                }
            }
            .results-found {
                float: left;
                width: 60%;
                margin-top: 15px;
                @include tablet{
                    width: 55%;
                }
                @include mobile {
                    width: 100%;
                    margin-bottom: 20px;
                    margin-top: 0;
                }
            }
            .results {
                font-size: 16px;
                color: $text-gray;
                line-height: 1;
                @include not-desktop {
                    margin-top: 0;
                }
            }
            .view-mode {
                padding: 0;
                float: right;
                li {
                    list-style-type: none;
                    float: left;
                    &.selected {
                        background: $grey-color10;
                    }
                    a {
                        width: 50px;
                        height: 50px;
                        float: left;
                        border: 1px solid $grey-color10;
                        color: $grey-color03;
                        position: relative;
                        text-decoration: none;
                        font-size: 0;
                        &:before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 26px;
                        }
                        &.active {
                            background-color: $grey-color10;
                        }
                    }
                }
                li[data-view="tileView"] {
                    a {
                        &:before {
                            content: '';
                            height: 26px;
                            width: 22px;
                            background: url(/Static/images/dashboard.png) no-repeat;
                        }
                    }
                }
            }
        }
        .items-found {
            padding-left: 0;
            padding-bottom: 20px;
            &:after {
                display: block;
                 font-size: 0;
                 content: " ";
                 clear: both;
                 height: 0;
            }
            li {
                a {
                    color: $grey-color05;
                    padding-right: 5px;
                    &:hover {
                        text-decoration: initial;
                    }
                }
                list-style-type: none;
                float: left;
                padding-right: 10px;
                position: relative;
                strong {
                    margin: 0 5px 0 0;
                    font-weight: bold;
                }
                &:after {
                    content: '|';
                    margin: 0 12px;
                    position: absolute;
                    right: -7px;
                    top: -1px;
                }
                &:last-child {
                    &:after {
                        content: '';
                    }
                }
            }
        }
        &.product {
            .view-toggle {
                @include mobile {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .see-all-wrapper {
        padding-top: 20px;
        border-top: 1px solid $grey-color10;
    }
}

.product-results {
    .footer {
       .btn {
          width: 190px;
         }
    }
    @include mobile {
        padding: 0 10px;
    }
    @include tablet {
        padding: 0 10px;
    }
    &.showLess {
        .more {
            display: none;
        }
        .less {
            display: block;
        }
        .btn-showMore:after {
            content: '\e913';
        }
    }
    h2 {
        font-weight: 200;
        padding: 10px 0 25px 0;
        font-size: 30px;
    }
    a.btn-showMore {
        margin-bottom: 25px;
        padding-left: 12px;
        &:focus {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
    }
    .list-items {
        background-color: $white;
        margin-bottom: 30px;
        .image-gradient {
            display: block;
            position: relative;
            width: 100%;
            height: 202px;
            padding: 20px;
            background: url(../../Static/images/tmt-newco/images/analyst-list/back-gradiant.jpg) no-repeat;
            background-size: cover;
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 20px;
                right: 20px;
                width: 30px;
                height: 30px;
                background: url(../../Static/images/tmt-newco/images/analyst-list/favicon.png) no-repeat;
                background-size: contain;
            }
            p {
                margin-bottom: 0;
                .type {
                    font-weight: 600;
                    color: $white;
                }
            }
            .title {
                overflow: hidden;
                max-height: 3.6em;
                padding-right: 30px;
                font-size: 36px;
                line-height: 1.2;
                font-weight: 600;
                color: $white;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
        .events-wrap{
            background-color: $white;
        }
        h4 {
            font-size: 24px;
        }
        .meet-anlyst-section {
            margin-top: 0;
            .anlyst-heading {
                height: 200px;
            }
            .analyst-description {
                background-color: transparent;
            }
            .analyst-footer {
                 padding: 7px 20px;
                 margin-top: 25px;
                .analyst-footer-content {
                    padding: 5px 0;
                    margin-bottom: 10px;
                }
            }
        }
        .products {
            overflow: hidden;
            h4 {
                color: $white;
                &:after {
                    content: '';
                    background: url(/Static/images/spritesheet.png) no-repeat;
                    padding-left: 5px;
                    width: 26px;
                    height: 34px;
                    background-position: -5px -270px;
                    display: inline-block;
                    position: relative;
                    bottom: -9px;
                }
            }
            .heading {
                background-color: $grey-color03;
                @include rotate(-5deg);
                padding-bottom: 20px;
                margin-left: -15px;
                width: 106%;
                .heading-content {
                    padding: 15px;
                    padding-left: 27px;
                    background-color: $grey-color03;
                    @include rotate(5deg);
                    padding-bottom: 5px;
                }
            }
            .body {
                padding: 30px 15px;
                p {
                    margin-bottom: 20px;
                }
                ul {
                    padding-left: 25px;
                }
                li {
                    list-style-type: none;
                    padding-bottom: 20px;
                    position: relative;
                    font-weight: bold !important;
                    color:$grey-color04;
                    &:before {
                        position: absolute;
                        left: -28px;
                        font-size: 20px;
                        top: -5px;
                    }
                }
            }
            .button-links {
                a {
                    width: 100%;
                    min-width: initial;
                    min-width: auto;
                    @include desktop {
                        padding-left: 10px;
                        &:after {
                            right: 10px;
                        }
                    }
                }
            }
            .button-links {
                background-color: $grey-color09;
                @include rotate(-5deg);
                padding-top: 20px;
                margin: 18px 0 0 -13px;
                width: 116%;
                padding-right: 8%;
                @include mobile {
                    margin: 9px 0 0 -13px;
                }
                @include tablet {
                    margin: 9px 0 0 -20px;
                }
                .button-links-wrap {
                    background-color: $grey-color09;
                    @include rotate(5deg);
                    margin-top: -7px;
                    padding: 14px 20px;
                    @include mobile {
                        padding: 15px 30px;
                        margin-top: 0;
                    }
                    @include tablet {
                        padding: 15px 25px;
                        margin-top: 0;
                    }
                    .col-xs-6 {
                        position: relative;
                        bottom: 10px;
                    }
                    @include desktop {
                        .col-xs-6 {
                            &:first-child {
                                padding-right: 5px;
                            }
                            &:last-child {
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
            .category strong {
                display: none !important;
                padding: 3px 8px;
                font-weight: 400;
                font-size: 0.9em;
                color: $white;
                margin-right: 5px;
                margin-bottom: 5px;
                background-color: $grey-color05;
            }
        }
        .recomended-wrapper {
            background-color: $grey-color10;
            padding: 25px 20px 10px;
            .topics {
                strong {
                    display: inline;
                }
            }
            .recomended-currency{
              bottom: 35px;
            }
            .content {
                h4 {
                    font-size: 24px;
                    padding: 10px 0;
                    a{
                       color: $grey-color05;
                    }
                }
                .publish {
                    padding-bottom: 15px;
                }
                .type {
                    margin-bottom: 0;
                }
            }
            .footer {
                padding: 0;
                float: left;
                width: 100%;
                margin-top: 22px;
                .btn-container {
                    text-align: right;
                    margin: 5px 0 0;
                    position: relative;
                    bottom: 15px;
                    .btn {
                        min-width: initial;
                        min-width: auto;
                        padding-right: 32px;
                        width: 190px;
                        padding: 14px;
                    }
                }
            }
        }
    }
    .events-wrap .content-wrap .title {
        font-size: 24px;
        height: auto;
    }
    .events-wrap .footer .btn {
        padding-left: 5px;
        min-width: 48%;
        &:after {
            right: 5px;
        }
    }
}
.tileView {
    .events-wrap .footer {
        padding: 36px 20px 20px;
    }
}
.listView {
    .see-all {
        border-top: none !important;
    }
    .product-results {
        margin-bottom: 25px;
        .newco-analyst-views{
            padding-left: 15px;
            padding-right: 15px;
        }
        h2 {
            border-bottom: 1px solid $grey-color09;
        }
        .btn-showMore {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .wrap-content {
        height: auto;
    }
    .col-md-4,
    .col-sm-6 {
        width: 100%;
        @include tablet {
            border-bottom: none;
        }
        .list-items {
            background-color: $white;
            padding: 20px 0;
            border-bottom: 1px solid $grey-color09;
            margin-bottom: 0;
            @include tablet {
                padding-bottom: 20px;
            }
            &:first-child {
                border-top: 1px solid $grey-color09;
            }
            .products {
                .heading,
                .button-links {
                    background-color: transparent;
                    width: 100%;
                    @include rotate(0deg);
                    margin: 0;
                    padding: 0;
                    .heading-content,
                    .button-links-wrap {
                        background-color: transparent;
                        @include rotate(0deg);
                        margin: 0;
                        padding: 0;
                        h4 {
                            color: $grey-color05;
                            padding: 0;
                            font-weight: bold;
                            &:after {
                                display: none;
                            }
                        }
                    }
                    .button-links-wrap {
                        margin: 0 -15px;
                    }
                    .heading-content {
                        padding-bottom: 0;
                    }
                }
                .body {
                    padding: 0;
                    ul {
                        padding-left: 30px;
                    }
                    li {
                        display: inline-block;
                        margin-right: 45px;
                    }
                }
                .col-xs-6 {
                    width: 200px;
                }
            }
        }
        .recomended-wrapper {
            background-color: $white;
            margin: 0;
            padding: 0;
            .recomended-currency {
                bottom: 65px;
                left: 0;
                position: static;
                margin-bottom: 10px;
            }
            .content {
                margin-bottom: 0;
                @include mobile{
                    padding-right: 0 !important;
                }
                > p {
                    display: inline-block;
                    &.description {
                        display: block;
                    }
                }
                .type {
                    display: inline-block;
                }
                .publish {
                    padding-bottom: 8px;
                }
                .video-container {
                    width: 290px;
                    /* float: right; */
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    @include mobile{
                        position: relative;
                    }
                }
            }
            .footer {
                height: auto;
            }
            .footer .btn-container {
                text-align: left;
                margin: 0;
            }
        }
        .meet-anlyst-section {
            background-color: $white;
            margin-bottom: 0;
            .anlyst-heading {
                padding: 0;
                background-color: transparent;
                height: auto;
                -ms-transform: skewY(0deg);
                -webkit-transform: skewY(0deg);
                transform: skewY(0deg);
                .analyst-heading-content {
                    -ms-transform: skewY(0deg);
                    -webkit-transform: skewY(0deg);
                    transform: skewY(0deg);
                }
                .analyst-details {
                    width: 100%;
                    float: none;
                }
                .analyst-img {
                    display: none;
                }
                &:after {
                    display: none;
                }
                .location {
                    padding-left: 0;
                    &:before {
                        display: none;
                    }
                }
            }
            .analyst-description {
                padding: 0;
                background-color: $white;
                position: relative;
                .heading {
                    padding: 10px 0;
                    + .yellow-bullets + .heading {
                        position: absolute;
                        top: 0;
                        left: 40%;
                    }
                }
                .track-analyst {
                    position: absolute;
                    width: 50%;
                    top: 40px;
                    left: 40%;
                }
            }
            .analyst-footer {
                padding: 0;
                background-color: $white;
                -ms-transform: skewY(0deg);
                -webkit-transform: skewY(0deg);
                transform: skewY(0deg);
                &:after {
                    display: none;
                }
                .analyst-footer-content {
                    float: left;
                    margin: 0;
                    padding:0;
                    -ms-transform: skewY(0deg);
                    -webkit-transform: skewY(0deg);
                    transform: skewY(0deg);
                    .nav-links {
                        float: right;
                    }
                    .btn {
                        min-width: 200px;
                        margin-right: 20px;
                    }
                }
            }
        }
        div.meet-anlyst-section .analyst-details h4,
        div.meet-anlyst-section .analyst-details h3,
        div.meet-anlyst-section .analyst-details h5,
        div.meet-anlyst-section .analyst-details p {
            color: $grey-color05;
            margin: 0;
            padding: 0;
        }
        .events-wrap {
            background-color: $white;
            .date-field {
                margin: 0;
                width: 100%;
            }
            .country {
                //float: left;
                margin: 10px 0;
                position: static;
            }
            .content-wrap {
                padding: 0;
            }
            .content {
                margin-top: 10px;
                width: 40%;
                float: left;
            }
            .footer {
                padding: 20px 0;
                clear: both;
                .btn {
                    min-width: auto;
                    width: 175px;
                    float: left;
                    margin-right: 25px;
                    @include mobile{
                        width: 48%;
                        margin-right: 0px;
                    }
                }
            }
        }
        .others-wrapper {
            padding: 0;
            h4 {
                font-weight: bold;
            }
            .footer {
                min-height: 50px;
                .btn-container {
                    .btn {
                        float: left;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 480px) {
        .meet-anlyst-section{
            .yellow-bullets{
                    float: left;
                }
            .track-analyst{
                float: left;
                position: relative !important;
                top: 0 !important;
                left: 0 !important;
            }
            .analyst-footer{
                margin-top: 0 !important;
            }
            .analyst-footer-content{
                margin-top: 25px !important;
            }
        }
    }    
}

.others-wrapper {
    padding: 20px;
    h4 {
        font-weight: bold;
        a{
            color:$grey-color05;
        }
    }
    .footer {
        min-height: 50px;
        margin-top: 11px;
        .btn-container {
            margin: 0;
            position: relative;
            bottom: 5px;
            .btn {
                float: right;
            }
        }
    }
}
.pharma-theme {
    .product-results {
        .list {
            .list-items {
                .meet-anlyst-section {
                    margin-bottom: 0px;

                    .analyst-footer {
                        margin-top: 18px;
                    }
                }

                .events-wrap {
                    padding-bottom: 18px;

                    .footer {
                        margin-top: 10px;

                        .btn {
                            padding-top: 15px;
                            padding-bottom: 15px;
                            &.pull-left {
                                display:none;
                            }
                        }
                        
                    }
                }

                .recomended-wrapper {
                    padding: 25px 20px 0px;

                    .footer {
                        .btn-container {
                            bottom: 20px;
                        }
                    }
                }
            }
        }

    }

    .tileView {

        .list {
            .list-items {
                .events-wrap {
                    .footer {
                        padding: 4px 10px 0px;

                    }
                }
            }
        }
    }
} 