.product-finder-results {
    .search-container {
        padding: 35px 105px 20px 15px;
        background-color: $white;
        width: 75%;
        float: left;
        @include tablet {
            width: 100%;
            padding: 20px 0;
        }
        @include mobile {
            width: 100%;
            padding: 20px 0;
        }
        .container {
            width: 100%;
            float: left;
            padding: 0;
            @include mobile {
                width: 100%;
                padding: 0 10px;
            }
            @include tablet {
                width: 100%;
                padding: 0 10px;
            }
        }
        .see-all {
            float: left;
            width: 100%;
            padding-top: 20px;
            border-top: 1px solid $grey-color10;
            @include mobile {
                padding: 10px;
                text-align: center;
            }
            @include tablet {
                padding: 10px;
            }
            .btn {
                @include mobile {
                    width: 100%;
                }
            }
        }
        .view-toggle {
            margin-bottom: 25px;
            position: relative;
            @include mobile {
                padding-right: 0;
                margin-bottom: 15px;
            }
            .view-by {
                width: auto;
                float: left;
                @include mobile {
                     float: none;
                }
                @include tablet {
                     float: none;
                }
                label {
                    margin-right: 10px;
                    font-weight: normal;
                }
                .chosen-container {
                    width: 165px !important;
                    @include mobile {
                        width: 225px !important;
                    }
                    .chosen-single {
                        height: 50px;
                        border: 1px solid $grey-color10;
                        position: relative;
                        span {
                            font-size: 16px;
                            padding-top: 5px;
                        }
                        div b {
                            display: none;
                        }
                        &:after {
                            content: '\e901';
                            font-family: 'InformaIcons';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 10px;
                        }
                    }
                }
            }
            .results-found {
                float: left;
                width: 60%;
                margin-top: 15px;
                @include mobile {
                    width: 100%;
                    margin-bottom: 20px;
                    margin-top: 0;
                }
            }
            .results {
                font-size: 16px;
                color: $text-gray;
                line-height: 1;
                @include not-desktop {
                    margin-top: 0;
                }
            }
            .view-mode {
                padding: 0;
                float: right;
                li {
                    list-style-type: none;
                    float: left;
                    &.selected {
                        background: $grey-color10;
                    }
                    a {
                        width: 50px;
                        height: 50px;
                        float: left;
                        border: 1px solid $grey-color10;
                        color: $grey-color03;
                        font-size: 26px;
                        position: relative;
                        &:before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        &.active {
                            background-color: $grey-color10;
                        }
                    }
                }
                li[data-view="tileView"] {
                    a {
                        &:before {
                            content: '';
                            height: 26px;
                            width: 26px;
                            background: url(/Static/images/dashboard.png) no-repeat;
                        }
                    }
                }
            }
        }
        .items-found {
            padding-left: 0;
            padding-bottom: 20px;
            li {
                a {
                    color: $grey-color05;
                    padding-right: 5px;
                    &:hover {
                        text-decoration: initial;
                    }
                }
                list-style-type: none;
                display: inline-block;
                padding-right: 7px;
                position: relative;
                strong {
                    margin: 0 5px 0 0;
                    font-family: 'FSMe-Bold'
                }
                &:after {
                    content: '|';
                    margin: 0 10px;
                    position: absolute;
                    right: -7px;
                    top: -1px;
                }
                &:last-child {
                    &:after {
                        content: '';
                    }
                }
            }
        }
    }
    .see-all-wrapper {
        padding-top: 20px;
        border-top: 1px solid $grey-color10;
    }
}

.product-results {
    @include mobile {
        padding: 0 10px;
    }
    @include tablet {
        padding: 0 10px;
    }
    &.showLess {
        .more {
            display: none;
        }
        .less {
            display: block;
        }
        .btn-showMore:after {
            content: '\e913';
        }
    }
    h2 {
        font-family: 'FSMe-Light';
        padding: 10px 0 15px 0;
        font-size: 30px;
    }
    a.btn-showMore {
        margin-bottom: 25px;
        &:focus {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
    }
    .list-items {
        background-color: #f0f1f3;
        margin-bottom: 15px;
        h4 {
            font-size: 24px;
        }
        .meet-anlyst-section {
            margin-top: 0;
            .anlyst-heading {
                height: 200px;
            }
            .analyst-description {
                background-color: transparent;
            }
            .analyst-footer {
                padding: 7px 15px;
                .analyst-footer-content {
                    padding: 5px 0;
                    margin-bottom: 16px;
                }
            }
        }
        .products {
            overflow: hidden;
            h4 {
                color: $white;
                &:after {
                    content: '';
                    background: url(/Static/images/spritesheet.png) no-repeat;
                    padding-left: 5px;
                    width: 26px;
                    height: 34px;
                    background-position: -5px -270px;
                    display: inline-block;
                }
            }
            .heading {
                background-color: $grey-color03;
                @include rotate(-5deg);
                padding-bottom: 20px;
                margin-left: -15px;
                width: 106%;
                .heading-content {
                    padding: 15px;
                    padding-left: 27px;
                    background-color: $grey-color03;
                    @include rotate(5deg);
                }
            }
            .body {
                padding: 30px 15px;
                p {
                    margin-bottom: 20px;
                }
                ul {
                    padding-left: 25px;
                }
                li {
                    list-style-type: none;
                    padding-bottom: 20px;
                    position: relative;
                    font-family: 'FSMe-Bold' !important;
                    &:before {
                        position: absolute;
                        left: -28px;
                        font-size: 20px;
                        top: -5px;
                    }
                }
            }
            .button-links {
                a {
                    width: 100%;
                    min-width: initial;
                    min-width: auto;
                }
            }
            .button-links {
                background-color: $grey-color09;
                @include rotate(-5deg);
                padding-top: 20px;
                margin: 9px 0 0 -13px;
                width: 116%;
                padding-right: 8%;
                @include mobile {
                    margin: 10px 0 0 -20px;
                }
                @include tablet {
                    margin: 10px 0 0 -20px;
                }
                .button-links-wrap {
                    background-color: $grey-color09;
                    @include rotate(5deg);
                    margin-top: -7px;
                    padding: 14px 20px;
                    @include mobile {
                        padding: 15px 30px;
                    }
                    @include tablet {
                        padding: 15px 25px;
                    }
                }
            }
            .category strong {
                display: inline-block;
                padding: 3px 8px;
                font-weight: 400;
                font-size: 0.9em;
                color: #f1f1f3;
                margin-right: 5px;
                margin-bottom: 5px;
                background-color: $grey-color05;
            }
        }
        .recomended-wrapper {
            background-color: $grey-color10;
            padding: 15px 20px;
            .topics {
                strong {
                    display: inline;
                }
            }
            .content {
                h4 {
                    font-size: 24px;
                    padding: 10px 0;
                }
                .publish {
                    padding-bottom: 15px;
                }
                .type {
                    margin-bottom:0;
                }
            }
            .footer {
                padding: 0;
                float: left;
                width: 100%;
                .btn-container {
                    text-align: right;
                    .btn {
                        min-width: initial;
                        min-width: auto;
                        padding-right: 32px;
                        width: auto;
                    }
                }
            }
        }
    }
    .events-wrap .content-wrap .title {
        font-size: 24px;
        height: auto;
    }
}

.listView {
    .search-container {
        .see-all {
            border-top: none;
        }
    }
    .product-results {
        h2 {
            border-bottom: 1px solid $grey-color09;
        }
        .btn-showMore {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .wrap-content {
        height: auto;
    }
    .col-md-4,
    .col-sm-6 {
        width: 100%;
        @include tablet {
            border-bottom: none;
        }
        .list-items {
            background-color: $white;
            padding: 20px 0;
            border-bottom: 1px solid $grey-color09;
            margin-bottom: 0;
            @include tablet {
                padding-bottom: 20px;
            }
            &:first-child {
                border-top: 1px solid $grey-color09;
            }
            .products {
                .heading,
                .button-links {
                    background-color: transparent;
                    width: 100%;
                    @include rotate(0deg);
                    margin: 0;
                    padding: 0;
                    .heading-content,
                    .button-links-wrap {
                        background-color: transparent;
                        @include rotate(0deg);
                        margin: 0;
                        padding: 0;
                        h4 {
                            color: $grey-color05;
                            padding: 0;
                            font-family: FSMe-Bold;
                            &:after {
                                display: none;
                            }
                        }
                    }
                    .button-links-wrap {
                        margin: 0 -15px;
                    }
                    .heading-content {
                        padding-bottom: 0;
                    }
                }
                .body {
                    padding: 0;
                    ul {
                        padding-left: 30px;
                    }
                    li {
                        display: inline-block;
                        margin-right: 45px;
                    }
                }
                .col-xs-6 {
                    width: 200px;
                }
            }
        }
        .recomended-wrapper {
            background-color: $white;
            margin: 0;
            padding: 0;
            .recomended-currency {
                bottom: 65px;
                left: 0;
                position: static;
                margin-bottom: 10px;
            }
            .content {
                margin-bottom: 0;
                > p {
                    display: inline-block;
                }
                .type {
                    display: inline-block;
                }
                .publish {
                    padding-bottom: 8px;
                }
                .video-container {
                    width: 290px;
                    /* float: right; */
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
            .footer {
                height: auto;
            }
            .footer .btn-container {
                text-align: left;
                margin: 0;
            }
        }
        .meet-anlyst-section {
            background-color: $white;
            margin-bottom: 0;
            .anlyst-heading {
                padding: 0;
                background-color: transparent;
                height: auto;
                -ms-transform: skewY(0deg);
                -webkit-transform: skewY(0deg);
                transform: skewY(0deg);
                .analyst-heading-content {
                    -ms-transform: skewY(0deg);
                    -webkit-transform: skewY(0deg);
                    transform: skewY(0deg);
                }
                .analyst-details {
                    width: 100%;
                    float: none;
                }
                .analyst-img {
                    display: none;
                }
                &:after {
                    display: none;
                }
                .location {
                    padding-left: 0;
                    &:before {
                        display: none;
                    }
                }
            }
            .analyst-description {
                padding: 0;
                background-color: $white;
                position: relative;
                .heading {
                    padding: 10px 0;
                    + .yellow-bullets + .heading {
                        position: absolute;
                        top: 0;
                        left: 40%;
                    }
                }
                .track-analyst {
                    position: absolute;
                    width: 50%;
                    top: 30px;
                    left: 40%;
                }
            }
            .analyst-footer {
                padding: 0;
                background-color: $white;
                -ms-transform: skewY(0deg);
                -webkit-transform: skewY(0deg);
                transform: skewY(0deg);
                &:after {
                    display: none;
                }
                .analyst-footer-content {
                    float: left;
                    margin: 0;
                    -ms-transform: skewY(0deg);
                    -webkit-transform: skewY(0deg);
                    transform: skewY(0deg);
                    .nav-links {
                        float: right;
                    }
                    .btn {
                        min-width: 200px;
                        margin-right: 20px;
                    }
                }
            }
        }
        div.meet-anlyst-section .analyst-details h4,
        div.meet-anlyst-section .analyst-details h3,
        div.meet-anlyst-section .analyst-details h5,
        div.meet-anlyst-section .analyst-details p {
            color: $grey-color05;
            margin: 0;
            padding: 0;
        }
        .events-wrap {
            background-color: $white;
            .date-field {
                margin: 0;
                width: 100%;
            }
            .country {
                float: left;
                margin: 0 0 0 15px;
                position: static;
            }
            .content-wrap {
                padding: 0;
            }
            .content {
                margin-top: 10px;
                width: 40%;
                float: left;
            }
            .footer {
                padding: 20px 0;
                clear: both;
                .btn {
                    min-width: 200px;
                    width: 200px;
                    float: left;
                }
            }
        }
        .others-wrapper {
            padding: 15px;
            .footer {
                min-height: 50px;
            }
        }
    }
}

.others-wrapper {
    padding: 15px;
    .footer {
        min-height: 50px;
    }
}
