.search-container {
    padding: 0;
    background-color: $white;
    #results{
        display: none;
    }
    .search-results {
        margin-top: 20px;
        .count {
            font-size: 22px;
        }
        .col-md-4 {
            margin-top: 30px;
        }
        .article-list {
            background-color: transparent;
        }
    }
}

