.refine-container {
    width: 17.5%;
    float: left;
    padding: 48px 20px 20px;
    margin-left: 6.5%;
    background: $grey-color10;
    @include desktop{
        margin-bottom:30px;
        width: 20%;
        margin-left: 0;
    }

    .clear-all {
        //color:$orange;
        visibility: hidden;
        &:after {
            content: 'X';
            margin-left: 5px;
        }
        @include tablet {
            display: none;
        }
        @include mobile {
            display: none;
        }
        &.noOpaque{
            visibility: visible;
        }
    }

    @include tablet {
        width: 100%;
        float: none;
        padding: 35px 15px 0;
        border-bottom: 1px solid $grey-color08;
        margin-left: 0;
        display:none;
    }
    @include mobile {
        width: 100%;
        float: none;
        padding: 35px 15px 0;
        border-bottom: 1px solid $grey-color08;
        margin-left: 0;
        display:none;
    }
    &.showRefine{
        display: block;
    }
    .heading {
        font-weight: 200;
        font-size: 16px;
        padding-bottom: 20px;
        @include mobile {
            cursor: pointer;
            border-bottom: 1px solid $grey-color08;
        }
        @include tablet {
            cursor: pointer;
            border-bottom: 1px solid $grey-color08;
        }
        &:after {
            @include mobile {
                font-family: 'InformaIcons';
                content: "\e906";
                position: absolute;
                right: 15px;
            }
            @include tablet {
                font-family: 'InformaIcons';
                content: "\e906";
                position: absolute;
                right: 15px;
            }
        }
    }
    .heading-collapsed {
        border-bottom: none;
        &:after {
            color: $grey-color07;
            font-size: 23px;
            @include mobile {
                content: "\e912";
            }
            @include tablet {
                content: "\e912";
            }
        }
    }
    .panel-group {
        border-top: 1px solid #ccc;
        margin-bottom: 0;
        margin-top: 20px;
        padding-top: 5px;
        margin-top: 30px;
        @include mobile {
            border-top: none;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 0;
        }
        @include tablet {
            border-top: none;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 0;
        }
    }
    .panel {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $grey-color08;
        box-shadow: none;
        margin-top: 0;
        @include mobile {
            padding: 0;
            &:last-child {
                border-bottom: none;
            }
        }
        @include tablet {
            padding: 0;
            &:last-child {
                border-bottom: none;
            }
        }
        .panel-collapse {
            .panel-body {
                border: none;
                padding: 0;
                ul {
                    padding: 0 0 10px;
                    margin: 0;
                    li {
                        list-style-type: none;
                        margin-bottom: 10px;
                        display: block;
                        &.active {
                            @include border-focus;
                        }
                        label {
                            color: $grey-color04;
                            font-size: 12px;
                            span {
                                display: inline-block;
                                line-height: 20px;
                                text-align: left;
                                vertical-align: top;
                                white-space: normal;
                                word-wrap: break-word;
                                padding-right: 15px;
                            }
                        }
                    }
                    &.show-less {
                        li {
                            display: none;
                            &:nth-child(-n+5) {
                                display: block;
                            }
                        }
                    }
                }
                .show-more {
                    //color: $orange;
                    display: none;
                    margin-bottom: 20px;
                    &.show {
                        display: inline-block;
                    }
                }
            }
        }
        .panel-heading {
            position: relative;
            background-color: transparent;
            padding: 15px 0;
            .custom-checkbox {
                top: 4px;
                span {
                    text-indent: -9999px;
                    position: absolute;
                    left: 0;
                    color: $grey-color04;
                }
                &.active {
                    label {
                        span {
                            &:before {
                                @include border-focus;
                            }
                        }
                    }
                }
            }
            h3 {
                font-size: 16px;
                font-weight: 200;
                line-height: 22px;
            }
            a {
                color: $grey-color04;
                text-decoration: none;
                strong {
                    &.disabled {
                        color: $grey-color06;
                    }
                }
                &:before {
                    font-weight: normal;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    display: block;
                    border-radius: 100%;
                    content: "\e913";
                    color: $grey-color07;
                    font-size: 23px;
                    font-family: "InformaIcons" !important;
                    display: inline;
                    position: absolute;
                    right: 0px;
                }
                &.collapsed {
                    &:before {
                        content: "\e912";
                        color: $grey-color07;
                        display: inline;
                    }
                }
            }
        }
    }
}

.clear-mobile {
    display: none;
    background: #fff;
    padding: 20px 10px 0;
    .clear-all {
        visibility: hidden;
        &:after {
            content: 'X';
            margin-left: 5px;
        }
        &.noOpaque{
            visibility: visible;
        }
    }
}
