.infograph{
  margin-top: 30px;
  @include mobile {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include tablet {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-bg{
    background-color: #3C404C;
    padding: 30px 15px;
    position: relative;
    min-height: 138px;
  }
  .row[data-items="4"]:first-child{
    @media (max-width: 1023px) and (min-width: 768px)
       {
           margin-left: 130px;
        }
  }

  .row[data-items="3"]:first-child{
    margin-left: 205px;
    @include tablet {
      margin-left: 138px;
    }
    @include mobile {
      margin-left: 0px;
    }
  }
  .row[data-items="2"]:first-child{
    margin-left: 327px;
    @include tablet {
      margin-left: 138px;
    }
    @include mobile {
      margin-left: 0px;
    }
  }
    .main-container{
      width: 280px;
      margin: 0 auto;
      display: inline-block;
      @media (max-width: 1141px) and (min-width: 1024px)
         {
             width: 246px;
          }
    }
    .number-container{
      font-size: 40px;
      font-weight: bolder;
      color: #FED402;
    }
    .container-marg{
        margin-left: 30px;
    }
    .clients{
      position: relative;
      @include mobile {
        margin-bottom: 25px;
      }
      &:after {
        content: '';
        border-left: 1px solid #666666;
        height: 50%;
        position: absolute;
        top: 8px;
        right: 0px;
        @include mobile {
          display: none;
        }
      }
      &:last-child {
        &:after {
            border-left: none;
        }
      }
       @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
         &:nth-child(even){
           &:after {
               border-left: none;
           }
         }
       }
    }

    .sub-desc{
      color: #C1C1C1;
    }

}
