#analyst-profile {
	overflow: hidden;
	h2 {
		margin: 0 0 15px 0;
	}
	a {
		color: $orange
	}
	.analyst-content {
		margin-top: 20px;
	}
	.introduction {
		margin-bottom: 20px;
	    background-color: #ffea7f;
	    padding: 48px 15px 10px;
	    position: relative;
	    transform: skewY(-2deg);
	    margin-top: -35px;
	    min-height: 185px;
	    position: relative;
	    .container {
	    	transform: skewY(2deg);
	    }
		.image {
		    width: 100px;
		    float: right;
		    img {
		    	@include border-radius(50%);
		    	width: 100%;
		    	border: 2px solid $white;
		    }
		}
		.details {
			width: calc(100% - 120px);
			float: left;
			p {
				margin-bottom: 25px;
			}
		}
		.place, .experience {
			padding-left: 30px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
			}
		}
	}
	.nav-links {
			list-style-type: none;
			padding-left: 0;
			float: left;
			margin-top: 5px;
			@include desktop {
				position: absolute;
				top: 60px;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			li {
				@include border-radius(50%);
				display: inline-block;
				font-size: 22px;
			    background-color: #6a7287;
			    margin-right: 5px;
			    width: 35px;
			    height: 35px;
			    text-align: center;
			    position: relative;
			    a {
			    	vertical-align: middle;
			    	color: $white;
			        position: absolute;
					top: 50%;
    				transform: translateY(-50%) translateX(-50%);
    				left: 50%;
    				&:hover, &:active {
    					outline: 0;
    					border: 0;
    					text-decoration: initial;
    				}
			    }
				&:last-child {
					margin-right: 0;
				}
			}
		}
	.descriptions {
		height: 100px;
		min-height: 100px;
		overflow: hidden;
		&.show-content {
			height: auto;
			+ .btn-container {
				.show-options {
					&:after {
						content: '-';
					}
				}
				.more {
					display: none;
				}
				.less {
					display: block;
				}
			}
		}
	}
	.show-options {
		width: 105px;
		padding: 5px 0;
		height: 35px;
		border-bottom: 2px solid $yellow;
		display: inline-block;
		position: relative;
		color: $text-gray-dark;
		margin-top: 30px;
		text-align: left;
		text-decoration: none;
		&:after {
			content: "+";
			position: absolute;
			right: 0;
			top: 5px;
			width: 20px;
			height: 20px;
			background-color: $yellow;
			color: $white;
			font-weight: bold;
			@include border-radius(50%);
			font-size: 16px;
			padding: 0 6px;
		}
		.more {
			display: block;
		}
		.less {
			display: none;
		}
	}
	.more-stories {
		margin-top: 0;
		@include mobile {
			margin-top: 50px;
		}
		@include tablet {
			margin-top: 30px;
		}
		.heading {
			font-size: 18px;
		}
		.feature {
			list-style-type: none;
			padding-left: 32px;
			margin-bottom: 40px;
			li {
				padding: 3px 0;
				position: relative;
				@include desktop {
					width: 50%;
					float: left;
				}
				&:before {
					content: "\e914";
				    font-family: 'InformaIcons';
				    position: absolute;
				    left: -32px;
				    top: 0;
				    font-size: 16px;
				    color: $yellow;
				    @include border-radius(50%);
				    font-weight: normal;
				}
			}
			&:after {
				content: '';
				clear: both;
				display: block;
			}
		}

	}
	.place:before {
		width: 18px;
	    height: 26px;
	    background-image: url("Static/images/place.png");
	    left: 0;
	    top: -5px;
	}
	.experience:before {
		width: 20px;
		height: 28px;
		background-image: url('Static/images/experience.png');
		left: 0;
	    top: -5px;
	}
}
.bold {
	font-weight: bold;
}