.tmt-newco { 
	#analyst-profile {
		background-color: #ffffff;
		.introduction {
			background-color: #f8f8f8;
			padding: 90px 0 0;
			height: 330px;
			margin-bottom: 65px;
			@include tablet {
				padding: 50px 0 0;
				margin-bottom: 15px;
			}
			@include mobile {
				padding: 0px 0 0;
				margin-bottom: 15px;
			}
			.container {
				background-image: url(../../Static/images/tmt-newco/analyst-profile-bg.png);
				background-repeat: no-repeat;
				background-position: right bottom;
				height: 240px;
				@include tablet {
					background-size: auto 55%;
					height: 280px;
				}
				@include mobile {
					height: 330px;
					padding-top: 50px;
					background: linear-gradient(356deg, rgba(40,201,247,1) 0%, rgba(212,149,236,1) 77%, rgba(252,125,239,1) 100%);
				}
			}
			.details {
				width: calc(100% - 197px);
				@include mobile {
					width: calc(100% - 110px);
				}
				h1 {
					font-size: 60px;
					line-height: 66px;
					color: #000;
					font-weight: normal;
					@include mobile {
						font-size: 36px;
						line-height: 42px;
						color: #fff;
					}
				}
				p {
					font-size: 14px;
					font-weight: 400;
					color: #000;
					margin-bottom: 0px;
					@include mobile {
						color: #fff;
					}
					span {
						font-weight: bold;
					}
				}
				p.designation {
					margin-top: 18px;
					@include mobile {
						margin-top: 10px;
					}
				}
				p.place {
					padding-left: 0px;
					margin-top: 18px;
					@include mobile {
						margin-top: 10px;
					}
					&:before {
						background: none;
					}
				}
				p.experience {
					padding-left: 0px;
					margin-top: 5px;
					&:before {
						background: none;
					}
				}
			}
			.image {
				width: 172px;
				height: 172px;
				margin-top: 0px;
				@include tablet {
					width: 150px;
					height: 150px;
				}
				@include mobile {
					width: 100px;
					height: 100px;
				}
				img {
					border: none;
				}
			}
			.social-links {
				.at-icon-wrapper {
					background: #fff !important;
				}
			}
			.nav-links {
				.at-icon {
					fill: #8e96e9;
					color: #8e96e9;
				}
			}
		}
		.more-stories {
			.heading {
				font-size: 14px;
				font-weight: bold;
				color: #000;
				margin-top: 45px;
				margin-bottom: 3px;
			}
			.feature {
				list-style-type: disc;
				padding-left: 14px;
				font-weight: normal;
				color: #000;
				margin-bottom: 0px;
				li {
					width: 100%;
					float: none;
					padding-right: 0px;
					&:before {
						content: '';
					}
				}
			}
		}
		.nav-links {
			bottom: -26px;
			top: auto;
			@include tablet {
				margin-top: 20px;
				float: none;
				display: block;
			}
			@include mobile {
				margin-top: 20px;
				float: none;
				display: block;
			}
			li {
				background-color: #fff;
				.addthis_button_twitter_follow, .addthis_button_linkedin_follow {
					.at-icon-wrapper {
						.at-icon {
							margin-top: 2px;
						}
					}
				}
			}
		}
		.analyst-content {
			margin-top: 45px;
		}
		.descriptions {
			padding-right: 0px;
			.bold {
				color: #000;
			}
			p {
				color: #000;
				font-size: 14px;
				line-height: 25px;
			}
		}
		.btn-container {
			padding-right: 0px;
		}
		.show-options {
			border-bottom: 2px solid #fff;
			color: #000;
			&:after {
				color: #a54eac;
			}
			&:hover {
				&:after {
					color: #b650be;
				}
			}
		}
	}
	.feature li {
		&:before {
			content: inherit;
		}
	}
}
#analyst-profile {
	overflow: hidden;
	h2 {
		margin: 0 0 15px 0;
		padding: 0;
		color: $white;
	}
	.analyst-content {
		margin-top: 20px;
	}
	.analyst-features {
		margin-bottom: 30px;
	}
	.introduction {
		padding: 30px 0 15px 0;
		margin-bottom: 30px;
	    background-color: $grey-color02;
	    position: relative;
	    @include mobile {
	        padding: 30px 0 25px 0;
	        margin-bottom: 0;
	    }
	    @include tablet {
	        padding: 30px 0 25px 0;
	        margin-bottom: 0;
	    }
		.image {
	        width: 115px;
		    height: 115px;
		    float: right;
		    margin-top: 15px;
		    @include mobile {
	    	    width: 60px;
				height: 60px;
	    	}
		    img {
		    	@include border-radius(50%);
		    	width:  100%;
		    	height: 100%;
		    	border: 2px solid $white;
		    }
		}
		.details {
			width: calc(100% - 140px);
			float: left;
			position: relative;
			@include mobile {
				width: calc(100% - 75px);
			}
			p {
				margin-bottom: 25px;
			    font-size: 16px;
				font-weight: 200;
				@include mobile {
					font-size: 13px;
				}
			}
		}
		.social-links{
	    	.at-icon-wrapper{
	    		background:$grey-color05 !important;
	    	}
	    }
		.place, .experience {
			padding-left: 30px;
			position: relative;
			color: $white;
			&:before {
				content: '';
				position: absolute;
			}
		}
		// &.analyst {
		// 	background-color: $yellow;
		// }
		// &.consultant {
		// 	background-color: #ffea7f;
		// }
		// &.reporter {
		// 	background-color: #fff7cc;
		// }
	}
	.nav-links {
			list-style-type: none;
			padding-left: 0;
			float: left;
			margin-top: 5px;
			@include desktop {
			    position: absolute;
			    top: 50%;
			    right: 0;
			    transform: translate(0, -50%);
			    margin-top: 0;
			}
			li {
				display: inline-block;
			    margin-right: 15px;
			    width: 35px;
			    height: 35px;
			    text-align: center;
			    position: relative;
			    background-color: $grey-color05;
			    width: 40px;
			    height: 40px;
			    @include border-radius(50%);
			    a {
			    	vertical-align: middle;
			    	color: $white;
			        position: absolute;
					top: 50%;
    				transform: translateY(-50%) translateX(-50%);
    				left: 50%;
    				font-size: 0;
    				&.addthis_button_linkedin_follow, &.addthis_button_twitter_follow {
	    			    line-height: 0;
	    			    height: 22px !important;
	    			    transform: translateY(-18px) translateX(-50%);
	    			}
	    			&:before {
	    				font-size: 24px;
	    			}
    				&:hover, &:active {
    					outline: 0;
    					border: 0;
    					text-decoration: initial;
    				}
			    }
				&:last-child {
					margin-right: 0;
				}
			}
		}
	.descriptions {
		// height: 190px;
		min-height: 110px;
		overflow: hidden;
		padding-right: 45px;
		margin-bottom: 30px;
		@include mobile {
			padding-right: 0;
		}
		.bold {
			color: $grey-color03;
		}
		.bold + div {
			height: 39px;
			overflow:hidden;
			color: $grey-color03;
		}
		.bold + div.disableReadMore {
			height: auto;
			overflow:hidden;
			color: $grey-color03;
		}
		p{
			margin: 0;
			color: $grey-color03;
			word-wrap: break-word;
		}
		&.show-content {
			height: auto !important;
			.bold + div {
				height: auto !important;
			}
			+ .btn-container {
				.show-options {
					&:after {
						content: "\e913";
					}
				}
				.more {
					display: none;
				}
				.less {
					display: block;
				}
			}
		}
		.bold {
			margin-bottom: 10px;
		}
	}
	.btn-container {
		padding-right: 45px;
		@include mobile {
			text-align: center;
			padding-right: 0;
		}
	}
	.show-options {
		min-width: 105px;
    	padding: 5px 30px 5px 0;
   		height: 35px;
		border-bottom: 2px solid $yellow;
		display: inline-block;
		position: relative;
		color: $grey-color03;
		text-align: left;
		text-decoration: none;
		margin-bottom: 30px;
		@include mobile {
			padding: 0 0 45px 0;
			text-align: center;
		}
		&:after {
			content: "\e912";
			position: absolute;
			right: 0;
			top: 0;
			font-size: 20px;
			font-family:'InformaIcons';
			@include mobile {
				top: 20px;
				right: 50%;
				margin-right: -10px;
			}
		}
		.more {
			display: block;
		}
		.less {
			display: none;
		}
	}
	.more-stories {
		margin-top: 0;
		.heading {
			font-size: 18px;
			margin-top: 20px;
			margin-bottom: 15px;
			i {
				margin-right: 5px;
			}
		}
		.feature {
			list-style-type: none;
			padding-left: 32px;
			margin-bottom: 20px;
			li {
				padding: 3px 0;
				position: relative;
				color: $grey-color03;
				a {
					color: $grey-color04;
				}
				@include desktop {
					width: 49%;
					float: left;
					padding-right:30px;
				}
				@include mobile {
					margin-bottom: 10px;
				}
			}
			&:after {
				content: '';
				clear: both;
				display: block;
			}
		}

	}
	.place:before {
		width: 18px;
	    height: 26px;
	    background: url(/Static/images/spritesheet.png) no-repeat;
	    left: 0;
	    top: -5px;
	    background-position: -5px -313px;
	}
	.experience:before {
		width: 20px;
		height: 28px;
		background: url(/Static/images/spritesheet.png) no-repeat;
		left: 0;
	    top: -5px;
	    background-position: -5px -345px;
	}
}
.bold {
	font-weight: bold;
}
.btn-reset {
	display: inline-block;
    padding: 5px;
    background-color: #6a7285;
    border: 1px solid #e2e3e8;
    color: #e2e3e8;
    font-size: 12px;
    margin: 0 10px 10px 0;
    color: $white;
    padding-right: 40px;
    position: relative;
    &:after {
        content: 'x';
	    position: absolute;
	    right: 0;
	    font-size: 14px;
	    top: 3px;
	    border-left: 1px solid #fff;
	    padding: 0 6px;
    }
    .details{
		.social-links{
	    	.at-icon-wrapper{
	    		line-height: 56px;
	    		background-color: transparent !important;
	    	}
	    }
    }
}