.resource-list {
    background-color: $white;
    padding: 30px 0;
	.list-container {
        ul.resource-list {
            padding: 0;
            list-style-type: none;
            li {

                padding: 0 15px;
                margin-bottom: 30px;
                width: 33%;
                float: left;
                @include tablet {
                    width: 50%;
                }
                @include mobile {
                    width: 100%;
                }
                .columns {
                    background-color: #f6f6f8;
                    padding: 15px;
                }
                .list-content {
                    min-height: 156px;
                }
                .brand-type{
                  font-weight:700;
                  font-size: 0.9em;
                  display: block;
                  padding-bottom: 10px;
                }
                .category {
                    display: none !important;
                    padding-bottom: 10px;
                    margin-right: 5%;
                    strong {
                        display: block;
                        padding:3px 8px;
                        font-weight: 400;
                        font-size: 0.9em;
                        color: $grey-color10;
                        background-color:$grey-color03;
                    }
                }
                .content-type{
                    font-weight:700;
                    font-size: 0.9em;
                }
                .poduct-brand-subheading {
                    font-size: $font-size-h2;
                    font-weight: bold;
                }
                .description {
                    padding-bottom: 20px;
                }
                .video-container {
                    max-height: 156px;
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 20px;
                    img {
                        width: 100%;
                        height: auto;
                        max-width: 100%;
                        float: none;
                        display: block;
                    }
                    .play-icon {
                        color: #fff;
                        display: block;
                        font-size: 5em;
                        height: 30px;
                        position: absolute;
                        right: 50%;
                        top: 25%;
                        width: 30px;
                    }
                }
                .article-info {
                    display: block;
                    em {
                        display: inline-block;
                        min-width: 70px;
                        font-style: normal;
                    }
                    strong {
                        display: inline-block;
                        vertical-align: top;
                        width: auto;
                        @include mobile {
                            width: 70%;
                        }
                    }
                }
                .btn-container {
                    background-color: #f6f6f8;
                    padding: 15px;
                    width: 100%;
                    a {
                        min-width: 50%;
                        max-width: 60%;
                        display: block;
                        &:after {
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }
    .btn.btn-showMore {
        background: none;
        width: 162px;
        padding: 15px 0;
        margin: 0 auto;
        text-align: left;
        color: #444957;
        border: none;
        border-bottom: 2px solid #ffd500;
        display: block;
        @include mobile {
            width: 180px;
            text-align: center;
            padding-bottom: 40px;
        }
        &:after {
            content: '+';
            right: 10px;
            color: #fff;
            background: #ffd500;
            height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 14px;
            font-size: 24px;
            top: 9px;
            @include mobile {
                top: 35px;
                right: 50%;
                margin-right: -15px;
            }
        }
        .more {
            display: block;
            padding-left: 8px;
        }
        .less {
            display: none;
        }
        &.showLess {
            &:after {
                content: '-';
            }
            .more {
                display: none;
            }
            .less {
                display: block;
            }
        }
    }
}
