<section id="article-headlines-section">
    <div class="article-headlines">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="article-filter-section">
                        <h2>Latest research</h2>
                        <span>Select a category to view articles</span>
                        <ul id="article-category-list">
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="yesno">
                                    <span class="radio-fill"></span>
                                </label>
                                <span>All categories</span>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="yesno">
                                    <span class="radio-fill"></span>
                                </label>
                                <span>Digital service providers</span>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="yesno">
                                    <span class="radio-fill"></span>
                                </label>
                                <span>Network vendors</span>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="yesno">
                                    <span class="radio-fill"></span>
                                </label>
                                <span>Technology buyers</span>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="yesno">
                                    <span class="radio-fill"></span>
                                </label>
                                <span>Enterprise IT vendors</span>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="yesno">
                                    <span class="radio-fill"></span>
                                </label>
                                <span>Media companies</span>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="yesno">
                                    <span class="radio-fill"></span>
                                </label>
                                <span>Professional servies and finance</span>
                            </li>
                            <li>
                                <label class="custom-radio">
                                    <input type="radio" name="yesno">
                                    <span class="radio-fill"></span>
                                </label>
                                <span>Additional category</span>
                            </li>
                        </ul>
                        <div class="article-filter-section-for-mob">
                            <div class="custom-dropdown">
                                <div class="all-category">
                                    <a id="category-value"><span class="triangle-right"></span>All Categories</a>
                                    <div class="dropdown-content">
                                        <div class="drop-content">
                                            <ul>
                                                <li>
                                                    <label class="custom-radio">
                                                        <input type="radio" name="yesno" id="all-category" checked="checked">
                                                        <span class="radio-fill"></span>
                                                    </label>
                                                    <p class="sub-seg">All</p>
                                                </li>
                                                <li>
                                                    <label class="custom-radio">
                                                        <input type="radio" name="yesno">
                                                        <span class="radio-fill"></span>
                                                    </label>
                                                    <p class="sub-seg">1</p>
                                                </li>
                                                <li>
                                                    <label class="custom-radio">
                                                        <input type="radio" name="yesno">
                                                        <span class="radio-fill"></span>
                                                    </label>
                                                    <p class="sub-seg">2</p>
                                                </li>
                                                <li>
                                                     <label class="custom-radio">
                                                        <input type="radio" name="yesno">
                                                        <span class="radio-fill"></span>
                                                    </label>
                                                    <p class="sub-seg">3</p>
                                                </li>
                                                <li>
                                                     <label class="custom-radio">
                                                        <input type="radio" name="yesno">
                                                        <span class="radio-fill"></span>
                                                    </label>
                                                    <p class="sub-seg">4</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="headline-carousel-section">
    <div class="headline-carousel" id="slick-carousel-article">
        <div class="container">
            <ul class="list-container" data-slider-dots="true" data-slider-infinite="true" data-slides-show="3"
                data-slides-scroll="3" data-speed="400" data-autoplay-speed="4000" data-autoplay="false" pagination="true"
                accessibility="true" itemsperframe="3">
                <li class="image-container">
                    <div class="col-xs-12">
                        <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                            data-showform="True">
                            <a href="#">
                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                            </a>
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="type">
                                            Service Provider Technology
                                        </p>
                                        <h4>
                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289"
                                                tabindex="0">Cisco launches new silicon, 8000 Series router, and XR7
                                                products</a>
                                        </h4>
                                        <p class="description">
                                            Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                            architecture. The flexibility includes software, hardware, and processor sales
                                            options
                                            allowing for service providers to build router networks their way.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="image-container">
                    <div class="col-xs-12">
                        <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                            data-showform="True">
                            <a href="#">
                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                            </a>
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="type">
                                            Service Provider Technology
                                        </p>
                                        <h4>
                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289"
                                                tabindex="0">Cisco launches new silicon, 8000 Series router, and XR7
                                                products</a>
                                        </h4>
                                        <p class="description">
                                            Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                            architecture. The flexibility includes software, hardware, and processor sales
                                            options
                                            allowing for service providers to build router networks their way.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="image-container">
                    <div class="col-xs-12">
                        <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                            data-showform="True">
                            <a href="#">
                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                            </a>
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="type">
                                            Service Provider Technology
                                        </p>
                                        <h4>
                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289"
                                                tabindex="0">Cisco launches new silicon, 8000 Series router, and XR7
                                                products</a>
                                        </h4>
                                        <p class="description">
                                            Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                            architecture. The flexibility includes software, hardware, and processor sales
                                            options
                                            allowing for service providers to build router networks their way.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="image-container">
                    <div class="col-xs-12">
                        <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                            data-showform="True">
                            <a href="#">
                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                            </a>
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="type">
                                            Service Provider Technology
                                        </p>
                                        <h4>
                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289"
                                                tabindex="0">Cisco launches new silicon, 8000 Series router, and XR7
                                                products</a>
                                        </h4>
                                        <p class="description">
                                            Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                            architecture. The flexibility includes software, hardware, and processor sales
                                            options
                                            allowing for service providers to build router networks their way.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="image-container">
                    <div class="col-xs-12">
                        <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                            data-showform="True">
                            <a href="#">
                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                            </a>
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="type">
                                            Service Provider Technology
                                        </p>
                                        <h4>
                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289"
                                                tabindex="0">Cisco launches new silicon, 8000 Series router, and XR7
                                                products</a>
                                        </h4>
                                        <p class="description">
                                            Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                            architecture. The flexibility includes software, hardware, and processor sales
                                            options
                                            allowing for service providers to build router networks their way.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="image-container">
                    <div class="col-xs-12">
                        <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                            data-showform="True">
                            <a href="#">
                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                            </a>
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="type">
                                            Service Provider Technology
                                        </p>
                                        <h4>
                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289"
                                                tabindex="0">Cisco launches new silicon, 8000 Series router, and XR7
                                                products</a>
                                        </h4>
                                        <p class="description">
                                            Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                            architecture. The flexibility includes software, hardware, and processor sales
                                            options
                                            allowing for service providers to build router networks their way.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="image-container">
                    <div class="col-xs-12">
                        <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                            data-showform="True">
                            <a href="#">
                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                            </a>
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="type">
                                            Service Provider Technology
                                        </p>
                                        <h4>
                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289"
                                                tabindex="0">Cisco launches new silicon, 8000 Series router, and XR7
                                                products</a>
                                        </h4>
                                        <p class="description">
                                            Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                            architecture. The flexibility includes software, hardware, and processor sales
                                            options
                                            allowing for service providers to build router networks their way.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="image-container">
                    <div class="col-xs-12">
                        <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                            data-showform="True">
                            <a href="#">
                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                            </a>
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="type">
                                            Service Provider Technology
                                        </p>
                                        <h4>
                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289"
                                                tabindex="0">Cisco launches new silicon, 8000 Series router, and XR7
                                                products</a>
                                        </h4>
                                        <p class="description">
                                            Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                            architecture. The flexibility includes software, hardware, and processor sales
                                            options
                                            allowing for service providers to build router networks their way.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

