.main-header {
    .header-logo {
        height: 100px;
        vertical-align: middle;
        background-color: $gray-light-bg;
        .navbar-header {
            padding-top: 18px;
        }
    }
    .navbar {
        border: none;
    }
    .header-links {
        height: 50px;
        vertical-align: middle;
        background-color: $gray-drak-bg;
        .navbar-nav > li > a {
            color: $navbar-default-color;
            font-weight: bold;
        }
        .navbar-nav > li > a:hover {
            color: $brand-secondary;
        }
    }
}
// overriding the default style from bootstrap
.navbar-nav {margin:0}
