//Element level
body {
  background: $body-bg;
}
h1 {
    font-family: FSMe-Bold;
    font-size: 40px;
    &.dark {
        color: $text-gray;
    }
}
h3 {
  font-size: 17px;
  &.light {
    color: #fff;
  }
  &.gray {
    color: $gray-dark;
  }
}
.btn {
    position: relative;
    &:after {
        position: absolute;
    }
    // based on transparency
    &.semi-trans, &.trans {
        background: none!important;
    }
    &.trans {
        border: none!important;
    }
    // based on bg color
    &.orange {
        background: $orange!important;
    }


}


//common class
.alignVertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
