@import "variables";
/* If you have a theme for yourself which you need to follow this then extend this agri-theme to that class and make
appropriate style change */
.agri-theme {
    
    .bg-gray-light {
        background-color: $gray-light-bg;
    }
    .bg-gray-dark {
        background-color: $gray-dark-bg;
    }
    .bg-white {
        background-color: $white;
    }
    .bg-light-blue {
        background: $blue-light-bg;
    }
    .bg-lighter-blue {
        background: $blue-lighter-bg;
    }
    @mixin header-color($param) {
         @if($param == 'bg-gray-dark'){
            color: #fff;
        }
    }
    .bg-gray-dark {
        h2, h3 {
            color: $white;
        }
        .btn {
            color: $white;
        }
    }
}

//Add your theme name here and use it in pages where such styling is required.
//.my-theme { @extend .agri-theme; }
