@import "variables";
@import "theme-variables";
@import "mixins";
//@import "theme";
@import "hero-banner/sass/hero-banner";
@import "home-sector-list/sass/sector-list";
@import "home-brand-list/sass/brand-list";
@import "home-agri-report/sass/home-agri-report";
@import "home-contactus/sass/contactus";
@import "pdp-hero/sass/pdp-hero";
@import "article-list/sass/article-list";
@import "category-filter/sass/category-filter";
@import "headline-list/sass/headline-list";
@import "pdp-feature-list/sass/pdp-feature-list";
@import "pdp-market-focus/sass/pdp-market-focus";
@import "pdp-customer-quote/sass/pdp-customer-quote";
@import "pdp-navigation/sass/pdp-navigation";
@import "analyst-profile/sass/analyst-profile";
@import "home-social/sass/home-social";
@import "pdp-analyst/sass/pdp-analyst";
@import "analyst-profile-events/sass/analyst-profile-events";
@import "faqs/sass/faqs";
@import "training-material/sass/training-material";
@import "about-us-description/sass/_about-us-description";
@import "about-us-infograph/sass/about-us-infograph";
@import "about-us-Inpage/sass/about-us-hero";
@import "contact-us-brand/sass/contact-us-brand";
@import "sectorpage-strengths/sass/sectorpage-strengths";
@import "search-results/sass/search-results";
@import "search-results/sass/search-filter";
@import "search-results/sass/search-refine";
@import "analyst-search/sass/analyst-search";
@import "contactUsPage-contactUs/sass/contactUsPage-contactUs";
@import "article-header/sass/article-header";
@import "casestudy-infograph/sass/casestudy-infograph";
@import "articlepage-quote/sass/articlepage-quote";
@import "casestudy-Quote-Video/sass/casestudy-Quote-Video";
@import "events-page/sass/events-page";
@import "events-search/sass/events-search";
@import "support-page-tabs/sass/support-page-tabs";
@import "services-list/sass/services-list";
@import "help-faqs/sass/help-faqs";
@import "videos/sass/videos";
@import "resource-page-filter/sass/resource-filter";
@import "videos/sass/video-full";
@import "videos/sass/video-mini";
@import "article-terms/sass/article-terms";
@import "resource-list/sass/resource-list";
@import "videos/sass/video-background";
@import "form-wffm/sass/form-wffm";
@import "form-wffm/sass/form-registration";
@import "form-wffm/sass/form-wffm-calender";
@import "sitemap/sass/sitemap";
@import "samplecontent-freearticle/sass/samplecontent-freearticle";
@import "rte-custom-table/sass/rte-table";
@import "pageNotFound/sass/pageNotFound";
@import "pdp-brochure/sass/pdp-brochure";
@import "recommendation-register-banner/sass/recommendation-register-banner";
@import "rp-newsFlash/sass/rp-newsFlash";
@import "pharma-home-ourProducts/sass/pharma-home-ourProducts";
@import "recomended-articles/sass/recomended-content";
@import "dashboard-preference/sass/dashboard-preference";
@import "Welcome-description/sass/Welcome-description";
@import "recommendation-tabs/sass/recommendations-tabs";
@import "product-login/sass/product-login";
@import "recommended-tips/sass/recommended-tips";
@import "recom-products/sass/recom-products";
@import "rich-text-editor/sass/rich-text-editor";
@import "tech-sitemap/sass/tech-sitemap";
// @import "product-refine-result/sass/product-refine-results";
@import "product-refine-result/sass/product-refine-results";
@import "form-registration-myinterests/sass/form-registration-myinterests";
//@import "form-login-myinterests/sass/form-login-myinterests;
//@import "diagnostic";
@import "gallery-team-profile/sass/gallery-team-profile";
@import "gallery-team/sass/gallery-team";
@import "community-segment/sass/community-segment";
@import "statistic-items/sass/statistic-items";
@import "meet-customer/sass/meet-customer";

@import "community-segment/sass/default";
@import "featured-products/sass/featured-products";
@import "tech-header/sass/tech-header";
@import "tech-footer/sass/tech-footer";
@import "brand-portfolio/sass/brand-portfolio";
@import "tech-brand-carousel/sass/tech-brand-carousel";
@import "events-listing/sass/events-listing";
@import "divisional-footer/sass/_divisional-footer";
@import "article/sass/article";
@import "tech-search-result/sass/tech-search-result";

@import "infografic-component/sass/infografic-component";
@import "two-column-grid/sass/two-column-grid";
@import "global-hero-banner/sass/global-hero-banner";
@import "articles-headlines/sass/article-headlines";
@import "article-searchlisting/sass/article-searchlisting";
@import "product-hero-banner/sass/product-hero-banner";

@import "newco-header/sass/newco-header";
@import "analyst-tile-visual-design/sass/analyst-tile-visual-design";
@import "sample-content-hero-banner/sass/sample-content-hero-banner";

@import "relevant-products/sass/relevant-products";

@import "campaign-carousel/sass/campaign-carousel";