/*! 2016-09-27 *//*! 2016-09-27 */* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'FSMe';
    src: url('../fonts/FSMeWeb-Regular.eot');  
    src:  url('../fonts/FSMeWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSMe.ttf')  format('truetype'),
        url('../fonts/FSMe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FSMe';
    src: url('../fonts/FSMeWeb-Bold.eot');  
    src:  url('../fonts/FSMeWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSMe-Bold.ttf')  format('truetype'),
        url('../fonts/FSMe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FSMe';
    src: url('../fonts/FSMeWeb-Light.eot');  
    src:  url('../fonts/FSMeWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FSMe-Light.ttf')  format('truetype'),
        url('../fonts/FSMe-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'InformaIcons';
    src: url('../fonts/informa-icons.eot?3n5it7');
    src: url('../fonts/informa-icons.eot?3n5it7#iefix') format('embedded-opentype'), url('../fonts/informa-icons.ttf?3n5it7') format('truetype'), url('../fonts/informa-icons.woff?3n5it7') format('woff'), url('../fonts/informa-icons.svg?3n5it7#informa-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* line 319, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner {
    position: relative;
    overflow: hidden;
    font-family: "PT Serif", Georgia, serif;
    color: #444854;
}

@media (min-width: 1142px) {
    /* line 319, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner {
        height: 550px;
    }
}

@media (min-width: 768px) and (max-width: 1141px) {
    /* line 319, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner {
        padding: 0 30px;
    }
}


/* line 331, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner a:hover {
    text-decoration: none;
}


/* line 334, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner a:focus {
    text-decoration: none;
}


/* line 337, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner .close {
    position: absolute;
    top: 10px;
    right: 5px;
    float: right;
    z-index: 1;
    opacity: 1;
}


/* line 345, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner .cf-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 767px) {
    /* line 345, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .cf-img {
        right: -115px;
    }
}

@media (min-width: 768px) and (max-width: 1141px) {
    /* line 345, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .cf-img {
        right: -115px;
    }
}

@media (min-width: 1142px) {
    /* line 356, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row {
        padding: 80px;
    }
    /* line 360, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row .image img {
        max-width: 650px;
        max-height: 400px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    /* line 356, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row {
        padding: 50px 15px;
    }
    /* line 369, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row .content {
        margin-bottom: 15px;
        padding-right: 0;
        width: 85%;
        float: none;
    }
    /* line 373, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row .image {
        margin-bottom: 30px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1141px) {
    /* line 356, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row {
        padding: 20px;
    }
    /* line 379, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row .content {
        margin-bottom: 20px;
        padding-right: 0;
        width: 85%;
        float: none;
    }
    /* line 383, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row .image {
        margin-bottom: 30px;
        width: 100%;
    }
}


/* line 388, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner .row .content h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'FSMe';
    font-weight: bold;
    font-size: 40px;
    font-weight: 400;
}


/* line 392, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner .row .content h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'FSMe';
    font-weight: bold;
    font-size:39px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
}


/* line 396, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner .row .content h3 {
    margin-top: 40px;
    font-family: 'FSMe';
    font-weight: bold;
    color: #fff;
    font-size: 28px;
    line-height: 1.4;
}

@media (max-width: 767px) {
    /* line 396, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row .content h3 {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1141px) {
    /* line 396, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner .row .content h3 {
        margin-top: 15px;
    }
}


/* line 406, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner .row .content .btn {
    padding-right: 40px;
    font-family: 'FSMe';
    font-weight: bold;
    min-width: 275px;
    font-weight: 400;
}


/* line 411, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner .row .content .btn:after {
    font-family: "InformaIcons" !important;
    content: "\e904";
    right: 10px;
    top: 50%;
    margin-top: -12px;
    font-size: 16px;
    position: absolute;
    font-weight: normal;
}


/* line 423, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation1 {
    background-color: #5b4476;
}


/* line 425, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation1 .Variant1-description {
    display: block;
}

.marketing-banner.Variation1 .Variant1-description .description p{ 
    color: #fff;
    margin-bottom: 0;
    line-height: 1.5;
}
/* line 428, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation1 .Variant2-description {
    display: none;
}


/* line 432, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation1 .image img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) and (max-width: 1141px) {
    /* line 432, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner.Variation1 .image img {
        margin: 0 auto;
        width: 100%;
    }
}


/* line 440, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation1 .description {
    font-size: 18px;
    font-family: 'FSMe';
    font-weight: 200;
    padding: 40px 0;
}

@media (max-width: 767px) {
    /* line 440, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner.Variation1 .description {
        padding: 15px 0;
    }
}


/* line 447, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation1 .btn {
    border-color: #B83166 !important;
    color: #fff;
}


/* line 449, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation1 .btn:after {
    color: #fff;
}


/* line 455, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation2 {
    background-color: #444957;
    color: #fff;
}
.marketing-banner.Variation2 h3 {
    font-family: 'FSMe' !important;
    font-weight: 200 !important;
    color: #fff;
    font-weight: normal;
}

/* line 458, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation2 .Variant2-description {
    display: block;
}

.marketing-banner.Variation2 .Variant2-description p{
    color: #fff;
    line-height: 1.5;
    font-family: 'FSMe';
    font-weight: 200;
}
/* line 461, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
.marketing-banner.Variation2 .Variant2-description .btn {
    background: #B83166;
    font-size: 13px !important;
}
.marketing-banner.Variation2 .Variant1-description {
    display: none;
}


/* line 464, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation2 h2 {
    font-size: 30px;
}
.marketing-banner.Variation2 h3 {
    margin-top: 0 !important;
}

@media (min-width: 768px) and (max-width: 1141px) {
    /* line 468, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */
    .marketing-banner.Variation2 .image img {
        margin: 0 auto;
        width: 100%;
    }
}


/* line 475, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation2 .description {
    font-size: 14px;
    padding: 20px 0;
    margin-bottom: 10px;
}

.marketing-banner.Variation2 .description strong {
    font-size: 24px;
    font-family: 'FSMe';
    font-weight: bold;
}

/* line 479, ../fonts/../fonts/../fonts/src/sass/global/_banner.scss */

.marketing-banner.Variation2 .btn {
    background: #B83166 !important;
    color: #fff;
    font-size: 13px !important;
}


/*Tablet*/

@media (min-width: 768px) and (max-width: 1141px) {
    .marketing-banner .image {
        margin-left: 0;
    }
}


/*Mobile*/

@media (max-width: 767px) {
    .marketing-banner .row .content .btn {
        min-width: 160px;
    }
    .marketing-banner.Variation2 .image img {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .marketing-banner .row .content h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-family: 'FSMe';
      font-weight: bold;
      font-size: 30px;
      font-weight: 400;
  }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    background-image: none;
    padding: 15px;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    color: #444854;
    text-decoration: initial;
        border-width: 2px;
}

.marketing-banner .image,
.marketing-banner .content {
    float: right;
}

.marketing-banner .image {
    width: 58.33333%;
    margin-left: 8.33333%;
    position: relative;
}

.marketing-banner .content {
    width: 33.33333%;
}
.shopwindow-banner{
    max-height:100%!important;
}