@import "variables";
@import "theme-variables";
@import "mixins";
//parameters have to be sent accordingly
/* 1. Body Class Name
   2. Primary Color
   3. Secondary Color Darker Version
   4. Secondary Color Lighter Version
   5. NavLink Color
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Aleo');

//tech Theme
@include theme(tech-theme, $tech-indigo, $tech-sky, $tech-citrus, $tech-gray );

body {
    background: #fff !important;
}

@media screen and (max-width: 812px) {
    .sub-headline {
        font-size: 33px !important;
        line-height: 33px !important;
    }
}

@media screen and (max-width: 812px) {
    .sub-headline {
        font-size: 28px !important;
        line-height: 28px !important;
    }

    .discover-community p.subofsub-text {
        padding-left: 73px !important;
    }

    .imgleft .img-right {
        margin-right: 10px !important;
        margin-top: -8px !important;
        width: 60px;
    }

    .imgright .img-right {
        margin-left: 10px !important;
        margin-top: -8px !important;
        width: 60px;
    }
}

.tech-theme .btn.btnprimary.border-button {
    width: auto !important;
    color: #fff;
    background-color: #002244;
    border-radius: 25px;
    padding: 10px 45px;
    margin-bottom: 10px;
    height: auto !important;
    border: 2px solid transparent !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p.subofsub-text {
    padding-left: 140px;
}

div.subofsub-text {
    width: 50%;
    margin-left: 135px;
    margin-bottom: 30px;
}
/*Twitter Start*/

#social-section .container {
    /*//padding-left: 0px;
            //padding-right: 0px;*/
}

#social-section .slick-next {
    border-radius: 40px 1px 1px 40px;
}

#social-section .tech-theme .twitter-carousel .slick-arrow {
    background: #ddd;
}

#social-section .slick-prev {
    border-radius: 1px 40px 40px 1px;
}

#social-section .twitter-carousel .slick-next:before {
    font-size: 22px;
    top: 45px;
    left: 27px;
    color: #dbd600;
}

#social-section .twitter-carousel .slick-prev:before {
    top: 45px;
    left: 18px;
    color: #dbd600;
    font-size: 22px;
}



#social-section .tech-theme .twitter-carousel .slick-arrow {
    background: #ddd;
}

#social-section .twitter-carousel .slick-next {
    left: calc(100% - 40px);
    margin-left: 0;
}




#social-section .twitter-carousel .slick-prev {
    left: 0%;
    margin-left: 0px;
}

#social-section .container {
    width: 100%;
    padding: 0;
}

#social-section .twitter-carousel .panel .feed {
    padding: 0 45px;
}

#social-section h2:before {
    //content: "";
    //position: absolute;
    //font-family: 'InformaIcons';
    display: none;
}

#social-section h2:after {
    content: '\f099';
    position: relative;
    //font-family: 'InformaIcons';
    font-family: FontAwesome;
    left: 10px;
}

#social-section h2 {
    padding-left: 45px;
}

#social-section .twitter-carousel .slick-arrow {
    height: 80px;
    width: 40px;
}

#social-section .twitter-carousel .panel .feed .feed-heading > a:after {
    content: '|';
    color: #fff;
    left: -4px;
    position: relative;
}

#social-section .twitter-carousel .panel .feed .feed-heading > a {
    float: left;
}

#social-section .twitter-carousel .panel .feed .twit-img {
    margin-top: 25px;
}

#social-section {
    background-color: #182d50;
}

.tech-theme .twitter-carousel .message a {
    text-decoration: none;
    color: #03A9F4;
    border-bottom: 0px solid #fff;
    word-wrap: break-word;
}

html {
    font-family: open sans-serif;
}

@media screen and (max-width:768px) and (min-width:320px) {
    #social-section .twitter-carousel .slick-prev:before, #social-section .twitter-carousel .slick-next:before {
        top: 35px;
        left: 14px;
    }

    #social-section .twitter-carousel .slick-next {
        left: calc(100% - 35px);
    }

    #social-section .twitter-carousel .panel {
        height: 300px;
    }
}
/*Twitter End*/


.dot-img-left {
    background-image: url(/static/images/tech/leftdotted.png);
    background-size: 100%;
    width: 112px;
    height: 35px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.dot-img-right {
    background-image: url(/static/images/tech/rightdotted.png);
    background-size: 100%;
    width: 112px;
    height: 35px;
    background-repeat: no-repeat;
    margin-left: 20px;
}

/*for single image*/
.single-image {
    width: 100%;
    float: left;

    img {
        width: 100%;
    }
}

.search-icon {
    position: absolute;
    top: 12px;
}


section#hero-banner .btn {
    margin-left: 10px;
    color: #fff;
    padding: 10px 60px;
    border-radius: 30px;
    width: auto;
    height: auto;
    font-size: 18px !important;
    text-align: center;
}



section#hero-banner {
    max-height: 720px;
}



/*desktop max width function*/
div#tech-main-header .nav-bar, .hero-banner .vertical-align .for-left {
    max-width: 1380px;
    margin: 0 auto;
}

section#hero-banner h1 {
    width: 57%
}

.featured-products, section#customers_list, .Meet-customer, .tech-theme footer, #social-section {
    max-width: 1400px;
    margin: 0 auto;
}

/*
.discover-community, .reach-img-section {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 84px;
}
*/

/*desktop max width function*/

/*media query start*/

@media only screen and (max-width:768px) {

    .single-image {
        .hero-items {
            //position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 25px;

            .hero-cf-image {
                //position: absolute;
                //top: 90px;
                order: 2;
            }

            .vertical-align {
                //position: absolute;
                ///top: 11px;
                // height: 70px;
                //overflow: hidden;
                order: 1;

                .for-left, .for-right {
                    margin-left: 0px;
                }
            }

            .for-left, .for-right {
                h1 {
                    font-size: 24px;
                    line-height: 1.5;
                    color: #024;
                }

                p {
                    padding: 10px 15px;
                }
            }
        }
    }


    /*top header*/
    .sticky a.log-img img {
        width: 220px !important;
    }

    div#tech-main-header .nav-bar {
        padding: 10px 20px;
    }

    div#tech-main-header .stellarnav.mobile.right > ul {
        position: fixed;
        top: 0px;
    }
    /*banner section*/
    #productDetails #divsegment.wrapper-dropdown-5 {
        display: block;
        text-align: center;
    }
    /*discover comunity*/
    .discover-community p.subofsub-text {
        padding: 0 81px 0 0 !important;
        width: 100%;
    }

    .discover-community .sub-text-n-img {
        margin: 0 0;
    }

    .discover-community .sub-text-n-img {
        margin: 15px 0;
    }

    .discover-community {
        //position: relative;
        //z-index: 1;
        //top: 260px;
        display: inline-block;
    }
    /*global*/
    .row [class*='col-'] {
        padding: 0 15px;
    }
    /**/
    .reach-img-section {
        top: 178px;
    }

    .reach-img-section .global-discription {
        padding: 10px 0px 0 0px;
    }

    .reach-img-section .our-reach-container {
        padding: 20px 0px;
    }

    .reach-img-section .our-reach-container {
        padding: 20px 0px;
    }

    .our-reach-section .researchsubs .numberntext {
        font-size: 27px;
    }

    .our-reach-section .researchsubs span.plus {
        font-size: 27px !important;
        margin-top: 0px;
    }

    .featured-products {
        //position: relative;
        //top: 85px;
        //display: inline-block;
        width: 100%;
    }

    .our-reach-section .researchsubs .text {
        font-size: 12px;
    }

    .reach-img-section {
        background: #fff;
        display: inline-block;
        width: 100%;
        position: static;
    }

    .discover-community .gradient-box a.btn.btnprimary.border-button {
        font-size: 14px;
    }

    .discover-community .brand-log .row img.brand-img {
        max-width: 80%;
    }

    .featured-products .custom-owl-next, .featured-products .custom-owl-previous {
        //display: none;
    }

    #social-section {
        display: inline-block;
        width: 100%;

        h2 {
            font-size: 26px;
        }
    }

    #social-section .twitter-carousel .panel .feed .feed-heading span {
        font-size: 18px;
    }

    #social-section .twitter-carousel .slick-prev {
        margin-left: -5px;
    }

    .tech-theme .mc-button-child .btn.btnprimary.border-button {
        min-width: 140px;
    }

    .feature-brand-corousel.brand_list .border-button {
        font-size: 14px !important;
    }

    .Meet-customer .mc-button-div.fourbutton .mc-button-child {
        width: 40%;
    }
}

/*end media query*/




@media only screen and (min-width:768px) {
    .bannerheading-font-white {
        color: #fff !important;
    }

    .hero-items {
        position: relative;
        max-width: 1400px;
        margin: 0 auto;


        .vertical-align {
            //bottom: 50px;
            top: 35%;
            position: absolute;
            max-width: 1400px;
            margin: 0 auto;
            width: 100%;

            .for-left, .for-right {
                max-width: 100%;
                margin: 0 auto;
                width: 50%;

                h1 {
                    color: #024;
                    width: 100%;
                }

                p {
                    width: 75%;
                    font-size: 22px;
                    margin-top: 25px;
                    margin-left: 20px;
                }

                .cta-button-containor {
                    left: 0;
                    float: left;
                    margin: 10px 0;
                }
            }


            .for-center {
                max-width: 50%;
                margin: 0 auto;
                text-align: center;
            }

            .for-center h1 {
                color: #024;
            }

            .for-center p {
                width: 100%;
                font-size: 22px;
                margin-top: 25px;
                margin-left: 20px;
            }

            .full-width {
                max-width: 100%;
                text-align: left
            }



            .full-width p {
                width: 91%;
                font-size: 22px;
                margin-top: 25px;
                margin-left: 20px;
            }

            &.banner-bullet {
                top: 65%;
            }
        }
    }

    .hero-items.hero-carousel {
        max-width: 100%;

        .vertical-align {
            max-width: 100%;
            width: 100%;
            transform: translateY(370%);
        }
    }

}
.full-width h1 {
    color: #024;
}





/* Start Hero Banner Single Image handled from javascript*/
@media only screen and (max-width: 768px) {
    .vertical-align.empty-banner-image {
        padding: 10px 15px;
        margin: 10px auto;
        height: auto !important;
    }
}

/****for desktop****/
.vertical-align.empty-banner-image {
    position: static !important;
    padding: 20px 0px;
    margin: 10px auto;
    overflow: hidden;
}
/* End Hero Banner Single Image handled from javascript*/

/*Rich Text editor containor*/
.rich-text-editor .rich-text-cta {
    text-align: center;
    margin: 10px 0 0 0;
}

.dot-image-heading {
    align-items: center !important;
    margin-bottom: 10px;
    display: flex;
}

.rich-text-width-container {
    clear: both;
    max-width: 1400px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .mb-20 {
        margin-bottom: 20px;
    }

    .bio-detail {
        .parent-node {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
            }


            .moveColumnTop1 {
                order: 2;
            }

            .moveColumnTop2 {
                order: 1
            }
        }
    }
}



/*end Rich Text editor containor*/

/***Hero-Banner**/
section p {
    font-family: open sans;
    color: #565c6b;
    clear: both;
    padding-top: 15px;
    line-height: 26px;
}

section h1 {
    font-family: Aleo;
}

/***Hero-Banner-End**/


/*feature CTA Contact Form*/

.mc-button-div-contact {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}

.mc-button-div-contact .mc-button-child-contact {
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.mc-button-div-contact > div > a {
    width: 100%;
    background-color: #024;
    color: #fff;
    border: solid 2px rgba(205,218,11,.8);
    text-align: center;
    border-radius: 43px;
    padding: 10px;
    height: auto;
    cursor: pointer;
    padding: 10px 25px;
    font-weight: 700;
}

.mc-button-div-contact > div > a:focus {
    color: #fff;
}

@media (max-width: 810px) {
    .mc-button-div-contact .mc-button-child-contact {
        width: 43%;
        margin: 10px;
    }

    .mc-button-div-contact {
        flex-wrap: wrap;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .mc-button-div-contact .mc-button-child-contact {
        width: 40%;
    }

    #contact-us fieldset {
        width: 100% !important;
    }

    #contact-us .form-submit-border {
        padding: 0 !important;
        width: 120px;
        margin: 90px auto 0;
        width: 235px;
    }
}

#contact-us .modal-content, #contact-us form {
    background: #fff;
    color: #000;
    font-family: "Aleo";
    border-radius: 30px;
    padding: 10px;
    box-shadow: none;
}

#contact-us .page-header h1 {
    color: #000;
    margin: 0px 0px 20px 0px;
    text-transform: uppercase;
}

#contact-us .form-submit-border::after {
    display: none;
}

#contact-us input, #contact-us textarea {
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #000;
}

#contact-us .close span {
    font-size: 40px;
    color: #c5c5c5;
}

#contact-us .form-submit-border {
    padding: 0px !important;
}

#contact-us input[type="submit"] {
    background-color: #024;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    line-height: 20px;
    font-family: "Aleo";
}

#contact-us .form-recaptcha-text a {
    color: #656565;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

#contact-us .form-recaptcha-text {
    background: transparent !important;
    height: auto !important;
    overflow: hidden
}

#contact-us img {
    overflow: hidden;
    display: block;
    margin-top: 36px !important;
}

#contact-us fieldset:nth-child(even) {
    margin-right: 40px;
}

#contact-us fieldset {
    display: inline-block;
    width: 45%;
}

#contact-us .chosen-single {
    background: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid #000 !important;
}

#contact-us .tech-textarea textarea {
    height: 150px;
}

#contact-us .form-modal .modal-dialog {
    width: 40%;
}

@media only screen and (max-width:768px) {
    #contact-us .modal-content, #contact-us form {
        border-radius: 0;
    }

    #contact-us fieldset {
        display: block;
        width: 100%;
    }

    #contact-us .form-submit-border {
        //position: static;
        //margin: 18px;
        //display: block;
    }

    #contact-us input[type="submit"] {
        overflow: hidden;
        width: 250px !important;
        margin: 0 auto;
        position: static;
    }

    #contact-us .tech-textarea textarea {
        height: 100px;
    }
}

/*feature CTA Contact Form-End*/
.dot-img-left {
    background-image: url(/static/images/tech/leftdotted.png);
    background-size: 100%;
    width: 112px;
    height: 35px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.dot-img-right {
    background-image: url(/static/images/tech/rightdotted.png);
    background-size: 100%;
    width: 112px;
    height: 35px;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.dot-img-outer{
    margin-right: 18px;
    margin-top: 13px;
}

/*for single image*/
.single-image {
    width: 100%;
    float: left;

    img {
        width: 100%;
    }
}

.search-icon {
    position: absolute;
    top: 12px;
}


section#hero-banner .btn {
    margin-left: 10px;
    color: #fff;
    padding: 10px 60px;
    border-radius: 30px;
    width: auto;
    height: auto;
    font-size: 18px !important;
    text-align: center;
}



section#hero-banner {
    max-height: 720px;
}



/*desktop max width function*/
div#tech-main-header .nav-bar, .hero-banner .vertical-align .for-left {
    max-width: 1380px;
    margin: 0 auto;
}

section#hero-banner h1 {
    width: 57%
}

.featured-products, section#customers_list, .Meet-customer, .tech-theme footer, #social-section {
    max-width: 1400px;
    margin: 0 auto;
}

.discover-community, .reach-img-section {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 84px;
}


/*desktop max width function*/

/*media query start*/

@media only screen and (max-width:768px) {

    .single-image {
        .hero-items {
            //position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 25px;

            .hero-cf-image {
                //position: absolute;
                //top: 90px;
                order: 2;
            }

            .vertical-align {
                //position: absolute;
                ///top: 11px;
                // height: 70px;
                //overflow: hidden;
                order: 1;

                .for-left,.for-right {
                    margin-left: 0px;
                    margin-bottom:15px;
                }
            }

            .for-left {
                h1 {
                    font-size: 24px;
                    line-height: 1.5;
                    color: #024;
                }

                p {
                    padding: 10px 15px;
                }
            }
        }
    }


    /*top header*/
    .sticky a.log-img img {
        width: 220px !important;
    }

    div#tech-main-header .nav-bar {
        padding: 10px 20px;
    }

    div#tech-main-header .stellarnav.mobile.right > ul {
        position: fixed;
        top: 0px;
    }
    /*banner section*/
    #productDetails #divsegment.wrapper-dropdown-5 {
        display: block;
        text-align: center;
    }
    /*discover comunity*/
    .discover-community p.subofsub-text {
        padding: 0 81px 0 0 !important;
        width: 100%;
    }

    .discover-community .sub-text-n-img {
        margin: 0 0;
    }

    .discover-community .sub-text-n-img {
        margin: 15px 0;
    }

    .discover-community {
        //position: relative;
        //z-index: 1;
        //top: 260px;
        display:inline-block;
    }
    /*global*/
    .row [class*='col-'] {
        padding: 0 15px;
    }
    /**/
    .reach-img-section {
        top: 178px;
    }

    .reach-img-section .global-discription {
        padding: 10px 0px 0 0px;
    }

    .reach-img-section .our-reach-container {
        padding: 20px 0px;
    }

    .reach-img-section .our-reach-container {
        padding: 20px 0px;
    }

    .our-reach-section .researchsubs .numberntext {
        font-size: 27px;
    }

    .our-reach-section .researchsubs span.plus {
        font-size: 27px !important;
        margin-top: 0px;
    }

    .featured-products {
        //position: relative;
        //top: 85px;
        //display: inline-block;
        width: 100%;
    }

    .our-reach-section .researchsubs .text {
        font-size: 12px;
    }

    .reach-img-section {
        background: #fff;
        display: inline-block;
        width: 100%;
        position: static;
    }

    .discover-community .gradient-box a.btn.btnprimary.border-button {
        font-size: 14px;
    }

    .discover-community .brand-log .row img.brand-img {
        max-width: 80%;
    }

    .featured-products .custom-owl-next, .featured-products .custom-owl-previous {
        //display: none;
    }

    #social-section {
        display:inline-block;
        width:100%;

        h2 {
            font-size: 26px;
        }
    }

    #social-section .twitter-carousel .panel .feed .feed-heading span {
        font-size: 18px;
    }

    #social-section .twitter-carousel .slick-prev {
        margin-left: -5px;
    }

    .tech-theme .mc-button-child .btn.btnprimary.border-button {
        min-width: 140px;
    }

    .feature-brand-corousel.brand_list .border-button {
        font-size: 14px !important;
    }

    .Meet-customer .mc-button-div.fourbutton .mc-button-child {
        width: 40%;
    }
    div.subofsub-text {
        width: 100%;
        margin-left: 0px;
        padding: 0px 10px;
    }
}

/*end media query*/
/*featured product
.featured-products .carousel-img .connect-box .inside-box h3 {
    margin-top: 17px;
}
.featured-products .carousel-img .connect-box .inside-box button {
    top: -92px;
}
/*featured product*/


/*
.vertical-align {
    position: relative;

    .for-left {
        position: absolute;
        top: -545px;

        .hero-col-heading {
            h1 {
                color: #024;
            }
        }

        p {
            width: 40%;
            float: left;
            font-size: 22px;
            margin-top: 25px;
            margin-left: 19px;
        }

        .cta-button-containor {
            position: absolute;
            top: 295px;
            left: 15px;
        }
    }
}

*/
@media only screen and (min-width:768px) {
    .bannerheading-font-white {
        color: #fff !important;
    }
    .hero-items {
        position: relative;
        max-width: 1400px;
        margin: 0 auto;

        .vertical-align {
            top: 108px;
            position: absolute;
            max-width: 1400px;
            margin: 0 auto;
            width: 100%;

            .for-left {
                max-width: 1400px;
                margin: 0 auto;

                h1 {
                    color: #024;
                }

                p {
                    width: 95%;
                    font-size: 22px;
                    margin-top: 25px;
                    margin-left: 20px;
                }

                .cta-button-containor {
                    left: 0;
                    float: left;
                    margin: 10px 0;
                }
            }
        }
    }
}







/* Start Hero Banner Single Image handled from javascript*/
@media only screen and (max-width: 768px) {
    .vertical-align.empty-banner-image {
        padding: 10px 15px;
        margin: 10px auto;
        height: auto !important;
    }
}

/****for desktop****/
.vertical-align.empty-banner-image {
    position: static !important;
    padding: 20px 0px;
    margin: 10px auto;
    overflow: hidden;
}
/* End Hero Banner Single Image handled from javascript*/

/*Rich Text editor containor*/
.rich-text-editor .rich-text-cta {
    text-align: center;
    margin: 10px 0 0 0;
}

.dot-image-heading {
    align-items: center !important;
    margin-bottom: 10px;
    display: flex;
}

.rich-text-width-container {
    clear: both;
    max-width: 1400px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .mb-20 {
        margin-bottom: 20px;
    }
    .bio-detail {
        .parent-node {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
            }


            .moveColumnTop1 {
                order: 2;
            }

            .moveColumnTop2 {
                order: 1
            }
        }
    }
}



/*end Rich Text editor containor*/



@media screen and (max-width: 812px) {
    .sub-headline {
        font-size: 33px !important;
        line-height: 33px !important;
    }
}

@media screen and (max-width: 812px) {
    .sub-headline {
        font-size: 28px !important;
        line-height: 28px !important;
    }

    .discover-community p.subofsub-text {
        padding-left: 73px !important;
    }

    .imgleft .img-right {
        margin-right: 10px !important;
        margin-top: -8px !important;
        width: 60px;
    }

    .imgright .img-right {
        margin-left: 10px !important;
        margin-top: -8px !important;
        width: 60px;
    }
   
}

.tech-theme .btn.btnprimary.border-button {
    width: auto !important;
    color: #fff;
    background-color: #002244;
    border-radius: 25px;
    padding: 10px 45px;
    margin-bottom: 10px;
    height: auto !important;
}

p.subofsub-text {
    padding-left: 140px;
}


/*Twitter Start*/

#social-section .container {
    /*//padding-left: 0px;
            //padding-right: 0px;*/
}

#social-section .slick-next {
    border-radius: 40px 1px 1px 40px;
}

#social-section .tech-theme .twitter-carousel .slick-arrow {
    background: #ddd;
}

#social-section .slick-prev {
    border-radius: 1px 40px 40px 1px;
}

#social-section .twitter-carousel .slick-next:before {
    font-size: 22px;
    top: 45px;
    left: 27px;
    color: #dbd600;
}

#social-section .twitter-carousel .slick-prev:before {
    top: 45px;
    left: 18px;
    color: #dbd600;
    font-size: 22px;
}



#social-section .tech-theme .twitter-carousel .slick-arrow {
    background: #ddd;
}

#social-section .twitter-carousel .slick-next {
    left: calc(100% - 40px);
    margin-left: 0;
}




#social-section .twitter-carousel .slick-prev {
    left: 0%;
    margin-left: 0px;
}

#social-section .container {
    width: 100%;
    padding: 0;
}

#social-section .twitter-carousel .panel .feed {
    padding: 0 45px;
}

#social-section h2:before {
    //content: "";
    //position: absolute;
    //font-family: 'InformaIcons';
    display: none;
}

#social-section h2:after {
    content: '\f099';
    position: relative;
    //font-family: 'InformaIcons';
    font-family: FontAwesome;
    left: 10px;
}

#social-section h2 {
    padding-left: 45px;
}

#social-section .twitter-carousel .slick-arrow {
    height: 80px;
    width: 40px;
}

#social-section .twitter-carousel .panel .feed .feed-heading > a:after {
    content: '|';
    color: #fff;
    left: -4px;
    position: relative;
}

#social-section .twitter-carousel .panel .feed .feed-heading > a {
    float: left;
}

#social-section .twitter-carousel .panel .feed .twit-img {
    margin-top: 25px;
}

#social-section {
    background-color: #182d50;
}

.tech-theme .twitter-carousel .message a {
    text-decoration: none;
    color: #03A9F4;
    border-bottom: 0px solid #fff;
    word-wrap: break-word;
}

html {
    font-family: open sans-serif;
}

@media screen and (max-width:768px) and (min-width:320px) {
    #social-section .twitter-carousel .slick-prev:before, #social-section .twitter-carousel .slick-next:before {
        top: 35px;
        left: 14px;
    }

    #social-section .twitter-carousel .slick-next {
        left: calc(100% - 35px);
    }

    #social-section .twitter-carousel .panel {
        height: 300px;
    }
}
/*Twitter End*/


.dot-img-left {
    background-image: url(/static/images/tech/leftdotted.png);
    background-size: 100%;
    width: 112px;
    height: 35px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.dot-img-right {
    background-image: url(/static/images/tech/rightdotted.png);
    background-size: 100%;
    width: 112px;
    height: 35px;
    background-repeat: no-repeat;
    margin-left: 20px;
}

/*for single image*/
.single-image {
    width: 100%;
    float: left;

    img {
        width: 100%;
    }
}

.search-icon {
    position: absolute;
    top: 12px;
}


section#hero-banner .btn {
    margin-left: 10px;
    color: #fff;
    padding: 10px 60px;
    border-radius: 30px;
    width: auto;
    height: auto;
    font-size: 18px !important;
    text-align: center;
}



section#hero-banner {
    max-height: 720px;
}



/*desktop max width function*/
div#tech-main-header .nav-bar, .hero-banner .vertical-align .for-left {
    max-width: 1380px;
    margin: 0 auto;
}

section#hero-banner h1 {
    width: 57%
}

.featured-products, section#customers_list, .Meet-customer, .tech-theme footer, #social-section {
    max-width: 1400px;
    margin: 0 auto;
}

.discover-community, .reach-img-section {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 30px;
    clear: both;
}


/*desktop max width function*/

/*media query start*/

@media only screen and (max-width:768px) {

    .single-image {
        .hero-items {
            //position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 25px;

            .hero-cf-image {
                //position: absolute;
                //top: 90px;
                order: 2;
            }

            .vertical-align {
                //position: absolute;
                ///top: 11px;
                // height: 70px;
                //overflow: hidden;
                order: 1;

                .for-left {
                    margin-left: 0px;
                }
            }

            .for-left {
                h1 {
                    font-size: 24px;
                    line-height: 1.5;
                    color: #024;
                }

                p {
                    padding: 10px 15px;
                }
            }
        }
    }


    /*top header*/
    .sticky a.log-img img {
        width: 220px !important;
    }

    div#tech-main-header .nav-bar {
        padding: 10px 20px;
    }

    div#tech-main-header .stellarnav.mobile.right > ul {
        position: fixed;
        top: 0px;
    }
    /*banner section*/
    #productDetails #divsegment.wrapper-dropdown-5 {
        display: block;
        text-align: center;
    }
    /*discover comunity*/
    .discover-community p.subofsub-text {
        padding: 0 81px 0 0 !important;
        width: 100%;
    }

    .discover-community .sub-text-n-img {
        margin: 0 0;
    }

    .discover-community .sub-text-n-img {
        margin: 15px 0;
    }

    .discover-community {
        //position: relative;
        //z-index: 1;
        //top: 260px;
        display:inline-block;
    }
    /*global*/
    .row [class*='col-'] {
        padding: 0 15px;
    }
    /**/
    .reach-img-section {
        top: 178px;
    }

    .reach-img-section .global-discription {
        padding: 10px 0px 0 0px;
    }

    .reach-img-section .our-reach-container {
        padding: 20px 0px;
    }

    .reach-img-section .our-reach-container {
        padding: 20px 0px;
    }

    .our-reach-section .researchsubs .numberntext {
        font-size: 27px;
    }

    .our-reach-section .researchsubs span.plus {
        font-size: 27px !important;
        margin-top: 0px;
    }

    .featured-products {
        //position: relative;
        //top: 85px;
        //display: inline-block;
        width: 100%;
    }

    .our-reach-section .researchsubs .text {
        font-size: 12px;
    }

    .reach-img-section {
        background: #fff;
        display: inline-block;
        width: 100%;
        position: static;
    }

    .discover-community .gradient-box a.btn.btnprimary.border-button {
        font-size: 14px;
    }

    .discover-community .brand-log .row img.brand-img {
        max-width: 80%;
    }

    .featured-products .custom-owl-next, .featured-products .custom-owl-previous {
        //display: none;
    }

    #social-section {
        display:inline-block;
        width:100%;

        h2 {
            font-size: 26px;
        }
    }

    #social-section .twitter-carousel .panel .feed .feed-heading span {
        font-size: 18px;
    }

    #social-section .twitter-carousel .slick-prev {
        margin-left: -5px;
    }

    .tech-theme .mc-button-child .btn.btnprimary.border-button {
        min-width: 140px;
    }

    .feature-brand-corousel.brand_list .border-button {
        font-size: 14px !important;
    }

    .Meet-customer .mc-button-div.fourbutton .mc-button-child {
        width: 40%;
    }
}

/*end media query*/
/*featured product
.featured-products .carousel-img .connect-box .inside-box h3 {
    margin-top: 17px;
}
.featured-products .carousel-img .connect-box .inside-box button {
    top: -92px;
}
/*featured product*/


/*
.vertical-align {
    position: relative;

    .for-left {
        position: absolute;
        top: -545px;

        .hero-col-heading {
            h1 {
                color: #024;
            }
        }

        p {
            width: 40%;
            float: left;
            font-size: 22px;
            margin-top: 25px;
            margin-left: 19px;
        }

        .cta-button-containor {
            position: absolute;
            top: 295px;
            left: 15px;
        }
    }
}

*/
@media only screen and (min-width:768px) {
    .bannerheading-font-white {
        color: #fff !important;
    }
    .hero-items {
        position: relative;
        max-width: 1400px;
        margin: 0 auto;

        .vertical-align {
            top: 108px;
            position: absolute;
            max-width: 1400px;
            margin: 0 auto;
            width: 100%;

            .for-left {
                max-width: 1400px;
                margin: 0 auto;

                h1 {
                    color: #024;
                }

                p {
                    width: 95%;
                    font-size: 22px;
                    margin-top: 25px;
                    margin-left: 20px;
                }

                .cta-button-containor {
                    left: 0;
                    float: left;
                    margin: 10px 0px;
                }
            }
        }
    }
}







/* Start Hero Banner Single Image handled from javascript*/
@media only screen and (max-width: 768px) {
    .vertical-align.empty-banner-image {
        padding: 10px 15px;
        margin: 10px auto;
        height: auto !important;
    }
}

/****for desktop****/
.vertical-align.empty-banner-image {
    position: static !important;
    padding: 20px 0px;
    margin: 10px auto;
    overflow: hidden;
}
/* End Hero Banner Single Image handled from javascript*/

/*Rich Text editor containor*/
.rich-text-editor .rich-text-cta {
    text-align: center;
    margin: 10px 0 0 0;
}

.dot-image-heading {
    align-items: center !important;
    margin-bottom: 10px;
    display: flex;
}

.rich-text-width-container {
    clear: both;
    max-width: 1400px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .mb-20 {
        margin-bottom: 20px;
    }
    .bio-detail {
        .parent-node {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
            }


            .moveColumnTop1 {
                order: 2;
            }

            .moveColumnTop2 {
                order: 1
            }
        }
    }
}



/*end Rich Text editor containor*/


/*View All brands button*/
.Viewsolutions.text-center a {
    position: relative;
    border: none !important;
    z-index: 1;
    display: inline-block;
    /*
    &:before {
        content:'';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: #002244;
        background: linear-gradient(to bottom, #81aa0c 50%,#ced002 100%);
        background: linear-gradient(to bottom, #81aa0c 50%,#ced002 100%);
        background: linear-gradient(to bottom, #81aa0c 50%,#ced002 100%);
        background: -o-linear-gradient(left, #503b9a 0%,#269cc1 100%);
        background: -ms-linear-gradient(left, #503b9a 0%,#269cc1 100%);
        background: linear-gradient(to bottom, #81aa0c 50%,#ced002 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503b9a', endColorstr='#269cc1',GradientType=1 );
    }

    &:after {
        content:'';
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        background-color: #002244;
        z-index: -1;
    }
        */
}

/*View All brands button*/



/*product section*/
@media screen and (max-width: 600px) and (min-width: 320px) {
    .owl-carousel .owl-stage-outer {
        max-height: 725px !important;
    }
    .featured-products .custom-owl-previous, .featured-products .custom-owl-next {
        background-color: transparent;
    }
    .featured-products .custom-owl-next i.fa.fa-angle-right {
        color: #94bb17;
    }

    .featured-products .custom-owl-previous i.fa.fa-angle-left {
        color: #94bb17;
    }

    
}

@media screen  and (min-width:768px) {
    .feature-brand-corousel.brand_list .border-button {
        font-size: 16px !important
    }
}

.tech-theme .btn.border-button.color-border {
    border: 2px solid #8baf0a !important;
}

.tech-theme .btn-primary {
    border: 2px solid transparent;
    text-align: center;
    border-radius: 43px;
    padding: 10px;
    height: auto;
    font-weight: 700;
    min-width: 160px;
    font-family: 'Open Sans',sans-serif;
    font-size:12px;
    width:auto;
    @media screen and (min-width:320px) and (max-width:768px) {
        min-width: 130px;
        padding: 10px 5px;
        font-size:12px;
    }
}


.tech-theme .btn-primary:after {
    font-family: 'InformaIcons';
    right: 15px;
    font-weight: bold;
    position: absolute;
    opacity: 0;
}
.tech-theme .primary-btn-hover, .tech-theme .open .btn-primary, .tech-theme .btn-primary:hover {
    border: 2px solid transparent;
    background-color: #002244;
}
#divsegment {
    .content-head {
        @media screen and (max-width:768px) {
            font-size: 18px;
        }
    }
}