@import "variables";
@import "theme-variables";
@import "mixins";
/*fonts*/
@font-face {
  font-family: "SWBrandFont";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SWBrandFont";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SWBrandFont";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SWBrandFont";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@include theme(tmt-newco, $tmtprimarycolor, $tmtsecondrydarkcolor, $tmtsecondarylightcolor, $navlinktmtcolor);
@include newco($newcoprimarycolor, $base-bg, $border-refine-filter, $checkbox-border, $newcolightercolor);
//cta skinning for newco theme
$newcobtnprimarygradiant-left: #ee93ec;
$newcobtnprimarygradiant-right: #75d9f4;
$newcobtnprimary-hover-gradiant-left: #fcbffa;
$newcobtnprimary-hover-gradiant-right: #a1e0fa;
$newcobtnprimary-border-color: transparent;
$newcobtnprimary-bakground-color: #434854;
$newcobtnprimary-color: #000;

$newcobtnprimary-hover-color: #000;
$newcobtnprimary-hover-background: #fff;
$newcobtnprimary-hover-border: transparent;

$newcobtndefault-border: #a54eac;
$newcobtndefault-background: #f9f8f9;
$newcobtndefault-color: #000;

$newcobtndefault-hover-border: #a54eac;
$newcobtndefault-hover-background: #f6f0fb;

$newco-white-background: #ffffff;

.tmt-newco {
  .product-detail-page.newco-product-detail{
    h2{
      font-weight: 600;
    }
  }
  .collapsing {
    -webkit-transition: height 0.02s ease;
    -o-transition: height 0.02s ease;
    transition: height 0.02s ease;
  }
  .product-brands-list {
    background-color: $newco-white-background;
  }
  .contactus-list {
    background: $newco-white-background;
  }
  .sectorpage-strengths {
    background: $newco-white-background;
  }
  section#feature-list, section.feature-list-section {
    background: $newco-white-background;
  }
  section#agri-report {
    background: $newco-white-background;
  }
  section#services-list section:nth-child(2n) {
    background: $newco-white-background;
  }
  .related-products {
    .card-col-heading {
      padding: 0 15px;
      h2 {
        color: #000;
        font-weight: 600;
      }
    }
    .card {
      background: #fff;
      .title {
        background-image: url(../../Static/images/tmt-newco/gradient-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        padding: 15px;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        overflow: hidden;
        a {
          color: #fff;
          width: 100%;
          display: inline-block;
          height: 100%;
          margin-top: 65px;
        }
      }
      .caption {
        font-size: 14px;
        color: #000;
        line-height: 25px;
        max-height: 340px;
        min-height: 340px;
        margin-bottom: 15px;
        overflow: hidden;
        p.type {
          font-weight: 600;
          margin-top: 25px;
          margin-bottom: 2px;
        }
        a.name {
          font-size: 24px;
          font-weight: 600;
          color: #000;
          display: block;
          &:hover {
            color: #b650be;
          }
        }
        p.content {
          margin-top: 35px;
        }
        &::after{
          content: "";
          position: absolute;
          bottom: 0px;
          right: 0;
          width: 100%;
          height: 8%;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
          background-size: 100%;
          background-image: -webkit-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 46%, #fff 100%);
          background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 46%, #fff 100%);
          background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 46%, #fff 100%);
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 46%, #fff 100%);
          pointer-events: none;
        }
      }
      &:hover {
        box-shadow: 0px 0px 16px #ece9e9;
        .caption {
          a.name {
            color: #b650be;
          }
          &::after{
            background-image: none;
          }
        }
      }
    }
    .search-container {
      .btn-container {
        .btn-ShowMore {
          border-bottom: 2px solid #fff;
          span {
            &:before {
              right: 15px;
              top: 13px;
              color: #a54eac;
            }
            &:hover {
              &:before {
                color: #b650be;
              }
            }
          }
        }
      }
    }
  }
  .btn-showMore, .btn-plus {
    border-bottom: 2px solid #fff !important;
    color: #000 !important;
    &:after {
      color: #a54eac !important;
    }
    &:hover {
      &:after {
        color: #b650be !important;
      }
    }
  }
  .related-products {
    .productfinder-link {
      a {
        color: #a54eac;
        &:hover {
          color: #b650be;
        }
      }
    }
  }
  .sectorpage-strengths {
    .slant {
      display: none;
    }
  }
  .view-all-sectors-btn-container {
    border: none;
    .informa-icon {
      color: #a54eac;
      &:hover {
        color: #b650be;
      }
    }
  }
  .btn {
    min-width: 120px;
    border-radius: 22px;
    padding: 9px 30px;
    height: auto;
    font-weight: 600;
    text-align: center;
    border-width: 0px;
    &::after {
      content: none;
    }
  }
  .btn-primary {
    border-color: $newcobtnprimary-border-color;
    background-color: $newcobtnprimary-bakground-color;
    color: $newcobtnprimary-color;
    position: relative;
    background-image: linear-gradient(90deg, $newcobtnprimarygradiant-left 0%, $newcobtnprimarygradiant-right 100%);
    &:hover {
      color: $newcobtnprimary-hover-color;
      text-decoration: none;
      background-color: $newcobtnprimary-hover-background;
      border-color: $newcobtnprimary-hover-border;
      background-image: linear-gradient(
        90deg,
        $newcobtnprimary-hover-gradiant-left 0%,
        $newcobtnprimary-hover-gradiant-right 100%
      );
    }
  }
  [class*="newco-gobtn-"] {
    min-width: auto;
    border-radius: 50%;
    padding: 0 0 0 2px;
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    border-width: 0px;
    &.small {
      width: 24px;
      height: 24px;
    }
    &.large {
      width: 36px;
      height: 36px;
    }
    &[class*="gobtn-1"] {
      color: $black;
      background-image: linear-gradient(90deg, $newcobtnprimarygradiant-left 0%, $newcobtnprimarygradiant-right 100%);
      &:hover {
        background-image: linear-gradient(90deg, $newcobtnprimary-hover-gradiant-left 0%, $newcobtnprimary-hover-gradiant-right 100%);
      }
    }
    &[class*="gobtn-2"] {
      color: $newcoprimarycolor;
      background-color: rgba($color: $white, $alpha: 0.85);
      &:hover {
        background-color: rgba($color: $white, $alpha: 1);
      }
    }
  }
  .btn-container {
    .btn-default {
      border: 1px solid $newcobtndefault-border;
      background-color: $newcobtndefault-background;
      color: $newcobtndefault-color;
      &:hover {
        background-color: $newcobtndefault-hover-background;
        border: 1px solid $newcobtndefault-hover-border;
      }
    }
  }
  .product-brands-list{
    .card-col-heading{
      .btn-default {
        border: 1px solid $newcobtndefault-border;
        background-color: $newcobtndefault-background;
        color: $newcobtndefault-color;
        &:hover {
          background-color: $newcobtndefault-hover-background;
          border: 1px solid $newcobtndefault-hover-border;
        }
      }
    }
  }
  .btn-default {
    border: 1px solid $newcobtndefault-border;
    background-color: $newcobtndefault-background;
    color: $newcobtndefault-color;
    &:hover {
      background-color: $newcobtndefault-hover-background;
      border: 1px solid $newcobtndefault-hover-border;
    }
  }
  #informa-footer {
    background-color: $grey-color03;
  }
  .headline-carousel{
    .list-container{
      li{
        &:hover{
          div.col-xs-12{
            box-shadow: 3px 7px 16px #ece9e9;
          }
          .list-items{
            box-shadow: 3px 7px 16px #ece9e9;
          }
          .recomended-wrapper{
            .recomend-content{
              .content{
                h4{
                  &::after{
                    content: " ";
                    background-image: none;
                  }
                  a{
                    color: $newcoprimarycolor;
                    &.gated-content{
                      &::after {
                        background-image: url(../../Static/images/tmt-newco/images/lock-icon/lock-icon.jpg);
                      }
                    }
                  }
                }
                p.description{
                  &::after{
                    content: " ";
                    background-image: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #pdp-navigation {
    background-color: $bg-white;
    margin-bottom: 20px;
    #pdp-sections {
      #pdp-sections-heading{
        &.move-left{
          color: $font-color;
        }
      }
    }
    ul{
      li{
        a{
          padding: 0px;
          color: $font-color;
          line-height: $subhead-text-lineheight;
          font-weight: 400;
        }
        &.select-options {
          a[data-target="feature-list"]{
           span{
            color: $newcoprimarycolor;
            font-weight: 600;
           }
        }
        a[data-target="pdp-analyst"]{
          span{
           color: $newcoprimarycolor;
           font-weight: 600;
          }
       }
         
      }
      }
    }
    .menuFollower {
      background-color: $newcoprimarycolor;
      border-bottom: 1px solid $newcoprimarycolor;
    }
  }
  .scrolled {
    .newco-header {
      .newco-searchbtn {
        .newco-search-header {
          .textbox {
            @include bootstarp-md-max {
              top:80px;
            }
          }
        }
      }
    }
  }
}

