node_modules/
tmp/
.sass-cache/
bower_components/
dist/

.idea/misc.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/workspace.xml
.idea/informa_shop_window_sitedev.iml
.idea/modules.xml
dist/
/.vs/slnx.sqlite
/.vs/SITEDEV/v15
/.vs/Informa_Shop_Window_sitedev/v15
/.vs/slnx.sqlite-journal
/.vs/ProjectSettings.json
/.vs
