#contact-us-brand {
	background-color: #444957;
	h1, h3 ,h2{
		color: $white;
	}
	h3 {
		font-size: 18px;
		font-weight: normal;
	}
	.contact-info {
		color: $white;
		font-size: 18px;
		margin-bottom: 30px;
	}
	.country-name {
		color: $white;
		font-size: 22px;
	}
	.panel-group {
		.panel-heading {
			background-color: $white;
			padding: 20px;
			@include border-radius(0);
			p {
				margin-bottom: 0;
				color: #6a7287;
			}
			.panel-title {
				font-size: 20px;
				margin-bottom: 5px;
				color: #444957;
			}
			&.collapsed {
				font-weight: normal;
				background-color: #eff0f3;
				&:after {
					content: "+";
					//background-color: $yellow;
				}
			}
			&:after {
				content: "-";
				position: absolute;
			    right: 30px;
			    top: 50%;
			    margin-top: -15px;
			    font-size: 24px;
			    color: #fff;
			    font-style: normal;
			    width: 30px;
			    height: 30px;
			    @include border-radius(50%);
			    background-color: #c3c7cf;
			    text-align: center;
			}
		}
		.panel-body {
			background-color: $white;
			padding: 15px 60px 40px 20px;
			.body-heading {
				font-size: 18px;
				margin-bottom: 10px;
				display: block;
			}
			.contact-feeds {
					margin: 0;
					a {
						//color: $orange;
						padding-left: 50px;
						position: relative;
						font-size: 16px;
						display: inline-block;
						margin-bottom: 15px;
						display: inline-block;
						margin: 10px 0 20px 0;
						&:before {
							position: absolute;
							left: 0;
							color: #6a7287;
							top: -4px;
							font-size: 30px;
							font-family: "InformaIcons" !important;
						}
					}
				div.col-xs-12:nth-child(2) {
					p {
						margin-top: 20px;
					}
				}
			}
			strong {
				display: block;
				margin-bottom: 10px;
			}
			address {
				p {
					margin-bottom: 0;
				}
			}
		}
	}
}
.experience-mode {
	.collapse {
		display: block;
	}
	#about-us-description .scWebEditInput {display:block;} 
}
.experience-mode #faqs .panel-group .panel .panel-heading .panel-title a:after,.experience-mode #helpFaqs .panel-group .panel .panel-heading .panel-title a.collapsed:after, .experience-mode #helpFaqs .panel-group .panel .panel-heading .panel-title a:after, .experience-mode .accordian-structure .panel-group .panel .panel-heading .panel-title a:after {
  content: "\e913" !important;
  color: #6a7287 !important;
}
[data-toggle~="collapse"] {
	cursor: pointer;
}