$about-hero-height-desktop: 647px;

section#hero-banner.about-us {
      height: $about-hero-height-desktop;
      h1 {
            font-size: 40px;
      }
      .content-section {
            height: $about-hero-height-desktop;
            position: relative;
            background: RGBA(0,0,0,0.8);
            padding-right:60px;
            &:before {
                  content: '';
                  position: absolute;
                  left: -130px;
                  height: $about-hero-height-desktop;
                  width: 0;
                  border-top: $about-hero-height-desktop solid transparent;
                  border-bottom: 0px solid transparent;
                  border-right: 130px solid RGBA(0,0,0,0.8);
                  left: -130px;
            }
      }
      .abs-image {
            width: 100%;
            min-width: 100%;
      }
      &.light-bg {
            .content-section{
                  background: RGBA(0,0,0,0.4);
                  &:before {
                        border-right: 130px solid RGBA(0,0,0,0.4);
                  }
            }
      }
}
