section#agri-report {
    position: relative;
    background: $grey-color10;
    h2{
        padding: 50px 0 40px 0;
        @include tablet{
            padding: 40px 0 30px 0;
        }
        @include mobile{
            padding: 30px 0 25px 0;
        }
    }
    .agri-report-rte-container{
      p{
          line-height: 26px;
          font-size: 18px;
          @include mobile{
            font-size: 16px;
          }
          @include tablet{
            font-size: 16px;
          }
          &:first-child{
              color: $grey-color03;
              font-weight: bold;
              margin-top: 0;
          }
          &:last-child{
              margin-bottom: 0;
          }
      }
    }

    .agri-report-wrapper {
        position: relative;
        font-weight: 200;
        font-size: 18px;
        @include mobile {
            font-size: 14px;
        }
        .headline {
            font-weight: bold;
            padding: 60px 0 20px;
            @include tablet {
                padding: 30px 0 10px;
            }
            @include mobile {
                display: none;
            }
        }
        .download-report{
            padding: 40px 0 50px 0;
            @include desktop{
                margin-left: 15px;
            }
            @include tablet{
                padding: 40px 15px;
            }
            @include mobile{
                padding: 30px 15px;
            }
           a{
              position: relative;
              min-width: initial;
              margin-right: 15px;
              padding-right: 40px;
              width: auto;
            @include mobile{
                width: 100%;
            }
          }
          .btn-primary{
            &:after{
              font-family: "InformaIcons";
              content: "\e905";
              position: absolute;
              right: 15px;
              top: 28%;
              font-size: 16px;
            }
          }
        }
        .splash-image {
            position: absolute;
            bottom: 0;
            right: 100px;
            img {
                width: 270px;
                height: auto;
            }
            @include mobile {
                right: 85px;
                position: static;
                margin-top: 25px;
                margin-bottom: 0;
                & > img {
                    width: 160px;
                    display: block;
                    margin: 0 auto;
                }
            }
            @include tablet {
                right: 95px;
                & > img {
                    width: 225px;
                }
            }
        }
        .description {
            line-height: 1.2em;
            //padding-top: 50px;
            @include mobile {
                padding-top: 15px;
            }
            strong {
                font-weight: bold;
            }
        }
        .orange-bd {
             font-size: 14px;
             float: left;
             margin-right: 10px;
             margin-top: 60px;
             min-width: 160px;
             border-color: #ffd600;

            @include mobile {
                margin: 0 auto;
                display: block;
                width: 80%;
                margin-top: 20px;
            }
        }

    }
}
