<section id="banner"
    class="hero-banner-texture dark-banner-subscribe bg-gray-dark product supergraphic product-hero-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="h1-styles">
                            Enterprise Decision Maker
                        </h1>
                        <div class="subtext">
                            Providing insight into major disruptive technology trends, coupled with a deep understanding
                            of industry specific drivers and business processes
                        </div>
                        <div class="description">
                            Our research helps enterprises to design the appropriate architectures and roadmaps to
                            exploit these technologies, and the detailed information required to select the most
                            appropriate solutions, services, and suppliers.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            <a class="cta2 semi-trans btn btn-primary wffm-elq-form-btn" href="javascript:void(0)"
                                data-toggle="modal" data-modal="#formRequestADemo" role="button"
                                data-productid="{39C2683C-D55A-47E5-9A52-20A7F1183224}">
                                Request a free demo
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            <a href="https://www.ovumkc.com/login " class="cta2 btn solid btn-default subscribe-stick"
                                target="_blank">Client login </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                            <div class="share-text">Share</div>
                            <div class="share-icon">
                                 <ul class="nav-links">
                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"></a>
                                            </li>
                                                                                    <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"></a>
                                            </li>
                                                                                  
                                    </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row follow-row">
                    </div>
                </div>
            </div>
        </div>
        <div class="row already-a-customer">
            <span> </span>
        </div>
    </div>
</section>