---
layout: main-layout-pharma.hbs
---

<div class="campaign-background campaign-scroll-down">

    {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}
        {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}
        {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}

        {{>campaign-carousel}}

    {{>categorized-list}}

    <img class="scroll-down" src="./Static/images/mouse-icon.png" alt="" />

</div>