<div class="page-content my-theme">
    {{>home-hero}}
    {{>home-sector-list sectors}}
    {{>home-brand-list brands}}
    <!-- {{>home-latest-news}} -->
    {{>home-agri-report}}
    <!-- {{>home-social}} -->
    {{>home-contactus contactus}}
</div>
