<div class="page-content my-theme">
    {{>home_hero}}
    {{>sector_list sectors}}
    {{>brand_list brands1}}
    {{>brand_list brands2}}
    {{>home_latest_news}}
    {{>article_list article_list}}
    {{>home_agri_report}}
    {{>home_social}}
    {{>home_contactus contactus}}
</div>
