<div class="page-content my-theme">
  <div class="full-component-placeholder">
      {{>carousel images}}
  </div>
    <div class="contained-component-placeholder card-container informa-layout-4">
        <div class="container">
              <div class="row">
              <h4>Agribusiness Includes</h4>
                <div class="col-sm-12">
                    <div class="row">
                        {{>cards card}}
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>
