<div class="container">
    <section class="index-page">
        <h1>Informa UI Oversight</h1>
        <nav>
            <!-- <h2 class="navigation-headline">Generic</h2>
            <ul class="navigation-list">
                <li class="navigation-list__item">
                    <a href="doc/index.html" target="_blank" class="navigation-list__item__link">Documentation</a>
                </li>
                <li class="navigation-list__item">
                    <a href="styleguide.html" target="_blank" class="navigation-list__item__link">Styleguide</a>
                </li>
                <li class="navigation-list__item">
                    <a href="assets/images/preview.html" target="_blank" class="navigation-list__item__link">Icon Preview</a>
                </li>
            </ul> -->
            <h2 class="navigation-headline">Pages</h2>
            <ul class="navigation-list">
                <li class="navigation-list__item">
                    <a href="/home-page.html" target="_blank" class="navigation-list__item__link">Home</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/aboutus.html" target="_blank" class="navigation-list__item__link">About us</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/analyst-list.html" target="_blank" class="navigation-list__item__link">Analyst List</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/analyst-profile.html" target="_blank" class="navigation-list__item__link">Analyst Profile</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/brand-page.html" target="_blank" class="navigation-list__item__link">Brand Page</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/casestudy.html" target="_blank" class="navigation-list__item__link">Case Study</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/contact-us.html" target="_blank" class="navigation-list__item__link">Contactus</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/hero-banner.html" target="_blank" class="navigation-list__item__link">Hero Banner</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/help-support.html" target="_blank" class="navigation-list__item__link">Help Support</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/search-results.html" target="_blank" class="navigation-list__item__link">Search Results</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/product-details.html" target="_blank" class="navigation-list__item__link">Product Details</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/product-listing.html" target="_blank" class="navigation-list__item__link">Product Listing</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/sectorpage.html" target="_blank" class="navigation-list__item__link">Sector Page</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/article-page.html" target="_blank" class="navigation-list__item__link">Article Page</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/hero-banner.html" target="_blank" class="navigation-list__item__link">All Hero Banners</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/events-page.html" target="_blank" class="navigation-list__item__link">Events Page</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/resource-page.html" target="_blank" class="navigation-list__item__link">Resource Page</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/video-mini.html" target="_blank" class="navigation-list__item__link">Video Mini</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/video-full.html" target="_blank" class="navigation-list__item__link">Video Full</a>
                </li>
                <li class="navigation-list__item">
                    <a href="/video-full-webinar.html" target="_blank" class="navigation-list__item__link">Video Full Webinar</a>
                </li>
            </ul>
            <!-- <h2 class="navigation-headline">Components</h2>
            <ul class="navigation-list">
                <li class="navigation-list__item">
                        <a href="/template-components.html" target="_blank" class="navigation-list__item__link">Carousel</a>
                </li>
            </ul>

            <h2 class="navigation-headline">Forms</h2>
            <ul class="navigation-list">
                <li class="navigation-list__item">
                    <a href="#" target="_blank" class="navigation-list__item__link">Login</a>
                </li>
                <li class="navigation-list__item">
                    <a href="#" target="_blank" class="navigation-list__item__link">Registration</a>
                </li>
            </ul> -->
        </nav>
    </section>
</div>
