<div class="product-detail-page">
    {{>hero-banner hero-banner}}
    {{>pdp-navigation}}
    {{>pdp-feature-list pdp-feature-list}}
    {{>pdp-market-focus pdp-market-focus}}
    {{>pdp-customer-quote pdp-customer-quote}}
    {{>pdp-analyst analyst}}
    {{>home_agri_report}}
    {{>analyst-profile analyst-profile}}
 </div>
