<div class="product-detail-page">
    {{>hero-banner hero-banner}}
    {{>pdp-feature-list pdp-feature-list}}
    {{>pdp-market-focus pdp-market-focus}}
    {{>pdp-customer-quote pdp-customer-quote}}
    {{>pdp-analyst analyst}}
 </div>
