---
title: Test page
heading: Four column layout
layout: main-layout.hbs
---
<div class="page-content my-theme">
    <div class="full-component-placeholder">
        {{>carousel images}}
    </div>
    <div class="contained-component-placeholder informa-layout-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        {{>spotlight cards.card1}}
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card2}}
                        {{>spotlight cards.card3}}
                        {{>spotlight cards.card3}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
