---
title: Test page
heading: Components
layout: main-layout.hbs
---
<div class="page-content my-theme">
    <div class="full-component-placeholder">
        {{>carousel images}}
    </div>
    <div class="contained-component-placeholder card-container informa-layout-4">
        <div class="container">
            <div class="row">
              <div class="col-sm-12">
                  <div class="row">
                      {{>cards card}}
                  </div>
              </div>

                <div class="col-sm-12">
                    <div class="row">
                        {{>slider slider}}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        {{>accordion accordion.first}}
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>
