<section id="gallery-team">
	<div class="team-container container">
		<div class="team-row row">
			<div class="teammember col-xs-6 col-sm-4">
				<a class="tm-img" href="profiles/team-member.html" title="First Name / Last Name">
					<img src="cms-images/gallery-team/Alex-Roth-web2.png" alt="First Name / Last Name">
				</a>
				<h4><a href="profiles/team-member.html">First Name / Last Name</a></h4>
				<p>Job Title / Description</p>
			</div>
			<div class="teammember col-xs-6 col-sm-4">
				<a class="tm-img" href="profiles/team-member.html" title="First Name / Last Name">
					<img src="cms-images/gallery-team/garethw2017285x320.png" alt="First Name / Last Name">
				</a>
				<h4><a href="profiles/team-member.html">First Name / Last Name</a></h4>
				<p>Job Title / Description</p>
			</div>
			<div class="teammember col-xs-6 col-sm-4">
				<a class="tm-img" href="profiles/team-member.html" title="First Name / Last Name">
					<img src="cms-images/gallery-team/Gary-Nugent.jpg" alt="First Name / Last Name">
				</a>
				<h4><a href="profiles/team-member.html">First Name / Last Name</a></h4>
				<p>Job Title / Description</p>
			</div>
			<div class="teammember col-xs-6 col-sm-4">
				<a class="tm-img" href="profiles/team-member.html" title="First Name / Last Name">
					<img src="cms-images/gallery-team/L-boro.jpg" alt="First Name / Last Name">
				</a>
				<h4><a href="profiles/team-member.html">First Name / Last Name</a></h4>
				<p>Job Title / Description</p>
			</div>
			<div class="teammember col-xs-6 col-sm-4">
				<a class="tm-img" href="profiles/team-member.html" title="First Name / Last Name">
					<img src="cms-images/gallery-team/Patrick_NEW2.jpg" alt="First Name / Last Name">
				</a>
				<h4><a href="profiles/team-member.html">First Name / Last Name</a></h4>
				<p>Job Title / Description</p>
			</div>
			<div class="teammember col-xs-6 col-sm-4">
				<a class="tm-img" href="profiles/team-member.html" title="First Name / Last Name">
					<img src="cms-images/gallery-team/stephen2017285x320.png" alt="First Name / Last Name">
				</a>
				<h4><a href="profiles/team-member.html">First Name / Last Name</a></h4>
				<p>Job Title / Description</p>
			</div>
		</div>
	</div>
</section>