div.recommended-tips{
  padding-top: 40px;
  background: $grey-color1;
  color: $grey-color6;

  .tips-title{
      font-size: 24px;
      color: $grey-color7;
      padding-bottom: 10px;
      position: relative;
      @include mobile {
        padding-left: 32px;
      }
      @include tablet {
        padding-left: 32px;
      }
      &:before{
        font-family: "InformaIcons" !important;
        content: "\e915";
        position: absolute;
        color: #a6aab6;
        top: -33px;
        font-size: 28px;
        left: -5px;
        @include mobile {
          top: 0;
          left: 0;
          color: $grey-color2;
        }
        @include tablet {
          top: 8px;
          left: 10px;
          color: $grey-color4;
        }
      }
  }
}
