.recommended-tips-col {
    @include mobile {
        background: $grey-color04;
    }
    @include tablet {
      background: $grey-color04;
      padding-left: 2%;
      padding-right: 2%;
      background: url("/Static/images/pattern.png") no-repeat right 160% #565c6b;
      background-size: 20%;
    }
    .recommended-tips-container {
      @include tablet {
        padding-left: 90px;
        padding-right: 90px;
      }
    .recommended-tips{
      padding-top: 40px;
      background: $grey-color03;
      color: $grey-color09;
        @include mobile {
            background: $grey-color04;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        @include tablet{
          background: $grey-color04;
          padding-top: 25px;
          padding-bottom: 25px;
        }
        .tips-title {
            font-size: 24px;
            font-weight: 200;
            //color: $grey-color10;
            padding-bottom: 10px;
            position: relative;
            @include mobile {
                padding-left: 32px;
                padding-bottom: 15px;
            }
            @include tablet {
                padding-left: 32px;
            }
            &:before {
                font-family: "InformaIcons" !important;
                content: "\e915";
                position: absolute;
                color: #a6aab6;
                top: -33px;
                font-size: 28px;
                left: -5px;
                @include mobile {
                    top: -3px;
                    left: 0;
                    color: $grey-color05;
                }
                @include tablet {
                    top: -5px;
                    left: 0;
                    color: $grey-color07;
                }
            }
        }
    }
  }
}
