.hero-banner {
    height: 450px;
    overflow: hidden;
    position: relative;
    @include tablet {
        height: 350px;
    }
    @include mobile {
        height: 380px;
    }
    .cf-img {
        position: absolute;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include greater-desktop {
                width: 100%;
            }
        }
    }
    .vertical-align {
        color: $white;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        p {
            line-height: 1.7;
        }
    }
    .content {
        width: 50%;
        @include mobile {
            width: 100%;
        }
    }
    &.tall-hero {
        @include tablet {
            height: 350px;
        }
        @include mobile {
            height: 275px;
        }
    }
    &.slim-banner {
        @include tablet {
            height: 350px;
        }
        @include mobile {
            height: 250px;
        }
    }
    &.texture {
        .cf-img {
            position: absolute;
            right: 0;
            width: auto;
        }
    }
}

.hero-banner-texture {
    position: relative;
    overflow: hidden;
    height: 330px;
    .container-fluid{
        padding-right:0;
        padding-left:0;
    }
    @include tablet {
        height: 230px;
    }
    @include mobile {
        height: 225px;
    }
    .cf-img {
        position: absolute;
        right: 0;
        @include mobile{
            transform: translateX(25%);
        }
        @include not-mobile{
            bottom: 0;
        }
    }
    .vertical-align {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        p {
            line-height: 1.7;
        }
        .content {
            width: 50%;
            @include mobile{
                width: 80%;
            }
            @include tablet{
                width: 70%;
            }
        }
    }
    &.bright-banner {
        background-color: $yellow;
        color: $text-gray;
    }
    &.dark-banner {
        background-color: $gray-light-bg;
        color: $white;
    }
    &.dark-banner-subscribe {
        background-color: $gray-light-bg;
        color: $white;
        height: auto;
        padding-bottom: 20px;
        .from{
          width: auto;
          display: inline-block;
          float: left;
        }
        .follow-row{
          margin-top: 15px;
        }
        .follow{
          width: 10%;
          display: inline-block;
          float: left;
        }
        a {
            text-decoration: none;
        }
        @include tablet {
            height: auto;
        }
        .cf-img {
            position: absolute;
            right: 0;
            @include mobile {
                display: none;
            }
        }
        .btn {
            font-family: FSMe-Bold;
            width: 110%;
            color: $light;
            padding: 10px;
            @include mobile {
                margin-bottom: 10px;
                text-align: left;
                width: 100%;
            }
        }
        .btn:after {
            font-family: "InformaIcons";
            content: "\e900";
            right: 10px;
        }
        .subtext {
            font-family: FSMe-Bold;
            font-size: 14px;
            padding-bottom: 24px;
            @include mobile {
                display: block;
                font-size: 16px;
                margin-left: 0px;
            }
        }
        .date {
            font-family: FSMe-Light;
            font-size: 14px;
            padding-bottom: 30px;
            //float: left;
            //min-width: 100px;
            @include mobile {
                //padding-bottom: 25px;
                font-size: 13px;
            }
            @include tablet {
               padding-bottom: 30px;
            }
        }
        .by{
          font-family: FSMe-Bold;
          font-size: 14px;
          padding-bottom: 24px;
          margin-left: 20px;
          @include mobile {
              display: block;
              font-size: 13px;
              margin-left: 0px;
              padding-bottom: 5px;
          }
        }
        .topic-name{
            padding:0 10px;
            margin-left:0;
            @include mobile{
                padding:0;
            }
        }
        .topic-pipe{
            @include mobile{
                padding:0 10px;
            }
        }
        .topic-pipe:last-of-type{
            display:none;
        }
        .topic-mob{
            @include mobile{
                display:-webkit-box;
            }
        }
        span.by{
          text-decoration: underline;
        }
        .description {
            font-family: FSMe-Light;
            font-size: 14px;
            padding-bottom: 30px;
            @include mobile {
                //padding-bottom: 25px;
                font-size: 12px;
            }
            @include tablet {
                padding-bottom: 30px;
            }
        }
        ul {
            padding-top: 73px;
            list-style-type: none;
            font-size: 20px;
            li {
                position: relative;
                margin-bottom: 20px;
                padding-left: 20px;
                @include mobile {
                    padding-left: 35px;
                }
            }
            li:before {
                margin-right: 10px;
                font-family: "InformaIcons";
                content: "\e914";
                font-size: 25px;
                color: #ffd500;
                position: absolute;
                left: -13px;
                top: -3px;
                @include mobile {
                    left: -1px;
                    padding-left: 0px;
                }
            }
            @include mobile {
                padding-top: 27px;
                padding-left: 0px;
            }
        }
        .priceCTA {
            padding: 0;
            font-size: 14px;
            color: $light;
            font-family: FSMe-Light;
            .priceDetails {
                span.price {
                    font-size: 24px;
                    font-family: FSMe-Bold;
                }
            }
            .headline {
                font-family: FSMe-Bold;
            }
            @include tablet {
                margin-bottom: 10px;
            }
        }
        .cta1,
        .cta2 {
            font-size: 14px;
            font-family: FSMe-Bold;
        }
        .cta2 {
            font-family: FSMe;
        }
        .cta3 {
            font-family: FSMe-Light;
            font-size: 16px;
            color: $orange;
            @include mobile {
                font-size: 14px;
            }
        }
        .share {
            font-family: FSME-bold;
            text-align: center;
            padding-top: 13px;
            display: inline-block;
            position: relative;
        }
        .share:after {
            font-family: "InformaIcons";
            content: "\e917";
            color: $white;
            font-size: 20px;
            position: absolute;
            top: 9px;
            left: 44px;
            @media (max-width: 1023px) and (min-width: 768px){
              top: 9px;
            }
        }
        .share-tab{
          @media (max-width: 1023px) and (min-width: 768px){
            padding-top: 10px;
          }

        }
        .topic{
            padding-top :15px;
            @include mobile{
                padding-bottom:5px;
            }
        }
        //  from here for sample insight banner
        .provided{
            //padding-top: 20px;
            padding-bottom: 15px;
            @include mobile {
                font-size: 14px;
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }
}

.italics {
    font-style: italic;
}

.provided-by {
    p {
        margin-bottom: 0;
    }
    .heading {
        width: 100px;
        float: left;
        color: #80838c;
    }
    .content {
        width: calc(100% - 100px);
        float: left;
    }
    a {
        color: $white;
        font-family: 'FSMe-Bold';
        display: inline-block;
        text-decoration: underline;
    }
}

.marketing-banner {
    position: relative;
    overflow: hidden;

	@include desktop{
		height: 550px;
	}
    @include tablet {
        padding: 0 30px;
    }
    @include mobile {
    }
    a:hover{
    	text-decoration: none;
    }
    a:focus{
    	text-decoration: none;
    }
	.close{
		position: absolute;
		top: 10px;
		right: 5px;
		float: right;
		z-index: 1;
		opacity: 1;
	}
    .cf-img {
        position: absolute;
        right: 0;
        bottom: 0;
        @include mobile {
            right: -115px;
        }
        @include tablet {
            right: -115px;
        }
    }
    .row{
    	@include desktop{
    		padding: 80px;
    		.image{
	        	img{
	        		max-width: 650px;
	        		max-height: 400px;
                    width: 100%;
	        	}
        	}
    	}
    	@include mobile{
			padding: 50px 15px;
			.content{
				margin-bottom: 15px;
				padding-right: 25px;
			}
            .image{
                margin-bottom: 30px;
            }
    	}
    	@include tablet{
			padding: 20px;
			.content{
				margin-bottom: 20px;
				padding-right: 50px;
			}
            .image{
                margin-bottom: 30px;
            }
    	}
    	.content{
	    	h1{
	    		margin-top: 0;
	    		margin-bottom: 0;
	    	}
	    	h2{
	    		margin-top: 0;
	    		margin-bottom: 0;
	    	}
	    	h3{
	    		margin-top: 40px;
                font-family: 'FSMe-Bold';
                @include mobile {
                    margin-top: 15px;
                }
                @include tablet {
                    margin-top: 15px;
                }
	    	}
	    	.btn{
	    		padding-right: 40px;
                font-family: 'FSMe-Bold';
                min-width: 275px;
                width:auto;
	    	}
	    	.btn:after {
		        font-family: "InformaIcons";
		        content: "\e904";
		        right: 10px;
                top: 50%;
                margin-top: -12px;
                font-size: 16px;
        	}
	    }

    }

    &.Variation1 {
        background-color: $yellow;
        .Variant1-description {
            display: block;
        }
        .Variant2-description {
            display: none;
        }
        .image{
        	img{
        		border: 5px solid $white;
                @include tablet {
                    margin: 0 auto;
                    width: 100%;
                }
        	}
        }
        .description{
	    		font-size: $font-size-large;
				padding: 40px 0;
                @include mobile {
                    padding: 15px 0;
                }
	    }
        .btn{
	    	border-color: $orange;
            &:after {
                color: $orange;
            }
	    }

    }
    &.Variation2 {
        background-color: $text-gray-dark;
        color: $white;
        .Variant2-description {
            display: block;
        }
        .Variant1-description {
            display: none;
        }
        h2 {
            font-size: 30px;
        }
        .image{
            img{
                @include tablet {
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
        .description{
	    	font-size: $font-size-base;
			padding: 20px 0 40px 0;
	    }
        .btn {
            //background: $orange;
            color: $white;
        }
    }
}
div.addthis_sharing_toolbox{
  margin-left: 15px;
  display: inline-block;
  @include mobile {
    margin-left: 0px;
  }
  @include tablet {
    margin-left: 8px;
  }
   a.at-share-btn{
    padding-right: 5px;
    border-radius: 100% !important;
    background-color: $social-icon-back !important;
    //  max-width: 10pc !important;
    //  max-height: 10pc !important;
     @include mobile {
       padding-right: 0px;
     }
     span.at-icon-wrapper{
       height: 40px !important;
       width: 37px !important;
       padding: 5px;
     }
   }
}

div.at4-share-outer {
  display: none !important;
}
.details .social-links,
.follow-button{
    display: inline-block;
    a{
        text-transform: none;
        transition: all 0.2s ease-in-out 0s;
        transform: translateY(0px);
        display: inline-block;
        .at-icon-wrapper{
            width: 40px!important;
            height:39px!important;
            line-height: 62px!important;
            border-radius:100%;
            background-color: $social-icon-back !important;
            .at-icon{
                width: 40px!important;
                height: 32px!important;
            }
        }
        &:hover{
            outline-offset: -1px;
            transform: translateY(-4px);
        }
    }
}
