/*=================================================
	Accordian
==================================================*/
//.panel-group
/*=================================================
	Video
==================================================*/
.video-wrap {
	position: relative;
	display: inline-block;

	.play-icon {
		position: absolute;
		width: 54px;
		height: 54px;
		background: url("/Static/images/video-icon.png") no-repeat;
		top: 50%;
		left: 50%;
		margin-top: -27px;
		margin-left: -27px;
	}
}

.at-icon-wrapper {
	background-color: transparent !important;
}
/*=================================================
	Mini - Video modal
==================================================*/
.video-mini-modal.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	top: 300px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.video-mini-modal.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(0, -300px, 0);
	transform: translate3d(0, -300px, 0);
	opacity: 1;
}

.video-mini-modal {
	.modal-dialog {
		width: 60%;
		margin: 0 auto;
		@include tablet {
			width: 85%;
		}
		@include mobile {
			width: 100%;
		}
	}

	.modal-content {
		border-radius: 0;
		background-color: $grey-color03;
		color: $white;
		margin-top: 20%;
		@include tablet {
			margin-top: 20%;
		}
		@include mobile {
			margin-top: 10%;
		}
	}

	.modal-header {
		border-bottom: 0;

		.close {
			color: $white;
			opacity: 2;
		}
	}
}
/*===================================================
	Search Flip Tile
====================================================*/
.flip {
	.tile {
		height: 100%;
		position: relative;
		transform: rotate(0deg);
		transition: transform 0.3s;
		overflow: hidden;

		&.flip {
			.front {
				transform: perspective( 800px ) rotateY( -180deg );
			}

			.back {
				transform: perspective( 800px ) rotateY( 0deg );
			}
		}

		.triangle {
			position: absolute;
			background: $white;
			width: 25px;
			height: 25px;
			top: 0;
			z-index: 1;
			cursor: pointer;

			.icon-arrow-right {
				color: $white;
				display: block;
				font-size: 10px;
				transform: rotate(-143deg);
				position: absolute;
			}
		}

		.header {
			position: relative;
			overflow: hidden;
			max-height: 140px;

			img {
				width: 100%;
			}

			&:after {
				content: "";
				position: absolute;
				width: 101%;
				height: 25%;
				background-color: #343742;
				transform: rotate(-4deg);
				top: calc(100% - 14px);
				left: 0;
			}
		}

		.tag {
			padding: 3px 8px;
			background-color: #434854;
			color: $white;
			margin: 0 3px 20px;
			display: inline-block;
		}

		.front {
			background-color: #343742;
			height: 100%;
			transform: perspective( 800px ) rotateY( 0deg );
			-webkit-backface-visibility: hidden;
			/* Chrome, Safari, Opera */
			backface-visibility: hidden;
			transition: transform 0.2s linear 0s;
			position: relative;

			.triangle {
				border-bottom: 50px solid #a6aab6;
				border-left: 50px solid transparent;

				.icon-arrow-right {
					left: -21px;
					top: 29px;
				}
			}

			.content {
				min-height: 100px;
				padding: 20px;
				height: 55%;

				.tag {
					background-color: #6a7184;
					color: $white;
					display: inline-block;
				}

				a {
					text-decoration: none;
					color: $white;
				}

				h2 {
					color: $white;
				}

				ul {
					list-style-type: none;
					padding-left: 20px;

					li {
						padding: 10px;
						position: relative;
						font-size: 16px;
						color: $white;

						&:before {
							content: "\e914";
							font-family: "InformaIcons";
							position: absolute;
							left: -20px;
							top: 5px;
							font-size: 20px;
							color: $yellow;
						}
					}
				}
			}

			.footer {
				-ms-transform: rotate(-3deg);
				-webkit-transform: rotate(-3deg);
				transform: rotate(-3deg);
				background-color: #434854;
				padding: 20px 0;
				position: absolute;
				width: 101%;
				top: auto;
				left: -1px;
				height: 90px;
				bottom: -5px;

				.footer-content {
					-ms-transform: rotate(3deg);
					/* IE 9 */
					-webkit-transform: rotate(3deg);
					/* Chrome, Safari, Opera */
					transform: rotate(3deg);
					background-color: #434854;
					padding: 0 0 10px;

					.btn {
						width: 100%;
						display: block;
						color: $white;

						&.free-trial {
							border-color: $orange;

							&:after {
								color: $orange;
							}
						}

						&.more {
							border-color: $orange;
						}
					}
				}
			}
		}

		.back {
			background-color: #f0f1f3;
			height: 100%;
			transform: perspective( 800px ) rotateY( 180deg );
			-webkit-backface-visibility: hidden;
			/* Chrome, Safari, Opera */
			backface-visibility: hidden;
			transition: transform 0.2s linear 0s;
			position: absolute;
			width: 100%;
			top: 0;
			overflow: hidden;

			.triangle {
				background: $white;
				border-top: 50px solid $orange;
				border-right: 50px solid transparent;
				top: auto;
				bottom: 0;
				right: 0;

				.icon-arrow-right {
					bottom: 30px;
					left: 10px;
					top: auto;
					transform: rotate(41deg);
				}
			}

			.header {
				&:after {
					background-color: #f0f1f3;
				}
			}

			.content {
				min-height: 100px;
				padding: 20px;

				a {
					text-decoration: none;
					color: #6a7285;
				}

				h2 {
					color: #6a7285;
				}

				p {
					padding-right: 20px;
				}
			}

			.footer {
				padding-top: 5%;
				position: absolute;
				overflow: hidden;
				bottom: 0;
				width: 100%;

				&:before {
					content: "";
					position: absolute;
					width: 101%;
					height: 100%;
					background-color: #e1e2e7;
					transform: rotate(-3deg);
					top: 50%;
					left: 0;
				}
			}
		}
	}
}

.search-container {
	.btn-container {
		margin: 20px 0 0;
		text-align: center;

		.btn-ShowMore,
		.open-tab {
			color: #444957;
			padding: 20px 0;
			width: 150px;
			display: inline-block;
			border-bottom: 2px solid $yellow;
			position: relative;
			@include mobile {
				padding: 20px 0 40px;
			}

			span {
				float: left;
				@include mobile {
					float: none;
				}

				&:before {
					content: "\e912";
					position: absolute;
					right: 0;
					font-family: "InformaIcons";
					font-size: 25px;
					top: 10px;
					color: $yellow;
					@include mobile {
						right: 50%;
						margin-right: -13px;
						top: 35px;
					}
				}

				&.less {
					&:before {
						content: "\e913";
					}
				}
			}

			&:focus,
			&:hover {
				text-decoration: none;
			}
		}
	}

	.more {
		display: block;
	}

	.less {
		display: none;
	}

	&.all-shown {
		.more {
			display: none;
		}

		.less {
			display: block;
		}
	}
}
/*=========================================
	Search Flip Tile End
==========================================*/

.product-brands-list .card .caption h4.maritime,
    .product-results .list-items .products h4.maritime {
        &:after {
           	background-position: -5px -538px !important;
            width: 29px !important;
            height: 38px !important;
     }
}

.product-brands-list .card .caption h4.law,
    .product-results .list-items .products h4.law {
        &:after {
           	background-position: -5px -584px !important;
            width: 29px !important;
            height: 38px !important;
        }
}


/*===================================================
	Image Fit to screen
====================================================*/
.img-fit {
	max-width: 100%;
}
/* ===============================================
Turn Off Number Input Spinners
==================================================
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* ===============================================
Fix boostrap modal is shifting fixed navbar
==================================================
*/
body.modal-open .navbar-fixed-top{
// @include greater-desktop {
// 	padding-right: 32px !important;
// }
@include desktop {
	padding-right: 16px !important;
}

&.cookieBanner {
	@include desktop {
		padding-right: 36px !important;
	}
}
}


/* ===============================================
Fix form input zoom in mobile
==================================================
*/
@include mobile {
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="tel"]:focus,
	textarea:focus, select:focus {
			font-size: 16px !important;
	}
	input[type="text"], input[type="email"],
	input[type="number"],input[type="tel"],
		textarea, select {
				font-size: 16px !important;
		}
}
.adjust-image{
	max-width: 100% !important;
	height: auto !important;
	display: block;
}

/* ===============================================
Accessibility fix for focus
==================================================*/

body{
	/*
	a:focus,
	button:focus,
	input:focus{
		@include border-focus;
	}
	a:active,
	button:active,
	input:active{
		outline:none !important;
	}*/
	.chosen-container-active {
		.chosen-single{
			outline:1px dotted #ccc !important;
		    @media only screen and (-webkit-min-device-pixel-ratio: 0) {
		        outline:2px solid #6397e0 !important;
		    }
		}
	}
}
body.zh{
    font-family: 'SWBrandFont', '黑体', '华文黑体' ,'SimHei';
}
body.ja{
    font-family: 'SWBrandFont','メイリオ', 'MS Pゴシック', 'MSMINCHO';
}
:lang(zh){
	font-family: 'SWBrandFont', '黑体', '华文黑体' ,'SimHei';
}
:lang(ja){
	font-family: 'SWBrandFont','メイリオ', 'MS Pゴシック', 'MSMINCHO';
}
.intro-text {
	text-align: left;
}
.icon-internal-link{
	&:before{
		 content: "\e904";
		-webkit-transform: rotate(180deg);
	  	-moz-transform: rotate(180deg);
	  	-ms-transform: rotate(180deg);
	  	-o-transform: rotate(180deg);
	  	transform: rotate(180deg);
	  	display: inline-block;
	}
}

//Simple recaptcha changes
.capbox {
  width: 50%;
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1141px) {
	.capbox {
	  margin-bottom: 25px;
	}
}
@media (max-width: 767px) {
	.capbox {
		margin-bottom: 17px
	}
}
#CaptchaDiv {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 5px 10px;
    margin-bottom: 8px;
    width: 50%;
    height: 30px;
}
.capbox-inner{
    margin-top: 16px;
}
.CaptchaInput{
    width: 50%;
    margin-top: 5px;
    height: 30px !important;
}
.body-fixed{
	position: fixed;
}
.email-validation-message{
	display: none !important;
}
.btn-primary.download-report{
	&:after{
	  font-family: "InformaIcons";
	  content: "\e905" !important;
	  position: absolute;
	  right: 15px;
	  top: 28%;
	  font-size: 16px;
	}
}