// todo: overriding the bootstrap style.. this should be moved
.nav > li > a:hover, .nav > li > a:focus {
      background: none;
}
footer {
  font-weight: 200;
  overflow-x: hidden;
  clear:both;
  ul.navbar-nav {
      margin: 0;
      a{
        @include anchor-font(14px,13px,12px)
      }
  }
  h3 {
        font-size: 19px;
  }

  // Naivgational Links & Social Icons
  section#footer-links {
    background: $grey-color02;
    padding: 40px 0;
    margin-bottom: -2px;
    @include mobile{
      padding: 30px 0;
    }
    p{
      &.light{
        @include family-style(200,$white);
        @include heading-font-size(18px,16px,16px);
        @include heading-line-height(26px,24px,24px);
        padding-bottom: 30px;
        margin: 0;
      }
    }
    @include mobile {
          .links:nth-child(2) h3 {
               display: none;
        }
   }
    nav {
      ul {
        float: none;
        li {
          float: none;
           &:first-child{
              a{
                @include tablet{
                  padding-top: 0;
                }
                @include desktop{
                  padding-top: 0;
                }
              }

            }
          a {
            color: $white;
            padding: 10px 0;

          }
          &.yellow {
            a:after {
              color: $sub-yellow;
            }
            a {
              border-color: $sub-yellow;
            }
          }
          &.prof-pink {
            a:after {
              color: $sub-prof-pink;
            }
            a {
              border-color: $sub-prof-pink;
            }
          }
          &.pink {
            a:after {
              color: $sub-pink;
            }
            a {
              border-color: $sub-pink
            }
          }
          &.red {
            a:after {
              color: $sub-red;
            }
            a {
              border-color: $sub-red
            }
          }
          &.green {
            a:after {
              color: $sub-green;
            }
            a {
              border-color: $sub-green
            }
          }
          &.blue {
            a:after {
              color: $sub-blue;
            }
            a {
              border-color: $sub-blue
            }
          }
        }
      }
    }
    .links {
        nav {
          ul {
            width: 75%;
            @include mobile{
                  width: 100%;
            }
              li{
                &:first-child{
                  a{
                    &:after {
                      @include tablet{
                        top: 0;
                      }
                      @include desktop{
                        top: 0;
                      }
                    }
                  }
                }
              }
              a {
                border-bottom: 1px solid;
                display: block;
                position: relative;
                &:after {
                  content: '>';
                  position: absolute;
                  right: 0;
                  font-weight: bold;
                  top: 12px;
                  font-size: 21px;
                }
              }
          }
        }
    }
    .social {
      border-left: 2px solid #4a4f5e;
      @include desktop {
        padding-left: 30px;
      }
      @include mobile {
            padding-top: 30px;
            border: none;
            border-top: 0;
      }
      p{
        &.light{
          @include not-desktop{
            padding-bottom: 10px;
          }
        }
      }
      @include tablet {
        margin-top: 40px;
      }
      li {
            padding:0;
            margin-bottom: 10px;
            background: url(/Static/images/spritesheet.png) no-repeat;
            &:first-child {
              a{
                padding-top: 10px;
              }
            }
            &:last-child {
              padding-bottom: 0;
            }
            &.facebook-white {
                  background-position: -5px -6px;
            }
            &.twitter-white {
                  background-position: -5px -57px;
            }
            &.linkedin-white {
                   background-position: -5px -108px;
            }
            &.youtube-white {
                   background-position: -5px -386px;
            }
            @include tablet {
                  display: inline-block;
                  margin-right: 12px;
            }
            @include mobile {
                  float: left;
                  width: 60px;
                  height: 45px;
                  padding: 0;
                  a {
                        opacity: 0;
                  }
            }
            a{
              padding:10px 0 10px 60px;
            }
      }
    }
  }

  // Privacy section
  section#privacy{
    background: $grey-color03;
    padding: 40px 0 50px 0;
    color: $white;
    @include mobile{
      padding: 30px 0;
    }
    @include tablet{
      padding: 40px 0;
    }
    ul {
       @include mobile {
             text-align: center;
       }
      li {
        margin-right: 35px;
        display: inline-block;
        @include mobile{
          margin: 0 10px;
          //width: 24%;
          padding: 0;
        }
      }
      a {
        color: $white;
        padding: 0;
        text-decoration: underline;
        font-weight: 200;
        &:Hover {
          background: none;
        }
      }
    }
    .disclaimer-copyright {
      font-size: 13px;
      margin: 35px 0 0;
      @include mobile{
        margin: 30px 0;
      }
      @include tablet{
        margin: 30px 0 0 0;
      }
      p{
        color: $white;
        margin: 0;
      }
      @include mobile {
            padding: 0 42px;
            text-align: center;
      }
      & + .bottom-logo {
        padding: 25px 15px 0 0;
        @include mobile{
          padding:  0;
        }
        @include tablet{
          padding: 40px 0 0 0;
          padding-right: 15px;
        }
        .navbar-brand {
          float: none;
          @include tablet{
            float: right;
          }
          @include mobile{
            float: none;
            padding: 0;
          }
        }
        img {
             display: block;
             float: right;
             @include mobile {
                   float: none;
                   margin: 0 auto;
             }
       }
      }
    }
  }
      ul.slick-dots {
            text-align: center;
            width: 100%;
            bottom: -27px;
            @include mobile {
                  bottom: -40px;
                  display: none;
            }
            li {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: $grey-color05 ;
                button:before {
                    content: '';
                }
                &.slick-active{
                    background: $orange;
                }
            }
      }
}
 // The customer list + SLider
  section#customers_list{
    padding-bottom: 40px;
    @include tablet{
      padding-bottom: 30px;
    }
    @include mobile{
      padding-bottom: 20px;
    }
    overflow: hidden;
    .title_comp {
      p{
        &.gray{
          margin: 40px 30px 40px 0px;
          @include family-style(normal,$grey-color05);
          @include heading-font-size(24px,18px,18px);
          @include heading-line-height(30px,26px,26px);
          @include mobile {
            margin: 30px 20px;
          }
          @include tablet {
            margin: 30px 20px 30px 5px;
          }
        }
      }
    }
    .customers_list_slider {
      opacity: 0;
      transition: .5s ease;
      @include tablet {
            padding: 0 40px;
      }
      ul.slick-dots {
        display: none !important;
      }
      &.slick-slider {
        opacity: 1;
        height: 80px;
        margin-bottom: 0;
        .slick-arrow {
        height: 60px;
        width: 40px;
        z-index: 1;
        //background-color: $yellow;
        top: 50%;
        @include mobile {
            height: 40px;
            width: 30px;
        }
        @include tablet {
            height: 40px;
            width: 25px;
        }
        &:before {
            content: "\e903";
            font-family: 'InformaIcons';
            position: absolute;
            font-size: 26px;
            opacity: 1;
            top: 50%;
            left: 50%;
            margin-top: -13px;
            margin-left: -13px;
            @include mobile {
                font-size: 14px;
                margin-top: -7px;
                margin-left: -7px;
            }
            @include tablet {
                font-size: 16px;
                margin-top: -8px;
                margin-left: -8px;
            }
        }

        &.slick-next {
          &:before {
            content: "\e902";
          }
        }
    }

       @include not-desktop{
             .slick-prev {
                   left: -5px;
             }
             .slick-next {
                   right: -5px;
             }
       }
      }
      .customer {
        margin: 15px 0;
        max-width: 200px;
        img { max-width: 100%;} //SW-871
      }
    }
  }

//white theme
section#footer-links.white-theme {
    background: $white-shade;
    p.light {
        color:$gray;
    }
    nav ul li a {
        color:$gray;
    }
    .social li {
        background: url(/Static/images/spritesheet-white.png) no-repeat;
    }
 }

section#privacy.white-theme {
    background: $white;
    ul a {
        color:$gray;
    }
    .disclaimer-copyright p {
        color: $gray;
    }
}

footer{
  section#footer-links{
    .social{
      li {
          &.twitter-white{
            background-position: -5px -57px;
          }
          &.linkedin-white {
            background-position: -5px -108px;
          }
          &.youtube-white {
            background-position: -5px -386px;
          }
          &.facebook-white {
            background-position: -5px -6px;
          }
      }
    }
  }
}