// todo: overriding the bootstrap style.. this should be moved
.nav > li > a:hover, .nav > li > a:focus {
      background: none;
}
footer {
font-family: FSMe-Light;
overflow-x: hidden;
ul.navbar-nav {
      margin: 0;
}
h3 {
      font-size: 19px;
}
  // The customer list + SLider
  section#customers_list{
    height: 208px;
    overflow: hidden;
    .title_comp {
      h3 {
        margin: 35px 0 50px;
      }
    }
    .customers_list_slider {
      opacity: 0;
      transition: .5s ease;
      &.slick-slider {
        opacity: 1;
        .slick-prev,.slick-next {
             background-image: url(/Static/images/yellow-arrow.png);
             height: 60px;
             width: 41px;
             &:before {
                   content: '';
             }
             @include mobile{
                   display: none!important;
             }
             @include tablet{
                   display: none!important;
             }
        }
        .slick-prev {
             transform: rotate(180Deg);
             top: -5px;
       }
      }
      .customer {
        img { max-width: 100%;} //SW-871
      }
    }
  }

  // Naivgational Links & Social Icons
  section#footer-links {
    background: $footer-top-gray;
    padding: 36px 0 42px;
    h3 {
      margin: 0 0 25px;
    }
    @include mobile {
          .links:nth-child(2) h3 {
               display: none;
        }
   }
    nav {
      ul {
        float: none;
        li {
          float: none;
          a {
            color: $light;
            padding: 10px 0;
          }
          &.pink {
            a:after {
              color: $sub-pink;
            }
            a {
              border-color: $sub-pink
            }
          }
          &.red {
            a:after {
              color: $sub-red;
            }
            a {
              border-color: $sub-red
            }
          }
          &.green {
            a:after {
              color: $sub-green;
            }
            a {
              border-color: $sub-green
            }
          }
          &.blue {
            a:after {
              color: $sub-blue;
            }
            a {
              border-color: $sub-blue
            }
          }
        }
      }
    }
    .links {
        nav {
          ul {
            width: 75%;
            @include mobile{
                  width: 100%;
            }
              a {
                border-bottom: 1px solid;
                display: block;
                position: relative;
                &:after {
                  content: '>';
                  position: absolute;
                  right: 0;
                  font-family: FSMe-Bold;
                  top: 12px;
                  font-size: 21px;
                }
              }
          }
        }
    }
    .social {
      border-left: 2px solid #4a4f5e;
      @include mobile {
            padding-top: 26px;
            margin-top: 30px;
            border: none;
            border-top: 2px solid #4a4f5e;
      }
      li {
            padding:0 0 6px  60px;
            &.facebook-white {
                  background: url(/Static/images/social/fb.png) no-repeat;
            }
            &.twitter-white {
                  background: url(/Static/images/social/tw.png) no-repeat;
            }
            &.linkedin-white {
                  background: url(/Static/images/social/in.png) no-repeat;
            }
            @include mobile {
                  float: left;
                  width: 30px;
                  height: 45px;
                  a {
                        display: none;
                  }
            }
      }
    }
  }

  // Privacy section
  section#privacy{
    background: $footer-bottom-gray;
    padding: 35px 0;
    color: $light;
    ul {
      li {
        margin-right: 35px;
        display: inline-block;
      }
      a {
        color: $light;
        padding: 0;
        text-decoration: underline;
        font-family: FSMe-Light;
        &:Hover {
          background: none;
        }
      }
    }
    .disclaimer-copyright {
      font-size: 12px;
      margin: 30px 0 0;
      @include mobile {
            padding: 0 42px;
            text-align: center;
      }
      & + .bottom-logo {
        padding: 25px 0 0;
        img {
             display: block;
             float: right;
             @include mobile {
                   float: none;
                   margin: 0 auto;
             }
       }
      }
    }
  }
      ul.slick-dots {
            text-align: center;
            width: 100%;
            bottom: -40px;
            li {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: $gray;
                button:before {
                    content: '';
                }
                &.slick-active{
                    background: $orange;
                }
            }
      }
}
