//All common form element modificaiton
select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 10px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 2px solid #ccc;
    color: #999;
    min-width: 150px;
    option {
        padding: 5px 10px;
    }
}
select.chosen-select {
    @include mobile {
        width: 100%;
        padding: 0 0 0 8px;
        height: 35px;
        border: 2px solid #aaa;
        background: $white;
    }
}
.load-spinner {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    .loading {
        position: fixed;
        display: block;
        img {
            display: block;
        }
        em {
            display: block;
            text-align: center;
            position: relative;
            top: 60px;
            font-weight: 700;
            color: $white;
        }
    }
}

.form {
    .disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    .textbox {
        background-color: $white;
        input {
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            border: none;
            padding: 10px;
            color: $grey-color03;
            font-weight: 400;
            width: 100%;
        }
        label {
            margin-bottom: 0;
            width: 100%;
        }
    }
    label.label {
        font-weight: 200;
        font-size: 1em;
        padding: 0;
    }
    :not(.lt-ie9) {
        /* HTML5 Boilerplate accessible hidden styles */
        .custom-checkbox input,
        .custom-radio input {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        /* the basic, unchecked style */
        .custom-radio input + span::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            vertical-align: -0.25em;
            border-radius: 1em;
            border: 0.225em solid #fff;
            margin-right: 8px;
            background: $white;
            transition: 0.5s ease all;
            position: relative;
            top: -2px;
        }
        /* the checked style using the :checked pseudo class */
        .custom-radio input:checked + span::before {
            background: $input-orange;
        }
    }
    .custom-checkbox {
        color: $text-gray;
        position: relative;
        label {
            margin-left:25px;
            span {
                &:before {
                    background: #fff none repeat scroll 0 0;
                    content: "";
                    height: 16px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 16px;
                }
            }
            input:checked + span:before {
                background: $white url("/Static/images/common/checkbox-tick.jpg") no-repeat 0 0;
                background-size: 100%;
            }
            input:disabled + span:before {
                background: $grey-color09 none;
                background-size: 100%;
            }
        }
    }
    .custom-multiselect {
        a {
            padding: 0 !important;
        }
        label {
            color: $text-gray;
        }
        input {
            opacity: 0;
            width: 16px;
            height: 16px;
        }
        .btn-group {
            width: 100%;
            .caret {
                content: "\e901";
                border: none;
                font-family: 'InformaIcons';
                position: absolute;
                right: 30px;
                &:before {
                    font: 400 15px 'InformaIcons';
                    content: "\e901";
                    color: #a7a9b6;
                }
            }
            .dropdown-toggle {
                width: 100%;
                background: $white;
                border: none;
                padding: 10px;
                &:after {
                    content: '';
                }
                &:hover {
                    background: $white;
                }
            }
            .dropdown-menu {
                border-radius: 0;
                border: none;
                width: 100%;
                padding: 10px 0;
                background-color: $grey-color10;
                box-shadow:1px -1px -1px 1px rgba(0,0,0,0.75);
                -moz-box-shadow:1px -1px -1px 1px rgba(0,0,0,0.75);
                -webkit-box-shadow:1px -1px -1px 1px rgba(0,0,0,0.75);
                label {
                    color: $text-gray;
                    white-space: normal;
                    word-wrap: break-word;
                    &:before {
                        background: #fff none repeat scroll 0 0;
                        content: "";
                        height: 16px;
                        left: 19px;
                        position: absolute;
                        top: 6px;
                        width: 16px;
                    }
                }
                .active {
                    label {
                        &:before {
                            background: $white url("/Static/images/common/checkbox-tick.jpg") no-repeat 0 0;
                            background-size: 100%;
                        }
                    }
                    a {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
