.fc-state-default.fc-corner-right, .fc-state-default.fc-corner-left {
	width: 45px;
    height: 67px;
    display: block;
    background: #ffd500;
    border-radius: 0;
    border: 0;
    span {
    	color: $white;
    }
	&.disabled {
		background: grey;
		pointer-events: none;
	}
	@include mobile {
	    width: 30px;
    	height: 50px;
	}
	@include tablet {
	    width: 30px;
    	height: 50px;
	}
}
.fc-state-default.fc-corner-left { 
	@include mobile {
		margin-right: 0;
	}
}
.fc-scroller {
	height: auto !important;
}
.fc th,.fc-bg .fc td {
	border: 5px solid #f3f3f3;
}
.fc th {
	background: #f3f3f3;
	text-align: left;
	height: auto;
	color: #565c6b;
	@include mobile {
		text-align: center;
	}
}
// .fc-ltr .fc-basic-view .fc-day-number {
// 	font-weight: normal;
// 	font-size: 16px;
// 	text-align: right;
// 	padding-right: 6px;
// 	&.fc-today {
// 		color: $white;
// 	}
// 	&.fc-other-month {
// 		visibility: hidden;
// 	}
// 	@include mobile {
// 		color: #6a7384;
// 	}
// 	@include tablet {
// 		color: #6a7384;
// 		padding: 15px;
// 	}
// 	sup {
// 	    top: -15px;
// 	    left: 0;
// 	}
// }
// .fc-event-container {
// 	div.events {
// 		margin-bottom: 10px;
// 		@include mobile {
// 			display: none;
// 		}
// 		@include tablet {
// 			display: none;
// 		}
// 		p {
// 			margin-bottom: 0;
// 			padding-left: 10px;
// 			line-height: 1.2;
// 		    font-weight: 200;
// 			&.title {
// 				position: relative;
// 				a {
// 					color: #6b7189;
// 					font-weight: bold;
// 					text-decoration: underline;
// 				}
// 				&:before {
// 					content: "";
// 				    top: 0;
// 				    width: 4px;
// 				    height: 14px;
// 				    position: absolute;
// 				    left: 0;
// 				    background: $yellow;
// 				}
// 			}
// 		}
// 		&.disabled {
// 			p {
// 				&.title {
// 					&:before {
// 						background: $grey-color08 !important;
// 					}
// 					a {
// 						text-decoration: none;
// 					}
// 				}
// 				a {
// 					pointer-events: none;
// 				}
// 			}
// 		}
// 		&.current {
// 			p {
// 				&.title {
// 					a {
// 						color: $white;
// 					}
// 					&:before {
// 						background: $white;
// 					}
// 				}
// 				&.country {
// 					color: $white;
// 				}
// 			}
// 		}
// 	}
// }

// .fc-more-cell {
// 	position: absolute;
// 	top: 170px;
// }
// .fc-more-cell div {
// 	position: relative;
// }
// .fc-more-cell a.fc-more {
// 	color: transparent;
// 	&:before {
// 		content: "\e901";
// 		font-family: 'InformaIcons';
// 		color: #6b7189;
// 		position: absolute;
// 		left: 44%;
// 		@include tablet {
// 			left: 30%;
// 		}
// 	}
// 	&:hover, &:focus, &:active, &:visited {
// 		color: $white;
// 	}
// }
.fc-unthemed .fc-popover {
	width: 161px;
	margin-top: 60px;
	border-top: 0;
	box-shadow: 0 5px 6px rgba(0,0,0,.15);
	@include tablet {
		width: 100px;
	}
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header {
	background: $white;
	bottom: 0;
    position: absolute;
    width: 95%;
}
.fc-icon-x:after {
	content: "\e901";
	font-family: 'InformaIcons';
	color: #6b7189;
	transform: rotate(180deg);
	position: absolute;
	font-size: 14px;
	left: 44%;
}
.fc-ltr .fc-popover .fc-header .fc-title {
	color: $white;
}
.fc-more-popover .fc-event-container {
	padding: 0 0 20px 0;
	@include tablet {
		padding: 0 0 40px 0;
	}
}
// .fc-more-cell {
// 	bottom: -48px;
//     position: absolute;
//     width: 160px;
// }
.fc-widget-content {
	&.open {
		background: #343642;
		color: #fff;
		&.event-present {
			&:before {
				background: #343642;
			}

		}
	}
}
.fc {
	.events-wrap {
		border: 1px solid;
		padding: 20px 10px 0 10px;
		.events {
			display: block;
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #666c7a;
			&:last-child {
				border-bottom: 0;
			}
			p {
				margin-bottom: 0;
				padding-left: 10px;
				line-height: 1.2;
				&.title {
					position: relative;
					a {
						color: #6b7189;
						font-weight: bold;
						text-decoration: underline;
					}
					&:before {
						content: "";
					    top: 0;
					    width: 4px;
					    height: 14px;
					    position: absolute;
					    left: 0;
					    background: $yellow;
					}
				}
			}
			&.disabled {
				p {
					color: #bcbfc8;
					&.title {
						&:before {
							width: 4px;
							background: #bcbfc8 !important;
						}
					}
					a {
						color: #bcbfc8;
						pointer-events: none;
					}
				}
			}
			&.current {
				p {

					&.title {
						&:before {
							background: $yellow;
						}
					}
				}
			}
		}
	}
}
// .event-present {
// 	position: relative;
// 	overflow: hidden;
// 	&:before {
// 	    content: '';
// 	    width: 20px;
// 	    position: absolute;
// 	    top: -10px;
// 	    right: -10px;
// 	    background: #e0e4e7;
// 	    height: 20px;
// 	    transform: rotate(45deg);
// 	    @include tablet {
// 	    	width: 40px;
// 	    	height: 40px;
// 	    	top: -20px;
// 	    	right: -20px;
// 	    }
// 	}
// 	&.fc-today {
// 		&:before {
// 			background: #343742;
// 		}
// 	}
// }
.fc-basic-view .fc-body .fc-row {
	@include mobile {
		min-height: 3em;
	}
	@include tablet {
		min-height: 6em;
	}
}
// td.fc-day.fc-widget-content {
//     border-width: 5px;
//     border-color: #f3f3f3;
//     @include mobile {
//     	border-width: 1px;	
//     }
//     @include tablet {
//     	border-width: 1px;	
//     }
// }
.fc-view, .fc-view > table {
    border: 7px solid #f3f3f3;
    @include mobile {
    	border: 1px solid #f3f3f3;
    }
}
.fc-past.fc-other-month, .fc-future.fc-other-month {
	background-color: #f8f8f8;
	color: #565c6b;
}
.fc-icon-left-single-arrow:after {
	content: '\e903';
	font-family: 'InformaIcons';
    position: absolute;
    font-size: 26px;
    opacity: 1;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -13px;
    font-weight: normal;
    @include mobile {
    	font-size: 15px;
    	margin-left: -7px;
    }
    @include tablet {
    	font-size: 15px;
    	margin-left: -7px;
    }
}
.fc-icon-right-single-arrow:after {
	content: '\e902';
	font-family: 'InformaIcons';
    position: absolute;
    font-size: 26px;
    opacity: 1;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -13px;
    font-weight: normal;
    @include mobile {
    	font-size: 15px;
    	margin-left: -7px;
    }
    @include tablet {
    	font-size: 15px;
    	margin-left: -7px;
    }
}
.fc button .fc-icon {
	position: static;
	height: auto;
}
.fc-toolbar {
	display: none;
	width: 40%;
	@include mobile {
		width: 100%;
	}
}
.fc-toolbar h2 {
    margin: 0;
    font-size: 28px;
    margin: 10px 0;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    @include mobile {
    	margin-top: 10px;
    }
    @include tablet {
    	margin-top: 10px;
    }
}
// fullcalendar resets
.fc-view, .fc-view > table {
	border: none;
}
.fc-unthemed {
	.fc-content, .fc-divider, .fc-row, tbody, thead, th, td {
		border: none;
	}
}
.fc th {
	background: transparent;
}
.fc-past.fc-other-month, .fc-future.fc-other-month {
	background-color: transparent;
}
.fc.fc-unthemed td.fc-today {
	background-color: transparent;
	border: none;
}
.fc-day-number {
	display: block;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}
[data-view="calendar-view"] {
	[data-datetype="month"] {
		margin-top: 30px;
		.fc th {
			padding-bottom: 20px;
			text-align: center;
			@include mobile {
				padding-bottom: 3px;
			}
		}
		.fc-scroller{
			overflow: hidden !important;
		}
		.fc-body .fc-row {
			height: 155px !important;
			overflow: hidden;
			@include mobile {
				min-height: 3.5em;
				height: 50px !important;
			}
		}
		.fc-content-skeleton {
			padding-bottom: 0;
			// height: 100%;
			@include mobile {
				top: 50%;
				transform: translateY(-50%);
			}
			tbody {
				@include mobile {
					display: none;
				}
			}
			table {
				height: 100%;
				.fc-more-cell {
					padding: 0 17px;
				}
				.fc-event-container {
					padding: 0 17px;
					.events {
						// white-space: nowrap;
						// overflow: hidden;
						p {
							padding: 0 0 5px;
							margin: 0;
						}
					}
				}
			}
		}
		.fc-day-top {
			padding: 0 10px 0;
			@include mobile {
				text-align: center;
				color: #6a7384;
				padding: 0;
			}
			&.event-now {
				color: black;
			}
			.fc-day-number {
				@include mobile {
					text-align: center;
				}
			}
		}
		.fc-day {
			position: relative;
			vertical-align: bottom;
			.more {
				position: relative;
				display: none;
			}
			&.congested {
				.more {
					display: block;
				}
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 10px;
				left: 0;
				right: 0;
				width: calc(100% - 20px);
				height: calc(100% - 30px);
				margin: 0 auto;
				background-color: white;
				border: 1px solid #ebebeb;
				@include mobile {
					display: none;
				}
				// ie 11 hack
				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					height: 124px;
				}
			}
			&.fc-today {
				&:before {
					background-color: #f0f0f3;
				}
			}
			&.fc-other-month:before, &.fc-disabled-day:before {
				display: none;
			}
			&.event-present {
				cursor: pointer;
				&:before {
					border-color: black;
					@include mobile {
						display: block;
						top: 0;
						bottom: 0;
						width: 30px;
						height: 30px;
						margin: auto;
					}
				}
				// hover bits
				@include desktop {
					&:hover {
						&:before {
							box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
						}
					}
				}
			}
		}
		@include mobile {
			.fc-view {
				padding: 10px 5px;
				&> table {
					border: none;
				}
			}
			.fc td, .fc th {
				border-width: 0;
			}
			.fc th {
				padding: 3px 0;
			}
		}
	}
	[data-datetype="year"] {
		.fc-toolbar {
			display: block;
		}
		.fccal {
			margin-top: 30px;
		}
		.fc-view > table {
			border: none;
		}
		.fc-toolbar {
			width: 100%;
			margin-top: 1em;
		}
		.fc-view, .fc-view > table {
			border-width: 1px;
		}
		.fc td, .fc th {
			border-width: 0;
		}
		.fc th {
			padding-bottom: 3px;
			text-align: center;
		}
		.fc-body .fc-row {
			min-height: 3.5em;
		}
		.fc-content-skeleton {
			top: 50%;
			transform: translateY(-50%);
			padding-bottom: 0;
			tbody {
				display: none;
			}
		}
		.fc-view {
			padding: 10px 5px;
			border: 1px solid #ebebeb;
			&.event-present {
				border-color: black;
				cursor: pointer;
				&:hover {
					box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
				}
			}
		}
		.fc-day-top {
			padding: 0 10px 0;
			color: #6a7384;
			@include tablet {
				padding: 0;
			}
			&.event-now {
				color: black;
			}
			.fc-day-number {
				text-align: center;
			}
		}
		.fc-day {
			position: relative;
			&:before {
				content: '';
				display: none;
				position: absolute;
				bottom: 10px;
				left: 0;
				right: 0;
				width: calc(100% - 20px);
				height: calc(100% - 30px);
				margin: 0 auto;
				background-color: white;
				border: 1px solid #ebebeb;
			}
			&.fc-today {
				&:before {
					background-color: #f0f0f3;
				}
			}
			&.fc-other-month:before, &.fc-disabled-day:before {
				display: none;
			}
			&.event-present {
				cursor: pointer;
				&:before {
					display: block;
					top: 0;
					bottom: 0;
					width: 30px;
					height: 30px;
					margin: auto;
					border-color: black;
					// ie 11 hack
					@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
						top: 5px;
						bottom: auto;
					}
				}
			}
		}
	}
}
// .events-now {
// 	font-weight: bold;
// }
// .fc td.fc-today {
//     border-style: solid;
//     color: $white;
// }
// .fc-more-cell {
// 	position: absolute;
// 	top: 250px;
// }
.fc td, .fc th {
	@include mobile {
		border-width: 0;
	}
}
.fc th {
	@include mobile {
		padding: 3px 0;
	}
}