  // ----------------------------------------------------
// _ad-sub-hero
// ----------------------------------------------------
ul, ol {
    margin-bottom: 0;
    margin-top: 0;
}

html {
  font-family: 'SWBrandFont'; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

body {
  font-family: 'SWBrandFont';
}


/* If you have a theme for yourself which you need to follow this then extend this agri-theme to that class and make
appropriate style change */
// .agri-theme {
//     color: $grey-color05;
//     a{
//         color: $light;
//     }
//     .btn {
//         background: transparent;
//         color: $btn-default-color;
//         border-color: $btn-default-border;
//         border-radius: $border-radius-base;
//         border-width: 2px;
//         &:hover{
//             background: transparent;
//             color: $btn-default-color;
//         }
//         &:next{

//         }

//     }

//     .btn-default{
//        text-align: left;
//        padding-top: 15px;
//        padding-bottom: 15px;
//        border-color: $brand-secondary;
//        position: relative;
//        &:after{
//          content: "\e900";
//          font-family: 'InformaIcons';
//          right: 15px;
//          font-weight: bold;
//          position: absolute;

//        }
//     }

//     .btn-primary{
//        text-align: left;
//        width:100%;
//        padding-top: 15px;
//        padding-bottom: 15px;
//        border-color: $orange;
//        background-color: $orange;
//        color: $white;
//        position: relative;
//        &:after{
//          content: "\e900";
//          font-family: 'InformaIcons';
//          right: 15px;
//          font-weight: bold;
//          position: absolute;
//        }
//        &:hover{
//         background-color: $brand-secondary;
//         border-color: $brand-secondary;
//         color: $white;
//        }
//     }

//     .component {
//         padding: 0px;
//         color: $text-color;
//         .component-content {
//             padding: 0px;
//             display: block;
//             height: 100%;
//             background-color: transparent;
//         }

//         &.boxed {
//             .component-content {
//                 padding: $gutterside;
//                 background-color: $btn-default-color ;
//         }
//         }
//         a{
//             color: $btn-default-color;
//             &:hover{
//                 color:$btn-default-color;
//             }
//         }
//         h1 {
//           font-weight: bold;
//         }
//         h1, h2, h3 {
//             margin-top: 0px;
//         }
//         .btn {
//             color: $btn-default-color;
//             &:hover{
//                 color: $btn-default-color ;
//             }
//         }

//     }
//     .card-container {
//         padding-top: $gutterside;
//         .component {
//             padding: 0px $gutterside $gutterside 0px;
//         }
//         &>.container {
//             padding-right: 0px;
//         }
//     }
//     // .panel {
//     //     @include panel-variant(get-color('primary','light'), get-color('dark'), get-color('primary','light'), get-color('primary','light'));
//     //     .panel-heading {
//     //         .panel-title a {
//     //             color: get-color('dark');
//     //         }
//     //     }
//     // }


//     .bg-gray-light {
//       background-color: $grey-color03;
//     }

//     .bg-gray-dark {
//       background-color: $grey-color01;
//     }

//     .bg-white {
//       background-color:$white;
//     }

//     .bg-light-blue {
//       background: $grey-color09;
//     }

//     .bg-lighter-blue {
//       background: $grey-color09;
//     }
//     @mixin header-color($param) {
//       @if($param == 'bg-gray-dark'){
//         color: #fff;
//       }

//     }
//     .bg-gray-dark {
//       h1, h2 {
//         @include header-color('bg-gray-dark');
//       }

//     h2{
//       font-size: 26px;
//     }
//       .btn{
//         color: $white;

//       }
//     }

// }

.panel-group{
  .panel{
    border-radius: 0;
    .panel-heading{
      border: none;
      color: $grey-color05;
      padding: 10px 15px;
    }
  }
}


//Container widths modified based on this project
.container {
  //@include container-fixed($gutterwidth);
    @include mobile {
      width: 100%;
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
    @include tablet {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include desktop {
      width: 1172px;
      padding-left: 15px;
      padding-right: 15px;
    }

}

//Add your theme name here and use it in pages where such styling is required.
//.my-theme { @extend .agri-theme; }

.row {
  @include make-row(30px);
  @include mobile{
    @include make-row(15px);
  }
  [class*='col-']{
    padding-left: 15px;
    padding-right: 15px;
    @include mobile{
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }
}


.gray-bullets {
  list-style-type: none;
  padding-left: 20px;
  font-weight: bold;
  li {
    margin-bottom: 5px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -20px;
      width: 5px;
      height: 5px;
      top: 7px;
      background-color: $grey-color01;
      @include border-radius(50%);
      font-weight: bold;
    }
  }
}

.white-mail, .white-linkedin {
	width: 24px;
	height: 17px;
	background-image: url(../images/yellow-mail.png); // background Image
	display: block;
}
.white-twitter {
	width: 23px;
	height: 16px;
	background-image: url(../images/yellow-twitter.png);
	display: block;
}

.pointer-none {
  pointer-events: all !important;
}
.btn-container {
  a.btn-plus {
    width: auto;
    display: inline-block;
    padding-right: 35px;

  }
}
