header {
    color: $light;
    section.informa-header-copyright {
        background: $gray-header;
        .informa-select {
            font-size: 18px;
            text-transform: lowercase;
            width: 60px;
            text-align: center;
            margin: 0 auto;
            padding: 5px;
        }
        .header-copyright {
            color: $white;
            background-color: $gray-header;
            //  border-bottom: 1px solid $white;
            overflow: hidden;
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            @include tablet {
              font-size: 13px;
              z-index: 2;
            }
            @include mobile {
              font-size: 12px;
              z-index: 2;
            }
        }
        .header-copyright-inner {
            max-width: 100%;
            margin: 0 auto;
            min-height: 36px;
            text-align: center;
            & .toggle {
                color: #fff;
                text-decoration: none;
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translate(-50%);
                cursor: pointer;
                font-size: 20px;
                text-transform: lowercase;
                font-family: 'FSMe-Bold';
                display: block;
                padding-right: 20px;
                &::after {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 5px 0 5px;
                    border-color: $white transparent transparent transparent;
                    margin-left: 5px;
                    position: absolute;
                    top: 12px;
                    right: 0;
                }
            }
        }
        .header-copyright-content {
            max-height: 0;
            overflow: hidden;
            text-align: left;
            padding-top: 10px;
            top: 100%;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            @include mobile {
              padding-top: 5px;
            }
            @include tablet {
              padding-top: 5px;
            }
        }
        .header-copyright-inner.open {
            & .toggle::after {
                border-width: 0 5px 5px 5px;
                margin-left: 5px;
                border-color: transparent transparent $white transparent;
                position: absolute;
                top: 12px;
                right: 0;
            }
            & .header-copyright-content {
                max-height: 160px;
                height: 160px;
                opacity: 1;
                padding-top: 20px;
                filter: alpha(opacity=100);
                @include mobile {
                  max-height: 190px;
                  height: 190px;
                  padding-top: 20px;
                }
                @include tablet {
                  max-height: 180px;
                  height: 180px;
                  padding-top: 15px;
                }
                & .header-copyright-text {
                    &:last-child {
                        border-left: 1px solid $white;
                        padding-left: 26px;
                        padding-top: 8px;
                        @include mobile {
                          padding-left: 5px;
                          border-left: none;
                          margin: 0 auto;
                          padding-top: 0px;
                        }
                        @include tablet {
                          padding-left: 15px;
                          border-left: none;
                          margin: 0 auto;
                        }
                    }
                    & p {
                        word-wrap: break-word;
                        margin-bottom: 0;
                        font-size: 13px;
                    }
                    & .links{
                      margin-right: 10px;
                    }
                    & ul {
                        padding-left: 0;
                        & li {
                            list-style: none;
                            display: inline;
                            text-transform: uppercase;
                            &:after {
                                content: "|";
                                padding: 0 0.5em;
                                @include mobile {
	                                 padding: 0 0.3em;
                                 }
                            }
                        }
                        & li:last-child:after {
                            content: "";
                            padding: 0 0.5em;
                        }
                    }
                    @include mobile {
                      max-height: 60px;
                      height: 60px;
                    }
                    @include tablet {
                      max-height: 60px;
                      height: 60px;
                    }
                }
                // & .header-copyright-text:first-child {
                //     border-right: solid 1px $white;
                //     @include mobile {
                //       border: none;
                //     }
                //     @include tablet {
                //       border: none;
                //     }
                // }
            }
        }
    }

    section.informaNav{
        padding-top: 36px;
        
        a{
            text-decoration: none !important;
        }

        .navbar {
            border: none;
            border-radius: 0;
            margin-bottom: 0;
        }
        
        .nav-head{
            background-color: $gray-light-bg;

            .navbar-toggle{
                float: left;
                margin-left: 15px;
            }
            .navbar-toggle:hover{
                background-color: initial;
            }
            .navbar-toggle:focus{
                background-color: initial;
            }
            .action{
                float: right;
            }
        }

        .navbar-brand
        {
            position: absolute;
            padding: 0;

            @include not-desktop{
                width: 50%;
                left: 25%;
                top: 0;
                text-align: center;
                margin: auto;
            }
            
            .logo-img-small{
                width: 35px;
                height: 32px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include desktop{
                    display: none;
                }
            }

            .logo-img-big{
                width: 300px;
                height: 45px;
                position: absolute;
                top: 3px;
                left: 15px;
                @include not-desktop{
                    display: none;
                }
            }
        }

        .nav-main{
            min-height: 0;
            background-color: $gray-dark-bg;
            padding: 0;
            @include not-desktop{
                .search{
                    display: none;
                }
            }
        }
        
        @include desktop{
            .navbar{
                padding-top: 15px;
                padding-bottom: 15px;
                .navbar-header{
                    float: right;
                    .search{
                        display: none;
                    }
                    .login{
                        cursor: pointer;
                        float: right;
                        cursor: pointer;
                        border: 2px solid $gray-header;
                        padding: 10px 20px;
                        .icon-chevron-down{
                            padding-left: 23px;
                        }
                    }
                }
            }
            .nav-main{
                height: 60px;
                .navbar-collapse{
                    padding-left: 0;
                    padding-right: 0;
                    z-index: 0;
                    ul{
                        height: inherit;
                    }
                    li{
                        padding: 5px;
                    }
                    .nav-mobile-header{
                        display: none;
                    }
                    .stick-img{
                        display: none;
                    }
                    .nav-left{
                        li{
                            padding-right: 35px;
                        }
                    }
                    .navbar-right{
                        margin-right: 15px;
                        .touch{
                            border-left: 1px solid $gray-header;
                            height: inherit;
                            a{
                                height: 50px;
                                padding-top: 12px;
                                padding-bottom: 18px;
                            }
                            .icon-get-in-touch{
                                font-size: large;
                                padding-left: 15px;
                            }
                        }
                        .login{
                           display: none;
                        }
                        .search{
                            height: inherit;
                            background-color: $gray-header;
                            a{
                                height: 50px;
                                padding-top: 12px;
                                padding-bottom: 18px;
                            }
                            .icon-search{
                                font-size: large;
                                padding-left: 15px;
                            }
                        }
                        .search.inactive{
                            background-color: $orange;
                        }
                    }
                    .nav-links.nav-active{
                        a{
                            color: $yellow;
                        }
                    }
                    .nav-links{
                        .icon-chevron-right{
                            display: none;
                        }
                    }
                }
            }
            .nav-main.mainNavigation.navbar-fixed-top{
                .navbar-collapse{
                    .stick-img{
                        display: block;
                        a{
                            padding-left: 10px;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }
                    .icon-search{
                        padding-left: 0;
                    }
                    .icon-get-in-touch{
                        padding-left: 0;
                    }
                    .search{
                        border-left: 1px solid $gray-header;
                        border-right: 1px solid $gray-header;
                    }
                    .nav-left{
                        position: relative;
                        left: -30px;
                    }
                }
            }  
        }

        @include not-desktop {

            .navbar{
                .container{
                    height: inherit;
                    padding-left: 7.5px;
                    padding-right: 0;
                    .navbar-header {
                        float: none;
                        margin-left: -15px;
                        margin-right: 0;
                        height: inherit;
                        .navbar-toggle {
                            display: block;
                            border: none;
                            background-color: none;
                            z-index:1;
                            .icon-bar{
                                background-color: $white;
                            }
                        }
                        .action{
                            height: 50px;
                            .login{
                                display: none;
                            }
                            .search{
                                background-color: $gray-header;
                                height: inherit;
                                cursor: pointer;
                                padding: 12px 20px;
                                float: right;
                                .icon-search{
                                    font-size: x-large;
                                }
                            }
                            .search.inactive{
                                background-color: $orange;
                            }
                        }
                    }
                }
            }

            .navbar-left,.navbar-right {
                float: none !important;
            }
            .nav-main{
                position: fixed;
                width: 100%;
                height: calc(100% - 90px);
                top: 90px;
                display: block;
                z-index: 6;
                left: -100%;
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                .container{
                    padding-left: 0;
                    padding-right: 0;
                    .row{
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
            .navbar-collapse {
                border-top: none;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
                padding-left: 0;
                padding-right: 0;
                .nav-mobile-header{
                    list-style-type: none;
                    background-color: #4c5161;
                    height: 75px;
                    .nav-back{

                    }
                    .nav-subnav-heading{

                    }
                    .nav-close{
                        float: right;
                    }
                }
                .stick-img{
                    display: none;
                }
                .nav-links{
                    padding-left: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 30px;
                    .icon-chevron-right{
                        display: block;
                        float: right;
                    }
                }
                .nav-left{
                    @include tablet{
                        width: 60%;
                        margin: auto;
                        padding-top: 80px;
                    }
                }
                .navbar-right{
                    height: 80px;
                    background-color: #4c5161;
                    margin-bottom: 0;
                    margin-right: 0;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    li{
                        display: inline-block;
                        a{
                            height: 100%;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            text-align: center;
                        }
                    }
                    .search{
                        display: none;
                    }
                    .touch{
                        float: left;
                        width: 50%;
                        height: 100%;
                        border-right: 1px solid #636a7d;
                        .icon-get-in-touch{
                            position: relative;
                            top: 2px;
                            font-size: large;
                            padding-left: 15px;
                        }
                    }
                    .login{
                        float: left;
                        width: 50%;
                        height: 100%;
                        .icon-chevron-down{
                            position: relative;
                            top: 4px;
                            font-size: large;
                            padding-left: 15px; 
                        }
                    }
                }
            }
            .navbar-fixed-top {
                top: 0;
                border-width: 0 0 1px;
            }
            .navbar-collapse.collapse {
                display: none!important;
            }
            .navbar-nav {
                float: none!important;
                margin-top: 7.5px;
                margin-left: 0;
                margin-right: 0;
            }
            .navbar-nav>li {
                float: none;
            }
            .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .collapse.in{
                display:block !important;
            }                                                            
        }

    }
       
}

.product-finder {
    padding: 15px 0;
    background-color: $gray-header;
    display: block;
    @include mobile {
        display: block;
    }
    .container {
        @include mobile {
            display: block;
        }
    }
    .hidden {
        display: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    form {
        margin: 0;
        padding: 0;
        legend {
            border: none;
            margin: 0;
            display: none;
        }
        button[type=submit] {
            color: $white;
            &:hover{
                 color: $white;
            }
        }
        ul.search-options {
            margin-top: 10px;
            li {
                display: inline-block;
                .custom-radio {
                    margin-right: 30px;
                    @include mobile {
                        margin-right: 10px;
                    }
                    .label {
                        font-size: 1.1em;
                        @include mobile {
                            font-size: 1em;
                        }
                    }
                }
                &:last-child {
                    float: right;
                    font-weight: 400;
                    .close-finder {
                        padding: 0;
                        text-decoration: none;
                    }
                }
            }
        }
        ul.site-search {
            display: none;
            margin: 20px 0 0;
            .menu {
                float: left;
                width: 85.5%;
                margin-right: 36px;
                @include mobile {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 30px;
                }
                @include tablet {
                    margin-right: 15px;
                }
            }
            .button {
                float: left;
                width: 11%;
                margin-right: 0;
                text-align: right;
                @include mobile {
                    display: block;
                    width: 100%;
                }
                .btn {
                    padding: 10px 20px;
                    min-width: 100%;
                    background-color: $orange;
                    border: none;
                    color: $white;
                }
            }
        }
        ul.sector-search {
            margin: 20px 0 0;
            li {
                .label-text {
                    background-color: #e1e2e7;
                    float: left;
                    height: 40px;
                    line-height: 38px;
                    margin: 0;
                    min-width: 100px;
                    padding: 0 15px;
                    color: $text-gray;
                    position: relative;
                    @include mobile {
                        background-color: transparent;
                        float: none;
                        height: auto;
                        line-height: auto;
                        margin: 0;
                        min-width: auto;
                        padding: 0;
                        color: $white;
                        line-height: 20px;
                    }
                    @include tablet {
                        width: 32%;
                    }
                    &:after {
                        border: solid transparent;
                        border-color: rgba(225, 226, 231, 0);
                        border-left-color: #e1e2e7;
                        border-width: 6px;
                        content: "";
                        height: 0;
                        left: 100%;
                        top: 38%;
                        position: absolute;
                        width: 0;
                        z-index: 4;
                        @include mobile {
                            border: none;
                        }
                    }
                }
                .custom-multiselect {
                    width: 73%;
                    margin-right: 30px;
                    height: 40px;
                    display: inline-block;
                    position: relative;
                    img {
                        top: 3px !important;
                        width: auto;
                    }
                    @include mobile {
                        margin-bottom: 20px;
                        margin-right: 0;
                        width: 100%;
                    }
                    @include tablet {
                        width: 58%;
                    }
                    .dropdown-toggle {
                        height: 40px;
                    }
                    a {
                        color: $text-gray;
                    }
                }
            }
            .menu {
                display: inline-block;
                width: 44%;
                @include mobile {
                    display: block;
                    width: 100%;
                }
            }
            .button {
                width: 11%;
                margin-right: 0;
                text-align: right;
                @include mobile {
                    display: block;
                    width: 100%;
                }
                .btn {
                    padding: 10px 20px;
                    min-width: 100%;
                    background-color: $orange;
                    border: none;
                }
            }
        }
    }
}

#mobile-header-navigation{
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    display: block;
    z-index: 2;
    left: -100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    background-color: #4c5161;
    padding-left: 0;
    padding-right: 0;
    
    .container{
        padding: 0;
    }
    .row{
        padding: 35px 10px;
    }
    .nav-subnav-heading{
        color: $yellow;
        text-align: center;
    }
    @include desktop{
        display: none;
    }
    a{
        text-decoration: none;
    }
    .icon-arrow-left{
        font-size: large;
    }
    .icon-close{
        font-size: large;
        float: right;
    }
    .nav-close{
        float: right;
    }
    @include mobile{
        .nav-back{
            padding-left: 15px;
            padding-right: 15px;
        }
        .nav-close{
            padding-right: 15px;
        }
    }
}

#sub-nav {
    padding: 0;
    background-color: $gray-light-bg;

    .topic {
        color: $yellow;
        text-align: center;
        padding: 25px 0;
        background-color: #4c5161;
        margin: 0 -7.5px;
    }
    .subnav-container {
        display: none;
        @include desktop{
            padding-top: 45px;
            padding-bottom: 45px;
        }
        @include tablet{
            width: 60%;
            margin: auto;
        }

        .subnav-heading{
            color: $white;
            
            font-family: 'FSMe-bold';
            &:after {
                content: ">";
                margin-left: 5px;
                color: #a2a5ad;
            }
            @include mobile{
                padding-top: 30px;
                padding-bottom: 30px;
            }
            @include tablet{
                padding-top: 30px;
                padding-bottom: 35px;
            }
            @include desktop{
                padding-bottom: 15px;
            }

        }

        .subnav-heading.no-heading{
            padding-bottom: 0;
            &:after {
                content: "";
            }   
        }

        .subnav-items{
            border-top: 1px solid #777b87;

            @include desktop{
                //width: 40%;
                border-top: none;
                ul li {
                    //float:left; width:50%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                ul{
                    border-top: 1px solid #777b87;
                    width: 40%;
                    &.one{
                        column-count: 1;
                        -webkit-column-count: 1;
                        -moz-column-count: 1;
                        width: 40%;
                    }
                    &.two{
                        column-count: 2;
                        -webkit-column-count: 2;
                        -moz-column-count: 2;
                        width: 40%;
                    }
                    &.three{
                        column-count: 3;
                        -webkit-column-count: 3;
                        -moz-column-count: 3;
                        width: 80%;
                        li{
                            padding-right: 10px;
                        }
                    }
                    &.four{
                        column-count: 4;
                        -webkit-column-count: 4;
                        -moz-column-count: 4;
                        width: 80%;
                        li{
                            padding-right: 10px;
                        }
                    }
                    &.five{
                        column-count: 5;
                        -webkit-column-count: 5;
                        -moz-column-count: 5;
                        width: 90%;
                        li{
                            padding-right: 10px;
                        }
                    }
                    &.six{
                        column-count: 6;
                        -webkit-column-count: 6;
                        -moz-column-count: 6;
                        width: 95%;
                        li{
                            padding-right: 10px;
                        }
                    }
                    &.seven{
                        column-count: 7;
                        -webkit-column-count: 7;
                        -moz-column-count: 7;
                        width: 95%;
                        li{
                            padding-right: 10px;
                        }
                    }    
                }
                .labels{
                    padding-top: 10px;
                }
            }
        }

        .subnav-items.no-heading{
            border-top: none;
            .labels{
                padding-top: 0;
                border-top: none;
            }   
        }

        @include desktop{
            .nav-mobile-header{
                display: none;
            }
        }

        .content {
            float: left;
            &:before {
                content: '';
            }
            @include mobile {
                float: none;
                overflow: auto;
                border-bottom: 1px solid #777b87;
                &:last-child {
                    border-bottom: none;
                }
                .labels{
                    padding-left: 20px;
                }
            }
            @include tablet {
                float: none;
                overflow: auto;
                border-bottom: 1px solid #777b87;
                &:last-child {
                    border-bottom: none;
                }
            }
            @include desktop{
                &:nth-last-child(2){
                    .top{
                        padding-right: 0 !important;
                    }
                    li{
                        padding-right: 0 !important;
                    }
                }
            }            
        }
        .heading {
            .top {
                @include not-desktop{
                    padding: 30px 0;
                }

                a {
                    color: $info-icon-color;
                    font-family: 'FSMe-light';
                }
                &:after {
                    content: initial;
                }
            }
            .labels { 
                li a {
                    color: $info-icon-color;
                }
                @include mobile{
                    li{
                        padding: 30px 0;
                    }
                }
                @include tablet{
                    li{
                        padding: 30px 0;
                    }
                }
            }
            p{
                @include mobile{
                    margin-bottom: 0;
                }
                @include tablet{
                    margin-bottom: 0;
                }
            }
        }
        
        .top {
            padding: 0 50px 10px 0;
            color: $white;
            border-bottom: 1px solid #777b87;
            font-family: 'FSMe-bold';
            @include mobile {
                width: 40%;
                float: left;
                border-bottom: none;
                padding: 20px 0;
            }
            @include tablet {
                width: 50%;
                float: left;
                border-bottom: none;
                padding: 20px 0;
            }
            &:after {
                content: ">";
                margin-left: 5px;
                color: #a2a5ad;
            }
        }
        .labels {
            list-style-type: none;
            padding: 0;
            li {
                padding: 5px 50px 5px 0;
                @include mobile {
                    padding: 20px 0;
                }
                @include tablet{
                    padding: 20px 0;
                }
            }
            @include mobile {
                width: 50%;
                float: left;
            }
            @include tablet {
                width: 50%;
                float: left;
            }
        }
    }
    
    .subnav-close{
        float: right;
        a{
            padding: 0;
            text-decoration: none;
        }
        @include not-desktop{
            display: none;
        }
    }
    
    @include mobile{
        .container{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    @include not-desktop{
        position: fixed;
        width: 100%;
        height: calc(100% - 90px);
        top: 90px;
        display: block;
        z-index: 5;
        left: -100%;
        overflow-y: scroll;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        .nav-mobile-header{
            list-style-type: none;
            background-color: #4c5161;
        }
        
    }
}


