header {
    .greyed-out {
        color: $grey-color4 !important;
    }
    color: $light;
    .cookieBanner {
        display: none;
        background-color: $grey-color09;
        padding: 20px;
        color: $grey-color03;
        .icon-close {
            text-align: right;
            float: right;
            color: #000;
        }
    }
    section.informa-header-copyright {
        font-family: Arial;
        background: $grey-color04;
        .informa-select {
            font-size: 18px;
            text-transform: lowercase;
            width: 60px;
            text-align: center;
            margin: 0 auto;
            padding: 5px;
        }
        .header-copyright {
            color: $white;
            background-color: $grey-color04;
            overflow: hidden;
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            @include tablet {
                font-size: 13px;
            }
            @include mobile {
                font-size: 12px;
            }
        }
        .header-copyright-inner {
            max-width: 100%;
            margin: 0 auto;
            min-height: 38px;
            text-align: center;
            & .toggle {
                color: #fff;
                text-decoration: none;
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translate(-50%);
                cursor: pointer;
                font-size: 20px;
                text-transform: lowercase;
                font-family: 'FSMe-Bold';
                display: block;
                padding-right: 20px;
                &::after {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 6px 0 6px;
                    border-color: $white transparent transparent transparent;
                    margin-left: 8px;
                    position: absolute;
                    top: 16px;
                    right: auto;
                }
                img {
                    width: 55%;
                }
            }
        }
        .header-copyright-content {
            max-height: 0;
            overflow: hidden;
            text-align: left;
            padding-top: 10px;
            top: 100%;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            @include mobile {
                padding-top: 5px;
            }
            @include tablet {
                padding-top: 5px;
            }
        }
        .header-copyright-inner.open {
            & .toggle::after {
                border-width: 0 6px 6px 6px;
                margin-left: 8px;
                border-color: transparent transparent $white transparent;
                position: absolute;
                top: 16px;
                right: auto;
            }
            & .header-copyright-content {
                max-height: 160px;
                height: 160px;
                opacity: 1;
                padding-top: 30px;
                filter: alpha(opacity=100);
                @include mobile {
                    max-height: 230px;
                    height: 230px;
                    padding-top: 20px;
                }
                @include tablet {
                    max-height: 180px;
                    height: 180px;
                    padding-top: 15px;
                }
                & .header-copyright-text {
                    padding-top: 10px;
                    &:last-child {
                        border-left: 1px solid $copyright-gray-border;
                        padding-left: 26px;
                        @include mobile {
                            padding-left: 5px;
                            border-left: none;
                            margin: 0 auto;
                        }
                        @include tablet {
                            padding-left: 15px;
                            border-left: none;
                            margin: 0 auto;
                        }
                    }
                    & p {
                        word-wrap: break-word;
                        margin-bottom: 0;
                        font-size: 12px;
                        font-family: Arial;
                        color: $white;
                        @include mobile{
                            line-height: 15px;
                        } 
                        @include tablet{
                            line-height: 16px;
                        }  
                        @include desktop{
                            line-height: 18px;
                        }   
                    }
                    & .links {
                        margin-right: 10px;
                    }
                    & ul {
                        padding-left: 0;
                        & li {
                            list-style: none;
                            display: inline;
                            text-transform: uppercase;
                            font-family: Arial;
                            font-size: 12px;
                            &:after {
                                content: "|";
                                padding: 0 0.5em;
                                @include mobile {
                                    padding: 0 0.3em;
                                }
                            }
                        }
                        & li:last-child:after {
                            content: "";
                            padding: 0 0.5em;
                        }
                    }
                    @include tablet {
                        max-height: 60px;
                        height: 60px;
                    }
                    @include mobile {
                        max-height: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
    section.informaNav {
        padding-top: 36px;
        a {
            text-decoration: none !important;
        }
        .navbar {
            border: none;
            border-radius: 0;
            margin-bottom: -1px;
        }
        .nav-head {
            background-color: $grey-color03;
            .navbar-toggle {
                float: left;
                margin-left: 15px;
                @include desktop{
                    position: absolute;
                    text-indent: -9999px;
                }
            }
            .navbar-toggle:hover {
                background-color: initial;
            }
            .navbar-toggle:focus {
                background-color: initial;
            }
            .action {
                float: right;
            }
        }
        .navbar-brand {
            position: absolute;
            padding: 0;
            @include not-desktop {
                width: 50%;
                left: 25%;
                top: 0;
                text-align: center;
                margin: auto;
            }
            .logo-img-small {
                width: 35px;
                height: 32px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include desktop {
                    display: none;
                }
            }
            .logo-img-big {
                position: absolute;
                top: 3px;
                left: 15px;
                @include not-desktop {
                    left: 50%;
                    position: absolute;
                    width: 175px !important;
                    height: auto !important;
                    transform: translate(-50%, -50%);
                    top: 50%;
                }
            }
            .local-logo-img-big{
                @include desktop{
                    left: 10px;  
                }
                
            }
        }
        .nav-main {
            min-height: 0;
            background-color: $grey-color01;
            padding: 0;
            @include not-desktop {
                background-color: $grey-color03;
                .search {
                    display: none;
                }
            }
        }
        @include desktop {
            .navbar {
                padding-top: 20px;
                padding-bottom: 20px;
                height: 82px;
                .navbar-header {
                    float: right;
                    .search {
                        display: none;
                    }
                    .header-links {
                        display: inline-block !important;
                        box-sizing: border-box;
                        padding: 15px;
                        position: relative;
                        @include anchor-font(14px,13px,12px);
                        &:after {
                            content: '';
                            border-left: 2px solid #666666;
                            height: 45%;
                            position: absolute;
                            top: 15px;
                            right: 0px;
                        }
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                        .icon {
                            padding-left: 15px;
                        }
                        img{
                          width: 20px;
                          height: 15px;
                          position: absolute;
                          top: 15px;
                          right: -15px;
                        }
                    }
                    .ProductLogin {
                        display: inline-block !important;
                        box-sizing: border-box;
                        padding: 10px 20px;
                    }
                }
            }
            .nav-main {
                height: 58px;
                .container {
                    @include desktop{
                       padding-right: 0 ; 
                    }
                }
                .navbar-collapse {
                    padding-left: 0;
                    padding-right: 0;
                    z-index: 0;
                    ul {
                        height: inherit;
                    }
                    li {
                        padding: 5px;
                    }
                    .nav-mobile-header {
                        display: none;
                    }
                    .stick-img {
                        display: none;
                    }
                    .nav-left {
                        li {
                            padding-right: 20px;
                            @include desktop{
                                padding-left: 0;
                                height: 58px;
                            }
                            a{
                                @include anchor-font(14px,13px,12px);
                            }
                        }
                    }
                    .navbar-right {
                        margin-right: 15px;
                        .touch {
                            border-left: 1px solid $grey-color04;
                            height: inherit;
                            a {
                                height: 50px;
                                padding-top: 12px;
                                padding-bottom: 18px;
                                @include anchor-font(14px,13px,12px);
                            }
                            .icon-get-in-touch {
                                font-size: large;
                                padding-left: 15px;
                            }
                        }
                        .login {
                            display: none;
                        }
                        .disp {
                            display: none;
                        }
                        .search {
                            height: 58px;
                            background-color: $grey-color04;
                            a {
                                padding: 13px 15px 15px 20px;
                                @include anchor-font(14px,13px,12px);
                            }
                            .icon-search {
                                font-size: large;
                                padding-left: 15px;
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                    .nav-links {
                        .icon-chevron-right {
                            display: none;
                        }
                    }
                }
            }
            .nav-main.mainNavigation.navbar-fixed-top {
                .navbar-collapse {
                    .stick-img {
                        display: block;
                        a {
                            padding-left: 10px;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }
                    .icon-search {
                        padding-left: 0;
                    }
                    .icon-get-in-touch {
                        padding-left: 0;
                    }
                    .search {
                        border-left: 1px solid $grey-color04;
                        border-right: 1px solid $grey-color04;
                    }
                    .nav-left {
                        position: relative;
                        left: -30px;
                    }
                }
            }
        }
        @include not-desktop {
            .navbar {
                .container {
                    height: inherit;
                    padding-left: 7.5px;
                    padding-right: 0;
                    .navbar-header {
                        float: none;
                        margin-left: -15px;
                        margin-right: 0;
                        height: inherit;
                        .navbar-toggle {
                            display: block;
                            border: none;
                            background-color: none;
                            z-index: 1;
                            @include not-desktop{
                                padding: 10px;
                            }
                            .icon-bar {
                                background-color: $white;
                            }
                        }
                        .action {
                            height: 50px;
                            .login {
                                display: none;
                            }
                            .disp {
                                display: none;
                            }
                            .search {
                                background-color: $grey-color04;
                                height: inherit;
                                cursor: pointer;
                                padding: 15px 20px;
                                float: right;
                                .icon-search {
                                    font-size: x-large;
                                }
                            }
                        }
                    }
                }
            }
            .navbar-left,
            .navbar-right {
                float: none !important;
            }
            .nav-main {
                position: fixed;
                width: 100%;
                height: calc(100% - 90px);
                top: 90px;
                display: block;
                z-index: 6;
                left: -100%;
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                -webkit-backface-visibility: hidden;
                @include not-desktop{
                    height: calc(100% - 75px);
                    top: 75px;
                }
                .container {
                    padding-left: 0;
                    padding-right: 0;
                    .row {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
            .navbar-collapse {
                border-top: none;
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
                padding-left: 0;
                padding-right: 0;
                .nav-mobile-header {
                    list-style-type: none;
                    background-color: #4c5161;
                    height: 75px;
                    .nav-back {}
                    .nav-subnav-heading {}
                    .nav-close {
                        float: right;
                    }
                }
                .stick-img {
                    display: none;
                }
                .nav-links {
                    padding-left: 20px;
                    padding-top: 10px;
                    padding-right: 30px;
                    .icon-chevron-right {
                        display: block;
                        float: right;
                    }
                    @include not-desktop{
                        padding: 20px 20px 20px 30px;
                        a{
                            @include anchor-font(14px,13px,12px);
                        }
                    }
                }
                .nav-left {
                    @include tablet {
                        width: 100%;
                        margin: auto;
                    }
                }
                .navbar-right {
                    //height: 80px;
                    background-color: #4c5161;
                    margin-bottom: 0;
                    margin-right: 0;
                    position: absolute;
                    bottom: 0;
                    -webkit-backface-visibility: hidden;
                    width: 100%;
                    @include not-desktop{
                        background-color: $grey-color04;
                    }
                    li {
                        display: inline-block;
                        a {
                            height: 100%;
                        }
                    }
                    .search {
                        display: none;
                    }
                    .touch {
                        display: inline-block !important;
                        background-color: $grey-color1;
                        border-right: 1px solid $grey-color5;
                        .icon-get-in-touch {
                            position: relative;
                            top: 2px;
                            font-size: large;
                            padding-left: 15px;
                        }
                    }
                    .header-links {
                        display: inline-block !important;
                        box-sizing: border-box;
                        position: relative;
                        @include not-desktop{
                            padding: 15px;
                            width: 50%;
                            text-align: center;
                            &:first-child{
                                float: left;
                                border-right: 1px solid #666666;
                            }
                            &:last-child{
                                float: right;
                            }
                            a{
                                @include anchor-font(14px,13px,12px);
                            }
                        }
                        &:nth-child(even) {
                            :after {
                                content: '';
                                border-left: 2px solid #666666;
                                height: 45%;
                                position: absolute;
                                top: 10px;
                                right: 0px;
                            }
                        }
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                        .icon {
                            padding-left: 15px;
                        }
                        img{
                          width: 20px;
                          height: 15px;
                          position: absolute;
                          top: 10px;
                          right: -15px;
                        }
                    }
                    .ProductLogin {
                        display: inline-block !important;
                        box-sizing: border-box;
                        padding: 10px 17px;
                    }
                    @include not-desktop{
                        height: 50px;
                    }
                }
            }
            .navbar-fixed-top {
                top: 0;
                border-width: 0 0 1px;
            }
            .navbar-collapse.collapse {
                display: none!important;
            }
            .navbar-nav {
                float: none!important;
                margin-top: 7.5px;
                margin-left: 0;
                margin-right: 0;
            }
            .navbar-nav>li {
                float: none;
            }
            .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
                @include not-desktop{
                    padding: 0;
                }
            }
            .collapse.in {
                display: block !important;
            }
        }
    }
}

.product-finder {
    padding: 30px 0 40px 0;
    background-color: $grey-color04;
    display: none;
    width: 100%;
    @include not-desktop{
        padding: 20px 0;
    }
    &.active {
        display: block;
    }
    &.inactive {
        display: none;
    }
    .btn-group.open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .container {
        @include desktop{
            padding-right: 0;
        }
        @include mobile {
            display: block;
        }
    }
    .hidden {
        display: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    form {
        margin: 0;
        padding: 0;
        legend {
            border: none;
            margin: 0;
            display: none;
        }
        button[type=submit] {
            color: $white;
            &:hover {
                color: $white;
            }
        }
        ul.search-options {
            li {
                display: inline-block;
                .custom-radio {
                    margin-right: 30px;
                    input + span {
                        &:before {
                            @include mobile {
                                margin-right: 5px;
                            }
                        }
                    }
                    @include mobile {
                        margin-right: 12px;
                    }
                    .label {
                        font-size: 1.1em;
                        @include mobile {
                            font-size: 1em;
                        }
                    }
                }
                &:last-child {
                    float: right;
                    font-weight: 400;
                    .close-finder {
                        padding: 0;
                        text-decoration: none;
                    }
                }
            }
        }
        ul.site-search {
            display: none;
            margin: 20px 0 0;
            @include not-desktop{
                margin:25px 0 0 0;
            }
            .menu {
                float: left;
                width: 81.3%;
                margin-right: 30px;
                @include mobile {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 25px;
                }
                @include tablet {
                    margin-right: 15px;
                }
                label{
                    text-indent: -9999px;
                }
                .textbox input{
                    height: 52px;
                    padding: 10px 20px;
                }
            }
            .button {
                float: right;
                width: 16%;
                margin-right: 0;
                text-align: right;
                @include mobile {
                    display: block;
                    width: 100%;
                }
                .btn {
                    width: 100%;
                    min-width: 100%;
                    padding: 10px 20px;
                    height: 52px;
                }
            }
        }
        ul.sector-search {
            margin: 20px 0 0;
            @include mobile{
                margin: 0;
            }
            @include tablet{
                margin: 25px 0 0 0;
            }
            li {
                .label-text {
                    background-color: $grey-color09;
                    float: left;
                    height: 52px;
                    line-height: 38px;
                    margin: 0;
                    min-width: 100px;
                    padding: 9px 15px;
                    color: $text-gray;
                    position: relative;
                    @include mobile {
                        background-color: transparent;
                        float: none;
                        height: auto;
                        line-height: auto;
                        margin: 0 0 6px;
                        min-width: auto;
                        padding: 0;
                        color: $white;
                        line-height: 20px;
                    }
                    @include tablet {
                        width: 21%;
                        min-width: 70px;
                    }
                    &:after {
                        border: solid transparent;
                        border-color: rgba(225, 226, 231, 0);
                        border-left-color: #e1e2e7;
                        border-width: 10px;
                        content: "";
                        height: 0;
                        left: 100%;
                        top: 30%;
                        position: absolute;
                        width: 0;
                        z-index: 4;
                        @include mobile {
                            border: none;
                        }
                    }
                }
                .custom-multiselect {
                    width: 73%;
                    margin-right: 30px;
                    height: 40px;
                    display: inline-block;
                    position: relative;
                    img {
                        top: 3px !important;
                        width: auto;
                    }
                    @include mobile {
                        margin-bottom: 15px;
                        margin-right: 0;
                        width: 100%;
                    }
                    @include tablet {
                        width: 73%;
                        margin-right: 0;
                    }
                    .dropdown-toggle {
                        height: 52px;
                        padding: 10px 20px;
                        .caret:before{
                            font: 400 16px 'InformaIcons';
                        }
                    }
                    .dropdown-menu{
                        padding: 0;
                        li.active{
                            font-family: FSMe-Bold;
                        }
                        li{
                            color: $grey-color04;
                            padding-top: 16px;
                            @include not-desktop{
                                padding-top: 22px;
                                 &:last-child{
                                    padding-bottom: 22px;
                                }
                            }
                            &:last-child{
                                padding-bottom: 16px;
                            }
                            
                            label{
                                @include anchor-font(14px,13px,12px);
                                &:before{
                                    left: 16px;
                                    top: 3px;
                                }
                            }
                        }  
                    } 
                    a {
                        color: $text-gray;
                    }
                }
            }
            .menu {
                display: inline-block;
                width: 42%;
                float: left;
                &:last-child{
                    @include mobile{
                        padding-top: 20px;
                    }
                }
                @include mobile {
                    display: block;
                    width: 100%;
                    padding-top: 25px;
                }
            }
            .button {
                width: 16%;
                margin-right: 0;
                float: right;
                @include mobile {
                    display: block;
                    width: 100%;
                }
                .btn {
                    width: 100%;
                    min-width: 100%;
                    padding: 10px 20px;
                    height: 52px;
                }
            }
        }
    }
}

#mobile-header-navigation {
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    display: block;
    z-index: 2;
    left: -100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    background-color: $grey-color04;
    padding-left: 0;
    padding-right: 0;
    -webkit-backface-visibility: hidden;
    .container {
        padding: 0;
    }
    .row {
        padding: 27px 10px;
    }
    .nav-subnav-heading {
        color: $grey-color07;
        text-align: center;
    }
    @include desktop {
        display: none;
    }
    a {
        text-decoration: none;
    }
    .icon-arrow-left {
        font-size: large;
    }
    .icon-close {
        font-size: large;
        float: right;
    }
    .nav-close {
        float: right;
    }
    @include mobile {
        .nav-back {
            padding-left: 15px;
            padding-right: 15px;
        }
        a{
            color: $grey-color07;
        }
        .nav-close {
            padding-right: 15px;
        }
    }
}

#sub-nav {
    z-index: 999;
    padding: 0;
    background-color: $grey-color04;
    position: absolute;
    width: 100%;
    min-height: 0;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
    //margin-top: -5px;
    @include not-desktop{
        background-color: $grey-color03;
    }
    .topic {
        color: $yellow;
        text-align: center;
        padding: 25px 0;
        background-color: #4c5161;
        margin: 0 -7.5px;
    }
    .subnav-container {
        display: none;
        @include desktop {
            padding: 50px 0;
        }
        @include tablet {
            width: 94%;
            margin: auto;
        }
        .subnav-heading {
            color: $white;
            font-family: 'FSMe-bold';
            &:after {
                content: ">";
                margin-left: 5px;
                color: #a2a5ad;
            }
            @include not-desktop {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            @include desktop {
                padding-bottom: 15px;
            }
        }
        .subnav-heading.no-heading {
            padding-bottom: 0;
            &:after {
                content: "";
            }
        }
        .subnav-items {
            border-top: 1px solid #777b87;
            @include desktop {
                //width: 40%;
                border-top: none;
                ul li {
                    //float:left; width:50%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                ul {
                    border-top: 1px solid #777b87;
                    width: 40%;
                    &.one {
                        column-count: 1;
                        -webkit-column-count: 1;
                        -moz-column-count: 1;
                        width: 40%;
                    }
                    &.two {
                        column-count: 2;
                        -webkit-column-count: 2;
                        -moz-column-count: 2;
                        width: 40%;
                    }
                    &.three {
                        column-count: 3;
                        -webkit-column-count: 3;
                        -moz-column-count: 3;
                        width: 80%;
                        li {
                            padding-right: 10px;
                        }
                    }
                    &.four {
                        column-count: 4;
                        -webkit-column-count: 4;
                        -moz-column-count: 4;
                        width: 80%;
                        li {
                            padding-right: 10px;
                        }
                    }
                    &.five {
                        column-count: 5;
                        -webkit-column-count: 5;
                        -moz-column-count: 5;
                        width: 90%;
                        li {
                            padding-right: 10px;
                        }
                    }
                    &.six {
                        column-count: 6;
                        -webkit-column-count: 6;
                        -moz-column-count: 6;
                        width: 95%;
                        li {
                            padding-right: 10px;
                        }
                    }
                    &.seven {
                        column-count: 7;
                        -webkit-column-count: 7;
                        -moz-column-count: 7;
                        width: 95%;
                        li {
                            padding-right: 10px;
                        }
                    }
                }
                .labels {
                    padding-top: 10px;
                }
            }
        }
        .subnav-items.no-heading {
            border-top: none;
            .labels {
                padding-top: 0;
                border-top: none;
            }
        }
        @include desktop {
            .nav-mobile-header {
                display: none;
            }
        }
        .content {
            float: left;
            &:before {
                content: '';
            }
            @include mobile {
                float: none;
                overflow: auto;
                border-bottom: 1px solid #777b87;
                &:first-child,&:last-child {
                    border-bottom: none;
                }
                .labels {
                    padding-left: 20px;
                }
            }
            @include tablet {
                float: none;
                overflow: auto;
                border-bottom: 1px solid #777b87;
                &:first-child,&:last-child {
                    border-bottom: none;
                }
            }
            @include desktop {
                &:nth-last-child(2) {
                    .top {
                        padding-right: 15px !important;
                    }
                    li {
                        padding-right: 15px !important;
                    }
                }
            }
        }
        .heading {
            .top {
                @include not-desktop {
                    padding: 30px 0;
                }
                a {
                    color: $grey-color07;
                    font-family: 'FSMe-light';
                    @include anchor-font(14px,13px,12px);
                }
                a.head {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        padding-left: 5px;
                        color: #a2a5ad;
                        top: 0;
                        right: -15px;
                    }
                }
                &:after {
                    content: initial;
                }
            }
            .labels {
                padding-top: 15px;
                @include not-desktop{
                    padding-top: 0;
                }
                li a {
                    color: $grey-color07;
                }
                @include mobile {
                    li {
                        padding: 30px 0;
                    }
                }
                @include tablet {
                    li {
                        padding: 30px 0;
                    }
                }
            }
            p {
                @include mobile {
                    margin-bottom: 0;
                }
                @include tablet {
                    margin-bottom: 0;
                }
            }
        }
        .top {
            padding: 0 50px 15px 0;
            color: $white;
            border-bottom: 1px solid #777b87;
            font-family: 'FSMe-bold';
            margin: 0;
            @include mobile {
                width: 40%;
                float: left;
                border-bottom: none;
                padding: 30px 0;
            }
            @include tablet {
                width: 50%;
                float: left;
                border-bottom: none;
                padding: 30px 0;
            }
            a.head {
                position: relative;
                @include anchor-font(14px,13px,12px);
                &:after {
                    content: ">";
                    position: absolute;
                    padding-left: 10px;
                    color: #a2a5ad;
                    top: -1px;
                }
            }
        }
        .labels {
            list-style-type: none;
            padding: 0;
            padding-top: 15px;
            @include not-desktop{
                padding-top: 0;
            }
            li {
                padding: 0px 50px 20px 0;
                @include not-desktop {
                    padding: 0;
                    &:first-child{
                        padding-top: 30px;
                    }
                    padding-bottom: 40px;
                }
            }
            @include not-desktop {
                width: 50%;
                float: left;
            }
           
        }
    }
    .subnav-close {
        float: right;
        height: 15px;
        width: 15px;
        a {
            padding: 0;
            text-decoration: none;
        }
        @include not-desktop {
            display: none;
        }
    }
    @include mobile {
        .container {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    @include not-desktop {
        position: fixed;
        width: 100%;
        height: calc(100% - 75px);
        top: 75px;
        display: block;
        z-index: 5;
        left: -100%;
        overflow-y: scroll;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-backface-visibility: hidden;
        .nav-mobile-header {
            list-style-type: none;
            background-color: #4c5161;
        }
    }
}

.global-no-scroll {
    overflow: hidden;
    position: relative;
    height: 100%;
}
#mobile-header-navigation .navbar-image {
    .logo-img-big {
        left: 50%;
        position: absolute;
        width: 175px !important;
        height: auto !important;
        transform: translate(-30%, 0);
        top: 50%;
        @include tablet {
            left: 66%;
        }
        @include desktop {
            display: none;
        }
    }
}
.skip-navigation {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }
    
    a.skip-navigation:active, 
    a.skip-navigation:focus, 
    a.skip-navigation:hover {
        left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
    }