header {
      color: $light;
      section.informaTop {
            background: $gray-header;
            .informa-select {
                  font-size: 18px;
                  text-transform: lowercase;
                  width: 60px;
                  text-align: center;
                  margin: 0 auto;
                  padding: 5px;
            }
      }
      section.logoSection{
            background: $gray-light-bg;
            padding: 20px 0;
            .logo {
                  float: left;
            }
            .login {
                  @include mobile {
                        display: none;
                  }
                  float: right;
                  cursor: pointer;
                  border: 2px solid $gray-header;
                  padding: 5px 30px;
                  margin-top: 5px;
                  position: relative;
                  &:after {
                        content: '>';
                        font-family: FSMe-Light;
                        transform: rotate(90Deg);
                        position: absolute;
                        top: 8px;
                        right: 15px;
                        font-size: 10px;
                  }
            }
            @mobile {
                  .logo,.login {
                        float:none;
                  }
            }
      }
      nav#mainNavigation {
            background: $gray-dark-bg;
            @include mobile{
                  height: 0;
                  display: none;
            }
            @include tablet {

            }

            &.main-nav-fixed {
                  position: fixed;
                  top: 0;
                  width: 100%;
            }
            ul {
                  margin: 0;
                  li {
                        a {
                              color: $light;
                              padding: 20px 60px 20px 0;
                        }
                  }
            }
            .mainCTA {
                  ul {
                        float: none;
                  }
                  & > ul li {
                        width: 50%;
                        text-align: center;
                        border-left: 1px solid $gray-header;
                        float: left;
                        &.search {
                              background: $orange;
                        }
                        a {
                              color: $light;
                              padding: 20px 10px;
                        }
                        &:last-child {
                              border-right: 1px solid $gray-header;
                        }
                  }
            }
      }
}
