.icon-chevron-right:before {
    content: "\e900";
}
.icon-chevron-down:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e902";
}
.icon-arrow-left:before {
    content: "\e903";
}
.icon-external-link:before {
    content: "\e904";
}
.icon-download:before {
    content: "\e905";
}
.icon-close:before {
    content: "\e906";
}
.icon-search:before {
    content: "\e907";
}
.icon-get-in-touch:before {
    content: "\e908";
}
.icon-reqest-a-call:before {
    content: "\e909";
}
.icon-call-us:before {
    content: "\e90a";
}
.icon-email:before {
    content: "\e90b";
}
.icon-twitter:before {
    content: "\e90c";
}
.icon-linked-in:before {
    content: "\e90d";
}
.icon-facebook:before {
    content: "\e90e";
}
.icon-play:before {
    content: "\e90f";
}
.icon-plus:before {
    content: "\e910";
}
.icon-burger-nav:before {
    content: "\e911";
}
.icon-see-more:before {
    content: "\e912";
}
.icon-see-less:before {
    content: "\e913";
}
.icon-tick:before {
    content: "\e914";
}
.icon-question-mark:before {
    content: "\e915";
}
.icon-error:before {
    content: "\e916";
}
.icon-share:before {
    content: "\e917";
}
.icon-location:before {
    content: "\e918";
}
.icon-pen:before {
    content: "\e919";
}
.icon-single-user:before {
    content: "\e91a";
}
.icon-multi-user:before {
    content: "\e91b";
}
.icon-plus5-users:before {
    content: "\e91c";
}
.icon-free-trial:before {
    content: "\e91d";
}
.icon-credit-card:before {
    content: "\e91e";
}
.icon-send-broshure:before {
    content: "\e91f";
}
.icon-calendar:before {
    content: "\e920";
}
.icon-calendar-day:before {
    content: "\e921";
}
.icon-list-view:before {
    content: "\e922";
}
.icon-alert:before {
    content: "\e923";
}
.icon-quick-view:before {
    content: "\e924";
}
.icon-detail-analisys:before {
    content: "\e925";
}
.icon-visual:before {
    content: "\e926";
}
.icon-raw-data:before {
    content: "\e927";
}
