$max-width: 1400px;
$min-width: 320px; // define breakpoints
$tablet-width: 768px;
$desktop-width: 1142px;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rotate($param) {
    -ms-transform: rotate($param);
    /* IE 9 */
    -webkit-transform: rotate($param);
    /* Chrome, Safari, Opera */
    transform: rotate($param);
}

@mixin limitHeight($height) {
    height: $height;
    overflow: hidden;
    @include mobile {
        height: auto;
        overflow: initial;
    }
}


/*Mobile, tablet, desktop media queries Use by just saying @include and adding its styles inside*/

@mixin not-mobile {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin not-desktop {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin greater-desktop {
    @media (min-width: 1400px) {
        @content;
    }
}

@mixin heading-font-size($fontdesktop, $fonttablet, $fontmobile) {
    @include desktop {
        font-size: $fontdesktop;
    }
    @include tablet {
        font-size: $fonttablet;
    }
    @include mobile {
        font-size: $fontmobile;
    }
}

@mixin heading-line-height($lineheightdesktop, $lineheighttablet, $lineheightmobile) {
    @include desktop {
        line-height: $lineheightdesktop;
    }
    @include tablet {
        line-height: $lineheighttablet;
    }
    @include mobile {
        line-height: $lineheightmobile;
    }
}

@mixin family-style($weight, $color) {
    font-family: $weight;
    color: $color;
}

@mixin heading-padding($padDesk, $padTab, $padMob) {
    @include desktop {
        padding: $padDesk;
    }
    @include tablet {
        padding: $padTab;
    }
    @include mobile {
        padding: $padMob;
    }
}

@mixin padding-reset {
    padding: 0;
}

@mixin margin-reset {
    margin: 0;
}

@mixin image-icon {
    width: 100px;
    height: 100px;
}

@mixin anchor-font($fontDesk, $fontTab, $fontMob) {
    @include desktop {
        font-size: $fontDesk;
    }
    @include tablet {
        font-size: $fontTab;
    }
    @include mobile {
        font-size: $fontMob;
    }
}

@mixin theme($name, $primarycolor, $secondarycolordark, $secondarycolorlight) {
    $primary: $primarycolor;
    $secondarycolordark: $secondarycolordark;
    $secondarycolorlight: $secondarycolorlight;
    $secondarycolorlight80: rgba($secondarycolorlight, 0.8);
    $secondarycolorlight60: rgba($secondarycolorlight, 0.6);
    $secondarycolorlight40: rgba($secondarycolorlight, 0.4);
    $secondarycolorlight20: rgba($secondarycolorlight, 0.2);
    .#{$name} {
        color: $grey-color05;
        //For navlink ang bullet point color
        .color-link,
        .cookieBanner p a {
            @if($name==agri-theme) {
                color: $navlinkagricolor;
            }
            @else {
                color: $navlinkpharmacolor;
            }
        }
        //For navlink ang bullet point backgroundcolor
        .background-link {
            @if($name==agri-theme) {
                background-color: $navlinkagricolor;
            }
            @else {
                background-color: $navlinkpharmacolor;
            }
        }
        .menuFollower {
            @extend .background-link;
        }
        //Pharma and Agri primary color
        .primary-color {
            color: $primary;
        }
        //Pharma and Agri primary background color
        .primary-background {
            background: $primary !important;
        }
        //Pharma and agri secondary light background color
        .secondry-light-bg {
            background: $secondarycolorlight;
        }
        //Pharma and agri secondary light color
        .secondry-light-color {
            color: $secondarycolorlight;
        }
        //primary button hover
        .primary-btn-hover {
            color: $white;
            text-decoration: none;
            @if($name==agri-theme) {
                background-color: $secondarycolordark;
                border-color: $secondarycolordark;
            }
            @else {
                background-color: $secondarycolorlight;
                border-color: $secondarycolorlight;
            }
        }
        //Anchor link color and active color
        a {
            color: $white;
            &:active {
                @extend .color-link;
            }
            &:hover {
                text-decoration: none;
            }
        }
        //Navigation active color
        .nav-active {
            a {
                @extend .color-link;
            }
        }
        //bright banner
        .bright-banner {
            @if($name==agri-theme) {
                background-color: $navlinkagricolor;
                em,
                span {
                    color: $grey-color03;
                }
                a {
                    color: $text-gray;
                }
            }
            @else {
                background-color: $pharmalargebg;
                color: $white;
                h2,
                em,
                span,
                a,
                p,
                div {
                    color: $white;
                }
            }
        }
        //For dark gray background
        .bg-gray-dark {
            .btn-default {
                border: 2px solid $white;
                &:after {
                    color: $white;
                }
                &:hover {
                    border: 2px solid $secondarycolorlight;
                    &:after {
                        color: $secondarycolorlight;
                    }
                }
            }
        }
        //For pharma and agri page-ui
        .page-ui {
            @if($name==agri-theme) {
                background: $secondarycolorlight;
            }
            @else {
                background-color: $grey-color09;
                #pdp-sections-heading,
                a {
                    color: $grey-color03;
                }
            }
        }
        //for quotes
        .quote {
            @if($name==agri-theme) {
                color: $agriquote;
            }
            @else {
                color: $pharmaquote;
            }
        }
        section.newsFlash .newsbox {
            @extend .secondry-light-bg;
            @if($name==pharma-theme) {
                .news-desc,
                .news-title,
                span,
                strong,
                .read,
                .read:after {
                    color: $white;
                }
            }
        }
        #services-navigation,
        #pdp-navigation {
            @extend .page-ui;
            .btn {
                color: $white !important;
            }
        }
        //Accordian collpase and expand
        #contact-us-brand .panel-group .panel-heading.collapsed {
            &:after {
                background-color: $secondarycolorlight;
            }
        }
        .panel-group .panel .panel-heading .panel-title a:after {
            color: $secondarycolorlight !important;
        }
        .dashboard .panel .panel-heading a.collapsed:before {
            color: $navlinkpharmacolor !important;
        }
        //Training Material
        section.training-section .training-material .carousel-lists .slick-arrow {
            background-color: $secondarycolorlight;
        }
        //Events
        .EventFinished,
        .FullyBooked {
            background-color: rgba($primary, 0.4) !important;
            color: $white !important;
            &:after {
                color: $white !important;
            }
        }
        .CurrentDate {
            .events-wrap .header .date {
                background-color: $primary !important;
            }
        }
        //Analyst Banner
        section#hero-banner.analyst {
            background-color: $secondarycolordark;
        }
        //Bullet color
        .yellow-bullets {
            list-style-type: none;
            padding-left: 20px;
            li {
                margin-bottom: 5px;
                position: relative;
                color: $grey-color04;
                &:before {
                    content: '';
                    position: absolute;
                    left: -20px;
                    width: 5px;
                    height: 5px;
                    top: 7px;
                    @extend .background-link;
                    @include border-radius(50%);
                    font-family: 'FS Me Bold'; //discuss
                }
            }
        }
        //carousel dots color
        ul.slick-dots {
            li.slick-active {
                @extend .primary-background;
            }
        }
        .quick-facts ul li,
        .dark-banner-subscribe ul li,
        .pdp-brochure ul li,
        .signup-container span.bold {
            &:before {
                @extend .color-link;
            }
        }
        #customer-quote-slider {
            .saying{
                &:before {
                    @extend .quote;
                }
            }
        }
        .related-products {
            .productfinder-link {
                a {
                    color: $primary;
                }
            }
        }
        .accordian-structure {
            &#Faqs {
                a {
                    color: $grey-color04;
                }
            }
            a {
                color: $primary;
            }
        }
        .articlepage-quote {
            blockquote {
                &:before {
                    @extend .quote;
                }
            }
        }
        form.wffm-form{
          .email-validation-message{
            color: $navlinkpharmacolor !important;
          }
        }
        form.request-a-demo,
        form.get-in-touch {
            p {
                background-color: $secondarycolorlight;
                @if($name==pharma-theme) {
                    color: $white;
                }
                &:after {
                    border-left: 10px solid $secondarycolorlight;
                }
            }
            .checkbox.active {
                label {
                    border: 3px solid $secondarycolorlight;
                }
                &:after {
                    color: $primary;
                }
            }
        }
        div {
            form.get-in-touch,
            form.request-a-demo,
            form.register-myinterests-form {
                input:focus,
                select:focus,
                textarea:focus {
                    outline: none !important;
                    border: 2px solid $primary;
                }
                label.error {
                    color: $navlinkpharmacolor !important;
                }
                .field-validation-error {
                    color: $navlinkpharmacolor !important;
                }
            }
        }
        .icon-calender {
            color: $primary;
        }
        .icon-tick {
            &:before {
                color: $secondarycolorlight;
            }
        }
        .refine-container {
            .clear-all,
            .show-more {
                color: $primary;
            }
        }
        .clear-mobile {
            .clear-all {
                color: $primary;
            }
        }
        .register-myinterests-section .select-wrapper label {
            color: $primary;
        }
        .flip .tile .back .triangle {
            border-top: 50px solid $primary;
        }
        //Select field option highlight color and background
        .chosen-container .chosen-results li.highlighted {
            background-color: $secondarycolorlight;
            @extend .color-text;
        }
        .contactUsPage-contactUs li.active {
            &:after {
                @if($name==pharma-theme) {
                    background: $navlinkpharmacolor;
                }
            }
        }
        .color-text {
            @if($name==agri-theme) {
                color: $grey-color05;
            }
            @else {
                color: $white;
            }
        }
        .form:not(.lt-ie9) .custom-radio input:checked + span::before {
            @extend .primary-background;
        }
        .anlyst-heading {
            @if($name==agri-theme) {
                background-color: $secondarycolorlight;
                &:after {
                    background-color: $secondarycolorlight;
                }
            }
            @else {
                background-color: $pharmalargebg;
                &:after {
                    background-color: $pharmalargebg;
                }
            }
        }
        .yellow-container {
            background: rgba($secondarycolorlight, 0.8);
            @if($name==pharma-theme) {
                h3 {
                    color: $white;
                }
            }
        }
        .carousel-lists .slick-arrow,
        .customers_list_slider .slick-arrow {
            @extend .secondry-light-bg;
        }
        section.customer-quote .slick-initialized .slick-arrow {
            &:before {
                @extend .secondry-light-color;
            }
        }
        section.customer-quote {
            @if($name==pharma-theme) {
                background: $pharmalargebg;
            }
        }
        .twitter-carousel .slick-arrow {
            background: $white;
            &:before {
                @extend .secondry-light-color;
            }
        }
        .view-all-sectors-btn-container {
            border-bottom: 1px solid $secondarycolorlight;
            .informa-icon {
                color: $secondarycolorlight;
            }
        }
        .events-list {
            .CurrentDate {
                .events-wrap {
                    .header {
                        .date {
                            background-color: $primary;
                        }
                    }
                }
            }
            .btn-more-events {
                border: 0;
                border-bottom: 2px solid $primary !important;
                min-width: auto;
                width: 140px;
                margin-top: 20px;
                text-align: center;
                @include mobile {
                    padding: 0;
                    text-align: left;
                    padding-left: 15px;
                }
                .more,
                .less {
                    &:after {
                        right: 0;
                        color: $primary;
                    }
                }
            }
            .events p.title:before {
                background: $primary;
            }
            .header {
                .arrows {
                    background: $secondarycolorlight;
                    &.arrow-desabled {
                        background-color: grey;
                    }
                }
            }
        }
        .fc-state-default.fc-corner-right,
        .fc-state-default.fc-corner-left {
            background: $secondarycolorlight;
            &.disabled {
                background-color: grey;
            }
        }
        .fc-center {
            h2 {
                padding: 0;
            }
        }
        .twitter-carousel {
            @if($name==pharma-theme) {
                .feed-heading {
                    span {
                        color: $white;
                    }
                }
                .message {
                    a {
                        color: $white;
                        border-bottom: 1px solid $white;
                    }
                }
            }
        }
        .view-all-mobile-container {
            border-bottom: solid 1px $secondarycolorlight;
            .informa-icon {
                color: $secondarycolorlight;
            }
        }
        .register-myinterests-section {
            .triangle-nav li.active a {
                @extend .primary-background;
                @extend .font-color;
                &:after {
                    @if($name==agri-theme) {
                        border-left: 30px solid $primary;
                    }
                    @else {
                        border-left: 30px solid $primary;
                    }
                }
            }
        }
        //Font color changes
        .font-color {
            @if($name==agri-theme) {
                color: $grey-color05;
            }
            @else {
                color: $white;
            }
        }
        .search.inactive {
            @extend .primary-background;
        }
        .feature li {
            &:before {
                content: "\e914";
                font-family: 'InformaIcons';
                position: absolute;
                left: -32px;
                top: 0;
                font-size: 16px;
                @extend .color-link;
                @include border-radius(50%);
                font-weight: normal;
            }
            // a{
            //    color: $primary !important;
            // }
        }
        //Sprite image position
        .sprite-image {
            @if($name==agri-theme) {
                background-position: -5px -232px;
            }
            @else {
                background-position: -5px -270px;
            }
        }
        .product-brands-list .card .caption h4,
        .product-results .list-items .products h4 {
            &:after {
                @extend .sprite-image;
            }
        }
        .product-login .login-links .list ul li::after{
            color: $navlinkpharmacolor;
        }
        //tab theming
        ul.nav-tabs {
            li {
                &.active {
                    border-bottom: 5px solid $pharmaprimarycolor;
                }
            }
        }
        #mobile-header-navigation .nav-subnav-heading {
            color: $navlinkpharmacolor;
        }
        #sub-nav {
            .subnav-container {
                .content {
                    @include desktop {
                        margin-left: 30px;
                        &:first-child,
                        &:last-child {
                            margin-left: 0px;
                        }
                    }
                }
                .heading {
                    .top {
                        &:first-child {
                            border: none;
                        }
                    }
                }
            }
        }
        #analyst-profile {
            .show-options {
                border-bottom: 2px solid $secondarycolorlight;
                &:after {
                    color: $secondarycolorlight;
                }
            }
        }
        .popover {
            background: $secondarycolorlight;
            width: 175px;
            top: -36px;
            .popover-content {
                @if($name==agri-theme) {
                    color: #424953;
                }
                @else {
                    color: $white;
                }
                font-family: 'FSMe-bold';
            }
            &.right .arrow:after {
                border-right-color: $secondarycolorlight;
            }
        }
        .btn {
            width: 180px;
            background: transparent;
            color: $grey-color04;
            border-color: $primary;
            border-radius: $border-radius-base;
            border-width: 2px;
        }
        .btn-faq-more {
            border-bottom: 2px solid $secondarycolorlight !important;
            &:after {
                color: $secondarycolorlight;
            }
        }
        .btn-showMore,
        .btn-plus {
            background: none;
            width: 120px;
            padding: 10px 0;
            margin: 0 auto 25px;
            text-align: left;
            color: $grey-color03;
            border: none;
            border-bottom: 2px solid $secondarycolorlight;
            display: block;
            cursor: pointer;
            position: relative;
            &:after {
                font-family: 'InformaIcons';
                content: '\e912';
                position: absolute;
                color: $secondarycolorlight;
                right: 0;
                border-radius: 14px;
                font-size: 30px;
                top: -2px;
            }
            &:hover {
                border-bottom: 2px solid $primarycolor;
            }
            span.more,
            span.less {
                text-decoration: none;
            }
        }
        .meet-anlyst-section {
            .analyst-details {
                @if($name==pharma-theme) {
                    h4,
                    h3,
                    h5,
                    p {
                        color: $white;
                    }
                }
            }
        }
        .contactus-list {
            @if($name==pharma-theme) {
                background: $grey-color03;
            }
        }
        .headline-list {
            .link {
                a {
                    @extend .primary-color;
                }
            }
            h4{
                a{
                    color:$grey-color05;
                }
            }
        }
        .btn-default {
            min-width: 230px;
            text-align: left;
            padding-top: 15px;
            padding-bottom: 15px;
            border-color: $primary;
            position: relative;
            &:after {
                content: "\e900";
                font-family: 'InformaIcons';
                right: 15px;
                position: absolute;
                color: $primary;
            }
            &:hover {
                border: 2px solid $secondarycolorlight;
                &:after {
                    color: $secondarycolorlight;
                }
            }
        }
        .btn-container {
            .btn-default {
                border: 2px solid $primary;
                &:after {
                    color: $primary;
                }
                &:hover {
                    border: 2px solid $secondarycolorlight;
                    &:after {
                        color: $secondarycolorlight;
                    }
                }
            }
        }
        .btn-primary {
            text-align: left;
            //width:100%;
            padding-top: 15px;
            padding-bottom: 15px;
            border-color: $primary;
            background-color: $primary;
            color: $white;
            position: relative;
            &:after {
                content: "\e900";
                font-family: 'InformaIcons';
                right: 15px;
                font-weight: bold;
                position: absolute;
            }
            a {
                color: $white;
            }
            &:hover {
                @extend .primary-btn-hover;
            }
        }
        .btn-previous {
            color: $white;
            min-width: 180px;
            text-align: right;
            padding-top: 15px;
            padding-bottom: 15px;
            border-color: $grey-color05;
            background: $grey-color05;
            position: relative;
            z-index: 9;
            &:before {
                content: "\e900";
                font-family: 'InformaIcons';
                left: 15px;
                font-weight: bold;
                position: absolute;
                -webkit-transform: scale(-1, 1);
                -moz-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
                //-o-transform: scale(-1, 1);
                transform: scale(-1, 1);
            }
            &:hover {
                border-color: $grey-color05;
            }
        }
        #contactus-section {
            .phone-number a,
            .phone-number,
            .email a,
            .email {
                color: $primary;
                font-weight: bold;
            }
            a.btn {
                color: $white;
                width: 100%;
                &:after {
                    color: $white;
                }
            }
            .subscribe-link {
                background: $primary url(/Static/images/subscribe/subscribe.png) no-repeat 5% 50%;
                &:after {
                    color: $light;
                }
            }
        }
        .open-quote {
            color: $secondarycolorlight80;
        }
        //All common CSS which are themeable can be written here
        .demo-item {
            height: 100px;
            background-color: $secondarycolorlight80;
        }
    }
    .tab-pane {
        .error-response,
        .submit-response {
            h2 {
                &:before {
                    color: $secondarycolorlight;
                }
            }
        }
    }
    .form-modal {
        .modal-body {
            .form-inline-container {
                .error-response,
                .submit-response {
                    h2 {
                        &:before {
                            color: $secondarycolorlight;
                        }
                    }
                }
            }
        }
    }
    .infograph .number-container{
        color:$navlinkpharmacolor;
    }
    .welcome-description{
        .tool{
            p a{
                color:$navlinkpharmacolor;
            }
        }
    }
    .more-stories .feature li {
            &:before {
                color:$secondarycolordark;
            }
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
}

@mixin line-height($lineHeight) {
    line-height: $lineHeight;
}

@mixin width-height {
    width: 100%;
    height: 100%;
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin border-solid($width, $color) {
    border: #{$width} solid #{$color};
}

$properties: (margin, padding);
@mixin set-reset-value($side, $value) {
    @each $prop in $properties {
        $prop: 0;
    }
}

@mixin img-icon {
    @include desktop {
        width: 100px;
        height: 100px;
    }
}
