//Element level
body {
  background: $body-bg;
}
section {
    // Grey heading only.. Rest should be overriden on component level
    h1 {
        @include family-style(bold,$white);
        @include heading-font-size(55px,40px,30px);
        @include heading-line-height(60px,45px,36px);
        @include margin-reset;
    }
    // light font which comes after h1
    h2 {
        @include family-style(bold,$grey-color05);
        @include heading-font-size(40px,30px,24px);
        @include heading-line-height(40px,36px,30px);
        @include heading-padding((45px 0),(35px 0),(25px 0));
        @include margin-reset;
    }

    h3 {
        @include family-style(200,$grey-color05);
        @include heading-font-size(30px,24px,22px);
        @include heading-line-height(30px,30px,30px);
        @include margin-reset;
        &.light {
            @include family-style(200,$light);
        }
    }

    h4 {
        @include family-style(normal,$grey-color05);
        @include heading-font-size(24px,18px,18px);
        @include heading-line-height(30px,26px,26px);
        &.light {
           @include family-style(200,$grey-color03);
        }
    }

    h5{
        @include family-style(200,$grey-color05);
        @include heading-font-size(18px,16px,16px);
        @include heading-line-height(26px,24px,24px);
    }

    h6 {
        @include family-style(200,$grey-color03);
        @include heading-font-size(16px,14px,14px);
        @include heading-line-height(24px,22px,22px);
    }

    p{
        @include family-style(200,$grey-color04);
        @include heading-font-size(14px,13px,12px);
        @include heading-line-height(22px,21px,20px);
    }
}


//page background variations
.aboutus-page{
  background-color: $white;
}

//Btn Components
.btn {
    position: relative;
    padding: 15px;
    text-align: left;
    &:after {
        position: absolute;
    }
    // Example class ="btn trans yellow yellow-bd"
    // based on transparency
   
   
    &.yellow {
        background: $yellow!important;
    }
    // based on border
    &.yellow-bd {
        border-color: $yellow;
    }
    &.orange-bd {
        border:1px solid $orange;

    }
    .active, &:active {
      //outline: 0;
      background-image: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
}


//common class
.alignVertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include mobile {
            position: static;
            transform: translateY(0);
    }
}
.abs-image {
      position: absolute;
}
// slick related
.slider-component {
    opacity: 0;
    position: relative;
    &.slick-initialized {
        opacity: 1
    }
    &.dev {
        opacity: 1!important; // only for dev purpose
    }
}
.staticDa {
      position: static!important;
      @include mobile {
            position: relative !important;
      }
}
// for local navigation
ul.navigation-list {
      li a {
            color: $grey-color01;
      }
}

@mixin limitHeight($height){
      height: $height;
      overflow:hidden;
      @include mobile {
            height: auto;
            overflow: initial;
      }
}
a:focus {
    //outline: none;
}
a{
    //outline: none;
}
:-ms-input-placeholder { /*IE10-11 */
    color: #ccc !important;
    font-weight: 400 !important;
}
.access-link{
    position: absolute;
    text-indent: -9999px;
}