//Primary Theme Colors
$agriprimarycolor : #EF7C00;
$maritimeprimarycolor : #1191D1;
$pharmaprimarycolor : #B83166;
$tmtprimarycolor : #DB0A35;
$financeprimarycolor : #5AB031;
$businessprimarycolor : #DE4361;


//Secondry Dark Theme Colors
$agrisecondrydarkcolor : #9e3005;
$marisecondrydarkcolor : #002d4f;
$pharmasecondrydarkcolor : #381e56;
$tmtsecondrydarkcolor : #8c073d;
$financesecondrydarkcolor : #004f21;
$businesssecondrydarkcolor : #91211E;

//Secondry Light Theme Colors
$agrisecondarylightcolor : #ffd600;
$maritimesecondarylightcolor : #0f5487;
$pharmasecondarylightcolor : #62428b;
$tmtsecondarylightcolor : #ba1156;
$financesecondarylightcolor : #00703d;
$businesssecondarylightcolor : #b0173d;

//anchortag colors
$navlinkagricolor: #ffd500;
$navlinkpharmacolor: #e291b1;

//Pharma
$pharmapageui: #62428b;
$pharmalargebg: #5b4476;
$pharmatestimonial: #6c5784;

//quoteColor
$pharmaquote: #b3a8c6; 
$agriquote: #ffe898;
