//Primary Theme Colors
$agriprimarycolor : #c44c0a;
$maritimeprimarycolor : #0374ac;
$pharmaprimarycolor : #B83166;
$tmtprimarycolor : #DB0A35;
$financeprimarycolor : #438424;
$businessprimarycolor : #DE4361;


//Secondry Dark Theme Colors
$agrisecondrydarkcolor : #9e3005;
$marisecondrydarkcolor : #002d4f;
$pharmasecondrydarkcolor : #5b4476;
$tmtsecondrydarkcolor : #ba1156;
$financesecondrydarkcolor : #004f21;
$businesssecondrydarkcolor : #91211E;

//Secondry Light Theme Colors
$agrisecondarylightcolor : #ffd600;
$maritimesecondarylightcolor : #0f5487;
$pharmasecondarylightcolor : #62428b;
$tmtsecondarylightcolor : #8c073d;
$financesecondarylightcolor : #00703d;
$businesssecondarylightcolor : #b0173d;

//anchortag colors
$navlinkagricolor: #edb657;
$navlinkpharmacolor: #e291b1;
$navlinkfinancecolor: #4c9d78;
$navlinktmtcolor: #f5708c;
$navlinkmaritimecolor : #8fc4de;


//Pharma
$pharmatestimonial: #6c5784;

//quoteColor
$pharmaquote: #b3a8c6; 
$agriquote: #ffe898;
