// Variables
// --------------------------------------------------
//== Colors
//
//## Gray and brand colors for use across Bootstrap.
//$font-color:   #6a7287;
//$gray-dark-bg:    #343742;
//$gray-draker-bg:    #e2e3e8;//09
//$gray-lightest-bg: #f7f7f7; // 11
//$gray-bright-bg: #eff0f3; //10
//$gray-darkest-bg: #c3c6d0; //08
//$gray-light-bg:   #444957; //03
//$gray-lighter-bg:   #f1f1f3;//10
//$blue-light-bg:   #e1e2e7;//09
//$blue-lighter-bg: #e1e3e7;//09
//$gray-form-txt: #555555;//04
//$sitemap-light-gray: #eff0f4;//10
//$sitemap-border: #bec2cc;//07
//$sitemap-main-gray: #444854;//03
//$sitemap-sub-gray: #c3c5d1;//08
//$brand-primary:         #ef7c00; // $orange
//$gray-box: #6a7185;//05
//$gray-darker:           #6a7285;//05
//$gray-lighter:          #6a7285; // 05
//$gray-light:            #6a7285;   // 05
//$gray-dark:             #6a7285;   // 05
//$light-blue-border: #6a7185; //05
//not using
//$gray-base:             #434952; //not using
//$brand-success:         #ef7c00;//Not using
//$gray:                  #6a7285; // 05
//$text-gray-dark:       #444957; //03
//$brand-info:            #ef7c00;//not using
//$brand-warning:         #ef7c00; // not using
//$brand-danger:          #ef7c00; // not using..
//$grey-color2: #6a7285; // 05
//$grey-color3: #888e9e;//06
//$grey-color4: #a6aab6;//07
//$grey-color5: #c3c7cf;//08
//$grey-color6: #e1e3e7;//09
//$grey-color7: #f0f1f3;//10

//// All commented color replaced with new values wriiten in side - please dont use above commented colors - Rajiv


//Grey Colors Used
$grey-color01: #343742;//Darkest
$grey-color02: #3c404c;
$grey-color03: #444957;
$grey-color04: #565c6b;
$grey-color05: #6a7285;
$grey-color06: #888e9e;
$grey-color07: #a6aab6;
$grey-color08: #c3c7cf;
$grey-color09: #e1e3e7;
$grey-color10: #f0f1f3;
$grey-color11: #f6f6f7;//Lightest
//Grey Colors Used

//NavLink color

$nav-link-color: #666666;

//Generic Colors Used
$white:#fff;
$input-orange:#f07d00;
$error-orange:#FF6131;
$info-icon-color: #a6aab6;
$black:                 #000;
$yellow:                #ffd500;
$white:                 #fff;
$orange:                #ef7c00;
$brand-primary:         #ef7c00; 
$orange-dark:			#FF7800;
$brand-secondary:       #ffd600;
$quote-color: #ba9f2f;
$social-icon-back: #4a4f5e;
//Generic Colors Used


//Carousel Dots Used
$default-dots-color: 	#888e9f;
$active-dots-color: 	$yellow;
//Carousel Dots Used


//Footer color Used
$text-gray:             #434854;
$gray-header:           #565c6b;
$footer-top-gray:       #3C404C;
$footer-bottom-gray:    #424A57;
$light:                 #fff;
$copyright-gray-header: #525a5c;
$copyright-gray-border: #A5ACAF;
//Footer color Used

//Sub color Used in Footer
$sub-pink:              #ce5182;
$sub-prof-pink: 		#ef4b6c;
$sub-red:               #dc0a36;
$sub-green:             #5ab031;
$sub-blue:              #1291d1;
$sub-yellow:            #ef7c00;
//Sub color Used in Footer

// Sub colors : Used in RTE custom table
$rte-h1-gray-draker:          #4b4f5b;
$rte-thead-blue-draker:       #6a7184;
$rte-fist-bg-white:           #fafbff;
$rte-b-btm-gray-light:        #c2c6d1;
$rte-txt-border-gray-lightest:#c3c6cf;

//== Scaffolding
//
//## Settings for some of the most global styles.
//** Background color for `<body>`.
$body-bg:               $grey-color10;
//** Global text color on `<body>`.
$text-color:            $grey-color05;

//** Global textual link color. // Not Using
$link-color:           $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-secondary;
//** Link hover decoration.
$link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px
//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px
//** By default, this inherits from the `<body>`.

$headings-font-weight: 300;
$headings-line-height: 1.1;
$headings-color: inherit; //== Iconography
//

$border-radius-base: 0;

$btn-default-color: $grey-color05;


//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 320px; //** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs; //** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min; // Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px;
$screen-sm-min: $screen-sm; //** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min; // Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 1142px;
$screen-md-min: $screen-md; //** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min; // Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px;
$screen-lg-min: $screen-lg; //** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min; // So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1); //== Grid system
//
//## Define your custom responsive grid.
//** Number of columns in the grid.
$grid-columns: 12; //** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px; // Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: $screen-sm-min; //** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1); //== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.
// Small screen / tablet
$container-tablet: (720px + $grid-gutter-width); //** For `$screen-sm-min` and up.
$container-tablet: 767px;
$container-sm: $container-tablet; // Medium screen / desktop
$container-desktop: (940px + $grid-gutter-width); //** For `$screen-md-min` and up.
$container-desktop: 1169; //** For `$screen-md-min` and up.
$container-md: $container-desktop; // Large screen / wide desktop
$container-large-desktop: (1169px + $grid-gutter-width); //** For `$screen-lg-min` and up.
$container-lg: $container-large-desktop; //== Navbar
//





//##
$panel-default-heading-bg: $grey-color09;
$panel-primary-border: $brand-primary;
$panel-primary-heading-bg: $brand-primary;
//


//##
//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px; //** Text muted color
$text-muted: $grey-color05; //** Abbreviations and acronyms border color
$abbr-border-color: $grey-color05; //** Headings small color
$headings-small-color: $grey-color05; //** Blockquote small color
$blockquote-small-color: $grey-color05; //** Blockquote font size
$blockquote-font-size: ($font-size-base * 1.25); //** Blockquote border color
$blockquote-border-color: $grey-color05; //** Page header border color
$page-header-border-color: $grey-color05; //** Width of horizontal description list titles
$dl-horizontal-offset: $component-offset-horizontal; //** Point at which .dl-horizontal becomes horizontal
$dl-horizontal-breakpoint: $grid-float-breakpoint; //** Horizontal line color.
$hr-border: $grey-color05; // define variables for spacings
// ==========================================================================
$gutterwidth: 30px;
$gutterside: $gutterwidth/2;
$mobilegutter: $gutterwidth/4;

//Tech styleguide
// Family Selected
// $font-Aleo: 'Aleo';
// $font-OpenSans: 'Open Sans';

//Tech styleguide
$tech-indigo:#002244;
$tech-sky:#11A7D9;
$tech-citrus:#D9D600; 
$tech-mint:#94BB17;
$tech-gray:#555;
$tech-block: block;
$inl-block: inline-block;

$indgo-color: #002244;
$sky-color: #11a7d9;
$citrus-color: #d9d600;
$mint-color: #94bb17;
$white-color: #fff;
$gray-color: #555555;
//Tech styleguide


//white theme
$gray:#484a45;
$white:#ffffff;
$white-shade:#fbf9f9;
$pink:#ef426f;
$pharma-pink:#ef426f;
$agri-orange:#edb657;
$mnl-blue:#8fc4de;
$tmt-red:#f5708c;
$finance-green:#5ab031;

//newco variables
    $font-color: #000;
    $font-color-white: #fff;
    $super-headline-text: 60px;
    $super-headline-lineheight: 66px;
    $headline-text: 24px;
    $subhead-text: 14px;
    $bg-white: #fff;
    $base-bg: #f9f8f9;
    $subhead-text-lineheight: 25px;
    $checkbox-background: transparent;
    $checkbox-border: #555;
    $newcoprimarycolor: #a54eac;
    $border-refine-filter: #a8abb5;
    $newcolightercolor:#f9f9f9;