//Grey Colors
$grey-color01: #343742;//Darkest
$grey-color02: #3c404c;
$grey-color03: #444957;
$grey-color04: #565c6b;
$grey-color05: #6a7285;
$grey-color06: #888e9e;
$grey-color07: #a6aab6;
$grey-color08: #c3c7cf;
$grey-color09: #e1e3e7;
$grey-color10: #f0f1f3;
$grey-color11: #f6f6f7;//Lightest

$grey-color1: #444957; 
$grey-color2: #6a7285;
$grey-color3: #888e9e;
$grey-color4: #a6aab6;
$grey-color5: #c3c7cf;
$grey-color6: #e1e3e7;
$grey-color7: #f0f1f3;

$white: #ffffff;

//All variables except grey variation can be inserted since there is only color guidliness for gray

//Primary Theme Colors
$agriprimarycolor : #EF7C00;
$maritimeprimarycolor : #1191D1;
$pharmaprimarycolor : #D14A7F;
$tmtprimarycolor : #DB0A35;
$financeprimarycolor : #5AB031;
$businessprimarycolor : #DE4361;


//Secondry Dark Theme Colors
$agrisecondrydarkcolor : #9e3005;
$marisecondrydarkcolor : #002d4f;
$pharmasecondrydarkcolor : #381e56;
$tmtsecondrydarkcolor : #8c073d;
$financesecondrydarkcolor : #004f21;
$businesssecondrydarkcolor : #91211E;

//Secondry Light Theme Colors
$agrisecondarylightcolor : #ffd600;
$maritimesecondarylightcolor : #0f5487;
$pharmasecondarylightcolor : #62428b;
$tmtsecondarylightcolor : #ba1156;
$financesecondarylightcolor : #00703d;
$businesssecondarylightcolor : #b0173d;

//anchortag colors
$navlinkagricolor: #ffd500;
$navlinkpharmacolor: #e291b1;
$navpharmacirclecolor: rgba($navlinkpharmacolor, 0.2);
$navagricirclecolor: #6c6845;

//Pharma
$pharmapageui: #62428b;
$pharmalargebg: #5b4476;
$pharmalargebg10: rgba($pharmalargebg, 0.9);

//quoteColor
$pharmaquote: #b3a8c6; 
$agriquote: #ffe898;
