<section class="recommendation-register-banner">
    <div class="create-profile-container-dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Create profile with : <span class="light-font">AgriBusiness hub</span></h2>
                </div>
                <div class="col-xs-12 col-sm-4 steps-tips">
                    <div class="container-fluid">
                        <div class="row steps-item">
                            <div class="col-xs-3 col-sm-5 col-md-5">
                                <img src="cms-images/recommendation-banner/vector1.png" alt="" class="img-responsive" />
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-7 desc">
                                Recommendations tailered for you
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 steps-tips">
                    <div class="container-fluid">
                        <div class="row steps-item">
                            <div class="col-xs-3 col-sm-5 col-md-5">
                                <img src="cms-images/recommendation-banner/vector2.png" alt="" class="img-responsive" />
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-7 desc">
                                Get heigher value free content
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 steps-tips">
                    <div class="container-fluid">
                        <div class="row steps-item">
                            <div class="col-xs-3 col-sm-5 col-md-5">
                                <img src="cms-images/recommendation-banner/vector3.png" alt="" class="img-responsive" />
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-7 desc">
                                Trails products and demos picker
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="signup-container">
        <div class="container">
            <div class="row ">
                <div class="col-xs-12">
                    <span class="bold">Sign up to AgriBusiness hub to access: </span> <span>Marketing content, Product recommendations, Sample content recommendations.</span>
                    <div class="create-profile-btn-container">
                        <a class="btn btn-primary" href="#" role="button">Create Profile</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="existing-customer-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 existing-customer-wrapper">
                    <span class="existing-customer-span">Exsting customer?</span><a class="goto-product">Go to your product sites</a>
                </div>
            </div>
        </div>
    </div>

    <div class="create-profile-container-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Create profile with : <span class="light-font">AgriBusiness hub</span></h2>
                </div>
                <div class="col-xs-12 col-sm-4 steps-tips">
                    <div class="container-fluid">
                        <div class="row steps-item">
                            <div class="col-xs-3 col-sm-5 col-md-5 image">
                                <img src="cms-images/recommendation-banner/vector1.png" alt="" class="img-responsive" />
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-7 desc">
                                Recommendations tailered for you
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 steps-tips">
                    <div class="container-fluid">
                        <div class="row steps-item">
                            <div class="col-xs-3 col-sm-5 col-md-5">
                                <img src="cms-images/recommendation-banner/vector2.png" alt="" class="img-responsive" />
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-7 desc">
                                Get heigher value free content
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 steps-tips">
                    <div class="container-fluid">
                        <div class="row steps-item">
                            <div class="col-xs-3 col-sm-5 col-md-5">
                                <img src="cms-images/recommendation-banner/vector3.png" alt="" class="img-responsive" />
                            </div>
                            <div class="col-xs-9 col-sm-7 col-md-7 desc">
                                Trails products and demos picker
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
