<section class="recommendation-register-banner">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <h2>Create profile with : <span class="small">AgriBusiness hub</span></h2>
          </div>
      </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 steps-tips">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-3 col-sm-5 col-md-5">
                            <img src="cms-images/recommendation-banner/vector1.png" alt="" class="img-responsive"/>
                      </div>
                      <div class="col-xs-9 col-sm-7 col-md-7 desc">
                            Recommendations tailered for you
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 steps-tips">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-3 col-sm-5 col-md-5">
                            <img src="cms-images/recommendation-banner/vector2.png" alt="" class="img-responsive"/>
                      </div>
                      <div class="col-xs-9 col-sm-7 col-md-7 desc">
                            Get heigher value free content
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 steps-tips">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-3 col-sm-5 col-md-5">
                            <img src="cms-images/recommendation-banner/vector3.png" alt="" class="img-responsive"/>
                      </div>
                      <div class="col-xs-9 col-sm-7 col-md-7 desc">
                            Trails products and demos picker
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row signup-container">
            <div class="col-xs-12 text-center">
            <span class="tick-icon"></span><span>Signup to AgriBusiness access: </span> <span>Marketing content, Product recommendations, Sample content recommendations</span>

            <div class="create-profile-btn-container">
                      <a class="btn btn-primary" href="#" role="button">Create Profile</a>
            </div>

            </div>
        </div>
        <div class="row existing-customer-container">
            <div class="col-xs-12 text-center">
              Exsting customer? Go to your product sites >
            </div>
        </div>
    </div>
</section>
