#analyst-profile {
	.introduction {
		margin-bottom: 20px;
		.image {
		    width: 120px;
		    float: left;
		    img {
		    	@include border-radius(50%);
		    	width: 100%;
		    }
		}
		.details {
			width: calc(100% - 120px);
			float: left;
		}
		.place, .experience {
			padding-left: 20px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
			}
		}
		
	}
	.descriptions {
		height: 100px;
		overflow: hidden;
		&.show-content {
			height: auto;
			+ .btn-container {
				.show-options {
					&:before {
						content: 'Hide Less';
					}
					&:after {
						content: '-';
					}
				}
			}
		}
	}
	.show-options {
		width: 105px;
		padding: 5px 0;
		height: 35px;
		border-bottom: 2px solid $yellow;
		display: inline-block;
		position: relative;
		color: $text-gray-dark;
		margin-top: 30px;
		&:before {
			content: "Show More";
			position: absolute;
			left: 0;
		}
		&:after {
			content: "+";
			position: absolute;
			right: 0;
			width: 20px;
			height: 20px;
			background-color: $yellow;
			color: $white;
			font-weight: bold;
			@include border-radius(50%);
			font-size: 16px;
			padding: 0 6px;
		}
	}
	.more-stories {
		.heading {
			font-size: 18px;
		}
		.feature {
			list-style-type: none;
			padding-left: 32px;
			margin-bottom: 40px;
			li {
				padding: 3px 0;
				position: relative;
				&:before {
					content: "\e013";
				    font-family: 'Glyphicons Halflings';
				    position: absolute;
				    left: -32px;
				    color: $white;
				    background-color: $yellow;
				    font-size: 10px;
				    @include border-radius(50%);
				    width: 15px;
				    height: 15px;
				    padding: 0 2px;
				}
			}
		}

	}
}
