.product-login {
    p {
        width: 60%;
    }
    .inner-wrapper{
        padding: 30px 50px;
        @include mobile{
            padding:20px;
        }
    }
    .create-profile{
        padding:15px 10px;
        background-color:$grey-color05;
        width: 100%;
        color:$white;
        opacity: 0.8;
        a{
            //color:$orange;
        }
        p{
            width: 50%;
            margin: 0 auto;
            color:$white;
            position: relative;
              &:before {
                width: 30px;
                height: 30px;
                background: none;
                position: absolute;
                margin: -20px 0 0 -60px;
                top: 50%;
                left: 0;
                background-size: 100%;
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                content: "\e916";
                font-family: "InformaIcons" !important;
                font-size: 30px;
              @include mobile{
                margin: -15px 0 0 10px;
              }
            }
            @include mobile{
              width: auto;
              padding-left: 60px;
            }
        }
    }
    .login-links {
        margin: 30px auto;
        background:url("/Static/images/pattern.png") no-repeat bottom right $grey-color03;
        background-size:20%;
        padding-bottom:80px;
        h2 {
            color: $white;
            font-weight: 200;
            font-size: 30px;
            margin:30px 0 0;
            padding:0;
            @include mobile{
                margin: 0 auto;
            }
        }
        h3 {
            font-weight: bold;
            font-size: 20px;
            color: $white;
        }
        .col-left{
            float: left;
            width: 40%;
            margin-left:70px;
            @include mobile{
                 float: none;
                 width: 100%;
                 margin:0 auto;
            }
        }
        .list {
            border-bottom: 1px solid $grey-color05;
            margin: 60px 0 0 0;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 30px 0 0;
                position: relative;
                li {
                    border-top: 1px solid $grey-color05;
                    padding: 15px 0;
                    font-size: 18px;
                    font-family: 'InformaIcons';
                    &:after {
                        content: "\e904";
                        position: absolute;
                        color: $orange;
                        right: 0;
                        font-size:15px;
                    }
                    a {
						color: $white;
                    }
                }
            }
        }
    }
}
