--- component: pdp-feature-list ---
<section id="feature-list" class="feature-list-section" data-desktop=3 data-tablet=6 data-mobile=4>
    <div class="container">
        <div class="row headline">
           <div class="col-xs-12">
                <h2>Features</h2>
            </div>
            <!-- <div class="col-xs-12 col-md-10 feature-list-col"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis diam tellus, sodales at libera non,pharetra corwallis nisl.Morbi dopibus facilisis iacinia.Quisque at enim consequat, amare elit id,luctus arcu.</p></div> -->
        </div>
        <div class="row feature-list-items">
            {{#each this}}
                <div class="feature-list-container">
                    <div class="feature-list">
                        <div class="feature-image">
                            <img src="cms-images/{{image}}">
                        </div>
                        <h4>
                            {{title}}
                        </h4>
                        <p>{{description}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="row feature-list-btn-container btn-showMore-container">
             <div class="col-xs-12">
               <button class="btn btn-showMore">
                     <span class="more">See all Features</span>
                      <span class="less">See Less Features</span>
               </button>
            </div>
        </div>
    </div>
</section>
