--- component: pdp-feature-list ---
<section id="feature-list" class="feature-list-section" data-desktop=6 data-tablet=6 data-mobile=2>
    <div class="container">
        <div class="row headline">
            <div class="col-xs-12">
                <h2>Features</h2>
            </div>
        </div>
        <div class="row">
            {{#each this}}
                <div class="feature-list-container">
                    <div class="feature-list">
                        <div class="feature-image">
                            <img src="cms-images/feature-list/{{image}}">
                        </div>
                        <div class="headText">
                            {{title}}
                        </div>
                        <p>{{description}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="row">
             <div class="col-xs-12">
                  <button class="btn btn-showMore">
                        <span class="more">See all Features</span>
                         <span class="less">See Less Features</span>
                  </button>
            </div>
        </div>
    </div>
</section>
