<div class="container">
    <section class="index-page">
        <h2>Informa Tech  - R1</h2>
        <nav>
            <ul class="navigation-list">
              <li class="navigation-list__item">
                  <a href="/tech-homePage.html" target="_blank" class="navigation-list__item__link">01_Homepage</a>
              </li>
            </ul>
          </nav>
    </section>
</div>
