---
layout: main-layout-tech.hbs
---
<div class="container">
  <section class="index-page">
    <h2>Informa Tech  - R1</h2>
    <nav>
      <ul class="navigation-list">
        <li class="navigation-list__item">
          <a href="/tech-homePage.html" target="_blank" class="navigation-list__item__link">01_Homepage</a>
        </li>
        <li class="navigation-list__item">
          <a href="/tech-meetTheTeam.html" target="_blank" class="navigation-list__item__link">02_MeetTheTeam</a>
        </li>
        <li class="navigation-list__item">
          <a href="/tech-teamProfile.html" target="_blank" class="navigation-list__item__link">03_Team_profile</a>
        </li>
        <li class="navigation-list__item">
          <a href="/tech-brandPortfolio.html" target="_blank" class="navigation-list__item__link">04_brandPortfolio</a>
        </li>
        <li class="navigation-list__item">
          <a href="/tech-events.html" target="_blank" class="navigation-list__item__link">05_Events</a>
        </li>
        <li class="navigation-list__item">
          <a href="/tech-products-media.html" target="_blank" class="navigation-list__item__link">05_products-media</a>
        </li>
      </ul>
    </nav>
  </section>
</div>