<section class="two-column-grid-section">
    <div class="two-column-grid-list">
        <div class="container">
            <div class="row image-first">
                <div class="col-md-6 col-sm-12 image-section">
                    <div class="image-container">
                        <img src="cms-images/about-us/about-bg.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 content-section">
                    <div class="content-container">
                        <div class="subtitle">simply dummy text of the printing and typesetting industry</div>
                        <div class="discription">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                </div>
            </div>
            <div class="row image-first">
                <div class="col-md-6 col-sm-12 content-section">
                    
                     <div class="content-container">
                        <div class="subtitle">simply dummy text of the printing and typesetting industry</div>
                        <div class="discription">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 image-section">
                   <div class="image-container">
                        <img src="cms-images/about-us/about-bg.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row image-first">
                <div class="col-md-6 col-sm-12 image-section">
                    <div class="image-container">
                        <img src="cms-images/about-us/about-bg.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 content-section">
                    <div class="content-container">
                        <div class="subtitle">simply dummy text of the printing and typesetting industry</div>
                        <div class="discription">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
