<section class="search-container" data-desktop="3" data-tablet="2" data-mobile="1">
    <div class="container">
        <div class="view-toggle clearfix">
            <div class="results-found">
                <p class="results"><strong>28</strong> Products Found</p>
                <ul class="items-found">
                    <li><strong>8</strong> Resources</li>
                    <li><strong>8</strong> Case Studies</li>
                    <li><strong>12</strong> Products</li>
                </ul>
            </div>
            <div class="view-by">
                <label>View By:</label>
                <select class="chosen-select" name="sector" style="display: none;">
                    <option value="All">All</option>
                    <option value="latest">latest</option>
                </select>
            </div>
            <ul class="view-mode hidden-xs">
                <li data-view="listView" class="selected">
                    <a href="#" class="icon-list-view"></a>
                </li>
                <li data-view="tileView">
                    <a href="#" class="icon-list-view"></a>
                </li>
            </ul>
        </div>
        <div class="product-results" data-pagesize="9">
            <div class="row list">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <!--If Article-->
                    <div class="list-items">
                        <div class="recomended-wrapper">
                            <div class="recomend-content wrap-content">
                                <div class="content">
                                        <p class="category">
                                            <strong>Sector Name</strong>
                                        </p>
                                        <span class="type">
                                            <span>Biomedtracker</span>
                                        </span>
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    <!--If Video-->
                                    <div class="video-container">
                                        <a href="http://www.dummyurl.com" class="video-link" tabindex="0">
                                            <img src="/cms-images/video-thumb-sample.jpg" alt="video description here">
                                            <span class="play-icon icon-play"></span>
                                        </a>
                                    </div>
                                </div>
                                    <p class="topics">Topics:
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                    </p>
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <!--If Article-->
                    <div class="list-items">
                        <div class="recomended-wrapper">
                            <div class="recomend-content wrap-content">
                                <div class="content">
                                        <p class="category">
                                            <strong>Sector Name</strong>
                                        </p>
                                        <span class="type">
                                            <span>Biomedtracker</span>
                                        </span>
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    <!--If Video-->
                                    <div class="video-container">
                                        <a href="http://www.dummyurl.com" class="video-link" tabindex="0">
                                            <img src="/cms-images/video-thumb-sample.jpg" alt="video description here">
                                            <span class="play-icon icon-play"></span>
                                        </a>
                                    </div>
                                </div>
                                    <p class="topics">Topics:
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                    </p>
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <!--If Article-->
                    <div class="list-items">
                        <div class="recomended-wrapper">
                            <div class="recomend-content wrap-content">
                                <div class="content">
                                        <p class="category">
                                            <strong>Sector Name</strong>
                                        </p>
                                        <span class="type">
                                            <span>Biomedtracker</span>
                                        </span>
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    <!--If Video-->
                                    <p class="description">Lorem ipsumm sajndk sand asndak dmsandkjas d,ankjdas ndkjas,msandkj sadkjsansa ndkjn dksa dknsak</p>
                                </div>
                                    <p class="topics">Topics:
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                    </p>
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <!--If Article-->
                    <div class="list-items">
                        <div class="recomended-wrapper">
                            <div class="recomend-content wrap-content">
                                <div class="content">
                                        <p class="category">
                                            <strong>Sector Name</strong>
                                        </p>
                                        <span class="type">
                                            <span>Biomedtracker</span>
                                        </span>
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    <!--If Video-->
                                    <div class="video-container">
                                        <a href="http://www.dummyurl.com" class="video-link" tabindex="0">
                                            <img src="/cms-images/video-thumb-sample.jpg" alt="video description here">
                                            <span class="play-icon icon-play"></span>
                                        </a>
                                    </div>
                                </div>
                                    <p class="topics">Topics:
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                    </p>
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <!--If Article-->
                    <div class="list-items">
                        <div class="recomended-wrapper">
                            <div class="recomend-content wrap-content">
                                <div class="content">
                                        <p class="category">
                                            <strong>Sector Name</strong>
                                        </p>
                                        <span class="type">
                                            <span>Biomedtracker</span>
                                        </span>
                                    <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                    <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                    <!--If Video-->
                                    <div class="video-container">
                                        <a href="http://www.dummyurl.com" class="video-link" tabindex="0">
                                            <img src="/cms-images/video-thumb-sample.jpg" alt="video description here">
                                            <span class="play-icon icon-play"></span>
                                        </a>
                                    </div>
                                </div>
                                    <p class="topics">Topics:
                                            <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                    </p>
                            </div>
                            <div class="footer">
                                <div class="btn-container text-right">
                                    <a href="#" class="btn btn-default">Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn-showMore">Show More</a>
            </div>
        </div>
    </div>
</section>