.tech-sitemap {
        background-color: #002244;
        width: 100%;
        display: flex;
        @media only screen and (min-width:1400px) {
               max-width: 1400px;
                margin: 0 auto;
                padding: 0 100px 65px 100px;
        }
        .container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            @media only screen and (max-width:1399px) {
                padding:0 20px;
            }
        }
        .sitemap-inner{
            @media only screen and (max-width: 768px) {
                padding: 36px 0;
            }
            .custom-row{
                @media only screen and (max-width: 768px) {
                    flex-wrap: wrap;
                }
                width: 100%;
                float: left;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                .custom-col{
                    width: 180px;
                    margin-right: 65px;
                    padding: 0;
                    float: left;
                    ul.list-unstyled{
                        li{
                            font-size: 14px;
                            line-height: 30px;
                            text-transform: capitalize;
                            font-weight: bold;
                            a {
                                color: #ffffff;
                                font-family: 'SWBrandFont' !important;
                                font-weight: bold !important;

                            }
                            a:hover {
                                text-decoration: underline;
                                transition: ease .5s;
                            }
                            ul.list-unstyled{
                                li {
                                    a{
                                        font-family: 'SWBrandFont' !important;
                                        font-weight: 600 !important;
                                    }
                                }
                            }
                        }
                       
                    }
                    .sublevels {
                        padding-left: 12px;
                    }
                }
                .custom-col:nth-child(5n) {
                    @media only screen and (min-width:1400px) {
                      margin-right: 0px;
                   }
                }
            }
            h2.headline{
                color: #fff !important;
                margin-top: 0;
                font-family: 'SWBrandFont' !important;
                font-weight: bold !important;
            }
            h4 {
                width: 100%;
                font-weight: bold;
                text-transform: capitalize;
                font-size: 18px !important;
                color: #fff !important;
                min-height: 20px;
                font-family: 'SWBrandFont' !important;
                font-weight: bold !important;
            }
            h4:hover {
                    text-decoration: underline;
                    transition: ease .5s;
            }
        }
    }


           

       

       
