<!--
<section class="tech-footer">
    <div class="footer-section">
        <div class="top-footer">
            <div class="footer-sub-child">
                <div class="footer-log">
                    <img class="img-responsive" src="cms-images/tech-footer/footer-log.png">
                </div>
                <div class="MediaCenter">
                    <p class="title">Media Center</p>
                    <ul>
                        <li><a href="#">Media Coverage</a></li>
                        <li><a href="#">Press Releases</a></li>
                        <li><a href="#">Twitter Feed</a></li>
                        <li><a href="#">Youtube channel</a></li>
                    </ul>
                </div>

                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-bottom">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">cookies policy</a> </li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Trial investigators privacy notice</a></li>
            </ul>
        </div>
    </div>
</section>
-->

<!--divisional footer-->
<div class="divisional-footer">
    <div class="divisional-footer-container">
        <div class="row footer-icons">
            <div class="col-md-3 logo">
                <img src="cms-images/divisional-footer/logo.png" alt="tech-logo">
            </div>
            <div class="col-md-3 social-icon">
                <ul class="list-inline social-icon">
                     <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  
                </ul>

            </div>
            <div class="col-md-6 links">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Event Calender</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="row privacy-policy">
            <div class="col-md-12">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
        </div>
    </div>
</div>
<!--divisional Footer -->

<!-- build:js Static/js/main.js -->
<script src="Static/js/informaui.config.js"></script>
<script src="Static/js/informaui.global.js"></script>
<script src="Static/js/informaui.utils.js"></script>
<script src="Static/js/informaui.data-loader.js"></script>
<script src="Static/js/informaui.spinner.js"></script>
<script src="Static/js/informaui.analytics.js"></script>
<script src="Static/js/informaui.templates.js"></script>
<script src="Static/js/informaui.int.js"></script>
<!-- endbuild -->

<script src="Static/js/components/tech-header.js"></script>
<script src="Static/js/components/community-segment.js"></script>
<script src="Static/js/components/featured-products.js"></script>
<script src="Static/js/components/article.js"></script>
<script src="Static/js/components/events-search-combine-1.js"></script>
<script src="Static/js/components/tech-search-result.js"></script>
<!--<script src="Static/js/components/main.js"></script>
<script src="Static/js/components/modernizr.js"></script>-->
