<section class="search-container"  data-desktop="3" data-tablet="2" data-mobile="1">
    <input type="hidden" class="sector-list" value="sector2,sector3" />
    <input type="hidden" class="sub-sector-list" value="01" />
    <div class="container">
            <div class="view-toggle clearfix">
                <p class="results"><strong>28</strong> Products Found</p>
                <ul class="view-mode hidden-xs">
                    <li data-view="tileView" class="selected">
                        <a href="#" class="icon-list-view">List View</a>
                    </li>
                    <li data-view="listView">
                        <a href="#" class="icon-list-view">List View</a>
                    </li>
                </ul>
            </div>
            <div class="product-results" data-pagesize="9">
                <h2>From: <strong>Biomedtracker</strong></h2>
                <div class="row list">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items" data-fetch="asda" data-type="product">
                            <div class="products">
                                <div class="wrap-content">
                                    <div class="heading">
                                        <div class="heading-content">
                                            <p class="category">
                                                {{!-- {{#each SectorType}} --}}
                                                <strong>Sector Name</strong>
                                                {{!-- {{/each}} --}}
                                            </p>
                                            <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <ul>
                                            <li class="icon-tick">Helps identify market trends</li>
                                            <li class="icon-tick">Reduces risk by evaluating volatility</li>
                                            <li class="icon-tick">Saves time and money</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="button-links">
                                    <div class="button-links-wrap row">
                                        <div class="col-xs-6">
                                            <a href="#" class="btn btn-default">Details</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#" class="btn btn-primary">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items">
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                            <p class="category">
                                                <strong>Sector Name</strong>
                                            </p>
                                            <span class="type">
                                                <span>Biomedtracker</span>
                                            </span>
                                        <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                        <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                        <!--If Video-->
                                        <div class="video-container">
                                            <a href="http://www.dummyurl.com" class="video-link" tabindex="0">
                                                <img src="/cms-images/video-thumb-sample.jpg" alt="video description here">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div>
                                    </div>
                                        <p class="topics">Topics:
                                                <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        </p>
                                </div>
                                <div class="footer">
                                    <div class="btn-container text-right">
                                        <a href="#" class="btn btn-default">Full Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items" data-fetch="{{Id}}">
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="category">
                                            <strong>Sector Name</strong>
                                        </p>
                                        <span class="type">
                                            <span>Biomedtracker</span>
                                        </span>
                                        <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                        <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                        <!--If Description-->
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    </div>
                                        <p class="topics">Topics:
                                                <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        </p>
                                </div>
                                <div class="footer">
                                    <div class="btn-container text-right">
                                        <a href="#" class="btn btn-default">Full Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-showMore">
                        <span class="more">Show More</span>
                        <span class="less">Show Less</span>
                    </a>
                </div>
            </div>
            <div class="product-results" data-pagesize="9">
                <h2>From: <strong>Biomedtracker</strong></h2>
                <div class="row list">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items">
                            <div class="products">
                                <div class="heading">
                                    <div class="heading-content">
                                        <p class="category">
                                            {{!-- {{#each SectorType}} --}}
                                            <strong>Sector Name</strong>
                                            {{!-- {{/each}} --}}
                                        </p>
                                        <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                    </div>
                                </div>
                                <div class="body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <ul>
                                        <li class="icon-tick">Helps identify market trends</li>
                                        <li class="icon-tick">Reduces risk by evaluating volatility</li>
                                        <li class="icon-tick">Saves time and money</li>
                                    </ul>
                                    <div class="button-links">
                                        <div class="button-links-wrap row">
                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-default">Details</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-primary">Free Trial</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items">
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                            <p class="category">
                                                <strong>Sector Name</strong>
                                            </p>
                                            <span class="type">
                                                <span>Biomedtracker</span>
                                            </span>
                                        <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                        <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                        <!--If Video-->
                                        <div class="video-container">
                                            <a href="http://www.dummyurl.com" class="video-link" tabindex="0">
                                                <img src="/cms-images/video-thumb-sample.jpg" alt="video description here">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div>
                                    </div>
                                        <p class="topics">Topics:
                                                <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        </p>
                                </div>
                                <div class="footer">
                                    <div class="btn-container text-right">
                                        <a href="#" class="btn btn-default">Full Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items" data-fetch="{{Id}}">
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="category">
                                            <strong>Sector Name</strong>
                                        </p>
                                        <span class="type">
                                            <span>Biomedtracker</span>
                                        </span>
                                        <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                        <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                        <!--If Description-->
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    </div>
                                        <p class="topics">Topics:
                                                <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        </p>
                                </div>
                                <div class="footer">
                                    <div class="btn-container text-right">
                                        <a href="#" class="btn btn-default">Full Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-showMore">
                        <span class="more">Show More</span>
                        <span class="less">Show Less</span>
                    </a>
                </div>
            </div>
            <div class="product-results" data-pagesize="9">
                <h2>From: <strong>Biomedtracker</strong></h2>
                <div class="row list">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items">
                            <div class="products">
                                <div class="heading">
                                    <div class="heading-content">
                                        <p class="category">
                                            {{!-- {{#each SectorType}} --}}
                                            <strong>Sector Name</strong>
                                            {{!-- {{/each}} --}}
                                        </p>
                                        <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                    </div>
                                </div>
                                <div class="body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <ul>
                                        <li class="icon-tick">Helps identify market trends</li>
                                        <li class="icon-tick">Reduces risk by evaluating volatility</li>
                                        <li class="icon-tick">Saves time and money</li>
                                    </ul>
                                    <div class="button-links">
                                        <div class="button-links-wrap row">
                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-default">Details</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-primary">Free Trial</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items">
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                            <p class="category">
                                                <strong>Sector Name</strong>
                                            </p>
                                            <span class="type">
                                                <span>Biomedtracker</span>
                                            </span>
                                        <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                        <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                        <!--If Video-->
                                        <div class="video-container">
                                            <a href="http://www.dummyurl.com" class="video-link" tabindex="0">
                                                <img src="/cms-images/video-thumb-sample.jpg" alt="video description here">
                                                <span class="play-icon icon-play"></span>
                                            </a>
                                        </div>
                                    </div>
                                        <p class="topics">Topics:
                                                <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        </p>
                                </div>
                                <div class="footer">
                                    <div class="btn-container text-right">
                                        <a href="#" class="btn btn-default">Full Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="list-items" data-fetch="{{Id}}">
                            <div class="recomended-wrapper">
                                <div class="recomend-content wrap-content">
                                    <div class="content">
                                        <p class="category">
                                            <strong>Sector Name</strong>
                                        </p>
                                        <span class="type">
                                            <span>Biomedtracker</span>
                                        </span>
                                        <h4>Lorem ipsum dolor sit elit. ipsum dolor</h4>
                                        <p class="publish">By: <strong>Lorena Ruibal</strong>01.03.2016</p>
                                        <!--If Description-->
                                        <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                    </div>
                                        <p class="topics">Topics:
                                                <strong>Lorem</strong><strong>Ipsum</strong><strong>Dolor</strong><strong>Sit</strong><strong>Amet</strong><strong>consecuter</strong>
                                        </p>
                                </div>
                                <div class="footer">
                                    <div class="btn-container text-right">
                                        <a href="#" class="btn btn-default">Full Article</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn-showMore">Show More</a>
                </div>
            </div>
    </div>
    <div class="text-right see-all">
        <a href="#" class="btn btn-default">See All</a>
    </div>
</section>