<section class="product-finder-results search-container">
<div class="search-filter">
	<div class="container">
		<p class="filter-text">You've searched for:</p>
		<div class="filter-list">
			<div class="sector">
				<p>Sector:</p>
				<ul>

				</ul>
				<a class="remove-all" href="#">Clear all x</a>
			</div>
			<div class="subsector">
				<p>Sub Sector:</p>
				<ul>

				</ul>
				<a class="remove-all" href="#">Clear all x</a>
			</div>
		</div>
	</div>
</div>
<div class="refine-list form">
	<div class="container">
		<p class="header">
			<a href="#" class="refine">Refine results <span class="icon-chevron-down"></span></a>
			<a href="#" class="close-filter"><span class="icon-close"></span></a>
		</p>
		<div class="refine-result clearfix">

		</div>
	</div>
</div>
<div class="container" id="results"> 
	<div class="search-results flip" id="ProductsList">
        <p class="count"><strong></strong> Products found</p>
            <div class="row">
            </div>
            <div class="btn-container">
                <a href="javascript:void(0)" class="btn-ShowMore">
                    <span class="more">More Products</span>
                    <span class="less">Less products</span>
                </a>
            </div>
    </div>
    <div class="search-results" id="ResourcesList">
           <p class="count"><strong></strong> Resources found</p>
           	<div class="row article-list">
           	</div>
           	<div class="btn-container">
                <a href="javascript:void(0)" class="btn-ShowMore">
                    <span class="more">More Products</span>
                    <span class="less">Less products</span>
                </a>
            </div>
    </div>
</div>
</section>