<section class="casestudy-Quote-Video">
  <div class="container">
    <div class="row">
        <h3>Case study</h3>
    </div>
      <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="video-wrap">
                <span class="play-icon"></span><img src="cms-images/video-thumb-sample.jpg" alt="" class="img-responsive"/>
            </div>

          </div>
          <div class="col-xs-12 col-sm-7 col-md-8 Quote-descrip-container">
            <div class="open-quote">&ldquo;</div>
              <div class="Quote-descrip">
              <div class="Quote-descrip-marg">
                We asked Infroma to help us understand the global viewpoints on feed stuffs movements and logistics. <br>
                  With the <strong>The Public Ledger</strong>, we get all of that information in one place.
              </div>
                <span class="Small-text">
                  <strong>JOHN SMITH</strong><span>&nbsp; &nbsp; </span>/<span>&nbsp; &nbsp;</span>SENIOR VICE PRECIDENT AT HBS FOOD
                </span>
              </div>

          </div>
      </div>
  </div>
</section>
