<section class="casestudy-Quote-Video">
  <div class="container">
    <div class="row title">
        <h2>Case study</h2>
    </div>
      <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="video-mini-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="cms-images/video-img/video-thumb.png" data-videotype="youtube" data-videourl="https://www.youtube.com/embed/kRfliH2SGIY?autoplay=1" alt="video-youtube" width="100%" class="video-img img-responsive" />
                    <span class="play-icon"></span>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8 Quote-descrip-container">
            <div class="open-quote">&ldquo;</div>
              <div class="Quote-descrip">
              <div class="Quote-descrip-marg">
                We asked Infroma to help us understand the global viewpoints on feed stuffs movements and logistics. <br>
                  With the <strong>The Public Ledger</strong>, we get all of that information in one place.
              </div>
                <span class="Small-text">
                  <strong>JOHN SMITH</strong><span>&nbsp; &nbsp; </span>/<span>&nbsp; &nbsp;</span>SENIOR VICE PRECIDENT AT HBS FOOD
                </span>
              </div>

          </div>
      </div>
  </div>
</section>
