#formComponentModal.modal {
    .modal-dialog {
        width: auto;
        margin: 0;
    }
    .modal-body {
        //  padding: 15px 200px;
        @include mobile {
            //padding: 15px 30px;
        }
    }
    .modal-content {
        border-radius: 0;
        background-color: $grey-color05;
        color: $white;
    }
    .modal-header {
        border-bottom: 0;
        .close {
            color: $white;
            opacity: 2;
        }
    }
}
form.elq-form {
    font-weight: 200;
    .icon-info {
        display: none;
    }
    .hasToolTip .icon-info {
        display: inline-block;
        &.active {
            &:before {
                color: $yellow;
            }
        }
    }
    .icon-info:before {
        content: "\e915";
        color: $info-icon-color;
    }
    .icon-info:hover::before {
        content: "\e915";
        color: $yellow;
    }
    .form-btn-container {
        float: right;
        .btn {
            width: 150px;
            color: $white;
            border: none;
        }
    }
    .tooltip-placeholder {
        position: relative;
        display: none;
        width: 100%;
        color: #FFFFFF;
        background: #FFD500;
        height: 40px;
        line-height: 40px;
        text-align: left;
        /* visibility: hidden; */
        border-radius: 0;
        padding: 10px;
        margin-top: 15px;
        color: $grey-color05;
    }
    .tooltip-placeholder:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        /* margin-left: -346px; */
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-left: 10px solid #FFD500;
        border-top: 10px solid transparent;
    }
    .title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    label {
        font-size: 16px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    input.form-control {
        border-radius: 0;
        height: 50px;
        background-color: $grey-color09;
    }
    textarea.form-control {
        border-radius: 0;
        background-color: $grey-color09;
    }
    .disabled {
        opacity: 0.6;
    }
    .textbox {
        background-color: $white;
        input {
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            border: none;
            padding: 10px;
            color: $grey-color03;
            font-weight: 400;
            width: 100%;
        }
        label {
            margin-bottom: 0;
            width: 100%;
        }
    }
    label.label {
        font-weight: 200;
        font-size: 1em;
        padding: 0;
        margin-top: 5px;
    }
    :not(.lt-ie9) {
        /* HTML5 Boilerplate accessible hidden styles */
        .custom-radio input {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        /* the basic, unchecked style */
        .custom-radio input + span::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            vertical-align: -0.25em;
            border-radius: 1em;
            border: 0.225em solid #fff;
            margin-right: 0.75em;
            background: $white;
            transition: 0.5s ease all;
            position: relative;
            top: -2px;
        }
        /* the checked style using the :checked pseudo class */
        .custom-radio input:checked + span::before {
            background: $input-orange;
        }
    }
    .checkbox-container input {
        display: none;
        width: 0;
        height: 0;
        border-radius: 50px;
        background-color: #ffd500;
    }
    .checkbox-container .checkbox-label {
        height: 100px;
        background-color: $grey-color09;
        display: block;
        padding: 10px;
    }
    .checkbox-container input:checked + .checkbox-label {
        width: 100%;
        border: $brand-secondary 2px solid;
        background-color: $grey-color03;
        color: $white;
    }
    .checkbox-container .checkbox {
        display: block;
        background-color: #ffd500;
    }
    .checkbox-container {
        position: relative;
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
        color: $grey-color05;
        margin-top: 10px;
    }
    .checkbox-container .checkbox {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
    .checkbox-container input[type=checkbox]:after {
        content: " ";
        display: inline-block;
        visibility: hidden;
    }
    .checkbox-container input[type=checkbox]:checked:after {
        content: "\e914";
        visibility: visible;
        font-family: 'InformaIcons';
        color: $brand-secondary;
        font-size: 24px;
        margin-top: 15px;
        margin-left: -5px;
    }
    .chosen-container,
    .chosen-single {
        height: 50px;
        border-radius: 0;
        background-color: $grey-color09;
        span {
            margin-top: 6px;
            font-size: 14px;
        }
    }
    .chosen-container-single .chosen-drop {
        background-color: $grey-color09;
        font-size: 14px;
    }
    .chosen-container .chosen-results {
        border-radius: 0;
    }
    .chosen-container .chosen-results li.active-result {
        font-size: 14px;
    }
    .chosen-drop {
        border-radius: none;
    }
    .chosen-single {
        border: none;
    }
    .chosen-container-single .chosen-single div b {
        display: none;
    }
    .chosen-container-single .chosen-single div:after {
        top: 50%;
        margin-top: -20px;
        content: '\e901';
        position: absolute;
        font-family: "InformaIcons";
        margin-left: -10px;
        font-size: 16px;
    }
    .chosen-container .chosen-results li {
        padding: 10px 6px;
    }
    
    .error {
        color: $brand-secondary;
        font-size: 14px;
    }
    input:focus,
    textarea:focus {
        border: 2px solid $brand-secondary;
        //box-shadow: 0 0 2px $grey-color09;
    }
    .right-inner {
        position: relative;
    }
    .right-inner input {
        padding-right: 30px;
    }
    .right-inner i {
        position: absolute;
        right: 30px;
        top: 0;
        padding: 10px 12px;
        pointer-events: none;
    }
    .icon-calender:before {
        font-family: 'InformaIcons';
        position: absolute;
        font-size: 30px;
        content: "\e920";
        color: $orange;
    }
}
.form-submit-response {
    font-weight: 200;
    display: none;
    .icon-tick {
        margin-right: 15px;
        &::before {
            content: "\e914";
            visibility: visible;
            font-family: 'InformaIcons';
            color: $brand-secondary;
            font-size: 24px;
            margin-top: 15px;
            margin-left: -5px;
        }
    }
    .heading {
        font-size: 40px;
    }
    .description {
        font-size: 24px;
    }
}
