.request-demo-btn-container {
    width: 200px;
}
div#requestDemoModal {
    .modal-dialog {
        width: auto;
        margin: 0;
    }
    .modal-content {
        border-radius: 0;
        background-color: $grey-color05;
        color: $white;
    }
    .modal-header {
        border-bottom: 0;
        .close {
            color: $white;
            opacity: 2;
        }
    }
}
