/* calendar style here */
.picker-container {
  position: absolute;
  z-index: 99;
}


.cal {
  background-color: white;
  display: block;
  width: 280px;
  // -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 5px;
}

.cal a {
  text-decoration: none;
}

.cal tr, .cal th, .cal td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.cal caption {
  line-height: 45px;
  font-weight: bold;
  color: $grey-color05;
  text-align: center;
//  text-shadow: 0 -1px black;
  background: $brand-secondary;
  //background: rgba(0, 0, 0, 0.35);
//  border-top: 1px solid #333;
//  border-bottom: 1px solid #313131;
//  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
//  box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);
}
.cal caption a {
  display: block;
  line-height: 32px;
  padding: 0 10px;
  font-size: 15px;
  color: #e2e2e2;
}
.cal caption a:hover {
  color: $orange;
}
.cal caption .prev {
  float: left;
    margin-top: 5px;
}
.cal caption .next {
  float: right;
    margin-top: 5px;
}

.cal thead{
  line-height: 28px;
}
.cal th, .cal td {
  width: 30px;
  text-align: center;
//  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.cal th:first-child, .cal td:first-child {
  border-left: 0;
}
.cal th {
  font-size: 12px;
  color: $grey-color05;
  text-transform: uppercase;
  background: $grey-color09;
  border-left: none;
}
.cal td {
  font-size: 12px;
  font-weight: bold;
  // border-top: 1px solid #c2c2c2;
  // border-left: 1px solid #c2c2c2;
}
.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 40px;
  line-height: 35px;
  color: $grey-color05;
  // background-image: -webkit-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
  // background-image: -moz-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
  // background-image: -o-linear-gradient(top, #eaeaea, #e5e5e5 60%, #d9d9d9);
  // background-image: linear-gradient(to bottom, #eaeaea, #e5e5e5 60%, #d9d9d9);
  // -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
  // box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}
.cal td.off a {
//  background: #f3f3f3;
}
.cal td a:hover{
  background: $orange;
  color: $white;
}
.cal td.off a {
  color: #b3b3b3;
}
.cal td.active a, .cal td a:active {
  margin: -1px;
  background: $orange;
  color: $white;
//  color: #f3f3f3;
//  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
//  background: #6dafbf;
//  border: 1px solid #598b94;
//  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
//  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
.cal td.active:first-child a, .cal td:first-child a:active {
  border-left: 0;
  margin-left: 0;
}
.cal td.active:last-child a, .cal td:last-child a:active {
  border-right: 0;
  margin-right: 0;
}
.cal tr:last-child td.active a, .cal tr:last-child td a:active {
  border-bottom: 0;
  margin-bottom: 0;
}
