.divisional-footer {
  overflow-x: unset;
  background-color: #454955;
  .row {
    margin: 0 auto;
  }
  &.orange {
    background-color: #ef7c22;
    .list-inline.social-icon {
      a {
        i {
          color: #ef7c22;
        }
      }
    }
    .divisional-footer-container {
      .footer-icons.marketing {
        border-top: none;
      }
    }
  }
  .divisional-footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    @media screen and (max-width: 1250px) {
      text-align: center;
    }
    @media only screen and (max-width:768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    ul {
      &.list-inline {
        margin-left: -15px;
        margin-right: -15px;
        font-size: 0;
        float: right;
        @media screen and (max-width: 1250px) {
          float: none;
        }
        & > li {
          display: inline-block;
          vertical-align: middle;
          font-size: 1rem;
          margin-left: 15px;
          margin-right: 15px;
          padding: 10px 0;
          word-break: break-word;
          a {
            color: #ffffff;
            font-size: 14px;
            font-weight: normal;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        &.social-icon {
          margin-left: -12.5px;
          margin-right: -12.5px;
          float: none;
          & > li {
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem;
            margin-left: 12.5px;
            margin-right: 12.5px;
            a {
              width: 35px;
              display: flex;
              height: 35px;
              background: #fff;
              border-radius: 35px;
              align-items: center;
              justify-content: center;
              font-size: 8px;
              color: #525a5d;
              text-decoration: none;
              cursor: pointer;
              i {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .privacy-policy {
      font-size: 14px;
      text-align: right;
      font-weight: normal;
      padding: 35px 15px;
      max-width:1200px;
      @media screen and (max-width: 1250px) {
        text-align: center;
        padding: 35px 10px;
      }
      .col-md-12{
        padding-left:0px;
        padding-right:0px;
      }
      p {
        color: #ffffff;
        padding: 0 0px 0 18%;
        font-weight: normal;
        font-size: 14px;
        @media screen and (max-width:1250px) {
          padding:0px;
        }
      }
      &.marketing {
        @media screen and (max-width:1250px) {
          text-align: center;
          padding: 22px 10px;
        }
      }
    }
    .footer-icons {
      font-size: 0;
      & > * {
        float: none;
        display: inline-block;
        vertical-align: middle;
        font-size: 1rem;
        @media screen and (max-width: 1250px) {
          display: block;
          padding-bottom: 30px;
          width:100%;
        }
      }
      padding: 35px 0px;
      border-bottom: 1px solid #fff;
      max-width:1200px;
      
      @media screen and (max-width: 1250px) {
        padding: 0px;
      }
      @media screen and (min-width: 1251px) and (max-width:1400px) {
        padding:35px 20px;
        max-width:100%;
      }
      
      &.marketing {
        border-top: 1px solid #fff;
      }
      
      .logo {
        padding-left: 0px;
        padding-right: 0px;
        @media screen and (max-width: 1250px) {
          padding: 80px 0px;
          width:100%;
        }
      }
      
    }
    .heading {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      padding: 35px 0px 25px;
    }
    .discover {
      padding-bottom: 30px;
      ul {
        padding: 0;
        li {
          vertical-align: top;
          padding-bottom: 10px;
          width: 43%;
          @media screen and (max-width: 1250px) {
            display: block;
            width: auto;
          }
          a {
            font-size: 14px;
            color: #ffffff;
            font-weight: normal;
            &:hover{
                text-decoration: underline;
            }
          }
        }
      }
    }
    .working {
      padding-bottom: 30px;
      ul {
        padding: 0;
        border-right: 1px solid #fff;
        height: auto;
        @media screen and (max-width: 1250px) {
          border-right: none;
        }
        li {
          vertical-align: top;
          padding-right: 0;
          padding-bottom: 10px;
          @media screen and (max-width: 1250px) {
            display: block;
            width: auto;
          }
        }
      }
    }
    .brand-name {
      padding-bottom: 30px;
      & > * {
        padding-left: 20px;
        @media screen and (max-width: 1250px) {
          padding-left: 0;
        }
      }
    }
  }
  
}
