<div class="container-fluid">
    <section class="portfolio">
        <a href="#" id="showFiltersBtn" class="btn btnprimary border-button" data-state="select">
            <span class="select">Select filters</span>
            <span class="search">Search</span>
        </a>


        <div class="container select-filter">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-dropdown">
                        <!-- Nav tabs -->
                        <div class="nav nav-tabs custom-nav">
                            <div data-value-segment-and-subsegment="[]" name="segment" id="Segments"
                                class="wrapper-dropdown-1 col-md-4 col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-offset-0 col-xs-offset-2 menu sgmnt-menu"
                                tabindex="1">
                                <a id="segments-menu"><span class="triangle-right"></span>Segment</a>
                                <div class="dropdown-content dropdown-content-first">
                                    <div class="drop-content">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-12">
                                                <ul class="drop-options">

                                                    <li id="3b4ea4efbc9443f3bec797f4b384bf88" class="segmanet-head-mob"
                                                        attr-index="0">
                                                        <span class="triangle-right"></span>
                                                        <label class="round-checkbox">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="segmanet-head">Critical Communications</p>
                                                        <ul class="sub-seg-mob">
                                                            <li class="selectall"
                                                                parentsegmentid="3b4ea4efbc9443f3bec797f4b384bf88">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Select All Subsegment</p>
                                                            </li>
                                                            <li id="9f6e7cfd0609418dbed961334544a378"
                                                                parentsegmentid="3b4ea4efbc9443f3bec797f4b384bf88"
                                                                attr-index="1">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">First Responders and
                                                                    Emergency Services</p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="f0c1f4f4d4934fcca370b9b0d005c520" class="segmanet-head-mob"
                                                        attr-index="2">
                                                        <span class="triangle-right"></span>
                                                        <label class="round-checkbox">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="segmanet-head">Emerging Technologies</p>
                                                        <ul class="sub-seg-mob">
                                                            <li class="selectall"
                                                                parentsegmentid="f0c1f4f4d4934fcca370b9b0d005c520">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Select All Subsegment</p>
                                                            </li>
                                                            <li id="986978f3c5c44aabac553fa8aadb5a77"
                                                                parentsegmentid="f0c1f4f4d4934fcca370b9b0d005c520"
                                                                attr-index="3">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">AI</p>
                                                            </li>
                                                            <li id="7de72fc0067c48e3a8b2b6308294bd6c"
                                                                parentsegmentid="f0c1f4f4d4934fcca370b9b0d005c520"
                                                                attr-index="4">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Blockchain</p>
                                                            </li>
                                                            <li id="07a0d48363d746189cd8b7cfc31fc804"
                                                                parentsegmentid="f0c1f4f4d4934fcca370b9b0d005c520"
                                                                attr-index="5">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">IoT</p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <ul class="drop-options">
                                                    <li id="d958f1773b044beb9796fd249cd64047" class="segmanet-head-mob"
                                                        attr-index="6">
                                                        <span class="triangle-right"></span>
                                                        <label class="round-checkbox">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="segmanet-head">Enterprise IT</p>
                                                        <ul class="sub-seg-mob">
                                                            <li class="selectall"
                                                                parentsegmentid="d958f1773b044beb9796fd249cd64047">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Select All Subsegment</p>
                                                            </li>
                                                            <li id="0809426f4baa42e4a6be07407fb4fc8a"
                                                                parentsegmentid="d958f1773b044beb9796fd249cd64047"
                                                                attr-index="7">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Cloud / Data Centre</p>
                                                            </li>
                                                            <li id="d64fb2b9394c48389987dd77484c889b"
                                                                parentsegmentid="d958f1773b044beb9796fd249cd64047"
                                                                attr-index="8">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Contact Center</p>
                                                            </li>
                                                            <li id="1c5c6361bd9344108ce76c0d749b3db1"
                                                                parentsegmentid="d958f1773b044beb9796fd249cd64047"
                                                                attr-index="9">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Enterprise Communications
                                                                </p>
                                                            </li>
                                                            <li id="2db0c5361ae9409aadad14fec0cdf88f"
                                                                parentsegmentid="d958f1773b044beb9796fd249cd64047"
                                                                attr-index="10">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Service Management</p>
                                                            </li>
                                                            <li id="282e089e4afa48d687db4c20ecae2e52"
                                                                parentsegmentid="d958f1773b044beb9796fd249cd64047"
                                                                attr-index="11">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Channels</p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="0affcd36646147508145de927ca518a4" class="segmanet-head-mob"
                                                        attr-index="12">
                                                        <span class="triangle-right de-active"></span>
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="segmanet-head">Marketing Technologies</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <ul class="drop-options">
                                                    <li id="aa7590abe3df48e393f4510714aea312" class="segmanet-head-mob"
                                                        attr-index="13">
                                                        <span class="triangle-right"></span>
                                                        <label class="round-checkbox">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="segmanet-head">Media And Entertainment</p>
                                                        <ul class="sub-seg-mob">
                                                            <li class="selectall"
                                                                parentsegmentid="aa7590abe3df48e393f4510714aea312">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Select All Subsegment</p>
                                                            </li>
                                                            <li id="e4df4c5114c349299e98e408ee7b426f"
                                                                parentsegmentid="aa7590abe3df48e393f4510714aea312"
                                                                attr-index="14">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Game and VR Development
                                                                </p>
                                                            </li>
                                                            <li id="962b282d273847fc915a3a4db0f805c8"
                                                                parentsegmentid="aa7590abe3df48e393f4510714aea312"
                                                                attr-index="15">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">TV, Video and Devices</p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li id="e32b1467ad124af8b3ac1620467171b7" class="segmanet-head-mob"
                                                        attr-index="16">
                                                        <span class="triangle-right de-active"></span>
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="segmanet-head">Security</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <ul class="drop-options">
                                                    <li id="19faf59231614944a91ca663f257f944" class="segmanet-head-mob"
                                                        attr-index="17">
                                                        <span class="triangle-right"></span>
                                                        <label class="round-checkbox">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="segmanet-head">Service Providers</p>
                                                        <ul class="sub-seg-mob">
                                                            <li class="selectall"
                                                                parentsegmentid="19faf59231614944a91ca663f257f944">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Select All Subsegment</p>
                                                            </li>
                                                            <li id="b6e11ecb4dbb469faffac49c93915faf"
                                                                parentsegmentid="19faf59231614944a91ca663f257f944"
                                                                attr-index="18">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">5G</p>
                                                            </li>
                                                            <li id="b6e76ed49c45438c922b6d690089dacb"
                                                                parentsegmentid="19faf59231614944a91ca663f257f944"
                                                                attr-index="19">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Broadband and Optical</p>
                                                            </li>
                                                            <li id="f651785231024e8eae7325282f620bda"
                                                                parentsegmentid="19faf59231614944a91ca663f257f944"
                                                                attr-index="20">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Connecting the world</p>
                                                            </li>
                                                            <li id="1e236233dc684a9d9d9c6bee112440ba"
                                                                parentsegmentid="19faf59231614944a91ca663f257f944"
                                                                attr-index="21">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">MVNO</p>
                                                            </li>
                                                            <li id="45f2db5948a94049aca4a9a5aee2c730"
                                                                parentsegmentid="19faf59231614944a91ca663f257f944"
                                                                attr-index="22">
                                                                <label class="round-checkbox active">
                                                                    <input type="checkbox" class="input-checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                                <p class="sub-seg sub-segment">Telco Infrastructure</p>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col-md-4 col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-offset-0 col-xs-offset-2 menu products">


                                <a id="products-menu"><span class="triangle-right"></span>Product</a>

                                <div class="dropdown-content dropdown-content-second">
                                    <div name="productType" id="productType" data-value-producttype=""
                                        class="wrapper-dropdown-1 drop-content " tabindex="1">
                                        <ul class="drop-options">

                                            <li id="0abdd0b635524d0d9e999dc769db7da0" class="producttype-item"
                                                attr-index="0">
                                                <label class="round-checkbox active">
                                                    <input type="checkbox" class="input-checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <p class="sub-seg single-level-dropdown">Event</p>
                                            </li>
                                            <li id="6edef3b8168445708a85eba3c48f36c0" class="producttype-item"
                                                attr-index="1">
                                                <label class="round-checkbox active">
                                                    <input type="checkbox" class="input-checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <p class="sub-seg single-level-dropdown">Media</p>
                                            </li>
                                            <li id="120f9ba56d0e4d31a4e186548525188e" class="producttype-item"
                                                attr-index="2">
                                                <label class="round-checkbox active">
                                                    <input type="checkbox" class="input-checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <p class="sub-seg single-level-dropdown">Research</p>
                                            </li>
                                            <li id="0fb00808f7fb4aeabdb8dc5f2a442180" class="producttype-item"
                                                attr-index="3">
                                                <label class="round-checkbox active">
                                                    <input type="checkbox" class="input-checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <p class="sub-seg single-level-dropdown">Training</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div
                                class="col-md-4 col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-offset-0 col-xs-offset-2 menu regions">
                                <a id="regions-menu"><span class="triangle-right"></span>Region</a>
                                <div class="dropdown-content dropdown-content-third">
                                    <div name="topic" id="Topic" data-value-region=""
                                        class="wrapper-dropdown-1 drop-content " tabindex="1">
                                        <ul class="drop-options">
                                            <li id="9c188ce1cb774402a064a80590a73fd3" class="region-item"
                                                attr-index="0">
                                                <label class="round-checkbox active">
                                                    <input type="checkbox" class="input-checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <p class="sub-seg single-level-dropdown">EMEA</p>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#a1ccac77a49647f5912ef76cb0d4a6e0"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Germany</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#a1ef0a4449ee467f964cf748991f5552"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">UK</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#1f8fb9084006486f9fc4a7792cf6fc03"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Denmark</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#711e70439bba439aad8d9ba0a9f7bcf4"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">France</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#f6ed183632b4405da62b5b252d6a30a6"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">South Africa</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#b2112d930c974fa4b7df55002694da7e"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">UAE</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#912984c65d454f1bb99c9d10ee052c2a"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Austria</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#476c7303e6f44e8a80eb59a0c6eac9bb"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Belgium</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#4f932972bd124b85844cd7749e0ba1e2"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Greece</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#5e322c1798c6494d89ed8827cf7bfb62"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Ireland</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#243de2fbd7b84973a2042dda72a2e8d5"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Italy</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#c273bbddfc2742e795b945c789727c66"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Morocco</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#0bfbaf73bd974b51a5d25c6516ef9c0c"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Netherlands</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#2ff8020ea2f44beaaf93fc5ca52288a5"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Norway</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#c039004b7a7c498fad2b10d7bb6b31c8"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Spain</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#6f36c08814ab4b5985d6992fd9a0e9b2"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Sweden</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="9c188ce1cb774402a064a80590a73fd3#d8dd33cabc6442e493389d906e255f8e"
                                                        class="region-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Switzerland</p>
                                                    </li>
                                                </ul>

                                            </li>
                                            <li id="e296b40389ee4ddea164489174242dee" class="region-item"
                                                attr-index="1">
                                                <label class="round-checkbox active">
                                                    <input type="checkbox" class="input-checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <p class="sub-seg single-level-dropdown">APAC</p>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#552a1c464f5f49d495ed3a30b4ba2693"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">India</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#15ba7daae9a54e89858e3c99da537124"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Singapore</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#3a21823549504e7ebf0020828ff5f810"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">China</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#3227a7222f5344c09cb4f47e01a737a9"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Australia</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#d8f5fa7007434d39a210f1da5b0e5d34"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Hong Kong</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#ef6061be22534850a56347ecbf422cbb"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Indonesia</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#675535d241d9461498133baf3bba3f4a"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Japan</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#e4eca4cb2d434537a65e7efad5619c8e"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Malaysia</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#132f4dd3b6fc4be885f794b9c2c721d5"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Thailand</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="e296b40389ee4ddea164489174242dee#dc78ecaa7deb4a2c9e1cc684fe684467"
                                                        class="region-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Vietnam</p>
                                                    </li>
                                                </ul>

                                            </li>
                                            <li id="71cda58ad65d4231a0a95d6907fcde23" class="region-item"
                                                attr-index="2">
                                                <label class="round-checkbox active">
                                                    <input type="checkbox" class="input-checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <p class="sub-seg single-level-dropdown">Americas</p>
                                                <ul>
                                                    <li id="71cda58ad65d4231a0a95d6907fcde23#6d506edef0e4496493ffd8a3da23bda0"
                                                        class="region-item" attr-index="2">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">USA</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="71cda58ad65d4231a0a95d6907fcde23#21c61518963f44379a1b87de370e54c9"
                                                        class="region-item" attr-index="2">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Brazil</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li id="71cda58ad65d4231a0a95d6907fcde23#356bf69a5e4542e8b8f626dcff7796f5"
                                                        class="region-item" attr-index="2">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Canada</p>
                                                    </li>
                                                </ul>

                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>


                            <div class="custom-search-section-outer">
                                <div class="select search-section custom-search-section">
                                    <i class="fa fa-search search-icon" aria-hidden="true"></i>
                                    <input type="text" value="" placeholder="View Search" id="searchText">
                                </div>
                            </div>
                        </div>
                        <!-- Tab panes -->

                    </div>
                </div>

            </div>
            <a href="#" id="closeFilterBtn">Hide filters</a>
        </div>



        <div class="section-content">
            <div class="filter-section">
                <div class="heading">
                    active filters (3)
                </div>
                <div class="section">



                </div>
            </div>
            <div class="portfolio-grid">
                <div class="heading">Events</div>
                <div class="port-container">

                    <div class="port">
                        <img src="cms-images/brand-portfolio/img1.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                    <div class="port">
                        <img src="cms-images/brand-portfolio/img2.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>



                    <div class="port">
                        <img src="cms-images/brand-portfolio/img3.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                    <div class="port ">
                        <img src="cms-images/brand-portfolio/img4.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>

                    <div class="port">
                        <img src="cms-images/brand-portfolio/img5.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                    <div class="port">
                        <img src="cms-images/brand-portfolio/img6.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                    <div class="port">
                        <img src="cms-images/brand-portfolio/img1.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                    <div class="port">
                        <img src="cms-images/brand-portfolio/img1.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                    <div class="port">
                        <img src="cms-images/brand-portfolio/img1.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                    <div class="port">
                        <img src="cms-images/brand-portfolio/img1.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                    <div class="port">
                        <img src="cms-images/brand-portfolio/img1.png" alt="img1">
                        <div class="plus">+</div>
                        <div class="content">
                            <div class="close">X</div>
                            <div class="header">
                                <img src="cms-images/brand-portfolio/logo_1.png" alt="img1">
                                <div class="view-all">
                                    <button type="" class="view-all-btn">Visit Sie</button>
                                </div>
                            </div>
                            <div class="discription">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>

                            </div>
                            <div class="labels">
                                Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication | Critical Communication | Critical Communication
                                | Critical Communication | Critical Communication | Critical Communication | Critical
                                Communication | Critical Communication |
                            </div>
                        </div>
                    </div>
                </div>

                <div class="view-all">
                    <button type="" class="view-all-btn">View All</button>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="Static/js/components/brand-portfolio.js"></script>