<div class="gray-bg">
    Terms and Conditions of websites use
    <span class="small-content">Last updated <strong>25th April 2016</strong></span>
</div>
<div class="content-container">
    <h3>1. Terms and conditions</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<section class="articlepage-freearticle">
    <div class="container">
        <br>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br>
        <br>
        <figure>
            <img src="cms-images/agri-bg.jpg" alt="" class="img-mobile" />
        </figure>
        <br>
        <div class="video-full-container">
            <div class="embed-responsive embed-responsive-16by9" >
                <img src="cms-images/video-img/video-thumb.png" data-videotype="youtube" data-videourl="https://www.youtube.com/embed/043GgleCWNA?autoplay=1" alt="youtube video" width="100%" class="video-img img-responsive" />
                <span class="play-icon"></span>
            </div>
        </div>
        <br>

        <div class="video-mini-container">
            <div class="embed-responsive embed-responsive-16by9">
                <img src="cms-images/agri-bg.jpg" data-videotype="youtube" data-videourl="https://www.youtube.com/embed/043GgleCWNA?autoplay=1" alt="youtube video" width="100%" class="video-img img-responsive" />
                <span class="play-icon"></span>
            </div>
        </div>
        <br>
        <div class="video-mini-container mini-video">
            <div class="embed-responsive embed-responsive-16by9">
                <img src="cms-images/agri-bg.jpg" data-videotype="youtube" data-videourl="https://www.youtube.com/embed/043GgleCWNA?autoplay=1" alt="youtube video" width="100%" class="video-img img-responsive" />
                <span class="play-icon"></span>
            </div>
        </div>
      
    </div>
</section>
