<div class="worldmap-container">
    <div class="max-button draggble-btn"></div>
    <div class="_brexitstyle-map">
        <div class="row margin0">
            <div class="col-md-12">&nbsp</div>
        </div>
        <div class="row margin0">
            <div class="col-md-12">
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>
    <div class="dragable-btn">
        <button class="left-drag"> Right</button>
        <button class="right-drag"> Left </button>
    </div>
</div>