<div class="worldmap-container">
    <div class="max-button draggble-btn"></div>
    <div class="_brexitstyle-map">
        <div class="row margin0">
            <div class="col-md-12">&nbsp</div>
        </div>
        <div class="row margin0">
            <div class="col-md-12">
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>
    <div class="dragable-btn">
        <button class="right-drag"> <i class="fa fa-angle-left" aria-hidden="true"></i> </button>
        <button class="left-drag"> <i class="fa fa-angle-right" aria-hidden="true"></i></button>
        
    </div>
    <div class="read-more">
        <button>Read More <i class="fa fa-angle-right" aria-hidden="true"></i> </button>
    </div>
</div>