.product-finder-section {
	.product-refine-results {
		width: 345px;
		float: left;
		@include mobile {
			width: 100%;
		}
		@include tablet {
			width: 100%;
		}
	}
	.search-container {
		width: calc(100% - 345px);
		float: left;
		@include mobile {
			width: 100%;
		}
		@include tablet {
			width: 100%;
		}
	}
}
#product-finder-section{
	.sector-search{
		.dropdown-menu{
					left:auto;
					right:1px;
					@include mobile {
						left:0;
						right:auto;
					}
					@include tablet {
						left:0;
						right:auto;
					}
		}
	}
}
.product-refine-results {
	padding: 20px 0;
	@include mobile {
		padding: 20px;
	}
	@include tablet {
		padding: 20px;
	}
	.refine-heading {
		cursor: pointer;
		font-size: 16px;
		position: relative;
		&:after {
			@include not-desktop {
				content: '\e912';
				font-family: "InformaIcons";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				font-size: 30px;
			}
		}
		&.open {
			&:after {
				@include not-desktop {
					content: '\e906';
					font-size: 25px;
				}
			}
		}
	}
	.accordian-container {
		@include not-desktop {
			display: none;
		    position: absolute;
		    z-index: 9999;
		    width: calc(100% + 40px);
		    left: -20px;
		    padding: 15px 35px 15px 15px;
		    background-color: $grey-color10;
		}
	}
	.refine-wrapper {
		width: 265px;
		float: right;
		padding-right: 15px;
		.clear-all {
			&:after {
				content: 'x';
				margin-left: 10px;
			}
		}
		@include not-desktop {
			width: 100%;
			float: none;
			position: relative;
		}
		ul {
			padding-left: 25px;
		}
		.refine-accordian {
			border-bottom: 1px solid $grey-color09;
			margin-top: 15px;
			.title {
				display: block;
				color: $grey-color05;
				padding: 10px 0;
				position: relative;
				&:after {
					content: '\e912';
					font-family: "InformaIcons";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					font-size: 20px;
				}
			}
			.content {
				display: block;
				-webkit-transition: all 1s; /* Safari */
    			transition: all 1s;
    			overflow: hidden;
    			label {
    				font-weight: normal;
    			}
    			.see-all {
    				display: inline-block;
    				margin-bottom: 10px;
    			}
			}
			&.open {
				.title {
					&:after {
						content: '\e913';
					}
				}
			}
		}
	}
	.checkbox {
		position: relative;
		&:before {
		    background: #fff none repeat scroll 0 0;
		    content: "";
		    height: 16px;
		    position: absolute;
		    top: 2px;
		    left: -22px;
		    width: 16px;
		    z-index: 2;
		}
	}
}
.resource-finder {
	padding: 30px 0;
	background-color: $grey-color08;
	ul.resource-sector-search {
        padding: 0;
        li {
            .label-text {
                background-color: #e1e2e7;
                float: left;
                height: 52px;
                line-height: 32px;
                margin: 0;
                min-width: 100px;
                padding: 9px 15px;
                color: $text-gray;
                position: relative;
                @include mobile {
                    background-color: transparent;
                    float: none;
                    height: auto;
                    line-height: auto;
                    margin: 0 0 6px;
                    min-width: auto;
                    padding: 0;
                    color: $white;
                    line-height: 20px;
                }
				@include tablet {
                    width: 21%;
                    min-width: 70px;
                 }
                &:after {
                    border: solid transparent;
                    border-color: rgba(225, 226, 231, 0);
                    border-left-color: #e1e2e7;
                    border-width: 9px;
                    content: "";
                    height: 0;
                    left: 100%;
                    top: 29%;
                    position: absolute;
                    width: 0;
                    z-index: 3;
                    @include mobile {
                        border: none;
                    }
                }
            }
            .custom-multiselect {
                width: 72%;
                margin-right: 30px;
                height: 52px;
                padding:10 20px;
                display: inline-block;
                position: relative;
                li{
                	color: $grey-color04;
					padding-top: 16px;
					&.active{
						font-weight: bold;
					}
					&:first-child{
						padding-top: 6px;
					}
                }
                img {
                    top: 3px !important;
                    width: auto;
                }
                @include tablet {
                    margin-right: 0;
                 }
                @include mobile {
                    margin-bottom: 20px;
                    margin-right: 0;
                    width: 100%;
                }
                .dropdown-toggle {
                    height: 52px;
                    padding:10px 20px;
                }
                a {
                    color: $text-gray;
                }
            }
        }
        .menu {
            display: inline-block;
            width: 44%;
            @include mobile {
                display: block;
                width: 100%;
            }
        }
        .button {
            width: 11%;
            margin-right: 0;
            text-align: right;
            float: right;
            @include mobile {
                display: block;
                width: 100%;
                float: none;
            }
            .btn {
                width: 100%;
                min-width: 100%;
                padding:0 20px;
                line-height: 48px;
            }
        }
    }
}
