section#market-focus{
      background-color: $grey-color10;
      padding-bottom: 20px;
       @include mobile{
        padding-bottom: 15px;
      }
      &.sector-page-coverage {
            background-color: $light;
            .market-list-wrapper .market-list {
                  background-color: $body-bg;
                  //height: 82px;
            }
      }
    .market-list-wrapper {
        margin-bottom: 30px;
        @include tablet {
            margin-bottom: 20px;
        }
        @include mobile {
            margin-bottom: 15px;
        }
        .market-list {
            background: $white;
            background-repeat: no-repeat;;
            background-position: 100% 0;
            position: relative;
            padding: 10px 50px 10px 0;
            overflow: hidden;
            height: 68px;
            display: flex;
            vertical-align: middle;
            .market-content{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                width: 95%;
                word-break: break-word;
                p{
                  margin: auto;
                  margin-left: 10px;
                  @include family-style(200,$grey-color04);
                  @include heading-font-size(18px,16px,16px);
                  @include heading-line-height(26px,24px,24px);
                  a{
                    color:$grey-color04;
                    margin-left:0;
                    &:after{
                        content: "\e900";
                        font-family: 'InformaIcons';
                        font-size: 14px;
                        margin-left:10px;
                        //color: #B83166;
                    }
                  }
                }
                a{
                  margin-left: 10px;
                  @include family-style(200,$grey-color04);
                  @include heading-font-size(18px,16px,16px);
                  @include heading-line-height(26px,24px,24px);
                  &:after{
                      content: "\e900";
                      font-family: 'InformaIcons';
                      font-size: 14px;
                      margin-left:10px;
                      color: #B83166;
                  }
                }
            }
            .abs-image {
                  top:0;
                  right:0;
            }
        }
    }
}
