section#market-focus{
      background-color: $grey-color10;
      padding-bottom: 20px;
       @include mobile{
        padding-bottom: 15px;
      }
      &.sector-page-coverage {
            background-color: $light;
            .market-list-wrapper .market-list {
                  background-color: $body-bg;
                  //height: 82px;
            }
      }
    .market-list-wrapper {
        margin-bottom: 30px;
        @include tablet {
            margin-bottom: 20px;
        }
        @include mobile {
            margin-bottom: 15px;
        }
        .market-list {
            background: $white;
            background-repeat: no-repeat;;
            background-position: 100% 0;
            position: relative;
            padding: 10px 50px 10px 0;
            overflow: hidden;
            height: 68px;
            position: relative;
            display: flex;
            vertical-align: middle;
            h5 {
                margin: auto;
                margin-left: 10px;
                a{
                  color:$grey-color04;
                  &:after{
                    content: "\e900";
                    font-family: 'InformaIcons';
                    font-size: 14px;
                    margin-left:10px;
                    color: #D14A7F;
                  }
                }
            }
            p {
                  display: none;
                font-size: 14px;
                line-height: 1.6eM;
                @include mobile {
                    font-size: 12px;
                    padding-right: 22px;
                }
            }
            .abs-image {
                  top:0;
                  right:0;
            }
        }
    }
}
