---
layout: main-layout-pharma.hbs
---
<div class="product-detail-page" id="productDetails">
    {{>hero-banner hero-banner}}
    {{>video-full video-full}}
    {{>sectorpage-strengths sectorpage-strengths}}
    {{>pdp-feature-list-aboutus pdp-feature-aboutus}}
    <section id="related-products-section" class="related-products">
    <div class="product-brands-list">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 card-col-heading">
                    <h2>Relevant Products</h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pull-left card-col">
                        <div class="card">
                            <div class="image-thumbnail">
                                <img width="100%" height="225" alt="IEGt/FNP" src="cms-images/product_brands/brand-4.png">
                            </div>
                            <div class="caption">
                                <h4>IEGt/FNP<span class="informa-icon brand-icon"></span></h4>
                                <p>International tSugar Journal is a peer reviewed technical-trade journal focusing on latest developments in sugar technology and sugar industrty</p>
                            </div>
                            <div class="showmore bg-light-blue">
                                <div class="btn-container">
                                    <a role="button" href="#" class="btn btn-primary pull-right">More</a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pull-left card-col">
                    <div class="card">
                        <div class="image-thumbnail">
                            <img width="100%" height="225" alt="Dairy Markets" src="cms-images/product_brands/brand-5.png">
                        </div>
                        <div class="caption">
                            <h4>Dairy Markets<span class="informa-icon brand-icon"></span></h4>
                            <p>International tSugar Journal is a peer reviewed technical-trade journal focusing on latest developments in sugar technology and sugar industrty</p>
                        </div>
                        <div class="showmore bg-light-blue">
                            <div class="btn-container">
                                <a role="button" href="#" class="btn btn-primary pull-right">More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pull-left card-col">
                    <div class="card">
                        <div class="image-thumbnail">
                            <img width="100%" height="225" alt="International Sugar Journal" src="cms-images/product_brands/brand-6.png">
                        </div>
                        <div class="caption">
                            <h4>International Sugar Journal<span class="informa-icon brand-icon"></span></h4>
                            <p>International tSugar Journal is a peer reviewed technical-trade journal focusing on latest developments in sugar technology and sugar industrty</p>
                        </div>
                        <div class="showmore bg-light-blue">
                            <div class="btn-container">
                                <a role="button" href="#" class="btn btn-primary pull-right">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    {{>pdp-analyst analyst}}
    {{>pdp-customer-quote pdp-customer-quote}}
    {{>logo-carousel}}
    {{>home-contactus contactus}}
    {{>related-products brands}}
 </div>
