<div class="container">
    <section class="index-page">
        <h2>Informa pharma Pages</h2>
        <nav>
            <ul class="navigation-list">
              <li class="navigation-list__item">
                  <a href="/pharma-aboutus.html" target="_blank" class="navigation-list__item__link">Aboutus</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-advertising.html" target="_blank" class="navigation-list__item__link">Advertising</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-analystList.html" target="_blank" class="navigation-list__item__link">AnalystList</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-analystProfile.html" target="_blank" class="navigation-list__item__link">Analyst Profile</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-brandPage.html" target="_blank" class="navigation-list__item__link">BrandPage</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-caseStudy.html" target="_blank" class="navigation-list__item__link">CaseStudy</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-contactus.html" target="_blank" class="navigation-list__item__link">Contactus</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-events.html" target="_blank" class="navigation-list__item__link">Events</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-helpSupport.html" target="_blank" class="navigation-list__item__link">Help Support</a>
              </li>
              <li class="navigation-list__item">
                  <a href="" target="_blank" class="navigation-list__item__link"></a>
              </li>
              <li class="navigation-list__item">
                  <a href="" target="_blank" class="navigation-list__item__link"></a>
              </li>
              <li class="navigation-list__item">
                  <a href="" target="_blank" class="navigation-list__item__link"></a>
              </li>
              <li class="navigation-list__item">
                  <a href="" target="_blank" class="navigation-list__item__link"></a>
              </li>

            </ul>
          </nav>
    </section>
</div>
