---
layout: main-layout-pharma.hbs
---
<h2>Home Page (Templates: T001 )</h2>
<section id="banner" class="hero-banner home-page">
	<div class="cf-img">
		{{!-- <img src="cms-images/banner-images/hero08.jpg" alt="" /> --}}
		<picture>
			<source srcset="cms-images/banner-images/hero08_mobile.jpg" media="(max-width: 737px)">
			<source srcset="cms-images/banner-images/hero08_tablet.jpg" media="(max-width: 1024px)">
			<source srcset="cms-images/banner-images/hero08.jpg" media="(max-width: 1280px)">
			<img src="cms-images/banner-images/hero08.jpg" alt="" />
		</picture>
	</div>
	<div class="vertical-align">
		<div class="container">
			<div class="content">
				<h1>The Complete picture on global agribusiness</h1>
				<p>We help the world's largest and most influential agribusiness organisations gain advantage by delivering actionable intelligence across the food and commodities value chain We help the We help the fgh</p>
			</div>
		</div>
	</div>
</section>
<h2>Tall Page (Templates: T003 )</h2>
<section id="banner" class="hero-banner tall-hero">
	<div class="cf-img">
		<img src="cms-images/banner-images/B03_Hero.jpg" alt="" />
	</div>
	<div class="vertical-align">
		<div class="container">
			<div class="content">
				<h1>Tall Image Header</h1>
				<p>Providing our customers with global agri commodity prices and trade data, along with market news, analysis and forecasting on crops, livestock, meat, poultry, dairy, energy and biofuels.</p>
			</div>
		</div>
	</div>
</section>
<h2>Slim Page (Templates: T003 )</h2>
<section id="banner" class="hero-banner slim-banner">
	<div class="cf-img">
		<img src="cms-images/banner-images/slim-banner.jpg" alt="" />
	</div>
	<div class="vertical-align">
		<div class="container">
			<div class="content">
				<h1>Slim Image Header</h1>
				<p>[One line description of what the events page is] From here you'll be able to find out about all of our events and conferences as well sign up so you can attend them.</p>
			</div>
		</div>
	</div>
</section>
<h2>F01 Bright Header</h2>
<section id="banner" class="hero-banner-texture bright-banner">
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
	<div class="vertical-align">
		<div class="container">
			<div class="content">
				<h1>Bright Header</h1>
				<div>One line description of what the events page is] From here you'll be able to find out about all of our events and conferences as well sign up so you can attend them.</div>
			</div>
		</div>
	</div>
</section>
<h2>F01 Dark Header</h2>
<section id="banner" class="hero-banner-texture dark-banner">
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
	<div class="vertical-align">
		<div class="container">
			<div class="content">
				<h1>Dark Header</h1>
				<p>[One line description of what the events page is] From here you'll be able to find out about all of our events and conferences as well sign up so you can attend them.</p>
				<div class="provided-by clearfix">
					<p class="heading">08.04.2016</p>
					<p class="content">by Nick Hughes, Catherine Morgan</p>
				</div>
				<div class="provided-by clearfix">
					<p class="heading">Provided by</p>
					<p class="content"><a href="#">Informa Economics IEG</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<h2>PDP hero banner</h2>
<section id="banner" class="hero-banner-texture dark-banner-subscribe">
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
		<div class="container">
				<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8">
							<div class="container-fluid">
									<div class="row">
										<h1>The Public Legder</h1>
										<div class="subtext">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
										</div>
										<div class="description">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
										</div>
									</div>
									<div class="row">
											<div class="from">
													<a href="#" class="priceCTA">
															<div class="headline">Subscriptions from</div>
															<div class="priceDetails">
																		<span class="price">1,140</span>
																		<span class="per">per year</span>
															</div>
													</a>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
													<a class="cta2 btn semi-trans">Get a free trail</a>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
													<a class="cta1 btn solid btn-primary">Subscribe</a>
											</div>

									</div>
									<div class="row follow-row">
										<div class="follow share-tab">
											<span class="share">Follow</span>
										</div>
										<div class="col-xs-8 col-sm-5 col-md-5 col-lg-3 share-tab">
											<div class="follow-button">
												<a class="addthis_button_twitter_follow" addthis:userid="informaecon"></a>
												<a class="addthis_button_linkedin_follow" addthis:usertype="company" addthis:userid="470330"></a>
												<a class="addthis_button_email" addthis:note="hello I am here" addthis:title="Informa Links | Product Details"></a>
											</div>
										</div>
									</div>
									<div class="row already-a-customer">
										<span>Already a customer?</span>
										<span><a href="#">Login to your product?</a></span>
									</div>
							</div>
						</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="container-fluid">
										<div class="row">
												<ul>
													<li class="text">Helps identify market trends</li>
													<li class="text">Helps identify market trends</li>
													<li class="text">Helps identify market trends</li>
												</ul>
										</div>
								</div>
							</div>
				</div>
		</div>
</section>
<h2>Sample content insight and intelligent banner</h2>
<section id="banner" class="hero-banner-texture dark-banner-subscribe">
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
		<div class="container">
				<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
												<h1 class="h1-styles">Analysis: Will Brazilian corn prices drop?</h1>
										</div>
											<div class="col-md-12">
												<span class="date">08.04.2016</span>
												<strong class="by"> By Nick Hughes, Catherine Morgan</strong>
											</div>
											<div class="col-xs-12 provided topic">
													<span class="date">Topics:</span>
													<span class="topic-mob"><a href ="#"><span  class="by topic-name">Topic Name1</span></a><strong class="topic-pipe">|</strong><a href="#"><span class="by topic-name">Topic Name2</span></a><strong class="topic-pipe">|</strong></span>
											</div>
											<div class="col-xs-12 provided">
													<span class="date">Provided by</span>
													<span class="by">The Public Ledger</span>
											</div>
									</div>
									<div class="row">
											<div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
													<a class="cta2 btn semi-trans">Get a free trail</a>
											</div>
											<div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
													<a class="cta1 btn solid btn-primary">Subscribe</a>
											</div>
											<div class="col-xs-4 col-sm-3 col-md-1 col-lg-1 share-tab">
												<span class="share">Share</span>
											</div>
											<div class="col-xs-8 col-sm-7 col-md-5 col-lg-5 share-tab">
													<div class="addthis_sharing_toolbox"></div>
										  </div>
									</div>
							</div>
						</div>
				</div>
		</div>
</section>
