---
layout: main-layout-pharma.hbs
---
<div class="container">
    <section class="index-page">
        <h2>Informa Pharma  - R1</h2>
        <nav>
            <ul class="navigation-list">
              <li class="navigation-list__item">
                  <a href="/pharma-homePage.html" target="_blank" class="navigation-list__item__link">01_Homepage</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-myRecommendations.html" target="_blank" class="navigation-list__item__link">02_My Recommendations</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-support.html" target="_blank" class="navigation-list__item__link">03_Support</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-events.html" target="_blank" class="navigation-list__item__link">04_Events</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-eventsAndConferences.html" target="_blank" class="navigation-list__item__link">04_Events and Conferences</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-article.html" target="_blank" class="navigation-list__item__link">05_Article</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-analystList.html" target="_blank" class="navigation-list__item__link">06_Analyst List Page</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-brand.html" target="_blank" class="navigation-list__item__link">07_Brand</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-sampleContent.html" target="_blank" class="navigation-list__item__link">08_Sample Content Pages</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-aboutus.html" target="_blank" class="navigation-list__item__link">09_About Us</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-services.html" target="_blank" class="navigation-list__item__link">10_Services</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-caseStudy.html" target="_blank" class="navigation-list__item__link">11_Case Study</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-whoWeHelp.html" target="_blank" class="navigation-list__item__link">12_Who We Help</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-contactus.html" target="_blank" class="navigation-list__item__link">13_Contact Us</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-sector.html" target="_blank" class="navigation-list__item__link">14_Sector</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-productDetails.html" target="_blank" class="navigation-list__item__link">15_Product Page Details</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-analystProfile.html" target="_blank" class="navigation-list__item__link">16_Analyst Profile</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-.html" target="_blank" class="navigation-list__item__link"></a>
              </li>
            </ul>
          </nav>
    </section>
</div>
