<div class="container">
    <section class="index-page">
        <h2>Informa pharma Pages</h2>
        <nav>
            <ul class="navigation-list">
              <li class="navigation-list__item">
                  <a href="/pharma-aboutus.html" target="_blank" class="navigation-list__item__link">Aboutus</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-advertising.html" target="_blank" class="navigation-list__item__link">Advertising</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-analystList.html" target="_blank" class="navigation-list__item__link">AnalystList</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-analystProfile.html" target="_blank" class="navigation-list__item__link">Analyst Profile</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-brandPage.html" target="_blank" class="navigation-list__item__link">BrandPage</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-caseStudy.html" target="_blank" class="navigation-list__item__link">CaseStudy</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-contactus.html" target="_blank" class="navigation-list__item__link">Contactus</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-events.html" target="_blank" class="navigation-list__item__link">Events</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-helpSupport.html" target="_blank" class="navigation-list__item__link">Help Support</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-heroBanner.html" target="_blank" class="navigation-list__item__link">Hero Banner</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-homePage.html" target="_blank" class="navigation-list__item__link">Home</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-marketingBanner.html" target="_blank" class="navigation-list__item__link">Marketing Banner</a>
              </li>
              <li class="navigation-list__item">
                    <a href="/pharma-productDetails.html" target="_blank" class="navigation-list__item__link">Product Details</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-productListing.html" target="_blank" class="navigation-list__item__link">Product Listing</a>
              </li>
              <li class="navigation-list__item">
                    <a href="/pharma-resourcePage.html" target="_blank" class="navigation-list__item__link">Resource Page</a>
              </li>
              <li class="navigation-list__item">
                    <a href="/pharma-sampleContent.html" target="_blank" class="navigation-list__item__link">Sample Content</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-searchResults.html" target="_blank" class="navigation-list__item__link">Search Results</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-sectorPage.html" target="_blank" class="navigation-list__item__link">Sector Page</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-services.html" target="_blank" class="navigation-list__item__link">Services</a>
              </li>
              <li class="navigation-list__item">
                  <a href="/pharma-recomendedProducts.html" target="_blank" class="navigation-list__item__link">Recommeded Products</a>
              </li>

            </ul>
          </nav>
    </section>
</div>
