---
layout: main-layout-pharma.hbs
---
<section id="banner" class="hero-banner-texture bright-banner">
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
	<div class="vertical-align">
		<div class="container">
			<div class="content">
				<h1>Bright Header</h1>
				<div>One line description of what the events page is] From here you'll be able to find out about all of our events and conferences as well sign up so you can attend them.</div>
			</div>
		</div>
	</div>
</section>
{{>contactUsPage-contactUs}}
