---
layout: main-layout-pharma.hbs
---
<section class="product-finder-results search-results-container clearfix">
	<div class="container">
		{{>refine-filter}}
		{{>search-results}}
	</div>
</section>