---
layout: main-layout-pharma.hbs
---
<section id="banner" class="hero-banner-texture dark-banner">
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
	<div class="vertical-align">
		<div class="container">
			<div class="content">
				<h1>Dark Header</h1>
				<p>[One line description of what the events page is] From here you'll be able to find out about all of our events and conferences as well sign up so you can attend them.</p>
				<div class="provided-by clearfix">
					<p class="heading">08.04.2016</p>
					<p class="content">by Nick Hughes, Catherine Morgan</p>
				</div>
				<div class="provided-by clearfix">
					<p class="heading">Provided by</p>
					<p class="content"><a href="#">Informa Economics IEG</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

{{>articlepage-quote}}
{{>article_list article_list}}
