section.welcome-description{
  padding-top: 20px;
  font-weight: 200;
  margin-bottom: 20px;
  // @include mobile {
  //   padding-top: 50px;
  // }
  a.orange-link {
    color: $orange;
  }
      .registered{
        padding: 0 0 10px;
        color:$grey-color05;
      }
     .anonymous{
       p{
         padding-bottom: 30px;
       }
       span.title{
          font-weight: 200;
          display: inline-block;
          font-size: 30px;
       }
     }
    .registered{
       .reg-title{
           position: relative;
           font-size: 40px;
           font-weight: 200;
          //  &:before{
          //    position: absolute;
          //    font-family: "InformaIcons";
          //    content: "\e91a";
          //    font-weight: bold;
          //    color: $black;
          //    @include mobile {
          //      top: -50px;
          //    }
          //  }
           strong.wel-text{
             display: inline-block;
             font-size: 40px;
             font-weight: bold;
             @include mobile {
               padding-left: 0px;
               margin-bottom: 20px;
             }
           }
           span{
             display: inline-block;
             font-size: 30px;
             @include mobile {
               font-size: 24px;
             }
             @include tablet {
               font-size: 30px;
             }
           }
       }
     }
     .tip{
       background: $yellow;
       padding: 15px 30px;
       &:before{
         position: absolute;
         font-family: "InformaIcons";
         content: "\e916";
         font-size: 20px;
         top: 50%;
         font-weight: bold;
         color: $black;
         @include mobile {
           top: 32%;
         }
       }
       a{
         position: relative;
          color: $black;
          display: inline-block;
         padding-left: 20px;
         font-weight: bold;
         &:after{
           font-family: "InformaIcons";
           content: "\e900";
           position: absolute;
           right: -17px;
         }
       }
       span{
         display: inline-block;
         position: relative;
         padding-left: 30px;
         @include mobile {
           padding-left: 0px;
           padding-top: 15px;
         }
       }
     }
     .cross{
       color: $white;
       font-size: 14px;
       position: absolute;
       top: 60%;
       right: 20px;
       z-index: 2;
     }
     .cross:after{
       font-family: "InformaIcons";
       content: "\e906";
     }
}
