{{!-- <section id="product-login" class="product-login">
  <div class="container">
    <h1>Product Sites</h1>
    <p>Loreum text We help the largest and most influenced agribusiness organisations gain advantage by delivering actionable intelligence across the food and commodities value chain </p>

        <div class="login-links clearfix">
            <div class="inner-wrapper">
                <h2>Login to your product sites</h2>
                    <div class="col-left">
                        <div class="list">
                            <h3>Commodities</h3>
                            <ul>
                             <li><a href="#">Issue Monitor</a></li>
                             <li><a href="#">Food News</a></li>
                             <li><a href="#">Public Ledger</a></li>
                             <li><a href="#">Issue Monitor</a></li>
                             <li><a href="#">EU Food Law</a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h3>Seed & Crop Protection</h3>
                            <ul>
                             <li><a href="#">Issue Monitor</a></li>
                             <li><a href="#">Food News</a></li>
                             <li><a href="#">Public Ledger</a></li>
                             <li><a href="#">Issue Monitor</a></li>
                             <li><a href="#">EU Food Law</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-left">
                        <div class="list floatLeft">
                            <h3>Fertiliser</h3>
                            <ul>
                             <li><a href="#">Issue Monitor</a></li>
                             <li><a href="#">Food News</a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h3>Animal Pharmaceuticals</h3>
                            <ul>
                             <li><a href="#">Issue Monitor</a></li>
                             <li><a href="#">Food News</a></li>
                             <li><a href="#">Public Ledger</a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h3>Policy & Regulations</h3>
                            <ul>
                             <li><a href="#">Issue Monitor</a></li>
                             <li><a href="#">Food News</a></li>
                             <li><a href="#">Public Ledger</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="create-profile clearfix">
                <p>While we're work to create a single login for your product(s) and this site, we invite you to <a href="#">create profile</a> here to sample content from complementary products.
                </p>
            </div>
        </div>
    </div>
</section> --}}
<section id="product-login" class="product-login">
    <div class="container">
        <div class="login-links clearfix">
            <div class="create-profile clearfix">
                <p>While we're work to create a single login for your product(s) and this site, we invite you to <a href="https://qa.pharmahub.com/create-a-profile">create profile</a> here to sample content from complementary products.</p>
            </div>
            <div class="inner-wrapper">
                
                    <h2>Login to your Product Sites</h2>

                    <div class="col-left">
                                    <div class="list">
                                        <h3>Commodities</h3>
                                            <ul>
                                                        <li>
                                                            <a href="https://www.google.com">Issue Monitor</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.google.com">Foodnews</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.google.com">Issue Monitor</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.google.com">Public ledger</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.google.com">Special Turkish Agriculture</a>
                                                        </li>
                                            </ul>

                                    </div>
                                    <div class="list">
                                        <h3>Seed and Crop Protection</h3>
                                            <ul>
                                                        <li>
                                                            <a href="https://www.google.com">Food news</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.google.com">Issue Monitor</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.google.com">Public ledger</a>
                                                        </li>
                                            </ul>

                                    </div>
                    </div>
                    <div class="col-left">
                                    <div class="list floatLeft">
                                        <h3>Fertilizers</h3>
                                        <ul>
                                                    <li>
                                                        <a href="https://www.google.com">Issue Monitor</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="list">
                                        <h3>Animal Pharmaceiticals</h3>
                                        <ul>
                                                    <li>
                                                        <a href="https://www.google.com">Food News</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.google.com">Issue Monitor</a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="list">
                                        <h3>Policy and Regulation</h3>
                                        <ul>
                                                    <li>
                                                        <a href="https://www.google.com">EU food law</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.google.com">Food News</a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.google.com">Issue Monitor</a>
                                                    </li>
                                        </ul>
                                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>
