section#infograph{
  margin-top: 30px;
  .row-bg{
    background-color: #3C404C;
    padding: 30px;

    .numdiv{
      font-size: 40px;
      font-weight: bolder;
      color: #FED402;
      &:after {
        content:"";
        height: 0.5em;
        border-left: 1px solid #595959;
        margin-left: 70px;
        @include mobile {
          display: none;
        }

        @media (min-width: 1024px) and (max-width: 1141px){
          .numdiv{
            &:after {
              content:"";
              height: 0.5em;
              border-left: 1px solid #595959;
              margin-left: 70px;
            }
          }
        }
      }

    }

    .clients {
      @include tablet {
        margin-top: 25px;
        //margin-bottom: 15px;
      }
      &:last-child {
        .numdiv{
          &:after {
            border-left: none;
          }
        }
      }
      @include mobile {
        margin-bottom: 15px;
      }

      @media (max-width: 1023px) and (min-width: 768px) {
        &:nth-child(even) {
          .numdiv{
            &:after {
              border-left: none;
            }
          }
        }
        &:nth-child(odd) {
          .numdiv{
            &:after {
              margin-left: 180px;
            }
          }
        }
      }

    }
    .sub-desc{
      color: #C1C1C1;
    }
  }
}
