<div class="container">
<div class="info-circle-container">
    <h2>Tailored to Your Industry</h2>
    <div class="circle-container">
        <ul class="list-inline">
            <li data-image="autologistic" class="active">
                <div class="image-container">
                <img src="../static/images/info-circle/prima.jpg" alt="Autologistics">
                </div>
                <label>Autologistics</label>
            </li>
            <li data-image="autoManufacturing">
                <div class="image-container">
                    <img src="../static/images/info-circle/prima.jpg" alt="Auto-Manufacturing">
                </div>
                
                <label>Auto-Manufacturing</label>
            </li>
            <li data-image="evets">
                <div class="image-container">
                    <img src="../static/images/info-circle/prima.jpg" alt="Events">
                </div>
                
                <label>Events</label>
            </li>
            <li data-image="hollywood">
                <div class="image-container">
                     <img src="../static/images/info-circle/prima.jpg" alt="Hollywood">
                </div>
               
                <label>Hollywood</label>
            </li>
            <li data-image="permittingRestriction">
                <div class="image-container">
                    <img src="../static/images/info-circle/prima.jpg" alt="Permitting Restrictions">
                </div>
                
                <label>Permitting Restrictions</label>
            </li>
            <li data-image="universities">
                <div class="image-container">
                    <img src="../static/images/info-circle/prima.jpg" alt="Universities">
                </div>
                
                <label>Universities</label>
            </li>
            <li data-image="parkingManagers">
                <div class="image-container">
                    <img src="../static/images/info-circle/prima.jpg" alt="Parking managers">
                </div>
                
                <label>Parking managers</label>
            </li>
        </ul>
    </div>
    <div class="circle-content">
        <div id="autologistic" class="content-holder active">
            <div class="title">
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </div>
            <div class="discription">
                active 1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div id="autoManufacturing" class="content-holder">
            <div class="title">
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </div>
            <div class="discription">
              active 2  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div id="evets" class="content-holder">
            <div class="title">
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </div>
            <div class="discription">
                active 3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div id="hollywood" class="content-holder">
            <div class="title">
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </div>
            <div class="discription">
               active 4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div id="permittingRestriction" class="content-holder">
            <div class="title">
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </div>
            <div class="discription">
               active 5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div id="universities" class="content-holder">
            <div class="title">
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </div>
            <div class="discription">
               active 6 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div id="parkingManagers" class="content-holder">
            <div class="title">
                when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </div>
            <div class="discription">
              active 7  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>
</div>
</div>