---
component: global_footer
---
<!-- GLOBAL FOOTER -->

<footer id="informa-footer">
    <section id="customers_list">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title_comp">
                  <h3 class="gray">Our Business Intelligence Customers</h3>
                </div>
            </div>
            <div class="row">
                <div class="customers_list_slider slider-component col-sm-12" data-itemsperframe="6" data-autorotate=0 data-transitionspeed="300" data-slideduration="4000">
                      <div class="customer">
                          <img src="images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BI customers Ends -->
    <section id="footer-links">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 links">
              <nav class="footer-nav" role="navigation">
                <h3 class="light">More from Informa</h3>
                  <ul class="nav navbar-nav">
                     <li class="pink"><a href="#">Pharma Intelligence</a></li>
                     <li class="green"><a href="#">Financial Intelligence</a></li>
                     <li class="red"><a href="#">TMT Intelligence</a></li>
                  </ul>
              </nav>
            </div>
            <!--  First column ends -->
            <div class="col-sm-4 links">
              <nav class="footer-nav" role="navigation">
                <h3 class="light">&nbsp;</h3>
                  <ul class="nav navbar-nav">
                     <li class="blue"><a href="#">Pharma Intelligence</a></li>
                     <li class="pink"><a href="#">Financial Intelligence</a></li>
                  </ul>
              </nav>
            </div>
            <!--  Second column ends -->
            <div class="col-sm-4 social">
              <nav class="footer-nav" role="navigation">
                  <h3 class="light"> Social Networks</h3>
                  <ul class="nav navbar-nav">
                     <li class="facebook-white"><a href="#">Get the Latest</a></li>
                     <li class="twitter-white"><a href="#">Follow Our Stories</a></li>
                     <li class="linkedin-white"><a href="#">Connect With Us</a></li>
                  </ul>
              </nav>
            </div>
            <!-- Third column ends -->
          </div>
        </div>
    </section>
    <!-- footer link ends -->
    <section id="privacy">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <nav class="footer-nav" role="navigation">
              <ul class="nav navbar-nav">
                 <li ><a href="#">Home</a></li>
                 <li ><a href="#">Privacy</a></li>
                 <li ><a href="#">Terms</a></li>
                 <li ><a href="#">Site Map</a></li>
                 <li ><a href="#">Cookies</a></li>
                 <li ><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-xs-12 disclaimer-copyright">
            <div class="disclaimer">Informa UK limited is a company registered in England and Wales with company number 58421</div>
            <div class="copyright">Copyright &copy; 2016 Informa PLC</div>
          </div>
          <div class="col-md-4 col-xs-12 bottom-logo">
            <img src="images/logo.png" alt="logo" text="logo">
          </div>
        </div>
      </div>
    </section>
</footer> <!-- /#ad-footer -->
