.resource-filter {
	padding: 30px 0 0 0;
	h2 {
		font-size: 30px;
	}
    .dropdown-menu > li > a {
        white-space: initial;
    }
	.resource-search {
		list-style-type: none;
		margin-bottom: 30px;
		@include mobile {
			padding: 0;
		}
		> li {
			display: inline-block;
			label {
			    font-size: 12px;
				font-weight: bold;
	    		margin-top: 23px;
			}
			.search-resource {
				border-color: #ef7c00;
				width: 100%;
				color: $white;
				margin-top: 45px;
				&:after {
					color: $white;
				}
				&:hover {
					color: $white;
				}
				@include mobile {
					margin-top: 20px;
				}
			}
			&:first-child {
				padding-left: 0;
				@include mobile {
					padding-left: 7.5px;
				}
			}
			&:last-child {
				padding-right: 0;
				@include mobile {
					padding-right: 7.5px;
				}
			}
			.btn-group {
				width: 100%;
				.btn {
					width: 100%;
					background: $white;
					border-color: $white;
					box-shadow: none;
					.caret {
						display: none;
					}
					&:after {
					    font: 400 15px 'InformaIcons';
					    content: "\e901";
					    color: #a7a9b6;
					}
				}
			}
			&.form {
				.multiselect-container {
					width: 100%;
					border: none;
					border-radius: 0;
					z-index: 99999;
					input {
						left: 37px;
		    			top: 1px;
					}
				}
				.custom-multiselect .btn-group .dropdown-toggle {
					padding: 17px 10px;
					label:before {
						top: 1px;
						left: 10px;
					}
				}
			}

		}
		.form .custom-multiselect .btn-group .dropdown-menu label:before {
				top: 3px;
				left: 10px;
			}
	}
	.refine-list {
		  background-color: #e1e2e7;
		  position:relative;
		  .container {
		      padding: 20px 15px;
		      p.header {
		        padding: 0 0 30px;
		        margin: 0;
		        .refine {
		            float: left;
		            color: $orange;
		            font-size: 1.3em;
		            text-decoration: none;
		            span{
		              padding-left: 3px;
		              position:relative;
		              top:2px;
		            }
		        }
		        a.close-filter {
		            float: right;
		            display: none;
		            color: $grey-color03;
		        }
		      }
		  }
		  .slider {
		      padding:0 15px;
		      position:absolute;
		      left:0;
		      z-index: 9999;
		      width: 100%;
		      display: none;
		      top: 45px;
		      .container {
		      	padding: 0;
		      	@include tablet {
			      	padding: 0;
			    }
		      }
		      @include mobile {
		      	padding: 0;
		      }
		      .refine-data {
		          padding: 20px 0;
		          background-color: #e1e2e7;
		          p {
		              font-size: 18px;
		              border-top: 1px solid #c3c6d0;
		              padding:25px 0;
		              margin: 0;
		          }
		          ul {
		              padding: 0 0 25px;
		              margin: 0;
		              li {
		                  list-style-type: none;
		                  margin-bottom: 10px;
		                  label {
		                      color: $grey-color03;
		                  }
		              }
		          }
		      }
		      .refine-button{
		        display: block;
		        text-align: right;
		        background-color: #e1e2e7;
		        padding: 15px 20px;
		        a{
		          min-width: 160px;
		          border-color:$orange;
		          &:after{
		            color:$orange;
		          }

		        }
		      }
		  }
		}
	.tags-display {
    	>div{
    		margin-bottom: 25px;
    	}
        p {
            padding-right:15px;
            @include mobile{
                display: block;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: inline-block;
            @include mobile{
                display: block;
            }
            li {
                display: inline-block;
                padding: 5px;
                background-color: $grey-color05 ;
                border: 1px solid $grey-color09;
                color: $grey-color09;
                font-size: 12px;
                margin-right: 10px;
                @include mobile {
                	margin-bottom: 10px;
                }
                a.remove {
                    border-left: 1px solid $grey-color09;
                    padding: 0 5px 0 10px;
                    margin-left: 10px;
                }
            }
        }
        .remove-all {
            color: $orange;
        }
    }
    &.resource-filter-wrap {
    	padding:0 0 20px 0;
    	.refine-list {
    		background-color: transparent;
    		.container {
	    		padding: 0 15px;
	    		.header {
	    			background-color: #e1e2e7;
	    			padding: 20px 15px;
	    			overflow: auto;
	    			border-top: 1px solid #c3c6d0;
	    			border-bottom: 1px solid #c3c6d0;
	    		}
	    	}
    	}
		.slider {
			.container {
				@include tablet {
					padding: 0;
				}
			}
		}
    }
}