<section id="banner" class="hero-banner-texture dark-banner-subscribe bg-gray-dark product supergraphic product-hero-banner sample-content-hero-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="h1-styles">
                            Enterprise Decision Maker
                        </h1>
                        <div class="subtext">
                            Lorem ipsum dolor sit amet, consecteta adipisa elit, sed do eiusmod tempor incididunt ut labore maecenas accumsan lacus vel facilisis. Excepte sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum deus sum.
                        </div>
                        <div class="description">
                            Our research helps enterprises to design the appropriate architectures and roadmaps to
                            exploit these technologies, and the detailed information required to select the most
                            appropriate solutions, services, and suppliers.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-12 enterprise-cta-buttopn">
                            <a class="cta2 semi-trans btn btn-primary wffm-elq-form-btn" href="javascript:void(0)"
                                data-toggle="modal" data-modal="#formRequestADemo" role="button"
                                data-productid="{39C2683C-D55A-47E5-9A52-20A7F1183224}">
                                Get a free demo
                            </a>
                            <a href="https://www.ovumkc.com/login " class="cta2 btn solid btn-default subscribe-stick"
                                target="_blank">Product login </a>
                        </div>
                        <div class="col-md-2 col-sm-4 enterprise-author">
                            <div class="by">by
                                    <a href="https://ovum.informa.com/analysts-and-events/meet-the-team/charles-juniper">Charles</a>
                            </div>
                            <div class="date">06 Feb 2020</div>
                        </div>
                        <div class="col-md-5 col-sm-8 enterprise-detail">
                            <div class="by">Provided by
                                <a href="https://ovum.informa.com/analysts-and-events/meet-the-team/charles-juniper">EnterPrise IT </a>
                            </div>
                            <div class="category">category
                                <a href="https://ovum.informa.com/analysts-and-events/meet-the-team/charles-juniper">Enterprise Decion Maker </a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sample-content-hero-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                   <div class="row follow-row">
                        <div class="share-tab">
                            <div class="follow-button">
                                <a class="addthis_button_twitter_follow" addthis:userid="informaecon"></a>
								<a class="addthis_button_linkedin_follow" addthis:usertype="company" addthis:userid="470330"></a>
								<a class="addthis_button_email" addthis:note="hello I am here" addthis:title="Informa Links | Product Details"></a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

