<section class="analyst-search">
	<div class="container">
		<h1>Find a Specialist</h1>
		<form role="form">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 form-group search-field">
					<label for="name">Search by name</label>
					<span class="icon-search"></span>
					<input type="text" id="name" class="form-control" />
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 form-group">
					<label for="sector">By Sector</label>
					<div class="selectMenu">
                      <select class="chosen-select">
                        <option value="default">All Categories</option>
                        <option value="latest">latest</option>
                      </select>
                    </div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<label for="sub-sector">By Commodity</label>
					<div class="selectMenu">
                      <select class="chosen-select">
                        <option value="default" data-given-name="Fred" data-surname="Flintstone" data-city="Bedrock" data-city-description="A land right out of history" data-spouse-given-name="Wilma">All Categories</option>
                        <option value="latest" data-given-name="Fred" data-surname="Flintstone" data-city="Bedrock" data-city-description="A land right out of history" data-spouse-given-name="Wilma">latest</option>
                      </select>
                    </div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2">
					<button class="btn btn-default orange submit-btn disabled" type="button">Find</button>
				</div>
			</div>
		</form>
	</div>
</section>