.product-brands-list {
    padding-bottom: 20px;
    background-color: $grey-color02;
    h2 {
       margin-bottom: 20px;
       padding-left: 10px;
       padding-bottom: 0;
    }
    h3 {
        font-size: 24px;
        color: $grey-color10;
        text-align: left;
        padding-left: 10px;
        @include mobile {
            font-size: 18px;
        }
    }
    .product-brand-list-items{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .card-col, .card{
            display: flex;
            flex-direction: column
        }
        .card{
            height: calc(100% - 15px);
            .caption{
                flex: 1 0 auto;
            }
        }
    }
    .card {
        word-wrap: break-word;
        position: relative;
        // min-height: 300px;
        background-color: $white;
        margin-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        .image-thumbnail {
            overflow: hidden;
            //  clip-path: url("/cms-images/product_brands/img-clip.svg");
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
            @include mobile {
                height: auto;
            }
            &:after {
                content: '';
                width: 110%;
                height: 100%;
                background-color: $white;
                position: absolute;
                -ms-transform: rotate(-5deg); /* IE 9 */
                -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
                transform: rotate(-5deg);
                top: calc(100% - 20px);
                left: 0;
            }
        }
        .caption {
            //  min-height: 150px;
            padding: 0 15px;
            word-wrap: break-word;
            overflow: hidden;
            @include mobile {
                height: auto;
            }
            h4 {
                color: $grey-color05;
                font-weight: bold;
                // font-size: 30px;
                margin: 0;
                padding: 20px 0;
            }
            h4::after {
                content:'';
                background: url(/Static/images/spritesheet.png) no-repeat;
                padding-left: 5px;
                width: 31px;
                height: 34px;
                background-position: -5px -232px;
                display: inline-block;
                position: relative;
                bottom: -9px;
            }

            ul {
                padding-left: 40px;
                padding-top: 20px;
            }
            li {
                list-style-type: none;
                padding-bottom: 20px;
                position: relative;
                font-weight: bold !important;
                color:$grey-color04;
                &:before {
                    position: absolute;
                    left: -28px;
                    font-size: 20px;
                    top: -5px;
                }
            }
        }
        .showmore {

            min-height: 90px;
            //  position: relative;
            overflow: hidden;
            position:relative;
            padding: 15px;
            background-color: $grey-color09;
            &:before {
                content: '';
                position: absolute;
                width: 110%;
                top: calc(-100% + 33px);
                left: -10px;
                background-color: $white;
                -ms-transform: rotate(-5deg); /* IE 9 */
                -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
                transform: rotate(-5deg);
                height: 100%;
            }
            .btn-container {
                bottom: 15px;
                float: right;
                padding-top: 45px;
            }
        }
    }
    .view-all-mobile-container {
        display: none;
    }
    .card-col-heading {
        padding: 0;
        text-align: right;
        h2 {
            color: $white;
            text-align: left;
        }
        .btn.btn-default {
            color: $white;
            margin: 30px 0;
            @include mobile {
                width: 100%;
            }
            &:after{
                color: $white;
            }
        }
    }
    .show-more-btn-container, .btn-container {
        .btn {
            padding-right: 40px;
            font-weight: bold;
        }
    }
    @include mobile {
        .container > .row > .card-col-heading:nth-child(1) {
            display: block;
        }
        .container > .row > .card-col-heading:nth-child(2) {
            display: block;
        }
        .container > .row > .card-col-heading {
            display: none;
        }
        .container > .row > .card-col-heading {
            display: none;
        }
        // .container > .row > .card-col:nth-child(n+5) {
        //     display: none;
        // }
        .show-more-btn-container {
            .btn {
                width: 50%;
            }
        }
        .view-all-mobile-container {
            display: block;
            color: $white;
            //border-bottom: solid 1px $brand-secondary;
            width: 100px;
            margin: 0 auto;
            padding: 5px;
            cursor: pointer;
        }
        .informa-icon {
            font-size: 30px;
            //color: $brand-secondary;
        }
        .btn-container {
            width: 100%;
            margin: 0 auto;
        }
    }
}
.related-products{
    background: $white;
    .product-brands-list {
        background-color: $white;
        h2 {
            color: $grey-color05;
        }
    }
    .card {
        background:$grey-color10;
        .image-thumbnail {
            &:after {
                background-color: $grey-color10;
            }
        }
        .showmore {
            &:before {
                background-color:$grey-color10 ;
            }
        }
        .caption {
            h2::after {
                content:'';
            }
        }
    }
    .view-all-mobile-container {
            display: none;
            color: $text-gray;
    }
    @include mobile {
        .container > .row > .card-col:nth-child(n+4) {
            display: none;
        }
        .view-all-mobile-container {
            display: block;
        }
    }
    .productfinder-link{
        margin:30px auto 0;
        text-align: center;
        width: 100%;
        p{
            font-size:19px;
            a{
                //color:$orange;
                font-weight:700;
                 &:after{
                     content: "\e900";
                     font-family: 'InformaIcons';
                     right: 15px;
                     font-weight: bold;
                     position:relative;
                     top:3px;
                     left:3px;
                   }
            }
        }
    }
}
a{
    &:hover{
        text-decoration: none;
    }
}
#dynamic-product-list {
    .btn-showMore {
        //color: $white;
        .more {
            display: block;
        }
        .less {
            display: none;
        }
    }
    &.showLess {
        .btn-showMore {
            .more {
                display: none;
            }
            .less {
                display: block;
            }
        }
    }
}
