.product-detail-page.newco-product-detail {
  .product-finder-results {
    .search-container {
      width: 100%;
    }
    .listView{
      .col-md-4{
       width: 33.33%;
     }
     .col-sm-6{
      width: 50%;
     }
     .list-items{
       .recomended-wrapper{
        background-color: #fff;
         img{
           height: 202px;
         }
       }
     }
  }
}
    .refine-container {
      width: 100%;
    }
}
