<section class="pageNotFound">
    <div class="container">
        <!-- <div class="logo">
            <img src="cms-images/logo.png" alt=""/>
        </div> -->
        <div class="error-msg">
              <h2>Error 404: the page cannot be found</h2>
              <div class="sub-text">
                  Sorry, for the the page you are looking for has not been found.Check the URL for errors in the address bar , then try again.
              </div>
        </div>
        <div class="logo go-to-home">
          <a class="btn orange">Go to home page</a>
        </div>
    </div>
</section>
