<div class="product-detail-page newco-product-detail" id="productDetails">
    <div id="resource-finder-section" class="resource-finder" data-resource="true">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="form" method="post" action="#">
                        <fieldset>
                            <!-- here filter for search -->
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="product-finder-results clearfix">
        <div class="container">
            <section class="refine-container">
                <form class="form">
                    <p class="heading">Refine results</p>
                    <a href="#" class="clear-all">Clear All</a>
                    <div class="panel-group" id="refine-list">
                        <!-- here for refine filter-->
                    </div>
                </form>
            </section>
            <section class="search-container listView">
                <div class="container">
                    <div class="product-results" data-pagesize="9">
                        <div class="row list">
                            <div class="">
                                <div class="list-items" data-fetch="a30408547c854513be425823caeebc01" data-type="SampleContent"
                                    data-showform="True" style="height: auto;">
                                    <div class="recomended-wrapper">
                                        <div class="recomend-content wrap-content" style="height: auto;">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="content">
                                                        <p class="type">
                                                            IT, Enterprise Decision Maker
                                                        </p>
                                                        <h4>
                                                            <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                                data-modal="#formRegistration"
                                                                data-url="/resources/product-content/the-key-to-a-resilient-organization-is-a-comprehensive-backup-and-recovery-plan-and-capability-int005-000076">The
                                                                key to a resilient organization is a comprehensive backup and recovery plan and
                                                                capability
                                                            </a>
                                                        </h4>
                                                        <p class="publish">
                                                            <span> By</span>
                                                            <a href="/analysts-and-events/meet-the-team/maxine-holt"><strong> Maxine
                                                                    Holt</strong>
                                                            </a>
                                                            03 Jan 2020
                                                        </p>
                                                        <p class="description">
                                                            When it comes to cyberattacks, organizations can fail if there are inadequate
                                                            security incident response plans in place. The "six P's" mantra clearly applies:
                                                            proper preparation and planning prevents poor performance.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="btn-container text-right">
                                                <a data-show-register="true" class="btn btn-primary show-register-form"
                                                    data-toggle="modal" data-modal="#formRegistration"
                                                    data-url="/resources/product-content/the-key-to-a-resilient-organization-is-a-comprehensive-backup-and-recovery-plan-and-capability-int005-000076">View
                                                    analyst opinion</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-items" data-fetch="e32cac682c414cdbae86a0183aee7d5e" data-type="SampleContent"
                                data-showform="True" style="height: auto;">
                                <div class="recomended-wrapper">
                                    <div class="recomend-content wrap-content" style="height: auto;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="cms-images/product_brands/brand-3.png" alt=""class="img-responsive" />
                                            </div>
                                            <div class="col-md-8">
                                                <div class="content">
                                                    <p class="type">
                                                        Service Provider Technology
                                                    </p>
                                                    <h4>
                                                        <a data-show-register="true" class="show-register-form" data-toggle="modal"
                                                            data-modal="#formRegistration"
                                                            data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289">Cisco
                                                            launches new silicon, 8000 Series router, and XR7 products</a>
                                                    </h4>
                                                    <p class="publish">
                                                        <span> By</span>
                                                        <a href="/analysts-and-events/meet-the-team/don-frey"><strong> Don Frey</strong></a>
                                                        18 Dec 2019
                                                    </p>
                                                    <p class="description">
                                                        Cisco laid out a disruptive sales strategy for its new router and Silicon One
                                                        architecture. The flexibility includes software, hardware, and processor sales
                                                        options allowing for service providers to build router networks their way.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="btn-container text-right">
                                            <a data-show-register="true" class="btn btn-primary show-register-form"
                                                data-toggle="modal" data-modal="#formRegistration"
                                                data-url="/resources/product-content/cisco-launches-new-silicon-8000-series-router-and-xr7-products-spt002-000289">View
                                                analyst opinion</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn-showMore">
                             Show More
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>