<div class="component informa-video-component">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Youtube</h2>
              </div>
            <div class="col-xs-12">
                <div class="media-thumb text-center">
                    <a href="#" data-toggle="modal" data-target="#youtubeModal" class="video-on-thumb">
                        <img src="cms-images/video-img/video-thumb.png" alt="" width="600" height="400" />
                        <span class="informa-icon-play-circle-o"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Vimeo</h2></div>
            <div class="col-xs-12">
                <div class="media-thumb text-center">
                    <a href="#" data-toggle="modal" data-target="#vimeoModal" class="video-on-thumb">
                        <img src="cms-images/video-img/video-thumb.png" alt="" width="600" height="400" />
                        <span class="informa-icon-play-circle-o"></span>
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Wistia</h2></div>
            <div class="col-xs-12">
                <div class="media-thumb text-center">
                    <a href="#" data-toggle="modal" data-target="#wistiaModal" class="video-on-thumb">
                        <img src="cms-images/video-img/video-thumb.png" alt="" width="600" height="400" />
                        <span class="informa-icon-play-circle-o"></span>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="modal fade" id="youtubeModal" tabindex="-1" role="dialog" aria-labelledby="youtubeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12  text-center">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/kRfliH2SGIY" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="vimeoModal" tabindex="-1" role="dialog" aria-labelledby="vimeoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12  text-center">
                            <iframe src="https://player.vimeo.com/video/119147959" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    <div class="modal fade" id="wistiaModal" tabindex="-1" role="dialog" aria-labelledby="wistiaModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12  text-center">
                          <iframe src="http://fast.wistia.net/embed/iframe/sq50iiqaq9" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="640" height="360"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</div>
