<script src="https://player.vimeo.com/api/player.js"></script>
<script src="http://fast.wistia.com/static/concat/E-v1.js"></script>
{{#each videos}}
    <section class="hero-banner home-page">
        <div class="vertical-align">
            <div class="videoBG_wrapper">
                <div class="container">
                    <div class="row block-centered">
                        <article class="col-md-11">
                            <h1>Decision making. Connected.</h1>
                            <p>
                                <a class="btn btn-primary" href="https://iprod-pharmaintelligence.informa.com/about/about-us">View More</a>
                            </p>
                        </article>
                    </div>
                </div>
            </div>

            <div class="videoBG" data-videotype="{{type}}" data-videourl="{{url}}" data-videoid="{{id}}" data-videosound="{{sound}}">
            </div>
        </div>
    </section>
{{/each}}
