<section id="banner" class="hero-banner home-page" >
	<div class="videoBG_wrapper">
		<div class="container">
    		<div class="row block-centered">
      			<article class="col-md-8 col-md-offset-2">
        			<h1>
        				The complete picture on global agribusiness
        			</h1>
        			<blockquote>We help the world's largest and most influential agribusiness organisations gain advantage by delivering actionable intelligence across the food and commodities value chain
        			</blockquote>
        			<p>
          				<button href="#">This is our story</button>
        			</p>
      			</article>
    		</div>
  	</div>
  </div>

  <div class="videoBG">
		<!--
  		<iframe src="http://www.youtube.com/embed/043GgleCWNA?autoplay=1&loop=1&controls=0&showinfo=0&playlist=043GgleCWNA" ></iframe> -->
		
  		<iframe src="https://player.vimeo.com/video/119147959?autoplay=1&loop=true" ></iframe>
  		<!--
  		<iframe src="http://fast.wistia.net/embed/iframe/sq50iiqaq9?autoplay=1&playbar=false&smallPlayButton=false&fullscreenButton=false&volumeControl=false&endVideoBehavior=loop"></iframe>
		-->
  </div>

</section>