
    <section id="customers_list">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title_comp">
                  <p class="gray">Our Business Intelligence Customers</p>
                </div>
            </div>
            <div class="row">
                <div class="customers_list_slider slider-component col-sm-12" data-itemsperframe="6" data-autorotate=0 data-transitionspeed="300" data-slideduration="4000">
                      <div class="customer">
                          <img src="cms-images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                </div>
            </div>
        </div>
    </section>
