/*.view-all{
    width:100%;float:left;text-align: center;margin:10px 0;
    .view-all-btn{
        width: 180px;
padding: 10px;
text-align: center;
background-color: #333754;
border: none;
color: #fff;
border-radius: 30px;
font-weight: 600;
font-size: 18px;
    }
}
*{
    outline: none;
}
select:focus {
    outline: none;

}
select{
    -webkit-appearance: none;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.wrapper-dropdown-5 {
    position: relative;
    margin: 0 auto;
    padding: 7px 15px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #333754;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    outline: none;
    z-index: 1;
    font-size: 20px;
    .content-head{
        &:after{
        
            content: "";
    width: 0;
    height: 0;
    position: absolute;
    top:23px;
    right: 15px;
    margin-top: -3px;
    border-width: 13px 8px 0 6px;
    border-style: solid;
    border-color: #333754 transparent;
        
    }
    }
    .dropdown {
    position: inherit;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    //border-radius: 0 0 25px 25px;
   // border: 1px solid #333754;
    border-top: none;
    border-bottom: none;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    padding: 0 0px;
    width: 100%;
    font-size:16px;
    display:none;
        li {

            padding: 0 10px;
            display: block;
            color: #333;
            padding: 10px 0;
            transition: all 0.3s ease-out;
            border-bottom: 1px solid #e6e8ea;
        }
        li:last-child{
            border-bottom: 0px solid #e6e8ea;  
        }
     
    }
    
    &.active {
        //border-radius: 25px 25px 0 0;
        //background-color: #333754;
        -webkit-box-shadow: none;
        box-shadow: none;
        //border-bottom: none;
        //border: 1px solid #333754;
        //color:#fff;
        .dropdown {
            //border-bottom: 1px solid #333754;
            max-height: 400px;
            display:block;
        }
        &:after{
            //border-color: #fff transparent;
    
    
    }
    
      
    }
    &.active-drop{
        background-color: #333754;
      color: #fff;
      &:after{
        border-color: #fff transparent;


}
.content-head{
    &:after{
    
border-color: #fff transparent;
    
}
}

    }
}

.disable{
    pointer-events:none;
    opacity:0.4;
}

.wrapper-dropdown-5.active-drop.active{
background-color: #fff;
color:#000;
.content-head{
    &:after{
    
border-color: #333754 transparent;
    
}
}
}
.section-content {
    width: 100%;
    float: left;
}
.portfolio{
    width: 80%;
    margin: 20px 10%;
    float: left;
    .select-filter{
        width:100%;
        float:left;
        .select{
            width:calc(25% - 15px);
            float:left;
            margin-right:15px;
            
            &.active{
                select{
                    background: #333754;
                    color: #fff;
                    option{
                        color:#fff;
                    }
                }
            }
            select{
                width: 100%;
                float: left;
                margin-right: 10px;
                border: 2px solid #333754;
                border-radius: 23px;
                background: #fff;
                color: #333754;
                padding: 6px 10px;
                option.default{
                    pointer-events: none!important;
                    
                }
                option{
                    color:#000;
                }
                
            }
            input{
                width: 100%;
                float: left;
                border:none;
                border-bottom: 2px solid #333754;
                padding:6px 20px;
               
                background: #fff; 
                color:#333754; 
            }
        }
    }
    .filter-section{
        width: 100%;
      float: left;
      margin: 10px 0px;
      .heading{
        font-weight: 600;
        color: #333;
        width: 150px;
        float: left;
      }
      .section{
        width: calc(100% - 150px);
        float: left;
        .unit{
            width: auto;
            float: left;
            margin: 0 20px 0px 0px;
            color: #333754;
                  label.cross{
                           margin: 0 10px;
                           cursor: pointer;
                            }
        }
      }
    }
    .portfolio-grid{
        width: 100%;
        float: left;
        margin: 20px 0px;
    
        .heading{
            width: 100%;
            float: left;
            margin-bottom: 10px;
            
        }
        .port-container{
            width: 100%;
            float: left;
            margin-bottom: 20px;
        .port{
            $border:2px;
            position: relative;
            width: calc(25% - 15px);
            float: left;
            margin-right: 15px;
            margin-bottom: 20px;
            height: 165px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            background-clip: padding-box; /* !importanté */
            border: solid $border transparent; /* !importanté */
            border-radius: 10px;
            &:before {
                content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: -webkit-gradient(linear, left top, right top, from(green), to(rgba(205, 218, 11, 0.8)));
    background: linear-gradient(to bottom, green, rgba(205, 218, 11, 0.8));
              }
              &:hover{
                box-shadow: 5px 1px 11px rgba(52, 58, 64, 0.5098039215686274);
                  .plus{
                    background-color: #cdda0b;
                    color:#fff;
                    padding:0;
                  }
                  img{
                    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(0%);

                  }
                
              }
              &.active{
                position: absolute;
    width: calc(40% - 15px);
    height: 350px;
    z-index: 10;
    left: 30%;
                img{
                    height: 346px;
                    display:none;
                }
                .plus{
                    display:none;
                }
                .content{
                    display: block;
                    width: 100%;
                    height: 346px;
                    background-color: #fff;
                    border-radius: 8px;

                }
                .header{
                    width: 84%;
                    margin: 20px 8%;
                    float: left;
                    img{
                        display: block;
                        height: auto;
                        width: 200px;
                        float: left;
                    }
                    .view-all{
                        width: calc(100% - 200px);
                        text-align: right;
                    }
                }
                .discription{
                    font-size: 18px;
    width: 84%;
    float: left;
    margin: 0 8% 20px;
    max-height: 104px;
    overflow: hidden;
                }
                .labels{
                    font-size: 16px;
    width: 84%;
    float: left;
    margin: 0 8%;
    max-height: 75px;
    overflow: hidden;
    font-weight: 600; 
                }
                .close{
                    width: 20px;
    margin: 10px 10px 0 0;
    font-weight: 500;
    cursor: pointer;
                }
              }
              &:after{
                  content:'';
                  clear: both;

              }

              

img{
    width: 100%;
    height: 161px;
    border-radius: 8px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.plus{
    text-align: center;
    background: #fff;
    position: absolute;
    cursor: pointer;
    top: 146px;
    left: calc(50% - 15px);
    color: rgba(205, 218, 11, 1);
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 32px;
}
.content{
    display:none;
}


            }

        }
        
    }
}




@media screen and (max-width:768px) and (min-width:320px) {
    .portfolio{
        width: 90%;
        margin: 20px 5%;
        .select-filter{
            width:100%;
            float:left;
            .select{
                width: 100%;
                float: left;
                margin-right: 0px;
                margin-top: 30px;
             }
        }
        .filter-section{
            margin: 30px 0px;
          .heading{
            width: 100%;
             margin-bottom: 10px;
          }
          .section{
            width: 100%;
            float: left;
            
          }
        }
        
    }  
}

@media screen and (max-width:480px) and (min-width:320px) {
    .portfolio .portfolio-grid .port-container .port{
        width:100%;

    }
}
@media screen and (max-width:992px) and (min-width:480px) {
    .portfolio .portfolio-grid .port-container .port{
        width: calc(50% - 15px);

    }
}
@media screen and (max-width:1280px) and (min-width:993px) {
    .portfolio .portfolio-grid .port-container .port{
        width: calc(33% - 15px);

    }
}*/
