<nav id="pdp-navigation" class="navbar-default">
      <div class="container">
            <div class="row">
                <div class="col-xs-12 nav-pdp-col">
                  <div class="nav-pdp-nondesktop">
                        <a href="#">Sections</a>
                  </div>
                  <div class="nav-pdp-nondesktop-sticky">
                  </div>
                  <div id="pdp-sections" class="col-xs-12 col-sm-12" >
                        <p id="pdp-sections-heading">
                        </p>
                        <ul class="nav navbar-nav">
                              <li>
                                    <a href="#" data-target-index="0" data-target="feature-list">
                                          <span>Features</span>
                                    </a>
                              </li>
                              <li>
                                    <a href="#" data-target-index="0" data-target="market-focus">
                                          <span>Market Focus</span>
                                    </a>
                              </li>
                              <li>
                                    <a href="#" data-target-index="0" data-target="customer-quote-section">
                                          <span>Quotes</span>
                                    </a>
                              </li>
                              <li>
                                    <a href="#" data-target-index="0" data-target="pdp-analyst">
                                          <span>Analysts</span>
                                    </a>
                              </li>
                              <li>
                                    <a href="#" data-target-index="0" data-target="agri-report">
                                          <span>Agri report</span>
                                    </a>
                              </li>
                        </ul>
                        <div class="nav-pdp-desktop-sticky">
                        </div>
                  </div>
                </div>
            </div>
      </div>
      <div class="menuFollower"></div>
</nav>
