<nav id="pdp-navigation" class="navbar-default">
      <div class="container">
            <div class="row">
                  <div class="col-xs-12">
                        <ul class="nav navbar-nav">
                              <li><a href="#" data-target="feature-list">Features</a></li>
                              <li><a href="#" data-target="market-focus">Market Focus</a></li>
                              <li><a href="#" data-target="customer-quote">Quotes</a></li>
                              <li><a href="#" data-target="pdp-analyst">Analysts</a></li>
                              <li><a href="#" data-target="agri-report">Agri report</a></li>
                        </ul>
                  </div>
            </div>
      </div>
      <div class="menuFollower"></div>
</nav>
