section#Pharma-ourproducts{
  background-color: $footer-top-gray;
  color: $white;
  h1 {
		margin-bottom: 20px;
	}
  .product-item{
      padding-left: 40px;
      padding-right: 15px;
      position: relative;
      img{
        display: inline-block;
        //width: 100px;
      }
      &:after {
        content: '';
        border-left: 1px solid #666666;
        height: 50%;
        position: absolute;
        top: 8px;
        right: 0px;
        @include mobile {
          display: none;
        }
      
      }
      &:last-child {
        &:after {
            border-left: none;
        }
      }
  }
  .products-carousel {
    z-index: 1;
     .slick-list {
         border-right: none;
     }
     .slick-arrow {
         height: 60px;
         width: 40px;
         z-index: 1;
         background-color: $yellow;
         top: 50%;
         @include mobile {
             height: 40px;
             width: 20px;
             margin-top: -20px;
             margin-left: -20px;
         }
         @include tablet {
             height: 40px;
             width: 25px;
             margin-top: -20px;
             margin-left: -25px;
         }
         &:before {
             font-family: 'InformaIcons';
             position: absolute;
             font-size: 20px;
             opacity: 1;
             top: 50%;
             left: 50%;
             margin-top: -13px;
             margin-left: -13px;
             @include mobile {
                 font-size: 14px;
                 margin-top: -7px;
                 margin-left: -7px;
             }
             @include tablet {
                 font-size: 16px;
                 margin-top: -8px;
                 margin-left: -8px;
             }
         }
     }
     .slick-next {
         right: -25px;
         top: 50%;
         &:before {
             content: "\e902";
         }
         @include mobile {
           right: -3px;
           top: 100%;
         }
         @include tablet {
           right: -5px;
           top: 100%;
         }
     }
     .slick-prev {
       left: -25px;
       top: 50%;
         @include mobile {
              left: 12px;
              top: 100%;
         }
         @include tablet {
             left: 10px;
             top: 100%;
         }
         &:before {
             content: "\e903";
         }
     }
   }
}
