<section id="article-list-section">
    <div class="article-list carousel-lists" id="article-list">
        <div class="container">
                    <ul class="list-container" data-slider-dots="true" data-slider-infinite="true" data-slides-show="3" data-slides-scroll="3" data-speed="400" 
                    data-autoplay-speed="4000" data-autoplay="false">
                    <li>
                            <p class="category">Issue monitor
                              <strong>Agriculture food policy & reulations</strong>
                            </p>
                            <img src="/images/article_list/policy.png" alt="icon" />
                            <h2 class="poduct-brand-subheading">World leaders hid wealth via shell companies</h2>
                            <p class="date">30.03.2016</p>
                            <div class="list-content">
                                <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                <span class="article-info"><em>Author:</em> <strong>Jim Wiesemeyer</strong></span>
                                <span class="article-info"><em>Topic:</em> 
                                    <strong>Jim Wiesemeyer</strong>
                                </span>
                            </div>
                            <div class="btn-container">
                              <a role="button" href="#" class="btn btn-default">Full article</a>
                            </div>
                        </li>

                        <li>
                            <p class="category">Issue monitor
                              <strong>Agriculture food policy & reulations</strong>
                            </p>
                            <img src="/images/article_list/commodities.png" alt="icon" />
                            <h2 class="poduct-brand-subheading">World leaders hid wealth via shell companies</h2>
                            <p class="date">30.03.2016</p>
                            <div class="list-content">
                                <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                <span class="article-info"><em>Author:</em> <strong>Jim Wiesemeyer</strong></span>
                                <span class="article-info"><em>Topic:</em> 
                                    <strong>Jim Wiesemeyer</strong>
                                </span>
                            </div>
                            <div class="btn-container">
                              <a role="button" href="#" class="btn btn-default">Full article</a>
                            </div>
                        </li>

                        <li>
                            <p class="category">Issue monitor
                              <strong>Agriculture food policy & reulations</strong>
                            </p>
                            <img src="/images/article_list/commodities.png" alt="icon" />
                            <h2 class="poduct-brand-subheading">World leaders hid wealth via shell companies</h2>
                            <p class="date">30.03.2016</p>
                            <div class="list-content">
                                <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                <span class="article-info"><em>Author:</em> <strong>Jim Wiesemeyer</strong></span>
                                <span class="article-info"><em>Topic:</em> 
                                    <strong>Jim Wiesemeyer</strong>
                                </span>
                            </div>
                            <div class="btn-container">
                              <a role="button" href="#" class="btn btn-default">Full article</a>
                            </div>
                        </li>

                        <li>
                            <p class="category">Issue monitor
                              <strong>Agriculture food policy & reulations</strong>
                            </p>
                            <img src="/images/article_list/policy.png" alt="icon" />
                            <h2 class="poduct-brand-subheading">World leaders hid wealth via shell companies</h2>
                            <p class="date">30.03.2016</p>
                            <div class="list-content">
                                <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                <span class="article-info"><em>Author:</em> <strong>Jim Wiesemeyer</strong></span>
                                <span class="article-info"><em>Topic:</em> 
                                    <strong>Jim Wiesemeyer</strong>
                                </span>
                            </div>
                            <div class="btn-container">
                              <a role="button" href="#" class="btn btn-default">Full article</a>
                            </div>
                        </li>

                        <li>
                            <p class="category">Issue monitor
                              <strong>Agriculture food policy & reulations</strong>
                            </p>
                            <img src="/images/article_list/commodities.png" alt="icon" />
                            <h2 class="poduct-brand-subheading">World leaders hid wealth via shell companies</h2>
                            <p class="date">30.03.2016</p>
                            <div class="list-content">
                                <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                <span class="article-info"><em>Author:</em> <strong>Jim Wiesemeyer</strong></span>
                                <span class="article-info"><em>Topic:</em> 
                                    <strong>Jim Wiesemeyer</strong>
                                </span>
                            </div>
                            <div class="btn-container">
                              <a role="button" href="#" class="btn btn-default">Full article</a>
                            </div>
                        </li>

                        <li>
                            <p class="category">Issue monitor
                              <strong>Agriculture food policy & reulations</strong>
                            </p>
                            <img src="/images/article_list/commodities.png" alt="icon" />
                            <h2 class="poduct-brand-subheading">World leaders hid wealth via shell companies</h2>
                            <p class="date">30.03.2016</p>
                            <div class="list-content">
                                <p class="description">Leaked files from a Panama law firm that creates shell companies show that politicians, criminals and celebrities worldwide have used banks and shadow companies to hide their finances.</p>
                                <span class="article-info"><em>Author:</em> <strong>Jim Wiesemeyer</strong></span>
                                <span class="article-info"><em>Topic:</em> 
                                    <strong>Jim Wiesemeyer</strong>
                                </span>
                            </div>
                            <div class="btn-container">
                              <a role="button" href="#" class="btn btn-default">Full article</a>
                            </div>
                        </li>
                    </ul>

        </div>
    </div>
</section>
