<section class="analyst-views newco-analyst-views griid-view">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 analyst-view-container">
              <div class="row">
                 <div class="col-lg-12  image ">
                        <div class="analyst-img">
                            <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                        </div>
                 </div>
                 <div class="col-lg-12  content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="meet-anlyst-section">
                                    <div class="anlyst-heading">
                                        <div class="analyst-heading-content">
                                            <div class="analyst-details">
                                                <span class="analyst-type">Analyst</span>
                                                <h4>David Molony</h4>
                                                <h5><span class="designation">Analyst, Principal Analyst,
                                                        Enterprise</span>
                                                    <span class="newco-location">UK</span>
                                                    <span class="experiance">11+ Years Experiance</span>
                                                </h5>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <div class="row discription">
                            <div class="profile-discription">
                            <div class="col-md-12">
                            <strong>
                                Specialities include
                            </strong>
                                 5G, Digital Transformation, Mobile and Fixed Telecoms: Latin America and the Caribbean, Telco Strategies </div>
                               </div>  
                                <div class="col-md-12 meet-anlyst-section">
                                <div class="analyst-footer">
                                    <div class="analyst-footer-content clearfix">

                                        <ul class="nav-links">

                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow LinkedIn</a>
                                            </li>

                                            <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow Twitter</a>
                                            </li>
                                            <li>
                                                <a href="mailto:mike.sapien@ovum.com"
                                                    class="icon-email trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 analyst-view-container">
              <div class="row">
                 <div class="col-lg-12  image ">
                        <div class="analyst-img">
                            <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                        </div>
                 </div>
                 <div class="col-lg-12  content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="meet-anlyst-section">
                                    <div class="anlyst-heading">
                                        <div class="analyst-heading-content">
                                            <div class="analyst-details">
                                                <span class="analyst-type">Analyst</span>
                                                <h4>David Molony</h4>
                                                <h5><span class="designation">Analyst, Principal Analyst,
                                                        Enterprise</span>
                                                    <span class="newco-location">UK</span>
                                                    <span class="experiance">11+ Years Experiance</span>
                                                </h5>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <div class="row discription">
                            <div class="profile-discription">
                            <div class="col-md-12"><strong>Sub content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                            <div class="col-md-12"><strong>main content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                                </div>
                                <div class="col-md-12 meet-anlyst-section">
                                <div class="analyst-footer">
                                    <div class="analyst-footer-content clearfix">

                                        <ul class="nav-links">

                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow LinkedIn</a>
                                            </li>

                                            <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow Twitter</a>
                                            </li>
                                            <li>
                                                <a href="mailto:mike.sapien@ovum.com"
                                                    class="icon-email trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 analyst-view-container">
              <div class="row">
                 <div class="col-lg-12  image ">
                        <div class="analyst-img">
                            <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                        </div>
                 </div>
                 <div class="col-lg-12  content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="meet-anlyst-section">
                                    <div class="anlyst-heading">
                                        <div class="analyst-heading-content">
                                            <div class="analyst-details">
                                                <span class="analyst-type">Analyst</span>
                                                <h4>David Molony</h4>
                                                <h5><span class="designation">Analyst, Principal Analyst,
                                                        Enterprise</span>
                                                    <span class="newco-location">UK</span>
                                                    <span class="experiance">11+ Years Experiance</span>
                                                </h5>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <div class="row discription">
                            <div class="profile-discription">
                            <div class="col-md-12"><strong>Sub content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                            <div class="col-md-12"><strong>main content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                                </div>
                                <div class="col-md-12 meet-anlyst-section">
                                <div class="analyst-footer">
                                    <div class="analyst-footer-content clearfix">

                                        <ul class="nav-links">

                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow LinkedIn</a>
                                            </li>

                                            <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow Twitter</a>
                                            </li>
                                            <li>
                                                <a href="mailto:mike.sapien@ovum.com"
                                                    class="icon-email trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 analyst-view-container">
              <div class="row">
                 <div class="col-lg-12  image ">
                        <div class="analyst-img">
                            <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                        </div>
                 </div>
                 <div class="col-lg-12  content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="meet-anlyst-section">
                                    <div class="anlyst-heading">
                                        <div class="analyst-heading-content">
                                            <div class="analyst-details">
                                                <span class="analyst-type">Analyst</span>
                                                <h4>David Molony</h4>
                                                <h5><span class="designation">Analyst, Principal Analyst,
                                                        Enterprise</span>
                                                    <span class="newco-location">UK</span>
                                                    <span class="experiance">11+ Years Experiance</span>
                                                </h5>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <div class="row discription">
                            <div class="profile-discription">
                            <div class="col-md-12"><strong>Sub content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                            <div class="col-md-12"><strong>main content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                                </div>
                                <div class="col-md-12 meet-anlyst-section">
                                <div class="analyst-footer">
                                    <div class="analyst-footer-content clearfix">

                                        <ul class="nav-links">

                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow LinkedIn</a>
                                            </li>

                                            <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow Twitter</a>
                                            </li>
                                            <li>
                                                <a href="mailto:mike.sapien@ovum.com"
                                                    class="icon-email trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 analyst-view-container">
              <div class="row">
                 <div class="col-lg-12  image ">
                        <div class="analyst-img">
                            <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                        </div>
                 </div>
                 <div class="col-lg-12  content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="meet-anlyst-section">
                                    <div class="anlyst-heading">
                                        <div class="analyst-heading-content">
                                            <div class="analyst-details">
                                                <span class="analyst-type">Analyst</span>
                                                <h4>David Molony</h4>
                                                <h5><span class="designation">Analyst, Principal Analyst,
                                                        Enterprise</span>
                                                    <span class="newco-location">UK</span>
                                                    <span class="experiance">11+ Years Experiance</span>
                                                </h5>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <div class="row discription">
                            <div class="profile-discription">
                            <div class="col-md-12"><strong>Sub content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                            <div class="col-md-12"><strong>main content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                                </div>
                                <div class="col-md-12 meet-anlyst-section">
                                <div class="analyst-footer">
                                    <div class="analyst-footer-content clearfix">

                                        <ul class="nav-links">

                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow LinkedIn</a>
                                            </li>

                                            <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow Twitter</a>
                                            </li>
                                            <li>
                                                <a href="mailto:mike.sapien@ovum.com"
                                                    class="icon-email trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 analyst-view-container">
              <div class="row">
                 <div class="col-lg-12  image ">
                        <div class="analyst-img">
                            <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                        </div>
                 </div>
                 <div class="col-lg-12  content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="meet-anlyst-section">
                                    <div class="anlyst-heading">
                                        <div class="analyst-heading-content">
                                            <div class="analyst-details">
                                                <span class="analyst-type">Analyst</span>
                                                <h4>David Molony</h4>
                                                <h5><span class="designation">Analyst, Principal Analyst,
                                                        Enterprise</span>
                                                    <span class="newco-location">UK</span>
                                                    <span class="experiance">11+ Years Experiance</span>
                                                </h5>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <div class="row discription">
                            <div class="profile-discription">
                            <div class="col-md-12"><strong>Sub content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                            <div class="col-md-12"><strong>main content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                                </div>
                                <div class="col-md-12 meet-anlyst-section">
                                <div class="analyst-footer">
                                    <div class="analyst-footer-content clearfix">

                                        <ul class="nav-links">

                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow LinkedIn</a>
                                            </li>

                                            <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow Twitter</a>
                                            </li>
                                            <li>
                                                <a href="mailto:mike.sapien@ovum.com"
                                                    class="icon-email trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 analyst-view-container">
              <div class="row">
                 <div class="col-lg-12  image ">
                        <div class="analyst-img">
                            <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                        </div>
                 </div>
                 <div class="col-lg-12  content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="meet-anlyst-section">
                                    <div class="anlyst-heading">
                                        <div class="analyst-heading-content">
                                            <div class="analyst-details">
                                                <span class="analyst-type">Analyst</span>
                                                <h4>David Molony</h4>
                                                <h5><span class="designation">Analyst, Principal Analyst,
                                                        Enterprise</span>
                                                    <span class="newco-location">UK</span>
                                                    <span class="experiance">11+ Years Experiance</span>
                                                </h5>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <div class="row discription">
                            <div class="profile-discription">
                            <div class="col-md-12"><strong>Sub content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                            <div class="col-md-12"><strong>main content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                                </div>
                                <div class="col-md-12 meet-anlyst-section">
                                <div class="analyst-footer">
                                    <div class="analyst-footer-content clearfix">

                                        <ul class="nav-links">

                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow LinkedIn</a>
                                            </li>

                                            <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow Twitter</a>
                                            </li>
                                            <li>
                                                <a href="mailto:mike.sapien@ovum.com"
                                                    class="icon-email trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 analyst-view-container">
              <div class="row">
                 <div class="col-lg-12  image ">
                        <div class="analyst-img">
                            <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                        </div>
                 </div>
                 <div class="col-lg-12  content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="meet-anlyst-section">
                                    <div class="anlyst-heading">
                                        <div class="analyst-heading-content">
                                            <div class="analyst-details">
                                                <span class="analyst-type">Analyst</span>
                                                <h4>David Molony</h4>
                                                <h5><span class="designation">Analyst, Principal Analyst,
                                                        Enterprise</span>
                                                    <span class="newco-location">UK</span>
                                                    <span class="experiance">11+ Years Experiance</span>
                                                </h5>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        <div class="row discription">
                            <div class="profile-discription">
                            <div class="col-md-12"><strong>Sub content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                            <div class="col-md-12"><strong>main content</strong> simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s,</div>
                                </div>
                                <div class="col-md-12 meet-anlyst-section">
                                <div class="analyst-footer">
                                    <div class="analyst-footer-content clearfix">

                                        <ul class="nav-links">

                                            <li>
                                                <a class="addthis_button_linkedin_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow LinkedIn</a>
                                            </li>

                                            <li>
                                                <a class="addthis_button_twitter_follow trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116"
                                                    addthis:userid="mikesapien">Follow Twitter</a>
                                            </li>
                                            <li>
                                                <a href="mailto:mike.sapien@ovum.com"
                                                    class="icon-email trigger-sc-event"
                                                    data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                            </li>


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
            </div>

        </div>
    </div>
</section>
<section class="analyst-views newco-analyst-views">
        <div class="container">
          <div class="row analyst-view-container">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 image ">
                  <div class="analyst-img">
                        <img src="../tmp/Static/images/tmt-newco/images/analyst-list/user.png" alt="Wally Swain">
                  </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 content">
                  <div class="row">
                      <div class="col-md-9">
                          <div class="meet-anlyst-section">
                                        <div class="anlyst-heading">
                                            <div class="analyst-heading-content">
                                                 <div class="analyst-details">
                                                    <span class="analyst-type">Analyst</span>
                                                    <h4>David Molony</h4>
                                                    <h5><span class="designation">Analyst, Principal Analyst, Enterprise</span> 
                                                        <span class="newco-location">UK</span>
                                                        <span class="experiance">11+ Years Experiance</span>
                                                        </h5>
                                                    
                                                </div>
                                                    
                                            </div>
                                        </div>
                                       
                                        
                                    </div>
                      </div>
                      <div class="col-md-3 meet-anlyst-section">
                          <div class="analyst-footer">
                            <div class="analyst-footer-content clearfix">

                                 <ul class="nav-links">

                                                        <li>
                                                            <a class="addthis_button_linkedin_follow trigger-sc-event" data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116" addthis:userid="mikesapien">Follow LinkedIn</a>
                                                        </li>

                                                        <li>
                                                            <a class="addthis_button_twitter_follow trigger-sc-event" data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116" addthis:userid="mikesapien">Follow Twitter</a>
                                                        </li>
                                                                                                            <li>
                                                            <a href="mailto:mike.sapien@ovum.com" class="icon-email trigger-sc-event" data-goal-id="715A59A2-A9FC-44E0-B4AF-8A960F2A5116">Send Email</a>
                                                        </li>


                                                </ul>

                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="row discription">
              <div class="col-md-12"><strong>Sub content</strong> simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
              <div class="col-md-12"><strong>main content</strong> simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</div>
          </div>
              </div>
          </div>
          
        </div>
    </section>

