{{!-- <header id="tech-main-header">
    <div id="cookieBanner" class="cookieBanner">
        <input type="hidden" value="12" class="cookieDuration" />
        <a href="#" class="close"><span class="access-link">Close Icon</span><span class="icon-close"></span></a>
        <p>In order to deliver a personalized, responsive service and to improve the site, we remember and store
            information about how you use it. This is done using simple text files called cookies which sit on your
            computer. By continuing to use this site and access its features, you are consenting to our use of cookies.
            To find out more about the way Informa uses cookies please go to our <a
                href="https://pharmaintelligence.informa.com/cookies/" target="_blank">Cookie Policy</a> page.</p>
    </div>
    
    <section class="informaNav">
        <div class="navbar navbar-inverse nav-head mobileNavigation">
            <div class="container">
                <a class="navbar-brand logo-bar" href="#">
                    <img class="logo-img-small" src="cms-images/tech/tech-logo.png" class="img-responsive">
                    <img class="logo-img-big local-logo-img-big" src="cms-images/tech/tech-logo.png" class="img-responsive">
                </a>
                <div class="nav-main mainNavigation techNavigation" id="mainNavigation">                    
                    <div class="row">
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav nav-right">
                                    <li class="stick-img">
                                        <a href="javascript:void(0)">
                                            <img class="logo-img-small" src="cms-images/logo-partial.png">
                                        </a>
                                    </li>
                                    <li class="nav-links">
                                        <a href="javascript:void(0)" data-subnav="sectorsproducts">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            About                                            
                                        </a>
                                    </li>
                                    <li class="nav-links">
                                        <a href="javascript:void(0)" data-subnav="services">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Solutions
                                        </a>
                                    </li>
                                    <li class="nav-links">
                                        <a href="javascript:void(0)" data-subnav="freecontent">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Segments
                                        </a>
                                    </li>
                                    <li class="nav-links">
                                        <a href="javascript:void(0)" data-subnav="aboutus">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Brands
                                        </a>
                                    </li>
                                    <li class="nav-links">
                                        <a href="http://www.google.com" data-subnav="support">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <div id="product-finder-section" class="product-finder inactive" data-product="true" data-search="false">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="form" method="post" action="#">
                        <fieldset>
                            <legend>Product Finder</legend>
                            <ul class="search-options">
                                <li>
                                    <span class="custom-radio">
                                        <label for="SiteSearch" class="label">
                                            <input type="radio" class="custom-radio" checked="checked"
                                                name="ProductFinder" id="SiteSearch" data-show="site-search"
                                                value="sitesearch" />
                                            <span>Search site</span>
                                        </label>
                                    </span>
                                    <span class="custom-radio">
                                        <label for="ProductSearch" class="label">
                                            <input type="radio" class="custom-radio" name="ProductFinder"
                                                id="ProductSearch" data-show="sector-search" value="productsearch" />
                                            <span>Find Product &amp; services</span>
                                        </label>
                                    </span>
                                </li>
                                <li>
                                    <a href="#" class="close-finder"><span class="icon-close"><span
                                                class="access-link">Close Icon</span></span></a>
                                </li>
                            </ul>
                            <ul class="site-search searchToggle">
                                <li class="menu">
                                    <div class="textbox">
                                        <label for="searchField">
                                            Search Here
                                            <input type="text" placeholder="Enter keyword" id="searchField"
                                                name="searchtext" />
                                        </label>
                                    </div>
                                </li>
                                <li class="button disabled">
                                    <button type="submit" class="btn btn-primary"
                                        data-submit="sector-search">Go</button>
                                </li>
                            </ul>
                            <ul class="sector-search searchToggle">
                                <li class="menu">
                                    <label for="sector-list" class="label-text">Sector:</label>
                                    <div class="custom-multiselect">
                                        <select id="sector-list" name="Sectors" class="Sector" multiple="multiple"
                                            data-placeholder="Please Select">
                                            <option value="sector1">Commodities</option>
                                            <option value="sector2">Crop protection</option>
                                            <option value="sector3">Diary Products</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="menu disabled">
                                    <label for="sub-sector-list" class="label-text">Needs:</label>
                                    <div class="custom-multiselect">
                                        <select id="sub-sector-list" name="SubSectors" class="SubSector"
                                            disabled="disabled" multiple="multiple" data-placeholder="Please Select">
                                            <option value="subsector1">Diary</option>
                                            <option value="subsector2">Meats</option>
                                            <option value="subsector3">Electronics</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="menu button">
                                    <button type="submit" class="btn btn-primary"
                                        data-submit="sector-search">Go</button>
                                </li>
                            </ul>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="mobile-header-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 nav-back">
                    <a href="#"><span class="icon-arrow-left"><span class="access-link">Left Arrow
                                Icon</span></span></a>
                </div>
                <div class="col-xs-8 nav-subnav-heading">
                </div>
                <div class="col-xs-2 nav-close">
                    <a href="javascript:void(0)" class=""><span class="icon icon-close"><span class="access-link">Close
                                Icon</span></span></a>
                </div>
            </div>
        </div>
    </div>
</header> --}}

<header id="tech-main-header">
    <div class="menu_area_header">
        <div class="container">
            <header>
                <nav id="cssmenu">
                    <div class="logo">
                        <a href="http://local.informabi.com/" class="navbar-brand">
                            <img src="cms-images/tech/tech-logo.png" class="logo-img-big" alt="" width="280"
                                height="78">
                        </a>
                    </div>
                    <div id="head-mobile"></div>
                    <div class="button"></div>
                    <ul class="menu_area_ul">
                        <li class="">
                            <a href="http://local.informabi.com/#"><i class="fa fa-plus" aria-hidden="true"></i>
                                About</a>
                            <ul class="">
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Our History
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="http://local.informabi.com/">
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Test
                                            </a>
                                            <ul>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Management Team
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Our Office
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="http://local.informabi.com/">
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Test2
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="http://local.informabi.com/">
                                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Test3
                                                    </a>
                                                    <ul>
                                                        <li>
                                                            <a href="http://local.informabi.com/">
                                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                                Test5
                                                            </a>
                                                            <ul>
                                                                <li>
                                                                    <a href="http://local.informabi.com/">
                                                                        <i class="fa fa-arrow-right"
                                                                            aria-hidden="true"></i> Test7
                                                                    </a>
                                                                    <ul>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Why Informa Tech?
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Work at Informa Tech
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li class="">
                            <a href="http://local.informabi.com/#"><i class="fa fa-plus" aria-hidden="true"></i>
                                Brands</a>

                            <ul class="">

                            </ul>

                        </li>
                        <li class="">
                            <a href="http://local.informabi.com/#"><i class="fa fa-plus" aria-hidden="true"></i>
                                Contact</a>

                            <ul class="">
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Event Inquiries
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> General Inquiries
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Media Inquiries
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Research Inquiries
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Social Channels
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> TrainingInquiries
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="http://local.informabi.com/#"><i class="fa fa-plus" aria-hidden="true"></i>
                                Segments</a>

                            <ul class="">
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Critical Communications
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Emerging Technologies
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Enterprise IT
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Marketing Technologies
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Media &amp; Entertainment
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Security
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Service Provider
                                    </a>
                                    <ul>
                                    </ul>

                                </li>
                            </ul>

                        </li>
                        <li class="">
                            <a href="http://local.informabi.com/#"><i class="fa fa-plus" aria-hidden="true"></i>
                                Solutions</a>

                            <ul class="">
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Event
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Media
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Research
                                    </a>
                                    <ul>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://local.informabi.com/">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Training
                                    </a>
                                    <ul>
                                    </ul>

                                </li>
                            </ul>

                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</header>

<script>
        //script for header menus

        (function ($) {
            $.fn.menumaker = function (options) {
                var cssmenu = $(this), settings = $.extend({
                    format: "dropdown",
                    sticky: false
                }, options);
                return this.each(function () {
                    $(this).find(".button").on('click', function () {
                        $(this).toggleClass('menu-opened');
                        var mainmenu = $(this).next('ul');
                        if (mainmenu.hasClass('open')) {
                            mainmenu.slideToggle().removeClass('open');
                        }
                        else {
                            mainmenu.slideToggle().addClass('open');
                            if (settings.format === "dropdown") {
                                mainmenu.find('ul').show();
                            }
                        }
                    });
                    cssmenu.find('li ul').parent().addClass('has-sub');
                    multiTg = function () {
                        cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
                        cssmenu.find('.submenu-button').on('click', function () {
                            $(this).toggleClass('submenu-opened');
                            if ($(this).siblings('ul').hasClass('open')) {
                                $(this).siblings('ul').removeClass('open').slideToggle();
                            }
                            else {
                                $(this).siblings('ul').addClass('open').slideToggle();
                            }
                        });
                    };
                    if (settings.format === 'multitoggle') multiTg();
                    else cssmenu.addClass('dropdown');
                    if (settings.sticky === true) cssmenu.css('position', 'fixed');
                    resizeFix = function () {
                        var mediasize = 1000;
                        if ($(window).width() > mediasize) {
                            cssmenu.find('ul').show();
                        }
                        if ($(window).width() <= mediasize) {
                            cssmenu.find('ul').hide().removeClass('open');
                        }
                    };
                    resizeFix();
                    return $(window).on('resize', resizeFix);
                });
            };
        })(jQuery);

        (function ($) {
            $(document).ready(function () {
                $("#cssmenu").menumaker({
                    format: "multitoggle"
                });
            });
        })(jQuery);

    </script>