<section class="support-page-tabs">
    <div class="container">
      <ul class="nav nav-tabs text-center">
          <li class="tabs-box">
            <a  href="#new" data-toggle="tab">Overview</a>
          </li>
          <li class="tabs-box">
            <a href="#existing" data-toggle="tab">Using nav-pills</a>
          </li>
      </ul>
    </div>
    <div class="tab-content clearfix">
      <div class="tab-pane" id="new">
        <h3>Content's background color is the same for the tab</h3>
      </div>
      <div class="tab-pane" id="existing">
        <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
      </div>
    </div>
</section>
