<section class="support-page-tabs">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <ul class="nav nav-tabs text-center" data-tabs="tabs">
                  <li class="active first-list tabs-box"><a data-toggle="tab" href="#New">New customer</a></li>
                  <li class="tabs-box"><a data-toggle="tab" href="#Existing">Existing customer</a></li>
              </ul>
              <div class="tab-content">
                  <div id="New" class="tab-pane fade in active">
                    <h3>New</h3>
                    <p>Some content.</p>
                  </div>
                  <div id="Existing" class="tab-pane fade">
                    <h3>Existing</h3>
                    <p>Some content in menu 1.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
