<!--divisional plus marketing -->
<div class="divisional-footer orange">
    <div class="divisional-footer-container">
        <div class="alternate">
            <div class="row">
            <div class="col-md-5 discover">
                <div class="heading">discover more from informa tech</div>
                <ul class="list-inline">
                    <li><a href="#">Brand Website Name 01</a></li>
                    <li><a href="#">Brand Website Name 02</a></li>
                    <li><a href="#">Brand Website Name 03</a></li>
                    <li><a href="#">Brand Website Name 04</a></li>
                    <li><a href="#">Brand Website Name 05</a></li>
                    <li><a href="#">Brand Website Name 06</a></li>
                </ul>

            </div>
            <div class="col-md-2 working">
                <div class="heading">Working with us</div>
                <ul class="list-inline">
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Advertisers/Exbitors</a></li>
                    <li><a href="">Aditional Links</a></li>
                </ul>
            </div>
            <div class="col-md-5 brand-name">
                <div class="heading">follow <brandname> on social </div>
                <ul class="list-inline social-icon">
                     <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fas fa-rss"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            </div>
            
        
        </div>
        
    </div>
</div>

<div class="divisional-footer">
    <div class="divisional-footer-container">
        <div class="row footer-icons marketing">
            <div class="col-md-6 logo">
                <img src="cms-images/divisional-footer/logo.png" alt="tech-logo">
            </div>

            <div class="col-md-6 links">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Event Calender</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="row privacy-policy marketing">
            <div class="col-md-12">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
        </div>
        
        
    </div>
</div>