.rte-custom-table {
	padding: 40px 0 100px;
	@include mobile {
		padding: 20px 0 60px;
	}
	h1 {
		color: $rte-h1-gray-draker;
		font-size: 24px;
		line-height: 25px;
		font-family: FSMe-Light;
		margin-bottom: 20px;
		@include mobile {
			margin-bottom: 10px;
		}
		strong {
			text-align: right;
			color: $font-color;
			font-size: 14px;
			float: right;
			font-weight: normal;
			font-family: FSMe-bold;
			@include mobile {
				display: block;
				float: none;
				text-align: left;
			}
		}
	}
	.table-responsive {
		table.table {
			width: 100%;
			tr:nth-of-type(even) {
				background-color: $sitemap-light-gray;
			}
			tr:first-child td:first-child {
				font-weight: 700;
				color: $sitemap-main-gray;
			}
			tr:first-child td {
				background: $rte-thead-blue-draker;
				color: #fff;
				line-height: 30px;
				border-top: none;
				border-bottom: 1px solid $rte-b-btm-gray-light;
				padding: 14px 10px;
				font-weight: 700;
				&:before {
					content: '';
					border-left: 1px solid $rte-txt-border-gray-lightest;
					height: 5px;
					width: 1px;
					margin-right: 10px;
					@include mobile {
						display: none;
					}
				}
				&:first-child:before {
					display: none;
				}
			}
			td {
				line-height: 30px;
				border-top: none;
				border-bottom: 1px solid $rte-b-btm-gray-light;
				padding: 10px;
				font-size: 14px;
				.rteTable-rightText {
					display: block;
					width: 75%;
					float: right;
					@include tablet {
						width: 70%;
					}
				}
				&:before {
					content: '';
					border-left: 1px solid $rte-txt-border-gray-lightest;
					height: 5px;
					width: 1px;
					margin-right: 10px;
					@include mobile {
						display: none;
					}
				}
				&:first-child {
					font-weight: 700;
				}
				&:first-child:before {
					display: none;
				}
			}
		}
		@include mobile {
			display: none;
		}
	}
	.responsiveTable {
		display: none;
		@include mobile {
			display: block;
		}
		.mobileTable {
			background-color: $sitemap-light-gray;
			border-bottom: 1px solid $rte-b-btm-gray-light;
			width: 100%;
			margin-bottom: 20px;
			tr:first-child td {
				background: $rte-thead-blue-draker;
				color: $light;
				font-size: 16px;
			}
			td {
				line-height: 30px;
				color: $sitemap-main-gray;
				padding: 14px 10px;
				font-size: 14px;
				.rteTable-rightText {
					display: inline-block;
					width: 50%;
					float: right;
					font-size: 14px;
				}
			}
		}
	}
}
