.rte-custom-table {
	padding: 0 0 100px;
	@include mobile {
		padding: 0 0 60px;
	}
	h2 {
		color: $rte-h1-gray-draker;
		font-size: 24px;
		line-height: 25px;
		font-weight: 200;
		margin-bottom: 25px;
		padding-bottom: 0 !important;
		strong {
			text-align: right;
			color: $grey-color05;
			font-size: 14px;
			float: right;
			font-weight: bold;
			@include mobile {
				display: block;
				float: none;
				margin-bottom: 20px;
				text-align: left;
			}
		}
	}
	.table-responsive {
		table.table {
			width: 100%;
			tr:nth-of-type(even) {
				background-color: $grey-color10;
			}
			tr:first-child td:first-child {
				font-weight: 700;
				color: $white;
			}
			tr:first-child td {
				background: $rte-thead-blue-draker;
				color: #fff;
				line-height: 30px;
				border-top: none;
				border-bottom: 1px solid $rte-b-btm-gray-light;
				padding: 10px;
				font-weight: 700;
				&:before {
					content: '';
					border-left: 1px solid $rte-txt-border-gray-lightest;
					height: 5px;
					width: 1px;
					margin-right: 10px;
					@include mobile {
						display: none;
					}
				}
				&:first-child:before {
					display: none;
				}
			}
			td {
				line-height: 30px;
				border-top: none;
				border-bottom: 1px solid $rte-b-btm-gray-light;
				padding: 10px;
				font-size: 14px;
				vertical-align: middle;
				color: $grey-color05;
				.rteTable-rightText {
					display: block;
					width: 75%;
					float: right;
					@include tablet {
						width: 70%;
					}
				}
				&:before {
					content: '';
					border-left: 1px solid $rte-txt-border-gray-lightest;
					height: 5px;
					width: 1px;
					margin-right: 10px;
					@include mobile {
						display: none;
					}
				}
				&:first-child {
					font-weight: 700;
					color: $grey-color03;
				}
				&:first-child:before {
					display: none;
				}
			}
		}
		@include mobile {
			display: none;
		}
	}
	.responsiveTable {
		display: none;
		@include mobile {
			display: block;
		}
		table.table {
				tr{
				background-color: $grey-color10;
				border-bottom: 1px solid $rte-b-btm-gray-light;
				width: 100%;
				margin-bottom: 25px;
    		display: block;
				td {
					color: $grey-color05;
					padding: 12px 10px;
					font-size: 14px;
					background-color: $grey-color10;
					border-top: none;
					display: block;
					vertical-align: middle;
					&:first-child{
						font-weight: 700;
						background: $rte-thead-blue-draker;
						color: $light;
						font-size: 16px;
					}
					.rteValues{
						width: 50%;
				    display: inline-block;
						vertical-align: middle;
						color: $grey-color05;
					}
					.rteTitles {
				    width: 50%;
				    display: inline-block;
						color: $grey-color05;
						.rteValues{
							width: 100%;
						}
					}
					.rteTable-rightText {
						display: inline-block;
						margin-left: 30px;
						font-size: 14px;
					}
				}
			}
		}
	}
}
