<input
type="hidden"
class="initialize-swanimate"
value='
[{ "itemidentifier": "left-wrapper", "data-swanimate-type": "slidein", "data-swanimate-direction": "left", "data-swanimate-delay": 20 },
 { "itemidentifier": "right-wrapper", "data-swanimate-type": "slidein", "data-swanimate-direction": "right", "data-swanimate-delay": 80 },
 { "itemidentifier": "pro-stats-center", "data-swanimate-type": "slidein", "data-swanimate-direction": "down", "data-swanimate-delay": 40 },
 { "itemidentifier": "center-image", "data-swanimate-type": "fadein", "data-swanimate-direction": "down", "data-swanimate-delay": 60 }]
' />

<!--START PRODUCT STATS SECTION-->
<section class="container-fluid pro-stats-background">

    <div class="row">

        <div class="col-md-12">

            <div class="inf-pro-stats-section">

                <div class="row">

                    <!--START 1ST COLUMN-->
                    <div class="col-md-5 col-lg-4">

                        <div class="pro-stats-left">

                            <div class="left-wrapper">

                                <img class="left-hand" src="./Static/images/left-hand.png" alt="" />

                                <h3>
                                    PHARMA BREXIT & IMPLICATIONS
                                </h3>

                                <div class="content-box">
                                    
                                    <div class="heading-wrapper"> 
                                        
                                        <div class="icon">
                                            <img src="./Static/images/lens.png" alt="" /> 
                                        </div>

                                        <div class="heading">
                                            Difference in this coverage vs. Medtech
                                        </div>

                                    </div>

                                    <div class="content"> 
                                        
                                        Pink: Outlook for regulation and trade, particularly beginning of negotiations on the future relationship between UK and EU
                                        and talks on a trade deal with the US.

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <!--END 1ST COLUMN-->

                    <!--START 2ND COLUMN-->
                    <div class="col-md-2 col-lg-4 hidden-xs hidden-sm">

                        <div class="pro-stats-center">
                            <img class="center-image" src="./Static/images/alarm-clock.png" alt="" />
                        </div>

                    </div>
                    <!--END 2ND COLUMN-->

                    <!--START 3RD COLUMN-->
                    <div class="col-md-5 col-lg-4">

                        <div class="pro-stats-right">

                            <div class="right-wrapper">

                                <img class="right-hand" src="./Static/images/right-hand.png" alt="" />

                                <h3>
                                    medtech brexit & implications
                                </h3>

                                <div class="content-box">
                                    
                                    <div class="heading-wrapper"> 
                                        
                                        <div class="icon">
                                            <img src="./Static/images/lens.png" alt="" /> 
                                        </div>

                                        <div class="heading">
                                            Difference in this coverage vs. Medtech
                                        </div>

                                    </div>

                                    <div class="content"> 
                                        
                                        Pink: Outlook for regulation and trade, particularly beginning of negotiations on the future relationship between UK and EU
                                        and talks on a trade deal with the US.

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <!--END 3RD COLUMN-->

                </div>

            </div>

        </div>

    </div>

</section>