section.training-section{
	background-color: white;
	padding: 0 50px;
	@include mobile {
		padding: 0px;
	}
	.training-material{

		h2 {
			padding-bottom: 25px;
		}
		h3 {
			margin-top: 20px;
			@include family-style(normal,$grey-color05);
        	@include heading-font-size(24px,18px,18px);
        	@include heading-line-height(30px,26px,26px);
		}
		.carousel-lists .slick-list{
			border-right: none;
		}
		.container {
			padding: 15px;
		}

		.video-container{
			padding: 10px;
			img{
				height: 220px;
			}
			.video-wrap{
				display: block;
			}
			// h3{
			// 	font-weight: bold;
			// }
		}
		.btn{
			width: auto;
			width: initial;
			@include mobile {
				width: 100%;
			}
		}
			 .carousel-lists {
 			    .slick-list {
 			        border-right: none;
 			    }
 			    .slick-arrow {
 			        height: 60px;
 			        width: 40px;
 			        z-index: 1;
 			        background-color: $yellow;
 			        top: 50%;
 			        @include mobile {
 			            height: 40px;
 			            width: 20px;
 			            margin-top: -20px;
 			            margin-left: -20px;
 			        }
 			        @include tablet {
 			            height: 40px;
 			            width: 25px;
 			            margin-top: -20px;
 			            margin-left: -25px;
 			        }
 			        &:before {
 			            font-family: 'InformaIcons';
 			            position: absolute;
 			            font-size: 26px;
 			            opacity: 1;
 			            top: 50%;
 			            left: 50%;
 			            margin-top: -13px;
 			            margin-left: -13px;
 			            @include mobile {
 			                font-size: 14px;
 			                margin-top: -7px;
 			                margin-left: -7px;
 			            }
 			            @include tablet {
 			                font-size: 16px;
 			                margin-top: -8px;
 			                margin-left: -8px;
 			            }
 			        }
 			    }
 			    .slick-next {
 			        left: 98%;
 			        margin-left: 0;
							top: 121px;
 			        &:before {
 			            content: "\e902";
 			        }
							@include mobile {
								left: 94%;
	 			        margin-left: 0;
								top: 140px
							}
							@include tablet {
								left: 97%;
								top: 145px;
								//margin-left:-25px;
							}
 			    }
 			    .slick-prev {
						left: 2%;
						top: 121px;
 			        @include mobile {
								left: 6%;
								top: 140px;
 			            margin-left:-20px;
 			        }
 			        @include tablet {
								left: 3%;
								top: 145px;
 			          //margin-left:-25px;
 			        }
 			        &:before {
 			            content: "\e903";
 			        }
 			    }
 			    ul.slick-dots {
 			        text-align: center;
 			        width: 100%;
 			        bottom: 0;
 			        position: relative;
 			        z-index: 2;
 			        margin: 15px 0;
 			        li {
 			            height: 10px;
 			            width: 10px;
 			            border-radius: 5px;
 			            border: none;
 			            background: #888e9f;
 			            padding: 0;
 			            &.slick-active {
 			                background: $yellow;
 			            }
 			            button {
 			                display: none;
 			            }
 			        }
 			        @include mobile {
       					display: none !important;
       				}
 			    }
 			}
	}
}
