<section class="hero-banner hero-banner-video hero-banner-carousel" id="hero-banner-carousel">
		   <!-- <div class="hero-banner-wrapper">
		    <div class="container">
		        <div class="row"> -->
		           <!--   --><!-- <div class="col-xs-12"> -->
		           <div class="slider-component hero-banner-slider" id="hero-banner-slider"  data-itemsperframe="1" data-autorotate="false" data-transitionspeed="400" data-dots="true" data-slideduration="4000" data-rtl="false" data-ltr="true">
		           		<div class="hero-items">
		                    <div class="cf-img">
		                        <picture>
		                            <source media="(min-width: 1280px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?w=1600">
		                            <source media="(min-width: 768px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=340">
		                            <source media="(min-width: 320px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=320">
		                            <img srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg" title="" alt="homepage">
		                        </picture>
		            		</div>
	            			<div class="vertical-align hero-video">
				                <div class="videoBG_wrapper">
				                    <div class="container">
				                        <div class="row block-centered">
				                            <article class="col-md-11">
				                                    <h1>Decision making. Connected.</h1>
				                                <p>
				                                </p>
				                            </article>
				                        </div>
				                    </div>
				                </div>
	                    		<div class="videoBG" data-videotype="youtube" data-videourl="https://www.youtube.com/embed/" data-videoid="YRNnTI2s8h4" data-videosound="0"><iframe id="youtubePlayer" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/YRNnTI2s8h4?modestbranding=0&amp;autoplay=1&amp;controls=1&amp;loop=1&amp;wmode=opaque&amp;playlist=YRNnTI2s8h4&amp;showinfo=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fpharmaintelligence.informa.com&amp;widgetid=1"></iframe><script src="https://www.youtube.com/iframe_api"></script></div>
	            			</div>
	            		</div>
	            		<div class="hero-items">
		                    <div class="cf-img">
		                        <picture>
		                            <source media="(min-width: 1280px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?w=1600">
		                            <source media="(min-width: 768px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=340">
		                            <source media="(min-width: 320px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=320">
		                            <img srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg" title="" alt="homepage">
		                        </picture>
		            		</div>
	            			<div class="vertical-align hero-video">
				                <div class="videoBG_wrapper">
				                    <div class="container">
				                        <div class="row block-centered">
				                            <article class="col-md-11">
				                                    <h1>Decision making. Connected.</h1>
				                                <p>
				                                </p>
				                            </article>
				                        </div>
				                    </div>
				                </div>
	                    		<div class="videoBG" data-videotype="youtube" data-videourl="https://www.youtube.com/embed/" data-videoid="YRNnTI2s8h4" data-videosound="0"><iframe id="youtubePlayer" frameborder="0" allowfullscreen="1" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/YRNnTI2s8h4?modestbranding=0&amp;autoplay=1&amp;controls=1&amp;loop=1&amp;wmode=opaque&amp;playlist=YRNnTI2s8h4&amp;showinfo=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fpharmaintelligence.informa.com&amp;widgetid=1"></iframe><script src="https://www.youtube.com/iframe_api"></script></div>
	            			</div>
	            		</div>
			        </div>
		            <!-- </div> -->
		        <!-- </div>
		    </div>
		    </div> -->
</section>
