<script src="https://player.vimeo.com/api/player.js"></script>
<script src="http://fast.wistia.com/static/concat/E-v1.js"></script>
<!-- <script src="http://cdn.jsdelivr.net/jquery.slick/latest/slick.min.js" type="text/javascript"></script> -->
<section class="hero-banner hero-banner-video hero-banner-carousel" id="hero-banner-carousel">
           <!-- <div class="hero-banner-wrapper">
            <div class="container">
                <div class="row"> -->
                   <!--   --><!-- <div class="col-xs-12"> -->
                   <div class="slider-component hero-banner-slider" id="hero-banner-slider"  data-itemsperframe="1" data-autorotate="false" data-transitionspeed="400" data-dots="true" data-slideduration="4000" data-rtl="false" data-ltr="true">
                        <div class="hero-items">
                            <div class="cf-img">
                                <picture>
                                    <source media="(min-width: 1280px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?w=1600">
                                    <source media="(min-width: 768px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=340">
                                    <source media="(min-width: 320px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=320">
                                    <img srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg" title="" alt="homepage">
                                </picture>
                            </div>
                            <div class="vertical-align">
                                <div class="videoBG_wrapper">
                                    <div class="container">
                                        <div class="row block-centered">
                                            <article class="col-md-11">
                                                    <h1>Decision making. Connected.1</h1>
                                                <p>
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="videoBG" data-videotype="youtube" data-videourl="https://www.youtube.com" data-videoid="O-t8pCTO-nU" data-videosound="1"></div>
                            </div>
                        </div>
                        <div class="hero-items">
                            <div class="cf-img">
                                <picture>
                                    <source media="(min-width: 1280px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?w=1600">
                                    <source media="(min-width: 768px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=340">
                                    <source media="(min-width: 320px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=320">
                                    <img srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg" title="" alt="homepage">
                                </picture>
                            </div>
                            <div class="vertical-align">
                                <div class="videoBG_wrapper">
                                    <div class="container">
                                        <div class="row block-centered">
                                            <article class="col-md-11">
                                                    <h1>Decision making. Connected.2</h1>
                                                <p>
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="videoBG" data-videotype="youtube" data-videourl="https://www.youtube.com" data-videoid="M7lc1UVf-VE" data-videosound="1"></div>
                            </div>
                        </div>
                        <div class="hero-items">
                            <div class="cf-img">
                                <picture>
                                    <source media="(min-width: 1280px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?w=1600">
                                    <source media="(min-width: 768px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=340">
                                    <source media="(min-width: 320px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=320">
                                    <img srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg" title="" alt="homepage">
                                </picture>
                            </div>
                            <div class="vertical-align">
                                <div class="videoBG_wrapper">
                                    <div class="container">
                                        <div class="row block-centered">
                                            <article class="col-md-11">
                                                    <h1>Decision making. Connected.1</h1>
                                                <p>
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="videoBG" data-videotype="youtube" data-videourl="https://www.youtube.com" data-videoid="O-t8pCTO-nU" data-videosound="1"></div> -->
                            </div>
                        </div>
                        <div class="hero-items">
                            <div class="cf-img">
                                <picture>
                                    <source media="(min-width: 1280px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?w=1600">
                                    <source media="(min-width: 768px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=340">
                                    <source media="(min-width: 320px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=320">
                                    <img srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg" title="" alt="homepage">
                                </picture>
                            </div>
                            <div class="vertical-align">
                                <div class="videoBG_wrapper">
                                    <div class="container">
                                        <div class="row block-centered">
                                            <article class="col-md-11">
                                                    <h1>Decision making. Connected.1</h1>
                                                <p>
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="videoBG" data-videotype="youtube" data-videourl="https://www.youtube.com" data-videoid="O-t8pCTO-nU" data-videosound="1"></div> -->
                            </div>
                        </div>
                         <div class="hero-items">
                            <div class="cf-img">
                                <picture>
                                    <source media="(min-width: 1280px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?w=1600">
                                    <source media="(min-width: 768px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=340">
                                    <source media="(min-width: 320px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=320">
                                    <img srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg" title="" alt="homepage">
                                </picture>
                            </div>
                            <div class="vertical-align">
                                <div class="videoBG_wrapper">
                                    <div class="container">
                                        <div class="row block-centered">
                                            <article class="col-md-11">
                                                    <h1>Decision making. Connected.1</h1>
                                                <p>
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="videoBG" data-videotype="youtube" data-videourl="https://www.youtube.com" data-videoid="O-t8pCTO-nU" data-videosound="1"></div>
                            </div>
                        </div>
                        <div class="hero-items">
                            <div class="cf-img">
                                <picture>
                                    <source media="(min-width: 1280px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?w=1600">
                                    <source media="(min-width: 768px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=340">
                                    <source media="(min-width: 320px)" srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg?h=320">
                                    <img srcset="https://pharmaintelligence.informa.com//~/media/Informa-Shop-Window/Pharma/Images/Hero-Banners/homepage-pharma-image.jpg" title="" alt="homepage">
                                </picture>
                            </div>
                            <div class="vertical-align">
                                <div class="videoBG_wrapper">
                                    <div class="container">
                                        <div class="row block-centered">
                                            <article class="col-md-11">
                                                    <h1>Decision making. Connected.2</h1>
                                                <p>
                                                </p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="videoBG" data-videotype="youtube" data-videourl="https://www.youtube.com" data-videoid="M7lc1UVf-VE" data-videosound="1"></div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                <!-- </div>
            </div>
            </div> -->
</section>
