<section id="tech-banner">
    <div class="container">
        <div class="row">
            <div class="cf-img">
                <img src="cms-images/banner-images/hero-banner.png" class="img-responsive" alt="" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 tech-align-center">
                <h1>{{title}}</h1>
                <div class="subtext">{{subtext}}</div>
                <div class="row cta">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <a class="cta1 tech-btn-large">{{cta1}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>