<section id="banner" class="hero-banner-texture dark-banner-subscribe">
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
		<div class="container">
				<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8">
							<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
												<h1 class="h1-styles">Analysis: Will Brazilian corn prices drop?</h1>
										</div>
											<div class="col-md-12">
												<span class="description">08.04.2016 <strong class="subtext"> By Nick Hughes, Catherine Morgan</strong></span>
											</div>
											<div class="col-xs-12 provided">
													<span class="description">Provided by</span>
													<span class="subtext">The Public Ledger</span>
											</div>
									</div>
									<div class="row">
											<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
													<a class="cta2 btn semi-trans try-stick">Get a free trail</a>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
													<a class="cta1 btn solid orange subscribe-stick">Subscribe</a>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
															<a href="" class="share">Share</a>
											</div>
									</div>
							</div>
						</div>
				</div>
		</div>
</section>