section#about-us-description{
  padding-top: 40px;
  height: auto;
  background: $white;
  //overflow: hidden;
  .description{
    font-family: FSMe-Light;
    font-size: 24px;
    margin: 0 0 10px 0;
    line-height: 32px;
  }
}
