section#about-us-description{
  padding-top: 40px;
  height: auto;
  background: $white;
  //overflow: hidden;
  .description{
    font-weight: 200;
    //font-size: 24px;
    margin: 0 0 10px 0;
    line-height: 32px;
    p{
      margin: 0;
    }
    h3{
      padding: 30px 0;
    }
    img {
      //@include mobile {
      //  height: 20% !important;
      //  width: 100% !important;
      //}
      //@include tablet {
      //  height: 20% !important;
      //  width: 100% !important;
      //}
      padding-bottom: 25px;
      //height: 20% !important;
      //width: 100% !important;
    }
  }
}
