---
layout: main-layout-tmt-newco.hbs
---
<div class="product-detail-page">
    {{>hero-banner-test}}
    {{>pdp-navigation}}
    {{>pdp-feature-list-pharma pdp-feature-list}}
    {{>pdp-feature-list-aboutus pdp-feature-aboutus}}
    {{>pdp-market-focus pdp-market-focus}}
    {{>pdp-customer-quote pdp-customer-quote}}
    {{>analyst-profile-events analyst-profile-events}}
    {{>pdp-analyst analyst}}
    {{>faqs faqs}}
    {{>training-material}}
    {{>home-agri-report}}
 </div>
