section#sectorpage-strengths{
      .main-div{
        position: relative;
        img{
          display: block;
        }
        .yellow-div{
          position: absolute;
          top: 30%;
          height: 100px;
          background: yellow;
        }
      }
}
