.sectorpage-strengths{
  background: #F6F6F7;
      .main-container{
        position: relative;
      }
      .yellow-container{
        position: absolute;
        top: 50%;
        height: 50%;
        width: 100%;
        padding: 0% 15% 3% 2%;
        background: rgba(254,215,24,0.9);
      }
      .text-description{
          line-height: 20px;
          background: white;
          padding: 3% 3% 7% 2%;
          position: relative;
          height: 250px;
          overflow: hidden;
      }
      .marg1{
        margin-bottom: 20px;
        overflow: hidden;
        float: left;
        @include mobile {
          margin-bottom: 20px;
        }
      }
      .slant {
				padding-top: 5%;
			    position: absolute;
			    overflow: hidden;
			    bottom: 0;
			    width: 100%;
				&:before {
				    content: "";
				    position: absolute;
				    width: 101%;
				    height: 100%;
				    background-color: #e1e2e7;
				    transform: rotate(-3deg);
				    top: 50%;
				    left: -9px;
				}
			}
      .view-all-sectors-btn-container {
          display: none;
      }
      @include mobile {
          .container > .row + .row > .marg1:nth-child(2n+2) {
              display: none;
              //todo: optimize it
          }
          .view-all-sectors-btn-container {
              display: block;
              border-bottom: solid 1px $brand-secondary;
              width: 100px;
              margin: 0 auto;
              padding: 5px;
              cursor: pointer;
              margin-bottom: 15px;
          }
          .informa-icon {
              font-size: 30px;
              color: $brand-secondary;
          }
      }
}
