#headline-list-section{
    background-color: $white;
    @include mobile{
        padding-bottom: 30px;
    }
}
.headline-list {
    background-color: $white;
    position: relative;
    .loading {
        opacity: 0.3;
        background: transparent url("/Static/images/common/sprite.png") no-repeat 0 0;
    }
    .container {
        padding: 0 15px 0 15px;
        @include tablet{
            padding: 0 25px 0 25px;
        }
        @include mobile{
            padding: 0 20px 0 20px;
        }
    }
    h3 {
        font-size: $font-size-h2;
        font-weight: 200;
        margin-bottom: 45px;
        @include tablet {
            margin-bottom: 35px;
        }
        @include mobile {
            margin-bottom: 25px;
        }
    }
    .list-container {
        list-style-type: none;
        padding: 20px 0 0;
        margin: 0 0 20px;
        background-color: $grey-color10;
        @include mobile{
            padding-bottom: 20px;
        }
        li {
            background-color: $grey-color10;
            padding: 0 15px;
            border-left: 1px solid $grey-color09;
            &.slick-slide{
                margin-left: -2px;
                padding-bottom: 25px;
            }
            .type {
                font-size: 18px;
                display: block;
                color: $grey-color04;
                margin-bottom: 10px;
                span {
                    &:after {
                        content: ', ';
                    }
                    &:last-child {
                        &:after {
                            content: '';
                        }
                    }
                }
            }
            .date {
                line-height: 1;
                margin-bottom: 17px;
                @include mobile {
                    margin-bottom: 15px;
                }
            }
            .list-content {
                min-height: 100px;
            }
            .poduct-brand-subheading {
                font-size: $font-size-h4;
                font-weight: bold;
                color:$grey-color05;
                margin: 0;
                word-break: break-word;
                @include mobile {
                    padding-bottom: 15px;
                }
            }
            .link {
                margin-top: 10px;
                position: absolute;
                bottom: 0;
                a {
                    span{
                        vertical-align: bottom;
                        @include mobile {
                            vertical-align: top;
                        }
                    }
                    //color: $yellow;
                    &:after {
                        color: $yellow;
                    }
                }
            }
        }
        .slick-arrow {
            top: 42%;
        }
        .slick-list {
            border-right: 1px solid transparent;
        }
        ul.slick-dots {
            margin: 15px 0 0;
            background: $white;
            padding: 20px 0;
            @include mobile{
                display: none !important;
            }
        }
    }
}
