.headline-list {
    background-color: $white;
    position: relative;
    .loading {
        opacity: 0.3;
        background: transparent url("/Static/images/common/sprite.png") no-repeat 0 0;
    }
    .container {
        padding: 50px 15px 0 15px;
    }
    h3 {
        font-size: $font-size-h2;
        font-family: FSMe-Light;
        margin-bottom: 50px;
        color: $gray-dark-bg;
        @include tablet {
            margin-bottom: 40px;
        }
        @include mobile {
            margin-bottom: 30px;
        }
    }
    .list-container {
        list-style-type: none;
        padding: 0;
        margin: 0;
        @include mobile {
            margin: 0 1.5%;
        }
        @include tablet {
            margin: 0 1.5%;
        }
        li {
            background-color: $white;
            padding: 0 15px;
            border-left: 1px solid #c3c6d0;
            .type {
                font-weight: bold;
                display: block;
                color: $grey-color04;
                line-height: 1;
                margin-bottom: 10px;
                span {
                    &:after {
                        content: ',';
                    }
                    &:last-child {
                        &:after {
                            content: '';
                        }
                    }
                }
            }
            .date {
                line-height: 1;
                @include mobile {
                    margin-bottom: 15px;
                }
            }
            .list-content {
                min-height: 100px;
            }
            .poduct-brand-subheading {
                font-size: $font-size-h4;
                font-family: FSMe-Bold;
            }
            .link {
                margin-top: 10px;
                position: absolute;
                bottom: -3px;
                a {
                    //color: $yellow;
                    &:after {
                        color: $yellow;
                    }
                }
            }
        }
        .slick-arrow {
            top: 42%;
        }
        ul.slick-dots {
            margin: 15px 0;
        }
    }
}
