.dashboard {
    background: url("/Static/images/pattern.png") no-repeat right 100% #444957;
    background-size:15%;
    padding: 30px 0 100px;
    .container{
        @include mobile{
            padding: 0;
        }
    }
    h2 {
        color: $white !important;
        padding: 25px 0 0;
        @include mobile{
            padding: 0 15px;
        }
    }
    .panel-group{
        margin-top:40px;
        border-bottom:1px solid $grey-color05;
    }
    .panel {
        background-color: transparent;
        border:none;
        border-top:1px solid $grey-color05;
        box-shadow:none;
        margin-top: 0;
        @include mobile{
            padding: 0 15px;
        }
        .panel-collapse{
            .panel-body{
                border:none;
                padding:0 0 30px; 
                ul{
                    padding:0;
                    margin:0;
                    li{
                        list-style-type:none;
                        display: inline-block;
                        margin-bottom: 10px;
                        width: 350px;
                    }
                }
            }
        }
        .panel-heading {    
            position: relative;
            background-color: transparent;
            padding: 20px 0;
            .custom-checkbox{
                span{
                    text-indent:-9999px;
                    position:absolute;
                    left:0;
                }
            }
            h3{
                font-size:18px;
                font-weight: 200;
                line-height: 20px;
            }
            a {
                color:$grey-color10;
                text-decoration: none;
                display: inline-block;
                overflow-wrap: break-word;
                white-space: normal;
                @include mobile{
                    width: 230px;
                }
                @include tablet{
                    width: 670px;
                }

                &:before {
                    font-weight: normal;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    display: block;
                    border-radius: 100%;
                    content: "\e913";
                    color:$grey-color10;
                    font-size: 23px;
                    font-family: "InformaIcons" !important;
                    display: inline;
                    position: absolute;
                    right: 0px;
                }
                &.collapsed {
                    &:before {
                        content: "\e912";
                        color: $yellow;
                        display: inline;
                        
                    }
                }
            }
        }
    }
    .panel-group .panel + .panel{
        margin-top: 0;
    }
}
