body {
    background: #fff;
}
.tmt-newco {
    background-color: #fff;
    section.sample-content-hero-banner.hero-banner-texture.dark-banner-subscribe.bg-gray-dark.product.supergraphic.product-hero-banner {
            background: #f9f8f9;
            padding-bottom:40px;
            @include bootstrap-mobile {
                padding-left: 25px;
                padding-right: 25px;
            }
            h1 {
                color: $black;
                overflow: hidden;
                float: left;
                width: 100%;
                height:auto;
                @include mobile {
                    border-bottom: 12px solid #f9f8f9;
                }
            }
            .description{
                color:$black;
            }
            .cta2.semi-trans{
                border-color: #f9f8f9;
                background-color: #434854;
                color:$black;
                position: relative;
                background-image: linear-gradient(90deg,#ee93ec 0%,#75d9f4 100%);
                &:hover{
                    color: $black;
                    text-decoration: none;
                    background-color: $white;
                    border-color: #f9f8f9;
                    background-image: linear-gradient(90deg,#fcbffa 0%,#a1e0fa 100%);
                }
            }
            .cta2{
                border: 1px solid #a54eac;
                background-color: #f9f8f9;
                color: $black;
                &:hover{
                    background-color: #f6f0fb;
                    border: 1px solid #a54eac;
                }
            }
            .follow-row {
                width: 100%;
                float: left;
                margin-top:0px;
            }
            .btn {
                min-width: 180px;
                width: auto;
                margin-right: 25px;
                outline: none;
            }
            div.by,div.date {
                font-weight: normal;
                font-size: 14px;
                color: $black;
                line-height: 25px;
                padding-bottom: 0px;
                a {
                    color: #a54eac;
                    font-weight:600;
                }
            }
            div.by{
                &::first-letter {
                    text-transform: uppercase;
                }
            }
            .category{
                font-weight: normal;
                font-size: 14px;
                color: $black;
                line-height: 25px;
                padding-bottom: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a{
                    font-weight: bold;
                    color:$black;
                }
                .topic-pipe {
                    @include mobile {
                        float: unset;
                        padding: 0px;
                    }
                }  
            }
            .enterprise-cta-buttopn{
                padding: 0px;
                a.btn {
                    @include not-desktop {
                        margin-right: 10px;
                    }   
                }
                

            }
            .enterprise-author{
                padding:0px;
                padding-right: 20px;
                .by {
                    margin-left: 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .enterprise-detail{
                padding:0px;
                .by {
                    margin-left: 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .topic-pipe {
                        @include mobile {
                            float: unset;
                            padding:0;
                        }
                    }
                }
            }
        }
        .sample-content-hero-banner {
            @include bootstrap-mobile {
                padding-left: 25px;
                padding-right: 25px;
            }
            .at-icon {
                fill: $white;
            }
            .details .social-links a:hover, .follow-button a:hover {
                outline-offset: 0px;
                transform: translateY(0px);
            }
            .follow-row{
                margin-top: 35px;
                margin-bottom: 65px;
                @include not-desktop{
                    text-align: center;
                }
                @include mobile {
                    margin-bottom:0px;
                    padding: 0;   
                }
                .share-tab {
                    .share-text {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 25px;
                        color: $black;
                        text-align: left;
                        padding-top: 10px;
                    }
                }
            }
            &.hero-banner-texture {
                .h1-styles {
                    padding: 64px 0 30px;
                }
                &.dark-banner-subscribe{
                    .description {
                        padding-bottom: 38px;
                        margin-bottom: 22px;
                    }
                }
            }
            div.addthis_sharing_toolbox a.at-share-btn {
                margin-right: 20px;
                @include mobile {
                    margin-right: 12px;  
                }
                &:last-child {
                    margin-right:0px;
                }
            }
            
           
        }
        
    
}