<section class="pdp-brochure" data-url="">
		<div class="container">
				<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-6">
                <h2>Send a product brochure</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div class="brochure-btn">
                    <a class="cta1 btn solid orange" data-toggle="modal" data-target="#formGetInTouchModal">Send a brochure</a>
                </div>
						</div>
            <div class="col-xs-12 col-sm-5 col-md-4">
              <h3>What they'll receive</h3>
                <ul>
                  <li>Helps identify market trends</li>
                  <li>Helps identify market trends</li>
                  <li>Helps identify market trends</li>
                </ul>
            </div>
				</div>
		</div>
		<div class="form-modal modal fade" id="formGetInTouchModal" tabindex="-1" role="dialog" aria-labelledby="">
		    <div class="modal-dialog" role="form">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close form-modal-close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span></button>
		            </div>
		            <div class="modal-body">
		                <div class="form-popup-container">


		                    <form action="/?sc_itemid=%7B9E424C19-6AD0-4D10-B823-946BF6FC0CC2%7D&amp;sc_mode=preview&amp;sc_lang=en-US&amp;sc_site=website" class="get-in-touch get-in-touch-popup text-left" data-wffm="{41850C79-F113-4AEC-98D3-1A9CBF00C411}" data-wffm-ajax="True"
		                        enctype="multipart/form-data" id="wffm215f4bae9018467d90bc0ae3983d7f74" method="post" role="form" novalidate="novalidate">
		                        <input name="__RequestVerificationToken" type="hidden" value="VvJry8Y029sv3Rzx3tW3ovNQjoX9EbRxw4RRpLTwyeYbeJa_Siier99dcuRu6CzJ5eQaklptWCt4Fsc2l23euLML7k4bBA7vuy-z1vs45aXdtqTWy-Ub8GDLA4RwOiug0">
		                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Id" type="hidden" value="215f4bae-9018-467d-90bc-0ae3983d7f74">
		                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_FormItemId" name="wffm215f4bae9018467d90bc0ae3983d7f74.FormItemId" type="hidden" value="{41850C79-F113-4AEC-98D3-1A9CBF00C411}">
		                        <div class="submit-response">
		                            <h1>Thanks for getting in touch</h1>
		                            <p>Someone from our team will be in touch in the next 48 hours</p>
		                        </div>
		                        <div class="page-header">
		                            <h1>Get In Touch</h1>
		                        </div>
		                        <div class="has-error has-feedback">
		                            <div class="validation-summary-errors" data-valmsg-summary="true">
		                                <ul class="list-group">
		                                    <li>The How can we help? field is required.</li>
		                                    <li>The First name field is required.</li>
		                                    <li>The Surname field is required.</li>
		                                    <li>The Your company field is required.</li>
		                                    <li>The Your country field is required.</li>
		                                    <li>The Email Address field is required.</li>
		                                    <li>The Phone number field is required.</li>
		                                </ul>
		                            </div>
		                        </div>

		                        <fieldset class="hide-title">
		                            <legend>About you...</legend>

		                            <div class="row">
		                                <div class="col-md-12">
		                                    <div class="required-field form-group">
		                                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_0__Fields_0__Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[0].Fields[0].Id" type="hidden" value="{3FF7D4D1-E230-407F-8E6D-1D0B5BBBD5D4}">
		                                        <label class="control-label" for="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_0__Fields_0__Value">About You
		                                        </label>
		                                        <div class="radio-custom">
		                                            <input data-val="true" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_0__Fields_0__Value" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[0].Fields[0].Value"
		                                                type="radio" value="I'm a new customer and I have a product enquiry">
		                                            <label>
		                                                I'm a new customer and I have a product enquiry
		                                            </label>
		                                        </div>
		                                        <div class="radio-custom">
		                                            <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_0__Fields_0__Value" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[0].Fields[0].Value" type="radio" value="I have a general enquiry">
		                                            <label>
		                                                I have a general enquiry
		                                            </label>
		                                        </div>
		                                        <div class="radio-custom">
		                                            <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_0__Fields_0__Value" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[0].Fields[0].Value" type="radio" value="I'm an existing customer and I have a product enquiry">
		                                            <label>
		                                                I'm an existing customer and I have a product enquiry
		                                            </label>
		                                        </div>
		                                        <div class="radio-custom">
		                                            <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_0__Fields_0__Value" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[0].Fields[0].Value" type="radio" value="I would like a media pack">
		                                            <label>
		                                                I would like a media pack
		                                            </label>
		                                        </div>
		                                        <span class="field-validation-valid help-block" data-valmsg-for="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[0].Fields[0].Value" data-valmsg-replace="true"></span>
		                                    </div>
		                                </div>
		                            </div>
		                        </fieldset>
		                        <fieldset class="hide-title">
		                            <legend>How can we help?</legend>

		                            <div class="row">
		                                <div class="col-md-12">
		                                    <div class="required-field form-group">
		                                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_1__Fields_0__Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[1].Fields[0].Id" type="hidden" value="{5E716269-C3CA-4B72-8453-B0D56A5E554F}">
		                                        <label class="control-label" for="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_1__Fields_0__Value">Help</label>
		                                        <textarea class="form-control" cols="1" data-rule-required="true" data-val="true" data-val-length="" data-val-length-max="256" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_1__Fields_0__Value"
		                                            name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[1].Fields[0].Value" rows="4"></textarea><span class="field-validation-valid help-block" data-valmsg-for="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[1].Fields[0].Value" data-valmsg-replace="true"></span></div>
		                                </div>
		                            </div>
		                        </fieldset>
		                        <fieldset class="scfSectionBorder half-width-text-box">
		                            <legend>Tell us your name</legend>
		                            <p>Please enter your personal details</p>

		                            <div class="row">
		                                <div class="col-md-12 ">
		                                    <div class="required-field form-group">
		                                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_2__Fields_0__Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[2].Fields[0].Id" type="hidden" value="{FE74D6E0-50FF-4146-8EFE-BFA71B91F8CE}">
		                                        <label class="control-label" for="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_2__Fields_0__Value">
		                                            First name
		                                        </label>
		                                        <input class=" form-control scfSingleLineTextBorder text-box single-line" data-rule-required="true" data-val="true" data-val-length="" data-val-length-max="256" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_2__Fields_0__Value"
		                                            name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[2].Fields[0].Value" placeholder="" style="" type="text" value="">
		                                        <span class="field-validation-valid help-block" data-valmsg-for="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[2].Fields[0].Value" data-valmsg-replace="true">
		                                            </span>
		                                    </div>

		                                    <div class="required-field form-group">
		                                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_2__Fields_1__Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[2].Fields[1].Id" type="hidden" value="{F0913B3E-84A2-44C6-93E5-D3EFD9422E79}">
		                                        <label class="control-label" for="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_2__Fields_1__Value">
		                                            Surname
		                                        </label>
		                                        <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_2__Fields_1__Value"
		                                            name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[2].Fields[1].Value" placeholder="" style="" type="text" value="">
		                                        <span class="field-validation-valid help-block" data-valmsg-for="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[2].Fields[1].Value" data-valmsg-replace="true">
		                                            </span>
		                                    </div>
		                                </div>
		                            </div>
		                        </fieldset>
		                        <fieldset class="hide-title">
		                            <legend>Your company</legend>

		                            <div class="row">
		                                <div class="col-md-12">
		                                    <div class="required-field form-group">
		                                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_3__Fields_0__Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[3].Fields[0].Id" type="hidden" value="{ECBE0105-B3E1-4991-938B-E545F29D2D13}">
		                                        <label class="control-label" for="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_3__Fields_0__Value">Company</label>
		                                        <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_3__Fields_0__Value"
		                                            name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[3].Fields[0].Value" placeholder="" style="" type="text" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[3].Fields[0].Value" data-valmsg-replace="true"></span></div>
		                                </div>
		                            </div>
		                        </fieldset>
		                        <fieldset class="hide-title">
		                            <legend>Your country</legend>

		                            <div class="row">
		                                <div class="col-md-12">
		                                    <div class="required-field form-group">
		                                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_4__Fields_0__Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[4].Fields[0].Id" type="hidden" value="{831B995F-671E-44C8-9BC9-199442A7B349}">
		                                        <label class="control-label" for="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_4__Fields_0__Value">Country</label>
		                                        <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_4__Fields_0__Value"
		                                            name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[4].Fields[0].Value" placeholder="" style="" type="text" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[4].Fields[0].Value" data-valmsg-replace="true"></span></div>
		                                </div>
		                            </div>
		                        </fieldset>
		                        <fieldset class="half-width-text-box">
		                            <legend>Your contact details</legend>
		                            <!-- <p>Please enter your contact details</p> -->

		                            <div class="row">
		                                <div class="col-md-12">
		                                    <div class="required-field form-group">
		                                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_5__Fields_0__Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[5].Fields[0].Id" type="hidden" value="{B3C743CA-DA58-4841-810C-BFEB9C5D00DC}">
		                                        <label class="control-label" for="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_5__Fields_0__Value">Email Address</label>
		                                        <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-regex="" data-val-regex-pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,17}$" data-val-required="" data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}"
		                                            id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_5__Fields_0__Value" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[5].Fields[0].Value" placeholder="" style="" type="email" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[5].Fields[0].Value" data-valmsg-replace="true"></span>
		                                    </div>
		                                    <div class=" required-field form-group">
		                                        <input id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_5__Fields_1__Id" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[5].Fields[1].Id" type="hidden" value="{8BF01E00-45D5-498D-92FD-1E7F1D7F3F03}">

		                                        <label class="control-label" for="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_5__Fields_1__Value">
		                                            Phone number</label>
		                                        <input class=" form-control text-box single-line" data-val="true" data-val-length="" data-val-length-max="256" data-val-regex="" data-val-regex-pattern="^\+?\s{0,}\d{0,}\s{0,}(\(\s{0,}\d{1,}\s{0,}\)\s{0,}|\d{0,}\s{0,}-?\s{0,})\d{2,}\s{0,}-?\s{0,}\d{2,}\s{0,}(-?\s{0,}\d{2,}|\s{0,})\s{0,}$"
		                                            data-val-regex-tracking="{844BBD40-91F6-42CE-8823-5EA4D089ECA2}" id="wffm215f4bae9018467d90bc0ae3983d7f74_Sections_5__Fields_1__Value" name="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[5].Fields[1].Value" placeholder=""
		                                            style="" type="tel" value=""><span class="field-validation-valid help-block" data-valmsg-for="wffm215f4bae9018467d90bc0ae3983d7f74.Sections[5].Fields[1].Value" data-valmsg-replace="true"></span></div>
		                                </div>
		                            </div>
		                        </fieldset>
		                        <fieldset class="hide-title terms-and-conditions">
		                            <legend>Lorum ipsum lorum ipsum lorum ipsum lorum ipsum</legend>
		                            <div class="row">
		                                <div class="col-md-12">
		                                    <div class="required-field form-group">
		                                        <input id="wffmbcf2d84488e045a78ffaa145559b3fa8_Sections_7__Fields_0__Id" name="wffmbcf2d84488e045a78ffaa145559b3fa8.Sections[7].Fields[0].Id" type="hidden" value="{3B82C4D2-4822-4FE6-B1F5-D669C22F3D86}">
		                                        <label class="control-label " for="wffmbcf2d84488e045a78ffaa145559b3fa8_Sections_7__Fields_0__Value">Additional field</label>
		                                        <div class="">
		                                            <div class="normal-checkbox">
		                                                <label>
		                                                    <input type="checkbox" value="By ticking this box, you agree to receive emails such as relevant news" id="wffmbcf2d84488e045a78ffaa145559b3fa8_Sections_7__Fields_0__Value" name="wffmbcf2d84488e045a78ffaa145559b3fa8.Sections[7].Fields[0].Value"> By ticking this box, you agree to receive emails such as relevant news</label>
		                                            </div>
		                                            <div class="normal-checkbox">
		                                                <label>
		                                                    <input type="checkbox" value="By ticking this box, you agree to receive emails such as promotional offers other member of the informa group and selected 3rd party companies." id="wffmbcf2d84488e045a78ffaa145559b3fa8_Sections_7__Fields_0__Value" name="wffmbcf2d84488e045a78ffaa145559b3fa8.Sections[7].Fields[0].Value"> By ticking this box, you agree to receive emails such as promotional offers other member of the informa group and selected 3rd party companies.</label>
		                                            </div><span class="field-validation-valid help-block" data-valmsg-for="wffmbcf2d84488e045a78ffaa145559b3fa8.Sections[7].Fields[0].Value" data-valmsg-replace="true"></span></div>
		                                    </div>
		                                </div>
		                            </div>
		                        </fieldset>
		                        <div class="g-recaptcha" data-sitekey="6LezlCQTAAAAALwyoWgTPjpFlBYTWy7pfSAXbPfn" data-theme="dark"></div>
		                        <div class="captcha-wrapper">
		                            <!-- <div id="captcha-error-msg-container" class="field-validation-error" data-recaptcha-error-text="Validate Captcha"></div> -->
		                            <span class="field-validation-valid help-block" data-valmsg-for="wffm98ab7e322eeb4085888f7cea51ccd8ce.Sections[6].Fields[0].Value" data-valmsg-replace="true"></span>
		                        </div>
		                        <div class="form-submit-border">
		                            <input class="btn  btn-default" type="submit" value="Submit">
		                        </div>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
</section>
