<section class="pdp-brochure">
		<div class="container">
				<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-6">
                <h2>Send a product brochure</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <div class="brochure-btn">
                    <a class="cta1 btn solid orange">Send a brochure</a>
                </div>
						</div>
            <div class="col-xs-12 col-sm-5 col-md-4">
              <h3>What they'll receive</h3>
                <ul>
                  <li>Helps identify market trends</li>
                  <li>Helps identify market trends</li>
                  <li>Helps identify market trends</li>
                </ul>
            </div>
				</div>
		</div>
</section>
