<section class="training-section">
  <div class="training-material">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1>Support Training material</h1>
              <div class="slick-carousel carousel-lists" data-itemsperframe="3" data-autorotate=false data-transitionspeed="400" data-slideduration="4000" data-pagination=true accessibility="true">
                    <div class="video-container">
                          <a href="#" class="video-wrap"><span class="play-icon"></span><img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/></a>
                          <h3>Feedstuffs and Logistics</h3>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          </p>
                    </div>
                    <div class="video-container">
                          <a href="#" class="video-wrap"><span class="play-icon"></span><img src="cms-images/product_brands/brand-2.png" alt="" class="img-responsive"/></a>
                          <h3>Feedstuffs and Logistics</h3>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          </p>
                    </div>
                    <div class="video-container">
                          <a href="#" class="video-wrap"><span class="play-icon"></span><img src="cms-images/product_brands/brand-3.png" alt="" class="img-responsive"/></a>
                          <h3>Feedstuffs and Logistics</h3>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          </p>
                    </div>
                    <div class="video-container">
                          <a href="#" class="video-wrap"><span class="play-icon"></span><img src="cms-images/product_brands/brand-4.png" alt="" class="img-responsive"/></a>
                          <h3>Feedstuffs and Logistics</h3>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          </p>
                    </div>
                    <div class="video-container">
                          <a href="#" class="video-wrap"><span class="play-icon"></span><img src="cms-images/product_brands/brand-5.png" alt="" class="img-responsive"/></a>
                          <h3>Feedstuffs and Logistics</h3>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          </p>
                    </div>
                    <div class="video-container">
                          <a href="#" class="video-wrap"><span class="play-icon"></span><img src="cms-images/product_brands/brand-2.png" alt="" class="img-responsive"/></a>
                          <h3>Feedstuffs and Logistics</h3>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                          </p>
                    </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
              <div class="btn-container text-center">
                  <a class="btn btn-default" href="#" role="button">See all training materials</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
