---
component: global_header
---

<header id="informa-main-header">
    <div class="main-header">
        <div class="container-fluid">
            <div class="row">

                <nav class="navbar navbar-default">


                    <div class="container-fluid navbar-inverse header-logo">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img alt="informa" src="images/logo.png">
                            </a>
                        </div>
                    </div>

                    <div class="container-fluid navbar-inverse header-links collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                        <ul class="nav navbar-nav">
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Sectors</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>

                    </div>
                </nav>

            </div>
        </div>
    </div>
</header>
