<section id="agri-report">
    <div class="container agri-report-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1>Get your free Agribusiness Annual 2016 report</h1>
            </div>
        </div>
        <div class="row headline">
            <div class="col-xs-12 col-md-6 ">
                    The Global Agribusiness Annual 2016 report covers
            </div>
        </div>
        <div class="row description">
            <div class=" col-xs-12 col-sm-4 col-md-3">
                Global agriculturre and trade policy Seed and crop protection Fertiliser and soil nutrition rains and oilseeds Sugar and ethanol Processed fruit and vegetables Meat and livestock Animal health Agricultural land
            </div>
        </div>
        <div class="splash-image">
            <img src="images/agri-report.png">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <a class="btn semi-trans orange-bd download-report" href="#">Download Report</a>
            </div>
        </div>
    </div>
</section>
