.campaign-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.campaign-scroll-down img.scroll-down {
    position: fixed;
    left: 50%;
    margin-left: -15px;
    bottom: 25px;
    width: 30px;
    height: 66px;
    z-index: 2;
}