.campaign-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #fff;
}

.campaign-scroll-down span.scroll-down {
    background-image: url(../../Static/images/mouse-icon.png);
    background-repeat: no-repeat;
    position: fixed;
    left: 50%;
    margin-left: -15px;
    bottom: 25px;
    width: 30px;
    height: 66px;
    z-index: 2;
    @include mobile {
        background-image: url(../../Static/images/mouse-icon-mob.png);
        height: 10px;
    }
}