.campaign-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}