<section class="single-image global">
    <div class="row">
        <div class="col-md-12">
            <div class="hero-items">
                <div class="cf-img hero-cf-image">
                    <picture>
                        <img src="Static/images/video-thumb-sample.jpg" alt="">
                    </picture>
                </div>
                <div class="vertical-align">
                    <div class="for-right">
                        <div class="col col-sm-12 col-md-12 hero-col-heading">
                            <h1>INSPIRING THE TECH COMMUNITY TO DESIGN, BUILD AND RUN A BETTER DIGITAL WORLD</h1>
                        </div>

                        <div class="col-lg-12">
                            <h4>
                                Informa Tech informs, educates and connects the technology community through world-class
                                research, training, events, and media.
                            </h4>
                        </div>
                        <div class="cta-button-containor col-md-12">
                            <a class="btn btn-primary " href="/solutions" target="" title="">View our solutions</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="single-image global">
    <div class="hero-items">
        <div class="cf-img hero-cf-image">
            <picture>
                <img src="Static/images/video-thumb-sample.jpg" alt="">
            </picture>
        </div>
        <div class="vertical-align">
            <div class="for-left">
                <div class="col col-sm-12 col-md-12 hero-col-heading">
                    <h1>INSPIRING THE TECH COMMUNITY TO DESIGN, BUILD AND RUN A BETTER DIGITAL WORLD</h1>
                </div>

                <div class="col-lg-12">
                    <h4>
                        Informa Tech informs, educates and connects the technology community through world-class
                        research, training, events, and media.
                    </h4>
                </div>
                <div class="cta-button-containor col-md-12">
                    <a class="btn btn-primary " href="/solutions" target="" title="">View our solutions</a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="single-image global">
    <div class="hero-items">
        <div class="cf-img hero-cf-image">
            <picture>
                <img src="Static/images/video-thumb-sample.jpg" alt="">
            </picture>
        </div>
        <div class="vertical-align banner-bullet">

            <div class="second-banner-right-outer">
                <div class="content second-banner-right-inner">
                    <h1>Service Providers</h1>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="reach-img-section">
                <div class="container-fluid recch-global-main">
                    <div class="">
                        <div class="col-md-12 text-left nopadding">
                            <div class="row">
                                <div class="sub-text-n-img imgleft">
                                        <div class="sub-text-n-img imgleft">
                                            <div class="dot-img-left"></div>
                                            <h2 class="sub-headline right-dotted-line">
                                                Our Reach is Global
                                            </h2>
                                        </div>
                                </div>
                                    <div class="subofsub-text b-one">Informa Tech’s market-focused business connects communities and audiences across the global Information and Communications Technology industry.</div>
                            </div>
                        </div>
                    </div>
                </div>
                        <picture>
                            <img src="Static/images/video-thumb-sample.jpg" alt="">         
                        </picture>
                <div class="our-reach-container container">
                </div>
</div>
<div class="saprate-our-reach container">
        <div class="our-reach-section">
            <div class="row">
                <div class="col-md-12 col-xs-12 our-set-divchild">
                        <div class="col-xs-6 col-md-3 ">
                            <div class="researchsubs">
                                    <div class="numberntext">
                                        <span>
                                            225k
                                        </span>
                                            <span class="plus"></span>
                                    </div>
                                                                    <div class="text">
                                        <span style="background-color: #ffffff; text-align: center; color: #6a7285;">Annual Event Delegates</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3 ">
                            <div class="researchsubs">
                                    <div class="numberntext">
                                        <span>
                                            3.8m
                                        </span>
                                            <span class="plus">+</span>
                                    </div>
                                                                    <div class="text">
                                        <span style="background-color: #ffffff; text-align: center; color: #6a7285;">Monthly Media Readers</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3 ">
                            <div class="researchsubs">
                                    <div class="numberntext">
                                        <span>
                                            14k
                                        </span>
                                            <span class="plus"></span>
                                    </div>
                                                                    <div class="text">
                                        <span style="color: #6a7285; background-color: #ffffff; text-align: center;">Research Subscribers</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3 ">
                            <div class="researchsubs">
                                    <div class="numberntext">
                                        <span>
                                            18k
                                        </span>
                                            <span class="plus"></span>
                                    </div>
                                                                    <div class="text">
                                        <span style="background-color: #ffffff; text-align: center; color: #6a7285;">Training Students</span>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

                <div class="Viewsolutions text-center">

                    <a class="btn border-button btn-primary" href="/about-us" target="" title="">About us</a>
                </div>
 </div>


<div class="reach-img-section">
<div class="container-fluid recch-global-main">


<div class="">
<div class="col-md-12 text-left nopadding">
<div class="row">
<div class="sub-text-n-img imgleft">
<div class="sub-text-n-img imgright">
<h2 class="sub-headline right-dotted-line">
My Title
</h2>
<div class="for-right"></div>
</div>
</div>
<div class="subofsub-text b-one">This is the description</div>
</div>
</div>
</div>
</div>

<picture>
<img src="Static/images/video-thumb-sample.jpg" alt=""> 
</picture>

<div class="our-reach-container container">

</div>

</div>

<section class="hero-banner hero-banner-video hero-banner-carousel feature-hero-banner" id="hero-banner">
            <div class="slider-component hero-banner-slider slick-initialized slick-slider slick-dotted" id="hero-banner-slider" data-rtl="false" data-dots="true" data-autorotate="false" data-slideduration="10000" data-transitionspeed="500" data-itemsperframe="1" data-reversedirection="false" role="toolbar"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
                    <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 8136px; transform: translate3d(-5424px, 0px, 0px);" role="listbox"><div class="hero-items hero-carousel slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 1356px;">


<div class="cf-img hero-cf-image">
            <picture>
              <img src="Static/images/video-thumb-sample.jpg" alt="">   
            </picture>
</div>

<div class="vertical-align">
    <div class="for-right">

        <div class="col col-sm-12 col-sm-6 col-md-8 hero-col-heading">
                <h1>My Title</h1>
        </div>

            <h4>
                This is the description
            </h4>

        <div class="cta-button-containor col-md-12">
<a class="btn btn-primary " href="https://www.google.com" target="" title="" tabindex="-1">Test1</a>
<a class="btn btn-primary " href="https://www.google.com" target="" title="" tabindex="-1">Test2</a>        </div>

    </div>
</div>
                    </div><div class="hero-items hero-carousel slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide40" style="width: 1356px;">


<div class="cf-img hero-cf-image">
            <picture>
               <img src="Static/images/video-thumb-sample.jpg" alt=""> 
            </picture>
</div>

<div class="vertical-align">
    <div class="dot-img-left">

        <div class="col col-sm-12 col-sm-6 col-md-8 hero-col-heading">
                <h1> My Title My Title My Title My Title My Title My</h1>
        </div>

            <h4>
                This is the description.
&nbsp;My Title My Title My Title My Title My Title My Title My Title My Title My Title My Title My.
&nbsp;My Title My Title My Title My Title My Title My Title My Title My Title My Title My Title My.
            </h4>

        <div class="cta-button-containor col-md-12">
<a class="btn show-register-form close-download-form btn-primary " data-modal="#newsletter registration" data-show-register="true" data-toggle="model" data-url="http://#" target="" title="" tabindex="-1">Test1</a>
<a class="btn show-register-form close-download-form btn-primary " data-modal="#formregisterinterest" data-show-register="true" data-toggle="model" data-url="http://#" target="" title="" tabindex="-1">Test2</a>        </div>

    </div>
</div>
                    </div><div class="hero-items hero-carousel slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide41" style="width: 1356px;">


<div class="cf-img hero-cf-image">
            <picture>
                <img src="Static/images/video-thumb-sample.jpg" alt=""> 
            </picture>
</div>

<div class="vertical-align">
    <div class="for-left">

        <div class="col col-sm-12 col-sm-6 col-md-8 hero-col-heading">
                <h1>My Title</h1>
        </div>

            <h4>
                This is the description
            </h4>

        <div class="cta-button-containor col-md-12">
<a class="btn show-register-form close-download-form btn-primary " data-modal="#newsletter registration" data-show-register="true" data-toggle="model" data-url="http://#" target="" title="" tabindex="-1">Test1</a>
<a class="btn btn-primary " href="http://#" target="" title="" tabindex="-1">Test2</a>        </div>

    </div>
</div>
                    </div><div class="hero-items hero-carousel slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide42" style="width: 1356px;">


<div class="cf-img hero-cf-image">
            <picture>
             <img src="Static/images/video-thumb-sample.jpg" alt=""> 
            </picture>
</div>

<div class="vertical-align">
    <div class="for-center default-banner-title-text-center">

        <div class="col col-sm-12 col-sm-6 col-md-8 hero-col-heading">
                <h1>My Title</h1>
        </div>

            <h4>
                This is the description
            </h4>

        <div class="cta-button-containor col-md-12">
<a class="btn show-register-form close-download-form btn-primary " data-modal="#newsletter registration" data-show-register="true" data-toggle="model" data-url="http://#" target="" title="" tabindex="-1">Test1</a>
<a class="btn show-register-form close-download-form btn-primary " data-modal="#formregisterinterest" data-show-register="true" data-toggle="model" data-url="http://#" target="" title="" tabindex="-1">Test2</a>        </div>

    </div>
</div>
                    </div><div class="hero-items hero-carousel slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide43" style="width: 1356px;">


<div class="cf-img hero-cf-image">
            <picture>
             <img src="Static/images/video-thumb-sample.jpg" alt=""> 
            </picture>
</div>

<div class="vertical-align">
    <div class="for-right">

        <div class="col col-sm-12 col-sm-6 col-md-8 hero-col-heading">
                <h1>My Title</h1>
        </div>

            <h4>
                This is the description
            </h4>

        <div class="cta-button-containor col-md-12">
<a class="btn btn-primary " href="https://www.google.com" target="" title="" tabindex="0">Test1</a>
<a class="btn btn-primary " href="https://www.google.com" target="" title="" tabindex="0">Test2</a>        </div>

    </div>
</div>
                    </div><div class="hero-items hero-carousel slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 1356px;">


<div class="cf-img hero-cf-image">
            <picture>
              <img src="Static/images/video-thumb-sample.jpg" alt=""> 
            </picture>
</div>

<div class="vertical-align">
    <div class="dot-img-left">

        <div class="col col-sm-12 col-sm-6 col-md-8 hero-col-heading">
                <h1> My Title My Title My Title My Title My Title My</h1>
        </div>

            <h4>
                This is the description.
&nbsp;My Title My Title My Title My Title My Title My Title My Title My Title My Title My Title My.
&nbsp;My Title My Title My Title My Title My Title My Title My Title My Title My Title My Title My.
            </h4>

        <div class="cta-button-containor col-md-12">
<a class="btn show-register-form close-download-form btn-primary " data-modal="#newsletter registration" data-show-register="true" data-toggle="model" data-url="http://#" target="" title="" tabindex="-1">Test1</a>
<a class="btn show-register-form close-download-form btn-primary " data-modal="#formregisterinterest" data-show-register="true" data-toggle="model" data-url="http://#" target="" title="" tabindex="-1">Test2</a>        </div>

    </div>
</div>
                    </div></div></div>
                    
                    
                    
            <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation40" id="slick-slide40"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation41" id="slick-slide41" class=""><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation42" id="slick-slide42" class=""><button type="button" data-role="none" role="button" tabindex="0">3</button></li><li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation43" id="slick-slide43" class="slick-active"><button type="button" data-role="none" role="button" tabindex="0">4</button></li></ul></div>
</section>