<section class="single-image global">
    <div class="row">
        <div class="col-md-12">
            <div class="hero-items">
                <div class="cf-img hero-cf-image">
                    <picture>
                        <img src="Static/images/video-thumb-sample.jpg" alt="">
                    </picture>
                </div>
                <div class="vertical-align">
                    <div class="for-right">
                        <div class="col col-sm-12 col-md-12 hero-col-heading">
                            <h1>INSPIRING THE TECH COMMUNITY TO DESIGN, BUILD AND RUN A BETTER DIGITAL WORLD</h1>
                        </div>

                        <div class="col-lg-12">
                            <h4>
                                Informa Tech informs, educates and connects the technology community through world-class
                                research, training, events, and media.
                            </h4>
                        </div>
                        <div class="cta-button-containor col-md-12">
                            <a class="btn btn-primary " href="/solutions" target="" title="">View our solutions</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="single-image global">
    <div class="hero-items">
        <div class="cf-img hero-cf-image">
            <picture>
                <img src="Static/images/video-thumb-sample.jpg" alt="">
            </picture>
        </div>
        <div class="vertical-align">
            <div class="for-left">
                <div class="col col-sm-12 col-md-12 hero-col-heading">
                    <h1>INSPIRING THE TECH COMMUNITY TO DESIGN, BUILD AND RUN A BETTER DIGITAL WORLD</h1>
                </div>

                <div class="col-lg-12">
                    <h4>
                        Informa Tech informs, educates and connects the technology community through world-class
                        research, training, events, and media.
                    </h4>
                </div>
                <div class="cta-button-containor col-md-12">
                    <a class="btn btn-primary " href="/solutions" target="" title="">View our solutions</a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="single-image global">
    <div class="hero-items">
        <div class="cf-img hero-cf-image">
            <picture>
                 <img src="Static/images/video-thumb-sample.jpg" alt=""> 
            </picture>
        </div>
        <div class="vertical-align banner-bullet">

                <div class="second-banner-right-outer">
                    <div class="content second-banner-right-inner">
                        <h1>Service Providers</h1>
                    </div>
                </div>
            
        </div>
    </div>
</section>