---
component: global_html_header
---
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>

    <!-- build:css(.tmp) Static/css/global.css -->
    <link rel="stylesheet" href="Static/css/global.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) Static/css/component.css -->
    <link rel="stylesheet" href="Static/css/component.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) Static/css/agri-theme.css -->
    <link rel="stylesheet" href="Static/css/agri-theme.css">
    <!-- build:css(.tmp) Static/css/pharma-theme.css -->
    <link rel="stylesheet" href="Static/css/pharma-theme.css">
    <!-- build:css(.tmp) Static/css/finance-theme.css -->
    <link rel="stylesheet" href="Static/css/financial-theme.css">
    <!-- build:css(.tmp) Static/css/tmt-theme.css -->
    <link rel="stylesheet" href="Static/css/tmt-theme.css">
    <!-- endbuild -->

    <style type="text/css">
        body{
            margin:0;
        }
    </style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXX-X']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript">
        INFORMA = {
            initUI : {},
            addModule : function(module, selector) {
                this.initUI[selector] = module;
            },
            verticalName: "Pharma Intelligence"
        };
        AnalyticsSettings = {
		    GAProfileKey: "UA-81001424-2",
		    GAEnabled: true,
		    AdobeUserKey: "informashopwindowpharmadev",
		    AdobeEnabled: true,
		    Channel: "Agri Intelligence or Pharma Intelligence"
		};


    </script>

    <!-- build:js Static/js/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/handlebars/handlebars.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/chosen/chosen.jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="bower_components/picturefill/src/picturefill.js"></script>
    <!--<script src="bower_components/vimeo-player-js/dist/player.min.js"></script>-->
    <!--<script src="https://www.youtube.com/iframe_api"></script>-->
    <!--<script src="https://player.vimeo.com/api/player.js"></script>
    <script src="http://fast.wistia.com/static/concat/E-v1.js" integrity="sha384-nWvkFXcjWAVWXZukHp3CAe1WOvGwfh362xZIDSj7WnCHeFZ20kpRjpgMKrpIntf0" crossorigin="anonymous"></script>-->
    <!-- endbuild -->
    <!--  only for local development-->
    <script src="Static/js/components/handlebar-helper.js"></script>

  <script> 
        $INFORMA = jQuery.noConflict(); 
  </script>
</head>
<body>
  <script> 
        var theme= "agri-theme";
        var language ="en";
        if(window.location.href.indexOf("agri") > -1) {
              theme="agri-theme";
              jQuery('body').addClass(theme);
              jQuery('body').addClass(language);
        }else if(window.location.href.indexOf("pharma") > -1) {
              theme="pharma-theme";
              jQuery('body').addClass(theme);
              jQuery('body').addClass(language);
        }else if(window.location.href.indexOf("finance") > -1) {
              theme="financial-theme";
              jQuery('body').addClass(theme);
              jQuery('body').addClass(language);
        }else if(window.location.href.indexOf("tmt") > -1) {
              theme="tmt-theme";
              jQuery('body').addClass(theme);
              jQuery('body').addClass(language);
        }else {
              jQuery('body').addClass(theme);
              jQuery('body').addClass(language);
        }
  </script>
