---
layout: main-layout-agri.hbs
---
<section id="banner" class="hero-banner-texture dark-banner-subscribe">
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
		<div class="container">
				<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8">
							<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
											<h1>The Public Legder</h1>
											<div class="subtext">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
											</div>
											<div class="description">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
											</div>
										</div>
									</div>
									<div class="row">
											<div class="col-xs-12">
													<div class="from">
															<a href="#" class="priceCTA">
																	<div class="headline">Subscriptions from</div>
																	<div class="priceDetails">
																				<span class="price">1,140</span>
																				<span class="per">per year</span>
																	</div>
															</a>
													</div>
													<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
															<a class="cta2 btn semi-trans">Get a free trail</a>
													</div>
													<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
															<a class="cta1 btn solid btn-primary">Subscribe</a>
													</div>
											</div>
									</div>
									<div class="row follow-row">
										  <div class="col-xs-12">
													<div class="follow share-tab">
														<span class="share">Follow</span>
													</div>
													<div class="col-xs-8 col-sm-5 col-md-5 col-lg-3 share-tab">
														<div class="follow-button">
															<a class="addthis_button_twitter_follow" addthis:userid="informaecon"></a>
															<a class="addthis_button_linkedin_follow" addthis:usertype="company" addthis:userid="470330"></a>
															<a class="addthis_button_email" addthis:note="hello I am here" addthis:title="Informa Links | Product Details"></a>
														</div>
													</div>
										  </div>
									</div>
									<div class="row">
										<span>Already a customer?</span><a href="#">Already a customer?</a>
									</div>
							</div>
						</div>
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="container-fluid">
										<div class="row">
												<ul>
													<li class="text">Helps identify market trends</li>
													<li class="text">Helps identify market trends</li>
													<li class="text">Helps identify market trends</li>
												</ul>
										</div>
								</div>
							</div>
				</div>
		</div>
</section>
    {{>pdp-navigation}}
    {{>pdp-market-focus pdp-market-focus}}
    {{>article_list article_list}}
    {{>headline_list headline_list}}
    {{>pdp-feature-list-aboutus pdp-feature-aboutus}}
    {{>pdp-analyst analyst}}
    {{>analyst-profile-events analyst-profile-events}}
    {{>pdp-customer-quote pdp-customer-quote}}
    {{>faqs faqs}}
    {{>training-material}}
    {{>pdp-brochure}}
