---
layout: main-layout-agri.hbs
---
<div class="page-content my-theme">
    {{>home-hero}}
    {{>home-sector-list sectors}}
    {{>home-brand-list brands}}
    {{>category_filter category_list}}
    {{>article_list article_list}}
    {{>headline_list headline_list}}
    {{>home-agri-report}}
    {{>home_social home_social}}
    {{>home-contactus contactus}}
</div>
