---
layout: main-layout-agri.hbs
---
<section class="product-finder-results clearfix">
	{{>refine-filter}}
	{{>product-listing}}
	<input type="hidden" name="DefaultItemCount" value="DefaultItemCount" />
    <input type="hidden" name="MaxItemCount" value="MaxItemCount" />
    <input type="hidden" name="DefaultProductCount" value="DefaultProductCount" />
    <input type="hidden" name="SearchTexts" value="SearchableContent1,SearchableContent2" />
    <input type="hidden" name="OrderOfContentType" value="OrderOfContentType1,OrderOfContentType2" />
</section>