---
layout: main-layout-agri.hbs
---
<h2>Marketing banner - variant 1</h2>
<section class="marketing-banner bright-banner Variation1">
	<div class="close">
		<a href="javascript:void(0)" class=""><span class="icon icon-close"></span></a>
	</div>
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-offset-1 col-md-7 image pull-right">
				<img class="img-responsive" src="cms-images/marketing-images/marketing-image-1.jpg" alt="" />
		</div>
		<div class="col-xs-12 col-md-4 content pull-right">
				<div class="Variant1-description">
					<h1>Want to see more products related to grain?</h1>
					<div class="description">
						Use our product finder to help you get further information on the commodities that you're interested in
					</div>
				</div>
				<div class="Variant2-description">
					<h2>Did you find this useful? You might find this helpful...</h2>
					<h3>Informa Economics IEG</h3>
					<div class="description">
						Informa Economics IEG offers broad-based domestic and international agricultural and commodity/product market research, analysis, evaluation and consulting
					</div>
				</div>
				<a href="#" class="cta2 btn semi-trans">Use our product finder</a>
		</div>
	</div>

</section>

<h2>Marketing banner - variant 2</h2>
<section class="marketing-banner Variation2">
	<div class="close">
		<a href="javascript:void(0)" class=""><span class="icon icon-close"></a>
	</div>
	<div class="cf-img">
		<img src="cms-images/banner-images/hero_texture.png" alt="" />
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-offset-1 col-md-7 image pull-right">
				<img class="img-responsive" src="cms-images/marketing-images/marketing-image-2.jpg" alt="" />
		</div>
		<div class="col-xs-12 col-md-4 content pull-right">
				<h2>Did you find this useful? You might find this helpful...</h2>
				<h3>Informa Economics IEG</h3>
				<div class="description">
					Informa Economics IEG offers broad-based domestic and international agricultural and commodity/product market research, analysis, evaluation and consulting
				</div>
				<a href="#" class="cta1 btn solid btn-primary">Read more about this product</a>
		</div>
	</div>
</section>