section.recommended-products {
    background-color: $grey-color02;
    padding: 10px;
    h2 {
        color: $white;
        font-weight: bold;
        span{
            font-weight: 200;
        }
    }
    h3 {
        margin-top: -20px;
        margin-bottom: 20px;
        font-size: 24px;
        color: $white;
        @include mobile {
            font-size: 22px;
        }
    }
    .intro-text {
        color: $white;
        margin-bottom: 20px;
        margin-top: -10px;
    }
    .container {
        padding: 0;
    }
    .recom-prod-carousel {
        .list-items .products .button-links .button-links-wrap {
            padding: 14px 25px;
        }
        .slick-list {
            border-right: none;
        }
        .slick-prev {
            left: 0%;
            @include mobile {
                margin-left: -3px;
            }
            @include tablet {
                margin-left: -10px;
            }
        }
        .slick-next {
            @include mobile {
                margin-left: -15px;
            }
            @include tablet {
                margin-left: -10px;
            }
        }
        ul.slick-dots {
            text-align: center;
            width: 100%;
            bottom: 0;
            position: relative;
            z-index: 2;
            margin: 15px 0;
            @include mobile {
               display: none !important;
            }
            li {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                border: none;
                background: #888e9f;
                padding: 0;
                &.slick-active {
                    //background: $yellow;
                }
                button {
                    display: none;
                }
            }
        }
        .recom-products {
            margin-right: 10px;
            .heading {
                background-color: $grey-color03;
                padding: 30px;
                position: relative;
                overflow: hidden;
                h4 {
                    color: $white;
                    img {
                        display: inline-block;
                        padding-bottom: 20px;
                    }
                }
                .sector {
                    display: inline-block;
                    padding: 3px 8px;
                    font-weight: 400;
                    font-size: 0.9em;
                    color: #f1f1f3;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    background-color: $grey-color05;
                    span {
                        &:after {
                            content: ',';
                        }
                        &:last-child {
                            &:after {
                                content: '';
                            }
                        }
                    }
                }
                .brand {
                    color: #f1f1f3;
                    font-weight: 200;
                }
                &:after {
                    content: '';
                    width: 110%;
                    height: 100%;
                    background-color: $grey-color10;
                    position: absolute;
                    -ms-transform: rotate(-5deg);
                    /* IE 9 */
                    -webkit-transform: rotate(-5deg);
                    /* Chrome, Safari, Opera */
                    transform: rotate(-5deg);
                    top: calc(100% - 38px);
                    left: 0;
                }
            }
            .body {
                padding: 30px 15px 20px 15px;
                background-color: $grey-color10;
                p {
                    line-height: 25px;
                    padding: 10px;
                }
                li {
                    list-style-type: none;
                    padding-bottom: 20px;
                    position: relative;
                    font-weight: bold !important;
                    &:before {
                        position: absolute;
                        left: -33px;
                        font-size: 20px;
                        top: -6px;
                    }
                }
            }
            .button-links {
                background-color: $grey-color09;
                min-height: 90px;
                overflow: hidden;
                position: relative;
                padding: 60px 20px 20px 20px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 110%;
                    top: calc(-100% + 33px);
                    left: -10px;
                    background-color: $grey-color10;
                    transform: rotate(-5deg);
                    height: 100%;
                }
                a {
                    width: 100%;
                    min-width: initial;
                }
                .button-links-wrap {
                    background-color: red;
                    @include rotate(-5deg);
                    margin-top: 10px;
                    height: 10px;
                }
            }
        }
    }
}
