<!--START SIGNUP BOX-->
<div class="inf-sign-up-box">

    <img src="./Static/images/logo.png" alt="" />

    <p>
        For the latest on Brexit
    </p>

    <input type="text" placeholder="name@emailaddress.com" />

    <input id="ctaUrl" type="hidden" value="https://pharmaintelligence.informa.com/" />

    <label class="error-msg">Please provide a valid email address.</label>
    
    <button class="inf-sign-up redirect-to-link" disabled>sign up</button>

    <img class="collapse-box" src="./Static/images/collapse.png" alt="" />

</div>

<div class="inf-sign-up-box-expand">

    <a href="javascript:void(0);">sign up here</a>

    <img class="expand-box" src="./Static/images/expand.png" alt="" />

</div>
<!--END SIGNUP BOX-->