<section id="rte-table" class="rte-custom-table">
	<div class="container">
		<h1>world Sugar Balance <strong>(min tonnes,tel quel)</strong></h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>&nbsp;</td>
						<td>2015/16</td>
						<td>2014/15</td>
						<td>Change in min tonnes in</td>
					</tr>
					<tr>
						<td>Production</td>
						<td>163.905</td>
						<td>171.225</td>
						<td>-7.320
							<span class="rteTable-rightText">-4.28</span>
						</td>
					</tr>
					<tr>
						<td>Consumption</td>
						<td>170.556</td>
						<td>167.489</td>
						<td>3.067
							<span class="rteTable-rightText">1.83</span>
						</td>
					</tr>
					<tr>
						<td>Surplus/Deficit</td>
						<td>-6.651</td>
						<td>171.225</td>
						<td></td>
					</tr>
					<tr>
						<td>Import demand</td>
						<td>170.556</td>
						<td>167.489</td>
						<td>3.067
							<span class="rteTable-rightText">1.83</span>
						</td>
					</tr>
					<tr>
						<td>Surplus/Deficit</td>
						<td>163.905</td>
						<td>171.225</td>
						<td>-7.320
							<span class="rteTable-rightText">-4.28</span>
						</td>
					</tr>
					<tr>
						<td>Import demand</td>
						<td>170.556</td>
						<td>167.489</td>
						<td>3.067
							<span class="rteTable-rightText">1.83</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="responsiveTable">
		</div>
	</div>
</section>
