<div class="Meet-customer">
    <img class="img-customer" src="cms-images/meet-customer/meet-customer.png">

    <div class="mc-description">
        <h2>Meet your next customer</h2>
        <div class="mc-button-div">
            <div class="mc-button-child">
                <a class="btn btnprimary border-button">Discover</a>
            </div>
            <div class="mc-button-child">
                <a class="btn btnprimary border-button">Learn more</a>
            </div>
            <div class="mc-button-child">
                <a class="btn btnprimary border-button">Contact us</a>
            </div>
            <div class="mc-button-child">
                <a class="btn btnprimary border-button">Discover</a>
            </div>
        </div>
    </div>
</div>
