
form.request-a-demo {

    //for tooltips
    legend {
        
        &::after {
            position: absolute;
            font-family: 'InformaIcons';
            content: '\e915';
            padding-left: 15px;
        }
        
    }
    
}
