---
component: pdp-feature-list
---
<section id="market-focus">
    <div class="container">
        <div class="row headline">
            <div class="col-xs-12">
                <h2>Market Focus</h2>
            </div>
        </div>
        <div class="row">
            {{#each this}}
                <div class="market-list-wrapper col-xs-12 col-sm-4 col-md-3">
                    <div class="market-list">
                        <div class="abs-image"><img src="/cms-images/market-focus/{{image}}"></div>
                        <h4>{{title}}</h4>
                        <p>{{description}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
