$about-hero-height-desktop: 530px;

section#about-us-hero{
  height: $about-hero-height-desktop;
  overflow: hidden;
  .sample{
    position: relative;
    margin: 0;
  }
  .container {
    overflow: hidden;
  }
  .img-bg{
    margin: 0 -15px;
    overflow: hidden;
    img{
      height: $about-hero-height-desktop;
      position:relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .transparent-bg-content{
    position: absolute;
    background: rgba(0,0,0,0.7);
    height: 100%;
    &:before {
      content: '';
      position: absolute;
      left: -130px;
      height: $about-hero-height-desktop;
      width: 0;
      border-top: $about-hero-height-desktop solid transparent;
      border-bottom: 0px solid transparent;
      border-right: 130px solid RGBA(0,0,0,0.7);
    }
     @media (max-width: 1023px) and (min-width: 768px)  {
      &:before {
            content: '';
            position: absolute;
            left: -130px;
            width: 0;
            border-top: $about-hero-height-desktop solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 130px solid RGBA(0,0,0,0.7);
      }
    }
    @include mobile {
      height: $about-hero-height-desktop;
      &:before {
        content: '';
        position: none;
        left: 0px;
        height: 0px;
        width: 0;
        border-top: none;
        border-bottom: none;
        border-right: none;
      }
    }
    h2 {
      color: $white;
      padding-bottom: 0 !important;
      @include heading-padding((50px 20px),(40px 20px),(30px 10px));
    }
    .description {
        @include heading-padding((50px 20px),(40px 20px),(30px 10px));
        p{
          color: $white;
        }
    }
  }
}
