.category-filter-list {
    background-color: $white;
    padding: 20px 0;
    h2 {
        font-size: $font-size-h2;
        font-family: FSMe-Bold;
    }
    h3 {
        font-size: $font-size-h2;
        font-family: FSMe-Light;
        margin-bottom: 20px;
        color:$gray-dark-bg;
    }
    .selectMenu{
    	width: 200px;
    	@include mobile{
    		width: 100%;
    	}
    }
}
