.category-filter-list {
    background-color: $white;
    h2 {
        padding-bottom: 25px;
        @include not-desktop{
           padding-bottom: 20px; 
        }
        @include tablet {
            padding: 40px 0;
        }
        @include mobile {
            padding: 30px 0;
        }
        span{
            font-weight: 200;
        }
    }
    h3 {
        padding: 25px 0;
        margin-bottom: 0;
        @include not-desktop{
           padding: 20px 0; 
        }
        @include tablet {
            padding: 20px 0;
        }
    }
    .selectMenu{
        width: 250px;
        @include mobile{
            width: 100%;
        }
    }
}