nav#pdp-navigation {
      background: $yellow;
      border-bottom: 4px solid $grey-color5;
      &.navbar-fixed-top {
            position: fixed;
            width: 100%;
      }
      ul {
            margin: 0;
            position: relative;
            li {
                  margin-right: 20px;
                  a {
                        font-size: 14px;
                        color: $gray-dark-bg;
                        padding: 15px 0px;
                  }
            }
      }
      .menuFollower {
            background: $grey-color3;
            height: 5px;
            margin-top: -5px;
            width: 150px;
            position: absolute;
            transition: .3s ease-in;
            display: none;
      }

      @include desktop{
            .nav-pdp-nondesktop{
                  display: none;
            }
            #pdp-sections{
                  display: block;
                  .nav-pdp-desktop-sticky{
                        float: right;
                        opacity: 0;
                        a{
                              margin-top: -10px;
                              margin-bottom: 10px;
                              margin-left: 10px;
                              padding-top: 10px;
                              padding-bottom: 10px;
                              padding-right: 25px;
                              &:after{
                                    position: absolute;
                                    right: 5px;
                                    content: "\e900";
                                    font-family: "InformaIcons" !important;
                              }
                        }
                        &.move-left{
                              opacity: 1;
                              transition: opacity 2s ease-in;
                        }
                        .try-stick{
                              &.btn{
                                    color: $white;
                                    background: $orange !important;
                              }
                        }
                        .subscribe-stick{
                              &.btn{
                                    color: $gray-dark-bg;
                                    background: none !important;
                              }

                        }
                  }
                  #pdp-sections-heading{
                        color: $gray-dark-bg;
                        font-size: 18px;
                        opacity: 0;
                        &.move-left{
                              opacity: 1;
                              transition: opacity 2s ease-in;
                        }
                  }
                  .navbar-nav {
                        display: block;
                        width: auto;
                        margin: 0;
                  }
                  .navbar-nav > li {
                        float: none;
                        display: inline-block;
                        text-align: left;
                  }
            }
      }

      @include not-desktop{

            .container{
                  .row{
                        position: relative;
                        .nav-pdp-nondesktop{
                              display: inline-block;
                              height: 50px;
                              text-align: center;
                              padding: 15px 0;
                              width: 95%;
                              padding-left: 0;
                              transition: width 2s, left 2s;
                              &.move-left{
                                    width: 20%;
                                    padding-left: 7.5px;
                                    @include tablet{
                                          width: 5%;
                                          padding-left: 15px;
                                    }
                              }
                              >a{
                                    position: relative;
                                    color: $text-gray-dark;
                                    &:after {
                                          content: '>';
                                          color: #343742;
                                          position: absolute;
                                          transform: rotate(90Deg);
                                          -ms-transform: rotate(90Deg);
                                          -webkit-transform: rotate(90Deg);
                                          font-size: large;
                                          top: -3px;
                                          right: -20px;
                                          font-family: FSMe-bold;
                                    }
                                    &:hover{
                                          text-decoration: none;
                                    }
                                    &:focus{
                                          text-decoration: none;
                                    }
                              }
                        }
                        .nav-pdp-nondesktop-sticky{
                              position: absolute;
                              top: 0;
                              right: 0;
                              opacity: 0;

                              a{
                                    height: 30px;
                                    padding: 5px;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    margin-right: 10px;
                              }
                              &.move-left{
                                    opacity: 1;
                                    transition: opacity 2s ease-in;
                              }
                        }
                        #pdp-sections{
                              display: none;
                              ul{
                                    margin-top: 0;
                                    margin-bottom: 0;
                                    li {
                                          width: 100%;
                                          display: block;
                                    }
                              }
                              #pdp-sections-heading{
                                    text-align: center;
                                    color: $gray-dark-bg;
                                    font-size: 18px;
                              }
                        }
                  }
            }

            .menuFollower {
                  display: none!important;
            }
      }

}
