nav#pdp-navigation {
      background: $yellow;
      border-top: 1px solid $light;
      border-bottom: 2px solid $gray-light;
      @include mobile {
            display: none;
      }
      &.navbar-fixed-top {
            position: fixed;
            width: 100%;
      }
      ul {
            margin: 0;
            li {
                  a {
                        font-size: 14px;
                        color: $gray-dark-bg;
                        padding: 15px 20px;
                  }
            }
      }
      .menuFollower {
            background: $light;
            height: 5px;
            margin-top: -5px;
            width: 150px;
            position: absolute;
            transition: .3s ease-in;
            display: none;
      }
}
