section.recommendation-register-banner{
  color: $white;
.gray-dark-container{
  background: $grey-color1;
}

.gray-light-container{
  background: $gray-header;
}

.create-profile-container{
      padding: 20px;
      h2{
        color: $white;
        span{
          color: $white;
        }
      }
}
  .signup-container{
    padding: 15px;
    height: 150px;
  }
  .create-profile-btn-container {
    width: 20%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  }

.tick-icon:before{
  margin-right: 10px;
  font-family: "InformaIcons" !important;
  content: "\e914";
  font-size: 25px;
  color: $yellow;
  top: -3px;
}



  .existing-customer-container{
    text-align: center;
    margin: 0 auto;
    padding: 15px;
        height: 100px;
  }
  .steps-tips{
    @include mobile {
      margin-bottom: 20px;
    }
    .desc{
          word-wrap: break-word;
      padding-top: 24px;
      font-size: 24px;
      @include tablet {
        padding-top: 2px;
        font-size: 15px;
      }
      @include mobile {
        padding-top: 0px;
        font-size: 20px;
      }
    }
  }
}
