section.recommendation-register-banner {
    color: $white;
    .create-profile-container-white {
        //  background: $grey-color03;
        //padding-bottom: 40px;
        h2 {
            color: $grey-color05;
            span {
                color: $grey-color05;
            }
            @include mobile {
                padding-left: 10px;
            }
        }
        @include mobile {
            //padding-bottom: 20px;
        }
        @include tablet {
            //padding-bottom: 30px;
        }
        .desc {
            color: $grey-color05;
        }
    }
    .create-profile-container-dark {
        background: $grey-color03;
        padding-bottom: 40px;
        h2 {
            color: $white;
            span {
                color: $white;
            }
            @include mobile {
                padding-left: 10px;
            }
        }
        @include mobile {
            padding-bottom: 20px;
        }
        @include tablet {
            padding-bottom: 30px;
        }
    }
    .signup-container {
        padding: 15px;
        background: $grey-color05 -header;
        text-align: center;
        @include tablet {
          text-align: left;
          padding-left: 35px;
        }
        span{
          @include mobile {
            display: block;
            text-align: left;
            padding-left: 25px;
            line-height: 25px;
          }
        }
        span.bold{
            position: relative;
            // padding-left: 35px;
            font-weight: bold;
            &:before {
                margin-right: 10px;
                font-family: "InformaIcons" !important;
                content: "\e914";
                font-size: 20px;
                //color: #ffd500;
                position: absolute;
                left: -27px;
                top: -5px;
                @include mobile {
                    left: -4px;
                    top: 0px;
                }
                @include tablet {
                    left: -34px;
                }
            }
        }
    }
    .create-profile-btn-container {
        //width: 20%;
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
        @include mobile {
          .btn{
              width: 100%;
          }

        }
    }
    // .tick-icon {
    //     position: relative;
    // }
    // .tick-icon:before {
    //     margin-right: 10px;
    //     font-family: "InformaIcons" !important;
    //     content: "\e914";
    //     font-size: 20px;
    //     color: #ffd500;
    //     position: absolute;
    //     left: -22px;
    //     top: -8px;
    // }
    .existing-customer-container {
        background: $grey-color03;
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
        @include mobile {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .steps-tips {
        @include mobile {
            margin-bottom: 20px;
        }
        .steps-item {
            @include mobile {
                position: relative;
            }
        }
        .image{
          width: 100px;
        }
        .desc {
            word-wrap: break-word;
            padding-top: 24px;
            font-size: 20px;
            @include tablet {
                padding-top: 2px;
                font-size: 15px;
            }
            @include mobile {
                padding-top: 0px;
                font-size: 15px;
                position: absolute;
                left: 80px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .existing-customer-wrapper {
        @include mobile {
            display: block;
            text-align: left;
        }
    }
    .existing-customer-span{
        margin-right: 10px;
    }
    .goto-product {
        color: $white;
        text-decoration: underline;
        cursor: pointer;
        @include mobile {
            display: block;
            text-align: left;
        }
    }
    .light-font {
        font-weight: 200;
    }
}
