section.pageNotFound{
  a {
    color: #2a6496 !important;
    &.btn{
      color: $white !important;
      &:hover{
        color: $white !important;
      }
    }
    &:hover {
      color: #2a6496 !important;
    }
  } 
  .logo{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 30%;
    margin: 0 auto;
    @include mobile {
      width: 92%;
    }
  }
  .error-msg{
    padding: 50px 0;
    h2{
      color: $grey-color03;
      font-weight: bold;
    }
    .sub-text{
      color: $grey-color03;
    }
  }
  .go-to-home{
    width: 19%;
    font-weight: bold;
    a{
      width: 173px;
      color: $white;
      @include mobile {
        width: 100%;
      }
    }
    .btn:after {
        font-family: "InformaIcons";
        content: "\e900";
        right: 10px;
    }
    @include mobile {
      width: 92%;
    }
  }
}
