.pageNotFound{
  .logo{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 30%;
    margin: 0 auto;
    @include mobile {
      width: 92%;
    }
  }
  .error-msg{
    padding-top: 50px;
    h2{
      color: $grey-color03;
      font-family: FSMe-bold;
    }
    .sub-text{
      color: $grey-color03;
    }
  }
  .go-to-home{
    width: 19%;
    font-family: FSMe-bold;
    a{
      width: 173px;
      color: $white;
      @include mobile {
        width: 100%;
      }
    }
    .btn:after {
        font-family: "InformaIcons";
        content: "\e900";
        right: 10px;
    }
    @include mobile {
      width: 92%;
    }
  }
}
