<section id="events" data-view="list-view" class="events-list">
  <div class="container" data-count="3">
    <div class="header clearfix">
      <a href="javascript:void(0)" class="arrows previous"></a>
      <h2>
        June 2016
      </h2>
      <a href="javascript:void(0)" class="arrows next"></a>
    </div>
    <div class="events-container row">
      
    </div>
  </div>
  <div class="more-events">
    <button class="btn btn-more-events">
      <span class="more">
        More Events
      </span>
      <span class="less">
        Less Events
      </span>
    </button>
  </div>
</section>
<section id="events" data-view="tile-view" class="events-list">
  <div class="container" data-count="3">
    <div class="header clearfix">
      <a href="javascript:void(0)" class="arrows previous"></a>
      <h2>
        June 2016
      </h2>
      <a href="javascript:void(0)" class="arrows next"></a>
    </div>
    <div class="events-container row">
      
    </div>
  </div>
  <div class="more-events">
    <button class="btn btn-more-events">
      <span class="more">
        More Events
      </span>
      <span class="less">
        Less Events
      </span>
    </button>
  </div>
</section>
<section data-view="calendar-view" class="events-list">
  <div class="container" data-datetype="month">
    <div class="row">
      <div class="col-12 fccal"></div>
    </div>
  </div>
  <div class="container" data-datetype="year">
    <div class="row">
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
    </div>
  </div>
</section>
<section class="no-result hidden">
  <div class="container">
    no Result
  </div>
</section>