<section id="events-calendar" data-currentpage="{438BAD77-0250-4B23-9E92-D6267FF2D146}" data-count="3" total-count="0">
  <div class="container header">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <a href="javascript:void(0)" class="arrows previous"></a>
        <h2>June 2016</h2>
        <a href="javascript:void(0)" class="arrows next"></a>
      </div>
    </div>
  </div>
  <div class="container events-list" data-view="list-view">
    <div class="events-container row">
    </div>
  </div>
  <div class="container events-list" data-view="tile-view">
    <div class="events-container row">
    </div>
  </div>
  <div class="container events-list" data-view="calendar-view">
    <div class="row" data-datetype="month">
      <div class="col-12 fccal"></div>
    </div>
    <div class="row" data-datetype="year">
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
      <div class="col fccal col-xs-12 col-sm-6 col-md-4"></div>
    </div>
  </div>
  <div class="container no-result hidden">
    <div class="row">
      <div class="col-12">
        <p>no Result</p>
      </div>
    </div>
  </div>
  <div class="container more-events">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-more-events">
          <span class="more">More Events</span>
          <span class="less">Less Events</span>
        </button>
      </div>
    </div>
  </div>
</section>