
.video-full-container {
    .embed-responsive {
        h1{
            position: absolute;
            top: 50%;
            left: 27px;
            bottom: 0;
            margin-top: -27px;
            margin-left: -27px;
            position: absolute;
            color: #fff;
            text-align: center;
            width: 100%;
        }
    }
}
.embed-responsive {
    .embed-responsive-item ,iframe,embed,object{
        z-index:1;
    }
}

.hide-controls {
    .ytp-chrome-bottom {
        display:none;
    }
    .player {
        .vp-controls {
            display:none;
        }
    }
}
