.informa-full-video-component {
    margin-top: 20px;

    .video-full-container {
        //max-height: 750px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;

        img {
            width: 100%;
            max-width: 100%;
            float: none;
            display: block;
        }

        .video-img {
            height: auto;
        }

        .play-icon {
            position: absolute;
            width: 90px;
            height: 90px;
            background: url("/Static/images/video-icon.png") no-repeat;
            top: 50%;
            left: 50%;
            margin-top: -27px;
            margin-left: -27px;

            @include tablet {
                width: 80px;
                height: 80px;
            }

            @include mobile {
                width: 55px;
                height: 55px;
            }
        }

        .embed-responsive {
            h1 {
                position: absolute;
                top: 50%;
                left: 27px;
                bottom: 0;
                margin-top: -27px;
                margin-left: -27px;
                position: absolute;
                color: #fff;
                text-align: center;
                width: 100%;

            }

            .embed-responsive-item,
            iframe,
            embed,
            object {
                z-index: 1;
            }
        }
    }

    .embed-responsive.embed-responsive-16by9 {
        padding-bottom: 48.25%;
    }

    .video-full-webinar {
        padding: 10px 0;

        a {
            color: $yellow;
        }

        .download-link {
            &:after {
                content: "\e905";
                font-family: 'InformaIcons';
                right: 15px;
                font-weight: bold;
                font-size: 16px;
                color: $yellow;
            }
        }
    }
}

.informa-full-video-component {
    .embed-responsive.embed-responsive-16by9 {
        @include not-desktop {
            padding-bottom: 90%;
        }

        @include mobile {
            border: 3px solid #e697e6;
            background: #000;
        }
    }
}

.mobile-aspectratio {
    &.informa-full-video-component {
        background-size: cover;
        background-repeat: no-repeat;

        .embed-responsive.embed-responsive-16by9 {
            @include not-desktop {
                padding-bottom: 48.25%;
            }
        }

        .video-full-container {
            .video-title {
                display: none;

                @include mobile {
                    display: block;
                    font-size: 22px;
                    padding: 40px 0px;
                    width: 300px;
                    margin: 0 auto;
                    color: #fff;
                }
            }

            .play-icon {
                @include mobile {
                    background-size: 35px 35px;
                }
            }

            .embed-responsive {
                h1,h2,h3,h4,h5,h6 {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 27px;
                    bottom: 0;
                    margin-top: -27px;
                    margin-left: -27px;
                    position: absolute;
                    color: #fff;
                    text-align: center;
                    width: 100%;
                    @include mobile {
                        font-size: 18px;
                        display: none;
                    }
                }
            }
        }
    }
}