<section class="recommended-products product-results search-container">
       <div class="container">
           <div class="row">
                <div class="col-xs-12">
                      <div class="slick-carousel recom-prod-carousel" data-itemsperframe="3" data-autorotate=false data-transitionspeed="400" data-slideduration="4000" data-pagination=true accessibility="true">
                        <div class="col-xs-12">
                          <div class="list-items">
                              <div class="products">
                                <div class="heading">
                                    <div class="heading-content">
                                        <p class="category">
                                            
                                            <strong>Sector Name</strong>
                                            
                                        </p>
                                        <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                    </div>
                                </div>
                                <div class="body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <ul>
                                        <li class="icon-tick">Helps identify market trends</li>
                                        <li class="icon-tick">Reduces risk&nbsp;by&nbsp;evaluating&nbsp;volatility</li>
                                        <li class="icon-tick">Saves time and money</li>
                                    </ul>
                                    <div class="button-links">
                                        <div class="button-links-wrap row">
                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-default">Details</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-primary">Free Trial</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-xs-12">
                          <div class="list-items">
                              <div class="products">
                                <div class="heading">
                                    <div class="heading-content">
                                        <p class="category">
                                            
                                            <strong>Sector Name</strong>
                                            
                                        </p>
                                        <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                    </div>
                                </div>
                                <div class="body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <ul>
                                        <li class="icon-tick">Helps identify market trends</li>
                                        <li class="icon-tick">Reduces risk&nbsp;by&nbsp;evaluating&nbsp;volatility</li>
                                        <li class="icon-tick">Saves time and money</li>
                                    </ul>
                                    <div class="button-links">
                                        <div class="button-links-wrap row">
                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-default">Details</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a href="#" class="btn btn-primary">Free Trial</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-xs-12">
                          <div class="list-items">
                            <div class="products">
                              <div class="heading">
                                  <div class="heading-content">
                                      <p class="category">
                                          
                                          <strong>Sector Name</strong>
                                          
                                      </p>
                                      <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                  </div>
                              </div>
                              <div class="body">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                  <ul>
                                      <li class="icon-tick">Helps identify market trends</li>
                                      <li class="icon-tick">Reduces risk&nbsp;by&nbsp;evaluating&nbsp;volatility</li>
                                      <li class="icon-tick">Saves time and money</li>
                                  </ul>
                                  <div class="button-links">
                                      <div class="button-links-wrap row">
                                          <div class="col-xs-6">
                                              <a href="#" class="btn btn-default">Details</a>
                                          </div>
                                          <div class="col-xs-6">
                                              <a href="#" class="btn btn-primary">Free Trial</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12">
                          <div class="list-items">
                            <div class="products">
                              <div class="heading">
                                  <div class="heading-content">
                                      <p class="category">
                                          
                                          <strong>Sector Name</strong>
                                          
                                      </p>
                                      <h4>Biomedtracker <span class="pharma-icon brand-icon"></span></h4>
                                  </div>
                              </div>
                              <div class="body">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                  <ul>
                                      <li class="icon-tick">Helps identify market trends</li>
                                      <li class="icon-tick">Reduces risk&nbsp;by&nbsp;evaluating&nbsp;volatility</li>
                                      <li class="icon-tick">Saves time and money</li>
                                  </ul>
                                  <div class="button-links">
                                      <div class="button-links-wrap row">
                                          <div class="col-xs-6">
                                              <a href="#" class="btn btn-default">Details</a>
                                          </div>
                                          <div class="col-xs-6">
                                              <a href="#" class="btn btn-primary">Free Trial</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
           </div>
       </div>
</section>
