<section class="recommended-products">
       <div class="container">
           <div class="row">
                <div class="col-xs-12">
                      <div class="slick-carousel recom-prod-carousel" data-itemsperframe="3" data-autorotate=true data-transitionspeed="400" data-slideduration="4000" data-pagination=true>
                        <div class="recom-products">
                          <div class="heading">
                            <div class="sector">
                                <span>Sector Name</span>
                            </div>
                            <div class="brand">
                                <span>Brand Name</span>
                            </div>
                            <h4>Medtrack <img src="Static/images/pharma-small1.png" alt=""/></h4>
                          </div>
                          <div class="body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                              <ul>
                                  <li class="icon-tick">Helps identify market trends</li>
                                  <li class="icon-tick">Reduces risk by evaluating volatility</li>
                                  <li class="icon-tick">Saves time and money</li>
                              </ul>
                          </div>
                          <div class="button-links">
                              <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-default">Details</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-primary">Free Trial</a>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="recom-products">
                          <div class="heading">
                            <div class="sector">
                                <span>Sector Name</span>
                            </div>
                            <div class="brand">
                                <span>Brand Name</span>
                            </div>
                            <h4>Medtrack <img src="Static/images/pharma-small1.png" alt=""/></h4>
                          </div>
                          <div class="body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                              <ul>
                                  <li class="icon-tick">Helps identify market trends</li>
                                  <li class="icon-tick">Reduces risk by evaluating volatility</li>
                                  <li class="icon-tick">Saves time and money</li>
                              </ul>
                          </div>
                          <div class="button-links">
                              <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-default">Details</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-primary">Free Trial</a>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="recom-products">
                          <div class="heading">
                            <div class="sector">
                                <span>Sector Name</span>
                            </div>
                            <div class="brand">
                                <span>Brand Name</span>
                            </div>
                            <h4>Medtrack <img src="Static/images/pharma-small1.png" alt=""/></h4>
                          </div>
                          <div class="body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                              <ul>
                                  <li class="icon-tick">Helps identify market trends</li>
                                  <li class="icon-tick">Reduces risk by evaluating volatility</li>
                                  <li class="icon-tick">Saves time and money</li>
                              </ul>
                          </div>
                          <div class="button-links">
                              <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-default">Details</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-primary">Free Trial</a>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="recom-products">
                          <div class="heading">
                            <div class="sector">
                                <span>Sector Name</span>
                            </div>
                            <div class="brand">
                                <span>Brand Name</span>
                            </div>
                            <h4>Medtrack <img src="Static/images/pharma-small1.png" alt=""/></h4>
                          </div>
                          <div class="body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                              <ul>
                                  <li class="icon-tick">Helps identify market trends</li>
                                  <li class="icon-tick">Reduces risk by evaluating volatility</li>
                                  <li class="icon-tick">Saves time and money</li>
                              </ul>
                          </div>
                          <div class="button-links">
                              <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-default">Details</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-primary">Free Trial</a>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                </div>
           </div>
       </div>
</section>
