#helpFaqs,
.accordian-structure {
	padding: 30px 0;
	.selectMenu {
		padding: 0;
		.chosen-select {
			padding: 0 0 0 8px;
			height: 45px;
			border: 1px solid $grey-color09;
			option {
				font-size: 14px;
				padding: 10px 6px;
			}
		}
		.chosen-container,
		.chosen-single {
			height: 45px;
			border-radius: 0;
			border: solid 1px $grey-color09;
			span {
				margin-top: 6px;
				font-size: 14px;
			}
		}
		.chosen-container .chosen-drop {
			border-radius: 0;
			//background-color: transparent;
			border: solid 1px $grey-color09;
			box-shadow: none;
		}
		.chosen-container-single .chosen-drop {
			font-size: 14px;
		}
		.chosen-container .chosen-results {
			border-radius: 0;
			margin: 0;
			padding: 0;
		}
		.chosen-container .chosen-results li.active-result {
			font-size: 14px;
		}
		.chosen-drop {
			border-radius: none;
		}
		.chosen-single {
			border: none;
		}
		.chosen-container-single .chosen-single div b {
			display: none;
		}
		.chosen-container-single .chosen-single div:after {
			top: 50%;
			margin-top: -20px;
			content: '\e901';
			position: absolute;
			font-family: "InformaIcons";
			margin-left: -10px;
			font-size: 16px;
		}
		.chosen-container .chosen-results li {
			padding: 10px 6px;
		}
		
	}
	.panel-group {
		.panel {
			background-color: transparent;
			border: none;
			border-bottom: 2px solid #e1e3e7;
			-webkit-box-shadow: none;
			box-shadow: none;
			.panel-heading {
				background-color: transparent;
				position: relative;
				padding: 0;
				.panel-title {
					a {
						color: $grey-color05;
						font-size: 18px;
						font-style: italic;
						font-weight: bold;
						width: 100%;
						display: block;
						padding: 25px 0;
						&:active,
						&:focus,
						&:hover {
							text-decoration: none;
						}
						&.collapsed {
							font-weight: normal;
							&:after {
								content: "\e912";
								//color: $yellow;
							}
						}
						&:after {
							content: "\e913";
							position: absolute;
							right: 0;
							top: 50%;
							margin-top: -20px;
					    font-size: 35px;
							font-family: 'InformaIcons';
							font-style: normal;
							color: #6a7287;
						}
						@include mobile {
							padding: 25px 35px 25px 0;
						}
					}
				}
			}
			.panel-body {
				border: none;
				padding: 15px 60px 40px 0;
			}
		}
	}
	.btn {
		width: 260px;
		margin: 15px 50px;
		@include mobile {
			margin: 0;
			width: 100%;
		}
		&:after {
			//color: $yellow;
		}
	}
}
/*Experience Mode FAQs*/
.experience-mode {
	#faqs {
		.collapse {
			display: block !important;
		}
	}
}
.btn-faq-more { 
	//border-color: $yellow;
}








