<section class="newsFlash">
    <div class="container">      
        <div class="row">
            <div class="col-xs-12 newsbox">
              <span id="close-news" class="cross"></span>
                  <div class="news-carousel" data-itemsperframe="1" data-autorotate=false data-transitionspeed="400" data-slideduration="4000" data-pagination=false accessibility="true">
                      <div class="news1">
                          <div class="news-title">
                                <strong>Latest: </strong><span>Lorem ipsum dolor1</span>
                          </div>
                          <div class="news-desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                ,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </div>
                          <a href="#" class="read">Read more</a>
                      </div>
                      <div class="news1">
                          <div class="news-title">
                                <strong>Latest: </strong><span>Lorem ipsum dolor2</span>
                          </div>
                          <div class="news-desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                ,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </div>
                          <a href="#" class="read">Read more</a>
                      </div>
                      <div class="news1">
                          <div class="news-title">
                                <strong>Latest: </strong><span>Lorem ipsum dolor3</span>
                          </div>
                          <div class="news-desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                ,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </div>
                          <a href="#" class="read">Read more</a>
                      </div>

                 </div>
             </div>

       </div>
   </div>
</section>
