<section class="product-finder-results">
	<div class="container">
		<p class="results"><strong>{{products-count}}</strong> Products found</p>
		<div class="row">
			
		</div>
		<div class="btn-container">
			<a href="javascript:void(0)" class="btn-ShowMore">
				<span class="more">More Products</span>
				<span class="less">Less products</span>
			</a>
		</div>
	</div>
</section>