<section class="product-finder-results">
	<div class="container">
		<p class="results"><strong>28</strong> Products found</p>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				
			</div>
		</div>
	</div>
</section>