<section class="product-finder-results">
	<div class="container">
		<p class="results"><strong>{{products-count}}</strong> Products found</p>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 product-finder-list">
				<div class="product-finder-container">
					<div class="front">
						<div class="header">
							<img src="Static/images/video-thumb-sample.jpg" alt="video-thumb-sample" />
						</div>
						<div class="content">
							<h2>Informa Economics IEG</h2>
							<p>World leader since 1977 providing agricultural and commodity analysis, market research, evaluation and consulting.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at ex venenatis, aliquam eros non, bibendum velit. Sed nec eros eget arcu pretium pulvinar id ut augue.</p>
							<ul class="gray-bullets">
								<li>Fruit juices and concentrates</li>
								<li>Canned/dried/frozen fruits</li>
								<li>Canned tomatoes</li>
								<li>Tomato paste</li>
							</ul>
						</div>
						<div class="footer">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>