<section class="tech-search-inputbar">
<div class="tech-search-inputbar-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="search-icons">
                        <input type="text" name="search" placeholder="Search Informa Tech">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        
                    </div>
                
            </div>
        </div>
    </div>
</div>
</section>
<section class="hot-topics-view">
    <div class="view-toggle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-topics-heading">
                        <span>Explore More</span><strong>Hot Topics</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li class="btn btn-primary"><a href="http://dev.tech.informa.com/search?searchtext=Hot Topic 10">Hot Topic 10</a></li>            
                        <li class="btn btn-primary"><a href="http://dev.tech.informa.com/search?searchtext=Hot Topic 2">Hot Topic 2</a></li>            
                        <li class="btn btn-primary"><a href="http://dev.tech.informa.com/search?searchtext=Hot Topic 1">Hot Topic 1</a></li>            
                        <li class="btn btn-primary"><a href="http://dev.tech.informa.com/search?searchtext=Hot Topic 10">Hot Topic 10</a></li>            
                        <li class="btn btn-primary"><a href="http://dev.tech.informa.com/search?searchtext=Hot Topic 2">Hot Topic 2</a></li>            
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="facetFilter" class="refine-container-container">
    <div class="refine-container-list">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-topics-heading">
                        <span>Showing 38,125 result for</span><strong>Telecom News</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li id="facet-all" class="facet-selected" data-facet-name="All">All (10)</li>
                        <li data-facet-name="Media">Media (10) </li>
                        <li data-facet-name="Brands">Brands (4) </li>
                        <li data-facet-name="Research">Research (4) </li>
                        <li data-facet-name="Training">Training (4) </li>
                        <li data-facet-name="Press Release">Press Release (1) </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="listview-section">
        <div class="select-filter article-list-filter">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-dropdown">
                        <!-- Nav tabs -->
                        <div class="nav nav-tabs custom-nav">
                                    <div data-value-segment-and-subsegment="" name="segment" id="Segments" class="wrapper-dropdown-1 col-md-4 col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-offset-0 col-xs-offset-2 menu sgmnt-menu" tabindex="1">
                                        <a id="segments-menu"><span class="triangle-right"></span>Segment</a>
                                        <div class="dropdown-content dropdown-content-first">
                                            <div class="drop-content">
                                                <div class="row">
                                                    <div class="col-md-4 col-xs-12">
                                                        <ul class="drop-options">
                                                            <li id="" class="segmanet-head-mob" attr-index="0">
                                                                            <span class="triangle-right"></span>
                                                                            <label class="round-checkbox">
                                                                                <input type="checkbox" class="input-checkbox">
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                            <p class="segmanet-head">Critical Communications</p>
                                                                                <ul class="sub-seg-mob">
                                                                                    <li class="selectall" parentsegmentid="3b4ea4efbc9443f3bec797f4b384bf88">
                                                                                        <label class="round-checkbox active">
                                                                                            <input type="checkbox" class="input-checkbox">
                                                                                            <span class="checkmark"></span>
                                                                                        </label>
                                                                                        <p class="sub-seg sub-segment">SubSegment</p>
                                                                                    </li>
                                                                                            <li id="9f6e7cfd0609418dbed961334544a378" parentsegmentid="3b4ea4efbc9443f3bec797f4b384bf88" attr-index="1">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">First Responders and Emergency Services</p>
                                                                                            </li>
                                                                                </ul>
                                                            </li>
                                                            <li id="" class="segmanet-head-mob" attr-index="2">
                                                                            <span class="triangle-right"></span>
                                                                            <label class="round-checkbox">
                                                                                <input type="checkbox" class="input-checkbox">
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                            <p class="segmanet-head">Emerging Technologies</p>
                                                                                <ul class="sub-seg-mob">
                                                                                    <li class="selectall" parentsegmentid="f0c1f4f4d4934fcca370b9b0d005c520">
                                                                                        <label class="round-checkbox active">
                                                                                            <input type="checkbox" class="input-checkbox">
                                                                                            <span class="checkmark"></span>
                                                                                        </label>
                                                                                        <p class="sub-seg sub-segment">SubSegment</p>
                                                                                    </li>
                                                                                            <li id="986978f3c5c44aabac553fa8aadb5a77" parentsegmentid="f0c1f4f4d4934fcca370b9b0d005c520" attr-index="3">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">AI</p>
                                                                                            </li>
                                                                                            <li id="7de72fc0067c48e3a8b2b6308294bd6c" parentsegmentid="f0c1f4f4d4934fcca370b9b0d005c520" attr-index="4">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Blockchain</p>
                                                                                            </li>
                                                                                            <li id="07a0d48363d746189cd8b7cfc31fc804" parentsegmentid="f0c1f4f4d4934fcca370b9b0d005c520" attr-index="5">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">IoT</p>
                                                                                            </li>
                                                                                </ul>
                                                             </li>
                                                        </ul>  
                                                    </div> 
                                                    <div class="col-md-4 col-xs-12">
                                                        <ul class="drop-options">
                                                                <li id="" class="segmanet-head-mob" attr-index="6">
                                                                    <span class="triangle-right"></span>
                                                                            <label class="round-checkbox">
                                                                                <input type="checkbox" class="input-checkbox">
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                            <p class="segmanet-head">Enterprise IT</p>
                                                                                <ul class="sub-seg-mob">
                                                                                    <li class="selectall" parentsegmentid="d958f1773b044beb9796fd249cd64047">
                                                                                        <label class="round-checkbox active">
                                                                                            <input type="checkbox" class="input-checkbox">
                                                                                            <span class="checkmark"></span>
                                                                                        </label>
                                                                                        <p class="sub-seg sub-segment">SubSegment</p>
                                                                                    </li>
                                                                                            <li id="0809426f4baa42e4a6be07407fb4fc8a" parentsegmentid="d958f1773b044beb9796fd249cd64047" attr-index="7">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Cloud / Data Centre</p>
                                                                                            </li>
                                                                                            <li id="d64fb2b9394c48389987dd77484c889b" parentsegmentid="d958f1773b044beb9796fd249cd64047" attr-index="8">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Contact Center</p>
                                                                                            </li>
                                                                                            <li id="1c5c6361bd9344108ce76c0d749b3db1" parentsegmentid="d958f1773b044beb9796fd249cd64047" attr-index="9">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Enterprise Communications</p>
                                                                                            </li>
                                                                                            <li id="2db0c5361ae9409aadad14fec0cdf88f" parentsegmentid="d958f1773b044beb9796fd249cd64047" attr-index="10">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Service Management</p>
                                                                                            </li>
                                                                                            <li id="282e089e4afa48d687db4c20ecae2e52" parentsegmentid="d958f1773b044beb9796fd249cd64047" attr-index="11">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Channels</p>
                                                                                            </li>
                                                                                </ul>
                                                                </li>
                                                                <li id="" class="segmanet-head-mob" attr-index="12">
                                                                    <span class="triangle-right"></span>
                                                                     <label class="round-checkbox">
                                                                                <input type="checkbox" class="input-checkbox">
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                            <p class="segmanet-head">Marketing Technologies</p>
                                                                                <ul class="sub-seg-mob">
                                                                                    <li class="selectall" parentsegmentid="0affcd36646147508145de927ca518a4">
                                                                                        <label class="round-checkbox active">
                                                                                            <input type="checkbox" class="input-checkbox">
                                                                                            <span class="checkmark"></span>
                                                                                        </label>
                                                                                        <p class="sub-seg sub-segment">SubSegment</p>
                                                                                    </li>
                                                                                </ul>
                                                                        </li>
                                                                    </ul>  </div> <div class="col-md-4 col-xs-12">
                                                                        <ul class="drop-options">
                                                                        <li id="" class="segmanet-head-mob" attr-index="13">
                                                                            <span class="triangle-right"></span>
                                                                            <label class="round-checkbox">
                                                                                <input type="checkbox" class="input-checkbox">
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                            <p class="segmanet-head">Media And Entertainment</p>
                                                                                <ul class="sub-seg-mob">
                                                                                    <li class="selectall" parentsegmentid="aa7590abe3df48e393f4510714aea312">
                                                                                        <label class="round-checkbox active">
                                                                                            <input type="checkbox" class="input-checkbox">
                                                                                            <span class="checkmark"></span>
                                                                                        </label>
                                                                                        <p class="sub-seg sub-segment">SubSegment</p>
                                                                                    </li>
                                                                                            <li id="e4df4c5114c349299e98e408ee7b426f" parentsegmentid="aa7590abe3df48e393f4510714aea312" attr-index="14">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Game and VR Development</p>
                                                                                            </li>
                                                                                            <li id="962b282d273847fc915a3a4db0f805c8" parentsegmentid="aa7590abe3df48e393f4510714aea312" attr-index="15">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">TV, Video and Devices</p>
                                                                                            </li>
                                                                                </ul>
                                                                        </li>
                                                                        <li id="e32b1467ad124af8b3ac1620467171b7" class="segmanet-head-mob" attr-index="16">
                                                                            <span class="triangle-right"></span>
                                                                            <label class="round-checkbox">
                                                                                <input type="checkbox" class="input-checkbox">
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                            <p class="segmanet-head">Security</p>
                                                                                <ul class="sub-seg-mob">
                                                                                    <li class="selectall" parentsegmentid="e32b1467ad124af8b3ac1620467171b7">
                                                                                        <label class="round-checkbox active">
                                                                                            <input type="checkbox" class="input-checkbox">
                                                                                            <span class="checkmark"></span>
                                                                                        </label>
                                                                                        <p class="sub-seg sub-segment">SubSegment</p>
                                                                                    </li>
                                                                                </ul>
                                                                        </li>
                                                                    </ul>  </div> <div class="col-md-4 col-xs-12">
                                                                        <ul class="drop-options">
                                                                        <li id="" class="segmanet-head-mob" attr-index="17">
                                                                            <span class="triangle-right"></span>
                                                                            <label class="round-checkbox">
                                                                                <input type="checkbox" class="input-checkbox">
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                            <p class="segmanet-head">Service Providers</p>
                                                                                <ul class="sub-seg-mob">
                                                                                    <li class="selectall" parentsegmentid="19faf59231614944a91ca663f257f944">
                                                                                        <label class="round-checkbox active">
                                                                                            <input type="checkbox" class="input-checkbox">
                                                                                            <span class="checkmark"></span>
                                                                                        </label>
                                                                                        <p class="sub-seg sub-segment">SubSegment</p>
                                                                                    </li>
                                                                                            <li id="b6e11ecb4dbb469faffac49c93915faf" parentsegmentid="19faf59231614944a91ca663f257f944" attr-index="18">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">5G</p>
                                                                                            </li>
                                                                                            <li id="b6e76ed49c45438c922b6d690089dacb" parentsegmentid="19faf59231614944a91ca663f257f944" attr-index="19">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Broadband and Optical</p>
                                                                                            </li>
                                                                                            <li id="f651785231024e8eae7325282f620bda" parentsegmentid="19faf59231614944a91ca663f257f944" attr-index="20">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Connecting the World</p>
                                                                                            </li>
                                                                                            <li id="1e236233dc684a9d9d9c6bee112440ba" parentsegmentid="19faf59231614944a91ca663f257f944" attr-index="21">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">MVNO</p>
                                                                                            </li>
                                                                                            <li id="45f2db5948a94049aca4a9a5aee2c730" parentsegmentid="19faf59231614944a91ca663f257f944" attr-index="22">
                                                                                                <label class="round-checkbox active">
                                                                                                    <input type="checkbox" class="input-checkbox">
                                                                                                    <span class="checkmark"></span>
                                                                                                </label>
                                                                                                <p class="sub-seg sub-segment">Telco Infrastructure</p>
                                                                                            </li>
                                                                                </ul>
                                                                        </li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                <div class="col-md-4 col-xs-offset-2 col-md-offset-0 col-xs-8 col-md-offset-0 col-xs-offset-2 menu brands">
                                    <a id="brands-menu"><span class="triangle-right"></span>Brands</a>
                                    <div class="dropdown-content dropdown-content-third">
                                        <div name="articlebrands" id="articlebrands" data-value-brands="" class="wrapper-dropdown-1 drop-content active-drop" tabindex="1">
                                            <ul class="drop-options">
                                                    <li id="" class="brands-item" attr-index="0">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">5G Core Summit</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="1">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">5G World Series</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="2">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">AFCOM</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="3">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">AI Business</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="4">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">AI Summit Series</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="5">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">American City &amp; County</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="6">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Black Hat</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="7">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Blockchain for Business Summit</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="8">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Broadband World Forum</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="9">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Broadband World News</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="10">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Cable Congress</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="11">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Channel Partners</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="12">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Connecting Africa</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="13">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Connecting Africa Community</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="14">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Container World </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="15">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Content Marketing Institute</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="16">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Content Marketing World</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="17">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">ContentTECH Summit </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="18">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Dark Reading </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="19">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Data Center Knowledge</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="20">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Data Center World</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="21">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Digital TV Europe</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="22">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Edge Computing Congress</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="23">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Enterprise Connect</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="24">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Future Ed Tech</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="25">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Gamasutra</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="26">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Game Developers Conference (GDC)</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="27">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Global Carrier Billing Summit</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="28">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Government Procurement</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="29">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">HDI </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="30">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Heavy Reading</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="31">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">ICMI</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="32">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">ICMI Contact Center Connections </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="33">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">ICMI Contact Center Expo and Conference </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="34">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">IHS MARKIT | TECHNOLOGY</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="35">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">InformationWeek</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="36">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Innovation Academy </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="37">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">International Wireless Communications Expo (IWCE)</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="38">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Internet of Things World Series</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="39">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Interop</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="40">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">IoT World Today</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="41">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">ITPro Today</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="42">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Light Reading</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="43">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">London Tech Week</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="44">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Mission Critical Technologies Series</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="45">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">MVNOs Series </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="46">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Network Computing</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="47">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Network Virtualization &amp; SDN Series</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="48">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">NGON &amp; DCI World</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="49">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">No Jitter</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="50">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Ovum</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="51">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">RISC-V Series </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="52">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Security Now </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="53">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Service Management World</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="54">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Startup Elevate </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="55">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">SupportWorld Live </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="56">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">TechXLR8 Series</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="57">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Telco AI World Series</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="58">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Telco Blockchain Forum</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="59">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Telecoms and Tech Training Academy</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="60">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Telecoms.com</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="61">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Television Business International (TBI) </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="62">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">The 5G Exchange</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="63">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Tractica AI </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="64">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">TU Automotive </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="65">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Urgent Communications</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="66">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Video Exchange Series </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="67">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Voice &amp; Advanced Communications Summit</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="68">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">VSAT Global &amp; Next Generations Satellite Applications</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="69">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">Wards Intelligence</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="70">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">WardsAuto </p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="71">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">WorkSpace Connect</p>
                                                    </li>
                                                    <li id="" class="brands-item" attr-index="72">
                                                        <label class="round-checkbox active">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <p class="sub-seg single-level-dropdown">XRDC</p>
                                                    </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="filter-section">
                <div class="heading" style="display: none;">

                </div>
                <div class="section"><div class="unit clearAllArticlesFilters hideclass hide-clear-filter"><label class="value">Clear All Filters</label><label style="margin:0 10px;cursor:pointer">X</label></div></div>
				 
            </div>

        </div>
        <div id="articlesresultview">
        </div>
</section>
<section id="articlesection" class="article-section">
    <div class="flip">
        <div id="article-list">
            <div class="artical-list-outer">
                        <div class="artcl-list search-tile-article" itemid="">
                            <div class="left-artcl">
                                <a href="" target="">
                                    <img src="Static/images/tech/Article-List-FallBack-Image.jpg">
                                </a>
                            </div>

                            <div class="right-artcl">
                                <p class="artcl-headline">
                                    <a href="" target=""> 
                                        Turning the Keys to State-of-the-Art 5G mmWave 
                                    </a>
                                </p>
                                    <ul class="artcl-info list-unstyled">
                                        <li>09 October 2019</li>
                                        <li>Pam Baker</li>
                                        <li>Broadband World News</li>
                                    </ul>
                                <p class="artcl-description desktop">
                                    'Millimeter wave is key to 5G, a path to extending the reach of wireless broadband service - and opening new opportunities for operators around the globe,' says Anders Storm, CEO at Sivers IMA.
                                    <a href="http://www.broadbandworldnews.com/author.asp?section_id=723&amp;doc_id=754693&amp;f_src=ubb2020_sitedefault" target="" class="artcl-read-more">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                </p>
                            </div>
                            <p class="artcl-description mobile">
                                'Millimeter wave is key to 5G, 
                                 a path to extending the reach of wireless broadband service - and opening new
                                 opportunities for operators around the globe,' says Anders Storm, 
                                 CEO at Sivers IMA.
                                <a href="" target="" class="artcl-read-more">Read More 
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
                                </a>
                            </p>
                        </div>
                        <div class="artcl-list search-tile-article" itemid="">
                            <div class="left-artcl">
                                <a href="" target="">
                                    <img src="Static/images/tech/Article-List-FallBack-Image.jpg">
                                </a>
                            </div>

                            <div class="right-artcl">
                                <p class="artcl-headline">
                                    <a href="" target=""> 
                                        Turning the Keys to State-of-the-Art 5G mmWave 
                                    </a>
                                </p>
                                    <ul class="artcl-info list-unstyled">
                                        <li>09 October 2019</li>
                                        <li>Pam Baker</li>
                                        <li>Broadband World News</li>
                                    </ul>
                                <p class="artcl-description desktop">
                                    'Millimeter wave is key to 5G, a path to extending the reach of wireless broadband service - and opening new opportunities for operators around the globe,' says Anders Storm, CEO at Sivers IMA.
                                    <a href="http://www.broadbandworldnews.com/author.asp?section_id=723&amp;doc_id=754693&amp;f_src=ubb2020_sitedefault" target="" class="artcl-read-more">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                </p>
                            </div>
                            <p class="artcl-description mobile">
                                'Millimeter wave is key to 5G, 
                                 a path to extending the reach of wireless broadband service - and opening new
                                 opportunities for operators around the globe,' says Anders Storm, 
                                 CEO at Sivers IMA.
                                <a href="" target="" class="artcl-read-more">Read More 
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
                                </a>
                            </p>
                        </div>
                        
                        <div class="listview-button">
                            <button id="articlelistshowmore" class="btn-primary btn-primary">
                                Show More
                            </button>
                        </div>
            </div>
        </div>
    </div>
</section>
<section id="searchResultList" class="article-section">
    <div class="outer-section">
            <button type="button" id="btnPrePage" class="btn-circle" onclick="javascript:loadPreviousPage()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
            <input type="number" class="numbr-circle" value="1" id="txtPageNumber"> &nbsp; of <label id="lblTotalPage">5</label>
            <button type="button" id="btnNextPage" class="btn-circle" onclick="javascript:loadNextPage()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
</section>
<div class="hot-topics-carousel">
<div class="hot-topics-carousel-list">
<div class="container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
</div>
</div>

<div class="hot-topics-carousel">
<div class="hot-topics-carousel-list">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="hot-port-container">
			    <div class="hot-port">
					<img src="" alt="">
					<div class="plus">+</div>
				</div>
			
			</div>
        </div>
    </div>
</div>
</div>
</div>