<section id="articlesection" class="article-section">
    <div class="flip">
        <div id="article-list">
            <div class="artical-list-outer">
                        <div class="artcl-list search-tile-article" itemid="">
                            <div class="left-artcl">
                                <a href="" target="">
                                    <img src="Static/images/tech/Article-List-FallBack-Image.jpg">
                                </a>
                            </div>

                            <div class="right-artcl">
                                <p class="artcl-headline">
                                    <a href="" target=""> 
                                        Turning the Keys to State-of-the-Art 5G mmWave 
                                    </a>
                                </p>
                                    <ul class="artcl-info list-unstyled">
                                        <li>09 October 2019</li>
                                        <li>Pam Baker</li>
                                        <li>Broadband World News</li>
                                    </ul>
                                <p class="artcl-description desktop">
                                    'Millimeter wave is key to 5G, a path to extending the reach of wireless broadband service - and opening new opportunities for operators around the globe,' says Anders Storm, CEO at Sivers IMA.
                                    <a href="http://www.broadbandworldnews.com/author.asp?section_id=723&amp;doc_id=754693&amp;f_src=ubb2020_sitedefault" target="" class="artcl-read-more">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                </p>
                            </div>
                            <p class="artcl-description mobile">
                                'Millimeter wave is key to 5G, 
                                 a path to extending the reach of wireless broadband service - and opening new
                                 opportunities for operators around the globe,' says Anders Storm, 
                                 CEO at Sivers IMA.
                                <a href="" target="" class="artcl-read-more">Read More 
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
                                </a>
                            </p>
                        </div>
                        <div class="artcl-list search-tile-article" itemid="">
                            <div class="left-artcl">
                                <a href="" target="">
                                    <img src="Static/images/tech/Article-List-FallBack-Image.jpg">
                                </a>
                            </div>

                            <div class="right-artcl">
                                <p class="artcl-headline">
                                    <a href="" target=""> 
                                        Turning the Keys to State-of-the-Art 5G mmWave 
                                    </a>
                                </p>
                                    <ul class="artcl-info list-unstyled">
                                        <li>09 October 2019</li>
                                        <li>Pam Baker</li>
                                        <li>Broadband World News</li>
                                    </ul>
                                <p class="artcl-description desktop">
                                    'Millimeter wave is key to 5G, a path to extending the reach of wireless broadband service - and opening new opportunities for operators around the globe,' says Anders Storm, CEO at Sivers IMA.
                                    <a href="http://www.broadbandworldnews.com/author.asp?section_id=723&amp;doc_id=754693&amp;f_src=ubb2020_sitedefault" target="" class="artcl-read-more">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                                </p>
                            </div>
                            <p class="artcl-description mobile">
                                'Millimeter wave is key to 5G, 
                                 a path to extending the reach of wireless broadband service - and opening new
                                 opportunities for operators around the globe,' says Anders Storm, 
                                 CEO at Sivers IMA.
                                <a href="" target="" class="artcl-read-more">Read More 
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
                                </a>
                            </p>
                        </div>
                        
                        <div class="listview-button">
                            <button id="articlelistshowmore" class="btn-primary btn-primary">
                                Show More
                            </button>
                        </div>
            </div>
        </div>
    </div>
</section>
