.analyst-profile-events {	
	.date-field {
		float: left;
		margin: 15px;
		width: 100%;
		strong {
			float: left;
		}
	}
	.events-section {
		@include mobile {
			&:nth-child(n+2) {
				display: none;
			}
		}
	}
	h2 {
	    font-family: 'FSMe-Bold';
	    margin: 0;
	    font-size: 32px;
	}
}
