.analyst-profile-events {	
	.date-field {
		margin: 15px;
	}
	// .events-section {
	// 	@include mobile {
	// 		&:nth-child(n+2) {
	// 			display: none;
	// 		}
	// 	}
	// }
	h2 {
		font-weight: bold;
	    margin: 0;
	    padding: 0;
	}
	.events-container{
		display: inline-flex;
		flex-wrap: wrap;
		width: 100%;
		.events-wrap{
			height: 100%;
		.footer{
				height: 103px;
				.footer-container{
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
					padding: 25px 20px;
				}
				}
		}
	}

	.btn-container {
		.btn-default {
			padding-right: 40px;
			@include mobile {
				width: 100%;
		    	min-width: auto;
		    	min-width: initial;
		    }
		}
	}
}
