.analyst-profile-events {	
	.date-field {
		margin: 15px;
	}
	// .events-section {
	// 	@include mobile {
	// 		&:nth-child(n+2) {
	// 			display: none;
	// 		}
	// 	}
	// }
	h2 {
	    font-family: 'FSMe-Bold';
	    margin: 0;
	    padding: 0;
	}
	.events-container{
		display: inline-flex;
		flex-wrap: wrap;
		.events-section, .events-wrap{
			display: flex;
			flex-direction: column;
		} 
		.events-wrap{
			height: 100%;
			.content-wrap{
				flex: 1 0 auto;
			}
		}
	}

	.btn-container {
		.btn-default {
			padding-right: 40px;
			@include mobile {
				width: 100%;
		    	min-width: auto;
		    	min-width: initial;
		    }
		}
	}
}
