section.newsFlash{
  height: 150px;
  margin-top: 40px;
  margin-bottom: 20px;
  //padding-top: 3%;
  //padding-bottom: 2%;
  overflow: hidden;
  .newsbox{
    background: $yellow;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
  }
    .news-title{
    //  font-size: $padding-base-horizontal;
      strong{
        color: $black;
      }
    }
    .news-desc{
        padding-top: 10px;
        padding-right: 220px;
        overflow: hidden;
        @include mobile {
          padding-right: 20px;
        }
        @include tablet {
          padding-right: 20px;
        }
    }
    .read{
      color: $black;
      font-weight: bold;
      padding-top: 10px;
      display: inline-block;
      position: relative;
    }
    .read:after {
        font-family: "InformaIcons";
        content: "\e900";
        color: $black;
        font-size: 20px;
        position: absolute;
        font-size: 11px;
        top: 13px;
        right: -11px;
    }
  .cross{
    color: $white;
    font-size: 20px;
    position: absolute;
    font-size: 16px;
    top: 13px;
    right: 14px;
    z-index: 2;
  }
  .cross:after{
    font-family: "InformaIcons";
    content: "\e906";
  }
  .news-carousel {
    @include desktop{
      height: 146px;
    }
    z-index: 1;
     .slick-list {
         border-right: none;
     }
     .slick-arrow {
         top: 80%;

         &:before {
             font-family: 'InformaIcons';
             position: absolute;
             font-size: 20px;
             opacity: 1;
             top: 33%;
             left: 57%;
             margin-top: -13px;
             margin-left: -13px;
             @include mobile {
                 font-size: 14px;
                 margin-top: -7px;
                 margin-left: -7px;
             }
             @include tablet {
                 font-size: 16px;
                 margin-top: -8px;
                 margin-left: -8px;
             }
         }
     }
     .slick-next {
         left: 98%;
         margin-left: 0;
         &:before {
             content: "\e902";
         }
         @include mobile {
           left: 94%;
           margin-left: 0;
         }
         @include tablet {
           left: 97%;
         }
     }
     .slick-prev {
       z-index: 2;
       left: 94%;
         @include mobile {
           left: 92%;
           margin-left:-20px;
         }
         @include tablet {
           left: 93%;
         }
         &:before {
             content: "\e903";
         }
     }
   }
}
