#pdp-analyst {
	background-color: $white;
	.analyst-list-container {
		&:nth-child(n+4) {
			display: none;
		}
		@include mobile {
			&:nth-child(n+2) {
				display: none;
			}	
		}
		.meet-anlyst-section {
			overflow: hidden;
			margin-bottom: 10px;
			.anlyst-heading {
				padding: 20px;
				background-color: $yellow;
				position:relative;
				overflow: hidden;
				margin-top: 20px;
				&:after {
				    content: '';
				    position: absolute;
				    height: 30px;
				    width: 105%;
				    left: 0;
				    background: $gray-lighter-bg;
				    top: 92%;
				    @include rotate(-3deg);
				}
				.analyst-img {
					width: 60px;
					height: 60px;
					position: relative;
					overflow: hidden;
					@include border-radius(50%);
					float: left;
					img {
						width: 100%;
						border: 2px solid $white;
						@include border-radius(50%);
					}
				}
				.analyst-details {
					width: calc(100% - 70px);
					float: left;
					margin-right: 10px;
					h2 {
						font-size:22px;
						margin-top: 0;
					}
					h3 {
						font-size: 16px;
						margin-top: 0;
					}
					.location {
						padding-left: 15px;
						&:before {
							content: '';
							//location background Image
						}
					}
				}
			}
			.analyst-description {
				padding: 20px 20px 40px 20px;
				background-color: $gray-lighter-bg;
				.heading {
					color: $text-gray;
					font-style: italic;
					font-weight: bold;
				}
			}
			.track-analyst {
				list-style-type: none;
				margin-top: 10px;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					width: 20px;
		    		height: 35px;
					left: 0;
					top: 5px;
					background-image: url(../images/analyst-product.png); // background Image
					background-size: cover;
				}
				li {
					float: left;
					&:after {
						content: '/';
						color: $yellow;
						padding: 0 7px;
					}
					&:last-child {
						&:after {
							content: '';
						}
					}
					a {
						color: $text-gray;
					}
				}
			}
			.analyst-footer {
				padding: 12px 20px 20px 20px;
				background-color: $gray-draker-bg;
				position: relative;
				&:before {
					content: '';
				    position: absolute;
				    height: 20px;
				    width: 105%;
				    left: 0;
				    background-color: $gray-draker-bg;
				    top: -12px;
				    @include rotate(-3deg);
				}
				.nav-links {
					list-style-type: none;
					padding-left: 0;
					float: left;
					margin-top: 5px;
					li {
						@include border-radius(50%);
						display: inline-block;
						padding: 9px 0 0 6px;
					    background-color: $text-gray-dark;
					    margin-right: 5px;
					    width: 35px;
					    height: 35px;
						&:last-child {
							margin-right: 0;
						}

					}
				}
				.full-profile {
					float: right;
					font-size: 16px;
					color: $yellow;
				}
				.btn {
					width: 150px;
					color: $white;
					border-color: $btn-primay-default-bg;
					@include mobile {
						width: 50%;
					}
					@include tablet {
						width: 50%;
					}
				}
			}
		}
	}
	.btn-container {
		margin-top: 30px;
		.btn {
			width: 260px;
			color: $white;
			@include mobile {
				width: 100%;
			}
		}
	}
}
