.analyst-views {
	background-color: $white;
	padding-bottom: 50px;
	h2{
		padding:40px 0;
	}
	&.showLess, .btn-plus {
		.btn-container {	
			.btn-showMore {
		    	.less {
			    	display: block;
			    }
			    .more {
			    	display: none;
			    }
			    &:after {
			    	content: '\e913';
			    }
			}
		}
    }
		
	.analyst-list-container {
		@include mobile {
			&:nth-child(n+2) {
				display: none;
			}
		}
		@include tablet {
			&:nth-child(n+3) {
				display: none;
			}
		}
	}
	.btn-container {
		.btn-default {
			@include mobile {
				min-width: auto;
				min-width: initial;
				width: 100%;
			}
		}
		.btn-showMore {
		    min-width: 230px;
		    padding-right: 40px;
		    .less {
		    	display: none;
		    }
		    .more {
		    	display: block;
		    }
		}
		.btn-plus{
			margin-top: 10px;
			margin-bottom: 0;
		}
	}
}
.author-bio {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $grey-color11;
	img{
		border-radius: 50%;
		max-width: 130px;
		max-height: 130px;
	}
	.details{
		padding-left: 20px;
		h3{
			font-size: 30px;
		}
		p{
			font-size: 14px;
			font-weight: 200;
		}
	}
	  .content{
			padding-top: 20px;
		}
}
.meet-anlyst-section {
	overflow: hidden;
	background-color: $grey-color11;
	margin-bottom:20px;
	.anlyst-heading {
		padding: 20px;
		//background-color: $yellow;
		position: relative;
		// height: 170px;
		-ms-transform: skewY(-4deg);
		-webkit-transform: skewY(-4deg);
		transform: skewY(-4deg);
		position: relative;
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			//background-color: $yellow;
			position: absolute;
			left: 0;
			top: -97%;
		}
		.analyst-heading-content {
			-ms-transform: skewY(4deg);
			-webkit-transform: skewY(4deg);
			transform: skewY(4deg);
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
		.analyst-img {
			width: 75px;
			height: 75px;
			position: relative;
			overflow: hidden;
			@include border-radius(50%);
			float: left;
			top: 10px;
			margin-top: 20px;
			img {
				width: 100%;
				height: 100%;
				@include border-radius(50%);
			}
		}
		.analyst-details {
			.analyst-type {
				display: inline-block;
			    padding: 3px 8px;
			    font-weight: 400;
			    font-size: 0.9em;
			    color: $white;
			    margin-right: 5px;
			    margin-bottom: 10px;
			    background-color: $grey-color05;
			}
			width: calc(100% - 85px);
			float: left;
			margin-right: 10px;
			h4{
				font-size: 22px;
				padding: 0;
				margin: 0;
				font-weight: bold;
			}
			h5 {
				margin: 0;
			}
			h3 {
				color: #7f828c;
				font-size: 16px;
				margin-top: 0;
				line-height: 15px;
			}
			.location {
				padding-left: 20px;
				position: relative;
				margin-top: 15px;
				margin-bottom: 0;
				&:before {
					content: '\e918';
					font-family: 'InformaIcons';
					position: absolute;
					left: 0;
					font-size: 20px;
					top: -2px;
				}
			}
		}
	}
	.analyst-description {
		padding: 20px;
		.heading {
			color: $text-gray;
			font-weight: bold;
			padding: 10px 0;
    		margin: 0;	
		}
	}
	.track-analyst {
		list-style-type: none;
		position: relative;
		&:before {
			content: '\e919';
			position: absolute;
			left: 1px;
			top: -3px;
			font-family: 'InformaIcons';
			color: #4d525f;
			font-size: 31px;
			font-weight: normal;
		}
		li {
			float: left;
			&:after {
				content: '/';
				color: $grey-color03;
				padding: 0 7px;
				font-weight: bold;
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
			a {
				color: $text-gray;
			}
		}
	}
	.analyst-footer {
		margin-top: 5px;
		padding: 25px 15px;
		background-color: $grey-color09;
		position: relative;
		-ms-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		transform: skewY(-5deg);
		position: relative;
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: $grey-color09;
			position: absolute;
			left: 0;
			top: 90%;
		}
		.analyst-footer-content {
			-ms-transform: skewY(5deg);
			-webkit-transform: skewY(5deg);
			transform: skewY(5deg);
		}
		.nav-links {
			list-style-type: none;
			padding-left: 0;
			float: left;
			margin-top: 18px;
			li {
				@include border-radius(50%);
				display: inline-block;
				font-size: 22px;
				background-color: $grey-color05;
				margin-right: 2px;
				width: 30px;
				height: 30px;
				text-align: center;
				position: relative;
				a {
					vertical-align: middle;
					font-size: 18px;
					color: $white;
					position: absolute;
					top: 50%;
					transform: translateY(-50%) translateX(-50%);
					left: 50%;
					font-size:0;
					line-height: 0;
					&.addthis_button_linkedin_follow, &.addthis_button_twitter_follow, &.addthis_button_email, &.custom_email {
						top: 15px;
						left: 15px;
						.at-icon-wrapper, svg {
							height: 24px !important;
							width: 24px !important;
						}
					}
					&:active,
					&:hover {
						outline: 0;
						border: 0;
						text-decoration: initial;
					}
					&:before{
						font-size: 18px;
						line-height: 20px;
					}
					&.icon-email{
						&:visited,
						&:active,
						&:hover {
							text-decoration: none;
						}
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.full-profile {
			float: right;
			font-size: 16px;
			color: $yellow;
		}
		.btn {
			min-width: 50%;
			width: auto;
			@include mobile {
				width: 60%;
			}
			@include tablet {
				width: 60%;
			}
		}
	}
}
