<section class="infografic-component">
    <div class="infografic-component-list">
        <div class="container">
            <div class="row infografic-image">
                <div class="col-md-6">
                    <img src="" alt="">
                    <h2>Lorem Ipsum has been the  a galley of type and scrambled</h2>
                </div>
            </div>
            <div class="row infografic-discription">
                <div class="col-md-6">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                </div>
            </div>
            <div class="row">
                <div class="infografic-unit">
                    <div class="unit-container">
                        <img src="" alt="">
                        <div class="heading"></div>
                        <p class="discription"></p>
                    </div>
                </div>
                <div class="infografic-unit">
                    <div class="unit-container">
                        <img src="" alt="">
                        <div class="heading"></div>
                        <p class="discription"></p>
                    </div>
                </div>
                <div class="infografic-unit">
                    <div class="unit-container">
                        <img src="" alt="">
                        <div class="heading"></div>
                        <p class="discription"></p>
                    </div>
                </div>
                <div class="infografic-unit">
                    <div class="unit-container">
                        <img src="" alt="">
                        <div class="heading"></div>
                        <p class="discription"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>