<section class="infografic-component">
    <div class="infografic-component-list">
        <div class="container">
            <div class="rich-text-editor rich-text-width-container">
                <div class="container-fluid">
                    <div>
                        <div class="col-md-12 text-left nopadding">
                            <div class="row">
                                <div class="sub-text-n-img imgleft">
                                    <div class="dot-img-left"></div>
                                    <h2 class="sub-headline right-dotted-line">
                                        DELIVERING A CONNECTED FUTURE
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row infografic-discription">
                <div class="col-md-8 col-sm-12">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                </div>
            </div>
            <div class="row infografic-unit-container theme-one">
                <div class="row">
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon2.png" alt="">
                            <div class="heading">Lorem Ipsum has </div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon1.png" alt="">
                            <div class="heading">Lorem Ipsum has</div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon2.png" alt="">
                            <div class="heading">Lorem Ipsum has</div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon1.png" alt="">
                            <div class="heading">Lorem Ipsum has</div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                    
                </div>
                         
            </div>
            
        </div>
    </div>
</section>

<section class="infografic-component">
    <div class="infografic-component-list">
        <div class="container">
            <div class="rich-text-editor rich-text-width-container">
                <div class="container-fluid">
                    <div>
                        <div class="col-md-12 text-left nopadding">
                            <div class="row">
                                <div class="sub-text-n-img imgleft">
                                    <div class="dot-img-left"></div>
                                    <h2 class="sub-headline right-dotted-line">
                                        DELIVERING A CONNECTED FUTURE
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row infografic-discription">
                <div class="col-md-8 col-sm-12">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                </div>
            </div>
            <div class="row infografic-unit-container theme-one">
                <div class="row">
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon2.png" alt="">
                            <div class="heading">Lorem Ipsum has </div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon1.png" alt="">
                            <div class="heading">Lorem Ipsum has</div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                   
                    
                </div>
                         
            </div>
            
        </div>
    </div>
</section>

<section class="infografic-component">
    <div class="infografic-component-list">
        <div class="container">
            <div class="rich-text-editor rich-text-width-container">
                <div class="container-fluid">
                    <div>
                        <div class="col-md-12 text-left nopadding">
                            <div class="row">
                                <div class="sub-text-n-img imgleft">
                                    <div class="dot-img-left"></div>
                                    <h2 class="sub-headline right-dotted-line">
                                        DELIVERING A CONNECTED FUTURE
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row infografic-discription">
                <div class="col-md-8 col-sm-12">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                </div>
            </div>
          
            <div class="row infografic-unit-container theme-two">
                <div class="row">
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon2.png" alt="">
                            <div class="heading">Lorem Ipsum has </div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon1.png" alt="">
                            <div class="heading">Lorem Ipsum has</div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                    <div class="infografic-unit">
                        <div class="unit-container">
                            <img src="cms-images/infografic/icon2.png" alt="">
                            <div class="heading">Lorem Ipsum has</div>
                            <p class="discription">Lorem Ipsum has been the  a galley of type and scrambled</p>
                        </div>
                    </div>
                    
                    
                </div>
                         
            </div>
        </div>
    </div>
</section>