section#hero-banner {
    position: relative;
    overflow: hidden;
    height: 425px;
    color: $light;
    h1 {
        font-family: FSMe-Bold;
        font-size: 60px;
        font-size: 50px; // really ?
        margin: 0 0 35px 0;
        @include mobile {
            margin: 17px 0 7px 0;
            font-size: 30px;
        }
    }
    .subtext {
        font-family: FSMe-Bold;
        font-size: 18px;
        padding-bottom: 15px;
        @include mobile {
            font-size: 16px;
        }
    }
    .description {
        font-family: FSMe-Light;
        font-size: 14px;
        padding-bottom: 40px;
        @include mobile {
            padding-bottom: 25px;
            font-size: 12px;
        }
    }
    .btn {
        width: 100%;
        color: $light;
        padding: 15px;
        @include mobile {
            margin-bottom: 10px;
            text-align: left;
        }
        &.priceCTA {
             padding: 0;
             font-size: 14px;
             color: $light;
             font-family: FSMe-Light;
             .priceDetails {
                   span.price {
                        font-size: 26px;
                        font-family: FSMe-Bold;
                  }
             }
             .headline {
                   font-family: FSMe-Bold;
             }
       }
    }
    .cta1,.cta2 {
        font-size: 14px;
        font-family: FSMe-Bold;
    }
    .cta2 {
        font-family: FSMe;
    }
    .cta3 {
        font-family: FSMe-Light;
        font-size: 16px;
        color: $orange!important;
        @include mobile {
            font-size: 14px;
        }
    }
    @include mobile{
        height: auto;
    }
    // variation : bg-image, heading, copy text
    &.default {
          .abs-image {
            display: block;
            top:50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
          background: $gray-dark-bg;

   }
   //varaition: varaition 1 + bg-image in right corner
   &.brand {
      .description {
            color: $gray-dark-bg;
      }
      h1 {
            font-size: 40px;
      }
   }
   &.brand, &.product, &.casestudy {
         .abs-image {
               display: block;
               width: 33.33%;
               height: 100%;
               right: 0;
         }
         background: $yellow;
   }
   //variation: variation 2 + sub heading + copy text + cta
   &.product {
       background:$footer-bottom-gray;
   }
   &.default, &.brand, &.product, &.casestudy {
         .abs-image{
               @include mobile {
                     display: none;
               }

         }
   }
   // variation 5 & 6, Angeera's component
   &.about, &.contact {
         height: 221px;
         @include mobile {
               height: auto;
               padding: 60px 0;
         }
         background: $yellow;
         color: $text-gray-dark;
         h1 {
               font-size: 60px;
               margin: 0 0 13px 0;
               @include mobile {
                     font-size: 30px;
                     width: 49%;
               }
         }
         .splash {
               & > div {
                     @include desktop {
                           width: 75%;
                     }
                     @include tablet {
                           width: 90%;
                     }
               }
         }
   }

   &.video {
      overflow: hidden;
      .abs-image {
        display:block;
        width: 100%;
        height: 100%;
      }
   }


      //adding styles for anlayst
     //  for 3 images
      &.analyst{
        height: 650px;
        overflow: hidden;
        padding-bottom: 20px;
        color: $light;
        @include mobile {
          padding: 10px;
        }
        .marg-top{
          margin-top: 30px;
        }
        h1{
          font-size: 50px;
           margin-bottom: 0px;

           @include mobile {
               margin: 17px 0 7px 0;
               font-size: 35px;
               text-align: left;
           }
           @include tablet {
               font-size: 40px;
               margin-top: 0px;
           }
        }
       .span-arrow{
           font-size: 250%;
         @include mobile {
             display: none;
           }
       }
       .subtext {
           font-family: FSMe-light;
           font-size: 30px;
           color: #444957;
           margin-top: 30px;
           padding-bottom: 0px;
           @include mobile {
               font-size: 24px;
               letter-spacing: normal;
               margin: 10px 0px 30px 0px;
               text-align: left;
           }
           @include tablet {
               font-size: 20px;
               letter-spacing: normal;
           }
       }
       h3{
             font-family: FSMe-light;
             font-size: 20px;
             color: #444957;
         }
         .color-subtext{
           color: #444957;
           @include mobile {
             text-align: left;
             line-height: 20px;
             height: 135px;
             overflow: hidden;
           }
         }
         .pos{
           position: relative;
         }
         .line{
           position: absolute;
           height: 2px;
           width: 60%;
           top: 50px;
           left: 50%;
           transform: translateX(-50%);
           background-color: white;

           @include mobile {
               display: none;
           }
           @include tablet {
               right: 150px;
           }
         }
         .image-margin{
           margin-right: 65px;
           @include mobile {
             margin-right: 0px;
              margin-top: 20px;
           }
         }
         @media only screen and (min-width : 1024px) and (max-device-width : 1224px) {
           .image-margin{
             margin-right: 130px;
           }
         }
      }
      // for two images
      .analyst-two-images{
        padding-bottom: 20px;
        color: $light;
        @include mobile {
          padding: 10px;
        }
        h1{
          font-size: 50px;
           margin-bottom: 0px;

           @include mobile {
               margin: 17px 0 7px 0;
               font-size: 35px;
               text-align: left;
           }
           @include tablet {
               font-size: 40px;
               margin-top: 0px;
           }
        }
       .span-arrow{
           font-size: 300%;
         @include mobile {
             display: none;
           }
       }
       .img-mobile{
         @include mobile {
             margin-top: 17px;
         }
       }
       .subtext {
           font-family: FSMe;
           font-size: 30px;
           color: #444957;
           padding-bottom: 0px;
           @include mobile {
               font-size: 25px;
               letter-spacing: normal;
               margin: 10px 0px 30px 0px;
               text-align: left;
           }
           @include tablet {
               font-size: 20px;
               letter-spacing: normal;
           }
       }
       h3{
             font-weight: bold;
             color: #444957;
         }
         .color-subtext{
           color: #444957;
           @include mobile {
             text-align: left;
             line-height: 20px;
           }
         }

         .image-margin{
           margin-right: 70px;
         }
         @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
           .image-margin{
             margin-right: 70px;
           }
           }

           @media only screen and (min-width : 1024px) and (max-device-width : 1224px) {
             .image-margin{
               margin-right: 60%;
             }
           }

        .line{
          position: absolute;
          height: 2px;
          width: 50%;
          top: 50px;
          left: 50%;
          transform: translateX(-50%);
          background-color: white;

          @include mobile {
              display: none;
          }
          @include tablet {
              right: 150px;
          }
        }

        .image-margin{
          margin-left: 30px;
          @include mobile {
            margin-left: 0px;
            margin-top: 3px;
          }
        }
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
          .image-margin{
            margin-right: 70px;
          }
          }

          @media only screen and (min-width : 1024px) and (max-device-width : 1224px) {

            .image-margin{
              margin-right: 60%;
            }
          }
      }
     //  for single image
     .analyst-single-image{
       padding-bottom: 20px;
       color: $light;
       @include mobile {
         padding: 10px;
       }
       h1{
         font-size: 150px;
          margin-bottom: 0px;

          @include mobile {
              margin: 17px 0 7px 0;
              font-size: 35px;
              text-align: left;
          }
          @include tablet {
              font-size: 40px;
              margin-top: 0px;
          }
       }
      .span-arrow{
          //margin-bottom: 20px;
          font-size: 300%;
        @include mobile {
            display: none;
          }
      }
      .img-mobile{
        @include mobile {
            margin-top: 17px;
        }
      }
      .subtext {
          font-family: FSMe;
          font-size: 30px;
          color: #444957;
          padding-bottom: 0px;
          @include mobile {
              font-size: 25px;
              letter-spacing: normal;
              margin: 10px 0px 30px 0px;
              text-align: left;
          }
          @include tablet {
              font-size: 20px;
              letter-spacing: normal;
          }
      }
      h3{
            font-weight: bold;
            color: #444957;
        }
        .color-subtext{
          color: #444957;
          @include mobile {
            text-align: left;
            line-height: 20px;
          }
        }

       .image-margin{
         margin-left: 30px;
           @include tablet {
             margin-left: 0px;
           }
           @include mobile {
             margin-left: 0px;
             margin-top: 17px;
           }
       }
       // @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
       //   .image-margin{
       //     margin-right: 70px;
       //   }
       //   }

         @media only screen and (min-width : 1024px) and (max-device-width : 1224px) {

           .image-margin{
             margin-left: 20px;
           }
         }
     }



}
