<section class="recommendation-tabs clearfix">
		<div class="container hidden-xs">
				<ul class="nav nav-tabs">
						<li><a href="#Dashboard" class="active" data-toggle="tab">Dashboard</a></li>
						<li><a href="#Preferences" data-toggle="tab">Preferences</a></li>
						<li><a href="#Profile" data-toggle="tab">Profile</a></li>
						<li><a href="#Settings" data-toggle="tab">Settings</a></li>
				</ul>
				<div class="tab-content">
						<div class="tab-pane" id="Dashboard">
							Dashboard
						</div>
						<div class="tab-pane" id="Preferences">
							Preferences
						</div>
						<div class="tab-pane" id="Profile">
							Profile
						</div>
						<div class="tab-pane" id="Settings">
							Settings
						</div>
				</div>
		</div>
		<div class="container visible-xs">
				
		</div>
</section>
