<section class="recommendation-tabs clearfix">
	<div class="container">
		<ul>
			<li class="">
				<a href="#">Dashboard</a>
			</li>
			<li class="">
				<a href="#">Preferences</a>
			</li>
			<li class="">
				<a href="#">Profile</a>
			</li>
			<li class="">
				<a href="#">Settings</a>
			</li>
		</ul>
	</div>
</section>