<section class="recommendation-tabs clearfix">
		<div class="container">
				<ul class="nav nav-tabs hidden-xs">
					<li><a href="#Dashboard" class="active" data-toggle="tab">
						<span class="icon-dashboard"></span>Dashboard</a></li>
					<li><a href="#Preferences" data-toggle="tab">
						<span class="icon-preferences"></span>Preferences</a></li>
					<li><a href="#Profile" data-toggle="tab">
						<span class="icon-settings"></span>Profile</a></li>
					<li><a href="#Settings" data-toggle="tab">
						<span class="icon-settings"></span>Settings</a></li>
				</ul>
		</div>
				<div class="visible-xs mobile-tabs">
					<div class="title">
							Jump to section
					</div>
					<select class="chosen-select" name="RecommendTabs">
		                <option value="#Dashboard">Dashboard</option>
		                <option value="#Preferences">Preferences</option>
		                <option value="#Profile">Profile</option>
		                <option value="#Settings">Settings</option>
		      </select>
				</div>

</section>
<section class="recommended-results">
	<div class="tab-content">
		<div class="tab-pane" id="Dashboard">
			{{>recomended-articles recomended-content}}
		</div>
		<div class="tab-pane" id="Preferences">
			{{>dashboard-preference}}
		</div>
		<div class="tab-pane" id="Profile">
			Profile
		</div>
		<div class="tab-pane" id="Settings">
			Settings
		</div>
	</div>
</section>
