#faqs, .accordian-structure {
	padding: 30px 0;
	.panel-group {
		.panel {
		    background-color: transparent;
    		border: none;
    		border-bottom: 2px solid #e1e3e7;
    		-webkit-box-shadow: none;
    		box-shadow: none;
    		.panel-heading {
    			background-color: transparent;
    			position: relative;
    			padding: 0;
	    		.panel-title {
	    			a {
	    				color: $grey-color05;
	    				font-size: 18px;
	    				font-style: italic;
	    				font-weight: bold;
	    				width: 100%;
	    				display: block;
	    				padding-right: 36px;
	    				&:hover, &:active, &:focus {
	    					text-decoration: none;
	    				}
	    				&.collapsed {
	    					font-weight: normal;
	    					&:after {
	    						content: "\e912";
	    						//color: $yellow;
	    					}
	    				}
	    				&:after {
	    					content: "\e913";
	    					position: absolute;
						    right: 0;
						    top: 50%;
						    margin-top: -14px;
						    font-size: 28px;
						    font-family: 'InformaIcons';
						    font-style: normal;
						    color: #6a7287;
	    				}
	    			}
	    		}
	    	}
	    	.panel-body {
	    		border: none;
    			padding: 15px 60px 40px 0;
	    	}
		}
	}
	.btn-faq-more {
		background: none;
	    min-width: 160px;
	    width: auto;
	    padding: 10px 0;
	    padding-right: 40px;
	    margin: 0 auto;
	    text-align: left;
	    color: #444957;
	    border: none;
	    //border-bottom: 2px solid #ffd500;
	    cursor: pointer;
	    margin: 20px 50px;
	    &:after {
	        font-family: 'InformaIcons';
		    content: '\e912';
		    //color: #ffd600;
		    right: 0;
		    height: 30px;
		    width: 30px;
		    text-align: center;
		    border-radius: 14px;
		    font-size: 30px;
		    top: -2px;
		    @include mobile {
		        right: 50%;
			    margin-right: -15px;
			    top: 25px;
		    }
	    }
	    @include tablet {
	    	position: relative;
		    left: 50%;
		    -ms-transform: translateX(-50%); /* IE 9 */
		   	-webkit-transform: translateX(-50%); /* Safari */
		    transform: translateX(-50%);
	    }
	    @include mobile {
	    	margin: 0;
	    	text-align: center;
	    	padding-right: 0;
	    	padding-bottom: 35px;
	        position: relative;
		    left: 50%;
		    transform: translateX(-50%);
	    }
	}
}
/*Experience Mode FAQs*/
.experience-mode {
	#faqs {
		.collapse {
			display: block !important;
		}
	}
	.accordian-structure .panel-group .panel .panel-heading .panel-title a:after {
		content: "\e913";
		color: #6a7287;
	}
}
