<input
type="hidden"
class="initialize-swanimate"
value='
[{ "itemidentifier": "inf-world-chart-container", "data-swanimate-type": "zoomin", "data-swanimate-direction": "left", "data-swanimate-delay": 20 }]
' />

<!--START WORLD CHART SECTION-->
<section class="container-fluid world-chart-background" data-source="11111" data-chart-type="map">

    <input type="hidden" value='{
    "Heading": "   Coverage and format of coverage across Pink, Scrip, Generics and MTI since Brexit began",
    "FacetList": [
        {
        "Id": "regions",
        "Title": "Region",
        "Logo": null,
        "SectionList": [
            {
            "title": "Australia (2)",
            "latitude": -29.290235,
            "longitude": -29.290235,
            "Name": null,
            "Count": null,
            "Color": null,
            "GeoCode": null
            },
            {
            "title": "United Kingdom (28)",
            "latitude": 56.022950,
            "longitude": 56.022950,
            "Name": null,
            "Count": null,
            "Color": null,
            "GeoCode": null
            },
            {
            "title": "United States (111)",
            "latitude": 37.495801,
            "longitude": 37.495801,
            "Name": null,
            "Count": null,
            "Color": null,
            "GeoCode": null
            }
        ]
        }
    ],
    "LargeImage": null,
    "Type": "map",
    "IsdisplayEurozone": true
    }' />

    <div class="row">

        <div class="col-md-12">

            <div class="inf-world-chart-section">

                <p class="heading wor-cha-heading"></p>

                <div class="row">

                    <div class="col-md-12">

                        <div class="inf-world-chart-container">

                            <a class="zoom-in chart-expand" href="javascript:void(0);"></a>

                            <div id="inf-world-chart-wrapper"></div>

                            <div class="move-image-container">
                                <a class="move-left" href="javascript:void(0);"></a>
                                <a class="move-right" href="javascript:void(0);"></a>
                            </div>

                            <a href="javascript:void(0);" class="world-chart-read-more" data-ga-category="test1"  data-ga-action="test2" data-ga-label="test3" data-ga-value="test4">
                                Read more
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!--END WORLD CHART SECTION-->