<!--START WORLD CHART SECTION-->
<section class="container-fluid world-chart-background">

    <div class="row">

        <div class="col-md-12">

            <div class="inf-world-chart-section">

                <p class="heading">
                    Coverage and format of coverage across Pink, Scrip, Generics and MTI since Brexit began
                </p>

                <div class="row">

                    <div class="col-md-12">

                        <div class="inf-world-chart-container">

                            <a class="zoom-in chart-expand" href="javascript:void(0);"></a>

                            <div id="inf-world-chart-wrapper"></div>

                            <div class="move-image-container">
                                <a class="move-left" href="javascript:void(0);"></a>
                                <a class="move-right" href="javascript:void(0);"></a>
                            </div>

                            <a href="javascript:void(0);" class="world-chart-read-more">
                                Read more
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!--END WORLD CHART SECTION-->