<div class="reach-img-section">

    <div class="container-fluid recch-global-main">
        <div class="row">
            <div class="col-md-12 text-left nopadding">
                <div class="sub-text-n-img imgleft">
                    <img class="img-right" src="cms-images/statistic-items/leftdotted.png">
                    <h1 class="sub-headline right-dotted-line">OUR REACH IS GLOBAL</h1>

                </div>
                <div class="col-md-6 col-xs-12">
                    <p class="global-discrubstion">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. ex deus Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    </p>
                </div>

            </div>
        </div>
    </div>
    <img class="reach-globalimg" src="cms-images/statistic-items/our-reach-global.png">
    <div class="container our-reach-container">
        <div class="our-reach-section">
            <div class="row">

                <div class="col-md-6 col-xs-12 our-set-divchild">
                    <div class="col-xs-6">
                        <div class="researchsubs">
                            <div class="numberntext">
                                <span>900</span>
                                <span class="plus">+</span>
                            </div>
                            <div class="text">
                                Research Subscribers
                            </div>
                            <div class="sub-text">per month</div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="researchsubs">
                            <div class="numberntext">
                                <span>4.5K</span>
                                <span class="plus">+</span>
                            </div>
                            <div class="text">
                                Training Students
                            </div>
                            <div class="sub-text">per month</div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-xs-12 our-set-divchild">
                    <div class="col-xs-6">
                        <div class="researchsubs">
                            <div class="numberntext">
                                <span>225k</span>
                                <span class="plus">+</span>
                            </div>
                            <div class="text">
                                Event Delegates
                            </div>
                            <div class="sub-text">per month</div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="researchsubs">
                            <div class="numberntext">
                                <span>265K</span>
                                <span class="plus">+</span>
                            </div>
                            <div class="text">
                                Media Readership
                            </div>
                            <div class="sub-text">per month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Viewsolutions text-center">
            <a class="btn btnprimary border-button" href="#">View our solutions</a>
        </div>
    </div>
</div>