#social-section {
	background-color: $footer-top-gray;
	padding: 50px 0;
	h1 {
		color: $white;
		margin-bottom: 40px;
		padding-left: 50px;
		position: relative;
		&:before {
			content: "\e90c";
			position: absolute;
			font-family: 'InformaIcons';
			left: 0;
		}
	}
	.twitter-carousel {
		.panel {
			background-color: transparent;
			margin-bottom: 0;
			p {
				font-size: 14px;
			}
			.feed {
				padding: 0 15px;
				min-height: 250px;
				border-left: 1px solid $light-blue-border;
				border-right: 1px solid $light-blue-border;
				margin: 0 -2px;
				@include mobile {
					min-height: auto;
				}
				.twit-img {
					margin-bottom: 20px;
					img {
						width: 100%;
					}
				}
				.twittedby {
					&:before {
						content: '@';
					}
				}
				.video-wrap {
					display: block;
					position: relative;
					img {
						width: 100%;
					}
				}
				.feed-heading {
					margin-bottom: 10px;
					span {
						margin-right: 10px;
						font-size: 14px;
						color: #8f939e;
					}
				}
				a {
					color: $orange;
				}
			}
			.message {
				color: $blue-light-bg;
				font-size: 18px;
			}
		}
	 	ul.slick-dots {
	 		@include mobile {
				position: static;
			}
            text-align: center;
            width: 100%;
            bottom: -40px;
            li {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: $gray;
                button:before {
                    content: '';
                }
                &.slick-active{
                    background: $yellow;
                }
            }
       }
		.slick-arrow {
			min-height: 20px;
		    min-width: 20px;
		    padding: 3% 2%;
		    background: #ffd500 url("Static/images/common/sprite.png") no-repeat center center;
		    background-size: 55%;
		    &:before {
		    	content: '';
		    }
		    &.slick-prev {
		    	left: -4%;
   				background-position: center -40%;
   				z-index: 1;
   				@include mobile {
    				background-position: center -15%;
    			}
		    }
		    &.slick-next {
		    	right: -4%;
    			background-position: center 142%;
    			@include mobile {
    				background-position: center 120%;
    			}
		    }
		}
	}
}