#social-section {
	background-color: $footer-top-gray;
	padding: 0 0 50px 0;
	.col-lg-12 {
		@include desktop {
			padding: 0;
		}
		@include mobile {
			padding: 0 5px;
		}
	}
	@include mobile {
		padding: 0;
	}
	h2 {
		color: $white;
		//margin-bottom: 40px;
		padding-left: 50px;
		position: relative;
		font-weight: bold;
		&:before {
			content: "\e90c";
			position: absolute;
			font-family: 'InformaIcons';
			left: 0;
		}
		@include mobile {
			margin-bottom: 20px;
		}
	}
	.slick-slider {
		@include mobile {
			margin-bottom: 10px;
		}
	}
	.slick-list {
		position: relative;
		&:before , &:after {
			content: "";
		    width: 2px;
		    position: absolute;
		    height: calc(100% - 10px);
		    background-color: #6a7184;
		    top: 0;
		    left: 1px;
		    @include mobile {
		    	width: 0;
		    	height: 0;
		    }
		}
		&:after {
			left: calc(100% - 2px);
		}
	}
	.twitter-carousel {
			.feed {
				margin-left:1px;
				&:before, &:after {
					content: '';
					height: 100%;
					width: 1px;
					background-color: #6a7184;
					position: absolute;
					left: 0;
					top: 0;
					@include mobile {
						left: 3px;
						height: 0;
						width: 0;
					}
				}
				&:after {
					left: calc(100% - 3px);
				}
			}
			.slick-active {
				@include mobile {
					.feed {
						margin-left:1px;
						&:before, &:after {
							content: '';
							height: 100%;
							width: 1px;
							background-color: #6a7184;
							position: absolute;
							left: 3px;
							top: 0;
						}
						&:after {
							left: calc(100% - 3px);
						}
					}
				}
			}
		.panel {
			background-color: transparent;
			margin-bottom: 0;
			p {
				font-size: 14px;
			}
			.feed {
				padding: 0 15px;
				// min-height: 350px;
				margin: 0 -3px;
				position: relative;
				//box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.8), -1px 0 0px 0 rgba(255, 255, 255, 0.8);
				@include mobile {
					min-height: auto;
					border-left: none;
				}
				.twit-img {
					margin-top: 12px;
					margin-bottom: 20px;
					width: calc(100% - 25px);
					img {
						max-width: 100%;
						width: auto;
					}
				}
				.twittedby {
					//color: $orange;
					&:before {
						content: '@';
					}
				}
				.video-wrap {
					display: inline-block;
					position: relative;
				}
				.feed-heading {
					margin-bottom: 10px;
					span {
						margin-right: 10px;
						font-size: 14px;
						//color: #8f939e;
					}
				}
				a {
					//color: $orange;
				}
			}
			.message {
				color: $white;
				font-size: 18px;
			}
		}
	 	ul.slick-dots {
	 		@include mobile {
	 			display: none !important;
				position: static;
				margin: 10px 0 20px 0;
			}
            text-align: center;
            width: 100%;
            bottom: -40px;
            li {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: $grey-color05;
                color: $white;
                button:before {
                    content: '';
                }
                &.slick-active{
                    background: $yellow;
                }
            }
       }
	.slick-arrow {
        height: 60px;
        width: 40px;
        z-index: 1;
        //background-color: $yellow;
        top: 50%;
        @include mobile {
            height: 40px;
            width: 20px;
            margin-top: -20px;
            margin-left: -20px;
        }
        @include tablet {
            height: 40px;
            width: 25px;
            margin-top: -20px;
            margin-left: -25px;
        }
        &:before {
            font-family: 'InformaIcons';
            position: absolute;
            font-size: 26px;
            opacity: 1;
            top: 50%;
            left: 50%;
            margin-top: -13px;
            margin-left: -13px;
            @include mobile {
                font-size: 14px;
                margin-top: -7px;
                margin-left: -7px;
            }
            @include tablet {
                font-size: 16px;
                margin-top: -8px;
                margin-left: -8px;
            }
        }
    }
    .slick-next {
        left: 100%;
        margin-left: 0;
        @include mobile {
        	left: calc(100% - 10px);
        }
        &:before {
            content: "\e902";
        }
    }
    .slick-prev {
        left: 0%;
        margin-left: -39px;
        @include mobile {
        	left: 10px;
        }
        @include mobile {
            margin-left:-20px;
        }
        @include tablet {
            margin-left:-25px;
        }
        &:before {
            content: "\e903";
        }
    }
	}
}
