#social-section {
	background-color: $footer-top-gray;
	padding: 50px 0;
	h1 {
		color: $white;
		margin-bottom: 40px;
	}
	.slick-list {
		border-right: 1px solid $light-blue-border;
	}
	.twitter-carousel {
		.panel {
			background-color: transparent;
			margin-bottom: 0;
			p {
				font-size: 14px;
			}
			.feed {
				padding: 0 15px;
				min-height: 250px;
				border-left: 1px solid $light-blue-border;
				@include mobile {
					min-height: 350px;
				}
				.twit-img {
					margin-bottom: 20px;
				}
				.feed-heading {
					margin-bottom: 10px;
					span {
						margin-right: 10px;
						font-size: 14px;
						color: #8f939e;
					}
				}
				a {
					color: $orange;
				}
			}
			.message {
				color: $blue-light-bg;
				font-size: 18px;
			}
		}
		
		.slick-dots li {
			button:before {
				color: $default-dots-color;
			}
			&.slick-active {
				button:before {
					color: $active-dots-color;
				}
			}
		}
		.slick-arrow {
			min-height: 20px;
		    min-width: 20px;
		    padding: 3% 2%;
		    background: #ffd500 url("/images/common/sprite.png") no-repeat center center;
		    background-size: 55%;
		    &:before {
		    	content: '';
		    }
		    &.slick-prev {
		    	left: -4%;
   				background-position: center -40%;
   				@include mobile {
    				background-position: center -15%;
    			}
		    }
		    &.slick-next {
		    	right: -4%;
    			background-position: center 142%;
    			@include mobile {
    				background-position: center 120%;
    			}
		    }
		}
	}
}