section#gallery-team-profile {
    .tm-img {
        position: relative;
        display: block;
        overflow: hidden;
        max-width: 400px;
        border-radius: 10%;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}