<section id="hero-banner" class="analyst">
    <div class="abs-image">
      <picture>
            <source srcset="cms-images/worldmap.jpg" media="(min-width: 1024px)">
            <source srcset="cms-images/worldmap.jpg?w=1024" media="(min-width: 768px)">
            <source srcset="cms-images/worldmap.jpg?w=768" media="(min-width: 660px)">
            <source srcset="cms-images/worldmap.jpg?w=660" media="(min-width: 320px)">
            <img srcset="cms-images/worldmap.jpg">
      </picture>
    </div>
    <div class="container">
      <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <h1 class="marg-top">Meet the specialists</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="subtext">
                    <strong>256</strong> specialists in <strong>26</strong> countries
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="span-arrow">
                  <span class="glyphicon glyphicon-arrow-down"></span>
                </div>
            </div>
      </div>
        <!-- for three-images starts -->

        <div class="row text-center pos">
            <div class="line"></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-9 col-md-offset-0 col-lg-offset-4 col-lg-6 col-lg-offset-0">
                      <div class="image-margin">
                          <img src="cms-images/analyst-list-hero/quality_analysis.png" alt="" class="img-mobile img-responsive"/>
                      </div>

                    </div>
                    <div class=" col-xs-8 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 color-subtext">
                        <h3>Quality analysis</h3>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-5 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-6 col-lg-offset-0">
                    <div class="image-margin">
                        <img src="cms-images/analyst-list-hero/expertise.png" alt="" class="img-mobile"/>
                    </div>
                  </div>
                  <div class="col-xs-7 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 color-subtext">
                      <h3>Expertise in all areas</h3>
                      <div>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                  </div>
              </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
             <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-5 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-6 col-lg-offset-0">
                    <div class="image-margin">
                        <img src="cms-images/analyst-list-hero/industry-leading.png" alt="" class="img-mobile"/>
                    </div>
                  </div>
                  <div class="col-xs-7 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 color-subtext">
                      <h3>Expertise in all areas</h3>
                      <div>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                  </div>
              </div>
            </div>
            </div>
        </div>
      <!-- for three-images ends -->

      <!-- for two images starts -->

      <div class="analyst-two-images">
        <div class="row text-center pos">
              <div class="line"></div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-5 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-8 col-md-offset-0 col-lg-offset-4 col-lg-6 col-lg-offset-0">
                        <div class="img-mobile image-margin">
                            <img src="cms-images/analyst-list-hero/quality_analysis.png" alt="" class="img-mobile"/>
                        </div>

                      </div>
                      <div class=" col-xs-7 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 color-subtext text-center">
                          <h3>Quality analysis</h3>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                      </div>
                  </div>
               </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-xs-5 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-8 col-md-offset-0 col-lg-offset-4 col-lg-6 col-lg-offset-0">
                        <div class="img-mobile image-margin">
                            <img src="cms-images/analyst-list-hero/expertise.png" alt="" class="img-mobile"/>
                        </div>

                      </div>
                      <div class=" col-xs-7 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 color-subtext text-center">
                          <h3>Expertise in all areas</h3>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                      </div>
                  </div>
              </div>
              </div>
        </div>
      </div>

      <!-- for two images ends -->

      <!-- for single image starts -->

        <div class="analyst-single-image">
          <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                          <div class="container-fluid">
                              <div class="row">
                                <div class="col-xs-6 col-sm-offset-5 col-sm-7 col-md-offset-5 col-md-7 col-lg-offset-5 col-lg-4">
                                      <div class="image-margin">
                                          <img src="cms-images/analyst-list-hero/quality_analysis.png" alt=""/>
                                      </div>
                                </div>
                                <div class=" col-xs-6 col-sm-12 col-md-12 col-lg-12 color-subtext text-center">
                                    <h3>Quality analysis</h3>
                                    <div>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                              </div>
                          </div>


                    </div>

              </div>
        </div>


      <!-- for single image ends -->
    </div>
</section>
