.analyst-search {
	padding-bottom: 15px;
	h2{
		padding:40px 0;
	}
	form {
		.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		label {
			font-weight: bold;
			font-size: 14px;
    		color:$grey-color04;
			white-space: normal;
    		height: 35px;
		}
		.chosen-container {
			width: 100% !important;
		}
		.chosen-container-single .chosen-single {
			line-height: 45px;
			height: 45px;
			border: 1px solid #ccc;
			&:focus{
				 border: 1px solid #66afe9;
			}
		}
		.chosen-container-single .chosen-single div {
			&:after {
				content: '\e901';
				position: absolute;
				font-family: "InformaIcons";
				left: 0;
			}
			b {
				display: none;
			}
		}
		.form-control {
			height: 45px;
			border-radius: 0;
		}
		.submit-btn {
			width: 100%;
			//border-color: $orange;
			margin-top: 40px;
			color: $white;
			height: 45px;
			padding-top: 10px;
			@include mobile {
				margin-top: 23px;
				margin-bottom: 20px;
			}
			@include tablet {
				margin-top: 23px;
				margin-bottom: 20px;
			}
			@include desktop {
				min-width: 165px;
			}
			&:hover {
				color: $white;
			}
		}
		.search-field {
			position: relative;
			span.icon-search {
				position: absolute;
			    font-size: 30px;
			    left: 30px;
			    bottom: 7px;
			    -webkit-transform: rotateY(180deg); /* Safari */
    			transform: rotateY(180deg);
			    @include mobile {
			    	left: 15px;
			    }
			}
			.form-control {
				padding: 6px 12px 6px 50px;
			}
		}
		.btn-reset{
			display: none;
		}
	}
}
.product-analyst-results {
	padding-bottom: 15px;
	background: $white;
	.analyst-views {
		padding-bottom: 0;
		@include mobile {
			padding: 0;
		}
		h2{
			font-size: 28px;
		}
	}
	.more {
		display: block;
	}
	.less {
		display: none;
	}
	.analyst-list-container {
		display: block;
		@include mobile {
			&:nth-child(n+2) {
				display: block;
			}
		}
		@include tablet {
			&:nth-child(n+3) {
				display: block;
			}
		}
	}
	.showLess {
		.more {
			display: none;
		}
		.less {
			display: block;
		}
		.btn-plus {
			&:after {
				content: '\e913';
			}
		}
	}
}
.text-center{
	&.NoRecords{
		background: #fff;
		padding: 50px 0;
		margin: 0;
	}
}
