.analyst-search {
	form {
		.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		label {
			font-size: 12px;
		    font-weight: normal;
		    font-family: 'FSMe-Bold';
		}
		.chosen-container {
			width: 100% !important;
		}
		.chosen-container-single .chosen-single {
			line-height: 45px;
			height: 45px;
			border: 1px solid #ccc;
		}
		.chosen-container-single .chosen-single div {
			&:after {
				content: '\e901';
				position: absolute;
				font-family: "InformaIcons";
				left: 0;
			}
			b {
				display: none;
			}
		}
		.form-control {
			height: 45px;
			border-radius: 0;
		}
		.submit-btn {
			width: 100%;
			//border-color: $orange;
			margin-top: 23px;
			color: $white;
			height: 45px;
			padding-top: 10px;
			@include mobile {
				margin-bottom: 20px;
			}
			@include tablet {
				margin-bottom: 20px;
			}
			@include desktop {
				min-width: 230px;
			}
			&:hover {
				color: $white;
			}
		}
		.search-field {
			position: relative;
			span {
				position: absolute;
			    font-size: 30px;
			    left: 20px;
			    bottom: 7px;
			    @include mobile {
			    	left: 15px;
			    }
			}
			.form-control {
				padding: 6px 12px 6px 40px;
			}
		}
	}
}
.product-analyst-results {
	.analyst-views {
		padding: 20px 0;
		@include mobile {
			padding: 0;
		}
	}
	.more {
		display: block;
	}
	.less {
		display: none;
	}
	.analyst-list-container {
		display: block;
	}
	.showLess {
		.more {
			display: none;
		}
		.less {
			display: block;
			&:before {
				content: "\e913";
			}
		}
	}
}