<section class="article-banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-7">
				<h1>Article name lorem ipsum dolor sit amet consectetur</h1>
				<p class="italics">by Nick Hughes, Catherine Morgan</p>
				<p class="italics"><strong>25<sup>th</sup> April 2016</strong></p>
				<div class="provided-by col-xs-12 col-sm-5">
					<span>Provided by</span>
					<p><strong>Informa Economics IEG</strong></p>
				</div>
			</div>
		</div>
	</div>
</section>