section.articlepage-quote {
	background-color: $white;
	//text-align: center;
	.container{
		width: 65%;
		p {
			line-height: 1.7;
		}
		@include mobile {
			width: 100%;
		}

		@include tablet {
			width: 100%;
		}
		
		blockquote{
			font-size: $font-size-h3;
			margin: 40px 0;
			padding: 0.25em 31px 0.25em 57px;
			line-height: 1.45;
			position: relative;
			color: $grey-color03;
			border-left: none;
			@include mobile {
				padding: 40px 0;
				margin: 20px 0;
			}
			&:before {
				content: "\201C";
			  	font-size: 90px;
			  	font-weight: bold;
			  	//color: #ffec8c;
			  	display: block;
				position: absolute;
				left: -5px;
				top: -20px;
			}
			cite {
				display: block;
				font-size: 16px;
				margin-top: 30px;
				strong {
					&:after {
						content: "/";
						margin: 0 10px;
					}
				}
			}
		}

		figure {
    		float: right;
    		width: 45%;
    		margin: 10px 10px 10px 30px;

    		img {
    			width: 100%;
    			height: auto;
			}
			figcaption {
				margin-top: 30px;
			}
		}
	}
}
section.articlepage-freearticle{
	.container{
		.article-row{
			.btn{
				margin-top: 20px;
				@include mobile{
					width: 100%;
				}
				@include desktop{
					min-width: 230px;
				}
				@include tablet{
					min-width: 230px;
				}
				&.btn-default{
					color: $grey-color05;
				}
			}
		}
		
		.tableContent{
			 background: #f3f3f3 none repeat scroll 0 0;
   			 margin-top: 20px;
    		 padding: 0 20px 20px;
    		 
			h3{
				padding-bottom:10px !important;
			}
			h4{
				font-weight: 200;
			}
			h5{
				font-size: 16px;
				margin: auto;
			}
		}
	}
}
.embed-video .videoWrapper iframe{
	width: 100%;
}