<section id="Pharma-ourproducts">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <h1>Our Products</h1>
          </div>
          <div class="col-xs-12">
              <div class="products-carousel"data-itemsperframe="4" data-autorotate=false data-transitionspeed="300" data-slideduration="4000" data-pagination=true data-rtl=true accessibility="true">
                 <a href="" class="product-item">
                    Sitetrove <img src="Static/images/pharma-small1.png" alt=""/>
                 </a>
                 <a href="" class="product-item">
                    Medtrack <img src="Static/images/pharma-small1.png" alt=""/>
                 </a>
                 <a href="" class="product-item">
                    Biomedtracker <img src="Static/images/pharma-small1.png" alt=""/>
                 </a>
                 <a href="" class="product-item">
                    Trialtrove <img src="Static/images/pharma-small1.png" alt=""/>
                 </a>
                 <a href="" class="product-item">
                    Sitetrove <img src="Static/images/pharma-small1.png" alt=""/>
                 </a>
                 <a href="" class="product-item">
                    Medtrack <img src="Static/images/pharma-small1.png" alt=""/>
                 </a>
                 <a href="" class="product-item">
                    Biomedtracker <img src="Static/images/pharma-small1.png" alt=""/>
                 </a>
                 <a href="" class="product-item">
                    Trialtrove <img src="Static/images/pharma-small1.png" alt=""/>
                 </a>

              </div>
          </div>
      </div>
  </div>
</section>
