<!-- Hero banner -->
<section id="banner" class="hero-banner home-page">
    <div class="cf-img">
        <img src="cms-images/banner-images/A01_Homepage.jpg" alt="" />
    </div>
    <div class="vertical-align">
        <div class="container">
            <div class="content">
                <h1>The Complete picture on global agribusiness</h1>
                <p>We help the world's largest and most influential agribusiness organisations gain advantage by delivering actionable intelligence across the food and commodities value chain We help the We help the fgh</p>
            </div>
        </div>
    </div>
</section>

<!-- Feature List -->
{{>pdp-feature-list-pharma pdp-feature-list}}

<!-- Market Problems -->
{{>sectorpage-strengths sectorpage-strengths}}

<footer id="informa-footer">
    <section id="customers_list">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title_comp">
                  <h3 class="gray">Our Business Intelligence Customers</h3>
                </div>
            </div>
            <div class="row">
                <div class="customers_list_slider slider-component col-sm-12" data-itemsperframe="6" data-autorotate=0 data-transitionspeed="300" data-slideduration="4000">
                      <div class="customer">
                          <img src="cms-images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/pepsi.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/abbot.png" title="pepsico" alt="pepsico">
                      </div>
                      <div class="customer">
                          <img src="cms-images/customers/richs.png" title="pepsico" alt="pepsico">
                      </div>
                </div>
            </div>
        </div>
    </section>
  </footer>  

<!-- Social Feed -->
{{>category_filter category_list}}
{{>article_list article_list}}
{{>headline_list headline_list}}

<!-- Agri Report -->
 {{>home-agri-report}}

<!-- Event List Calendar -->
{{>analyst-profile-events analyst_events}}

<!-- Testimonials -->
{{>pdp-customer-quote pdp-customer-quote}}

<!-- Social Feed -->
{{>home_social home_social}}

<!-- Get in Touch -->
 {{>home-contactus contactus}}

