<div class="brexitstyle">
    <section class="container brexit-container">
        <div class="row brexit-row">
            <div class="col-md-4 col-xs-12">
                <div class="podcasts-card">
                    <div class="podcastview">
                        <div class="image-thumbnail">
                            <img alt="" class="thumbnailimg" src="Static/images/brexit/podcasts.png" />
                            <span class="skewed"></span>
                        </div>
                        <div class="pc-body" id="podcastsid">
                            <img alt="" class="pcbodysecimg" src="Static/images/brexit/podheadphone.png" />
                            <div class="pc-bodycaption">
                                <h1 class="title">Podcasts</h1>
                                <p class="sub-title">
                                    Links to podcasts relating to Brexit, Pharma and Medtech
                                </p>
                                <button class="btn-Podcasts btn-primary" id="podcastsidbutton">
                                    View & Download
                                </button>
                            </div>
                        </div>
                        <div class="pc-body Podcastslist">
                            <img alt="" class="pcbodysecimg" src="Static/images/brexit/podheadphone.png" />
                            <div class="pc-bodycaption">
                                <h1 class="title">Podcasts</h1>
                                <p class="sub-title">
                                    Links to podcasts relating to Brexit, Pharma and Medtech
                                </p>
                                <div class="carousel-section">
                                    <div class="bxul">
                                        <div class="carousel-container">
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <input type="hidden"
                                                        value="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/435085245&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
                                                    <div class="brexit-listimage">
                                                        <img alt="" src="Static/images/brexit/podheadphone.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharma Intelligence - Informa Analyst Podcasts
                                                        </div>
                                                        <div class="sub-title">
                                                            05/17/19 - Spinal Muscular Atrophy
                                                             05/17/19 - Spinal Muscular Atrophy
                                                        </div>
                                                        <div class="brexitplay">
                                                            <img class="brexitplayimg"
                                                                src="Static/images/brexit/play.svg" />
                                                            <span class="brexitnumber">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt="" src="Static/images/brexit/podheadphone.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharma Intelligence - Informa Analyst Podcasts
                                                        </div>
                                                        <div class="sub-title">
                                                            05/17/19 - Spinal Muscular Atrophy
                                                             05/17/19 - Spinal Muscular Atrophy
                                                        </div>
                                                        <div class="brexitplay">
                                                            <img class="brexitplayimg"
                                                                src="Static/images/brexit/play.svg" />
                                                            <span class="brexitnumber">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt="" src="Static/images/brexit/podheadphone.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharma Intelligence - Informa Analyst Podcasts
                                                        </div>
                                                        <div class="sub-title">
                                                            05/17/19 - Spinal Muscular Atrophy
                                                             05/17/19 - Spinal Muscular Atrophy
                                                        </div>
                                                        <div class="brexitplay">
                                                            <img class="brexitplayimg"
                                                                src="Static/images/brexit/play.svg" />
                                                            <span class="brexitnumber">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt="" src="Static/images/brexit/podheadphone.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharma Intelligence - Informa Analyst Podcasts
                                                        </div>
                                                        <div class="sub-title">
                                                            05/17/19 - Spinal Muscular Atrophy
                                                             05/17/19 - Spinal Muscular Atrophy
                                                        </div>
                                                        <div class="brexitplay">
                                                            <img class="brexitplayimg"
                                                                src="Static/images/brexit/play.svg" />
                                                            <span class="brexitnumber">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt="" src="Static/images/brexit/podheadphone.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharma Intelligence - Informa Analyst Podcasts
                                                        </div>
                                                        <div class="sub-title">
                                                            05/17/19 - Spinal Muscular Atrophy
                                                             05/17/19 - Spinal Muscular Atrophy
                                                        </div>
                                                        <div class="brexitplay">
                                                            <img class="brexitplayimg"
                                                                src="Static/images/brexit/play.svg" />
                                                            <span class="brexitnumber">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt="" src="Static/images/brexit/podheadphone.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharma Intelligence - Informa Analyst Podcasts
                                                        </div>
                                                        <div class="sub-title">
                                                            05/17/19 - Spinal Muscular Atrophy
                                                             05/17/19 - Spinal Muscular Atrophy
                                                        </div>
                                                        <div class="brexitplay">
                                                            <img class="brexitplayimg"
                                                                src="Static/images/brexit/play.svg" />
                                                            <span class="brexitnumber">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt="" src="Static/images/brexit/podheadphone.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharma Intelligence - Informa Analyst Podcasts
                                                        </div>
                                                        <div class="sub-title">
                                                            05/17/19 - Spinal Muscular Atrophy
                                                             05/17/19 - Spinal Muscular Atrophy
                                                        </div>
                                                        <div class="brexitplay">
                                                            <img class="brexitplayimg"
                                                                src="Static/images/brexit/play.svg" />
                                                            <span class="brexitnumber">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-Podcasts btn-primary" id="carouselbutton">
                                        Back Button
                                    </button>
                                    <div class="carousel-slide-button">
                                        <i class="fa fa-chevron-down prev-slide carousel-slide" aria-hidden="true"></i>
                                        <i class="fa fa-chevron-up next-slide carousel-slide" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="podcast-recoder" style="display: none;">
                                    <div class="brexit-list"></div>
                                    <div class="podcastimages">
                                        <div class="podcastimagechild">
                                            <iframe scrolling="no" allow="autoplay" src="" width="100%" height="80"
                                                frameborder="no" style="font-size: 1rem;"></iframe>
                                        </div>
                                    </div>
                                    <button class="btn-Podcasts btn-primary podcast-recoderbutton">
                                        Back Button
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="podcasts-card">
                    <div class="podcastview">
                        <div class="image-thumbnail">
                            <img class="thumbnailimg" src="Static/images/brexit/pharmaarticle.png" />
                            <span class="skewed"></span>
                        </div>
                        <div class="pc-body">
                            <img alt="" class="pcbodysecimg" src="Static/images/brexit/medtecharticlesmall.png" />
                            <div class="pc-bodycaption">
                                <h1 class="title">Pharma article pack</h1>
                                <p class="sub-title">
                                    Links to Special Reports & Pharma article Packs.
                                </p>
                                <button class="btn-Podcasts btn-primary" id="podcastsidbuttontwo">
                                    View Articles
                                </button>
                            </div>
                        </div>
                        <div class="pc-body Podcastslist">
                            <img alt="" class="pcbodysecimg" src="Static/images/brexit/medtecharticlesmall.png" />
                            <div class="pc-bodycaption">
                                <h1 class="title">Pharma article pack</h1>
                                <p class="sub-title">
                                    Links to Special Reports & Pharma article Packs.
                                </p>
                                <div class="carousel-section">
                                    <div class="bxul">
                                        <div class="carousel-container">
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt=""
                                                            src="Static/images/brexit/medtecharticlesmall.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharma
                                                        </div>
                                                        <div class="sub-title">
                                                            Pharma
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-Podcasts btn-primary" id="carouselbutton">
                                        Back Button
                                    </button>
                                    <div class="carousel-slide-button">
                                        <i class="fa fa-chevron-down prev-slide carousel-slide" aria-hidden="true"></i>
                                        <i class="fa fa-chevron-up next-slide carousel-slide" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="podcasts-card">
                    <div class="podcastview">
                        <div class="image-thumbnail">
                            <img class="thumbnailimg" src="Static/images/brexit/medtecharticle.png" />
                            <span class="skewed"></span>
                        </div>
                        <div class="pc-body">
                            <img alt="" class="pcbodysecimg" src="Static/images/brexit/pharmasmall.png" />
                            <div class="pc-bodycaption">
                                <h1 class="title">Pharma article pack</h1>
                                <p class="sub-title">
                                    Links to Special Reports & Pharma article Packs.
                                </p>
                                <button class="btn-Podcasts btn-primary">
                                    View Articles
                                </button>
                            </div>
                        </div>
                        <div class="pc-body Podcastslist">
                            <img alt="" class="pcbodysecimg" src="Static/images/brexit/pharmasmall.png" />
                            <div class="pc-bodycaption">
                                <h1 class="title">Pharma article pack</h1>
                                <p class="sub-title">
                                    Links to Special Reports & Pharma article Packs.
                                </p>
                                <div class="carousel-section">
                                    <div class="bxul">
                                        <div class="carousel-container">
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt=""
                                                            src="Static/images/brexit/medtecharticlesmall.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharmaproject
                                                        </div>
                                                        <div class="sub-title">
                                                            Pharma RD Annual Review 2020 white paper
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt=""
                                                            src="Static/images/brexit/medtecharticlesmall.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            AWARENESS
                                                        </div>
                                                        <div class="sub-title">
                                                            Developing High Qulity Content for Pharma
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt=""
                                                            src="Static/images/brexit/medtecharticlesmall.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            SKIPTA
                                                        </div>
                                                        <div class="sub-title">
                                                            Maximising Product Launch Success Amid Complex
                                                            Legasaltive Change
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt=""
                                                            src="Static/images/brexit/medtecharticlesmall.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharmaproject
                                                        </div>
                                                        <div class="sub-title">
                                                            Pharma RD Annual Review 2020 white paper
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt=""
                                                            src="Static/images/brexit/medtecharticlesmall.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            AWARENESS
                                                        </div>
                                                        <div class="sub-title">
                                                            Developing High Qulity Content for Pharma
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt=""
                                                            src="Static/images/brexit/medtecharticlesmall.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            SKIPTA
                                                        </div>
                                                        <div class="sub-title">
                                                            Maximising Product Launch Success Amid Complex
                                                            Legasaltive Change
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slide-container">
                                                <div class="brexit-list">
                                                    <div class="brexit-listimage">
                                                        <img alt=""
                                                            src="Static/images/brexit/medtecharticlesmall.png" />
                                                    </div>
                                                    <div class="brexit-content">
                                                        <div class="bl-title">
                                                            Pharmaproject
                                                        </div>
                                                        <div class="sub-title">
                                                            Pharma RD Annual Review 2020 white paper
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-Podcasts btn-primary" id="carouselbutton">
                                        Back Button
                                    </button>
                                    <div class="carousel-slide-button">
                                        <i class="fa fa-chevron-down prev-slide carousel-slide" aria-hidden="true"></i>
                                        <i class="fa fa-chevron-up next-slide carousel-slide" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="display: none;">
        <div class="icon-container">
            <!--alarmclock-starts-->
            <div class="ac-animated-svg-icon ac-svg-animated ac-svg-shadow">
                <div class="ac-animated-svg-icon-contents">
                    <div class="ac-animated-svg-alarmclock">
                        <div class="svg-alarmclock-in">
                            <img src="Static/images/brexit/alarmclock2.png" class="svg-alarmclock" />
                            <img src="Static/images/brexit/leftbell.png" class="svg-left-bell" />
                            <img src="Static/images/brexit/rightbell.png" class="svg-right-bell" />
                        </div>
                        <img src="https://preview.animatedcreativity.com/svg/alarmclock/shadow.svg"
                            class="svg-shadow" />
                    </div>
                </div>
            </div>
            <!--alarmclock-ends-->
        </div>
    </section>
    <div class="goto-next-section hvr-icon-down">
        <img class="goto-image hvr-icon" alt="go to next section" role="button"
            src="Static/images/brexit/gobottom.png" />
    </div>
</div>