.recomended-content {
	.btn.btn-default {
		padding-right: 40px;
		border-color: $orange;
		&:after {
			color: $orange;
		}
		&.download {
			&:after {
				content: "\e905";
			}
		}
	}
	.recomend-content {
		float: left;
		width: 100%;
	}
	.btn-showMore {
			    background: none;
			    min-width: 180px;
			    width: auto;
			    padding: 10px 0;
			    padding-right: 40px;
			    margin: 0 auto;
			    text-align: left;
			    color: #444957;
			    border: none;
			    border-bottom: 2px solid #ffd500;
			    cursor: pointer;
			    position: relative;
			    margin: 20px 0;
			    display: inline-block;
			    &:after {
			        font-family: 'InformaIcons';
				    content: '\e912';
				    color: #ffd600;
				    right: 0;
				    height: 30px;
				    width: 30px;
				    text-align: center;
				    border-radius: 14px;
				    font-size: 30px;
				    top: -2px;
				    position: absolute;
				    @include mobile {
				        right: 50%;
					    margin-right: -15px;
					    top: 25px;
				    }
			    }
			    @include mobile {
			    	width: 50%;
				    padding-bottom: 35px;
				    padding-right: 0;
				    text-align: center;
			    }
		}
}
.recomended-wrapper {
	background-color: $white;
	padding: 15px;
	margin-bottom: 15px;
	position: relative;
	overflow: auto;
	.content {
		margin-bottom: 10px;
		h4 {
		    font-size: 30px;
    		font-family: FSMe-Bold;
		}
		.type {
		    font-weight: 700;
		    font-size: 0.9em;
		    display: block;
		    span {
		    	&:after {
		    		content: ',';
		    	}
		    	&:last-child {
		    		&:after {
			    		content: '';
			    	}
		    	}
		    }
		}
		.publish {
			strong {
				&:after {
					content: '|';
					margin: 0 5px;
					font-weight: normal;
				}
			}
		}
		.category {
		    display: inline-block;
	   		padding: 3px 8px;
    		font-weight: 400;
    		font-size: 0.9em;
    		color: #f1f1f3;
    		margin-right: 5px;
    		margin-bottom: 5px;
    		background-color: $grey-color2;
    		strong {
    			&:after {
    				content: ',';
    			}
    			&:last-child {
    				&:after {
	    				content: '';
	    			}
    			}
    		}
		}
		.description {
			margin: 0;
			padding-bottom: 10px;
		}
		.content-type {
		    font-weight: 700;
			font-size: 0.9em;
		}
		.video-container {
            max-height: 156px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
                float: none;
                display: block;
            }
            .play-icon {
                color: #fff;
                display: block;
                font-size: 5em;
                height: 30px;
                position: absolute;
                right: 50%;
                top: 25%;
                width: 30px;
            }
        }
	}
	.topics {
		strong {
			display: inline-block;
			&:after {
				content: ',';
				margin-right: 5px;
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}
	.footer {
	    padding: 0 15px;
	}
}
#relevant-products {
	.search-tile {
		margin-bottom: 15px;
	}
	.btn-ShowMore {
		margin-bottom: 30px;
	}
	&.showLess {
		.more {
			display: none;
		}
		.less {
			display: block;
		}
	}
}
