.recomended-content{
	.recomended-wrapper{
		margin-bottom: 30px;
	}
	.footer{
		min-height: 50px;
	    float: left;
	    width: 100%;
	    margin-top: 60px;
	}
	.btn-showMore {
		margin-bottom: 30px;
	}
}
.recomended-wrapper{
	background-color: $white;
	@include desktop{
		padding:20px;
	}
	@include not-desktop{
		padding: 20px 15px;
	}
	//margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	h4{
		padding: 20px 0 15px;
		@include margin-reset;
	}
	@include not-desktop{
		h4{
			padding: 20px 0;
    		@include margin-reset;
		}
	}
	.recomended-currency{
		position: absolute;
		bottom: 40px;
		left: 15px;
		@include desktop{
			left: 19px;
		}
		display: -webkit-box;
		&:before{
			content:"\00a3";
			font-weight: bold;
		}
	}
	.btn.btn-default, .btn.btn-primary {
		min-width:auto;
		&.download {
			&:after {
				content: "\e905";
			}
		}
		&.btn-ecommerce{
			&:after {
				content: "\e904";
			}
		}

	}
	.recomend-content {
		float: left;
		width: 100%;
	}
	.btn-showMore {
	    background: none;
	    min-width: 180px;
	    width: auto;
	    padding: 10px 0;
	    padding-right: 40px;
	    margin: 0 auto;
	    text-align: left;
	    color: #444957;
	    border: none;
	    border-bottom: 2px solid #ffd500;
	    cursor: pointer;
	    position: relative;
	    margin: 20px 0;
	    display: inline-block;
	    &:after {
	        font-family: 'InformaIcons';
		    content: '\e912';
		    color: #ffd600;
		    right: 0;
		    height: 30px;
		    width: 30px;
		    text-align: center;
		    border-radius: 14px;
		    font-size: 30px;
		    top: -2px;
		    position: absolute;
		    @include mobile {
		        right: 50%;
			    margin-right: -15px;
			    top: 25px;
		    }
	    }
	    @include mobile {
	    	width: 50%;
		    padding-bottom: 35px;
		    padding-right: 0;
		    text-align: center;
	    }
	}
	.content {
		margin-bottom: 10px;
		
		h4 {
			font-weight: bold;
    		font-size: 24px;
    		padding: 10px 0;
    		a{
    			color: $grey-color05;
    			word-wrap: break-word;
    			cursor: pointer;
    			&:focus{
    				text-decoration: none;
    			}
    		}
		}
		.type {
		    font-size: 18px;
		    display: block;
		    color:$grey-color04;
		    span {
		    	&:after {
		    		content: ', ';
		    	}
		    	&:last-child {
		    		&:after {
			    		content: '';
			    	}
		    	}
		    }
		}
		.publish {
			padding-bottom: 15px;
    		margin: 0;
    		@include not-desktop{
    			padding-bottom: 20px;
    		}
			strong {
				&:after {
					content: '|';
					margin: 0 5px;
					font-weight: normal;
				}
			}
		}

		.category {
			display:none !important;
			> p{
				margin:0;
			}
            //padding-bottom: 10px;
    		strong {
    			display: inline-block;
                padding:3px 8px;
                font-weight: 400;
                font-size: 0.9em;
                color: $white;
                background-color:$grey-color05;
                margin: 0 5px 5px 0;
    			&:after {
    				content: '';
    			}
    		}
		}
		.description {
			margin: 0;
			padding-bottom: 10px;
		}
		.content-type {
		    font-weight: 700;
			font-size: 0.9em;
		}
		.video-container {
            height: 156px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            .video-link, a {
            	cursor: pointer;
            }
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
                float: none;
                display: block;
                color: $grey-color04; 
            }
            .play-icon {
                color: #fff;
                display: block;
                font-size: 5em;
                height: 30px;
                position: absolute;
                right: 50%;
                top: 25%;
                width: 30px;
            }
        }
	}
	.topics {
		padding-top: 0px;
		strong {
			//display: inline-block;
			a{
				color: $grey-color04;
				text-decoration: underline;
			}
			&:after {
				content: ' | ';
				margin-right: 5px;
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}
	.brands {
		padding-top: 0;
		span {
			//display: inline-block;
			a{
				color: $grey-color04;
				text-decoration: underline;
			}
			&:after {
				content: ' | ';
				margin-right: 5px;
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}
	.SubSectors{
		padding-top: 0;
		span {
			a{
				color: $grey-color04;
				text-decoration: underline;
				font-weight:700;
			}
			&:after {
				content: ' | ';
				margin-right: 5px;
			}
			&:first-child {
				&:after {
					content: '';
				}
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}
	.footer {
	    padding: 0;
	    margin-top: 15px;
	    float: left;
	    width: 100%;
	    .btn{
	    	width: 190px;
	    }
	}
}
#relevant-products {
	.search-tile {
		margin-bottom: 15px;
	}
	.btn-ShowMore {
		margin-bottom: 30px;
	}
	&.showLess {
		.more {
			display: none;
		}
		.less {
			display: block;
		}
	}
}
