section#customer-quote {
      & > div {
            position: relative;
            // this fix the right and left perfectly for arrows
            // what an idea sirji
      }
    background: $yellow;
    padding: 40px 0 30px;
    position: relative;
    color: $text-gray;
    overflow: hidden;
    h1 {
          font-family: FSMe-Light;
          font-size: 24px;
   }
    @include mobile{
        padding: 11px 0 59px;
    }
    .quote {
          &:before {
             content: ',,';
             font-family: FSMe-Bold;
             font-size: 90px;
             opacity: .45;
             position: absolute;
             top: 70px;
             transform: rotate(180Deg);
             color: #fff;
             left: 60px;
          }

          @include mobile {
             &:before {
                  left: 0;
                  top: -20px;
             }
          }
   }
    #customer-quote-slider {
        position: relative;
        margin-top: 30px;
        @include mobile {
            margin-top: 10px;
        }
        .customer-quote-slide {
            em {
                font-size: 18px;
                font-family: FSMe-Light;
                font-style: normal;
                margin-bottom: 30px;
                display: block;
                @include mobile {
                    font-size: 16px;
                }
            }
            .case-study{
                  margin: 20px 0;
                  border-color: $light;
                  a{color: $text-gray;}
            }
            .saidBy {
                font-size: 14px;
                .owner {text-transform: uppercase;}
                @include mobile {
                    font-size: 12px;
                }
                font-family: FSMe-Bold;
                span {
                    padding-right: 15px;
                    position: relative;
                    &.owner:after {
                        position: absolute;
                        content: '\/';
                        right: 3px;
                        font-family: FSMe-Light;
                    }
                }
                .description {
                    font-family: FSMe-Light;
                }
            }
        }
    }
    .design-helper {
        position: absolute;
        width: auto;
        height: 500px;
        top:-70px;
        right: -70px;
        pointer-events: none;
        @include mobile {
            display: none;
        }
        .white-streak{
            transform: skew(34Deg);
            width: 100px;
            height: 230px;
            background: $light;
            opacity: .3;
            &.two {
                height: 500px;
            }
        }
        &.two {
            top: 130px;
            right: -150px;
        }
    }
    .slick-initialized {
        ul.slick-dots {
            text-align: center;
            width: 100%;
            bottom: 20px;
            li {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: $text-gray;
                button:before {
                    content: '';
                }
                &.slick-active{
                    background: $light;
                }
            }
        }
        .slick-prev,.slick-next {
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            @include mobile {
                display: none!important;
            }
            background: url(/Static/images/white-arrow.jpg);
            transform: rotate(180Deg);
            height: 60px;
            width: 46px;
            &:before {
                 content: '';
           }
        }
        .slick-prev {
            left: 0;
            right: auto;
            transform: rotate(0Deg);
        }
    }
}
