
section.customer-quote {
    position: relative;
    & > div {
        position: relative;
    }
    .container{
        padding: 0;
    }
    .customer-sub-title{
        h3{
            color: #fff;
            margin: 0;
            padding-bottom: 30px;
            font-weight: bold;
            @include heading-font-size(24px,18px,18px);
            @include heading-line-height(30px,26px,26px);
            @include tablet{
                padding-bottom: 25px;
            }
            @include mobile{
                padding-bottom: 20px;
            }
        }
    }
    &:after{
        content: '';
        background: url("/Static/images/testimonial-pattern.png");
        min-width: 400px;
        height: 100%;
        position: absolute;
        right: 0;
        background-repeat: no-repeat;
        background-position: right -100px top 100%;
        background-size: 80%;
        bottom: 0;
        pointer-events: none;
        @include not-desktop{
            display: none;
        }
    }
    h2{
        padding-bottom: 30px;
        @include tablet{
            margin: 0 20px;
            padding-bottom: 25px;
        }
        @include mobile{
            margin: 0 10px;
            padding-bottom: 20px;
        }
    }
    
    position: relative;
    color: $text-gray;
    overflow: hidden;
    .quote {
        margin-bottom: 30px;
        @include mobile {
            padding-left: 0;
            padding-right: 0;
        }
    }
    #customer-quote-slider {
        position: relative;
        margin-top: 0;
        .customer-quote-slide {
          position: relative;
          padding-left: 100px;
          @include mobile {
            padding-left: 0px;
            padding: 0 35px;
            &:before {
              left: 30px;
              top: 0px;
            }
          }
          @include tablet {
            &:before {
                left:8%;
            }
          }
            & > div {
                padding-right: 40%;
                @include tablet {
                    padding: 0 30% 0 6%;
                }
                @include mobile {
                    padding-right: 0;
                }
            }
            .pdp-quote{
                @include mobile{
                    padding-top: 55px;
                }
            }
            .saying {
                color: $white;
                margin-top: 0;
                position: relative;
                @include heading-font-size(18px,16px,16px);
                @include heading-line-height(26px,24px,24px);
                @include tablet{
                    margin-bottom: 25px;
                }
                @include mobile{
                    margin-bottom: 20px;
                }
                margin-bottom: 30px;
                display: block;
                &:before {
                  padding-left: 10px;
                  content: ',,';
                  font-weight: bold;
                  font-size: 90px;
                  position: absolute;
                  transform: rotate(180Deg);
                  left: -60px;
                  top: 38px;
                  @include mobile{
                        left: -3px;
                        top: -20px;
                  }
                }
            }
            .case-study {
                // padding-right: 45px;
                margin: 30px 0 0;
                padding: 0;
                a {
                    padding: 15px 10px;
                    display: block;
                }
                @include tablet{
                    margin: 25px 0 0;
                }
                @include mobile{
                    margin: 20px 0 0;
                }
                &:after {
                    content: "\e900";
                    font-family: 'InformaIcons';
                    right: 15px;
                    font-weight: bold;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .saidBy {
                margin: 0;
                .owner {
                    text-transform: uppercase;
                }
                font-weight: bold;
                span {
                    padding-right: 15px;
                    position: relative;
                    &.owner:after {
                        position: absolute;
                        content: '\/';
                        right: 3px;
                        font-weight: 200;
                    }
                }
                .description {
                    font-weight: 200;
                    text-transform: uppercase;
                    @include mobile {
                      display: block;
                    }
                }
            }
        }
    }
    .design-helper {
        position: absolute;
        width: auto;
        height: 500px;
        top: -100px;
       right: -105px;
        pointer-events: none;
        @include tablet {
          top: -40px;
          right: -28px;
        }
        @include mobile {
            display: none;
        }
        .white-streak {
            transform: skew(34Deg);
            width: 100px;
            height: 230px;
            background: $light;
            opacity: 0.3;
            &.two {
                height: 500px;
            }
        }
        &.two {
          top: 50px;
          right: -75px;
            @include tablet {
              top: 48px;
              right:30px;
            }
        }
    }
    .slick-initialized {
        ul.slick-dots {
            text-align: center;
            width: 100%;
            bottom: 0;
            position: relative;
            left: 0;
            padding-top: 30px;
            @include mobile {
                display: none !important;
                position: static;
                padding-top: 20px;
            }
            @include tablet {
                left: 0;
                padding-top: 25px;
            }
            li {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background: $grey-color05;
                button:before {
                    content: '';
                }
                &.slick-active {
                    background: $white !important;
                }
            }
        }
        .slick-arrow {
            height: 60px;
            width: 40px;
            z-index: 1;
            background-color: $white;
            top: 50%;
            @include mobile {
                height: 40px;
                width: 20px;
                margin-top: -20px;
                margin-left: -20px;
            }
            @include tablet {
                height: 40px;
                width: 25px;
                margin-top: -20px;
                margin-left: -25px;
            }
            &:before {
                font-family: 'InformaIcons';
                position: absolute;
                font-size: 26px;
                opacity: 1;
                top: 50%;
                left: 50%;
                margin-top: -13px;
                margin-left: -13px;
                color: $yellow;
                @include mobile {
                    font-size: 14px;
                    margin-top: -7px;
                    margin-left: -7px;
                }
                @include tablet {
                    font-size: 16px;
                    margin-top: -8px;
                    margin-left: -8px;
                }
            }
        }
        .slick-next {
          left: 100%;
          top: 45%;
            margin-left: 0;
            @include mobile {
                left: calc(100% - 30px);
                width: 30px;
                height: 25px;
            }
            @include tablet {
                left: calc(100% - 25px);
            }
            &:before {
                content: "\e902";
            }
        }
        .slick-prev {
            left: 0;
            top: 45%;
            margin-left: -40px;
            @include mobile {
                margin-left: 0;
                width: 30px;
                height: 25px;
            }
            @include tablet {
                margin-left: 0;
            }
            &:before {
                content: "\e903";
            }
        }
    }
    .card-col-heading{
        text-align: right;
        margin: 15px 0;
        background: $pharmatestimonial;
        padding: 15px;
        margin: 0;
        @include mobile{
            .btn-default{
                width: 100%;
            }
        }
        @include desktop{
            padding-right: 5%;
        }
    }
    .slick-slider{
        margin-bottom: 0px;
    }
}
