<!-- start connect through our products -->
<div class="featured-products">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-right nopadding">
                <div class="sub-text-n-img imgright">
                    <h2 class="sub-headline right-dotted-line">Connect through our products</h2>
                    <img class="img-right" src="cms-images/featured-products/rightdotted.png">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="owlcarousel-item">
        <button type="button" role="presentation" class="owl-prev custom-owl-previous">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button type="button" role="presentation" class="owl-next custom-owl-next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <div class="owl-carousel owl-theme">

            <div class="item">
                <div class="carousel-img">
                    <a href="#">
                        <img src="cms-images/featured-products/event.png">
                    </a>
                    <div class="connect-box">
                        <div class="inside-box">
                            <button class="">
                                Events
                            </button>
                            <h3>
                                Othre Title Here
                                </h3>
                                <span class="time">10.10.19 | Location to be type here</span>
                                <span class="Short description">
                                    Short description goest here to give the viewer some context.<a class="readmore" href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </span>
                        </div>


                    </div>

                </div>


            </div>
            <div class="item">
                <div class="carousel-img">
                    <a href="#">
                        <img src="cms-images/featured-products/media.png">
                    </a>
                    <div class="connect-box">
                        <div class="inside-box">
                            <button class="">
                                Research
                            </button>
                            <h3>
                                New Expo FoodTech to Highlight innovative
                                </h3>
                                <span class="time">10.10.19 | Location to be type here</span>
                                <span class="Short description">
                                    Short description goest here to give the viewer some context.<a class="readmore" href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </span>
                        </div>


                    </div>

                </div>
            </div>
            <div class="item">
                <div class="carousel-img">
                    <a href="#">
                        <img src="cms-images/featured-products/reserach.png">
                    </a>
                    <div class="connect-box">
                        <div class="inside-box">
                            <button class="">
                                trainning
                            </button>
                            <h3>
                                Othre Title Here
                                </h3>
                                <span class="time">10.10.19 | Location to be type here</span>
                                <span class="Short description">
                                    Short description goest here to give the viewer some context.<a class="readmore" href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </span>
                        </div>


                    </div>


                </div>
            </div>
            <div class="item">
                <div class="carousel-img">
                    <a href="#">
                        <img src="cms-images/featured-products/trainning.png">
                    </a>
                    <div class="connect-box">
                        <div class="inside-box">
                            <button class="">
                                MEDIA
                            </button>
                            <h3>
                                Othre Title Here
                                </h3>
                                <span class="time">10.10.19 | Location to be type here</span>
                                <span class="Short description">
                                    Short description goest here to give the viewer some context.<a class="readmore" href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </span>
                        </div>


                    </div>

                </div>
            </div>




        </div>
    </div>
</div>
<!--end start connect through our products -->