---
    component: global_html_footer
---

    <!-- build:js project/scripts/informaui.main.js -->


        <script src="src/components/_global/js/global.js"></script>
      <script src="src/components/global_header/js/global_header.js"></script>
    <!-- <script src="src/components/carousel/js/carousel.js"></script> -->
    <script src="src/components/pdp-feature-list/js/feature-list.js"></script>
    <script src="src/components/sector_list/js/sector-list.js"></script>
    <script src="src/components/article_list/js/article-list.js"></script>
    <script src="src/components/pdp-customer-quote/js/pdp-customer-quote.js"></script>
    <script src="src/components/global_footer/js/global_footer.js"></script>
<script src="src/components/_global/js/global.js"></script>
    <!-- endbuild -->

</body>
</html>
