---
    component: global_html_footer
---

    <!-- build:js Static/js/main.js -->
    <script src="Static/js/informaui.config.js"></script>
    <script src="Static/js/informaui.global.js"></script>
    <script src="Static/js/informaui.utils.js"></script>
    <script src="Static/js/informaui.data-loader.js"></script>
    <script src="Static/js/informaui.spinner.js"></script>
    <script src="Static/js/informaui.templates.js"></script>
    <script src="Static/js/informaui.int.js"></script>
    <!-- endbuild -->

    <!-- build:js Static/js/components.js -->
    <script src="Static/js/components/global_header.js"></script>
    <script src="Static/js/components/feature-list.js"></script>
    <script src="Static/js/components/sector-list.js"></script>
    <script src="Static/js/components/article-list.js"></script>
    <script src="Static/js/components/analyst-profile-events.js"></script>
    <script src="Static/js/components/global_footer.js"></script>
    <script src="Static/js/components/global.js"></script>
    <script src="Static/js/components/brand-list.js"></script>
    <script src="Static/js/components/brand-list.js"></script>
    <script src="Static/js/components/home_social.js"></script>
    <script src="Static/js/components/pdp-analyst.js"></script>
    <script src="Static/js/components/pdp-customer-quote.js"></script>
    <script src="Static/js/components/hero-banner.js"></script>
    <script src="Static/js/components/training-material.js"></script>
    <script src="Static/js/components/product-finder.js"></script>
    <script src="Static/js/components/search-filter.js"></script>
    <script src="Static/js/components/search-results.js"></script>
    <script src="Static/js/components/form-components.js"></script>
    <script src="Static/js/components/form-calendar.js"></script>
    <script src="Static/js/components/sectorpage-strengths.js"></script>
    <script src="Static/js/components/analyst-search.js"></script>
    <script src="Static/js/components/contact-us.js"></script>
    <script src="Static/js/components/contactUsPage-contactUs.js"></script>
    <script src="Static/js/components/analyst-profile.js"></script>
    <script src="Static/js/components/events-search.js"></script>
    <script src="Static/js/components/support-page-tabs.js"></script>
    <!-- endbuild -->

</body>
</html>
