--- component: global_html_footer ---

<!-- build:js Static/js/main.js -->
<script src="Static/js/informaui.config.js"></script>
<script src="Static/js/informaui.global.js"></script>
<script src="Static/js/informaui.utils.js"></script>
<script src="Static/js/informaui.data-loader.js"></script>
<script src="Static/js/informaui.spinner.js"></script>
<script src="Static/js/informaui.analytics.js"></script>
<script src="Static/js/informaui.templates.js"></script>
<script src="Static/js/informaui.int.js"></script>
<!-- endbuild -->

<!-- build:js Static/js/components.js -->
<script src="Static/js/components/amcharts.js"></script>
<script src="Static/js/components/pie.js"></script>
<script src="Static/js/components/animate.min.js"></script>
<script src="Static/js/components/light.js"></script>
<script src="Static/js/components/serial.js"></script>
<script src="Static/js/components/cookie.js"></script>
<script src="Static/js/components/global_header.js"></script>
<script src="Static/js/components/feature-list.js"></script>
<script src="Static/js/components/sector-list.js"></script>
<script src="Static/js/components/article-list.js"></script>
<script src="Static/js/components/analyst-profile-events.js"></script>
<script src="Static/js/components/global_footer.js"></script>
<script src="Static/js/components/global.js"></script>
<script src="Static/js/components/brand-list.js"></script>
<script src="Static/js/components/brand-list.js"></script>
<script src="Static/js/components/home_social.js"></script>
<script src="Static/js/components/pdp-analyst.js"></script>
<script src="Static/js/components/pdp-customer-quote.js"></script>
<script src="Static/js/components/hero-banner.js"></script>
<script src="Static/js/components/training-material.js"></script>
<script src="Static/js/components/product-finder.js"></script>
<script src="Static/js/components/search-results.js"></script>
<script src="Static/js/components/search-filter.js"></script>
<script src="Static/js/components/sectorpage-strengths.js"></script>
<script src="Static/js/components/analyst-search.js"></script>
<script src="Static/js/components/contact-us.js"></script>
<script src="Static/js/components/contactUsPage-contactUs.js"></script>
<script src="Static/js/components/analyst-profile.js"></script>
{{!-- <script src="Static/js/components/events-search-combine.js"></script> --}}
<script src="Static/js/components/support-page-tabs.js"></script>
<script src="Static/js/components/help-faq.js"></script>
<script src="Static/js/components/resource-filter.js"></script>
<script src="Static/js/components/video-full.js"></script>
<script src="Static/js/components/video-mini.js"></script>
<script src="Static/js/components/video-background.js"></script>
<script src="Static/js/components/events-search-combine-1.js"></script>
<script src="Static/js/components/form-wffm.js"></script>
<script src="Static/js/components/pharma-home-ourProducts.js"></script>
<script src="Static/js/components/recomended-content.js"></script>
<script src="Static/js/components/dashboard-preference.js"></script>
<script src="Static/js/components/pie-bar-chart.js"></script>

<script src="Static/js/components/googleAnalytics.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
 <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5788f7305e83d71c"></script>
 <script type="text/javascript">
var addthis_config = addthis_config||{};
    addthis_config.ui_email_to = 'help@addthis.com';
</script>
<script src="Static/js/components/analyst-tile-visual-design.js"></script>
<script src="Static/js/components/faqs.js"></script>
<script src="Static/js/components/rte-table.js"></script>
<script src="Static/js/components/pdp-brochure.js"></script>
<script src="Static/js/components/rp-newsFlash.js"></script>
<script src="Static/js/components/rp-newsFlash.js"></script>
<script src="Static/js/components/recomendation-tabs.js"></script>
<script src="Static/js/components/recomended-content.js"></script>
<script src="Static/js/components/relevant-products.js"></script>
<script src="Static/js/components/recom-products.js"></script>
{{!-- <script src="Static/js/components/product-refine.js"></script> --}}
<script src="Static/js/components/Welcome-description.js"></script>
<script src="Static/js/components/form-registration-myinterests.js"></script>
<script src="Static/js/components/article-headlines.js"></script>
<script src="Static/js/components/article-searchlisting.js"></script>
<script src="Static/js/components/newco-header.js"></script>



  



<!-- endbuild -->

</body>

</html>
