---
    component: global_html_footer
---

    <!-- build:js project/scripts/informaui.main.js -->

    <script src="js/global.js"></script>
    <script src="js/html-templates.js"></script>
    <script src="js/data-loader.js"></script>
    <script src="js/global_header.js"></script>
    <script src="js/html-template.js"></script>
    <!-- <script src="js/global_header.js"></script> -->
    <script src="js/feature-list.js"></script>
    <script src="js/sector-list.js"></script>
    <script src="js/article-list.js"></script>
    <script src="js/pdp-customer-quote.js"></script>
    <script src="js/global_footer.js"></script>
    <script src="js/global.js"></script>
    <script src="js/brand-list.js"></script>
    <script src="js/brand-list.js"></script>
    <script src="js/home_social.js"></script>
    <script src="js/pdp-analyst.js"></script>
    <!-- endbuild -->

</body>
</html>
