---
    component: global_html_footer
---

    <!-- build:js global/scripts/vendor/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>

    <!-- endbuild -->

   <script type="text/javascript">
        $INFORMA = jQuery.noConflict();
    </script>

    <!-- build:js project/scripts/informaui.main.js -->
	<script src="scripts/components/config.js"> </script>

    <script src="src/components/carousel/js/carousel.js"> </script>
    <script src="scripts/informaui.main.js"> </script>
    <!-- endbuild -->

</body>
</html>
