---
    component: global_html_footer
---

    <!-- build:js unminified/Static/js/vendor.js -->
      <!-- build:js unminified/Static/js/main.js -->
  <!-- build:js unminified/Static/js/components.js -->


    <script src="Static/js/informaui.config.js"></script>
    <script src="Static/js/informaui.global.js"></script>
    <script src="Static/js/informaui.utils.js"></script>
    <script src="Static/js/informaui.data-loader.js"></script>
    <script src="Static/js/informaui.spinner.js"></script>
    <script src="Static/js/informaui.templates.js"></script>
    <script src="Static/js/informaui.int.js"></script>

    <script src="Static/js/components/global_header.js"></script>
    <script src="Static/js/components/feature-list.js"></script>
    <script src="Static/js/components/sector-list.js"></script>
    <script src="Static/js/components/article-list.js"></script>
    <script src="Static/js/components/article-list.js"></script>
    <script src="Static/js/components/analyst-profile-events.js"></script>
    <script src="Static/js/components/global_footer.js"></script>
    <script src="Static/js/components/global.js"></script>
    <script src="Static/js/components/brand-list.js"></script>
    <script src="Static/js/components/brand-list.js"></script>
    <script src="Static/js/components/home_social.js"></script>
    <script src="Static/js/components/pdp-analyst.js"></script>
    <script src="Static/js/components/hero-banner.js"></script>
    <script src="Static/js/components/training-material.js"></script>
    <script src="Static/js/components/product-finder.js"></script>
    <!-- endbuild -->

</body>
</html>
