--- component: global_html_footer ---

<!-- build:js Static/js/main.js -->
<script src="Static/js/informaui.config.js"></script>
<script src="Static/js/informaui.global.js"></script>
<script src="Static/js/informaui.utils.js"></script>
<script src="Static/js/informaui.data-loader.js"></script>
<script src="Static/js/informaui.spinner.js"></script>
<script src="Static/js/informaui.templates.js"></script>
<script src="Static/js/informaui.int.js"></script>
<!-- endbuild -->

<!-- build:js Static/js/components.js -->
<script src="Static/js/components/cookie.js"></script>
<script src="Static/js/components/global_header.js"></script>
<script src="Static/js/components/feature-list.js"></script>
<script src="Static/js/components/sector-list.js"></script>
<script src="Static/js/components/article-list.js"></script>
<script src="Static/js/components/analyst-profile-events.js"></script>
<script src="Static/js/components/global_footer.js"></script>
<script src="Static/js/components/global.js"></script>
<script src="Static/js/components/brand-list.js"></script>
<script src="Static/js/components/brand-list.js"></script>
<script src="Static/js/components/home_social.js"></script>
<script src="Static/js/components/pdp-analyst.js"></script>
<script src="Static/js/components/pdp-customer-quote.js"></script>
<script src="Static/js/components/hero-banner.js"></script>
<script src="Static/js/components/training-material.js"></script>
<script src="Static/js/components/product-finder.js"></script>
<script src="Static/js/components/search-filter.js"></script>
<script src="Static/js/components/search-results.js"></script>
<script src="Static/js/components/sectorpage-strengths.js"></script>
<script src="Static/js/components/analyst-search.js"></script>
<script src="Static/js/components/contact-us.js"></script>
<script src="Static/js/components/contactUsPage-contactUs.js"></script>
<script src="Static/js/components/analyst-profile.js"></script>
{{!-- <script src="Static/js/components/events-search-combine.js"></script> --}}
<script src="Static/js/components/support-page-tabs.js"></script>
<script src="Static/js/components/help-faq.js"></script>
<script src="Static/js/components/resource-filter.js"></script>
<script src="Static/js/components/video-full.js"></script>
<script src="Static/js/components/video-mini.js"></script>
<script src="Static/js/components/video-background.js"></script>
<script src="Static/js/components/events-search-combine-1.js"></script>
<script src="Static/js/components/form-wffm.js"></script>
<script src="Static/js/components/pharma-home-ourProducts.js"></script>
<script src="Static/js/components/recomended-content.js"></script>
<script src="Static/js/components/dashboard-preference.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5788f7305e83d71c"></script>

<script src="Static/js/components/faqs.js"></script>
<script src="Static/js/components/rte-table.js"></script>
<script src="Static/js/components/pdp-brochure.js"></script>
<script src="Static/js/components/rp-newsFlash.js"></script>
<script src="Static/js/components/recomended-content.js"></script>
<script src="Static/js/components/relevant-products.js"></script>

<script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&amp;render=explicit"></script>
<script>
    window.gRecaptchaWidget = [];
    var loadCaptcha = function() {
        //rendering google recapthca
        jQuery('.wffm-form').each(function(i, element) {
            var recaptchaElementId = jQuery(element).find('.g-recaptcha').attr('id');
            var widgetId = null;
            widgetId = grecaptcha.render(recaptchaElementId, {
                'sitekey': jQuery('#' + recaptchaElementId).data('sitekey'),
                'theme': 'dark',
                'callback': function(response) {
                    if (response.length > 0) {
                        var validationField = jQuery(element).siblings('.captcha-wrapper').find('span'); // get only current form captcha validation element
                        if (response.length > 0) {
                            validationField.css('display', 'none')
                                .removeClass('field-validation-error')
                                .addClass('field-validation-valid');
                        } else {
                            validationField.css('display', 'block').html('The captcha field is required.')                                .removeClass('field-validation-valid')
                                .addClass('field-validation-error');

                        }
                    }
                }
            });
            window.gRecaptchaWidget.push({captchaElementId: recaptchaElementId, captchaWidgetId: widgetId});
        })
    };
</script>


<!-- endbuild -->

</body>

</html>
