.article-list {
    background-color: $white;
    position: relative;
    padding-bottom: 45px;
    @include mobile{
        padding-bottom: 25px;
    }
    @include mobile{
        padding-bottom: 35px;
    }
    .container{
        padding:0 15px;
    }
    .load-spinner {
        .loading {
            position: absolute;
        }
    }
    .recomended-wrapper{
        background-color: $grey-color10;
    }
    .slick-list {
        border-right: 0 !important;
        margin: 0 -15px;
    }
    .list-container {
        list-style-type: none;
        padding: 0;
        margin: 0;
        @include mobile {
            margin: 0 1.5%;
        }
        @include tablet {
            margin: 0 1.5%;
        }
        li {
            .list-content {
                min-height: 156px;
            }
            
            .article-info {
                display: block;
                em {
                    display: inline-block;
                    min-width: 70px;
                    font-style: normal;
                }
                strong {
                    display: inline-block;
                    vertical-align: top;
                    width: auto;
                    @include mobile {
                        width: 70%;
                    }
                }
            }
            
        }
        .slick-slide {
            background-color: $white;
        }
        .slick-track{
            background-color: transparent;
        }
        ul.slick-dots {
            margin: 20px 0 0;
            background: $white;
            @include mobile{
                display: none !important;
            }
        }
    }
}

.carousel-lists {
    .slick-list {
        border-right: 1px solid #c3c6d0;
    }
    .slick-arrow {
        height: 60px;
        width: 40px;
        z-index: 1;
        background-color: $yellow;
        top: 50%;
        @include mobile {
            height: 40px;
            width: 20px;
            margin-top: -20px;
            margin-left: -20px;
        }
        @include tablet {
            height: 40px;
            width: 25px;
            margin-top: -20px;
            margin-left: -25px;
        }
        &:before {
            font-family: 'InformaIcons';
            position: absolute;
            font-size: 26px;
            opacity: 1;
            top: 50%;
            left: 50%;
            margin-top: -13px;
            margin-left: -13px;
            @include mobile {
                font-size: 14px;
                margin-top: -7px;
                margin-left: -7px;
            }
            @include tablet {
                font-size: 16px;
                margin-top: -8px;
                margin-left: -8px;
            }
        }
    }
    .slick-next {
        left: 100%;
        margin-left: 0;
        &:before {
            content: "\e902";
        }
    }
    .slick-prev {
        left: 0%;
        margin-left: -40px;
        @include mobile {
            margin-left:-20px;
        }
        @include tablet {
            margin-left:-25px;
        }
        &:before {
            content: "\e903";
        }
    }
    ul.slick-dots {
        text-align: center;
        width: 100%;
        bottom: 0;
        position: relative;
        z-index: 2;
        margin: 15px 0;
        li {
            height: 10px;
            width: 10px;
            border-radius: 5px;
            border: none;
            background: $grey-color04;
            padding: 0;
            &.slick-active {
                background: $yellow;
            }
            button {
                color:$white;
                &:before{
                    content: " ";
                }
            }
        }
    }
    &.no-carousel {
        .list-container li {
            margin-bottom: 20px;
            border-right: 1px solid #c3c6d0;
            &:last-child {
                border-right: 1px solid #c3c6d0;
            }
            @include tablet {
                width: 50%;
                float: left;
            }
        }
        .slick-list {
            border: none;
        }
    }
}
.slick-arrow {
    &:focus{
        outline-offset: -2px;
    }
}
