section#feature-list,
section.feature-list-section {
    background: $grey-color10;
    padding-bottom: 50px;
    h2{
        padding-bottom: 20px;
    }
    h4 {
        text-align: center;
        margin: 5px 0 20px 0;
    }
    .feature-list-col p{
        padding: 0;
        margin-bottom: 25px;
        color: $grey-color04;
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        @include tablet {
            margin-bottom: 20px;
        }
        // @include family-style(200,$grey-color05);
        // @include heading-font-size(18px,16px,16px);
        // @include heading-line-height(26px,24px,24px);
    }
    @include mobile {
        padding: 5px 0 25px;
        h1 {
            font-size: 24px;
        }
    }
    .btn-see-all-features, .text-right {
        margin: 0 auto;
      //  padding-top: 50px;
        text-align: right;
        .btn {
            @include mobile {
                width: 100%;
            }
        }
        @include mobile {
          //  padding-top: 30px;
          //  padding-bottom: 30px;
        }
        @include tablet {
          //padding-top: 40px;
          //  padding-bottom: 40px;
        }
    }

    .feature-list-items{
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width:100%;
    }

    .feature-list-container {
        float: left;
        width: 25%;
        padding: 0 15px 15px 15px;
        //@include limitHeight(257px); // 1 headlne, 4 copy text
        a[data-target]{
            cursor: pointer;
        }
    .feature-image {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
            @include tablet {
                width: 80px;
                height: 80px;
            }
            @include mobile {
                width: 60px;
                height: 60px;
            }
        }
        .feature-image,
        .headText,
        p {
            text-align: center;
        }
        p {
            font-weight: 200;
            font-size: 14px;
        }
        @include tablet {
            width: 25%;
            padding: 10px 15px 20px;
        }
        @include mobile {
            width: 50%;
            padding: 10px 15px;
            .headText {
                font-size: 16px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    .btn-showMore {
        width: 150px;
        &:focus {
            outline: 0;
        }
        span.more {
            display: block;
        }
        span.less {
            display: none;
        }
    }
    &.showLess {
        .btn-showMore {
            span.more {
                display: none;
            }
            span.less {
                display: block;
            }
            &:after {
                font-family: 'InformaIcons';
                content: '\e913';
            }
        }
    }
    .btn-showMore-container{
      @include desktop {
        padding-top: 30px;
      }
    }
}
