section#feature-list, section.feature-list-section {
    background: $light;
    padding: 20px 0;
    @include mobile {
        padding: 5px 0 25px;
        h1 {
            font-size: 24px;
        }
    }
    .feature-list-container {
        float: left;
        width: 25%;
        padding: 40px 40px 20px;
        @include limitHeight(257px); // 1 headlne, 4 copy text
        .feature-image,
        .headText,
        p {
            text-align: center;
        }
        .headText {
            font-family: FSMe-Bold;
            font-size: 16px;
            color: $text-gray-dark;
            padding: 12px 0 6px;
        }
        p {
            font-family: FSMe-Light;
            font-size: 14px;
            color: $black;
        }
        @include tablet {
             width: 33.3333%;
             padding: 40px 35px 20px;
       }
        @include mobile {
            width: 100%;
            padding: 30px 40px;
            .headText {
                font-size: 16px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    .btn-showMore {
        background: none;
        width: 160px;
        padding: 10px 0;
        margin: 0 auto;
        text-align: left;
        color: $text-gray-dark;
        border: none;
        border-bottom: 2px solid $yellow;
        display: block;
        cursor: pointer;
        @include mobile {
            width: 50%;
            padding-bottom: 35px;
            text-align: center;
        }
        &:after {
            font-family: 'InformaIcons';
            content: '\e912';
            color: $brand-secondary;
            right: 0;
            height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 14px;
            font-size: 30px;
            top: -2px;
            @include mobile {
                right: 50%;
                margin-right: -15px;
                top: 25px;
            }
        }
        &:focus {
            outline: 0;
        }
        span.more {
            display: block;
        }
        span.less {
            display: none;
        }
        &.showLess {
            span.more {
                display: none;
            }
            span.less {
                display: block;
            }
            &:after {
                font-family: 'InformaIcons';
                content: '\e913';
                color: $brand-secondary;
            }
        }
    }
}
