section#feature-list,
section.feature-list-section {
    background: $light;
    padding: 20px 0;
    h2{
        padding-bottom: 10px;
    }
    @include mobile {
        padding: 5px 0 25px;
        h1 {
            font-size: 24px;
        }
    }
    .btn-see-all-features {
        width: 20%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 5px;
        @include mobile {
          width: 90%;
          padding-top: 5px;
          padding-bottom: 0px;
        }
        @include tablet {
          width: 30%;
          padding-top: 10px;
          padding-bottom: 5px;
        }
    }
    .feature-list-container {
        float: left;
        width: 25%;
        padding: 20px 40px;
        @include limitHeight(257px); // 1 headlne, 4 copy text
        .feature-image {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .feature-image,
        .headText,
        p {
            text-align: center;
        }
        .headText {
            font-family: FSMe-Bold;
            font-size: 16px;
            color: $text-gray-dark;
            padding: 12px 0 6px;
        }
        p {
            font-family: FSMe-Light;
            font-size: 14px;
            color: $black;
        }
        @include tablet {
            width: 33.3333%;
            padding: 40px 35px 20px;
        }
        @include mobile {
            width: 100%;
            padding: 30px 40px;
            .headText {
                font-size: 16px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    .btn-showMore {
        &:focus {
            outline: 0;
        }
        span.more {
            display: block;
        }
        span.less {
            display: none;
        }
    }
    &.showLess {
        .btn-showMore {
            span.more {
                display: none;
            }
            span.less {
                display: block;
            }
            &:after {
                font-family: 'InformaIcons';
                content: '\e913';
                color: $brand-secondary;
            }
        }
    }
}
