.form-group.disable-dropdown {
    pointer-events: none;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.tab-pane {
    form.get-in-touch,
    form.register-myinterests-form,
    form.request-a-demo {
        background: url(/Static/images/pattern.png) no-repeat right 105% $grey-color05;
        background-size: 24% !important;
        h2 {
            color: $white;
        }
        padding-top: 30px;
        padding-bottom: 30px;
        @include desktop {
            padding-left: 5% !important;
            padding-right: 5% !important;
        }
        @include mobile {
            padding-left: 15px !important;
            padding-right: 15px !important;
            background: $grey-color05 !important;
        }
        @include tablet {
            padding-left: 40px !important;
            padding-right: 40px !important;
            background: $grey-color05 !important;
        }
        .page-header {
            margin-top: 0 !important;

            h2 {
                padding-top: 20px !important;
                margin-top: 0 !important;
                color: #fff;
                margin: 0;
            }
        }
    }
}
form.register-myinterests-form{
    .form-group {
        @include mobile{
            margin-bottom: 15px !important;
        }
    }
    fieldset{
        @include mobile{
            &.about-you-details{
                padding-bottom: 0 !important;
            }
            padding-bottom: 10px !important;
        }
    }
}
form.get-in-touch,
form.register-myinterests-form,
form.request-a-demo {
    .form-introduction {
        padding-bottom: 15px;
        line-height: 24px;
        @include mobile{
          line-height: 20px;
        }
        @include tablet {
          line-height: 22px;
        }
    }
    fieldset {
        padding-bottom: 15px;
        @include mobile {
            &.two-column{
                padding-bottom: 0;
            }
        } 
        &.contact-details-block{
            padding-bottom: 0;
            .required-field{
                padding-bottom: 15px;
            }
        } 
    }
    background-color: $grey-color05;
    color: $white;
    padding-left: 0;
    padding-right: 0;
    //padding-top: 30px;
    @include mobile {
        padding-left: 5px;
        padding-right: 5px;
    }
    @include tablet {
        padding-left: 15px;
        padding-right: 15px;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .row [class*='col-'] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    @include mobile {
        .area-interests-conatiner .row [class*='col-'] {
            margin-left: -8px;
        }
    }

    .form-control {
        border-radius: 0 !important;
        //width: 90% !important;
        @include mobile {
            width: 100% !important;
        }
    }

    .email-validation-error {
        display: none;
    }

    .submit-tc {
        padding-top: 10px;
    }

    select::-ms-expand {
        display: none;
    }

    select.form-control {
        height: 54px;
        background-color: $grey-color10;
        color: $grey-color04;
        -webkit-appearance: none;
    }

    label.control-label {
        font-weight: 200 !important;
        margin-bottom: 10px;
    }

    input::-ms-clear {
        display: none;
    }

    input.form-control {
        border-radius: 0;
        height: 50px;
        background-color: $grey-color10;
        //width: 94%;
    }

    input[type=number].form-control::-webkit-inner-spin-button,
    input[type=number].form-control::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    textarea.form-control {
        border-radius: 0;
        background-color: $grey-color10;
        height: 227px;
        //width: 94%;
    }

    input:focus,
    select:focus,
    textarea:focus {
        border: 2px solid $brand-secondary;
    }

    select.chosen-select {
        border: none;
    }

    .chosen-container,
    .chosen-single {
        height: 50px;
        border-radius: 0;
        margin-bottom: 0px;
        background-color: $grey-color10;

        span {
            margin-top: 6px;
            font-size: 14px;
            color: $grey-color05;
        }
    }

    .chosen-container-single .chosen-drop {
        background-color: $grey-color10;
        font-size: 14px;
        border-radius: 0;
    }

    .chosen-container-single .chosen-search input[type="text"] {
        color: $grey-color04;
    }

    .chosen-container .chosen-results {
        border-radius: 0;
    }

    .chosen-container .chosen-results li.active-result {
        font-size: 14px;
    }

    .chosen-drop {
        border-radius: none;
    }

    .chosen-single {
        border: none;
    }

    .chosen-container-single .chosen-single div b {
        display: none;
    }

    .chosen-container-single .chosen-single div:after {
        top: 50%;
        margin-top: -20px;
        content: '\e901';
        position: absolute;
        font-family: "InformaIcons";
        margin-left: -10px;
        font-size: 16px;
        color: $grey-color05;
        @include tablet {
          display: none;
        }
    }

    .chosen-container .chosen-results li {
        padding: 10px 6px;
    }

    label.error {
        color: $brand-secondary !important;
        font-size: 14px;
        padding-top: 5px;
    }

    .field-validation-error {
        color: $brand-secondary !important;
        font-size: 14px;
        padding-top: 5px;
    }

    .page-header {
        border-bottom: none !important;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        h2{
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    .form-group {
        width: 100%;
        margin-bottom: 0;
        @include mobile {
            width: 100% !important;
        }

        select {
            padding-right: 25px;
        }

        .select-wrapper {
            @include mobile {
                position: relative;

                &:after {
                    content: "\e901";
                    visibility: visible;
                    font-family: 'InformaIcons';
                    color: $grey-color05;
                    position: absolute;
                    top: 18px;
                    right: 10px;
                    pointer-events: none;
                }
            }
            @include tablet {
                position: relative;

                &:after {
                    content: "\e901";
                    visibility: visible;
                    font-family: 'InformaIcons';
                    color: $grey-color05;
                    position: absolute;
                    top: 18px;
                    right: 10px;
                    pointer-events: none;
                }
            }
        }

        .has-error .bg-warning {
            display: block;
        }

        .has-error .has-feedback .bg-warning {
            display: block;
        }
    }

    .half-width-text-box {
        display: table;
        width: 100%;

        .required-field {
            display: table-cell;
            //width: 48%;
            float: left;
        }

        .required-field:nth-child(odd) {
            margin-right: 4%;
        }
    }

    h1 {
        font-weight: bold;
    }

    legend {
        color: $white;
        font-size: 16px;
        line-height: 24px;
        border-bottom: none !important;
        width: initial;
        margin-bottom: 10px;

        &.active {
            margin-bottom: 10px !important;

            &::after {
                //color: $yellow;
                margin-bottom: 10px !important;
            }
        }

        &.tool_tip {
            &::after {
                position: absolute;
                font-family: 'InformaIcons';
                content: '\e915';
                padding-left: 15px;
                color: $grey-color10;
                cursor: pointer;
            }
        }
    }

    p {
        position: relative;
        display: none;
        width: 100%;
        color: $white;
        background-color: $yellow;
        height: 40px;
        text-align: left;
        border-radius: 0;
        padding: 10px;
        //margin-top: 15px;
        color: $grey-color05;
        &.form-recaptcha-text{
            display: block;
            background-color: $grey-color05 !important;
            margin-bottom: -15px;
            padding: 0;
            a{
                text-decoration: underline;
                color: $white;
            }
            &:after{
                border: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-left: 10px solid $yellow;
            border-top: 10px solid transparent;
        }
    }

    .hide-title {
        p {
            display: none;
            &.tc-product-name {
                display: inline;
                color: $white;
                background: transparent;
                padding: 0;
                &:after {
                    display: none;
                }
            }
        }

        label.control-label {
            display: none;
            clear: both;
        }

        .checkbox {
            display: table-cell;
            float: left;
            margin-top: -5px;
            margin-bottom: 15px;
            height: 70px;
            color: $grey-color03;

            input {
                margin-left: 0;
                right: 5px;
                bottom: 5px;
                display: none;
            }
            @include mobile {
                width: 50%;
                padding: 0 5px;
            }
            @include not-mobile {
                width: 30%;
            }

            label {
                height: inherit;
                margin: 0;
                font-size: $font-size-base;
                font-weight: normal !important;
                background-color: $body-bg;
                @include mobile {
                    padding: 5px;
                    width: 100%;
                    margin: 0 4px;
                }
                @include not-mobile {
                    width: 100%;
                    padding: 10px;
                }
            }

            &.active {
                color: $body-bg;

                label {
                    //border: 3px solid $yellow;
                    background-color: inherit;
                }

                &::after {
                    content: "\e914";
                    visibility: visible;
                    font-family: 'InformaIcons';
                    //color: $brand-secondary;
                    position: absolute;
                    font-size: 20px;
                    right: 5px;
                    bottom: 5px;
                }
                @include mobile {
                    &::after {
                        right: 8px;
                        bottom: 8px;
                    }
                }
            }
        }
        @include not-mobile {
            .checkbox:nth-child(3n-2) {
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }

    .dynamic-interests {
        @include not-mobile {
            .checkbox:nth-child(3n-1) {
                margin-left: 5%;
                margin-right: 5%;
            }

            .checkbox:nth-child(3n-2) {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    .scfSectionBorder {
        p {
            display: none;
        }
    }

    .picker-container {
        position: static;
    }

    .two-column {
        display: table;
        width: 100%;

        p {
            display: none;
        }

        .required-field {
            display: table-cell;
            width: 48%;
            float: left;
            @include mobile{
                padding-bottom: 15px;
            }
        }

        .required-field:nth-child(odd) {
            margin-right: 4%;
        }
    }

    .contact-details {
        .required-field:not(:first-child) {
            display: table-cell;
            width: 48%;
            float: left;
        }

        .required-field:nth-child(2) {
            margin-right: 4%;
        }
    }

    .three-column {
        display: table;
        width: 100%;

        p {
            display: none;
        }

        .required-field {
            display: table-cell;
            width: 30%;
            float: left;
        }
        @include not-mobile {
            .required-field:nth-child(even) {
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }

    .terms-and-conditions {
        //margin-top: 30px;
        @include mobile {
         // margin-top: 20px;
        }
        @include tablet {
          //margin-top: 25px;
        }
        legend {
            display: none;
        }

        span.help-block {
            color: inherit;
        }
    }

    .normal-checkbox label {
      /* display: inline-block; */
      max-width: 100%;
      /* margin-bottom: 5px; */
      font-weight: normal;
    }

    .preselected-checkbox label {
      /* display: inline-block; */
      max-width: 100%;
      /* margin-bottom: 5px; */
      font-weight: normal;
    }

    .right-inner {
        position: relative;

        .icon-calender {
            pointer-events: none;

            &:before {
                font-family: 'InformaIcons';
                position: absolute;
                font-size: 30px;
                content: "\e920";
                color: $orange;
                top: 10px;
                right: 5px;
            }
        }
    }

    .radio-custom {
        width: 45%;
        /*display: inline-block;*/
        display: block;
        box-sizing: border-box;
        vertical-align: top;
        margin: 10px;
        position: relative;
        @include tablet {
            width: 43%;
        }
        @include mobile {
            width: 100%;
        }
    }

    .radio-custom label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 12px;
        font-weight: normal !important;
    }

    .radio-custom label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 10px;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
    }

    .radio-custom label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 13px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: $orange;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }

    .radio-custom input[type="radio"] {
        opacity: 0;
        z-index: 1;
        left: -8px;
        top: -1px;
        position: absolute;
    }

    .radio-custom input[type="radio"]:focus + label::before {
        // outline: thin dotted;
        // outline: 5px auto -webkit-focus-ring-color;
        // outline-offset: -2px;
    }

    .radio-custom input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .radio-custom input[type="radio"]:disabled + label {
        opacity: 0.65;
    }

    .radio-custom input[type="radio"]:disabled + label::before {
        cursor: not-allowed;
    }
}

.has-error {
    display: none;
}

.has-error .bg-warning {
    display: block;
}

.bg-warning {
    display: block !important;
    background-color: initial !important;
    color: $white;
    li.list-group-item.list-group-item-warning {
        background-color: initial !important;
        font-size: 24px;
        list-style: none;
        margin-left: -30px;
        @include mobile {
            font-size: 14px;
            margin-left: -30px;
        }
        @include tablet {
            font-size: 16px;
            margin-left: -30px;
        }
    }

    .list-group-item {
        border: none;
        padding: 0 !important;
    }

    .list-group-item-warning {
        color: inherit !important;
    }
}

.form-btn-container {
    width: 20%;
    margin: 10px auto;
}

.form-modal {
    .modal-dialog {
        padding-top: 5%;
        padding-bottom: 10%;
        width: 40%;
        margin: 0 auto;
        @include tablet {
            width: 85%;
        }
        @include mobile {
            width: 100%;
        }
        @media only screen and (min-width: 1600px) and (max-width: 1920px){
            width: 30%;
        }
        @media only screen and (min-width: 1920px){
            width: 20%;
        }
    }

    .modal-body {
        .form-inline-container {
            margin-top: 0;
            margin-bottom: 5%;
            @include mobile {
                margin-top: 4%;
                margin-bottom: 4%;
            }
            @include tablet {
                margin-top: 6%;
                margin-bottom: 6%;
            }

            .error-response,
            .submit-response {
                background-color: $grey-color05;
                color: $white;
                padding: 30px 25%;
                @include mobile {
                    padding: 20px;
                }
                @include tablet {
                    padding: 20px 20%;
                }
                display: block;
                font-size: $line-height-computed;

                h2 {
                    font-weight: bold;
                    display: inline-block;
                    position: relative;
                    @include mobile {
                        padding-right: 20px;
                        margin-right: 20px;
                        width: calc(100% - 50px);
                    }

                    &:before {
                        position: absolute;
                        visibility: visible;
                        font-family: 'InformaIcons';
                        content: "\e914";
                        @include desktop {
                            font-size: 35px;
                            left: -50px;
                            top: -5px;
                        }
                        @include tablet {
                            font-size: 35px;
                            left: -15%;
                        }
                        @include mobile {
                            font-size: 35px;
                            margin-top: 5px;
                            left: 100%;
                        }
                    }
                }

                img {
                    opacity: 0.5;
                }

                p {
                    margin-bottom: 25px;
                    margin-top: 0;
                    position: static;
                    display: block;
                    width: 100%;
                    color: $white;
                    background-color: inherit;
                    height: initial;
                    text-align: left;
                    border-radius: 0;
                    padding: 0;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 100%;
                        left: 0;
                        width: 0;
                        height: 0;
                        border: 0;
                    }
                }
            }
        }
    }

    .modal-content {
        border-radius: 0;
        background-color: $grey-color05;
        color: $white;
        //margin-top: 20%;
        @include tablet {
            //  margin-top: 20%;
        }
        @include mobile {
            //margin-top: 10%;
        }
    }

    .modal-header {
        border-bottom: 0;
        position: relative;
        z-index: 9999;
        padding-top: 10px;
        .close {
            color: $white;
            opacity: 2;
            margin-top: 10px;
        }

        .form-modal-close-icon:after {
            content: "\e906";
            visibility: visible;
            font-family: 'InformaIcons';
            color: $white;
            font-size: 24px;
            margin-top: 15px;
            margin-left: -5px;
        }
    }
}

.form-submit-border {
    padding-top: 56px;
    position: relative;
    padding-bottom: 40px;
    margin-top: 0;

    .btn {
        //background-color: #ef7c00 !important;
        border: 0 !important;
        color: $white !important;
        position: absolute !important;
        font-size: 16px;
        right: 0;
        bottom: 35px;
        @include not-mobile {
            width: 121px;
        }
        @include mobile {
            width: 100% !important;
        }
    }

    &::after {
        position: absolute;
        font-family: 'InformaIcons';
        content: "\e900";
        top: 25px;
        right: 15px;
        font-weight: bold;
    }
}

.form-submit-border.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none;
}

.form-horizontal .form-group {
    margin-left: 0 !important;
}

.form-modal.modal.fade.in.centreAlign .modal-dialog {
    transform: translate3d(0,-50%,0);
}

.tab-pane {
    .error-response,
    .submit-response {
        background-color: $grey-color05;
        color: $white;
        padding-left: 85px;
        padding-right: 30px;
        padding-bottom: 20px;
        background: url("/Static/images/pattern.png") no-repeat right 103% $grey-color05;
        background-size: 24% !important;
        @include mobile {
            padding-left: 7px;
            padding-right: 5px;
        }
        @include not-desktop{
            background: $grey-color05 !important;
        }

        h2 {
            color: $white;
            position: relative;
            @include mobile{
              padding-right: 25px;
            }
            &:before {
                @include mobile {
                    right: 10px;
                }
                @include tablet {
                    left: -60px;
                }
                @include desktop {
                    left: -60px;
                }
                content: "\e914";
                font-family: "InformaIcons";
                position: absolute;
            }
        }

        p {
            font-size: 24px;
            color: $white;
            line-height: normal;
            @include mobile {
                font-size: 14px;
            }
            @include tablet {
                font-size: 16px;
            }
        }
    }
}

.form-modal.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.form-modal.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}


.wffm-form{
  .custom-checkbox {
      color: $text-gray;
      position: relative;
      label {
          font-size: 14px;
          line-height: 18px;
          margin-left:25px;
          white-space: normal;
          display: block;
          text-align: left;
          span {
              &:before {
                  background: #fff none repeat scroll 0 0;
                  content: "";
                  height: 18px;
                  left: -30px;
                  position: absolute;
                  top:0px;
                  width: 18px;
              }
              position: relative;
              &.tc-product-name:before {
                display: none;
              }
          }
          input[type=checkbox]:checked + span:before {
              background: $white url("/Static/images/common/checkbox-tick.jpg") no-repeat 0 0;
              background-size: 100%;
          }
          input[type=checkbox] + span:before {
            background: $white url("/Static/images/common/checkbox-untick.png") no-repeat 0 0;
            background-size: 100%;
          }
          input:disabled + span:before {
              background: $grey-color09 none;
              background-size: 100%;
          }
      }

          input {
              border: 0;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
          }

  }
}
.grecaptcha-badge {
    display: none;
}

.tech-theme{
    .wffm-form {
        .custom-checkbox {
            label{
                span {
                    color:#555;
                }
            } 
        }
    }
}