.tab-pane {
    form.get-in-touch,
    form.request-a-demo {
        @include desktop {
            padding-left: 10% !important;
            padding-right: 10% !important;
        }
        @include mobile {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        @include tablet {
            padding-left: 50px !important;
            padding-right: 50px !important;
        }
    }
}

form.get-in-touch,
form.request-a-demo {
    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
        @include mobile {
            margin-left: 7.5px !important;
            margin-right: 7.5px !important;
        }
    }
    background-color: $gray-light-bg;
    color: $white;
    padding-left: 25%;
    padding-right: 25%;
    @include mobile {
        padding-left: 5px;
        padding-right: 5px;
    }
    @include tablet {
        padding-left: 30px;
        padding-right: 30px;
    }
    .form-control {
        border-radius: 0 !important;
        //width: 90% !important;
        @include mobile {
            width: 100% !important;
        }
    }
    select::-ms-expand {
        display: none;
    }
    select.form-control {
        height: 54px;
        background-color: $blue-lighter-bg;
        color: $gray-form-txt;
    }
    label.control-label {
        font-family: FSMe-light !important;
        font-weight: normal !important;
    }
    input::-ms-clear {
        display: none;
    }
    input.form-control {
        border-radius: 0;
        height: 54px;
        background-color: $blue-lighter-bg;
        //width: 94%;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    textarea.form-control {
        border-radius: 0;
        background-color: $blue-lighter-bg;
        height: 227px;
        //width: 94%;
    }
    input:focus,
    textarea:focus {
        outline: none !important;
        border: 2px solid $brand-secondary;
    }
    .chosen-container,
    .chosen-single {
        height: 50px;
        border-radius: 0;
        background-color: $blue-lighter-bg;
        span {
            margin-top: 6px;
            font-size: 14px;
        }
    }
    .chosen-container-single .chosen-drop {
        background-color: $blue-lighter-bg;
        font-size: 14px;
    }
    .chosen-container .chosen-results {
        border-radius: 0;
    }
    .chosen-container .chosen-results li.active-result {
        font-size: 14px;
    }
    .chosen-drop {
        border-radius: none;
    }
    .chosen-single {
        border: none;
    }
    .chosen-container-single .chosen-single div b {
        display: none;
    }
    .chosen-container-single .chosen-single div:after {
        top: 50%;
        margin-top: -20px;
        content: '\e901';
        position: absolute;
        font-family: "InformaIcons";
        margin-left: -10px;
        font-size: 16px;
    }
    .chosen-container .chosen-results li {
        padding: 10px 6px;
    }
    .chosen-container .chosen-results li.highlighted {
        background-color: $brand-secondary;
        color: $font-color;
    }
    label.error {
        color: $brand-secondary !important;
        font-size: 14px;
        padding-top: 5px;
    }
    .field-validation-error {
        color: $brand-secondary !important;
        font-size: 14px;
        padding-top: 5px;
    }
    .page-header {
        border-bottom: none !important;
    }
    .has-error {
        display: none;
    }
    .has-error .bg-warning {
        display: block;
    }
    .form-group {
        width: 100%;
        @include mobile {
            width: 100% !important;
        }
        select {
            padding-right: 25px;
        }
        .select-wrapper {
            position: relative;
        }
        .select-wrapper:after {
            content: "\e901";
            visibility: visible;
            font-family: 'InformaIcons';
            color: $font-color;
            position: absolute;
            top: 18px;
            right: 10px;
            pointer-events: none;
        }
        .has-error .bg-warning {
            display: block;
        }
        .has-error .has-feedback .bg-warning {
            display: block;
        }
    }
    .half-width-text-box {
        display: table;
        width: 100%;
        .required-field {
            display: table-cell;
            width: 48%;
            float: left;
        }
        .required-field:nth-child(odd) {
            margin-right: 4%;
        }
    }
    h1 {
        font-family: FSMe-bold;
    }
    legend {
        color: $blue-light-bg;
        font-size: 20px;
        border-bottom: none !important;
        width: initial;
        &.active {
            margin-bottom: 10px !important;
            &::after {
                color: $yellow;
                margin-bottom: 10px !important;
            }
        }
        &.tool_tip {
            &::after {
                position: absolute;
                font-family: 'InformaIcons';
                content: '\e915';
                padding-left: 15px;
            }
        }
    }
    p {
        position: relative;
        display: none;
        width: 100%;
        color: $white;
        background-color: $yellow;
        height: 40px;
        text-align: left;
        border-radius: 0;
        padding: 10px;
        margin-top: 15px;
        color: $font-color;
        &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-left: 10px solid $yellow;
            border-top: 10px solid transparent;
        }
    }
    .hide-title {
        p {
            display: none;
        }
        label.control-label {
            display: none;
            clear: both;
        }
        .required-field {
            .checkbox {
                display: table-cell;
                float: left;
                margin-top: -5px;
                margin-bottom: 15px;
                height: 70px;
                background-color: $body-bg;
                color: $gray-light-bg;
                input {
                    margin-left: 0;
                    right: 5px;
                    bottom: 5px;
                    display: none;
                }
                @include mobile {
                    width: 48%;
                }
                @include not-mobile {
                    width: 30%;
                }
                label {
                    height: inherit;
                    margin: 0;
                    font-size: $font-size-base;
                    font-weight: normal !important;
                    @include mobile {
                        padding: 5px;
                        width: 100%;
                    }
                    @include not-mobile {
                        width: 100%;
                        padding: 10px;
                    }
                }
                &.active {
                    background-color: inherit;
                    color: $body-bg;
                    border: 3px solid $yellow;
                    &::after {
                        content: "\e914";
                        visibility: visible;
                        font-family: 'InformaIcons';
                        color: $brand-secondary;
                        position: absolute;
                        font-size: 20px;
                        right: 5px;
                        bottom: 5px;
                    }
                }
            }
            @include not-mobile {
                .checkbox:nth-child(3n-2) {
                    margin-left: 5%;
                    margin-right: 5%;
                }
            }
            @include mobile {
                .checkbox:nth-child(even) {
                    margin-left: 4%;
                }
            }
        }
    }
    .scfSectionBorder {
        p {
            display: none;
        }
    }
    .picker-container {
        position: static;
    }
    .two-column {
        display: table;
        width: 100%;
        p {
            display: none;
        }
        .required-field {
            display: table-cell;
            width: 48%;
            float: left;
        }
        .required-field:nth-child(odd) {
            margin-right: 4%;
        }
    }
    .contact-details {
        .required-field:not(:first-child) {
            display: table-cell;
            width: 48%;
            float: left;
        }
        .required-field:nth-child(2) {
            margin-right: 4%;
        }
    }
    .three-column {
        display: table;
        width: 100%;
        p {
            display: none;
        }
        .required-field {
            display: table-cell;
            width: 30%;
            float: left;
        }
        @include not-mobile {
            .required-field:nth-child(even) {
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
    .terms-and-conditions {
        margin-top: 10px;
        legend {
            display: none;
        }
    }
    .normal-checkbox label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: normal;
    }
    .right-inner {
        position: relative;
        .icon-calender {
            pointer-events: none;
            &:before {
                font-family: 'InformaIcons';
                position: absolute;
                font-size: 30px;
                content: "\e920";
                color: $brand-primary;
                top: 10px;
                right: 5px;
            }
        }
    }
    .radio-custom {
        width: 45%;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        margin: 10px;
        position: relative;
        @include tablet {
            width: 43%;
        }
        @include mobile {
            width: 100%;
        }
    }
    .radio-custom label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 12px;
        font-weight: normal !important;
    }
    .radio-custom label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 10px;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
    }
    .radio-custom label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 13px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: $orange;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
    .radio-custom input[type="radio"] {
        opacity: 0;
        z-index: 1;
        left: -8px;
        top: -1px;
        position: absolute;
    }
    .radio-custom input[type="radio"]:focus + label::before {
        // outline: thin dotted;
        // outline: 5px auto -webkit-focus-ring-color;
        // outline-offset: -2px;
    }
    .radio-custom input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    .radio-custom input[type="radio"]:disabled + label {
        opacity: 0.65;
    }
    .radio-custom input[type="radio"]:disabled + label::before {
        cursor: not-allowed;
    }
    .submit-response {
        position: relative;
        font-family: "FSMe-Light";
        display: block;
        font-size: $line-height-computed;
        h1 {
            display: inline-block;
            margin-bottom: 25px;
            @include mobile {
                padding-right: 20px;
                margin-right: 20px;
            }
        }
        p {
            margin-bottom: 25px;
            margin-top: 0;
            position: static;
            display: block;
            width: 100%;
            color: $white;
            background-color: inherit;
            height: initial;
            text-align: left;
            border-radius: 0;
            padding: 0;
            &:after {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 0;
                width: 0;
                height: 0;
                border: 0;
            }
        }
        &::before {
            position: absolute;
            content: "\e914";
            visibility: visible;
            font-family: 'InformaIcons';
            color: $brand-secondary;
            @include desktop {
                font-size: 40px;
                top: 10%;
                left: -10%;
            }
            @include tablet {
                font-size: 25px;
                top: 18%;
                left: -5%;
            }
            @include mobile {
                font-size: 40px;
                top: 10%;
                right: -3%;
            }
        }
    }
}

.form-btn-container {
    width: 20%;
    margin: 10px auto;
}

.form-modal.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.form-modal.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.form-modal {
    .modal-dialog {
        width: 80%;
        margin: 0 auto;
        @include tablet {
            width: 85%;
        }
        @include mobile {
            width: 100%;
        }
    }
    .modal-content {
        border-radius: 0;
        background-color: $gray-light-bg;
        color: $white;
        //margin-top: 20%;
        @include tablet {
            //  margin-top: 20%;
        }
        @include mobile {
            //margin-top: 10%;
        }
    }
    .modal-header {
        border-bottom: 0;
        .close {
            color: $white;
            opacity: 2;
        }
        .form-modal-close-icon:after {
            content: "\e906";
            visibility: visible;
            font-family: 'InformaIcons';
            color: $white;
            font-size: 24px;
            margin-top: 15px;
            margin-left: -5px;
        }
    }
}

.form-submit-border {
    padding-top: 56px;
    position: relative;
    padding-bottom: 20px;
    .btn {
        background-color: #ef7c00 !important;
        border: 0 !important;
        color: $white !important;
        position: absolute !important;
        font-family: FSMe-bold !important;
        right: 0;
        bottom: 15px;
        @include not-mobile {
            width: 121px;
        }
        @include mobile {
            width: 100% !important;
        }
    }
    &::after {
        position: absolute;
        font-family: 'InformaIcons';
        content: "\e900";
        top: 27px;
        right: 6px;
        font-weight: bold;
    }
}
