.registration-form-single-section {
    .container {
        background: url("/Static/images/pattern.png") no-repeat right 103% $grey-color05;
        background-size: 24% !important;
        @include desktop{
            padding-top: 0;
            padding-bottom: 3%;
            width: 40%;
            margin: 0 auto;
        }
        @media only screen and (min-width: 1600px){
            width: 30%;
        }
        @include not-desktop {
          background: none !important;
          padding: 0;
        }
    }

    .single-step-form {
        @include mobile {
            padding-left: 15px;
            padding-right: 15px;
        }
        @include tablet {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    @include desktop{
        form.register-myinterests-form{
            padding-left: 0;
            padding-right: 0;
        }
        .page-header{
            padding-bottom: 0;
            h2{
                padding: 20px 0;
            }
        }
    }    
}

#formRegistration, #formRequestADemo, #formRequestACallback, #formHeaderGetInTouch, #formRequestATrial, #Intelligence, #Insight{
    .modal-body {
        background: url("/Static/images/pattern.png") no-repeat right 103% $grey-color05;
        background-size: 24% !important;
        //  padding: 5px 0 100px;
        margin-top: -10px;
        padding-top: 0;
        @include not-desktop {
           background: none !important;
           padding: 0;
        }

        .form-inline-container {
            margin-top: 0;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

form.single-step-form {
    .page-header {
        //padding: 20px 0;
        h2 {
            font-weight: 200 !important;
            @include desktop{
                font-size: 32px;
            }
        }
    }
    @include desktop {
        background-color: transparent;
    }
    margin: 0;

    h1 {
        padding: 0;
        color: $white;
    }

    h2 {
        padding: 0;
        color: $white;
    }

    label.control-label {
        font-weight: 200 !important;
        clear: both;
        display: block;
        margin-top: 10px;
    }

    .normal-checkbox label {
        // display: inline-block;
         max-width: 100%;
        // margin-bottom: 5px;
         font-weight: normal;
    }

    .preselected-checkbox label {
        // display: inline-block;
         max-width: 100%;
        // margin-bottom: 5px;
         font-weight: normal;
    }

    .about-you-details {
        legend {
            position: relative;
            margin-bottom: 0px;
            // &:first-child {
            //     @include mobile {
            //         margin-left: 40px;
            //     }
            //
            //     &:before {
            //         content: "\e91a";
            //         font-family: 'InformaIcons';
            //         position: absolute;
            //         left: -35px;
            //         top: 0;
            //         font-size: 30px;
            //         color: $grey-color08;
            //         @include mobile {
            //             top: 0;
            //             //left: 8px;
            //         }
            //         @include tablet {
            //             // left: -30px;
            //             // top: 20px;
            //         }
            //     }
            // }
        }

        .required-field:nth-child(1) {
            display: table-cell;
            width: 48%;
            float: left;
        }

        .required-field:nth-child(2) {
            display: table-cell;
            width: 48%;
            padding-left: 0px;
            float: right;
            @include mobile {
                display: block;
                padding-left: 0;
            }
        }
    }
    .terms-and-conditions{
      //margin-top: 0px;
      @include mobile {
        margin-top: 10px;
      }
      @include tablet {
        //margin-top: 0px;
      }
    }
}
