<nav id="pdp-anchor-nav" class="navbar-default pdp-anchor-newco-navigation">
      <div class="container">
            <div class="row">
                <div class="col-xs-12 nav-pdp-col">
                  <div class="nav-pdp-nondesktop">
                        <a href="#">Sections</a>
                  </div>
                  <div class="nav-pdp-nondesktop-sticky">
                  </div>
                  <div id="pdp-sections" class="col-xs-12 col-sm-12" >
                        <p id="pdp-sections-heading">
                        </p>
                        <ul class="nav navbar-nav">
                              <li>
                                    <a href="#" data-target="feature-list">
                                          <span>Analyst opinion</span>
                                    </a>
                              </li>
                              <li>
                                    <a href="#" data-target="market-focus">
                                          <span>Product details</span>
                                    </a>
                              </li>
                              <li>
                                    <a href="#" data-target="customer-quote-section">
                                          <span>Meet the team </span>
                                    </a>
                              </li>
                              <li>
                                    <a href="#" data-target="pdp-analyst">
                                          <span>Contact us</span>
                                    </a>
                              </li>
                        </ul>
                        <div class="nav-pdp-desktop-sticky">
                        </div>
                  </div>
                </div>
            </div>
      </div>
      <div class="menuFollower"></div>
</nav>
