.recommendation-tabs {
    background-color: $white;
    border-bottom: 1px solid #d1d3da;
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background: none !important;
        border: none !important;
        color: $grey-color03;
    }
    .nav-tabs > li > a,
    .nav-tabs > li > a:focus,
    .nav-tabs > li > a:hover {
        background: none !important;
        border: none !important;
        //color: $white;
    }
    .tab-content {
        background-color: $grey-color03;
        .tab-pane {
            padding: 10px;
        }
    }
    .chosen-container-single {
        &:after {
            position: absolute;
            font-family: "InformaIcons" !important;
            content: "\e901";
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            color: $grey-color06;
            font-size: 16px;
        }
    }
    .chosen-container-single .chosen-single div {
        display: none;
    }
    .nav-tabs {
        border-bottom: none;
    }
    ul.nav-tabs {
        list-style-type: none;
        padding: 0;
        li {
            float: left;
            width: 25%;
            position: relative;
            &.active {
                border-bottom: 5px solid $grey-color03;
                &:last-child {}
            }
            a {
                display: block;
                padding: 20px 0;
                color: $grey-color05;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                span {
                    font-size: 14px;
                    font-weight: normal;
                    &:before {
                        vertical-align: top;
                        font-size: 20px;
                        padding-right:10px;
                    }
                }
            }
            &:after {
                content: '';
                width: 2px;
                height: 30px;
                background-color: #e5e7ef;
                position: absolute;
                top: 15px;
                right: 0;
            }
            &:first-child {
                a {
                    &:before {
                        content: '';
                        width: 2px;
                        height: 30px;
                        background-color: #e5e7ef;
                        position: absolute;
                        top: 15px;
                        left: 0;
                    }
                }
            }
        }
    }
    .chosen-select {
        border: none;
        width: 100%;
        padding: 15px;
        height: auto;
    }
    .mobile-tabs {
        padding: 15px;
        background-color: $grey-color03;
        position: relative;
        .title {
            padding-bottom: 10px;
            font-size: 16px;
            color: $grey-color08;
        }
    }
}

.recommended-results {
    .tab-content {
        width: 100%;
    }
    h2{
        color:$grey-color03;
        font-size: 30px;
        font-weight: 200;
        span{
            font-weight: normal;
        }
    }
}
.recomended-content{
    h2{
        font-weight: bold;
        span{
            font-weight: 200;
        }
    }
    h3 {
        margin-top: -20px;
        margin-bottom: 20px;
        font-size: 26px;
        @include mobile {
            font-size: 22px;
        }
    }
    .intro-text{
        margin-bottom: 20px;
        @include desktop{
            margin-top: -30px;
        }
        @include not-desktop{
            margin-top: -20px;
        }
    }
}
