    .gray-bg{
      background: #f0f1f3;
      padding-top: 50px;
      padding-bottom: 26px;
      padding-left: 149px;
      font-size: 40px;
      font-family: FSMe-bold;
      @include mobile {
          font-size: 30px;
          padding-left: 8px;
          padding-right: 8px;
        }
        @include tablet {
          padding-left: 8px;
          padding-right: 8px;
        }

      .small-content{
          padding-left: 170px;
          font-size: 15px;
          font-style: italic;
          font-family: FSMe-light;
          strong{
            font-family: FSMe-bold;
          }
          @include tablet {
            display: block;
            padding-left: 0px;
            margin-top: 20px;
          }
          @include mobile {
            display: block;
            padding-left: 0px;
            margin-top: 20px;
          }
      }
    }
    .content-container{
      background-color: $white;
      //width: 100%;
      padding-left: 273px;
      padding-right: 235px;
      @include mobile {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include tablet {
        width: 100%;
        margin: 0 auto;
        padding-left: 8px;
        padding-right: 8px;
      }
      h3{
        font-size: 18px;
        font-family: FSMe-bold;
        margin-bottom: 43px;
        padding-top: 65px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 43px;
        @include mobile {
          padding-top: 42px;
          font-size: 14px;
        }
      }
      p{
        width: 100%;
        margin: 0 auto;
        line-height: 25px;
        @include mobile {
          font-size: 12px;
          line-height: 22px;
        }
      }
    }

section.articlepage-freearticle {
  background-color: $white;
  
  .container{
    width: 65%;
    p {
      line-height: 1.7;
    }
    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }
    img{
      width: 100%;
    }
    .adjust-image{
      width: 100% !important;
      height: 100% !important;
    }
    .mini-video{
      float: right;
      width: 50%;
    }

  }

}