    .gray-bg{
      background: #f0f1f3;
      padding-top: 50px;
      padding-bottom: 26px;
      padding-left: 104px;
      font-size: 40px;
      font-weight: bold;
      @include mobile {
          font-size: 30px;
          padding-left: 8px;
          padding-right: 8px;
        }
        @include tablet {
          padding-left: 8px;
          padding-right: 8px;
        }
       .description {
          font-size: 15px;
          font-weight: 200;
       }
      .small-content{
          padding-left: 170px;
          font-size: 15px;
          font-style: italic;
          font-weight: 200;
          strong{
            font-weight: bold;
          }
          @include tablet {
            display: block;
            padding-left: 0px;
            margin-top: 20px;
          }
          @include mobile {
            display: block;
            padding-left: 0px;
            margin-top: 20px;
          }
      }
    }
    .content-container{
      background-color: $white;
      //width: 100%;
      padding-left: 273px;
      padding-right: 235px;
      @include mobile {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include tablet {
        width: 100%;
        margin: 0 auto;
        padding-left: 8px;
        padding-right: 8px;
      }
      h3{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 43px;
        padding-top: 65px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 43px;
        @include mobile {
          padding-top: 42px;
          font-size: 14px;
        }
      }
      p{
        width: 100%;
        margin: 0 auto;
        line-height: 25px;
        @include mobile {
          font-size: 12px;
          line-height: 22px;
        }
      }
    }

section.articlepage-freearticle {
  background-color: $white;
  .container{
    width: 760px;
    p {
      line-height: 1.7;
      //margin: 0;
    }
    h3{
      padding: 30px 0;
    }
    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }
    img{
      width: 100%;
    }
    .adjust-image{
       width: 100% !important;
       height: 100% !important;
    }
    .mini-video{
      float: right;
    }


  }

}

.video-full-container {
        //max-height: 750px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        margin-bottom: 25px;
        img {
            width: 100%;
            max-width: 100%;
            float: none;
            display: block;
        }
        .video-img {
            height: auto;
        }
        .play-icon {
            position: absolute;
            width: 90px;
            height: 90px;
            background: url("/Static/images/video-icon.png") no-repeat;
            top: 50%;
            left: 50%;
            margin-top: -27px;
            margin-left: -27px;
            @include tablet {
                width: 80px;
                height: 80px;
            }
            @include mobile {
                width: 55px;
                height: 55px;
            }
        }
    }
