<section id="analyst-profile-events-section">
    <div class="analyst-profile-events carousel-lists" id="ap-events">
        <div class="container">
        			<h2>Events</h2>
        		<div class="row">
                    <ul class="event-items" data-slider-dots="true" data-slider-infinite="true" data-slides-show="3" data-slides-scroll="3" data-speed="400" 
                    data-autoplay-speed="4000" data-autoplay="false">
                    	<li class="col-xs-12 col-sm-6 col-md-4">
                    		<div class="event-container">
                    			<div class="content">
	                    			<div class="info">
		                    			<p class="tag">Webnair</p>
		                    			<span class="date"><span class="icon icon-calendar-day">
		                    			</span>April 18, 2016</span>
		                    			<span class="time"><span class="icon icon-calendar-day">
		                    			</span>Time:11:00 EDT</span>
		                    			<h3>Free Webinar - North America's Commodity Constraints</h3>
		                    			<p><strong>Presenters: </strong>Tore Alden, Eric Jessup, Alan Barrett, Chris Ferris and Wes Petkau</p>
	                    			</div>
	                    			<div class="parent">
						                <div class="child clearfix">
						                	<a class="link">Details</a>
	                    					<a class="btn btn-default">Register</a>
						                </div>
									</div>
								</div>
                    		</div>
                    	</li>
                    	<li class="col-xs-12 col-sm-6 col-md-4">
                    		<div class="event-container">
                    			<div class="content">
	                    			<div class="info">
		                    			<p class="tag">Webnair</p>
		                    			<span class="date"><span class="icon icon-calendar-day">
		                    			</span>April 18, 2016</span>
		                    			<span class="time"><span class="icon icon-calendar-day">
		                    			</span>Time:11:00 EDT</span>
		                    			<h3>Free Webinar - North America's Commodity Constraints</h3>
		                    			<p><strong>Presenters: </strong>Tore Alden, Eric Jessup, Alan Barrett, Chris Ferris and Wes Petkau</p>
	                    			</div>
	                    			<div class="parent">
						                <div class="child clearfix">
						                	<a class="link">Details</a>
	                    					<a class="btn btn-default">Register</a>
						                </div>
									</div>
								</div>
                    		</div>
                    	</li>
                    	<li class="col-xs-12 col-sm-6 col-md-4">
                    		<div class="event-container">
                    			<div class="content">
	                    			<div class="info">
		                    			<p class="tag">Webnair</p>
		                    			<span class="date"><span class="icon icon-calendar-day">
		                    			</span>April 18, 2016</span>
		                    			<span class="time"><span class="icon icon-calendar-day">
		                    			</span>Time:11:00 EDT</span>
		                    			<h3>Free Webinar - North America's Commodity Constraints</h3>
		                    			<p><strong>Presenters: </strong>Tore Alden, Eric Jessup, Alan Barrett, Chris Ferris and Wes Petkau</p>
	                    			</div>
	                    			<div class="parent">
						                <div class="child clearfix">
						                	<a class="link">Details</a>
	                    					<a class="btn btn-default">Register</a>
						                </div>
									</div>
								</div>
                    		</div>
                    	</li>
                    	<li class="col-xs-12 col-sm-6 col-md-4">
                    		<div class="event-container">
                    			<div class="content">
	                    			<div class="info">
		                    			<p class="tag">Webnair</p>
		                    			<span class="date"><span class="icon icon-calendar-day">
		                    			</span>April 18, 2016</span>
		                    			<span class="time"><span class="icon icon-calendar-day">
		                    			</span>Time:11:00 EDT</span>
		                    			<h3>Free Webinar - North America's Commodity Constraints</h3>
		                    			<p><strong>Presenters: </strong>Tore Alden, Eric Jessup, Alan Barrett, Chris Ferris and Wes Petkau</p>
	                    			</div>
	                    			<div class="parent">
						                <div class="child clearfix">
						                	<a class="link">Details</a>
	                    					<a class="btn btn-default">Register</a>
						                </div>
									</div>
								</div>
                    		</div>
                    	</li>
                    </ul>
                </div>
        </div>
    </div>
</section>
