.contactus-list {
    @include not-mobile {
        padding-top: 25px;
        .panel-heading {
            pointer-events: none;
            h2 {
                color: $text-gray-dark;
                margin: 0;
                position: relative;
                padding-left: 40px;
                img {
                  margin-top: -6px;
                  margin-right: 10px;
                  position: absolute;
                  left: 0;
                  top: 2px;
                }
            }
        }
        .panel-group {
            margin: -1.25%;
            &:after {
                content: " ";
                clear: both;
                height: 0;
            }
        }
        .panel-group .panel {
            overflow: hidden;
            float: left;
            width: 22.5%;
            height: 330px;
            //  margin-bottom: 20px;
            font-size: 14px;
            margin: 0 1.25% 20px 1.25%;
        }
        .panel-group .panel-heading + .panel-collapse > .panel-body {
            border: none;
        }
        .accordion-toggle.collapsed:after,
        .accordion-toggle:after {
            display: none;
        }
    }
    .white-color {
        color: $white;
    }
    .contactus-header {
      padding-bottom: 20px;
    }
    .contactus-sub-header {
        padding-bottom: 20px;
    }
    .contactus-header-desc {
      padding-bottom: 20px;
    }
    .contactus-header-normal{
      font-family: "Fsme";
    }
    .accordion-toggle {
        position: relative;
    }
    .accordion-toggle:after {
        font-family: 'Glyphicons Halflings';
        content: "\e082";
        float: right;
        position: absolute;
        font-size: 35px;
        right: 30px;
        top: 10px;
        color: $white;
    }
    .accordion-toggle.collapsed:after {
        content: "\e081";
        right: 30px;
          top: 10px;
        font-size: 35px;
    }
    .panel {
        //  min-height: 250px;
        position: relative;
        .panel-heading {
            padding: 25px;
            background-color: $blue-lighter-bg;
            @include mobile {
                padding: 20px 20px 10px 20px;
            }
        }
        .panel-body {
            padding: 20px;
            .phone-number {
                padding-top: 20px;
                a {
                    font-size: 28px;
                    text-decoration: none;
                }
                @include mobile {
                    padding-top: 0;
                }
            }
            .content-wrapper-number {
                font-size: 18px;
                @include mobile {
                    display: none;
                }
            }
            .content-wrapper-cta {
                min-height: 120px;
                @include mobile {
                    min-height: auto;
                    margin-bottom: 15px;
                }
            }
            .subscribe-link {
                  width: 100%;
                  background: $orange url(/Static/images/subscribe/subscribe.png) no-repeat 5% 50%;
                  border: none;
                  padding-left: 45px;
            }
            .pay-with {
                  padding: 10px 0;
                  font-size: 12px;
                  .copy {
                        vertical-align: top;
                        padding-top: 10px;
                        display: inline-block;
                  }
                  span.payment{
                        padding-right: 10px;
                        height: 34px;
                        width: 34px;
                        display: inline-block;

                        &.amex {
                              background:url(/Static/images/subscribe/amex.png);
                        }
                        &.visa {
                              background:url(/Static/images/subscribe/visa.png);
                        }
                        &.mastercard {
                              background:url(/Static/images/subscribe/mastercard.png);

                        }
                  }
            }
            .btn-container {
                width: 100%;
                padding: 20px;
                position: absolute;
                bottom: 0;
                left: 0;
                select.subscribe-options {
                      width: 100%;
                      font-size: 13px;
                      font-family: FSMe-Light;
                      padding: 12px;
                      border: none;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      -o-appearance: none;
                      background:$blue-lighter-bg url(/Static/images/subscribe/drop-down.png) no-repeat 95% 50%;
                }
                @include mobile {
                    position: relative;
                    padding-top: 15px;
                }
            }
        }
        .icon {
            padding-right: 8px;
        }
    }
}

#contactus-section {
    a {
        color: $orange;
        &.btn {
            color: $light;
        }
    }
    &.three {
        .contactus-list .panel-group .panel {
            width: 30.5%;
        }
    }
    &.four {
        .contactus-list .panel-group .panel {
            width: 22.5%;
        }
    }
    @include mobile {
          &.three, &.four {
             .contactus-list .panel-group .panel {
                 width: 100%
             }
         }
   }
}
