.contactus-list {
    .panel-heading {
        img {
            @include mobile {
              max-width: 30px;
              max-height: 30px;
              margin-right: 15px;
              float:left;
            }
        }
        h4 {
            @include mobile {
              margin: 0;
              width:80%;
              word-wrap:break-word;
            }
        }
    }
      .panel-group {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        @include mobile {
            padding-bottom:30px;
            margin-bottom:0;
        }
      }
    @include not-mobile {
        .panel-heading {
            pointer-events: none;
            h4 {
                color: $grey-color03;
                margin: 0;
                @include tablet {
                    font-size: 22px;
                    width:80%;
                    word-wrap:break-word;
                }
                img {
                  max-width: 30px;
                  max-height: 30px;
                  margin-right: 15px;
                  float: left;
                }
            }
        }
        .panel-group {
            margin:0 -1.25%;
            padding-bottom:29px;
            &:after {
                content: " ";
                clear: both;
                height: 0;
            }
            @include tablet {
                padding-bottom:19px;
            }
        }
        .panel-group .panel {
            overflow: hidden;
            float: left;
            width: 22.5%;
            background-color:$grey-color11;
            //height: 370px;
            //  margin-bottom: 20px;
            font-size: 14px;
            margin: 0 0 21px 1.8%;
            @include tablet {
                width: 30.5%;
            }
        }
        .panel-group .panel-heading + .panel-collapse > .panel-body {
            border: none;
        }
        .accordion-toggle.collapsed:after,
        .accordion-toggle:after {
            display: none;
        }
    }
    .white-color {
        color: $white;
    }
    .contactus-header {
        //padding-bottom: 30px;
    }
    .contactus-sub-header {
        padding-bottom: 30px;
        margin-top: -5px;
    }
    .contactus-header-desc {
        margin:0;
        padding-bottom: 30px;
    }
    .accordion-toggle {
        position: relative;
    }
    .accordion-toggle:after {
        font-family: 'InformaIcons' !important;
        content: "\e913";
        float: right;
        position: absolute;
        font-size: 35px;
        right: 15px;
        top: 50%;
        color: #fff;
        transform: translateY(-50%);
    }
    .accordion-toggle.collapsed:after {
        content: "\e912";
        right: 15px;
        font-size: 35px;
        color: $default-dots-color;
    }
    .panel {
        //  min-height: 250px;
        position: relative;
        .panel-heading {
            padding: 25px 20px;
            background-color: $grey-color09;
            color: $grey-color05;
            display: block;
            @include tablet {
                padding:25px 15px;
            }
            @include mobile {
                padding:25px 15px;
            }
        }
        .panel-body {
            padding:25px 20px;
            .phone-number: nth-of-type(1) {
                padding-top: 0px !important;
            }
            p{
                word-break: break-word;
            }
            .phone-number {
                padding-top: 13px;
                font-size: 32px;
                p {
                    font-size: 17px;
                    margin-bottom: 0px !important;
                    // strong{
                    //   font-size: 16px;
                    // }
                }
                a {
                    font-size: 20px;
                    text-decoration: none;
                    @include tablet {
                        font-size: 26px;
                    }
                }
                @include mobile {
                    padding-top: 0;
                }
            }
            a {
                font-size: 14px;
                text-decoration: none;
            }
            .content-wrapper-number {
                font-size: 18px;
                //min-height: 149px;
                @include mobile {
                    display: none;
                }
            }
            .content-wrapper-cta {
                min-height: 90px;
                margin-bottom: 100px;
                @include mobile {
                    min-height: auto;
                    margin-bottom: 15px;
                }
            }
            .subscribe-link {
                width: 100%;
                background: $orange url(/Static/images/subscribe/subscribe.png) no-repeat 8px 50%;
                border: none;
                padding-left: 50px;
                min-width: 222px;
                @include tablet{
                    min-width: auto;
                }&:hover{
                  border: none;
                }

            }
            .pay-with {
                padding: 15px 0;
                font-size: 12px;
                display: table;
                .copy {
                    display: table-cell;
                    vertical-align: middle;
                    width:50px;
                }
                span.payment {
                    padding-right: 10px;
                    height: 34px;
                    width: 47px;
                    display: table-cell;
                    vertical-align: middle;
                    &.amex {
                        background: url(/Static/images/subscribe/amex.svg) no-repeat -25px center;
                        background-size:auto 100%;
                    }
                    &.visa {
                        background: url(/Static/images/subscribe/visa.svg) no-repeat center;
                    }
                    &.mastercard {
                        background: url(/Static/images/subscribe/MasterCard.svg) no-repeat center;
                        background-size:155% 100%;
                    }
                }
                @include mobile {
                    padding: 10px 0;
                }
            }
            .btn-container {
                select.subscribe-options {
                    width: 100%;
                    font-size: 13px;
                    font-weight: 200;
                    padding: 12px;
                    border: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    background: $grey-color09 url(/Static/images/subscribe/drop-down.png) no-repeat 95% 50%;
                }
                &:last-child {
                    width: 100%;
                    padding:15px 20px 25px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include tablet {
                      padding:15px 15px 20px;
                    }
                    @include mobile {
                        position: static;
                        padding: 20px 0;
                    }
                }
                @include mobile {
                    position: relative;
                    padding: 0px;
                }
            }
            @include tablet {
                  padding: 20px 15px;
            }
            @include mobile {
                padding: 20px 15px;
            }
        }
        .icon {
            padding-right: 8px;
        }
    }
    .clear-fix{
      clear: both;
    }
}
#contactus-section {
    .contactus-list .panel-group .panel {
        &:before {
            @include desktop {
                content: '';
                width: 100%;
                position: absolute;
                height: 80px;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
    }
    a {
        color: $orange;
        &.btn {
            color: $light;
        }
    }
    &.three {
        .contactus-list .panel-group .panel {
            width: 31%;
        }
    }
    &.four {
        .contactus-list .panel-group .panel {
            width: 22.5%;
            @include tablet {
                width: 30.5%;
            }
        }
    }
    @include mobile {
        &.three, &.four {
            .contactus-list .panel-group .panel {
                width: 100%
            }
        }
    }
}
