<section id="agri-report" class="bg-lighter-blue">
    <div class="container agri-report-wrapper">
        <div class="row description">
            <div class=" col-xs-12 col-sm-6 col-md-6">
                <p><strong>Global agriculturre and trade policy</strong></p>
                <p>Seed and crop protection </p>
                <p>Fertiliser and soil nutrition </p>
                <p>Rains and oilseeds </p>
                <p>Sugar and ethanol </p>
                <p>Processed fruit and vegetables </p>
                <p>Meat and livestock </p>
                <p>Animal health </p>
                <p>Agricultural land</p>
            </div>
        </div>
        <div class="splash-image">
            <img src="cms-images/agri-report.png">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <a class="btn semi-trans orange-bd download-report" href="#">Download Report</a>
            </div>
        </div>
    </div>
</section>
