<section id="agri-report" class="bg-lighter-blue" data-url="https://www.google.co.in">
    <div class="container agri-report-wrapper">
        <div class="row description">
          <div class="col-xs-12"><h2>Get annual report</h2></div>
            <div class=" col-xs-12 col-sm-6 col-md-6">
                <h5>Global agriculturre and trade policy</h5>
                <h5>Seed and crop protection </h5>
                <h5>Fertiliser and soil nutrition </h5>
                <h5>Rains and oilseeds </h5>
                <h5>Sugar and ethanol </h5>
                <h5>Processed fruit and vegetables </h5>
                <h5>Meat and livestock </h5>
                <h5>Animal health </h5>
                <h5>Agricultural land</h5>
            </div>
        </div>
        <div class="splash-image">
            <img src="cms-images/agri-report.png">
        </div>
        <div class="row">
            <div class="col-xs-12 download-report">
                <a class="btn semi-trans orange-bd btn-primary" href="#">Download Report</a>
                <a class="btn btn-default semi-trans orange-bd" href="#">Report</a>
            </div>
        </div>
    </div>
</section>
