<section id="agri-report" class="bg-lighter-blue" data-url="https://www.google.co.in">
    <div class="container agri-report-wrapper">
        <div class="row description">
          <div class="col-xs-12"><h2>Get annual report</h2></div>
            <div class=" col-xs-12 col-sm-6 col-md-6 agri-report-rte-container">
                <p>Global agriculturre and trade policy</p>
                <p>Seed and crop protection </p>
                <p>Fertiliser and soil nutrition </p>
                <p>Rains and oilseeds </p>
                <p>Sugar and ethanol </p>
                <p>Processed fruit and vegetables </p>
                <p>Meat and livestock </p>
                <p>Animal health </p>
                <p>Agricultural land</p>
            </div>
        </div>
        <div class="splash-image">
            <img src="cms-images/agri-report.png">
        </div>
        <div class="row">
            <div class="col-xs-12 download-report">
                <a class="btn semi-trans orange-bd btn-primary" href="#" target="_blank">Download Report</a>
                <a class="btn btn-default semi-trans orange-bd" href="#" target="_blank">Report</a>
            </div>
        </div>
    </div>
</section>
