.support-page-tabs{
.tab-content {
  background-color: $white;
  padding : 5px 15px;
  border-top: 1px solid #aaa;
  @include mobile {
      margin-left: -10px;
  }
}
.nav-tabs{
  border-bottom: none;
}
  margin-top: 20px;

    ul{
      font-weight: bold;
    }
    @include mobile {
        margin-left: -10px;
    }
    li:hover{
      background-color: #e7e7e7;
    }

  .tabs-box{
    width: 160px;
    margin-right: 10px;
    @include mobile {
      width: auto;
      margin-left: 0px;
    }
      a{
        color: $black;
        border-radius: 0px;
        border: 1px solid rgba(204, 204, 204,0.3);
        border-bottom: 1px solid #aaa;
        background-color: #e7e7e7;
        padding: 13px 14px;
        @include mobile {
          margin-right: 0px;
          padding: 17px 14px;
        }
      }
      li.active a{
        border: 1px solid #aaa;
        border-bottom: none;
        color: $black;
      }


  }
}
