 <!-- start discover our community -->
<div class="discover-community" style="background:#fff;">
    <div class="container-fluid">
        <div>
            <div class="col-md-12 text-left nopadding">
                <div class="row">
                    <div class="sub-text-n-img imgleft">
                        <img class="img-right" src="cms-images/community-segment/leftdotted.png">
                        <h2 class="sub-headline right-dotted-line">discover our community</h2>

                    </div>
                    <p class="subofsub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, lorem vel tincidunt imperdiet, nibh elit laoreet felis, a bibendum nisl tortor non orci. Donec pretium fermentum felis, quis aliquet est rutrum ut. Integer quis massa ut lacus viverra pharetra in eu lacus. Aliquam tempus odio adipiscing diam pellentesque rhoncus. Curabitur a bibendum est. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-dropdown-5" id="divsegment">
        <div class="content-head">Criticals Communications</div>
        <ul class="dropdown">
            <li data-target="#myCarousel" data-slide-to="0" class="dropgroup-item current" data-segmentid="cbde2c41-b156-4c01-9024-a7ee628adc22">Criticals Communications</li>
            <li data-target="#myCarousel" data-slide-to="1" class="dropgroup-item current" data-segmentid="c59d650b-b82a-4a53-a01b-076451621ad8">Emerging Technologies</li>
            <li data-target="#myCarousel" data-slide-to="2" class="dropgroup-item current" data-segmentid="ec2d52a2-fd12-45aa-857b-e23c35413257">Enterprise IT</li>
            <li data-target="#myCarousel" data-slide-to="3" class="dropgroup-item current" data-segmentid="00382666-637b-440a-b476-9d8f52229c78">Marketing Technologies</li>
            <li data-target="#myCarousel" data-slide-to="4" class="dropgroup-item current" data-segmentid="4e4c0279-def3-4d64-b4f6-a33e6af9136f">Media and Entertainment</li>
            <li data-target="#myCarousel" data-slide-to="5" class="dropgroup-item current" data-segmentid="e2abd73e-8572-4d9c-9a8a-b986d1034cd4">Security</li>
            <li data-target="#myCarousel" data-slide-to="6" class="dropgroup-item current" data-segmentid="afc81e18-2591-465d-9d61-b6ea3a636cca">Service Provider</li>
        </ul>

    </div>
    <div class="container-fluid">
        <div id="myCarousel" class="carousel slide">
            <div class="col-sm-5 nopadding main-listgroup">
                <div class="Wrapper-silde">
                    <ul class="listgroup ">

                        <li data-target="#myCarousel" data-slide-to="0" class="listgroup-item" data-segmentid="cbde2c41-b156-4c01-9024-a7ee628adc22">
                            <h4>
                                Criticals Communications
                            </h4>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="1" class="listgroup-item" data-segmentid="c59d650b-b82a-4a53-a01b-076451621ad8">
                            <h4>
                                Emerging Technologies
                            </h4>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="2" class="listgroup-item" data-segmentid="ec2d52a2-fd12-45aa-857b-e23c35413257">
                            <h4>
                                Enterprise IT
                            </h4>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="3" class="listgroup-item" data-segmentid="00382666-637b-440a-b476-9d8f52229c78">
                            <h4>
                                Marketing Technologies
                            </h4>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="4" class="listgroup-item current" data-segmentid="4e4c0279-def3-4d64-b4f6-a33e6af9136f">
                            <h4>
                                Media and Entertainment
                            </h4>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="5" class="listgroup-item" data-segmentid="e2abd73e-8572-4d9c-9a8a-b986d1034cd4">
                            <h4>
                                Security
                            </h4>
                        </li>
                        <li data-target="#myCarousel" data-slide-to="6" class="listgroup-item" data-segmentid="afc81e18-2591-465d-9d61-b6ea3a636cca">
                            <h4>
                                Service Provider
                            </h4>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner col-sm-7">

                <div class="item current" data-slide-to="0">

                    <div class="dc-box">
                        <h2>
                            Critical communication

                        </h2>
                        <div class="gradient-box">

                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                            <div class="brand-log">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                    </div>
                                </div>
                            </div>

                            <a class="btn btnprimary border-button">
                                See all our brands
                            </a>

                        </div>
                    </div>


                </div><!-- End Item -->

                <div class="item" data-slide-to="1">
                    <div class="dc-box">
                        <h2>
                            Technologies


                        </h2>
                        <div class="gradient-box">

                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                            <div class="brand-log">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                    </div>
                                </div>
                            </div>
                            <a class="btn btnprimary border-button">
                                See all our brands
                            </a>
                        </div>
                    </div>


                </div><!-- End Item -->

                <div class="item" data-slide-to="2">
                    <div class="dc-box">
                        <h2>
                            Enterprise IT
                        </h2>
                        <div class="gradient-box">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, lorem vel tincidunt imperdiet, nibh elit laoreet felis, a bibendum nisl tortor non orci. Donec pretium fermentum felis, quis aliquet est rutrum ut. Integer quis massa ut lacus viverra pharetra in eu lacus. Aliquam tempus odio adipiscing diam pellentesque rhoncus. Curabitur a bibendum est. </p>
                            <div class="brand-log">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                    </div>
                                </div>
                            </div>
                            <a class="btn btnprimary border-button">
                                See all our brands
                            </a>
                        </div>
                    </div>

                </div><!-- End Item -->

                <div class="item" data-slide-to="3">
                    <div class="dc-box">
                        <h2>
                            Marking Technologies

                        </h2>
                        <div class="gradient-box">

                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                            <div class="brand-log">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                    </div>
                                </div>
                            </div>
                            <a class="btn btnprimary border-button">
                                See all our brands
                            </a>
                        </div>
                    </div>

                </div><!-- End Item -->
                <div class="item" data-slide-to="4">
                    <div class="dc-box">
                        <h2>
                            Media & Entertainments
                        </h2>
                        <div class="gradient-box">

                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                            <div class="brand-log">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                    </div>
                                </div>
                            </div>
                            <a class="btn btnprimary border-button">
                                See all our brands
                            </a>
                        </div>
                    </div>

                </div><!-- End Item -->
                <div class="item" data-slide-to="5">
                    <div class="dc-box">
                        <h2>
                            Security
                        </h2>
                        <div class="gradient-box">

                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                            <div class="brand-log">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                    </div>
                                </div>
                            </div>
                            <a class="btn btnprimary border-button">
                                See all our brands
                            </a>
                        </div>
                    </div>

                </div>
                <div class="item" data-slide-to="6">
                    <div class="dc-box">
                        <h2>
                            Service Provide
                        </h2>
                        <div class="gradient-box">

                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                            <div class="brand-log">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                    </div>
                                    <div class="col-sm-6">

                                        <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                    </div>
                                </div>
                            </div>
                            <a class="btn btnprimary border-button">
                                See all our brands
                            </a>
                        </div>
                    </div>

                </div><!-- End Item -->

            </div><!-- End Carousel Inner -->
            <!-- Controls -->
            <div class="carousel-controls">
                <a class="left carousel-control" href="#myCarousel">
                    <span class="fa fa-arrow-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel">
                    <span class="fa fa-arrow-right"></span>
                </a>
            </div>

        </div><!-- End Carousel -->
    </div>
</div>



<!-- end discover our community -->