 <!-- start discover our community -->
<div class="discover-community" style="background:#fff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-left nopadding">
                <div class="sub-text-n-img imgleft">
                    <img class="img-right" src="cms-images/community-segment/leftdotted.png">
                    <h2 class="sub-headline right-dotted-line">discover our community</h2>

                </div>
                <p class="subofsub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, lorem vel tincidunt imperdiet, nibh elit laoreet felis, a bibendum nisl tortor non orci. Donec pretium fermentum felis, quis aliquet est rutrum ut. Integer quis massa ut lacus viverra pharetra in eu lacus. Aliquam tempus odio adipiscing diam pellentesque rhoncus. Curabitur a bibendum est. </p>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="myCarousel" class="carousel slide">
          <div class="col-sm-5 nopadding main-listgroup" >
            <div class="Wrapper-silde">
              <ul class="listgroup ">
                  <li data-target="#myCarousel" data-slide-to="0" class="listgroup-item current"><h4>Critical communication  <span class="shortdescription"> Lorem ipsum dolor sit amet</span></h4></li>
                  <li data-target="#myCarousel" data-slide-to="1" class="listgroup-item"><h4>Emerging Technologies <span class="shortdescription"> Lorem ipsum dolor sit amet</span></h4></li>
                  <li data-target="#myCarousel" data-slide-to="2" class="listgroup-item"><h4>Enterprise IT <span class="shortdescription"> Lorem ipsum dolor sit amet</span></h4></li>
                  <li data-target="#myCarousel" data-slide-to="3" class="listgroup-item"><h4>Marking Technologies <span class="shortdescription"> Lorem ipsum dolor sit amet</span></h4></li>
                  <li data-target="#myCarousel" data-slide-to="4" class="listgroup-item"><h4>Media & Entertainments <span class="shortdescription"> Lorem ipsum dolor sit amet</span></h4></li>
                  <li data-target="#myCarousel" data-slide-to="5" class="listgroup-item"><h4>Security<span class="shortdescription"> Lorem ipsum dolor sit amet</span></h4></li>
                  <li data-target="#myCarousel" data-slide-to="6" class="listgroup-item"><h4>Service Provide <span class="shortdescription"> Lorem ipsum dolor sit amet</span></h4></li>
              </ul>
            </div>
          </div>
          <!-- Wrapper for slides -->
          <div class="carousel-inner col-sm-7">
          
            <div class="item current" data-slide-to="0">

              <div class="dc-box">
                <h2>
                    Critical communication
                   
                </h2>
                  <div class="gradient-box">
  
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                      <div class="brand-log">
                          <div class="row">
                              <div class="col-sm-6">
                                <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                              </div>
                              <div class="col-sm-6">

                                  <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                              </div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                  <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                </div>
                                <div class="col-sm-6">
  
                                    <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                </div> 
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                    <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                  </div>
                                  <div class="col-sm-6">
    
                                      <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                  </div> 
                                </div>
                      </div>

                      <a class="btn btnprimary border-button">
                        See all our brands
                      </a>
                      
                      </div>
              </div>
                
             
            </div><!-- End Item -->
     
             <div class="item" data-slide-to="1">
                <div class="dc-box">
                    <h2>
                        Technologies

                       
                    </h2>
                      <div class="gradient-box">
      
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                          <div class="brand-log">
                              <div class="row">
                                  <div class="col-sm-6">
                                    <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                  </div>
                                  <div class="col-sm-6">
    
                                      <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                  </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                      <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">
      
                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div> 
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                      </div>
                                      <div class="col-sm-6">
        
                                          <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                      </div> 
                                    </div>
                          </div>
                          <a class="btn btnprimary border-button">
                            See all our brands
                          </a>
                          </div>
                  </div>
               
              
            </div><!-- End Item -->
            
            <div class="item" data-slide-to="2">
                <div class="dc-box">
                    <h2>
                        Enterprise IT
                    </h2>
                      <div class="gradient-box">
      
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, lorem vel tincidunt imperdiet, nibh elit laoreet felis, a bibendum nisl tortor non orci. Donec pretium fermentum felis, quis aliquet est rutrum ut. Integer quis massa ut lacus viverra pharetra in eu lacus. Aliquam tempus odio adipiscing diam pellentesque rhoncus. Curabitur a bibendum est. </p>
                          <div class="brand-log">
                              <div class="row">
                                  <div class="col-sm-6">
                                    <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                  </div>
                                  <div class="col-sm-6">
    
                                      <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                  </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                      <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">
      
                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div> 
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                      </div>
                                      <div class="col-sm-6">
        
                                          <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                      </div> 
                                    </div>
                          </div>
                          <a class="btn btnprimary border-button">
                            See all our brands
                          </a>
                          </div>
                  </div>
                
            </div><!-- End Item -->
            
            <div class="item" data-slide-to="3">
                <div class="dc-box">
                    <h2>
                    Marking Technologies
                   
                    </h2>
                      <div class="gradient-box">
      
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                          <div class="brand-log">
                              <div class="row">
                                  <div class="col-sm-6">
                                    <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                  </div>
                                  <div class="col-sm-6">
    
                                      <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                  </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                      <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">
      
                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div> 
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                      </div>
                                      <div class="col-sm-6">
        
                                          <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                      </div> 
                                    </div>
                          </div>
                          <a class="btn btnprimary border-button">
                            See all our brands
                          </a>
                          </div>
                  </div>
                
            </div><!-- End Item -->
            <div class="item" data-slide-to="4">
                <div class="dc-box">
                    <h2>
                        Media & Entertainments
                    </h2>
                      <div class="gradient-box">
      
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                          <div class="brand-log">
                              <div class="row">
                                  <div class="col-sm-6">
                                    <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                  </div>
                                  <div class="col-sm-6">
    
                                      <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                  </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                      <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">
      
                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div> 
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                      </div>
                                      <div class="col-sm-6">
        
                                          <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                      </div> 
                                    </div>
                          </div>
                          <a class="btn btnprimary border-button">
                            See all our brands
                          </a>
                          </div>
                  </div>
               
            </div><!-- End Item -->
            <div class="item" data-slide-to="5">
                <div class="dc-box">
                    <h2>
                        Security
                    </h2>
                      <div class="gradient-box">
      
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                          <div class="brand-log">
                              <div class="row">
                                  <div class="col-sm-6">
                                    <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                  </div>
                                  <div class="col-sm-6">
    
                                      <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                  </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                      <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">
      
                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div> 
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                      </div>
                                      <div class="col-sm-6">
        
                                          <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                      </div> 
                                    </div>
                          </div>
                          <a class="btn btnprimary border-button">
                            See all our brands
                          </a>
                          </div>
                  </div>
               
            </div>
            <div class="item" data-slide-to="6">
                <div class="dc-box">
                    <h2>
                        Service Provide
                    </h2>
                      <div class="gradient-box">
      
                          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus faucibus elit, cursus ultricies felis gravida ut. Integer odio eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesque habitant morbi tristique o eros, porttitor vitae nulla et, consequat suscipit orci. Pellentesqutristique  </p>
                          <div class="brand-log">
                              <div class="row">
                                  <div class="col-sm-6">
                                    <img class="brand-img" src="cms-images/community-segment/dc-1.png">
                                  </div>
                                  <div class="col-sm-6">
    
                                      <img class="brand-img" src="cms-images/community-segment/dc-2.png">
                                  </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                      <img class="brand-img" src="cms-images/community-segment/dc-3.png">
                                    </div>
                                    <div class="col-sm-6">
      
                                        <img class="brand-img" src="cms-images/community-segment/dc-4.png">
                                    </div> 
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                        <img class="brand-img" src="cms-images/community-segment/dc-5.png">
                                      </div>
                                      <div class="col-sm-6">
        
                                          <img class="brand-img" src="cms-images/community-segment/dc-6.png">
                                      </div> 
                                    </div>
                          </div>
                          <a class="btn btnprimary border-button">
                            See all our brands
                          </a>
                          </div>
                  </div>
                
            </div><!-- End Item -->
                    
          </div><!-- End Carousel Inner -->
              
              
                 
              
            <!-- Controls -->
            <div class="carousel-controls">
                <a class="left carousel-control" href="#myCarousel" >
                  <span class="fa fa-arrow-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel">
                  <span class="fa fa-arrow-right"></span>
                </a>
            </div>
              
        </div><!-- End Carousel -->
    </div>
</div>



<!-- end discover our community -->