<section id="gallery-team-profile">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="tm-img">
                    <img src="cms-images/gallery-team-profile/Alex-Roth-web2.png" alt="First Name / Last Name">
                </div>
            </div>
            <div class="col-sm-7">
                <header>
                    <h1>First Name / Last Name</h1>
                    <h2>Job Title / Description</h2>
                </header>
                <div class="detail">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia quis diam sit amet egestas. Phasellus turpis justo, mattis id sapien in, ultricies laoreet ex. Pellentesque mollis tellus et placerat ultricies. Mauris eget tellus eleifend, commodo dui sit amet, imperdiet augue. Sed tempus faucibus porttitor. Aliquam posuere convallis dapibus. Donec rhoncus auctor dolor, vitae egestas leo maximus et. Morbi dapibus, magna eu congue tincidunt, libero purus tincidunt quam, at mollis justo mauris placerat nisi.</p>
                    <p>Ut egestas vel tortor ut porttitor. Etiam convallis, odio sit amet hendrerit malesuada, enim enim sagittis leo, vel fringilla est eros vel quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dapibus tincidunt lectus ut gravida. Suspendisse ut mi non enim aliquet malesuada auctor non neque. Donec tellus leo, interdum et nibh at, venenatis egestas nunc. In hac habitasse platea dictumst. Proin elit dui, convallis ut pulvinar in, varius eget enim. Sed viverra lectus eget leo maximus, sed volutpat diam posuere. Duis in sollicitudin odio.</p>
                    <p>Etiam rutrum nulla vel risus egestas, in euismod sem sollicitudin. In hac habitasse platea dictumst. Duis id consectetur diam, eget ultricies odio. Pellentesque ullamcorper luctus iaculis. Aliquam erat volutpat. Maecenas a tortor nec mi rutrum eleifend. Nullam vitae purus nec mi vestibulum dapibus in id diam. Pellentesque tincidunt, elit ac lacinia congue, justo metus vehicula arcu, ac lobortis ex orci in augue.</p>
                </div>
            </div>
        </div>
    </div>
</section>