.infografic-component{
    .infografic-component-list{
        .infografic-image{

        }
        .infografic-discription{

        }
        .infografic-unit-container{
            width:auto;
            margin:0 auto;
            .infografic-unit{
                
                .unit-container{
                    img{
                        width:100%;
                    }
                    .heading{
    
                    }
                    .discription{
    
                    }
                }
            }
        }
        
    }
}