<section id="preference-tab" class="dashboard">
  <div class="container">
      <form class="form">
        <h2>Your area of interest:</h2>
       <div class="panel-group preference" id="preference">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#preference" href="#collapse1">
            Commodities <strong>(<span class="count"></span>)</strong></a>
          </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
              <ul>
                <li>
                <span class="custom-checkbox">
                    <label for="grains" class="label">
                        <input type="checkbox" name="grains" id="grains" value="guid001">
                        <span>Grains</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="softs" class="label">
                        <input type="checkbox" name="softs" id="softs" value="guid002">
                        <span>Softs</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="livestock" class="label">
                        <input type="checkbox" name="livestock" id="livestock" value="guid003">
                        <span>Livestock</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="commodities" class="label">
                        <input type="checkbox" name="commodities" id="commodities" value="guid004">
                        <span>Commodities</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="agri" class="label">
                        <input type="checkbox" name="agri" id="agri" value="guid005">
                        <span>Agri</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="games" class="label">
                        <input type="checkbox" name="games" id="games" value="guid006">
                        <span>Games</span>
                    </label>
                </span>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#preference" href="#collapse2" class="collapsed">
            Policy and Regulation <strong>(<span class="count"></span>)</strong></a>
          </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
                <li>
                <span class="custom-checkbox">
                    <label for="pharma" class="label">
                        <input type="checkbox" name="pharma" id="pharma" value="guid007">
                        <span>Pharma</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="article" class="label">
                        <input type="checkbox" name="article" id="article" value="guid008">
                        <span>Article</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="sectors" class="label">
                        <input type="checkbox" name="sectors" id="sectors" value="guid009">
                        <span>Sectors</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="commodities1" class="label">
                        <input type="checkbox" name="commodities1" id="commodities1" value="guid010">
                        <span>Commodities</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="agri1" class="label">
                        <input type="checkbox" name="agri1" id="agri1" value="guid011">
                        <span>Agri</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="games1" class="label">
                        <input type="checkbox" name="games1" id="games1" value="guid012">
                        <span>Games</span>
                    </label>
                </span>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#preference" href="#collapse3" class="collapsed">
            Seed & Crop Protections <strong>(<span class="count"></span>)</strong></a>
          </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
    </div> 
    </form>
    </div>
</section>
