<section id="preference-tab" class="dashboard">
  <div class="container">
      <form class="form">
        <h2>Your area of interest:</h2>
       <div class="panel-group" id="preference">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#preference" href="#collapse1">
            Commodities <strong>(1)</strong></a>
          </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
              <ul>
                <li>
                <span class="custom-checkbox">
                    <label for="grains" class="label">
                        <input type="checkbox" name="grains" id="grains" value="guid001">
                        <span>Grains</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="softs" class="label">
                        <input type="checkbox" name="softs" id="softs" value="guid002">
                        <span>Softs</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="grains" class="label">
                        <input type="checkbox" name="livestock" id="livestock" value="guid003">
                        <span>Grains</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="grains" class="label">
                        <input type="checkbox" name="grains" id="grains" value="guid004">
                        <span>Grains</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="softs" class="label">
                        <input type="checkbox" name="softs" id="softs" value="guid005">
                        <span>Softs</span>
                    </label>
                </span>
                </li>
                <li>
                <span class="custom-checkbox">
                    <label for="grains" class="label">
                        <input type="checkbox" name="livestock" id="livestock" value="guid006">
                        <span>Grains</span>
                    </label>
                </span>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#preference" href="#collapse2" class="collapsed">
            Policy and Regulation <strong>(1)</strong></a>
          </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco preferencelaboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#preference" href="#collapse3" class="collapsed">
            Seed & Crop Protections <strong>(1)</strong></a>
          </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
    </div> 
    </form>
    </div>
</section>
