.contactUsPage-contactUs {
    .contactus-left{
      padding-left: 0px;
      padding-right: 0px;
      .col-xs-12 {
        padding: 0;
      }
    }
    .contactus-right {
      .col-xs-12 {
        @include mobile {
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
    height: 100%;
    padding: 30px 0;
    background: $white;
    @include mobile {
      padding: 20px 0 0;
    }
    .call-image-pos {
        color: $grey-color05;
        padding-bottom: 50px;
        margin: 0;
        position: relative;
        padding-left: 40px;
        @include desktop {
            margin: 0 -15px;
        }
        hr {
            height: 1px;
            background: $grey-color05;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        img {
            margin-right: 10px;
            position: absolute;
            left: 0;
            top: 0;
            @include mobile {
                position: static;
                float: left;
            }
        }
        @include mobile {
          padding-left: 0px;
          padding-bottom: 30px;
        }
    }
    .nav-tabs {
        border-bottom: none;
        li.active {
            border-bottom: none !important;
        }
    }
    .pos {
        position: relative;
        background-color: $grey-color01;
        height: 50px;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        color: #fff;
        background: none;
        border: none;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 15px 25px;
        border: none;
        @include mobile {
            padding: 15px 7px;
        }
    }
    li.active:after {
        content: " ";
        position: absolute;
        height: 5px;
        width: 88%;
        bottom: 0;
        left: 5%;
    }
    .email-image-pos {
        color: $grey-color05;
        margin-top: 40px;
        position: relative;
        padding-left: 40px;
        @include tablet {
            margin-top: 0;
        }
        hr {
            height: 1px;
            background: $grey-color05;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        img {
            margin-right: 10px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .contactus-box {
        padding-left: 50px;
        text-align: justify;
        @include tablet {
            padding-left: 0px;
            padding-top: 20px;
        }
        @include mobile {
            padding-left: 0px;
            margin-top: 0px;
            margin-left: 0px;
        }
        .row .col-sm-6:last-child{
            @include tablet{
                width: 51%;
            }
        }
    }
    .contactus-content {
        margin-left: 10px;
        @include mobile {
          margin-left: 0px;
        }
        strong {
            font-size: 24px;
            font-weight: bold;
            color: $grey-color04;
            @include mobile {
              margin-left: 0;
            }
        }
        .contact-descrip {
            font-weight: bold;
            color: $grey-color04;
            font-size: 16px;
            padding-right: 10px;
            line-height: 24px;
            text-align: left;
            ul {
                padding-left: 18px;
            }
            @include mobile {
                padding-right: 10px;
            }
        }
        p {
            &:first-child {
              font-size: 16px;
              line-height: 24px;
              font-weight: bold;
              color: $grey-color04;
            }
            margin-top: 20px;
            font-weight: bold;
            span.contact-number {
                margin-top: 5px;
                font-size: 24px;
                font-weight: 200;
                margin-bottom: 20px;
                @include tablet {
                    font-size: 22px;
                }
                @include mobile {
                    font-size: 22px;
                }
            }
        }
    }
    .form-introduction {
        top: 0;
        //padding: 30px 0px;
        line-height: 24px;
        @include mobile {
          line-height: 20px;
        }
        @include tablet {
          line-height: 22px;
        }
    }

}

.experience-mode{
  .contactUsPage-contactUs {
    .tab-pane  {
      display: block !important;
    }
  }
}
