<input
type="hidden"
class="initialize-swanimate"
value='
[{ "itemidentifier": "inf-slider-image", "data-swanimate-type": "fadeIn", "data-swanimate-direction": "left", "data-swanimate-delay": 100 },
 { "itemidentifier": "inf-slider-text-section", "data-swanimate-type": "fadeIn", "data-swanimate-direction": "left", "data-swanimate-delay": 100 },
 { "itemidentifier": "inf-ani-image", "data-swanimate-type": "shake", "data-swanimate-direction": "left", "data-swanimate-delay": 100, "data": true }]
' />

<!--START SLIDER SECTION-->
<section class="container-fluid top-section-background">

    <div class="row">

        <div class="col-md-12">

            <div class="inf-slider-section">

                <div class="campaign-carousel" data-rtl="false" data-itemsperframe="1" data-autorotate="true" data-transitionspeed="1000" data-slideduration="2000" data-pagination="true">
                    <div class="inf-slider-image">
                        <img src="./Static/images/sli-1.png" alt="" />
                    </div>
                    <div class="inf-slider-image">
                        <img src="./Static/images/sli-2.png" alt="" />
                    </div>
                    <div class="inf-slider-image">
                        <img src="./Static/images/sli-3.png" alt="" />
                    </div>
                    <div class="inf-slider-image">
                        <img src="./Static/images/sli-4.png" alt="" />
                    </div>
                </div>
                
            </div>

            <div class="inf-slider-text-section">
                Summary on the Impact of Brexit on the Pharma and Medtech industries and key developments we will be tracking to support pharma and medtech decision
                making as key developments unfold.
            </div>

            <div class="container inf-ani-images-section">
                <div class="row">
                    <div class="col-md-4 col-xs-6 inf-ani-image">
                        <img src="./Static/images/alarm-clock.png" alt="" />
                    </div>
                    <div class="col-md-4 col-xs-6 inf-ani-image">
                        <img src="./Static/images/alarm-clock.png" alt="" />
                    </div>
                    <div class="col-md-4 col-xs-6 inf-ani-image">
                        <img src="./Static/images/alarm-clock.png" alt="" />
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<!--END SLIDER SECTION-->