<!--START SLIDER SECTION-->
<section class="container-fluid top-section-background">

    <div class="row">

        <div class="col-md-12">

            <div class="inf-slider-section">

                <div class="twitter-carousel campaign-carousel" data-rtl="" data-itemsperframe="1" data-autorotate="true" data-transitionspeed="1000" data-pagination="true">
                    <div class="customer">
                        <img src="./Static/images/sli-1.jpg" alt="" />
                    </div>
                    <div class="customer">
                        <img src="./Static/images/sli-2.jpg" alt="" />
                    </div>
                    <div class="customer">
                        <img src="./Static/images/sli-3.jpg" alt="" />
                    </div>
                    <div class="customer">
                        <img src="./Static/images/sli-4.jpg" alt="" />
                    </div>
                </div>
                
            </div>

            <div class="inf-slider-text-section">
                Summary on the Impact of Brexit on the Pharma and Medtech industries and key developments we will be tracking to support pharma and medtech decision
                making as key developments unfold.
            </div>

            <div class="container inf-ani-images-section">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <img src="./Static/images/alarm-clock.png" alt="" />
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <img src="./Static/images/alarm-clock.png" alt="" />
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <img src="./Static/images/alarm-clock.png" alt="" />
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<!--END SLIDER SECTION-->