<!--START SLIDER SECTION-->
<section class="container-fluid top-section-background">

    <div class="row">

        <div class="col-md-12">

            <div class="inf-slider-section">
                Slider will come here
            </div>

            <div class="inf-slider-text-section">
                Summary on the Impact of Brexit on the Pharma and Medtech industries and key developments we will be tracking to support pharma and medtech decision
                making as key developments unfold.
            </div>

            <div class="inf-ani-images-section">
                <img src="./Static/images/alarm-clock.png" alt="" />
                <img src="./Static/images/alarm-clock.png" alt="" />
                <img src="./Static/images/alarm-clock.png" alt="" />
            </div>

        </div>

    </div>

</section>
<!--END SLIDER SECTION-->