section.login-profilecreation-desc{
  h2{
    font-size: 48px;
    font-family: FSMe-bold;
    margin-bottom: 20px;
    padding-left: 15px;
    span{
      font-family: FSMe-light;
      @include mobile {
        font-size: 30px;
      }
    }
    @include mobile {
      font-size: 30px;
    }
  }
  .steps-tips{
    @include mobile {
      margin-bottom: 20px;
    }
    .desc{
      padding-top: 24px;
      font-size: 24px;
      @include tablet {
        padding-top: 2px;
        font-size: 15px;
      }
      @include mobile {
        padding-top: 0px;
        font-size: 20px;
      }
    }
  }
}
