<section id="infograph">
    <div class="container">
        <div class="row row-bg">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 clients">
                <div class="numdiv">
                    20,356
                </div>
                <div class="sub-desc">
                    Served clients
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 clients">
                <div class="numdiv">
                    20,356
                </div>
                <div class="sub-desc">
                    Served clients
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 clients">
                <div class="numdiv">
                    20,356
                </div>
                <div class="sub-desc">
                    Served clients
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 clients">
                <div class="numdiv">
                    20,356
                </div>
                <div class="sub-desc">
                    Served clients
                </div>
            </div>
        </div>
    </div>
</section>
