<section class="infograph">
    <div class="container container-bg">
        <div class="row four-numbers">
          <div class="main-container clients">
            <div class="number-container container-marg">
                2
            </div>
            <div class="sub-desc container-marg">
                Served clients
            </div>
          </div>
          <div class="main-container clients">
            <div class="number-container container-marg">
                20
            </div>
            <div class="sub-desc container-marg">
                Served clients
            </div>
          </div>
          <div class="main-container clients">
            <div class="number-container container-marg">
                20
            </div>
            <div class="sub-desc container-marg">
                Served clients
            </div>
          </div>
          <div class="main-container clients">
            <div class="number-container container-marg">
                20
            </div>
            <div class="sub-desc container-marg">
                Served clients
            </div>
          </div>
        </div>
    </div>
</section>
