<section class="search-container showLess" data-desktop="9" data-tablet="9" data-mobile="9" id="relevant-products" style="">
            <div class="flip">
                <div class="container">
                    <h2>Relevant products</h2>
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-4 search-tile">
                            <div class="tile un-pinned flip">
                                <div class="front">
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                        <div class="header"><img src="/~/media/informa-shop-window/tmt/images/products/research-services/tiles/tile-service-provider-consumer-services-ovum.jpg?h=175&amp;w=362&amp;la=en-US&amp;hash=4A7D0E88F14677568633507A53499FFEB1140866" alt="Tile-Service-Provider-Consumer-services-Ovum"></div>
                                    <div class="content">
                                        <span class="tag">research-services</span>
                                        <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                            <h4>consumer-and-entertainment-services</h4>
                                        </a>
                                        <ul>
                                                        <li class="text">
                                                            Gain a better understanding of your target markets
                                                        </li>
                                                        <li class="text">
                                                            Drive innovation in your company
                                                        </li>
                                                        <li class="text">
                                                            Optimize your go-to-market initiatives
                                                        </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div class="footer-content clearfix">
                                            <div class="col-xs-6">
                                                    <a href="javascript:void(0)" data-toggle="modal" data-modal="#formRequestADemo" data-productid="{5E0D55D6-41A6-4364-9B8D-ABEB958549CB}" class="btn btn-default free-trial wffm-elq-form-btn">Free Trial</a>

                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/products-and-services/research-services/consumer-and-entertainment-services" class="btn btn-default orange more">More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                        

                                    <div class="content">
                                        <div class="title">
                                            <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                                consumer-and-entertainment-services
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>Ovum’s powerful combination of market-tracking, forecasting, and analysis enable you to quantify and understand the broad range of consumer services and entertainment opportunities. Our expert analysts work with colleagues across the firm to get a full picture across the wider telecommunication, media and technology industries.</p>
                                            <ul class="gray-bullets">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer"></div>
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 search-tile">
                            <div class="tile un-pinned flip">
                                <div class="front">
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                        <div class="header"><img src="/~/media/informa-shop-window/tmt/images/products/research-services/tiles/tile-service-provider-consumer-services-ovum.jpg?h=175&amp;w=362&amp;la=en-US&amp;hash=4A7D0E88F14677568633507A53499FFEB1140866" alt="Tile-Service-Provider-Consumer-services-Ovum"></div>
                                    <div class="content">
                                        <span class="tag">research-services</span>
                                        <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                            <h4>consumer-and-entertainment-services</h4>
                                        </a>
                                        <ul>
                                                        <li class="text">
                                                            Gain a better understanding of your target markets
                                                        </li>
                                                        <li class="text">
                                                            Drive innovation in your company
                                                        </li>
                                                        <li class="text">
                                                            Optimize your go-to-market initiatives
                                                        </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div class="footer-content clearfix">
                                            <div class="col-xs-6">
                                                    <a href="javascript:void(0)" data-toggle="modal" data-modal="#formRequestADemo" data-productid="{5E0D55D6-41A6-4364-9B8D-ABEB958549CB}" class="btn btn-default free-trial wffm-elq-form-btn">Free Trial</a>

                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/products-and-services/research-services/consumer-and-entertainment-services" class="btn btn-default orange more">More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                        

                                    <div class="content">
                                        <div class="title">
                                            <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                                consumer-and-entertainment-services
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>Ovum’s powerful combination of market-tracking, forecasting, and analysis enable you to quantify and understand the broad range of consumer services and entertainment opportunities. Our expert analysts work with colleagues across the firm to get a full picture across the wider telecommunication, media and technology industries.</p>
                                            <ul class="gray-bullets">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer"></div>
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 search-tile">
                            <div class="tile un-pinned flip">
                                <div class="front">
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                        <div class="header"><img src="/~/media/informa-shop-window/tmt/images/products/research-services/tiles/tile-service-provider-consumer-services-ovum.jpg?h=175&amp;w=362&amp;la=en-US&amp;hash=4A7D0E88F14677568633507A53499FFEB1140866" alt="Tile-Service-Provider-Consumer-services-Ovum"></div>
                                    <div class="content">
                                        <span class="tag">research-services</span>
                                        <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                            <h4>consumer-and-entertainment-services</h4>
                                        </a>
                                        <ul>
                                                        <li class="text">
                                                            Gain a better understanding of your target markets
                                                        </li>
                                                        <li class="text">
                                                            Drive innovation in your company
                                                        </li>
                                                        <li class="text">
                                                            Optimize your go-to-market initiatives
                                                        </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div class="footer-content clearfix">
                                            <div class="col-xs-6">
                                                    <a href="javascript:void(0)" data-toggle="modal" data-modal="#formRequestADemo" data-productid="{5E0D55D6-41A6-4364-9B8D-ABEB958549CB}" class="btn btn-default free-trial wffm-elq-form-btn">Free Trial</a>

                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/products-and-services/research-services/consumer-and-entertainment-services" class="btn btn-default orange more">More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                        

                                    <div class="content">
                                        <div class="title">
                                            <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                                consumer-and-entertainment-services
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>Ovum’s powerful combination of market-tracking, forecasting, and analysis enable you to quantify and understand the broad range of consumer services and entertainment opportunities. Our expert analysts work with colleagues across the firm to get a full picture across the wider telecommunication, media and technology industries.</p>
                                            <ul class="gray-bullets">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer"></div>
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-4 search-tile">
                            <div class="tile un-pinned flip">
                                <div class="front">
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                        <div class="header"><img src="/~/media/informa-shop-window/tmt/images/products/research-services/tiles/tile-service-provider-consumer-services-ovum.jpg?h=175&amp;w=362&amp;la=en-US&amp;hash=4A7D0E88F14677568633507A53499FFEB1140866" alt="Tile-Service-Provider-Consumer-services-Ovum"></div>
                                    <div class="content">
                                        <span class="tag">research-services</span>
                                        <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                            <h4>consumer-and-entertainment-services</h4>
                                        </a>
                                        <ul>
                                                        <li class="text">
                                                            Gain a better understanding of your target markets
                                                        </li>
                                                        <li class="text">
                                                            Drive innovation in your company
                                                        </li>
                                                        <li class="text">
                                                            Optimize your go-to-market initiatives
                                                        </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div class="footer-content clearfix">
                                            <div class="col-xs-6">
                                                    <a href="javascript:void(0)" data-toggle="modal" data-modal="#formRequestADemo" data-productid="{5E0D55D6-41A6-4364-9B8D-ABEB958549CB}" class="btn btn-default free-trial wffm-elq-form-btn">Free Trial</a>

                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/products-and-services/research-services/consumer-and-entertainment-services" class="btn btn-default orange more">More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                        

                                    <div class="content">
                                        <div class="title">
                                            <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                                consumer-and-entertainment-services
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>Ovum’s powerful combination of market-tracking, forecasting, and analysis enable you to quantify and understand the broad range of consumer services and entertainment opportunities. Our expert analysts work with colleagues across the firm to get a full picture across the wider telecommunication, media and technology industries.</p>
                                            <ul class="gray-bullets">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer"></div>
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-4 search-tile">
                            <div class="tile un-pinned flip">
                                <div class="front">
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                        <div class="header"><img src="/~/media/informa-shop-window/tmt/images/products/research-services/tiles/tile-service-provider-consumer-services-ovum.jpg?h=175&amp;w=362&amp;la=en-US&amp;hash=4A7D0E88F14677568633507A53499FFEB1140866" alt="Tile-Service-Provider-Consumer-services-Ovum"></div>
                                    <div class="content">
                                        <span class="tag">research-services</span>
                                        <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                            <h4>consumer-and-entertainment-services</h4>
                                        </a>
                                        <ul>
                                                        <li class="text">
                                                            Gain a better understanding of your target markets
                                                        </li>
                                                        <li class="text">
                                                            Drive innovation in your company
                                                        </li>
                                                        <li class="text">
                                                            Optimize your go-to-market initiatives
                                                        </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div class="footer-content clearfix">
                                            <div class="col-xs-6">
                                                    <a href="javascript:void(0)" data-toggle="modal" data-modal="#formRequestADemo" data-productid="{5E0D55D6-41A6-4364-9B8D-ABEB958549CB}" class="btn btn-default free-trial wffm-elq-form-btn">Free Trial</a>

                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/products-and-services/research-services/consumer-and-entertainment-services" class="btn btn-default orange more">More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                        

                                    <div class="content">
                                        <div class="title">
                                            <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                                consumer-and-entertainment-services
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>Ovum’s powerful combination of market-tracking, forecasting, and analysis enable you to quantify and understand the broad range of consumer services and entertainment opportunities. Our expert analysts work with colleagues across the firm to get a full picture across the wider telecommunication, media and technology industries.</p>
                                            <ul class="gray-bullets">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer"></div>
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-4 search-tile">
                            <div class="tile un-pinned flip">
                                <div class="front">
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                        <div class="header"><img src="/~/media/informa-shop-window/tmt/images/products/research-services/tiles/tile-service-provider-consumer-services-ovum.jpg?h=175&amp;w=362&amp;la=en-US&amp;hash=4A7D0E88F14677568633507A53499FFEB1140866" alt="Tile-Service-Provider-Consumer-services-Ovum"></div>
                                    <div class="content">
                                        <span class="tag">research-services</span>
                                        <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                            <h4>consumer-and-entertainment-services</h4>
                                        </a>
                                        <ul>
                                                        <li class="text">
                                                            Gain a better understanding of your target markets
                                                        </li>
                                                        <li class="text">
                                                            Drive innovation in your company
                                                        </li>
                                                        <li class="text">
                                                            Optimize your go-to-market initiatives
                                                        </li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div class="footer-content clearfix">
                                            <div class="col-xs-6">
                                                    <a href="javascript:void(0)" data-toggle="modal" data-modal="#formRequestADemo" data-productid="{5E0D55D6-41A6-4364-9B8D-ABEB958549CB}" class="btn btn-default free-trial wffm-elq-form-btn">Free Trial</a>

                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/products-and-services/research-services/consumer-and-entertainment-services" class="btn btn-default orange more">More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                        

                                    <div class="content">
                                        <div class="title">
                                            <a href="/products-and-services/research-services/consumer-and-entertainment-services" target="_blank">
                                                consumer-and-entertainment-services
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>Ovum’s powerful combination of market-tracking, forecasting, and analysis enable you to quantify and understand the broad range of consumer services and entertainment opportunities. Our expert analysts work with colleagues across the firm to get a full picture across the wider telecommunication, media and technology industries.</p>
                                            <ul class="gray-bullets">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer"></div>
                                    <div class="triangle"><span class="icon-arrow-right"></span></div>
                                </div>
                            </div>
                        </div>


        
                                
                                
                    </div>
                        <div class="btn-container">
                            <a href="javascript:void(0)" class="btn-ShowMore">
                                <span class="more">More Products</span>
                                <span class="less">Less Products</span>
                            </a>
                        </div>

                </div>
            </div>
        </section>