<section class="sectorpage-strengths">
    <div class="container">
        <div class="row">
          <div class="col-xs-12">
              <h1>Our unique strengths</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marg1">
                <div class="main-container">
                  <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                  <div class="yellow-container">
                      <h3>Benefit from expert intelligence Benefit from expert </h3>
                  </div>
                </div>
                <div class="text-description">
                    Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence
                    <div class="slant"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marg1">
                <div class="main-container">
                  <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                  <div class="yellow-container">
                      <h3>Benefit from expert intelligence Benefit from expert </h3>
                  </div>
                </div>
                <div class="text-description">
                    Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence
                    <div class="slant"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marg1">
                <div class="main-container">
                  <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                  <div class="yellow-container">
                      <h3>Benefit from expert intelligence Benefit from expert </h3>
                  </div>
                </div>
                <div class="text-description">
                  Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence
                  <div class="slant"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marg1">
                <div class="main-container">
                  <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                  <div class="yellow-container">
                      <h3>Benefit from expert intelligence Benefit from expert </h3>
                  </div>
                </div>
                <div class="text-description">
                  Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence
                  <div class="slant"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marg1">
                <div class="main-container">
                  <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                  <div class="yellow-container">
                      <h3>Benefit from expert intelligence</h3>
                  </div>
                </div>
                <div class="text-description">
                    Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence Benefit from expert intelligence
                    <div class="slant"></div>
                </div>
            </div>
        </div>
        <div class="row view-all-sectors-btn-container">
            <span class="center-block view-all-sectors-btn text-center more" role="button">View more</br><i class="informa-icon glyphicon glyphicon-plus-sign"></i></span>
            <span class="center-block view-all-sectors-btn text-center less" role="button">View less</br><i class="informa-icon glyphicon glyphicon-plus-sign"></i></span>
        </div>
    </div>
</section>
