<section id="sectorpage-strengths">
    <div class="container">
        <div class="row">
          <h1>Our unique strengths</h1>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marg1">
                <div class="main-div">
                  <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                  <div class="yellow-div">
                      <h3>Benefit from expert intelligence</h3>
                  </div>
                </div>
                <div class="text-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <div class="slant"></div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marg1">
                <div class="main-div">
                  <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                  <div class="yellow-div">
                      <h3>Benefit from expert intelligence</h3>
                  </div>
                </div>
                <div class="text-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <div class="slant"></div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marg1">
                <div class="main-div">
                  <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                  <div class="yellow-div">
                      <h3>Benefit from expert intelligence</h3>
                  </div>
                </div>
                <div class="text-description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <div class="slant"></div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 marg1">
              <div class="main-div">
                <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                <div class="yellow-div">
                    <h3>Benefit from expert intelligence</h3>
                </div>
              </div>
              <div class="text-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="slant"></div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 marg1">
              <div class="main-div">
                <img src="cms-images/product_brands/brand-1.png" alt="" class="img-responsive"/>
                <div class="yellow-div">
                    <h3>Benefit from expert intelligence</h3>
                </div>
              </div>
              <div class="text-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div class="slant"></div>
          </div>
        </div> -->
    </div>
</section>
<!-- cms-images/product_brands/brand-8.png -->
