<section id="sectorpage-strengths">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

            </div>
        </div>
    </div>
</section>
