section#pdp-hero {
    position: relative;
    // &:before {
    //     content: '';
    //     height: 100%;
    //     width: 100%;
    //     background: rgba(68, 73, 87,.8);
    //     position: absolute;
    // }
    height: 450px;
    color: $black;
    h1 {
        font-weight: bold;
        font-size: 60px;
        text-transform: capitalize;
        margin: 0 0 35px 0;
        @include mobile {
            margin: 17px 0 7px 0;
            font-size: 30px;
        }
    }
    .subtext {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 15px;
        @include mobile {
            font-size: 16px;
        }
    }
    .description {
        font-weight: 200;
        font-size: 14px;
        padding-bottom: 40px;
        @include mobile {
            padding-bottom: 25px;
            font-size: 12px;
        }
    }
    .btn {
        width: 100%;
        color: $light;
        padding: 15px;
        @include mobile {
            margin-bottom: 10px;
            text-align: left;
        }
    }
    .cta1,.cta2 {
        font-size: 14px;
        font-weight: bold;
    }
    .cta2 {
        font-weight: normal;
    }
    .cta3 {
        font-weight: 200;
        font-size: 16px;
        color: $orange!important;
        @include mobile {
            font-size: 14px;
        }
    }
    @include mobile{
        height: auto;
    }
}
