--- The glorious header component with impeccable animations and awesome color shades making its revelation from the hands of greatest site developer ever. Thy may not be a magnum opus among his creations but will remain as the glorious component he created
in the empire of Sapient. Har Har Mahadev !! ---

<header id="informa-main-header">
    <section class="informa-header-copyright">
        <div class="header-copyright">
            <div class="header-copyright-inner">
                <a href="#" class="toggle" onclick="this.parentNode.classList.toggle('open');return false">Informa</a>
                <div class="header-copyright-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 header-copyright-text">
                                <p>Agra is part of the Business Intelligence Division of Informa PLC </p>

                                <ul>
                                    <li><a href="http://www.informa.com/">Informa PLC </a></li>
                                    <li><a href="#">ABOUT US</a></li>
                                    <li><a href="#">investors relations</a></li>
                                    <li><a href="#">TALENT</a></li>
                                </ul>

                            </div>
                            <div class="col-md-6 header-copyright-text">
                                <p>This site is operated by a business or businesses owned by Informa PLC and all copyright resides with them. Informa PLC's registered office is 5 Howick Place, London SW1P 1WG.</P>
                                <p>Registered in England and Wales. Number 8860726</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="logoSection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <img src="cms-images/logo.png">
                    </div>
                    <div class="login">
                        Log in
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav id="mainNavigation" class="navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9 navigation-primary">
                    <ul class="nav navbar-nav">
                        <li class="current-active"><a href="#">Sectors & Products</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Free Content</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Support Us</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-md-3 hidden-sm mainCTA">
                    <ul class="nav">
                        <li class="touch"><a href="#">Get in touch</a></li>
                        <li class="search"><a href="#">Search<span class="icon icon-search"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="product-finder-section" class="product-finder" data-product="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form" method="post" action="#">
                    <fieldset>
                        <legend>Product Finder</legend>
                        <ul class="search-options">
                            <li>
                                <span class="custom-radio">
                                    <label for="ProductSearch" class="label">
                                          <input type="radio" class="custom-radio" name="ProductFinder" id="ProductSearch" checked="checked" data-show="sector-search" value="productsearch" />
                                          <span>Search for a product</span>
                                </label>
                                </span>
                                <span class="custom-radio">
                              <label for="SiteSearch" class="label">
                                    <input type="radio" class="custom-radio" name="ProductFinder" id="SiteSearch" data-show="site-search" value="sitesearch" />
                                    <span>Search site</span>
                                </label>
                                </span>
                            </li>
                            <li>
                                <a href="#" class="close-finder"><span class="icon-close"></span></a>
                            </li>
                        </ul>
                        <ul class="sector-search searchToggle">
                            <li class="menu">
                                <label for="sector-list" class="label-text">Sector:</label>
                                <div class="custom-multiselect">
                                    <select id="sector-list" name="sectors" class="sector-list" multiple="multiple" data-placeholder="Please Select">
                                        <option value="sector1">Commodities</option>
                                        <option value="sector2">Crop protection</option>
                                        <option value="sector3">Diary Products</option>
                                    </select>
                                </div>
                            </li>
                            <li class="menu disabled">
                                <label for="sub-sector-list" class="label-text">Sub Sector:</label>
                                <div class="custom-multiselect">
                                    <select id="sub-sector-list" name="subsectors" class="sub-sector-list" disabled="disabled" multiple="multiple" data-placeholder="Please Select">
                                        <option value="subsector1">Diary</option>
                                        <option value="subsector2">Meats</option>
                                        <option value="subsector3">Electronics</option>
                                    </select>
                                </div>
                            </li>
                            <li class="menu button disabled">
                                <button type="submit" class="btn btn-default" data-submit="sector-search">Go</button>
                            </li>
                        </ul>
                        <ul class="site-search searchToggle">
                            <li class="menu">
                                <div class="textbox">
                                    <label for="searchField">
                                        <input type="text" placeholder="Please Enter Search Text" id="searchField" name="searchtext" />
                                    </label>
                                </div>
                            </li>
                            <li class="button disabled">
                                <button type="submit" class="btn btn-default" data-submit="sector-search">Go</button>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="sub-nav">
    <div class="container">
        <div class="subnav-container clearfix" data-nav="sectors-products">
            <div class="topic hidden-md">
                Sectors & Products
            </div>
            {{#each subnav.sectorsproducts}}
                <div class="content {{type}}">
                    <p class="top"><a href="#">{{heading}}</a></p>
                    <ul class="labels">
                        {{#each items}}
                            <li><a href="#">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
</div>
