---
The glorious header component with impeccable animations and awesome color shades making its revelation from the hands of  greatest site developer ever. Thy may not be a magnum opus among his creations but will remain as the glorious component he created in the empire of Sapient.

Har Har Mahadev !!
---

<header id="informa-main-header">
      <section class="informaTop">
            <div class="container">
                  <div class="row">
                        <div class="col-xs-12">
                              <div class="informa-select">Informa</div>
                        </div>
                  </div>
            </div>
      </section>
      <section class="logoSection">
            <div class="container">
                  <div class="row">
                        <div class="col-xs-12">
                              <div class="logo">
                                    <img src="cms-images/logo.png">
                              </div>
                              <div class="login">
                                    Log in
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <nav id="mainNavigation" class="navbar-default">
            <div class="container">
                  <div class="row">
                        <div class="col-xs-12 col-md-9 navigation-primary">
                              <ul class="nav navbar-nav">
                                    <li><a href="#">Sectors & Products</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Free Content</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Support Us</a></li>
                                    
                              </ul>
                        </div>
                        <div class="col-xs-12 col-md-3 hidden-sm mainCTA">
                              <ul class="nav">
                                    <li class="touch"><a href="#">Get in touch</a></li>
                                    <li class="search"><a href="#">Search<span class="icon icon-search"></a></li>
                              </ul>
                        </div>
                  </div>
            </div>
            <div id="product-finder-section" class="product-finder">
            	<div class="container">
            		<div class="row">
                   <div class="col-xs-12">
                        <form class="form">
                        <fieldset>
                              <legend>Product Finder</legend>
                              <ul class="search-options">
                                    <li>
	                                    <span class="custom-radio">
		                                    <label for="ProductSearch" class="label">
		                                          <input type="radio" class="custom-radio" name="ProductFinder" id="ProductSearch" checked="checked" data-show="sector-search" value="product" />
		                                          <span>Search for a product</span>
		                                    </label>
	                                    </span>
	                                    <span class="custom-radio">
	                                    <label for="SiteSearch" class="label">
	                                          <input type="radio" class="custom-radio" name="ProductFinder" id="SiteSearch" data-show="site-search" value="search" />
	                                          <span>Search site</span>
	                                    </label>
                                    </span>
                                    </li>
                              </ul>
                              <ul class="sector-search searchToggle">
                              	    <li class="menu">
                              	    	<label for="sector-list" class="label-text">Sector:</label>
                              	    	<div class="custom-multiselect">
                              	    		<select id="sector-list" multiple="multiple" data-placeholder="Please Select">
											    <option value="cheese">Cheese</option>
											    <option value="tomatoes">Tomatoes</option>
											    <option value="mozarella">Mozzarella</option>
											    <option value="mushrooms">Mushrooms</option>
											    <option value="pepperoni">Pepperoni</option>
											    <option value="onions">Onions</option>
											</select>
                              	    	</div>
                                    </li>
                                    <li class="menu disabled">
                                    <label for="sub-sector-list" class="label-text">Sub Sector:</label>
                              	    <div class="custom-multiselect">
                              	    		<select id="sub-sector-list" disabled="disabled" multiple="multiple" data-placeholder="Please Select">
											    <option value="cheese">Cheese</option>
											    <option value="tomatoes">Tomatoes</option>
											    <option value="mozarella">Mozzarella</option>
											    <option value="mushrooms">Mushrooms</option>
											    <option value="pepperoni">Pepperoni</option>
											    <option value="onions">Onions</option>
											</select>
                              	    	</div>
                                    </li>
                                    <li class="menu button">
                                    	<a href="#" class="btn btn-default">Go</a>
                                    </li>
                              </ul>
                              <ul class="site-search searchToggle">
                              	<li class="menu">
                              		<div class="textbox">
                              			<label for="searchField">
                              			<input type="text" placeholder="Please Enter Search Text" id="searchField" />
                              			</label>
                              		</div>
                              	</li>
                              	<li class="button">
                                   <a href="#" class="btn btn-default">Go</a>
                                </li>
                              </ul>
                        </fielset>
                        </form>
                  </div>
                  </div>
               	</div>
            </div>
      </nav>
</header>
